[2017-07-05 22:13] josevalim commented on #2117
It should be a list of lists. The contract changed for 2.0 or 2.1 (i can't recall). PR please?

[2017-07-05 22:13] dantswain commented on #2117
Sure thing, I'll do it ASAP.

[2017-07-06 06:02] michalmuskala commented on #1932
The problem is we don't know what time timestamp fields are in that case, so it's not possible for fill them. The only possibility could be when `Post` schema is passed. This means the option would work only some of the time and that's why I'm not convinced.

[2017-07-06 10:01] webdeb commented on #1932
- If the `Schema` is passed and timestamps fields are not set -> generate (no options)
Would limit that feature, but it's reasonable.

The main idea is that: The timestamps feature in Schemas and migrations is expected to work by default.

[2017-07-06 10:29] #2117 closed

[2017-07-06 18:58] KronicDeth opened #2119 "update_all using `variable in "TABLE_NAME"` queryable does not use alias in SET"
### Environment

* Elixir version (elixir -v): 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): `postgrex` `0.13.3`
* Operating system: macOS 10.12.5

### Current behavior

Updating a table using `variable in "TABLE_NAME"` as first argument to `Ecto.Query.from/2` aliases the table name in the `UPDATE`, but

[2017-07-06 19:02] #2119 closed

[2017-07-07 01:08] mononym commented on #1284
I'd really love to see named bindings introduced. The new `dynamic` macro is a dream come true for building dynamic `where` statements. However I ran into a real snag trying to build a semi-complex sql query.

My use case is translating a nested and/or query described in an application specific DSL into a sql query. The kicker is that there is a central `object` table which six other tables belong

[2017-07-10 11:50] madasebrof commented on #1932
Just had to deal with this, for the next person who does...

[code]

[2017-07-11 23:54] ideanl opened #2123 "Documentation is not complete for put_assoc/3"
put_assoc/3 does not include the list of options it can take as the 3rd parameter. It also does not give examples like the other methods in the module (could be intentional). This leads to very confusing documentation for the usage of put_assoc/3 and currently the source needs to be looked at to understand what extra opts it takes.

[2017-07-12 06:26] ndac-todoroki opened #2124 "put_assoc works with whatever Ecto.Changeset passed"
### Environment

* Elixir version (elixir -v): Elixir 1.4.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): psql 9.6.3
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Ubuntu 17.04

### Current behavior

I have an Event schema:

[code]

and  an User schema which should be an creator:

[code]

so associating a User to a new

[2017-07-12 07:54] michalmuskala commented on #2124
We should probably raise instead of returning a validation error, though. I can't imagine a situation when reaching this would be anything else than a programmer error.

[2017-07-12 10:41] #2123 closed

[2017-07-13 14:38] sntran commented on #1538
I forked @hunterboerner 's repo and updated it with codes relevant more to Ecto.

https://github.com/sntran/ecto_sandbox_bug

When I run `mix test` under the umbrella folder, I got the same error as his.

I am running on Elixir 1.4. The difference I had is to have app B calling a function of app A, in which it fetches the database.

[2017-07-15 16:07] sntran commented on #2117
What about the error? When there is an error in database (i.e., invalid constraint, undefined function, etc...), it returns a `%Postgrex.Error{}` and not an `Exception`.

[2017-07-15 16:18] sntran commented on #1968
I'm a little sad that this commit did not make `2.1.4`, as it was released just 3 days after this. Is there a chance to have this in `2.1.5`. I understand that you're all working on getting `2.2` released, but I do need this to run. Otherwise I have to override my phoenix app in the umbrella to use `master` branch, which it should only depends on `phoenix_ecto` and not `ecto` (I have all data rela

[2017-07-15 16:57] michalmuskala commented on #2117
`Exception.t` is any struct representing an exception that can be `raised` - https://hexdocs.pm/elixir/Exception.html#t:t/0

[2017-07-15 18:27] matthewlehner opened #2126 "`update_all`/`delete_all` with `assoc` on has_many through"
### Environment

* Elixir version (elixir -v): 1.4.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 9.6.3
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): postgrex 0.13

### Current behavior

When using the `update_all` or `delete_all` from `Ecto.Repo` or `Ecto.Multi` with the `assoc` function a query error is raised.

With the following schemas:

[

[2017-07-15 19:24] josevalim commented on #2126
You can call `except(:distinct)` and it should remove distinct from the query.

[2017-07-15 19:26] josevalim commented on #2126
@michalmuskala I am not sure how to proceed here. Simply discarding information can be misleading if people are expecting distinct to somehow work on update/delete. Although I can see how this hurts composition. We have two options:

  1. Automatically discard distinct
  2. Mention the `except` functionality in the error message

Preferences?

[2017-07-15 19:46] michalmuskala commented on #2126
Yeah, I don't think we should be dropping things by default, on the other hand `distinct: true` never makes sense with `update_all` or `delete_all`.

I think it's a bit unfortunate we add the `distinct: true` by default, but that ship has sailed.

[2017-07-16 17:44] asummers opened #2127 "or_having Keyword Syntax Compilation Error"
### Environment

* Elixir version (elixir -v):
[code]

* Ecto version (mix deps):
[code]
* Operating system: OSX 10.12

### Current behavior

According to the docs [here](https://hexdocs.pm/ecto/Ecto.Query.html#or_having/3), for `or_having/3`, keyword syntax is supported. I took the demo code from the README, and subbed the `otp_app` name. The code in `find_temperate_climate/0` does not compile, w

[2017-07-16 21:25] #2127 closed

[2017-07-17 04:24] bernardd opened #2128 "Incorrect parameter numbering on self join with fragment"
* Elixir version (elixir -v): 1.4.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL
* Ecto version (mix deps): master
* Database adapter and version (mix deps): postgrex 0.13.2

The SQL generated when a self-JOIN uses a `fragment` in the subquery has incorrect numbering on the parameters, which causes Postgrex to throw the following error:

`(Postgrex.Error) ERROR 42P18 (ind

[2017-07-17 04:29] bernardd commented on #2128
Actually, on further inspection, you don't need `fragment` to hit this error - it looks like any expression that pulls in an external value using `^` hits the same problem:
[code]
gives:
`SELECT $1 FROM "schema" AS s0 INNER JOIN (SELECT $1 AS "x" FROM "schema" AS s0) AS s1 ON TRUE`

[2017-07-18 07:11] mkaravaev commented on #2082
same error here. Had umbrella app. Trying to build DateTime struct like this
`%DateTime{ year: 2017, month: 6, day: 14, hour: 13, minute: 53, second: 20, microsecond: {0, 0}, time_zone: "Etc/UTC", zone_abbr: "UTC", utc_offset: 0, std_offset: 0 }`
got same errors as @0freeman00

[2017-07-18 07:21] michalmuskala commented on #2082
This was indeed related to a bug in Elixir: https://github.com/elixir-lang/elixir/issues/5987

It is permanently fixed in the 1.5 release. For earlier releases recompiling the project with`mix compile --force` should fix the issue temporarily.

[2017-07-18 07:21] #2082 closed

[2017-07-18 08:29] 0freeman00 commented on #2082
No, i don't think it is bug. because in my case, i was trying to convert `nil` value to date. so that is why it was throwing error. so, @mkaravaev please check and make sure you are by mistake not trying to convert date of `nil` value.

[2017-07-18 08:41] michalmuskala commented on #2082
The error that was in the initial report message - `Inspect.Error` instead of the proper output is exactly because of this bug.

[2017-07-18 09:28] josevalim commented on #2128
Thanks, it seems we are not counting the entries in the select inside the subquery.

[2017-07-18 09:52] #1874 closed

[2017-07-19 15:26] AndrewDryga opened #2132 ""no case clause matching" in Ecto.Adapters.SQL.struct/7"
We was able to get this error in our project:
[code]

This error occurred by calling following code:
1. https://github.com/Nebo15/annon.api/blob/master/lib/annon_api/management_api/controllers/api_plugin.ex#L57
2. https://github.com/Nebo15/annon.api/blob/master/lib/annon_api/configuration/plugin.ex#L130

[2017-07-19 15:38] josevalim commented on #2132
@AndrewDryga that looks like a modelling issue in your application. Is the primary key really a primary key? It seems it is deleting 12 rows instead of a single one.

[2017-07-20 01:36] adenisonafifi commented on #1907
I'm not sure if this issue has been resolved already, but I am also trying to use `Repo.insert` with a unique_index `:conflict_target`. I tried `Repo.insert(on_conflict: :replace_all, conflict_target: :unique_index_name)` and found that it was being checked as a table name as well.

Per @josevalim I tried writing the query using Postgres directly and found the same error:
[code]

Here is the index

[2017-07-20 01:42] adenisonafifi commented on #1907
Just hit this issue as well when trying to use `conflict_target: "(person_id, event_id)"`. The query debug statement prints out this: `ON CONFLICT ("person_id, future_event_id")`

[2017-07-20 07:38] josevalim commented on #1907
@adenisonafifi have you tried passing a list to conflict_target? `conflict_target: [:person_id, :event_id]`?

[2017-07-20 07:40] josevalim commented on #1907
And yes, if we solve #2081 this would then be possible too. Good catch.

[2017-07-20 10:03] AndrewDryga commented on #2132
I guess it can happen, we are using composite PK. I'll check and come back a little bit later.

How about to add a meaningful exception to the `Ecto.Adapters.SQL.struct/7`? Eg.:
[code]

[2017-07-20 10:08] josevalim commented on #2132
Yup, we definitely need a better error. I just wanted to give you a heads up that something may be wrong on your side. :)

[2017-07-20 10:09] AndrewDryga commented on #2132
I'll send a PR with error message within 24 hours :). Thanks a lot.

[2017-07-20 12:57] adenisonafifi commented on #1907
`conflict_target: [:person_id, :event_id]` properly resolved to `ON CONFLICT ("person_id","event_id")`. Thank you, I should have tried that.

[2017-07-20 17:39] michalmuskala opened #2135 "Default to using bigserial/bigint for primary keys"
This is a backwards-incompatible change, so it will need to wait a little bit.

The downsides of using bigserial/bigint for primary key are very small - primarily data size. But if your dataset is small that doesn't really matter and if your dataset is big, you'd want to use bigserial/bigint anyway. It seems like a much saner default.

[2017-07-20 17:55] ANujDixit commented on #659
I want to dynamically preload entries from different tables based on a column value.

Writing a quizzing application where Question can have multiple choices, stored in different tables. Preload should happen based on the question type column in Question table

Question -> single_choices
              -> multiple_choices
              -> FIB_choices

[2017-07-20 19:07] nelsonic commented on #239
https://github.com/Nebo15/ecto_mnesia ?

[2017-07-20 21:49] dsslimshaddy opened #2136 "** (MatchError) no match of right hand side value: {:error, {:postgrex, {'no such file or directory', 'postgrex.app'}}} even when using mysql"
Im not using postgresql but mysql i added mariaex in config still the error.

[code]

[code]
im using umbrella app

[2017-07-20 22:08] josevalim commented on #2136
Can you please provide an application that reproduces the error? Try searching for "postgrex" in your whole project and see if there is anything left.

[2017-07-20 22:25] dsslimshaddy commented on #2136
I had postgrex installed(default by phoenix) in one of apps_web i was calling auth from.

After i removed it and did a clean compile (deps.clean deps.compile) it worked nicely.

[2017-07-20 22:25] #2136 closed

[2017-07-21 10:33] syamilmj commented on #847
Came across this today and gave it a try:

[code]

[2017-07-23 10:04] yordis opened #2138 "no match of right hand side value on Ecto.Changeset.put_relation"
### Environment

* Elixir version (elixir -v)
[code]

* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating system: Mac

### Current behavior

#### Error
[code]
[code]

### Expected behavior

It should add the association to the schema without failing

[2017-07-23 10:34] josevalim commented on #2138
The first argument of put_assoc must be a changeset, you are passing a schema. I will make sure to have a clearer error message.

[2017-07-23 10:34] #2138 closed

[2017-07-23 10:51] yordis commented on #2138
@josevalim so there is not need of validating after the `put_assoc` then, or I shouldn't be validating anything related to that.

[2017-07-25 17:26] matthewlehner commented on #2126
To put in my two cents, if the error message had some text pointing in the direction of `exclude`, that would be a good stop gap measure. At that point, for me, it was an API discoverability issue and was easily solved.

In this specific case, your guidance pointed me in the right direction and I ended up with the following code (which isn't much more verbose).

[code]

Something like an additiona

[2017-07-25 20:18] anup-2s opened #2139 "Ecto.Multi.merge/2 has incorrect documentation or typespec"
The documentation specifies that the function should return another multi, but the typespec specifies that the function be of type `(t -> {:ok | :error, any})`.

[2017-07-25 21:02] #2139 closed

[2017-07-27 05:28] somlor commented on #2081
Would be happy with `fragment` support, since that should also allow specifying constraint by name via `ON CONFLICT ON CONSTRAINT <constraint_name>` syntax.

example:
[code]

[2017-07-27 21:21] wfgilman opened #2142 "Support for preloading fragments"
I came across this limitation as I tried to load data from a lateral join. The details of my specific use case are laid out in [this forum thread](https://elixirforum.com/t/help-with-ecto-query-fetching-nested-associations/7192) and [this thread post](https://elixirforum.com/t/preloading-top-comments-for-posts-in-ecto/1052/12).

Fragments are unique because they are the only way to pass a paramete

[2017-07-29 18:31] brandonparsons opened #2143 "2.1.5"
Howdy!  I was wondering if you could cut a `2.1.5` release?

I've been waiting for a few months for the e2c42617de50166d85ccc587273a9e363540a868 backport to be in a released version of Ecto. Would be great if it could be in the next week or two :)

[2017-07-29 18:42] michalmuskala commented on #2143
Yes, I started the work on backporting some fixes for 2.1.5 in the beginning of the week but hit some issues that slowed me down. This is definitely a plan to make this release.

[2017-07-30 09:30] brucepom opened #2144 "Consider prompting for confirmation on ecto.load mix task"
Just something for discussion. The `ecto.dump` mix task [prompts the user for confirmation](https://github.com/elixir-ecto/ecto/blob/master/lib/mix/tasks/ecto.drop.ex#L39) under specific circumstances. Presumably as a safeguard against inadvertently dropping the production database. The `ecto.load` mix task is potentially equally destructive. By default the `structure.sql` generated by `ecto.dump`

[2017-07-30 09:40] michalmuskala commented on #2144
This is a valid concern. Contributions welcome!

[2017-07-30 09:40] josevalim commented on #2144
@brucepom :+1: can you please send a PR that does the same as ecto.drop? Thank you!

[2017-07-30 16:21] msp commented on #1923
@josevalim - Is there a similar bug on insertion too?

https://github.com/msp/cenatus-ltd/commit/1f71391ad665931436d9357ab79e5757cb0274cb

[code]

[2017-07-30 17:26] michalmuskala commented on #2143
2.1.5 was published

[2017-07-30 17:26] #2143 closed

[2017-07-30 17:27] michalmuskala commented on #1968
2.1.5 was published.

[2017-07-30 18:33] brucepom commented on #2144
Thanks guys, I will send a PR for this...

[2017-07-31 01:25] brandonparsons commented on #2143
🎉

Thanks!!

[2017-07-31 04:53] #2144 closed

[2017-08-01 01:58] hpopp opened #2147 "UUID Cast Error"
Took me a while to track down the change in #2056, but`UUID.cast/1` fails rather non-obviously if UUIDs don't conform exactly to the UUIDv4 spec. I have some legacy data where integer primary keys had been migrated to UUIDs by padding with zeros (e.g. `"00000000-0000-0000-0000-000000000034"`)

Resulting error:

[code]

Unsure whether the validation should be reversed or just better noted in the do

[2017-08-01 04:16] michalmuskala commented on #2147
Does Postgres accept those as valid UUIDs?

[2017-08-01 05:29] hpopp commented on #2147
Accepts them just fine. I think the `uuid` type was meant to be as generic.

[2017-08-01 09:20] neroishero opened #2148 "Comment is not supported in mysql?"
mysql adopter
### Current behavior

 create table(:fa_servers, primary_key: false) do
          add :server_id, :integer, null: false, comment: "server's real id"
          add :server_name, :varchar, size: 100 , null: false
          add :ip,  :string, size: 50 , null: false
      end
after run" mix ecto.migrate  " successfully, i can NOT see the comment "server's real id" of the field "server_id

[2017-08-01 09:40] michalmuskala commented on #2148
Yes, comments are not supported in MySQL at the moment. PRs welcome!

[2017-08-01 09:51] neroishero commented on #2148
ahu, u guys reply so fast ! thanks.  I am new to Elixir, so i just paste my changes here, see if it is correct
# ---------------------- codes change --------------------------------------------------
   defp column_options(opts) do
      default = Keyword.fetch(opts, :default)
      null    = Keyword.get(opts, :null)
      comment = Keyword.get(opts, :comment)
      [default_expr(default), null_ex

[2017-08-01 09:52] neroishero commented on #2148
i tested, ofcourse. it worked.

[2017-08-01 09:55] josevalim commented on #2148
Hi @neroishero! Please try sending a pull request and including some tests. You will most likely need to add comments supports to more than one place. Here is the postgres implementation you can use as guidance, especially when it comes to tests: 4604b0a3caf5ce823d7e75241add9930300e5218

Thank you!

[2017-08-01 10:16] michalmuskala commented on #2147
We relaxed the validations in the 2.1 branch and released 2.1.6 with the fix.

The validations will be kept on the 2.2 branch and `Ecto.UUID` will only accept UUIDs conforming to the specification in https://tools.ietf.org/html/rfc4122

[2017-08-02 11:13] #1763 closed

[2017-08-02 11:28] josevalim commented on #1805
We have stepped down from this feature because using Ecto.Query to generate views had unwarranted side-effects. A discussion of other approaches, which could be encapsulated in helpers that will be part of future Ecto versions, can be found in #1805.

[2017-08-02 11:28] #1805 closed

[2017-08-02 11:33] josevalim commented on #2083
@taverngoal your english is fine. :)

I will close this issue for now. If you can reproduce it, please let us know!

[2017-08-02 11:33] #2083 closed

[2017-08-02 11:33] josevalim commented on #2132
Closing in favor of the PR.

[2017-08-02 11:33] #2132 closed

[2017-08-02 11:34] josevalim commented on #2148
I will close this for now. If someone is interested on this feature, please do send a PR!

[2017-08-02 11:34] #2148 closed

[2017-08-02 19:20] lauraannwilliams commented on #2076
@josevalim  Just wanted to ping on this - should I extract this to a fresh ticket for this, or am I doing something weird?

[2017-08-02 19:41] josevalim commented on #2076
@lauraannwilliams I actually plan to investigate it this week. I will let you know if we need more info, thanks for asking!

[2017-08-03 03:42] neroishero opened #2150 "Please adapt it to New Elixir(1.5.1)"
Many warnings popup while compile it with elixir 1.5.1. Please adapt it to New Elixir(1.5.1)
Many Thanks.

[2017-08-03 06:27] josevalim commented on #2150
It is fixed on master, a new release will be out soon.

[2017-08-03 06:27] #2150 closed

[2017-08-03 21:01] sergiotapia commented on #1549
Just had a use case that would be perfect for union support. https://elixirforum.com/t/best-way-to-join-results-of-two-queries/7500/2

[2017-08-04 09:49] NobbZ opened #2151 "Ecto.Query.t/0 beeing opaque causes dialyzer to complain about legit code"
This is from a thread in elixirforum.com: https://elixirforum.com/t/dialyxir-error-when-using-ecto-query-t-as-function-argument/7491?u=nobbz

### Environment

* Elixir version (elixir -v): 1.5-ish
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): unrelated
* Ecto version (mix deps): unknown
* Database adapter and version (mix deps):  unrelated
* Operating system: unrelated

### Current b

[2017-08-04 12:04] isaacsanders commented on #1549
@michalmuskala @josevalim Would exporting (or re-exporting) functions in the top level API but having a separate struct (like @michalmuskala mentioned, Query.Composition, or something more accurate, like Query.SetOperation) be a way of not packing it into the query object, respecting that it is a different set of syntaxes than the `FROM` based queries?

[2017-08-04 14:03] OvermindDL1 commented on #1549
Just remember that you can use, say, UNION or the others as a subquery too.

[2017-08-04 16:52] zachdaniel opened #2152 "Support for preloading subqueries"
Elixir Version: 1.4.5
Database Version: PostgreSQL 9.5
Ecto Version: ecto 2.2.0-dev (https://github.com/elixir-ecto/ecto.git) (mix)
Database Adapter: postgrex 0.13.3 (Hex package) (mix
Operating system: OSX

### Current behavior
When put a query into a keyword list preload statement, I get:
[code]

The offending code is clearly:
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/preload

[2017-08-04 17:10] zachdaniel commented on #2152
I was able to resolve this issue on my end by wrapping the subquery in `Ecto.Queryable.to_query/1` to make sure its not a subquery.

[2017-08-04 17:29] josevalim commented on #2152
Right now we don't plan to support this feature so I will go ahead and close this. If someone wants to contribute though, please go ahead!

[2017-08-04 17:29] #2152 closed

[2017-08-04 19:07] Apelsinka223 opened #2154 "Float converts to integer in map field, when saving in PostgreSQL"
Value in map field converts from float to int when it`s bigger then 1000

### Environment

* Elixir version (elixir -v): Elixir 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.2
* Ecto version (mix deps): ecto 2.1.4
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: macOS 16

### Current behavior

Schema

[code]

When > 1000
[code]

When

[2017-08-04 21:49] josevalim commented on #2154
I cannot reproduce this in our test suite. Can you please try adding a test case to `integration_test/cases/type.exs` that reproduces the issue?

Also please try checking how the data is being written to the database. It is important to know if the issue is happening when writing or reading. You can also see the query sent to the database in your logs.

[2017-08-04 21:53] josevalim commented on #1549
@isaacsanders yes, we would need to introduce a new type of query and support it throughout Ecto (which is no easy feat).

[2017-08-04 22:02] #2151 closed

[2017-08-05 12:33] costaraphael commented on #1757
Hi, is anyone working on this issue? If not I would love to tackle it. (Or try my best at least :sweat_smile:)

[2017-08-05 14:24] josevalim commented on #1757
@costaraphael nobody is working on it afaik, please go ahead!

[2017-08-05 14:24] josevalim commented on #1892
In master! Please give it a try and test it further!

[2017-08-05 14:24] #1892 closed

[2017-08-05 15:51] costaraphael commented on #1757
Awesome, I should take a look at this week!

[2017-08-06 07:24] josevalim commented on #2142
Unfortunately we cannot support fragments because we don't know the shape of the data that is coming in. In order for it to work, you would need to select all fields in the fragment in the exact same order as they are listed in your schema and that is very confusing and error prone.

The first step would likely be to support subqueries with parameters. This would allow us to get preloads somewhat

[2017-08-06 07:24] #2142 closed

[2017-08-06 07:27] josevalim commented on #2135
Apparently it is bigserial since Ecto 2.0. :)

[2017-08-06 07:27] #2135 closed

[2017-08-06 07:29] josevalim commented on #2037
The challenged here is what is going to be the syntax. `returning` is a regular data-structure outside of the `from` macro, so it doesn't have access to the bindings. Thoughts?

[2017-08-06 07:29] josevalim commented on #2128
Fixed in master!

[2017-08-06 07:29] #2128 closed

[2017-08-06 07:34] josevalim commented on #1799
This is pending removing the IO data conversion from adapters and doing it in the connection. This will benefit particularly insert_all.

[2017-08-06 07:46] josevalim commented on #2081
If the goal is to support precisely the on constraint syntax, that's much easier. For example: `conflict_target: {:constraint, ...}`. For supporting `where`, it may be best to pass a query in the `:on_conflict` option which we would then extract out.

[2017-08-06 09:36] josevalim commented on #2081
on constraint support is on master which show allow those cases to be handled. Let me know if there any issues. :heart:

[2017-08-06 09:36] #2081 closed

[2017-08-06 10:07] josevalim commented on #2076
@lauraannwilliams this was a case of poor error messages.

The error was coming from the `:post` and `:user` associations INSIDE the `:post_users` association. That's because Ecto calls `change` recursively when changing associations.

However, instead of improving the error message, I have decided to add the feature altogether, which allows `change/2` and `put_change/3` to work with associations

[2017-08-06 10:14] #2076 closed

[2017-08-06 15:48] #2020 closed

[2017-08-06 16:00] #2038 closed

[2017-08-06 18:13] josevalim commented on #2043
The underlying query we compile into is more of an implementation default. It could have been `foo IN NULL` which is not valid. Plus raising on nil makes it consistent across adapters, so I would rather consistently raise.

I have pushed a fix to master. Thanks for the report with the perfectly reproducible case!

[2017-08-06 18:13] #2043 closed

[2017-08-06 18:50] #2126 closed

[2017-08-06 18:52] josevalim commented on #2126
I went with the error message for now since we don't discard fields in most cases. If this proves to be an issue, we can automatically discard `distinct`, but deciding where to draw the line is a bit though. For example, should we discard order_by? What about limit? Maybe some people would expect limit to actually work and discarding it can be confusing, etc, etc.

[2017-08-06 21:05] #1941 closed

[2017-08-07 08:22] #2124 closed

[2017-08-07 09:34] #1857 closed

[2017-08-07 10:01] josevalim commented on #1850
For now we have added a `:repo_opts` field that you can set manually when building the changesets. For example: `%{changeset | repo_opts: [on_conflict: :ignore]}`.

[2017-08-07 10:01] #1850 closed

[2017-08-07 10:19] #1948 closed

[2017-08-07 11:05] #1920 closed

[2017-08-07 12:08] josevalim commented on #2018
Unfortunately we cannot do any of the changes above in a backwards incompatible fashion. So they will be scheduled to 3.0 which will give us the opportunity to finally get rid of the old types and also make sure databases return the new types exclusively.

[2017-08-07 13:08] josevalim opened #2156 "Move the :json_library config down to the adapter"
This way we don't need to define a types module inside Ecto itself. This will require adding `:json_library` support to Postgrex.

[2017-08-07 14:27] Apelsinka223 commented on #2154
Added case in tests https://github.com/Apelsinka223/ecto/commit/b121db56fa366338ae4b2b1351a2eb3c002bfff3
. An error throws only when used `===` comparison

With query
[code]

In database
[code]

[2017-08-07 15:22] #1799 closed

[2017-08-07 19:14] lauraannwilliams commented on #2076
I appreciate the update. :) Thank you

[2017-08-07 20:28] josevalim commented on #2154
So I have verified this is a postgres behaviour:

[code]

The reason I used "5.0e3" is because that's the value used by Poison for 5000.0 and above.

However, I am not sure we can call it either a Postgres bug or a Poison bug (the library we used to encode numbers) because JSON does not have the concept of integers and floats, it just calls the "numbers" and it provides no guidance on this topic.

[2017-08-07 20:30] josevalim commented on #2154
Another alternative is for you to define an `embedded_schema` for your map and use that instead. If you mark the field as float in the embedded_schema, then that will be guaranteed.

[2017-08-07 20:44] OvermindDL1 commented on #2154
As I recall, jsonb encodes 'numbers' as a 'double' (64-bit) floating point to follow the same spec as modern browsers do, so you should always assume that all numbers stuffed into a JSON object will come back as a double.  If you want to encode it unambiguously then you can always hexify the float or binary/string encode the integer and just store it as a string (though that loses some flexibility

[2017-08-08 09:43] Apelsinka223 commented on #2154
Thank you for the answer

[2017-08-08 09:43] #2154 closed

[2017-08-08 14:11] #1849 closed

[2017-08-08 19:36] jeregrine commented on #1849
😍  Omg thank you so much @josevalim ❤️

[2017-08-08 21:15] tilo opened #2159 "what happened with MongoDB support in 2.2.x ?"
The README doesn't mention MongoDB anymore...

### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and

[2017-08-08 21:42] josevalim commented on #2159
MongoDB has not been updated to 2.0 and alter afaik.You should ping the driver maintainers.

[2017-08-08 21:42] #2159 closed

[2017-08-09 10:35] lukaszsamson opened #2160 "Undocumented breaking change in 2.2"
Returning tuples from subqueries is no longer supported and results in:
`** (EXIT from #PID<0.3800.0>) an exception was raised:
         ** (Ecto.SubQueryError) the following exception happened when compiling a subquery.

         ** (Ecto.QueryError) subquery must select a source (t), a field (t.field) or a map, got: `{&0.my_property()}` in query: ...`

The fix in this case is trivial:
replace
`s

[2017-08-09 11:26] josevalim commented on #2160
Hrm, it seems the validation logic had a bug in 2.1 since returning a tuple from `select` can't really be used upstream. I will update the CHANGELOG, thank you.

[2017-08-09 11:26] #2160 closed

[2017-08-09 19:25] lukaszsamson opened #2161 "Strict checks introduced in 828cfbc result in hard to debug errors"
### Environment
* Ecto version (mix deps): 2.2-rc.0

### Current behavior
[code]
### Expected behavior
Better error message, e.g `Struct MyStruct is missing :id key in action :insert
`

[2017-08-09 21:07] potatosalad commented on #2147
@michalmuskala As far as I can tell, [RFC 4122](https://tools.ietf.org/html/rfc4122) only uses the  version and variant for the creation of Time-Based, Name-Based, and Random Number UUIDs.

In fact, [Section 3](https://tools.ietf.org/html/rfc4122#section-3) states:

The example implementation at the bottom of the RFC does not validate UUIDs.

[ITU-T Rec. X.667](https://www.itu.int/ITU-T/studygroup

[2017-08-09 21:17] potatosalad commented on #2147
Also, I'd be happy to submit a pull request, but wanted to see if anyone had a differing opinion first 😀

[2017-08-09 21:24] #2147 closed

[2017-08-09 21:24] josevalim commented on #2147
Thank you @potatosalad! I have reverted those changes and pushed to master!

[2017-08-09 21:26] potatosalad commented on #2147
Huzzah!  My weird ids work again!  Thanks, @josevalim.

[2017-08-09 21:27] josevalim commented on #2161
Can you please provide a code snippet that reproduces the error?

[2017-08-09 21:29] josevalim commented on #2161
Basically, I want to know if it is an Ecto bug or if it is really just a case of a poor message. It is really suspicious that you are getting a missing :id key for a *struct*.

[2017-08-09 21:32] michalmuskala commented on #2147
I guess I can't say anything other than: "I'm convinced" 😃

[2017-08-09 22:11] lukaszsamson commented on #2161
It's not a bug. I was getting it in a hacky code that used to work with 2.1
[code]
I ended up changing `|> Map.delete(:id)` to `|> Map.merge(%{id: nil})`
A better message here definitely would save a few cycles.

[2017-08-09 23:44] josevalim commented on #2161
Thanks, I will push some improvements to master!

[2017-08-09 23:44] #2161 closed

[2017-08-10 22:53] mbuhot opened #2163 "Support aggregate functions in type/2"
Following from the discussion on [elixir forum](https://elixirforum.com/t/ecto-2-2-0-rc-0-released/7634/13), `type/2` can be used in `select` clauses for simple fields, but fails when given an aggregate function, such as `sum`.

### Environment

* Elixir version (elixir -v):

[code]

* Database and version:

Postgresql 9.6

* Ecto version:

[code]

* Database adapter and version:

[code]

* Operat

[2017-08-11 12:34] Slavenin opened #2164 "With a large number of inserts application killed by memmory limit"
### Environment

* Elixir version (elixir -v):

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
[code]

* Ecto version (mix deps):

* Database adapter and version (mix deps):

* Operating system:

### Current behavior

My app inserts millions records. Every second size ets data table increases on several mb.
In deps/ecto/lib/ecto/query/planner.ex I find cache_insert function that inser

[2017-08-11 13:24] josevalim commented on #2164
Are you sure the table in the planner is the one running out of memory?
Ecto does not cache insert queries. So it is either a bug elsewhere or
there is another part of your application performing queries.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-08-11 16:54] scf4 commented on #1892
Is there a way to convert names between camel/snake case, without "source" on every field?

[2017-08-11 18:05] michalmuskala commented on #1892
You could create a custom `field` macro that would compute the correct source and call the original `field`.

[2017-08-11 18:51] josevalim commented on #1892
The macro works but we can possibly make it easier. What if we have a
source_mapper option that is given to schema/2 and it I invoked for every
field?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-08-11 18:53] scf4 commented on #1892
Thanks @michalmuskala I'll give it a try

@josevalim a source_mapper option would be perfect!

[2017-08-12 00:29] BartOtten commented on #1849
Right on time!  Tnx @josevalim

[2017-08-12 03:25] mbuhot opened #2165 "Cast virtual fields populated in select"
Following from discussion on [elixir forum](https://elixirforum.com/t/ecto-2-2-0-rc-0-released/7634/16) it would be ideal if virtual fields declared in a schema are automatically cast to the declared ecto type when populated in a select query.

### Environment

* Elixir version (elixir -v):

[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

Postgresql 9.6

* Ecto version (mix de

[2017-08-12 04:08] zachdaniel commented on #1849
This feature just eliminated a massive amount of conditional complexity in many parts of our code.  As always we are eternally grateful @josevalim.

[2017-08-12 05:53] josevalim opened #2166 "Support :mapper or :source_mapper for field mapping on schema/2"
@michalmuskala any preferences on the option name?

[2017-08-12 05:59] michalmuskala commented on #2166
`mapper` sounds way too generic for me. I could see us using even `source_field_mapper`.

How does `source` work on embeds? Should this also work there?

[2017-08-12 07:55] berlintam opened #2167 "Associations guide missing from https://hexdocs.pm/ecto"
If you go to https://hexdocs.pm/ecto and navigate to the pages section, the 'Associations' manual should also be listed. Currently only the 'Getting Started' doc is shown.

![screenshot from 2017-08-12 09-53-29](https://user-images.githubusercontent.com/4237285/29239057-325d0726-7f44-11e7-9d87-6cddc1fa895d.png)

The [Associations.md](https://github.com/elixir-ecto/ecto/blob/master/guides/Associati

[2017-08-12 07:59] michalmuskala commented on #2167
The associations guide is part of the 2.2 release. It's not present in the 2.1 documentation.

https://hexdocs.pm/ecto/2.2.0-rc.0/associations.html#content

[2017-08-12 07:59] #2167 closed

[2017-08-12 08:02] josevalim commented on #2166
Yup, it works on embeds. Maybe it should be a module attribute though to
mirror everything else? @ecto_field_mapper?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-08-12 09:07] michalmuskala commented on #2166
With module attribute, we can't use a fun, though. Should we accept a `{m, f, args}` tuple instead?

[2017-08-12 11:06] josevalim commented on #2166
We can use a fun as long as we don't inject it in any function.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-08-12 12:57] Grimmjowjack commented on #1298
@codecakes, @BennyHallett  thank you guys, it solved my problem.

[2017-08-13 03:36] steffenix commented on #2147
I wonder, I have something similar with JSON, I have
``` ** (ArgumentError) cannot load `"{}"` as type :map ```

[2017-08-13 03:43] steffenix opened #2168 "Ecto load map cannot load `"{}"`"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5.5
* Ecto version (mix deps): 2.1.6
* Database adapter and version (mix deps): 0.13.0

### Current behavior
[code]

[code]

Error:

[code]

### Expected behavior

It's should be possible to load an empty json.

[2017-08-13 07:51] josevalim commented on #2168
The JSON is coming as a strings. Something was supposed to have converted
it to a map already. Can you please provide more information to reproduce
the issue?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-08-13 08:12] #2168 closed

[2017-08-13 08:14] josevalim opened #2169 "ecto.create should not report the database already exists for Postgres on invalid credentials"
See https://github.com/phoenixframework/phoenix/issues/2442.

[2017-08-13 10:06] pbudzik commented on #2169
LOL. The issue was cause by existence of a system property DATABASE_URL. How come? Do you use it? If you do, it should not conflict. I remove it and now it throws a proper error :)

[2017-08-13 10:20] josevalim commented on #2169
We shouldn't pick it up automatically. I will investigate when I am back
the computer.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-08-13 16:03] josevalim commented on #2169
Ok, i got the proper error too, it was a different error. But we don't pick DATABASE_URL by default so maybe there is another file causing it? but it seems Ecto is behaving as specified.

[2017-08-13 16:03] #2169 closed

[2017-08-14 09:29] Slavenin commented on #2164
@josevalim, you right. This other app from deps.

[2017-08-14 09:29] #2164 closed

[2017-08-14 12:12] asabil opened #2170 "Creating sorted indices fail"
### Environment

* Elixir version: Elixir 1.5.0 Erlang/OTP 20 [erts-9.0]
* Database and version: PostgreSQL 9.6.3
* Ecto version:  2.1.6
* Database adapter and version: postgrex 0.13.3
* Operating system: macOS 10.12.6

### Current behavior

The Ecto PostgreSQL migration support started adding parentheses around indices in order to properly support index expressions in https://github.com/elixir-ec

[2017-08-14 14:33] michalmuskala commented on #2170
\cc @ericmj you introduced the problematic change. Could you explain a bit more what issues was it fixing?

[2017-08-14 14:37] ericmj commented on #2170
@michalmuskala Expressions always require parenthesis around them. We should probably add proper fragments and add support for DESC/ASC/NULLS without dropping down to SQL syntax.

[2017-08-14 14:41] michalmuskala commented on #2170
It seems the problem is the double wrapping in parens. I guess it would work if we only wrapped the second time if we have more than one expression for the index, right?

It still breaks something that was working before, if we can't make both things work, I guess it's better to have the thing that worked before continue working and provide a new mechanism for the thing that was never working.

[2017-08-14 14:44] ericmj commented on #2170
You are supposed to double wrap when using expressions. The problem is that we put DESC as part of the expression which is incorrect.

Yes, we probably need to roll this change back and find a backwards compatible way to improve index creation.

[2017-08-14 14:51] asabil commented on #2170
I think what was working before, was really working by accident. `index` should probably have the following signature:

[code]

[2017-08-14 14:55] ericmj commented on #2170
Yeah, it's really unclear how this was supposed to work. Before my change the expression example was broken in the docs were broken: https://hexdocs.pm/ecto/Ecto.Migration.html#index/3.

The docs only use atoms for fields and uses strings for expressions.

The docs also say "Expects the table name as first argument and the index fields as second. The field can be an atom, representing a column, or

[2017-08-14 16:09] sergiotapia opened #2171 "Ecto 2.1.4 - Schema from pg_dump fails to execute: "cannot insert multiple commands into a prepared statement""
### Environment

* Elixir version (elixir -v): 1.4.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PG 9.6.1
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): ecto
* Operating system: OSX

### Current behavior

I extracted the schema from an existing PG database using pgAdmin 4 and setting schema only export. Running the `.sql` file with `execute` in a migra

[2017-08-15 09:46] josevalim commented on #2171
Yes, `execute` is about a single command, you can't load the whole sql file.

[2017-08-15 09:46] #2171 closed

[2017-08-15 13:49] sergiotapia commented on #2171
Hi @josevalim - that makes sense. For my purpose I just needed to create one table so I removed all commands except the single `create table`. That's why it worked.

I was wondering for the time when I do need to create an entire database from an exported schema, how do I accomplish this? Any suggestions? This was for setting up codeship's postgres database for my mix tests to run.

[2017-08-15 14:10] michalmuskala commented on #2171
There's the `mix ecto.load` task that can load from a pg_dump dumped database. Maybe that could be useful.

[2017-08-16 17:43] josevalim commented on #2170
I have reverted the PR for now in master. Thank you!

[2017-08-16 17:43] #2170 closed

[2017-08-17 08:08] ericmj commented on #2170
@josevalim I think this is the wrong decision. By reverting we fix undocumented behaviour and we break documented behaviour.

We have no documentation that says "column" or "column DESC" is supposed to work, the docs clearly say you should use atoms for columns and use strings for expressions.

These examples are now broken again: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/migration.

[2017-08-17 08:12] asabil commented on #2170
I completely agree with @ericmj I think his fix is the correct one. We just need to augment it supporting index column/expression modifiers.

[2017-08-17 08:14] josevalim commented on #2170
@ericmj this behaviour is a breaking change we are introducing on 2.2. People using expression on 2.1 already wrapped them in parens, people using DESC etc has it working today. So we do need to revert the behaviour and THEN we come up with the new API.

[2017-08-17 08:21] ericmj commented on #2170
The reason I don't agree is because we are only breaking something that has never been documented to work. The documentation is pretty clear that strings are for expressions and DESC is not an expression. We are not breaking people who already wrap expressions in parenthesis, we only break DESC.

[2017-08-17 10:42] josevalim commented on #2170
@ericmj it is still a breaking change where a fix buys us very little. Given the benefits, the breaking change is really not worth it.

[2017-08-17 11:41] ericmj commented on #2170
Fair enough. I see you also updated the docs, thank you!

[2017-08-18 11:39] svarlet opened #2172 "Use UTC time to timestamp migration files"
Hi,

I was wondering if the timestamps which prefix the migration files uses the local machine time or the UTC time. The documentation doesn't seem to mention it so I asked in Slack and @michalmuskala suggested to open an issue here.

Since the timestamp is used to ensure the migrations are performed in the right order, I believe that using the local time (of the machine which generated the migrat

[2017-08-18 11:40] michalmuskala commented on #2172
We should either change globally or at least support a configuration option for this.

[2017-08-18 11:44] michalmuskala commented on #2172
Ok, I just checked and it seems both `ecto.gen.migration` and `phx.gen.schema` tasks use `:calendar.universaltime` as the base for producing the timestamp, so we're fine.

@svarlet I'm not sure where in the docs we could mention it. Any suggestions?

[2017-08-18 11:47] josevalim commented on #2172
We should list it in the docs of both generators.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-08-18 11:47] svarlet commented on #2172
Good news!
I was expecting to find a mention here https://hexdocs.pm/phoenix/mix_tasks.html#ecto-specific-mix-tasks

[2017-08-18 12:34] #2172 closed

[2017-08-18 12:46] #2163 closed

[2017-08-18 12:55] nathanl commented on #1475
@michalmuskala Your fragment example helped me, but I had to modify it slightly (I'm using Ecto 2.1.4 - maybe that matters?).

I'm using `order_by: [fragment("? DESC NULLS LAST", foo.bar]`, which produces SQL `ORDER BY foo."bar" DESC NULLS LAST` as it should.

If I do `order_by: [desc: fragment("? NULLS LAST", f.bar)]`, it causes a SQL syntax error because the generated SQL is `ORDER BY foo."bar"

[2017-08-18 13:11] josevalim commented on #2165
Unfortunately this is very complex to do because of some optimizations we perform. We may not be able to do this at all but we can revisit it for 3.0.

[2017-08-18 13:22] #2166 closed

[2017-08-18 17:49] michalmuskala commented on #1475
Yes, you're right. I think it never worked as it's described there.

I guess we could support it in ecto using `order_by: [desc_nulls_last: foo, asc_nulls_first: bar]`, I'm not 100% sure we want to add this to ecto itself, though

[2017-08-18 18:24] nathanl commented on #1475
I don't think it's necessary - mostly just came to leave a breadcrumb for myself, next time I Google this. :)

[2017-08-18 20:26] al3x-edge commented on #1272
Were there any plans to bring nested where conditions back into focus?  Notice we have `or_where`, but I haven't been able to find a way to -- most searches end up here.  @michalmuskala's looks good to me.

[2017-08-18 21:14] josevalim commented on #1272
Yes, look for `Ecto.Query.dynamic` in the docs.

[2017-08-22 23:07] atomkirk opened #2178 "bumping ecto version from 2.1.6 to 2.2.0 causes key :action not found error"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): mysql 5.7.18
* Ecto version (mix deps): 2.2.0
* Database adapter and version (mix deps): mariaex 0.8.3
* Operating system: OS X Sierra

### Current behavior

I have the following changeset:
[code]

This throws the error:

[code]

If I remove the `required: true` then most of the tests t

[2017-08-23 03:32] yordis opened #2179 "Refactor Validations"
Right now I am working with some `ValidationParser` [Full Code Here](https://github.com/straw-hat-llc/straw_hat/blob/5195fcaae9c1dbd2a71b645782d9e0096d351d27/lib/straw_hat/error/changeset_parser.ex#L37) which I borrowed from @lauraannwilliams 💟 , but, if you notice right now details details of parsing `validate_number`, `validate_length` and some others becomes a little bit weird.

Some of them do

[2017-08-23 04:03] yordis commented on #2179
I hope I dont miss anything, let me know what do you think I will more than happy to actually do the PR for this.

[2017-08-23 07:10] yordis commented on #2179
I hope I didn't miss anything. I would like to have your feedbacks on what I am trying to fix because could be some missing validation I could no know about it.

[2017-08-23 07:16] josevalim commented on #2178
Can you please provide the full stacktrace?

[2017-08-23 07:16] josevalim commented on #2178
Also, please provide the changeset implementation of `ZB.JournalEntryLine`. I suspect it is returning a struct and not a changeset.

[2017-08-23 09:33] hl commented on #2178
Do you use `import Ecto` somewhere?

[2017-08-23 11:31] timCF opened #2181 "bulk upsert increments existing primary key IDs"
### Environment

* Elixir version 1.4.5
* Database and version (PostgreSQL 9.6.3)
* Ecto version ~> 2.1
* Database adapter and version postgrex ~> 0.13.0
* Operating system Mac

### Current behavior

[code]

[code]

[code]

[code]

### Expected behavior

Upsert will not change ID primary key of already existing rows, just update other fields.

[2017-08-23 11:33] josevalim commented on #2181
Can you please check the query we are sending to the database? And can you can then try to run this query directly against the database and see how it behaves? I believe there is nothing we can do here, it is all the DB behaviour.

[2017-08-23 11:50] timCF commented on #2181
In logs I see something like this ( one row in request for example )
[code]
It seems `"id" = EXCLUDED."id"` is the cause of this behaviour described above

[2017-08-23 12:15] josevalim commented on #2181
Yes, I think this is a bug. We should replace all except the primary key. Thank you.

[2017-08-23 12:29] timCF commented on #2181
Thx for fast feedback!

[2017-08-23 12:39] josevalim commented on #2181
I am wondering why it is setting "id" to DEFAULT. Do you also have some entries that include the ID in the list given to insert_all?

[2017-08-23 12:54] timCF commented on #2181
In this example ID is not present in data to upsert, just uniq_key `name`

[2017-08-23 12:56] timCF commented on #2181
It seems behaviour is fixed when `"id" = EXCLUDED."id"` is removed from request

[2017-08-23 12:59] atomkirk commented on #2178
@josevalim sorry I should have thought to provide the full stacktrace

[code]

Here is`ZB.JournalEntryLines.changeset`:

[code]

[2017-08-23 13:00] atomkirk commented on #2178
@hl yes, but most notably where in the file phoenix generated for me:
![](http://d.pr/i/9jmKkl/3RpOF6eh+)

[2017-08-23 13:10] josevalim commented on #2181
@timCF Thanks for checking.

I am worried about changing `:replace_all` because we can only remove primary keys if a schema is available - it may also be a breaking change if someone is relying on this behaviour. So I will push a new option, `:replace_all_except_primary_key` that should fit your use case. We may want to make it more generic in the future, `{:replace_all, except: [...]}`, but I thi

[2017-08-23 13:11] #2181 closed

[2017-08-23 13:14] timCF commented on #2181
Thx! `{:replace_all, except: [...]}` sounds very good, and `replace_all_except_primary_key` is also ok for my current task :)

[2017-08-23 13:21] #2178 closed

[2017-08-23 13:22] josevalim commented on #2178
Fixed in the v2.2 branch. When we do a new release, you should be covered. Thanks for the report!

[2017-08-23 14:15] ibarchenkov commented on #2037
I suggest to delete `returning` from the options list and add it to the `from` macro, so the syntax will look like this https://github.com/elixir-ecto/ecto/issues/2037#issuecomment-296645488.

[2017-08-23 20:38] tramjoe commented on #1225
Just hit that exact same issue that  @benwilson512 reported as well.
Here is the use case:
[code]

If the `Account` does not exist, `Repo.get_by` returns `nil`, and `Account.changeset` rises having no function clause for that case. That code needs to be fixed either by using one of the suggested options on that thread, I won't list them all again.

I sure would like to have an idiomatic Ecto way o

[2017-08-24 14:46] brandonparsons opened #2182 "Tag Queries in Logs?"
Hi there,

Is it possible to add some kind of tag or identifier that can get spit out with the debug logs that go into the console in development?

Preferably right with the existing debug log (rather than a separate `IO.puts/inspect` or similar.

[2017-08-24 15:09] josevalim commented on #2182
Please use Elixir Forum or Stack Overflow for questions. In any case, Elixir's Logger supports a metadata system which can be used to how you described queries.

[2017-08-25 14:10] #2182 closed

[2017-08-25 14:10] #2179 closed

[2017-08-25 17:27] jmarca opened #2186 "Correct documentaton for many_to_many"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2017-08-25 17:30] jmarca commented on #2186
Pull request #2187 should fix this issue.

[2017-08-25 19:07] josevalim commented on #2186
Thank you, closing in favor of the PR!

[2017-08-25 19:07] #2186 closed

[2017-08-27 20:26] khamilowicz opened #2190 "has_one issues sql query when preloading nil value"
### Environment

* Elixir version: 1.5.1
* Database and version: PostgreSQL 9.6.1
* Ecto version: 2.1.6
* Database adapter and version: postgrex 0.13.3
* Operating system: macOS 10.13

### Current behavior

Preloading multiple times has_one association keeps sending queries to database, even though relation is loaded as `nil`.

    defmodule Defa.Accounts.User do
      use Ecto.Schema
      import

[2017-08-27 21:15] brandonparsons commented on #2182
Thanks. I will post a question in the Elixir Forum, as I don't know how to do this. I'm looking to tap into the actual log messages that Ecto is creating, not add my own new log messages.

[2017-08-29 21:55] taavi commented on #1549
Our resident DB expert at work suggested an improved query for my team…but it involves a `UNION` (and several combinations of `WHERE` clauses which would apply on each side…so hand-writing queries is not a viable option). What's needed to help move this forward?

[2017-08-30 01:09] arunthampi opened #2192 "Not able to connect to Rails database with Ecto 2.2.1"
### Environment

* Elixir version (elixir -v): 1.4.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.3
* Ecto version (mix deps): 2.2.1
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: macOS 10.12.5

### Current behavior

When trying to connect to a Rails database in a Phoenix app with Ecto 2.2.1, we get this error:

[code]
The `version` col

[2017-08-30 06:55] josevalim commented on #2192
@arunthampi it certainly never worked before since Ecto would raise and one of the things we did still on the 2.1 release was to improve the error messages.  Can you please double check? And you can also change the migrations table for Ecto by setting migration_source in your repo configuration or in Rails.

[2017-08-30 06:55] #2192 closed

[2017-08-30 09:39] waiting-for-dev commented on #1882
With ecto v2.2.1, I have to add `@dialyzer {:no_opaque, fun: arity}` to the function matching on the result of `Repo.transaction(multi)`. Also, I can't properly spec functions which take or return a `Multi.t` (I get "no function return" and "never will be called" errors). For now, I'm using `multi :: any` instead.

[2017-08-30 16:45] warmwaffles commented on #2192
@josevalim this certainly does put a bit of a wrench in to the projects that are trying to transition from a rails application to a phoenix app, but running both simultaneously while parts are migrated out. Is there a way to tell ecto which table to use for migrations in a config?

We can not change the name of that column without breaking our existing rails application, nor can we update ecto bec

[2017-08-30 16:51] warmwaffles commented on #2192
I see this exists:

https://github.com/elixir-ecto/ecto/blob/60015fa9fddfda347ae947ec6d8314bf19feebb0/lib/ecto/adapters/postgres.ex#L156

So I should be able to define `config :appname, MyRepo, migration_source: "new_migration_table"` right?

[2017-08-30 16:58] michalmuskala commented on #2192
Yes, you can configure the `migration_source` option to change the table name - this is exactly what José referred to. You can read more on it in the [`Ecto.Migration` module doc](https://hexdocs.pm/ecto/Ecto.Migration.html#module-repo-configuration)

[2017-08-30 17:16] OvermindDL1 opened #2194 "Macro expansion goes too far and/or Ecto does not understand orelse/andalso"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PostgreSQL 9.7
* Ecto version (mix deps):  ecto 2.2.1
* Database adapter and version (mix deps):  postgrex 0.13.3
* Operating system:  Linux 3.10.0-514.26.2.el7.x86_64 #1 SMP Fri Jun 30 05:26:04 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### Current behavior

Given a simple macro like:

[2017-08-30 17:21] warmwaffles commented on #2192
Thanks @michalmuskala this did the trick for us. Now we are hitting other issues not related to ecto, but ex_machina.

[2017-08-30 17:24] josevalim commented on #2194
@OvermindDL1 yes, we should probably call `Macro.expand_once` inside the ecto/query/builder. Can you please investigate?

[2017-08-30 19:28] OvermindDL1 commented on #2194
Done, as you thought it was trivial to do, added a test as well that does not pass before but passes now.

[2017-08-30 19:46] #2194 closed

[2017-08-31 15:40] alenm opened #2197 "Repo.insert/2 Struct converted to Changeset"
### Environment

Current Version
[code]

[code]

### Current behavior

**[Ecto.Repo.insert/2 states](https://hexdocs.pm/ecto/Ecto.Repo.html#c:insert/2)**

When I fire up the console in my Phoenix 1.3 app my changeset fails (which is correct because of validation) but my struct passes and is inserted in the DB.

[code]

Here is the User Schema I'm using...

[code]

### Expected behavior

I expected

[2017-08-31 15:43] josevalim commented on #2197
The struct is converted to a Changeset using Ecto.Changeset.change/2, not
your own function, since that would be hard to do for the reasons
mentioned. Can you please send a PR that makes the docs clearer? Thank you.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-08-31 21:33] alenm commented on #2197
I think I understand the documentation now based on your feedback.

[code]
**Example 1**
`Ecto.Changeset.change/2` returns just an `Ecto.Changeset` with the `data:` containing the struct.

[code]
**Example 2**
This returns an `Ecto.Changeset` but this was built up and returned by my `User.changeset/2` function so it has gone through validation etc.

**When I read this part of the documentation**

[2017-08-31 22:11] gpedic opened #2198 "Ecto.Multi built using Ecto.Multi.merge/4 fails when run through Repo.transaction"
### Environment

* Elixir version (elixir -v): **1.4.2**
* Database and version: **PostgreSQL 9.6.3**, **SQLite 3.9.2**
* Ecto version (mix deps): **2.2.1**
* Database adapter and version (mix deps):  **postgrex** -> 0.13.3, **sqlite_ecto2** -> 2.2.0
* Operating system: **macOS 10.11.6**

### Current behavior

When trying to merge a bunch of multi's using `Ecto.Multi.merge/4` by doing something si

[2017-08-31 22:36] josevalim commented on #2197
Yes, precisely.

[2017-09-01 01:32] #2197 closed

[2017-09-01 02:01] #2198 closed

[2017-09-04 21:33] anandtrex opened #2205 "Ecto generates queries with syntax error for tables with names starting with numbers"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6.4
* Ecto version (mix deps): 2.2.1
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Archlinux

### Current behavior
For tables whose names start with a number, Ecto generates wrong SQL

Example:
[code]

[code]

This is an invalid query, at least with Po

[2017-09-05 09:14] yordis opened #2206 "Improve unique_contrains error message"
From this output

[code]

It's really confused what I have to do, I understand that I have to use the `name` key but that is not what the error es telling me.

From that message I am expecting to add `unique` or `foreign_key` key with the values listed on the `unique_constraint`

Also where this format come from (`name_country_id`) the one that omit the table name and the `index` name from it

[2017-09-05 12:01] brandonparsons opened #2207 "Subqueries + Joins + Prefixes"
Good morning,

I'm looking to use a `subquery` in a join, but that join needs to look inside a schema to find the proper tables.

Despite adding support for prefixes in subqueries (https://github.com/elixir-ecto/ecto/commit/246a81826d891836880805ea128b91e458d5dc7c), it appears to me that attempting to join still does not work.

Am I missing something obvious?

I've tried something like the followi

[2017-09-05 12:09] josevalim commented on #2207
@brandonparsons what happens if you do:

    join: counts in ^subquery(count_query, prefix: prefix)

We have added the ability to write `subquery(...)` without `^` as a convenience but it seems to have just backfired. :)

[2017-09-05 12:16] #2207 closed

[2017-09-05 12:22] brandonparsons commented on #2207
@josevalim  That works. Sorry, I did not think to try it that way, thought I tried all possible combinations before submitting the issue! 👍

[2017-09-05 12:25] #2206 closed

[2017-09-05 12:55] #2205 closed

[2017-09-06 05:43] vraravam opened #2208 "Ecto.Migration.timestamps/1 inconsistent with Ecto.Schema.timestamps/1"
### Environment

* Elixir version (elixir -v): Elixir 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 9.6.3
* Ecto version (mix deps): ecto 2.1.6
* Phoenix version: phoenix 1.3.0
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Mac OSX Sierra (10.12.6)

### Current behavior
I went through some documentation and blogs since I wanted to custom

[2017-09-06 10:21] Yoshyn commented on #2160
@lucasmazza : So much thanks. The fix is trivial but as the error is unexpected it's not so trivial to debug.

[2017-09-06 14:02] danj3 opened #2209 "warning about "not an Ecto schema" due to compilation order of nested modules"
### Environment

* Elixir version (elixir -v):

* Ecto version (mix deps): 2.2.1

### Current behavior

The code below will cause the following warning to be emitted during compilation:

[code]

During the @after_compile hook run when `Embed.Inner` has completed compilation, the code in `Ecto.Association.BelongsTo.after_compile_validation` cannot detect that `Embed` is a module containing a schema

[2017-09-06 14:48] josevalim commented on #2209
Good call. We can detect the parent module and abort the checks based on that. But then it would mean that nothing is checked but that is likely better than a false warning?

[2017-09-06 14:50] josevalim commented on #2208
Setting those in the schema is not going to change your migrations. You need to specify how you want the timestamp to look like in both the schema and the migrations. Is that the case? If so, can you provide how you have also configured the migrations?

[2017-09-06 20:05] danj3 commented on #2209
I think no check/no warn is probably better. The only refinement might be if it is possible to determine the module nesting and not warn if the association is not compiled and is a parent of the module of the current running @after_compile. This would make it possible for associations outside the nesting to be checked as usual... if it is possible.

[2017-09-06 20:15] vraravam commented on #2208
@josevalim : Yes, I deduced that part - and had the similar options in each of the migrations as well (individually, as opposed to having a global setting). The migration line looks like this:
[code]

[2017-09-06 20:42] josevalim commented on #2208
So I have no idea why this would happen. Can you please provide a sample application that reproduces the error so we can give it a try? Thank you!

[2017-09-07 19:38] bartekupartek opened #2211 "many to many association with length validation not consistent on create and update."
### Environment

* Elixir version (elixir -v): Elixir 1.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6.3
* Ecto version (mix deps): 2.2.1 and current master
* Database adapter and version (mix deps): 0.13.3
* Operating system: macOS Sierra

### Current behavior

Room model with `many_to_many :tags, App.Web.Tag, join_through: "rooms_tags", on_delete: :delete_all, on_replace: :del

[2017-09-07 20:49] bartekupartek commented on #2211
I figured out that validation for minimum length more than 1 is working but for equal 1 it won't add errors, there is a test: [commit](https://github.com/bartekupartek/ecto/commit/69c84c644657febcb7e1367e49f70c0e36edecb8)

[2017-09-07 21:31] bartekupartek commented on #2211
hmm, maybe add new function `validate_assoc_length` :smiley:

[2017-09-07 22:30] josevalim commented on #2211
Yeah, the issue here is that length is doing a regular count and you have mixed entries in there. We probably need something specific for associations.

[2017-09-08 11:40] bartekupartek commented on #2211
There was possible to fetch type of field with list and filter out undesirable changes from association. I've added pull request to review.

[2017-09-08 14:38] manukall opened #2213 "Ecto.Query.API.type/2 cannot be used with primary keys anymore"
### Environment

* Elixir version (elixir -v): Elixir 1.5.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): ecto 2.2.1
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Linux

### Current behavior

I'm not sure if this is a bug or expected behavior due to the disconnect between Ecto types and database types. But her

[2017-09-08 14:50] josevalim commented on #2213
Can you please provide a test case or a sample code that reproduces the error concretely? For all purposes the code you have described in "Expected behaviour" should work and we don't special case or remove primary key in anyway, so it is likely something else happening here.

[2017-09-08 15:12] manukall commented on #2213
@josevalim i've added a test at https://github.com/pryin-io/ecto/blob/id_cast_to_integer_not_bigint/integration_test/pg/constraints_test.exs#L112.

this results in
[code]

The reason is that `type(^[1,2,3], {:array, c.id})` results in `[1,2,3]::integer` instead of `[1,2,3]::bigint`, which would be the actual type of `c.id` (in an array).

[2017-09-08 18:09] josevalim commented on #2213
Exactly what I needed, thank you!

[2017-09-09 05:20] vraravam commented on #2208
@josevalim - Not sure what was happening. I tried to create a bare repo, and this time it worked fine ie both the issues are not reproducible. I suspect that previously, I was trying to do `ecto.reset` - which brought in schemas from some cached location? Anyways, this can be closed. Thanks for your response.

[2017-09-09 05:24] #2208 closed

[2017-09-09 14:05] #2211 closed

[2017-09-09 14:44] josevalim commented on #2213
So the reason this happens is because `type(..., {:array, c.id})` is going to cause the fragment to be written as `array_position(integer[], bigint)`. Postgres does not like the type mismatch and causes it to fail.

I am not sure if there is something we can do besides introducing a `:biginteger` type so we can properly translate that to the database. Apparently there is no "meta" type we could us

[2017-09-09 14:50] #2209 closed

[2017-09-09 14:51] michalmuskala commented on #2213
What if we always casted ints as bigints for postgres? It would probably manage the downcasting on it's own, right?

[2017-09-09 15:04] josevalim commented on #2190
Fixed in 483fa649dd2adc7afb49a44e0084ed2df794619a.

[2017-09-09 15:04] #2190 closed

[2017-09-09 15:06] josevalim commented on #2213
@michalmuskala great idea, let me try that out.

[2017-09-09 15:14] #2213 closed

[2017-09-11 09:25] seymores commented on #2181
I am curious as to the use case where the PK is expected to change by default in the context of an upsert operation.

[2017-09-11 15:00] khamilowicz opened #2216 "Preloading through associations with nils throws error"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version: PostgreSQL 9.6.1
* Ecto version (mix deps): 2.2.2
* Database adapter and version (mix deps): 0.13.3
* Operating system: macOS 10.12.6

### Current behavior

Preloading 'through' associations with 'nil' intermediary causes error (but only if intermediary is already loaded):
[code]

### Expected behavior

`Repo.preload` sho

[2017-09-11 17:33] danj3 commented on #2209
That's exactly it, nicely done. My thanks.

[2017-09-12 14:48] josevalim commented on #2216
Thank you, fixed in v2.2 and master. A new release will be out in the next minutes.

[2017-09-12 14:48] #2216 closed

[2017-09-12 17:32] Trevoke commented on #1923
Is this fixed in 2.2.1? I am running into this error occasionally.

[2017-09-15 10:25] bobek opened #2217 "Nested macros stop working when ecto updated from 2.1.5 to 2.2.3"
I am filling this as a bug report as bugreport as problem appears after updating Ecto. I am far from being Elixir/Ecto expert, so please excuse my ignorance.

### Environment

* Elixir version (elixir -v): `Elixir 1.5.1`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `PostgreSQL 9.6.5`
* Ecto version (mix deps): `2.2.3`
* Database adapter and version (mix deps): `postgrex 0.13.3`
* Op

[2017-09-15 11:46] josevalim commented on #2217
Thank you! Fixed on v2.2 and master branches. A new release should be out soon, just waiting for approval from @michalmuskala.

[2017-09-15 11:46] #2217 closed

[2017-09-15 14:42] OvermindDL1 commented on #2217
Whoops, looks like I might have introduced that when I fixed the macro's fully expanding when they shouldn't have.  There was no test-case for this issue in the tests so I never saw it.  ^.^;

Still no test case it seems?

[2017-09-15 15:36] sumerman opened #2219 "Migration task appears to be failing when there are no migrations to run."
### Environment

* Elixir version: Erlang/OTP 20; Elixir 1.5.1, 1.4.5
* Database and version: PostgreSQL 9.6
* Ecto version: 2.2.3
* Database adapter and version: `https://github.com/adjust/postgrex.git` @ `no_tables_on_boostrap`
* Operating system: OS X 10.12.6

### Current behavior

After upgrading to Ecto `2.2.3` when `DBConnection.Sojourn` connection pool is being used and   having `handle_sas

[2017-09-15 15:48] josevalim commented on #2219
Is that really a failure though? SASL reports when processes terminate, even when they do so "cleanly" and that's exactly what the report look like. :)

I mean, you will get a bunch of those reports and they are not necessarily right or wrong. They are just telling you which processes have been spawned.

[2017-09-15 15:50] sumerman commented on #2219
The last few lines are an error and even highlighted in red when it's enabled. Not a big deal but confusing and makes it harder to spot "already up" message

[2017-09-15 15:57] josevalim commented on #2219
Hrm, the reason is shutdown and shutdown was not supposed to generate logs afaik? /cc @fishcakez

[2017-09-15 19:52] fishcakez commented on #2219
Shutdown is generating a log here because the child is shutting down graceful but it is a permanent and this then causes the supervisor to log a shutdown. Can you add an issue to DBConnection to gracefully stop `DBConnection.Ownership` and `DBConnection.Sojourn` internals pools?

[2017-09-17 17:39] asd1o2487c opened #2221 "Ecto.Changeset.traverse_errors/2 doesn't work with embeds if there is a constraint error"
### To reproduce

https://github.com/asd1o2487c/ecto_bug

run `EctoBug.bug` twice

### Environment

* Elixir version (elixir -v): 1.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): ~> 2.2
* Database adapter and version (mix deps): >= 0.0.0
* Operating system: macOS

### Current behavior

[code]

### Expected behavior
Embeds stay wrapped in cha

[2017-09-17 17:43] asd1o2487c commented on #2221
Changeset before `Repo.insert()`
[code]
after
[code]

[2017-09-18 04:31] smartepsh opened #2222 "Primary key constraint not changed when renaming table in postgresql"
### Environment

* Elixir version (elixir -v): 1.5.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6
* Ecto version (mix deps): 2.1.6
* Database adapter and version (mix deps): 0.13
* Operating system: OSX

### Current behavior

The primary key index name is not changed

### Expected behavior

 I might be wrong but I expected the index name change to new_table_name_id_pkey.

[2017-09-18 06:53] josevalim commented on #2222
@smartepsh you need to do it by hand. Postgres doesn't change the name of the primary keys and foreign keys when you rename the table.

[2017-09-18 06:53] #2222 closed

[2017-09-18 14:31] jlevycpa commented on #2055
The test case in #2113 looks like it takes a schemaless changeset and embeds a named schema inside of that. I'm wondering if it's possible to embed a schemaless changeset inside of another schemaless changeset, and if so, what the syntax for that would be. Essentially I just want a way to hand off validation and casting of a `:map` or `{:array, :map}` field to another function.

It looks like ther

[2017-09-18 16:27] kcurtin commented on #2181
is the `{:replace_all, except: [...]}` being tracked anywhere? I'd like to subscribe to it so I know when it gets merged. My use case is doing bulk upserts based on a unique `external_id`. I need to preserve the PK (for associations) and match the new data based on the `external_id`. Something like this:
[code]

[2017-09-18 16:32] michalmuskala commented on #2055
Nested schemaless changesets are not supported as of right now. We'd like to do that, but it is not straightforward.

[2017-09-18 16:48] kemper opened #2225 "ecto.setup / ecto.migrate fail attempting to use config.exs logger"
### Environment

* Elixir version: Elixir 1.4.1
* Database and version: mysql  Ver 14.14 Distrib 5.6.33, for debian-linux-gnu (x86_64)
* Ecto version (mix deps): 2.2.1
* Database adapter and version: mariaex 0.8.3
* Operating system: Ubuntu 14.04 (running in Vagrant)

Since this is a migration related issue, it's worth noting that we migrate with MIX_ENV=prod

### Current behavior

Recently, we up

[2017-09-18 18:03] josevalim commented on #2225
Thanks @kemper. Since we do not start the app and all of its dependencies, hackney is not started which causes logging to fail. You can fix this in your app for now by doing this:

[code]

I am not sure how to solve this in the long term though. One option would be to ask the handler to make sure its dependencies are started on init. It may make sense since the handler is typically added externall

[2017-09-18 22:06] kemper commented on #2225
Thanks for the fast reply! In the short term we specified the older version of ecto in our mixfile.

I mostly wanted to get this on your radar; from my interpretation of issue #2038 it seemed like you might know this was the tradeoff with the fix for that issue, but the behavior appears defective for anyone who uses a custom logging backend like I do.

I tried your suggestion, but I couldn't get i

[2017-09-18 22:21] josevalim commented on #2225
Try this implementation of start_loggly  please:

[code]

[2017-09-19 00:46] kemper commented on #2225
Thanks! That helped. This is the minimal set of dependencies I found that results in a clean migration run:

[code]
I don't see what the relationship is between phoenix_ecto and logger_loggly_backend are. Without phoenix_ecto I get:

[code]
I see that the logger_loggly_backend has a handle_event function but it also includes GenEvent which the docs say is deprecated, so perhaps the age of the logg

[2017-09-19 09:19] josevalim commented on #2225
This pull request should do it: https://github.com/joeyfeldberg/loggly_backend/pull/3 Let me know if it works!

[2017-09-19 14:00] hauleth commented on #1549
I am also interested in that functionality as I would like to write wrapper for [Postgres tablefunc module](https://www.postgresql.org/docs/9.6/static/tablefunc.html) for my [Ecto.OLAP](https://github.com/hauleth/ecto_olap) library as it would be useful in some our queries to have possibility use pivot tables.

[2017-09-19 14:56] kemper commented on #2225
I tried that change in the PR. It hangs when it gets to the ensure_all_started. I added a trace call for some extra output:

[code]

Which results in

[code]

[2017-09-19 15:18] josevalim commented on #2225
@kemper since we add the backends when the application start we cannot call the application server, we are getting a deadlock. I will have to think a bit more about this issue.

[2017-09-19 15:35] josevalim commented on #2225
@kemper can you please try the v2.2 branch? I have pushed a potential fix.

[2017-09-19 15:56] LostKobrakai opened #2229 "Improve the differentiation between cast / dump in Ecto.Type documentation"
I've seen quite a few people on slack – as well as myself – initially not really understanding what the difference is for `cast` and `dump` callbacks in ecto types. It would be nice to have an example in the moduledoc, where the following 3 data types would be different to each other.

external data `--(cast)->` internal elixir data `--(dump)->` postgres data

People seem to think cast is for pars

[2017-09-19 16:03] josevalim commented on #2229
Can you please send a PR that improves those? One possible example we could use is to have structured data as the app representation but it is converted to a raw map when written to the database.

[2017-09-19 16:27] speeddragon commented on #1351
Today this happen to me when running mix ecto.migrate

[code]

It was after made all migrations changes successfully.

Ecto 2.1
PostgreSQL 9.6

[2017-09-19 22:45] kemper commented on #2225
Works great!

I updated my mix file. I cross checked my mix.lock against your most recent commit sha to be sure:

[code]

I migrated from scratch and everything completed without error. Thanks!

[2017-09-20 06:52] #2225 closed

[2017-09-20 06:53] #2229 closed

[2017-09-20 21:13] wgslr opened #2232 "Dialyzer complains about schema given as module name in Multi.insert_all"
### Environment

* Elixir version
  Erlang/OTP 20 [erts-9.0.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
  Elixir 1.5.1
* Database and version: PostgreSQL 9.6.5
* Ecto version (mix deps): ` locked at 2.2.4 (ecto) defde3c8`
* Database adapter and version (mix deps): `locked at 0.13.3 (postgrex) c277cfb2`
* Operating system: `Linux 4.12.13-1-ARCH #1 SMP PR

[2017-09-20 21:17] josevalim commented on #2232
Fixed on master and v2.2, thanks!

[2017-09-20 21:17] #2232 closed

[2017-09-21 08:47] tlvenn opened #2233 "Multiple concurrent migrators should be optional"
With the recent commit from @blatyo to add support for multiple concurrent migrators, one side effect is that migrators are now locking the migration table.

The issue is I am using Ecto with CockroachDB, a Postgresql variant which does not support locking and therefore I can't run my migrations anymore on master.

Could we add the support of multiple concurrent migrators behind a flag so that if

[2017-09-21 08:50] josevalim commented on #2233
Hi @tlvenn! Do you have your own adapter or are you using the Postgres adapter?

[2017-09-21 08:55] tlvenn commented on #2233
I am using a very slight fork from Postgrex just in order to override the query bootstrap function until CockroachDB support correlated subqueries.

Kinda hoping to get rid of that fork soon.

[2017-09-21 08:57] josevalim commented on #2233
@tlvenn so if I understand correctly you still use Ecto.Adapters.Posgres right? If so, we can provide a repository option called "lock_for_migrations" that defaults to "FOR UPDATE" but you can set it to nil. What do you think? Could you please send a PR?

[2017-09-21 09:00] tlvenn commented on #2233
Yes I am using `Ecto.Adapters.Postgres` and a repo option called `lock_for_migrations` would be great !

Any reason you dont want to simply use a boolean rather than "FOR UPDATE" ? Do you think the locking strategy could / should be pluggable so to speak ?

Happy to work on a PR

[2017-09-21 09:24] josevalim commented on #2233
@tlvenn I am not sure but given the default is "FOR UPDATE" and you just want to set it to nil, it covers your use case nicely and if someone needs something more in the future it will already be there. It is also less lines of code to implement.

[2017-09-21 09:26] tlvenn commented on #2233
Oky will submit a PR soon, thanks !

[2017-09-21 10:02] SLOBYYYY opened #2234 "integer gets cast into Decimal when asserting"
## Issue

When I assert the returned `category` of a `product` schema in a test, it gets converted into a `Decimal`

## Current behavior

### I have a product schema
[code]
### The test
[code]
### Debug outputs

The output of `IO.inspect valid_params`:
[code]
The output of `IO.inspect product`:
[code]
The output of `IO.inspect product.category`:
[code]
### Test output

[code]

It also fails for `a

[2017-09-21 10:50] josevalim commented on #2234
@SLOBYYYY you are comparing data.price with params.price and the goal of casting is exactly to convert an external type to your domain type. When you are casting data, it by definition should convert between types.

The price field was declared as:

    field :price, :decimal

So this is expected:

     code:  assert product.price() == valid_params.price()
     left:  #Decimal<0>
     right: 0

Fo

[2017-09-21 11:44] blatyo commented on #2233
I'm not sure the immediacy of this, but if you need it soon, you can update
your adapter fork to define the `lock_for_migrations` callback and have it
`nil` out the `:lock` option.

Allen Madsen
http://www.allenmadsen.com

On Thu, Sep 21, 2017 at 5:26 AM, Christian Meunier <notifications@github.com

[2017-09-21 12:52] tlvenn commented on #2233
@blatyo thanks for the tip, I actually dont fork the adapter but the postgresql driver Postgrex but dont worry I believe this should be quick enough.

@josevalim 2 questions for you:

1.  Name of the option: All other migration options are all prefixed with `migration_`. Shouldn't I name this one `migration_lock_type` instead for consistency ?

2. When I lookup repo config in the sql adapter with

[2017-09-21 12:55] josevalim commented on #2233
@tlvenn `:migration_lock` then sounds good. Do you know where we are discarding nil configs? We probably should not...

[2017-09-21 12:57] SLOBYYYY commented on #2234
I feel bad. I did some modification on test generating data for category and it's fine now. The `:price` comparison was stupid from my part because it should fail since I was comparing it to an integer...

Sorry for the mistake @josevalim and thank you for the quick answer!

[2017-09-21 12:57] #2234 closed

[2017-09-21 14:52] tlvenn commented on #2233
`:migration_lock` it is then ;) I don't know where we are discarding nil configs, I will look into it.

[2017-09-22 08:10] mfeckie opened #2235 "Date parsing issue"
This issue has appeared when addressing deprecations with Ecto.Date.  Now that Ecto recommends using the standard library for dates, parsing of JSON formatted dates no longer behaves as expected.

There does not seem to be similar functionality as this https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/date_time.ex#L145-L147 in the standard library's implementation of date parsing.

### Envi

[2017-09-22 09:39] tlvenn commented on #2233
Scratch that, nothing but my brain is discarding nil configs ;)

[2017-09-22 10:10] #2233 closed

[2017-09-22 18:46] mojidabckuu opened #2237 "Handle unique constraint error"
I am trying to handle the case when `unique_constraint` fails by checking `errors` for a specific key.  So I've checked the source and found that only message is given without any clarification what happened wrong, the expected behaviour is that
[code]
could contain something like
[code]
Is there any case that can help me to achieve my goal?

[2017-09-22 19:00] josevalim commented on #2237
@mojidabckuu the behaviour you proposed is available in master. :)

[2017-09-22 19:00] #2237 closed

[2017-09-25 04:33] chippers opened #2239 "Select typo'ed selelct in select docs"
https://github.com/elixir-ecto/ecto/blob/1215c2900954b5b06f3f390b2ffbcfb630763324/lib/ecto/query.ex#L725

[2017-09-26 03:02] #2239 closed

[2017-09-26 03:04] chippers commented on #2239
fixed in https://github.com/elixir-ecto/ecto/pull/2240

[2017-09-26 16:42] DocX opened #2244 "Dynamic with `...` binding in `on:` takes the last binding from previous binding rather than the join itself"
### Environment

* Elixir version: Erlang/OTP 20 [erts-9.0.5] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:10] [hipe] [kernel-poll:false] Elixir 1.5.1
* Database and version: PostgreSQL 9.6.5
* Ecto version (mix deps): 2.2.4
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Linux (Docker)

### Issue

Demo app: https://github.com/Driftrock/ecto-dynamic-binding

[2017-09-27 05:35] tlvenn opened #2245 "Timeout on running migrations"
### Environment

* Elixir version (elixir -v): 1.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): CockroachDB 1.0.6 (pg variant)
* Ecto version (mix deps): Master
* Database adapter and version (mix deps): Postgres
* Operating system: OS X

### Current behavior

Since the commit around how migrations are run (d28aebac6c3b8203750bd23e965a7ba19d42bda6) by @blatyo I have issues running m

[2017-09-27 06:15] josevalim commented on #2245
How big is your pool? You need to have at least 2 connections in your pool
for the new migrations to run. Maybe we should even check for so because
issueing the command.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-09-27 08:48] tlvenn commented on #2245
Hi @josevalim , my default pool size is set to `10` so it should not be the reason.

Strangely enough, i have another stack trace now:

[code]

At least there is no sign of transaction there anymore but still does not explain why a connection cannot be checkout.

I will try to turn on some debugging on CDB side to check if there is something useful there to understand what is happening.

[2017-09-27 09:07] tlvenn commented on #2245
So from those 2 traces, it looks like in the first case, Ecto wasn't even able to query the migration table which is done within a transaction and now somehow, it can but cannot run the first migration.

[2017-09-27 13:37] matias-moran-globant opened #2246 "Preload with in_parallel=true links the client process to an internal ecto Task.async process"
### Environment

* Elixir version: 1.5.1
* Database and version: PostgreSQL 9.4
* Ecto version: 2.1
* Database adapter and version: postgrex 0.13.3
* Operating system: Ubuntu

### Current behavior

I'm performing a query using preload with multiples associations in a process which has `trap_exit: true`. After the query ends the process receives a `{:EXIT, #PID<0.102.0>, :normal}` message which is

[2017-09-27 13:39] josevalim commented on #2246
Good call. We should clean up those messages.

[2017-09-27 14:05] juan-carlino-globant commented on #2246
As a workaround (which of course means a possible performance penalty) you can issue the same query with the option `{in_parallel: false}`.
Example: the same query above doesn't propagate the `EXIT` signal if we add this flag.

[code]

[2017-09-27 15:20] blatyo commented on #2245
Both stack traces look like it's unable to checkout a connection to run the migration in the time specified. The first wouldn't have made it to the point it did without successfully querying the migrations table.

@josevalim, is it possible connections are checked out, but not checked back in, now that the migrator is using tasks?

@tlvenn how many migrations are you running?

[2017-09-27 15:33] ospaarmann opened #2247 "Error "Repo.replace/2 is undefined or private" on Repo.update with association."
### Environment

* Elixir 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.2
* Ecto version (mix deps): 2.2.4
* Database adapter and version (mix deps): Postgrex 0.13.0
* Operating system: Alpine 3.6

### Current behavior

When testing a context I get this strange error message. I don't know what `Repo.replace/2` is and what it's supposed to do.

[code]

It started

[2017-09-27 15:49] josevalim commented on #2245
@blatyo they are supposed to be checked back once the process dies... unless there is a bug.

[2017-09-27 20:41] bigardone commented on #1211
Hi! I'm experimenting this same issue with ecto **2.2.4** after generating a production release in an umbrella project containing an application generated using `mix phx.new.ecto my_repo`.

The thing is that if I generate the release on my development machine, and then y run the release in the foreground, it works fine.

On the other hand, if I generate the release and deploy it to my production s

[2017-09-27 21:02] #2247 closed

[2017-09-27 21:07] #2235 closed

[2017-09-27 21:08] josevalim commented on #2219
@sumerman ping :)

[2017-09-27 21:30] sumerman commented on #2219
Oh, didn't realize it was @fishcakez was addressing me.

[2017-09-27 21:44] josevalim commented on #2219
Oh, maybe he wasn't! :D Thanks for doing it then! :heart:

[2017-09-27 21:44] #2219 closed

[2017-09-28 01:52] tlvenn commented on #2245
@blatyo it blocks at the first migration and I have like 12 of them right now. And with the pool size set at 10, even if they were not checked back on, the pool should still have enough connections to run the first migrations...

I am fairly convinced it's an issue triggered by CDB somehow. I am trying to understand how wrapping the migrations with Task is suddenly changing the way Ecto is interac

[2017-09-28 03:30] blatyo commented on #2245
@tlvenn If I'm reading [this](https://www.cockroachlabs.com/blog/how-cockroachdb-distributes-atomic-transactions/) correctly, CockroachDB appears to globally only support one transaction at a time. If that's the case, I'd diagnose the issue as:

1. `lock_for_migrations` creates a transaction and waits for migrations finish to close it.
2. Your first migration tries to start a transaction, but must

[2017-09-28 03:47] tlvenn commented on #2245
Thanks for the follow up @blatyo !

I think the issue comes from the isolation level CDB is operating by default which is `Serializable` while Postgres is using `Read committed` which permits phantom read which is essentially what is happening here if I am not wrong:

1. `lock_for_migrations` is opening a T1 which select all elements from migration table
2. Migration 1 is modifying the migration t

[2017-09-28 03:58] tlvenn commented on #2245
Maybe actually a deadlock is expected while the server is waiting for T1 to be committed and then it would raise.

[2017-09-28 04:00] tlvenn commented on #2245
If I am not wrong, this shows that this locking strategy for migration is not compatible when the database use `Serializable` for its transaction isolation.

[2017-09-28 09:01] josevalim commented on #1211
I would start by checking if the `postgrex` application is available when compiling Ecto and when building the release.

[2017-09-28 10:08] bigardone commented on #1211
Thanks Jose for the response.

What’s the best approach to do that?
Thanks in advance :)

[2017-09-28 11:45] blatyo commented on #2245
@josevalim It would be possible to support serializable isolation level. It would require a larger refactoring of the migrator though. If that's not what happens, there will at least need to be an off switch and docs about this.

I'll try out changing things to support serializable and we can see how complex it is.

[2017-09-28 12:21] josevalim commented on #2245
@blatyo isn't the issue DDL transactions though?

@tlvenn the deadlock is on the application side, there are no shared resources, so the server is probably correct in not emitting anything. Maybe we can allow the serialization level to be configured in lock_for_migrations?

[2017-09-28 12:30] tlvenn commented on #2245
All my migrations use '@disable_ddl_transaction true' so as far as I know, only the `lock_for_migrations` is opening a transaction I think.

Configuring the isolation level to be used for migration would work I believe, CDB can drop to snapshot isolation for a given transaction for example:

[2017-09-29 07:47] josevalim commented on #2221
I believe the error is because you have two relationships and we are merging different "versions" of it, one that succeeded and another one that failed. More info soon.

[2017-09-29 09:28] #2221 closed

[2017-09-29 12:30] Zeeker opened #2250 "Migrations: Silent version collision in umbrella apps"
### Environment

* Elixir version: 1.5.1
* Database and version: Postgres 9.6.5
* Ecto version: 2.1.0
* Database adapter and version: Postgrex 0.13.3
* Operating system: macOS 10.12.6 (Sierra)

### Current behavior

Let's assume I have an umbrella application with multiple apps. The apps `foo` and `bar` both have their own repo, operating on the same database but each using a different schema in t

[2017-09-29 12:59] josevalim commented on #2250
How would we know that the migration version collides? Every time you run `ecto.migrate`, you will have a bunch of colliding versions for the migrations you ran in the past. The only alternative is to store the name, which I don't think we should. For example, what if there is a typo in the file that is fixed in another release?

In your case, I would simply give each app a different migration tab

[2017-09-29 18:56] mjaric opened #2251 "tds_ecto is unable to build align parameter names correctly when used WHERE ? IN (?) AND ? = ?"
### Environment

* Elixir version (elixir -v): 1.4.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MSSQL any version
* Ecto version (mix deps): 2+
* Database adapter and version (mix deps): tds_ecto 2.0.0-alpha3
* Operating system: Windows, Linux, MacOS

### Current behavior

When building query with ecto, eg:
[code]
Query is built as
[code]
...and executed with parameters [1, 23, 43

[2017-09-29 19:05] josevalim commented on #2251
You don't need to use array types like Postgres. MySQL has the same limitation and it works there. Have you investigate MySQL?

It is also worth pointing out that Ecto had a bug related to this and Ecto 2.2.5 was released this morning with a fix. Have you tried it?

[2017-09-29 19:11] mjaric commented on #2251
I will pull new version and check it

[2017-09-29 19:32] mjaric commented on #2251
Yes, latest version works. Thanks!!!

[2017-09-29 19:32] #2251 closed

[2017-09-30 15:13] ZombieHarvester opened #2253 "interpolation error in LIKE after upgrading to 2.2.5: (Postgrex.Error) ERROR 42P18 (indeterminate_datatype): could not determine data type of parameter $2"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 9.6.5
* Ecto version (mix deps): 2.2.5
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: MacOS Sierra

### Current behavior

I've started getting `(Postgrex.Error) ERROR 42P18 (indeterminate_datatype): could not determine data type of parameter $2`

[2017-09-30 15:36] josevalim commented on #2253
Can you please provide the full query as it is logged?

[2017-09-30 15:43] ZombieHarvester commented on #2253
[code]
generated sql
[code]

[2017-09-30 15:48] ZombieHarvester commented on #2253
seems like in generated sql there should be `ILIKE $2` insted of `ILIKE $3` since we have only two params

[2017-09-30 16:07] josevalim commented on #2253
I have pushed a fix to the v2.2 branch, can you please give it a try? Just add to your mix.exs:

     {:ecto, github: "elixir-ecto/ecto", branch: "v2.2", override: true}

If it works, I will ship a new Ecto.

[2017-09-30 16:34] ZombieHarvester commented on #2253
@josevalim it now works, generated sql shows `ILIKE $2`. thanks

[2017-09-30 17:35] josevalim commented on #2253
v2.2.6 is out!

[2017-09-30 17:35] #2253 closed

[2017-10-02 09:43] xadhoom opened #2256 "Cannot run migrations with latest git"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version : PostgreSQL 9.5
* Ecto version (mix deps): master at https://github.com/elixir-ecto/ecto/commit/39f23475983228585d463d4d2a90937fd9bc1407
* Database adapter and version: postgrex 0.13.3
* Operating system: Linux Fedora 26

### Additional information
A very barebone app to test the issue: https://github.com/xadhoom/test_ect

[2017-10-02 12:02] josevalim commented on #2256
/cc @blatyo

[2017-10-02 12:04] josevalim commented on #2250
Thanks for the report @Zeeker! For now, I recommend for you to use the `:migration_source` option to store them in different tables. If you prefer, you can even send a PR that introduces a `:migration_prefix` if you want to store each migration in a different prefix as well.

[2017-10-02 12:04] #2250 closed

[2017-10-02 12:04] josevalim commented on #2156
This is in master.

[2017-10-02 12:04] #2156 closed

[2017-10-02 12:07] josevalim commented on #2018
I have removed the old datetime types from Ecto master and I have removed the usec precision from `:time`, `:naive_datetime` and `:utc_datetime`.

The work that is left to do is to introduce the types `:time_usec`, `:naive_datetime_usec` and `:utc_datetime_usec` and make sure they are respected in migrations. We should also check if `datetime_add` works with the usec ones (see integration_test/cas

[2017-10-02 13:37] blatyo commented on #2256
Thanks for the test repo @xadhoom. I've duplicated the issue with your repo. Very clearly not exhausting the connection pool and no special isolation level. I'll take a look tonight.

[2017-10-02 15:27] narrowtux opened #2257 "create index now adds illegal parantheses around columns"
Before 2.1.6,

[code]

generated this SQL query:

[code]

now it generates this one: (added parantheses around each column, which are illegal syntax)

[code]

This might have been done to make it easier to add expression to indexes, however they are not the only things we need the free-form input for. Now postgres considers everything in the parantheses as an expression and some of the old migrati

[2017-10-02 16:00] josevalim commented on #2257
This has been fixed on Ecto v2.2.0 and later: https://github.com/elixir-ecto/ecto/commit/c093edaebc87fdb50cdf5e14422fa22cf6097c79

[2017-10-02 16:00] #2257 closed

[2017-10-03 00:26] blatyo commented on #2256
My preliminary investigation, even though the database is setup with a pool size of 10, there is only one connection available in the pool. I'm investigating why that is, but the issue is pool exhaustion.

[2017-10-03 00:32] blatyo commented on #2256
@xadhoom I'm not sure if this is currently blocking you. If it is, doing `mix ecto.migrate --pool-size=2` should get you past this issue.

[2017-10-03 00:33] blatyo commented on #2245
@tlvenn can you try running `mix ecto.migrate --pool-size=2`

[2017-10-03 03:18] safwank commented on #2181
@josevalim Is the fix only gonna be included in v3.0?

[2017-10-03 03:30] blatyo commented on #2256
I've also create PR #2259 to make this situation less confusing

[2017-10-03 05:29] tlvenn commented on #2245
Hi @blatyo, running `mix ecto.migrate --pool-size=2` actually works...

Reading the migration doc again, I realize now that the migrations are run with a pool size of 1 by default if the repo is started as part of running a mix task.

So looks like @josevalim initial intuition was correct and it's indeed a pool size issue when executed within a mix task. Right now the default is 1, we should proba

[2017-10-03 07:33] xadhoom commented on #2256
yep, it works thanks!

[2017-10-03 08:11] #2256 closed

[2017-10-03 08:12] #2245 closed

[2017-10-03 08:16] tlvenn commented on #2245
@josevalim shouldn't we make a PR to bump the pool size to 2 by default ?

[2017-10-03 08:19] josevalim commented on #2245
The PR is already in master. :)

[2017-10-03 08:22] josevalim commented on #2181
@kcurtin there are no plans for it right now so it isn't tracked anywhere. You can do `App.Model.__schema__(:fields)` or similar to get all fields and remove the ones you want.

@safwank yes because it augments the adapter APIs and for this reason it can't be included in a point release.

[2017-10-03 08:31] tlvenn commented on #2245
I guess the PR failed to mention this issue then ;) Thanks a lot by the way.

[2017-10-03 09:22] safwank commented on #2181
@josevalim Are you suggesting a temporary workaround would be to do something along these lines?

[code]

[2017-10-03 09:23] josevalim commented on #2181
@safwank not exactly like that but something like that, yes, correct.

[2017-10-03 09:23] safwank commented on #2181
Hah, just realized it wouldn't actually work, but point taken 👍

[2017-10-03 10:03] narrowtux commented on #2257
Can't upgrade to ecto 2.2.0 just yet, so I downgraded to 2.1.4

[2017-10-04 07:54] Zeeker commented on #2250
@josevalim I wasn't aware of the `migration_source` option, I'll definitely make use of that for our case. In addition to thinking about a `migration_prefix` wouldn't it make sense to think about a general global `prefix` config per `Ecto.Repo`?

[2017-10-04 08:02] xadhoom opened #2260 "Error in subqueries with map updates and virtual fields"
### Environment

* Elixir version: 1.5.2
* Database and version: PostgreSQL 9.5
* Ecto version: master at 42d47a6 . Same with lastest 2.2
* Database adapter and version: postgrex master at a6c1f19
* Operating system: Linux Fedora 26

### Current behavior
I'm playing with schema virtual fields in order to select computed values without having to pollute the database with empty fields.
In my use cas

[2017-10-04 08:06] xadhoom commented on #2260
A workaround is to add the field into the schema as a non virtual and into database, like any other field.
This pollutes the tables (unused fields) but works.

[2017-10-04 08:53] josevalim commented on #2250
This option is already available as an after_commect callback which can be
used to change the connection scheme as a whole.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-10-04 10:22] xadhoom commented on #2260
the user [kylethebaker](https://elixirforum.com/u/kylethebaker) on the forum pointed out another solution, which may be the correct way or a workaround: https://elixirforum.com/t/ecto-subqueries-with-virtual-fields/9075/13?u=xadhoom

Basically using the select_merge statement and not doing the map update in the subquery does the trick:

[2017-10-04 10:41] josevalim commented on #2260
We should probably make it work and if it doesn't raise an appropriate error message.

[2017-10-04 11:19] anronin opened #2261 "Parameters are not passed inside the parentheses in the COPY (...) TO query"
### Environment

* Elixir version (elixir -v): Elixir 1.6.0-dev (921f17e21)
* Database and version: PostgreSQL 9.6
* Ecto version (mix deps): ecto 2.1.4
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Ubuntu 17.04

### Current behavior

I'm trying to export data from db to csv file for current user and get some strange error.
To simplify my request, I will give an ex

[2017-10-04 11:42] josevalim commented on #2261
I believe Postgres' COPY does not allow parameters to be given. They need to be passed in the query as you specified.

[2017-10-04 11:50] anronin commented on #2261
but I specify parameters for `query` inside parentheses and not for COPY, is there are some workaround, because query may be very complex?

[2017-10-04 11:54] josevalim commented on #2261
The outer expression is still a COPY. I am not sure if there is a workaround when this is a Postgres limitation.

[2017-10-04 12:35] xadhoom commented on #2261
Why not just pass the interpolated string ?

<pre>
iex(17)> id = 1
1
iex(18)> q = "COPY (SELECT username FROM users WHERE id = #{id}) TO STDOUT WITH CSV"
"COPY (SELECT username FROM users WHERE id = 1) TO STDOUT WITH CSV"
iex(19)> Repo.query(q)
[debug] QUERY OK db=2.3ms queue=0.1ms
COPY (SELECT username FROM users WHERE id = 1) TO STDOUT WITH CSV []
{:ok,
 %Postgrex.Result{columns: nil, command: :

[2017-10-04 12:39] anronin commented on #2261
it's simplified query, it's maybe very complex with 5-6 params and may vary

[2017-10-04 12:42] xadhoom commented on #2261
well, if you're building a complex query for Repo.query API, it always a string, so you may interpolate as many parameters as needed.
Obviously you need to take care of escaping.

Another issue is if you're trying to do it using the Ecto query DSL.

[2017-10-04 12:48] anronin commented on #2261
i need to use COPY as its fastest variant and no need to use something like `CSV.encode` from https://github.com/beatrichartz/csv, but `query` may vary from that simply as above for all subscribers for user, and maybe only from the list (for that query, i use Ecto query dsl). And for that complex query, i got an error

[2017-10-04 12:49] josevalim commented on #2261
There isn't because Ecto never interpolates those. We always pass them as parameters to the query, which is something that may not be possible in COPY. Which puts us back in the starting place.

[2017-10-04 12:57] anronin commented on #2261
i get it, but maybe if i can prepare query and then interpolate it to COPY, `some_func` maybe:
[code]
?

[2017-10-04 13:00] josevalim commented on #2261
We have no plans for introducing this for this particular feature only. That's why it is probably best for you to tackle that in your app.

[2017-10-06 02:41] pulzzejason commented on #1964
Is this issue being worked on?  I saw that dynamic **pool** configuration was delivered in #1977.

I am working on an application which allows users to connect and query databases at runtime and I cannot use Ecto if it depends on config files.  I would love to start using this if possible.

[2017-10-06 06:18] josevalim commented on #1964
@pulzzejason this is up for grabs, so please go ahead. What is left is to introduce a Ecto.DynamicRepo that accepts configuration (or a DynamicRepo instance) as first argument and then works like `Ecto.Repo`.

Folks that have requested this feature so far, do you want to connect to the database on every query or do you want to have still be able to start the dynamic repository and have queries run

[2017-10-06 06:21] josevalim opened #2265 "unsafe_fragment should support dynamic arguments"
We have added `unsafe_fragment/1` and in a later commit I added the ability to interpolate arguments on it, such as `unsafe_fragment(^"? = ?", left, right)`. The issue with this proposal is that the number of arguments is very likely not statically known so we should support something instead.

We need to either support the second argument to be a list or allow `unsafe_fragment` to be a list of st

[2017-10-06 06:25] josevalim commented on #2261
Confirmed this is a Postgres issue. Params can't be given to query so you should interpolate them yourself.

[2017-10-06 06:25] #2261 closed

[2017-10-07 12:17] mackstar commented on #1647
For anyone else struggling with this, just add
[code]
to your connection and it solves this issue.

[2017-10-07 19:13] fishcakez commented on #1964
I don't think we should support connect to database on every query/transaction because it will be very slow and so few people would use it. Every transaction (a single query is an implicit transaction) would require a surprising number of round trips before the actual transaction begins. Also I'm not sure how easy it would be to get clean socket shutdown working in the client drivers. If we don't

[2017-10-11 13:15] tansaku opened #2268 "missing parens from timestamps prevents creation of table, but shows no error"
### Environment

* Elixir version (elixir -v):  Elixir 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.3
* Ecto version (mix deps): ecto 2.2.1
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: C9 Ubuntu 14.04.5 LTSu

### Current behavior

We just created a migration like this:

[code]

and when we ran it we got the following on the comman

[2017-10-11 13:15] #2268 closed

[2017-10-11 17:17] atomkirk commented on #1610
So whats the resolution on this? This is causing my project to compile 130 files on most file changes (very association-heavy application) and I'm about to go fix all my associations with `Module.concat(ZB, User)` in all my schemas. Please stop me if not necessary :)

[2017-10-11 17:25] josevalim commented on #1610
@atomkirk this is supposedly fixed on master. What is your ecto version?

[2017-10-11 17:30] atomkirk commented on #1610
2.1.6

[2017-10-11 17:43] josevalim commented on #1610
@atomkirk can you provide a sample app taht reproduces the error? because for all purposes this is no supposed to happen. :)

[2017-10-11 18:04] atomkirk commented on #1610
Well, I haven't a clue why its happening so I doubt I could create a sample app. I suspect this is my own problem to solve and I've accidentally done something wrong. I'm trying to debug it with mix xref and I can't seem to figure out why editing one `user.ex` file would recompile 136 other files. They are all regular .ex modules in my project. Is there a list somewhere of things that trigger a re

[2017-10-11 18:14] OvermindDL1 commented on #1610
What about `mix xref callers --format pretty --sink MyServer.User` or so.

[2017-10-11 18:18] josevalim commented on #1610
http://milhouseonsoftware.com/2016/08/11/understanding-elixir-recompilation/

[2017-10-11 19:10] atomkirk commented on #1610
Ok, yes I've read that article about 3 times in the past month and I'm really struggling to understand why this is happening. I have have two files A -> B and I'm trying to break every possible compile dependency between them and yet changing A recompiles B. Do you have any suggestions on how I can get help with this without taking this issue further off topic?

[2017-10-11 19:33] josevalim commented on #1610
@atomkirk just to clarify, if A depends on B then changing B will recompile A. In any case, you need to understand why the dependency exists and what is setting it to compile time. Are you sure it is a has_many or could it possibly be something else?

[2017-10-11 19:34] josevalim commented on #1610
You also need to confirm which files are being recompiled, are they really other Ecto schemas? You can use the --verbose flag:

    mix compile --verbose

[2017-10-11 19:42] atomkirk commented on #1610
I replaced all my associations with Module.concat, so I don't think its the ecto associations that are causing the problem. Thats why I'm asking if there is a good way to get help outside of this issue (since my problem does not seem to be the topic of this issue). Maybe I could open a new issue regarding this? I really don't think I'm doing anything crazy with my app. I don't think we'd mind shar

[2017-10-11 19:52] atomkirk commented on #1610
Ok I have the go ahead to share a prepared copy of our app with just you if you're interested. It could be something really stupid I did but maybe there's something that could help other elixir beginners from making the same mistake.

[2017-10-11 20:14] josevalim commented on #1610
Please send me a zip (without the .git, _build and deps directory - you most likely can get one from github) to my github e-mail. :)

[2017-10-11 20:59] atomkirk commented on #1610
Ok, actually, I've figure out whats going on. I did a find and replace in my entire project for ` in App.Model` (like as in queries `from i in App.Model, where: …`) and replaced them all with `Module.concat(App, Model)`.

Then in my main app module, I did `worker/supervisor(Module.concat(App, Module))`

And now my app is pretty much fixed. I changed a lot of different files and they all triggered

[2017-10-13 00:12] rhetzler opened #2274 "Preloader forces early evaluation/collection of Repo.stream (2.1+, inc master)"
Repo.all and Repo.stream both pass through Ecto.Repo.Preloader.query/5, which forces evaluation/collection of the enumerable. This was probably already an issue when Repo.stream was introduced in https://github.com/elixir-ecto/ecto/commit/4f7d1fdcf627995444362c7724a69d02d64bf5ea ( @fishcakez )
since Preloader.query was written (to be fair) long before Repo.stream and not with streaming in mind.

1

[2017-10-13 02:18] rhetzler commented on #2274
ok, it seems the intent was to have the preloader work on batches, wherein any given batch could be expected to have already been collected/evaluated.

The underlying driver has the option of providing:
1. a single batch backed by a stream:
 ```[{nil, stream}]```
2. a stream of batches size 1:
 ```Stream.map(stream, &{nil, [&1]})```
3. anything in between, depending on implementation.

The first o

[2017-10-13 02:18] #2274 closed

[2017-10-13 05:09] fishcakez commented on #2274
The API is designed for a stream that chunks into batches of size N (SQL drivers default to 500 rows). It will handle preload for each chunk as it is fetched. In SQL we are always inside a transaction and want to read the preloads at the same time we do the main query (fetch) to ensure data consistency as best we can. Therefore if there are 2000 rows and 3 preloads, we fetch 4 chunks of 500 and ex

[2017-10-13 05:47] rhetzler commented on #2274
Thanks for your feedback!

I'm looking at adding stream support into the mongodb_ecto/ecto-2.1 branch (mongodb driver has a streaming cursor already)

In the absence of preloads, exposing the underlying cursor directly to the stream seems ideal (ie, option 2 above), but with preloads, what you suggested (as i meant to infer with option 3 above) will yield better performance, i agree.

Thanks again

[2017-10-13 06:10] josevalim commented on #2274
@rhetzler also note you don't need to add a comment to previous issues in reference to the new one. This makes maintainers receive 3 emails instead of only one. Thanks.

[2017-10-13 15:57] hauleth commented on #2165
You can use `Ecto.Query.API.type/2` for now as a quick fix.

[2017-10-13 19:30] umamaistempo opened #2277 "Changeset.filters (Ecto.Changeset.optimistic_lock/3) doesn't work with nil fields"
## Environment

* Elixir version (elixir -v): Elixir 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): 2.2.0
* Database adapter and version (mix deps): postgrex 0.13
* Operating system: Arch Linux

### Current behavior

Right now, if using `Changeset.optimistic_lock` on a nil field, it will always return an `Ecto.StaleEntryError`

Example c

[2017-10-13 20:24] Rovel opened #2278 "Error compiling deps since last update, not sure...."
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PG 9.6
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): postgrex, "0.13.3
* Operating system: OSX sierra

### Current behavior

Hi,
I was going to update a personal project that was built when phoenix 1.3 was just released, so when I run:
`mix deps.get && mix

[2017-10-13 20:37] josevalim commented on #2277
Good catch!

[2017-10-13 20:39] josevalim commented on #2278
Apartmentex was using private modules of Ecto. We changed our private modules, as we are allowed to do, and that broke Apartmentex. The solution is to copy the private functions Apartmentex was using to their repo (or at least file a report there). Thanks!

[2017-10-13 20:39] #2278 closed

[2017-10-13 20:58] Rovel commented on #2278
Thanks

Filipe Veloso
Diretor de Tecnologia e Operações
Tel. 55 11 2386-2001
Cel. 55 11 99195-3155
www.umanni.com.br
Responda a nossa pesquisa de satisfação:
https://goo.gl/forms/kYP9pK0mShvDgW7F2

2017-10-13 17:39 GMT-03:00 José Valim <notifications@github.com>:

[2017-10-17 14:49] meatmachine opened #2279 "Ecto.Query.preload with module name is not working as expected"
### Environment

* Elixir version: Elixir 1.4.2
* Database: PostgreSQL 9.6
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): postgrex 0.13.2
* Operating system: macOS 10.12.6

### Current behavior
Code sample:

[code]

in second case it trows an error: `schema App.Card does not have association App.Card`

### Expected behavior

Expected (according to @ericmj) both cases t

[2017-10-17 14:54] ericmj commented on #2279
The preloader should call `Ecto.Queryable.to_query/1` on all passed queryables instead of expecting them to already be `%Ecto.Query{}`.

[2017-10-17 15:16] josevalim commented on #2279
@ericmj the issue is that we also allow it to be an atom which is the association name and we can't call Ecto.Queryable on that (at least not for atoms). I think our best option here is to improve the error message if the atom starts with "Elixir.". Thoughts?

[2017-10-17 17:47] ericmj commented on #2279
Can we check if the atom is an association and then call the protocol?

[2017-10-17 18:17] josevalim commented on #2279
This means a typo in the association name will now become a much worse error message, no?

[2017-10-17 18:25] ericmj commented on #2279
We can still special handle the error message by checking Elixir. like you
suggested/

On Tue, Oct 17, 2017 at 8:17 PM, José Valim <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2017-10-18 10:53] hauleth opened #2280 "Support for `NULLS {FIRST|LAST}` in `order_by`"
This could help with writing some non-standard orderings.

However I have no idea how example syntax could look like. I thought about:

[code]

and

[code]

And I like the first one more, however I do not know how about others.

[2017-10-18 10:57] josevalim commented on #2280
can't you use fragments?

[2017-10-18 11:15] hauleth commented on #2280
@josevalim I can. To be honest I am using them awfully lot (I am currently writing bunch of libraries to simplify using build in functionalities in SQL via fragments), however I think that such think should be allowed in Ecto natively.

Main point for that is about unifying syntax of my [`window/2` macro](https://github.com/hauleth/ecto_olap/blob/e685905f8f86bdbfbe58b050bbad407fb34b15e5/lib/window

[2017-10-18 11:35] josevalim commented on #2280
@hauleth the tricky part here is the supporting it across databases.

PG and Oracle support NULLS FIRST AND NULLS LAST. ASC is the same as ASC NULLS LAST and DESC is the same as DESC NULLS FIRST.

MySQL does not support any of that and ASC is the equivalent to ASC NULLS FIRST. So we could introduce `:asc_nulls_last` and `:asc_nulls_first` and say that `:asc` defaults to the database ordering but I

[2017-10-18 11:45] hauleth commented on #2280
@josevalim on MySQL you can [mock that by using `-column DESC`](http://troels.arvin.dk/db/rdbms/#select-order_by).

[2017-10-18 11:54] josevalim commented on #2280
@hauleth this page is very useful! :+1: Given that:

I think we need to add all of `asc_nulls_first`, `asc_nulls_last`, `desc_nulls_first` and `desc_nulls_last` and say that without the qualifiers the order is database dependent (and MySQL can only implement two of those).

[2017-10-19 14:54] erez-rabih commented on #1961
I just stumbled on the same issue.
I have to say I do understand both sides but I think that it is the responsibility of the developer to handle nil values.
I think it should be a warning that may be explicitly disabled by the developer.

My use case: I want to allow users filtering a resource with query parameters, for example:
`GET /user/:id/posts?last_viewed_at=nil` to receive posts that were n

[2017-10-19 18:09] josevalim commented on #1961
My first option would be to decoupled those two. If you want posts that have not been viewed before, have this be its own filter:

    ?unviewed=true

Then in your code you will do:

    query =
      if params["unviewed"] do
        from q in query, where: is_nil(q.last_viewed_at)
      else
        query
      end

You can even keep it as you do today and change your ^filter_keyword_list to igno

[2017-10-19 19:36] dipth opened #2281 "Error when using subquery containing window function"
### Environment

* Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Elixir 1.5.1
* PostgreSQL 9.6.3 on x86_64-apple-darwin16.5.0, compiled by Apple LLVM version 8.1.0 (clang-802.0.42), 64-bit
* ecto 2.2.6
* postgrex 0.13.3
* mac OS X High Sierra 10.13 (17A405)

### Current behavior

Given the following module:

[code]

And th

[2017-10-19 19:54] josevalim commented on #2281
If you replace `limit: ^limit` by `limit: 8` does it work?

[2017-10-19 19:56] dipth commented on #2281
No, no effect

[2017-10-19 20:14] josevalim commented on #2281
@dipth OK. So is there any chance you are debugging the wrong query?

Instead of `BlogPost.newest_for_frontpage(8) |> Repo.all` can you try:

    Ecto.Adapters.SQL.to_sql :all, BlogPost.newest_for_frontpage(8)

[2017-10-19 20:18] dipth commented on #2281
@josevalim I assume you mean `to_sql/3` including the repo, as `/2` is private:

[code]

[2017-10-19 20:49] josevalim commented on #2281
I tried to reproduce it locally and failed. Do you have some sort of a minimal query that reproduces it?

[2017-10-19 21:23] dipth commented on #2281
@josevalim I created a new minimal repo that reproduces the error:
https://github.com/dipth/ecto_subquery_error

[2017-10-19 21:42] whitepaperclip opened #2282 "Update documentation for prepare_changes"
The current example shows:

[code]

However, this cannot work, since the call to `cast()` doesn't put the `post_id` into `changeset.data`, only `changeset.changes`.

[2017-10-22 06:19] erez-rabih commented on #1961
I agree that's an option, I just this it over complicates a simple and basic operation on RESTful APIs.
On that same model, I have 5 fields marking either time or nil and that makes the query parsing very cumbersome.

Again, I do understand that the intention is good but why make this an error and not a warning?

[2017-10-22 10:54] josevalim commented on #1961
@erez-rabih because when you getting it wrong the security implications are very drastic and in some cases may give an attacker access to someone else's account. If you are doing it for 5 fields, you can still make it dynamic via a function:

[code]

[2017-10-22 11:19] erez-rabih commented on #1961
The `field` function you mentioned above may ease the pain here, thanks for taking the time to explain this.

[2017-10-23 00:57] grounded-warrior opened #2284 "start_link undefined all of a sudden?"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgresql 9.5
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): 0.13.3
* Operating system: Ubuntu 16.04.3

### Current behavior
Can't start app all of a sudden in production
[code]

[2017-10-23 01:58] grounded-warrior commented on #2284
Downgrading to 2.2.2 resolves this issue, but I still can't upgrade to 2.2.6

[2017-10-23 06:44] josevalim commented on #2284
I can't reproduce this. Can you try upgrading to 2.2.6, removing `_build` and then compiling from scratch?

[2017-10-23 10:46] AndrewDryga commented on #1961
@josevalim do you mind if I create a PR that adds a notice about `nil` handling to Ecto.Query moduledoc? It seems like a common question people are asking and by doing a search by `nil` on `Ecto.Query` docs I wasn't able to find any notices on this behavior.

[2017-10-23 11:38] josevalim commented on #1961
@AndrewDryga sure! Do you think it belongs in the module doc or in where docs?

[2017-10-23 11:42] AndrewDryga commented on #1961
@josevalim I think it should be in module doc, because it's a general consideration we have taken and we are going to reapply it elsewhere.

Eg. we already have `or_where`. And, I guess, it's also applying for `having`.

[2017-10-23 11:52] josevalim commented on #1961
Beautiful, please do! :+1:

[2017-10-23 23:45] andrelip commented on #2021
@valyukov Don't know how to set the table looking for your code. Can you provide an example?

I had to denormalize a key and in my case I solved the conflict creating a subquery.

[code]

[2017-10-24 11:04] valyukov commented on #2021
@andrelip Hi there, my code just fix mysql/mariadb specific error.
Could you provide more information about what exactly you are trying to do?

[2017-10-26 07:19] LostKobrakai opened #2287 "Enhancement for `Ecto.Query.group_by` docs"
### Environment

* Elixir version (elixir -v):
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps):
* Operating system:

### Current behavior

The docs of `Ecto.Query.group_by` do mention that one can supply a list of fields, but there's not really a good example to go with it.

From the current text `group_by also

[2017-10-26 08:11] ericmj commented on #2287
We can add example taking a list like you proposed. A PR would be appreciated.

[2017-10-27 13:12] silviurosu commented on #1748
I am having a similar problem. I have a jsonb array instead of map.  I tried this two ideas but without success:
1)
`where: fragment("not ? @> '[?]'", c.exclusions, ^dish_id)`
It generates this sql:
`(not o0."exclusions" @> '[$2]')`
and does not run:
`** (Postgrex.Error) ERROR 22P02 (invalid_text_representation): invalid input syntax for type json`
2)
[code]
This generates:
`(not o0."exclusions" @

[2017-10-27 15:47] imranismail commented on #1942
Please revisit this, I've faced this issue when trying to migrate and old rails app to phoenix.

[2017-10-30 10:06] #2282 closed

[2017-10-30 18:21] andrelip commented on #2021
@valyukov My "Book Leasing" have a relationship to book through another table (BookCopy). I had to denormalize so I've created a direct key called book_id. When I had to update I've joined "book_copies" in c and tried that code:
[code]
But it got a conflict of multiple sources for "id" even using c.id. The only solution I found is renaming id from book_copies to another name using a subquery.

[2017-10-31 19:17] ZhengQingchen opened #2289 "fragment/1 can't auto dump uuid string to a binary of 16 bytes"
### Environment

* Elixir version (elixir -v):
Elixir 1.6.0-dev (ba19fc8) (compiled with OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
PostgreSQL 10.0
* Ecto version (mix deps):
2.2.4
* Database adapter and version (mix deps):
"postgrex": {:hex, :postgrex, "0.13.3"}
* Operating system:
Mac OS
### Current behavior
Fragment can't auto dump uuid string to a binary of 16 bytes
[c

[2017-11-01 01:48] shulhi opened #2290 "on_replace: :update ignores association with put_assoc"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6
* Ecto version (mix deps): 9a45b6c
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Ubuntu 16.04

### Current behavior

[code]

`updated_shift.schedule` still refers to the old `schedule`

### Expected behavior

I expect `updated_shift.schedule` will be

[2017-11-01 08:05] josevalim commented on #2290
Can you provide a test case that runs in our test suite? It will make our lives much easier as we can then focus on the fix. Thanks!

[2017-11-01 08:08] josevalim commented on #2289
Have you tried casting it explicitly?

[code]

Although that may not work since a UUID is a binary, so it is hard for us to say which binary do you want.

[2017-11-01 08:09] josevalim commented on #2284
Please let us know if you have more info.

[2017-11-01 08:09] #2284 closed

[2017-11-01 08:17] ZhengQingchen commented on #2289
The targets is a  list of `:binary_id`
and I try this
[code]
It's work.  👍

[2017-11-01 08:21] josevalim commented on #2289
Hooray! :heart:

[2017-11-01 08:21] #2289 closed

[2017-11-01 09:33] #2287 closed

[2017-11-01 13:48] shulhi commented on #2290
@josevalim you can checkout my branch here - https://github.com/shulhi/ecto/tree/onreplace_update_bug,  and run the test with `MIX_ENV=pg mix test --only maybe_bug`

The test is here https://github.com/shulhi/ecto/blob/onreplace_update_bug/integration_test/cases/assoc.exs#L674, I am not sure if it is a bug or my lack of understanding. I couldn't really figure out the correct behavior of `:update`

[2017-11-01 21:08] mylanconnolly commented on #1964
I agree with @fishcakez here.

I'd mostly be using this dynamic repo functionality for a multi tenant scenario, so I'd like to keep the connections open.

In Go (which is currently being used), I keep a map that references the database connection pointers with keys being the tenants' IDs. If it's not found, it creates a new one, stores a pointer to it in the map and allows me to use it.

Because w

[2017-11-02 00:32] jayjun commented on #2290
If I’m not mistaken, `put_assoc/3` only changes foreign keys while `on_replace: :update` ignores foreign key changes, so they cancel each other out.

If that's true, documentation should be improved or an error be raised? (similar to `on_replace: :raise`)

[2017-11-03 12:21] valyukov commented on #2021
Ok, I see. I have a few questions for you:
1. Did you try Ecto join/update query expression which allow explicit binding passing?
2. Why did you think that my path leads to this kind of problems?

[2017-11-05 21:32] #2018 closed

[2017-11-06 22:50] AndrewDryga opened #2296 "No function clause matching in Ecto.Query.Planner.subquery_fields/2"
By playing with our queries I've got a function clause match exception:
[code]

I guess even if I did something not allowed by Ecto for a purpose, exception message still should be better.

[2017-11-07 01:17] bglusman commented on #2081
Curious if anyone is actively using this feature at present on a compound partial index?  I created one and upgraded to Ecto 2.2.6 specifically to use this, and the synxtax was recognized, but it errors:
` ** (Postgrex.Error) ERROR 42704 (undefined_object): constraint "my_exotic_constraint_name" for table "my_table" does not exist`, but I checked on both dev and test databases and the unique parti

[2017-11-07 09:51] Harrisonl opened #2297 "Using order_by results in half the results?"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6.5
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): 0.13.3
* Operating system: MAC OSX

### Current behavior

When using the below query I will get half the number of results of the limit field when `order_by` is present:

e.g. if `limit: 8` i get 4 results

[2017-11-07 09:59] #2297 closed

[2017-11-07 09:59] michalmuskala commented on #2297
This is caused by the preload though a join. When you join on a table, the database will return `n * m` results, the `limit` applies to that result.

When you preload from join for a `has_many` relation, ecto will deduplicate what database returns and fold into nice structs.

While I understand this behaviour might be surprising, it is expected and there's not much we can do. I would suggest remov

[2017-11-07 10:00] Harrisonl commented on #2297
realised the problem - I had a preloads in the query as well (above query is truncated) which caused the results to be limited. Will dig into why

[2017-11-07 10:00] Harrisonl commented on #2297
@michalmuskala beat me to it! Thanks for the explanation, that makes sense.

[2017-11-07 11:00] AndrewDryga commented on #2296
@josevalim I've updated our Ecto to latest version, exception is somewhat different now:

[code]

Is there are something that stops us from supporting map updates in subquery? I can take a look a little bit later if we want to have that feature.

[2017-11-07 11:28] AndrewDryga commented on #2296
This happens [here](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/query/planner.ex#L1083) because of `__schema__(:fields)` which does not return virtual fields (by design).

[2017-11-08 14:03] josevalim commented on #2265
Closing in favor of the PR.

[2017-11-08 14:03] #2265 closed

[2017-11-08 16:47] 1player commented on #2165
Unfortunately `Ecto.Query.API.type/2` is not a good fit when I want to cast the field to a custom type.

In my case the field is generated by MySQL's GROUP_CONCAT function, which returns a comma separated string array (e.g. `foo,bar,baz`), which I'd like to convert to a list.

I'm confident Jose will get to this eventually. 👍

[2017-11-09 13:08] shulhi commented on #2290
@josevalim do you had a chance to look at this? I am curious if this really a bug or it is intended behavior like explained by @jayjun. I can help with improving the documentation if so.

[2017-11-09 18:51] zachdaniel commented on #2296
@AndrewDryga try using `select_merge` instead of  a map update.

[code]

[2017-11-10 07:41] freshtonic opened #2301 "Possible multi-process transaction side effect visibility bug"
For a test that reproduces the issue see: https://github.com/team-alembic/possible-ecto-concurrency-and-transactions-bug/blob/master/test/possible_ecto_transaction_bug_test.exs

### Environment

* Elixir version (elixir -v):
[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

[code]

* Ecto version (mix deps):

`2.2.6`

* Database adapter and version (mix deps):

`postgrex 0.13.3`

[2017-11-10 07:45] freshtonic commented on #2301
For reference, this is the failing test from the referenced git repo:

[2017-11-10 07:45] freshtonic commented on #2301
The failing line is:

[2017-11-10 08:20] josevalim commented on #2301
@freshtonic `:auto` means the transactions are checked out automatically but each test and each process still runs on their own transaction/connection. If you want to share them, you need to explicitly allow processes or you need to set the mode to shared.

[2017-11-10 08:20] #2301 closed

[2017-11-10 08:36] freshtonic commented on #2301
@josevalim I *want* each process to have its own transaction and connection. That is what I’m trying to test. Database transaction semantics should ensure visibility of committed transactions to other connections. If using auto my test should have a different connection to the asynchronous task, right? If so then any committed transaction in the test should be visible from the task.

Is this just

[2017-11-10 09:02] josevalim commented on #2301
Yes, the sandbox creates its own transaction that *you cannot commit* to guarantee that the work in one test cannot be seen by others. This means that you need to explicitly list which other processes collaborate with a given test process.

[2017-11-10 09:21] freshtonic commented on #2301
@josevalim ok that mostly makes sense. I was under the false impression that it was possibly to bust out of that behaviour using auto.

[2017-11-10 09:38] yukilau99 opened #2302 ""in" operator does not work when using an Array variable."
### Precheck

### Environment

* Elixir version (elixir -v) : 1.5.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Oracle 11
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): Ecto.Adapters.Jamdb.Oracle
* Operating system: Mac Sierra

### Current behavior
When I use a ^variable in "where", the query sql is became "= ANY($1)"
iex(6)> ids=[1,2]
[1, 2]
iex(7)> fr

[2017-11-10 09:48] josevalim commented on #2302
Thanks for the report @yukilau99!  What is wrong about this query?

It seems to be the correct query to me? That's how you do a dynamic array lookup in PostgreSQL.

[2017-11-10 09:53] josevalim commented on #2301
@freshtonic you can explicitly checkout a connection and disable the sandbox: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/sql/sandbox.ex#L457

But then it means any change you do in the database in that test will be visible on **all tests**. If you want to have collaboration between processes in your tests while still using the sandbox, then the answer is using the allowance

[2017-11-10 10:02] yukilau99 commented on #2302
Oh, Sorry, I think this is the bug of Ecto.Adapters.Jamdb.Oracle. thanks for reply.

[2017-11-10 10:02] #2302 closed

[2017-11-10 10:03] josevalim commented on #2290
Sorry for the delay @shulhi. There is definitely a bug. If you inspect the changeset after put_assoc, it says there are no changes, while they are most definitely there. And you are right, it is something that happens only on `:update`.

[2017-11-10 11:26] josevalim commented on #2290
After a conversation with @ericmj we have decided to raise since, if you specify `on_replace: :update` and then you give something that cannot be updated, we should not silently replace it but instead update it.

[2017-11-10 11:28] #2290 closed

[2017-11-10 11:29] josevalim commented on #2302
:D

[2017-11-10 14:35] shulhi commented on #2290
Thank you @josevalim for the quick fix!

[2017-11-11 18:53] into-resurrection opened #2303 "Bad ordering of interpolated expression when running `update_all`"
### Environment

* Elixir version (elixir -v): Elixir 1.5.2 (Erlang/OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MySQL 5.7.16
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): mariaex 0.8.3
* Operating system: macOS High Sierra version 10.13.1

### Current behavior

When I run an update_all, it doesn't update the specified row. Examining the query t

[2017-11-11 19:47] josevalim commented on #2303
Maps have no order, so you will need to convert the fields to a list and then sort them in the order you expect.

[2017-11-11 21:10] into-resurrection commented on #2303
Who cares about the order of Maps? I don't care about the order of `first_name` and `last_name` (the only fields in the `Ecto.Changeset.changes` map) I care about the fact that `^changeset.data.id` is thrown at the end of the interpolated values list instead of at the beginning.

[2017-11-11 21:34] josevalim commented on #2303
Oops, sorry. I missed the `^changeset.data.id` on first look and saw only the `set` operation. Yup, this is a bug, thanks!

[2017-11-12 05:12] freshtonic commented on #2301
@josevalim That cleared up my misunderstanding and now I have a passing test. Thanks mate!

[2017-11-12 06:26] JoshSmith commented on #1271
I've seen this issue come up frequently in our app as of late, both in CI and locally in development. It's [on GitHub](https://github.com/code-corps/code-corps-api) so it's fairly straightforward to pull down, although I can't figure out quite how to reproduce it.

[2017-11-12 09:35] wfgilman commented on #2081
@bglusman I'm experiencing this behavior. I have two partial indexes on a table
[code]
When I specify them using `{:constraint, ...}`, I get the Postgrex.Error 42704 claiming the constraint does not exist, yet it does.
[code]
And the Postgres error
[code]

[2017-11-12 22:26] anuragpeshne opened #2305 "no way to work with sqlite "in memory"/temporary database"
### Environment

* Elixir version (elixir -v): Elixir 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): sqlite3
* Ecto version (mix deps): ecto 2.2.6
* Database adapter and version (mix deps): esqlite 0.2.3
* Operating system: macOS 10.13.1

### Current behavior

I'm trying to use ([Sqlite "in memory" database](https://sqlite.org/inmemorydb.html)) by passing database name as `:memo

[2017-11-12 23:12] ericmj commented on #2305
Ecto does ship with support for sqlite, if you have any issue or questions please raise them with your Ecto adapter first.

[2017-11-13 10:28] vstavskyi opened #2306 "Where clause, multiple :in conditions, consecutive numbering."
For multiple conditions, like `where: e.var2 in ^vars2_list or e.var3 in ^var3_list`,  my adapter generates this string:
`SELECT e0.var1 FROM test e0 WHERE (e0.var2 IN (:1,:2,:3,:4) OR e0.var3 IN (:1,:2,:3,:4))`
I'd like to change it to:
`SELECT e0.var1 FROM test e0 WHERE (e0.var2 IN (:1,:2,:3,:4) OR e0.var3 IN (:5,:6,:7,:8))
`
My code is based on reference adapter's code, and I think it has the s

[2017-11-13 17:00] josevalim commented on #2306
You don't need to use an agent, rather you need to pass a state as you generate the SQL string, so you can properly check the current entries.

[2017-11-13 17:00] #2306 closed

[2017-11-13 17:04] #2305 closed

[2017-11-13 17:12] anuragpeshne commented on #2305
This isn't an issue with sqlite adapter. This is issue with working with any temporary database which will cease to exist when connection to it is closed.
So, when you do `mix ecto.migrate`, tables will be created and then database will be destroyed as soon as `mix` completes. Subsequent calls to database/tables from `mix test` or escripts will fail.

There needs to be some way to create tables pr

[2017-11-13 17:16] ericmj commented on #2305
If you need to run migrations when the application is started you can use the `Ecto.Migrator` API to programmatically run migrations. You can also run normal queries with your query adapter or with `Ecto.Adapters.SQL.query/4` if your adapter supports that.

[2017-11-13 18:39] bellp opened #2307 "Confusing error message when using Repo.transaction with an invalid argument"
### Environment

* Elixir version 1.5.2
* Postgres 9.6.5
* Ecto version 2.1
* Postgrex 0.12
* MacOS High Sierra

### Current behavior

I'm new to Ecto, and gave Repo.transaction a changeset instead of a Multi (my bad). However I found it very difficult to understand the error message given when passing a bad value to Repo.transaction/1 (see error below). I didn't explicitly call Multi.__apply__ an

[2017-11-13 19:25] michalmuskala commented on #2307
The 2.2 branch will match on the argument earlier in the stack and should produce a more usable error. This is what you get on current ecto:
<img width="728" alt="screen shot 2017-11-13 at 20 24 35" src="https://user-images.githubusercontent.com/477062/32744699-b61cf6ce-c8b0-11e7-8349-2028976dc554.png">

[2017-11-13 19:25] #2307 closed

[2017-11-15 01:32] dustinfarris opened #2308 "build_assoc does not carry over the prefix"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.1
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): postgres 0.13.3
* Operating system: OSX and Debian

### Current behavior

`build_assoc` does not preserve prefix information

[code]

The error is because Ecto forgot the prefix.  It must be suppli

[2017-11-15 02:39] blatyo opened #2309 "Ecto not properly escaping UUID's in `in` clause"
### Environment

* Elixir version (elixir -v):
Erlang/OTP 20 [erts-9.1.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.5.2

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

9.6.1

* Ecto version (mix deps):

2.2.6

* Database adapter and version (mix deps):

postgrex 0.13.3

* Operating system:

OSX 10.11.5

### Current behavi

[2017-11-15 11:18] josevalim commented on #2308
I am not sure if I fully agree. If you are using prefixes/schemas for organization purposes, then User could be in prefix "accounts" and Posts would be in another prefix, and you don't want that to propagate. That's why we usually only pass prefixes along if they come from a database operation. The best is for you to call put_meta and set the prefix or pass it on insert. Thanks!

[2017-11-15 11:18] #2308 closed

[2017-11-15 11:20] josevalim commented on #2309
You need to use the pin operator. If you are not using the pin operator, we will send it as is to the database. For example, if you do `f.some_integer_field == "13"`, we won't cast the string to integer as well. It is all up to the DB and changing that may have some consequences in other types, such as date/times, where the DB can accept a wider variety of formats.

[2017-11-15 11:20] #2309 closed

[2017-11-15 12:34] blatyo commented on #2309
@josevalim Are you saying that depending on the DB, they may allow the UUID literal above, so it's not possible to raise an error like this?

[code]

[2017-11-15 15:24] dustinfarris commented on #2308
Good point.  I wasn't aware people use schemas in this way.  Thanks for the quick feedback!

[2017-11-15 18:42] josevalim commented on #2309
@blatyo actually, that's a good counter example to what I said. We already dump the values. We could cast them too, although it is feels conceptually wrong for some reason.

Thoughts @michalmuskala and @ericmj?

[2017-11-15 19:04] michalmuskala commented on #2309
Isn't the problem in here that once we dump the UUID it's a plan binary. We dan try to include this binary without encoding in the query and it breaks since it's arbitrary bytes.

[2017-11-15 19:08] josevalim commented on #2309
Ah yes, you are right. We would then need to make it a parameter.

[2017-11-15 19:11] michalmuskala commented on #2309
I proposed some time ago that we use parameters for all literals in queries, but I'm not sure what impact that would have.

[2017-11-15 19:49] ericmj commented on #2309
Using parameters when we can use literals makes it harder for the optimizer and you need to give more hints to the type inference. It's likely that the new required hints will break peoples code.

[2017-11-15 20:22] ericmj commented on #2309
The problem is that we use `dump` for literal values when `dump` is supposed to be used for wire values.

We have a few ways to solve this:

1. Introduce a new `Ecto.Type` callback function for query literals
1. Only allow literals for ecto built-in types and have custom code to produce literals for all built-in types, this way we can support more types in literals such as datetime types
1. Dump U

[2017-11-15 23:23] atomkirk commented on #1648
Wait, @josevalim, how does that work?
[code]
you're not using the changeset you created in the cast.
I need to use cast AND turn off the empty values

[2017-11-16 02:58] fishcakez commented on #1271
@JoshSmith could you provide the error because the code has changed between this issue and the versions of ecto/postgrex in your lock file.

[2017-11-16 03:07] blatyo commented on #2309
@michalmuskala One reason I would be opposed to always using parameters for literals is that all `in` clauses would turn into `= ANY` instead of `in`, which means that indexes for the column cannot be used in Postgres.

@ericmj My vote would be for 1 or 2. 1 is nice because the new callback can default to `dump` for existing behavior and be overridden for the cases that don't work. It also seems t

[2017-11-16 05:37] JoshSmith commented on #1271
@fishcakez I'd actually intended to write an update here but forgot. My issue was caused by a lot of async behavior being run in the background. We took José's advice on mocking and are now running all this async behavior as sync in tests.

[2017-11-16 07:48] ericmj commented on #2309
@blatyo Postgres can use an index for `= ANY` in this case even if the value is parameterized.

[2017-11-16 20:26] dustinfarris opened #2311 "unique index name inference inconsistency"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.1
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): postgres 0.13.3
* Operating system: OSX and Debian

### Current behavior

I am having an issue with underscores where the index name generated in a migration is not matching the index name inferred

[2017-11-17 10:33] michalmuskala commented on #2311
I think the problem is in the logic that generates the index name for the migration:

https://github.com/elixir-ecto/ecto/blob/48607c72c07f7cea08f0b943431c41a1bc8bdeda/lib/ecto/migration.ex#L583-L590

[2017-11-17 17:44] josevalim commented on #2311
Yeah, we should align the migration code with the changeset code. PR please?

[2017-11-17 22:44] net commented on #2081
@josevalim I believe `ON CONSTRAINT` support does not solve the original issue: that `:conflict_target` does not support partial indexes.

Partial unique indexes are used in Postgres as there are no partial unique constraints. See https://www.postgresql.org/docs/9.1/static/ddl-constraints.html:

When used in `ON CONFLICT` the predicate is given after the column names for index inference as shown a

[2017-11-19 00:10] dustinfarris commented on #2290
Sounds like we need an `:update_or_replace` option for this

[2017-11-21 10:41] AntonShevel opened #2314 "DateTime microsecond precision is not respected"
### Environment

* Elixir version: Elixir 1.5.2
* Ecto version (mix deps): Ecto 2.2.6
* Database adapter and version (mix deps): Postgrex 0.13.3
* Operating system: macos 10.12.6

### Current behavior

[code]
Query it makes
[code]
As you can see it does not respect microsecond precision, and uses `878567`

### Expected behavior (according to my assumptions:) )

It makes a query using the date with

[2017-11-21 12:19] josevalim commented on #2314
It is expected because the data in the DateTime is invalid. You have to put `{878000, 3}`. Elixir v1.6 is adding DateTime.truncate to help exactly with that.

[2017-11-21 12:19] #2314 closed

[2017-11-21 12:34] AntonShevel commented on #2314
Thanks @josevalim

[2017-11-22 05:15] bossyang commented on #1097
2 years later, I found I had the wrong title. I have to set `autocommit=ON`. Ecto doesn't start a transaction automatically.

[2017-11-22 19:45] hisapy opened #2317 "Parent updated_at not changing when adding children"
### Precheck

This is considered a possible bug, based on conversation with @michalmuskala on #ecto Slack channel.

### Environment

* Elixir version (elixir -v): **1.4.2**
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): **PostgreSQL 9.6.3**
* Ecto version (mix deps): **2.2.6**
* Database adapter and version (mix deps): **postgrex 0.13.3**
* Operating system: **macOS Sierra 10.12.6, Ub

[2017-11-22 20:26] josevalim commented on #2317
Thank you for the report @hisapy. I would like to hear why changing the child should update the parent. Is it because we are using cast_assoc? Should that also apply to put_assoc? Wouldn't it be better to do it under a specific flag?

[2017-11-22 20:55] hisapy commented on #2317
Hi @josevalim. The logic I would like to enforce is that the Company should be marked as updated when adding members to it. Or speaking generically, if you `cast_assoc` or `put_assoc` on the parent to create/update children, the parent should be marked as updated.

I believe that it would be better to have an specific flag to _opt-out_ from the expected behavior. For example, if you were to add a

[2017-11-22 21:03] josevalim commented on #2317
The issue is that this behaviour may make sense for cast_assoc but not necessarily for put_assoc. And if we have the defaults for those being different, it will be confusing. That's why I am more inclined to be opt-in.

[2017-11-22 21:14] AndrewDryga commented on #2317
I think this issue depends on a stance of view. If you think about Ecto as "standalone" solution - it's probably okay to assume that it would update parent structs, but it has a database underneath. And when you add an item to an associated table, the database won't update referenced row unless you have an explicitly defined trigger for that.

So I think we should do the same and make it opt-in, o

[2017-11-22 21:41] hisapy commented on #2317
Yeah, it makes more sense for `cast_assoc` and not so much for `put_assoc`. Anyway, I think the objections are fair enough so I'm ok with the _opt-in_ behavior.

[2017-11-23 01:14] starbelly opened #2318 "No check for existing migrations in ecto.gen.migration mix task"
### Environment

* Elixir version: Elixir 1.5.2 ( Erlang/OTP 20 [erts-9.1])
* Database and version: PostgreSQL 9.6
* Ecto version: 2.2.6
* Database adapter and version: postgrex 0.13.3
* Operating system: Linux  3.10 / MacOS Sierra

### Current behavior
[code]

### Expected behavior

[code]

### Notes

 - It is unclear whether there is a good reason for _not checking_ for an existing migration fil

[2017-11-23 01:32] josevalim commented on #2318
A PR will definitely be welcome!

On Wed, Nov 22, 2017 at 23:14 Bryan Paxton <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-25 09:15] imranismail opened #2321 "Nested schemaless changesets"
I'm wondering if this is supported right now?

I am trying to build a helper macro for doing request parameter validation but am stuck at implementing a solution for nested parameter

Gist below:

https://gist.github.com/imranismail/eb60c709b230c1cbf344553888b9387d

[2017-11-25 09:29] michalmuskala commented on #2321
No, this is not supported right now.

[2017-11-26 08:12] fishcakez opened #2323 "Conflict target repo test can fail due to id collision race condition"
### Environment

* Elixir version (elixir -v): Any
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): SQL
* Ecto version (mix deps): master
* Database adapter and version (mix deps): Any
* Operating system: Any

### Current behavior

[code]

On that line the id of the first post is being set to the id of the second post before second post id is incremented. I am able to repeat this on a m

[2017-11-26 14:46] josevalim commented on #2323
@fishcakez we are likely conflicting with IDs created in another test, right? Maybe should we increment it by thousands instead of 2?

[2017-11-26 16:24] fishcakez commented on #2323
@josevalim I believe its conflicting with IDs in same test

[2017-11-26 16:33] josevalim commented on #2323
Does it happen if you only run that single test by giving it the file:line?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-26 16:48] fishcakez commented on #2323
@josevalim it requires the following async ordering:

1) Test inserts first post: id = n
2) Another test inserts a post: id = n + 1
3) Test inserts second posts: id = n + 2

Therefore when we update the first post to id = n + 2 we get duplicate keys. If we reorder the posts ordering in the changset it should be fixed. This module uses TestRepo so writes in other tests are invisible but will block

[2017-11-26 18:22] josevalim commented on #2323
Ok, that’s what I meant but I did not express myself well!

Any other suggestion besides using a larger number for bumping IDs? Besides
making the tests sync?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-26 19:02] fishcakez commented on #2323
I think the other way would be to use `post_second.id + 1` and `post_second.id + 2` for the ids, i.e. ensure the first posts id gets bumped above the second posts id, and the second posts id gets bumped above that.

[2017-11-26 19:08] josevalim commented on #2323
I think we would still have a race with a test introducing an ID right
after that.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-26 19:10] fishcakez commented on #2323
I don't think we would because we are inside the sandbox in this test.

[2017-11-27 21:19] michalmuskala opened #2325 "Make Changeset.cast accept only atoms"
Today, is't quite confusing that some changeset functions accept strings for field names, while others accept atoms. On couple occasions there were people confused about this on slack channel, who didn't know why their `cast` call was working OK, while `validate_required` was failing.

I suggest changing `cast` to accept only a list of atoms.

Unfortunately, this might be a disruptive change and I

[2017-11-27 21:24] josevalim commented on #2325
Definitely a warning.

[2017-11-28 03:21] yordis opened #2326 "Remove extra files from Hex bundle"
I noticed that you push `~w(integration_test/cases integration_test/sql integration_test/support)` to Hex, which I dont see the point of me downloading those files when I use `Ecto` as a dependency, unless I am missing somebody about it.

[2017-11-28 03:44] josevalim commented on #2326
It is necessary for external adapters built on top of Ecto to test
themselves.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-28 03:51] yordis commented on #2326
@josevalim `testing` no for me when I use it as a dependency.

I totally understand why those files should be on the project but I dont need them when I download the Ecto package as a dependency

[2017-11-28 07:16] michalmuskala commented on #2326
The whole set of integration tests is a little over 200KB vs 1.2MB for the whole ecto package. I really don't think this is going to cause problems and makes the life of adapter maintainers much easier.

[2017-11-28 07:21] yordis commented on #2326
@michalmuskala oh so some adapters actually use it for testing propose, is that right?

And I actually do not have any issues with it outside of trying to rise awareness of what gets push to hex.pm

[2017-11-28 07:21] #2326 closed

[2017-11-28 07:29] michalmuskala commented on #2326
Yup, I think all of them do in some way:

https://github.com/ankhers/mongodb_ecto/blob/master/test/ecto_test.exs
https://github.com/findmypast-oss/mssql_ecto/blob/f0fc8d3ef31c8f7c484d5092d21e4536086e273e/test/test_helper.exs
https://github.com/scouten/sqlite_ecto2/blob/master/integration/sqlite/all_test.exs
https://github.com/Nebo15/ecto_mnesia/blob/master/test/integration/integration_test.exs

[2017-11-28 15:05] ericmj opened #2327 "Support index expressions and partial indexes in upserts"
Today upserts only support giving columns and constraint names in `:conflict_target`. Postgres also supports giving direct index expressions and index predicates.

[2017-11-28 15:35] josevalim commented on #2327
The biggest question is how we would specify those in a way it denotes it is safe and that escaping should be disabled.

[2017-11-28 16:06] ericmj commented on #2327
Do we quote and escape the constraint name today or how do we ensure that it's safe?

[2017-11-28 19:23] josevalim commented on #2327
Not sure. Probably both.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-30 06:42] ANujDixit opened #2328 "ERROR 42883 (undefined_function): function is_nil(bigint) does not exist"
### Environment
* Database : PostgreSQL 9.6
* Phoenix : 1.3

### Current behavior
query = from u in User,
                distinct: u.id,
                full_join: m in Membership, on: m.company_id == u.id,
                full_join: g in Group, on: m.group_id == g.id,
                where: u.company_id == ^company_id,
                select: %{id: u.id, name: u.name, username: u.username, m_id:

[2017-11-30 08:02] zachdaniel commented on #2328
you're putting `is_nil` inside of the fragment, meaning that it is trying to use a postgres function called `is_nil` that does not exist. What you'd want to do is

[code]
However, with that said, you don't really need any of that

You can just say `is_present: is_nil(m.id)` and it will do what you want.

[2017-11-30 12:59] josevalim commented on #2328
Thanks @zachdaniel!

[2017-11-30 12:59] #2328 closed

[2017-11-30 21:36] tpitale opened #2329 "`replace_all` replaces `id` field on conflict"
I'm using `on_conflict: :replace_all` in a few places, and in some cases I only want to update all fields, _except_ `id`. But … if the `conflict_target` is not `id` but some other unique index (for example) the `id` will be replaced with a new serial value when using `insert`.

@josevalim How would you feel if I made a PR to support a partial `replace` similar to feature from #1846 which added `re

[2017-11-30 21:36] tpitale commented on #2329
I suppose I should start this on elixir-ecto forum … but it's a "problem" (for lack of a better term) that I'm facing right now.

[2017-11-30 21:40] josevalim commented on #2329
There is already replace_all_except_primary_keys. I am not sure if master only or if it was released.

[2017-11-30 21:42] tpitale commented on #2329
Github search is failing me looking for `replace_all_except_primary_keys`.

[2017-11-30 21:43] tpitale commented on #2329
Oh … this is already done in master: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres/connection.ex#L178

Seems to remove replace_all in favor of passing a list of fields to replace.

[2017-11-30 21:43] #2329 closed

[2017-11-30 21:47] josevalim commented on #2329
But that's only at the adapter level. The repo API is here: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo.ex#L564

[2017-11-30 21:50] tpitale commented on #2329
@josevalim Does not appear that the commit that added it has been released: https://github.com/elixir-ecto/ecto/commit/d004624b9321a973fa10d91209882bbfa1b09e48

[2017-12-01 10:31] ericmj commented on #2327
I don't see how we can make it safe without making conflict handling part of the compile time query.

[2017-12-01 18:24] user453584 commented on #1932
@madasebrof I'd assign `now = Timex.now` ahead of time and pass that in so your `inserted_at` and `updated_at` match

[2017-12-01 23:20] nicooga commented on #1319
I get this error after changing a portion of my code to run asynchronously using `Task.async/1` (this code uses Ecto). I've already have t his in my spec_helper.exs:

[code]

I think I need to better understand how the connection strategies work.

[2017-12-03 16:06] trojanh opened #2331 "Side Navigation does show up on Firefox for documentations"
### Environment

* Browser: Firefox 57
* Operating system: Windows 10 Build 1703

### Current behavior

Side navigation for the topics does not show up on Firefox.
For instance, if I open https://hexdocs.pm/ecto/Ecto.Changeset.html#delete_change/2 on Firefox it shows as follows

![firefox ecto docs bug](https://user-images.githubusercontent.com/22974490/33527132-6fd2383e-d871-11e7-94c5-2dbba3b20ad

[2017-12-03 16:17] josevalim commented on #2331
Does it happen on any page here? https://hexdocs.pm/elixir/master/Kernel.html

[2017-12-03 17:15] trojanh commented on #2331
I do not see it for any of the hexdocs pages. Not even for Kernel i.e https://hexdocs.pm/elixir/master/Kernel.html

[2017-12-03 18:21] josevalim commented on #2331
@trojanh you do not see the bug or you do not see the panel? :)

[2017-12-03 18:22] josevalim commented on #2331
In any case, I have released Ecto 2.2.7 and pushed docs on the latest ExDoc version. If that does not fix it, then it is a ExDoc bug. :) Thanks for the report!

[2017-12-03 18:22] #2331 closed

[2017-12-03 18:30] trojanh commented on #2331
Yeah, I think its ExDoc bug. Thanks for quick reply @josevalim . I'll report it on ExDoc.

[2017-12-04 21:51] alexwestholm commented on #1549
Another +1 for union support.

[2017-12-06 12:37] josevalim commented on #2327
@ericmj we can provide something like `{:unsafe, ...}` but if we go down this route we would need to do it consistently in other places too... and that's the main issue.

[2017-12-06 12:37] #2318 closed

[2017-12-06 12:38] #2321 closed

[2017-12-06 13:31] ericmj commented on #2327
What other places do you have in mind?

[2017-12-06 13:48] josevalim commented on #2327
I know it is not the first time this issue arises but I can't recall the other scenarios from memory.

[2017-12-07 14:14] sashman commented on #1932
@madasebrof `Ecto.DateTime.utc` can also be used as an alternative to `Timex.now`

[2017-12-07 14:24] michalmuskala commented on #1932
The `Ecto.DateTime` module is deprecated as of Ecto 2.2 (and probably will be removed in 3.0) in favour of the built-in Elixir calendar types, where `NaiveDateTime.utc_now` or `DateTime.utc_now` allow retrieving current time.

[2017-12-07 14:29] sashman commented on #1932
Thanks @michalmuskala, missed that one :)

[2017-12-08 06:38] rom8726 commented on #1817
@madshargreave @josevalim Hello! I reproduced this problem in dev environment. The code you can see here: https://github.com/rom8726/ecto_conn_timeout

[2017-12-08 08:48] josevalim commented on #1817
@rom8726 you are using the SQL sandbox, which is a pool exclusive for testing. If you remove this [configuration here](https://github.com/rom8726/ecto_conn_timeout/blob/master/config/config.exs#L16) you should be good to go.

[2017-12-08 09:38] #2323 closed

[2017-12-08 11:27] rmoorman opened #2336 "Documentation for ecto.drop's --force flag does not mention dependency on :start_permanent"
### Environment

* Elixir version (elixir -v): Elixir 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres.app Version 9.5.0.0
* Ecto version (mix deps): ecto 2.2.6
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: maxOS High Sierra 10.13.1

### Current behavior

When looking at the documentation for the `mix ecto.drop` task, the `--force` flag is

[2017-12-08 12:30] nashby commented on #2246
@josevalim should we just change `Task.async` to `Task.Supervisor.async_nolink`?

[2017-12-08 12:48] michalmuskala commented on #2246
No, the called should still crash if one of the preloads crashes. We should just clean up the messages (and potentially exit if we receive a non-normal exit).

I would even argue, this is something that should be handled by `Task.await` in general - I see no reason to leak those messages from `Task.await`.

[2017-12-08 18:35] michalmuskala commented on #2246
As discussed with @fishcakez on IRC, a possible solution to this is using `Task.async_stream` instead of a manual pmap implementation - it takes care of exit messages since it fully controls the execution.

[2017-12-08 20:57] josevalim commented on #2246
Hi @nashby! 👋

Since we depend on v1.4, :+1: for using Task.async_stream!

[2017-12-09 11:41] mojidabckuu opened #2337 "Ecto unique uuid key constraint"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL): 9.6.5
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): 0.13.3
* Operating system: Mac os

### Current behavior
[code]

Gives

[code]

### Expected behavior

Receive Ecto errors.

[2017-12-09 11:50] michalmuskala commented on #2337
Could you show the code that tiggers the rollback? It's hard to tell what's going on without any code.

[2017-12-09 12:14] mojidabckuu commented on #2337
@michalmuskala I've located the issue. Was not obvious for me that the problem was in my code within `Multi`. On test using insert only works as expected. Please close the issue.

[2017-12-09 12:39] mojidabckuu commented on #2337
Hmmm
If I run multiple inserts inside `Multi` and the first one returns `:error` is it possible that then Ecto crashes? :)

[2017-12-09 13:08] michalmuskala commented on #2337
If some operation fails in a transaction, the only thing to do with the transaction is to roll it back - it's not limitation coming from ecto, but semantics of SQL transactions.

[2017-12-09 13:08] #2337 closed

[2017-12-10 15:50] albertoalmagro commented on #2311
Lets give this some love. I'll try this one.

[2017-12-10 16:23] josevalim commented on #2311
Please go ahead!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-11 15:20] #2311 closed

[2017-12-12 00:56] mbuhot opened #2340 "select + select_merge + preload not working for some combinations"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5.2
* Ecto version (mix deps): locked at 2.2.7 (ecto) 2074106f
* Database adapter and version (mix deps): locked at 0.13.3 (postgrex) c277cfb2
* Operating system: macOS 10.12.3

### Current behavior

I'm trying to dynamically build a query that will 1. optionally have a sel

[2017-12-12 09:55] josevalim commented on #2340
@mbuhot could you please provide some tests on top of our integration test suite? You can run it as `MIX_ENV=pg mix test`. That would make it much easier for us to reproduce and fix those bugs. Thank you!

[2017-12-12 09:59] #2246 closed

[2017-12-12 10:12] rmoorman commented on #2336
Thank you very much and keep up the good work @josevalim!

[2017-12-12 17:28] axelson opened #2343 "Unable to write a fragment for a @> operator on an int4range"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 10.1
* Ecto version (mix deps): 2.2.7
* Database adapter and version (mix deps): Postgrex 0.13.3
* Operating system: Arch Linux

### Current behavior

Given a table:

                                Table "public.games"
        Column    |            Type             | Collation | Nulla

[2017-12-12 17:38] josevalim commented on #2343
Thanks @axelson. The changed was introduced because of issue #2213.

[2017-12-12 18:10] axelson commented on #2343
@josevalim yeah, I noticed that. There is probably a way to reoncile these two requirements so that both use-cases will work, but I don't currently know enough Ecto to know what the solution would be.

[2017-12-12 19:53] mbuhot commented on #2340
Thanks @josevalim, I've added 2 failing tests in https://github.com/mbuhot/ecto/commit/8e1c3da2bc7f8874c34dc5ef45090a68bcda70f2

First test fails to preload the association.
Second test fails to populate the fields of the parent struct.

[2017-12-13 09:13] ericmj commented on #2343
You can do the type cast in the fragment string instead: `fragment("? @> ?::integer", unquote(first), unquote(second))`

[2017-12-13 13:31] slashmili commented on #405
@jamonholmgren / @jfrolich it works most of the time but when you load the models using `preload` you can't make those callback(you need to move the callback logics to other models)

Actually I used this approach and now I should always check to see if the data is coming from main module(therefor already callbacks is called or it's coming from preloaded data(therefore I should run another map on t

[2017-12-14 08:34] axelson commented on #2343
@josevalim unfortunately I don't know enough about Postgres to make a recommendation for this use-case.

@ericmj Thanks! That's a good workaround and works for my current use-case.

[2017-12-14 10:56] josevalim commented on #2343
Let's go with won't fix for now and we will wait until we get more feedback. Thanks for the report!

[2017-12-14 10:56] #2343 closed

[2017-12-14 16:56] taiansu opened #2347 "`mix ecto.migrations` ignore the migrated versions while migration file is deleted"
### Environment

* Elixir version (elixir -v): 1.5.2 (Erlang/OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.1
* Ecto version (mix deps): 2.2.7
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: macOS

### Current behavior
After migrate the database, if any migration file is deleted, then `mix ecto.migrations` won't list corresponded mi

[2017-12-14 16:56] josevalim commented on #2347
Agreed! A PR will be appreciated!

[2017-12-14 18:19] LoneStar1994 commented on #840
Привет, товарищи!!

I came across with a solution with a little help from "sjoconnor" @ slack/phoenix.

I hade the same issue "Poison.EncodeError" So what we propose is to tear down from the sending list the ":_meta_" and ":_struct_":

[code]
That is a pretty "Cave Man" way to do the things, but it works just good!!

Happy programming

-

[2017-12-14 20:12] mojidabckuu commented on #2237
Hey Jose. Looks this one is missing now.
I've checked the version date around sep 22 and it has the validation key. But current 2.2.7 doesn't
https://github.com/elixir-ecto/ecto/blob/3a0616a356ecbc3b6ba1e391e785a13f66c13da9/lib/ecto/changeset.ex#L2080

[2017-12-14 20:22] josevalim commented on #2237
master is going to be 3.0.

[2017-12-14 20:34] mojidabckuu commented on #2237
Any estimations for 3.0 to become rc?

[2017-12-14 20:40] josevalim commented on #2237
None so far.

[2017-12-14 21:03] yordis opened #2349 "Improve documentation for Repo modules"
Right now when I generate the documentation of my project I noticed that there is no typespec on my functions in the generated documentation.

I am not sure if this belongs to here, which probably means we have to add the typespec inside the macro?! or should belong to ex_doc where they should detect is a callback and add the typespec to the documentation, either way I am expecting to have the typ

[2017-12-14 21:20] josevalim commented on #2349
It is a docs issue, not an Ecto one.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-14 21:22] yordis commented on #2349
@josevalim I will open an issue on ExDoc then. Thank you very much.

[2017-12-14 21:22] #2349 closed

[2017-12-15 03:18] ryanwinchester commented on #1923
I'm also getting this error when trying to store encrypted fields in ecto, using this:

http://blog.danielberkompas.com/elixir/security/2015/07/03/encrypting-data-with-ecto.html

[2017-12-15 04:13] fishcakez commented on #1923
Yes, it is fixed in v2.2.0-rc.0 onwards. It has also been backported to v2.1 branch but we have not released a 2.1 patch that includes it.

[2017-12-15 08:09] #2347 closed

[2017-12-15 21:54] dustinfarris opened #2351 "NULL value for array type produces error when updating"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.1
* Ecto version (mix deps): 2.2.6
* Database adapter and version (mix deps): postgres 0.13.3
* Operating system: OSX and Debian

### Current behavior

I have a field of type array of uuid:

[code]

and

[code]

The default db value is `NULL`, but this doesn't seem to be sup

[2017-12-20 13:49] denneulin opened #2353 "Doc should specify get and get_by raise if more than one entry"
### Environment

* Elixir version (elixir -v): 1.5.1
* Ecto version (mix deps): 2.2.7

### Expected behavior

Hi,

I think the documentation of both methods `get` and `get_by` should specify they can raises if more than one entry is found like with `one`.

Regards.

[2017-12-20 14:48] michalmuskala commented on #2353
Agreed. PR please?

[2017-12-20 18:13] #2353 closed

[2017-12-21 15:49] InteNs opened #2355 "ecto :naive_datetime type not preserved when used in :map field"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
[code]
* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating system:
[code]

### Current behavior
naive_datetime type not saved for ecto :map type (postgres jsonb)

[code]
### Expected behavior
I expect the standard ecto types to be preserved w

[2017-12-21 16:13] ericmj commented on #2355
If the map is stored in a json(b) column then this type information is lost. Since JSON doesn't have datetimes as a type we have to convert it to a string. If you use an embedded schema and declare the field to be of `naive_datetime` type then we can decode the string back to a struct.

[2017-12-21 16:14] #2355 closed

[2017-12-21 16:15] josevalim commented on #2355
You could try to convert it back to a NaiveDateTime if you use a JSON decoder/encoder that would attempt to do so but, for the reasons @ericmj mentioned, it is a bit error prone. In other words, the map fields delegate to the JSON library, so it is up to whatever it does.

[2017-12-21 16:24] InteNs commented on #2355
@ericmj  I would love to use embedded schemas, the only problem is that we never know what params are stored in the`execute_params` field.

every "Action" has it's own static permitted parameters so we can define an embedded schema for each action.

So we got the `name` attribute which may contain: `Actions.Activity.RealizeActivity'
(this is how I implemented polymorphism for different actions)
th

[2017-12-21 17:06] InteNs commented on #2355
after thinking about this some more i'm actually fine with the params being stored as json since my original parameters are json as well. I'll do the conversion to naive_datetime when I need the actual value

[2017-12-22 00:05] bismark opened #2356 "Issue with preload in child process when using Sandbox shared mode"
### Environment

* Elixir version: Elixir 1.5.2
* Database and version: MySQL 5.7.20
* Ecto version: ecto 2.2.7
* Database adapter and version: mariaex 0.8.3
* Operating system: MacOS 10.13

### Current behavior

See sample project here which exhibits the bug: https://github.com/bismark/ecto-test

When using the Sandbox in shared mode, if a child process's first interaction with the repo is a prel

[2017-12-22 00:08] bismark commented on #2356
I haven't tracked down the root cause but I believe it is related to adding the `:caller` option here:

https://github.com/elixir-ecto/ecto/blob/v2.2/lib/ecto/repo/preloader.ex#L105

https://github.com/elixir-ecto/db_connection/blob/master/lib/db_connection/ownership/manager.ex#L111

[2017-12-22 01:20] fishcakez commented on #2356
The analysis looks spot on without trying the example repo. I think the bug is in DBConnection, and not Ecto itself, exactly where you pointed to.

[2017-12-22 22:23] SofaKing18 opened #2358 "Ecto.Changeset.unique_constraint validation increases primary key sequence on fail insert"
### Environment

* Elixir 1.5.2
* PostgreSQL 10.1
* ecto 2.2.7 (Hex package) (mix)
* postgrex 0.13.3 (Hex package) (mix)
* MacOS Sierra 10.12.6

### Current behavior

have "model" with unique_constraint field 'email', validation is possible only with insert or update.
Example of model:
[code]
I try to create User by code below:
[code]
In situation when email is already used, insert in database fai

[2017-12-22 22:51] wojtekmach commented on #2358
This is how Postgres works under the hood. If you increase a sequence in a transaction and the transaction is rolled back, the sequence stays increased. See e.g. https://stackoverflow.com/questions/19004453/postgresql-generate-sequence-with-no-gap

You can use [`Ecto.Changeset.unsafe_validate_unique/4`](https://hexdocs.pm/ecto/Ecto.Changeset.html#unsafe_validate_unique/4) which will _try_ to detec

[2017-12-23 08:03] #2358 closed

[2017-12-25 02:37] mac-chaffee opened #2359 "Repo.all interpreting single integers as ascii characters"
### Environment

* Elixir version: Erlang/OTP 20, Elixir 1.5.2
* Database and version: PostgreSQL 9.6
* Ecto version (mix deps): ecto 2.2.7
* Database adapter and version (mix deps): Postgrex 0.13.3
* Operating system: Xubuntu 17.10

### Current behavior
I've got a `Chunk` schema where each `Chunk` belongs_to a `Sortable`, so I'm fetching all `Chunks` with a given `sortable_id`:

[code]

The real

[2017-12-25 04:16] mac-chaffee commented on #2359
I tried adding a test case for this bug to ecto's test, but I wasn't able to replicate the bug:

[code]

Could it be an issue with the schema I wrote?

[2017-12-25 09:14] josevalim commented on #2359
It is not a bug, when Elixir sees a list of integers, it prints that between single quotes as it may be a list of characters. Try this on IEx:

    iex> i '='

And it will tell you more about it.

[2017-12-25 09:14] #2359 closed

[2017-12-27 03:57] jeffutter opened #2361 "Multiple joins to same table (for query composition) results in joining the same table multiple times"
I'm creating a ticket for an issue that was previously mentioned in another issue #1284 but wasn't fully resolved there.

I am running into problems dynamically composing queries from separate functions that may have similar joins in them. This is the result of JSON API 'filters'. There is a function for each filter and since the filters are added dynamically there is no guarantee whether or not o

[2017-12-27 04:18] CarlosCota commented on #2361
Hoping for the best

[2017-12-27 08:01] michalmuskala commented on #2361
This is expected behaviour and not something we're planning to change.

The suggested solution is to first collect all the necessary joins, perform them and later when adding conditions refer to the joined table through multiple bindings.

[2017-12-27 08:33] #2361 closed

[2017-12-27 12:34] akaKuruma commented on #882
Is it still supported?

[2017-12-27 13:11] jeffutter commented on #2361
I believe on my project I can enumerate all of the possible joins up front and use the whole list of bindings on every query. However, on some projects, I imagine the number of potential joins would cause performance issues, joining on tables that aren't used in the query? Perhaps the Postgres query optimizer will ignore them?

If one wanted to dynamically add the joins, one would also have to dyn

[2017-12-27 13:39] josevalim commented on #2361
You don't need to always use the whole list of bindings. As long as you are doing a relationship between the source in `from` and the latest join, you can comfortably build the query using `...`, such as `where([from, ..., last_join], from.foo == last_join.bar)`.

It only gets complex when you need to do relationships between joins but that doesn't seem to be the case with `ex_sieve`.

[2017-12-27 14:54] jeffutter commented on #2361
@josevalim Thank you, I appreciate the suggestion.

Perhaps `ex_sieve` was a bad example. I only referenced it's strategy since I found it in an [elixir form](https://elixirforum.com/t/build-dynamic-bindings-for-ecto-query-order-by/1638) post that seemed related.

For sake of discussion, I believe the following example better demonstrates the type of issue I am running into:

[code]

This works gr

[2017-12-27 15:03] michalmuskala commented on #2361
In case like this, I'd do something like:

[code]

And each of the functions manages it's joins and adds needed conditions.

[2017-12-27 20:30] stavro commented on #2081
I am also unable to use Upsert on unique indexes with expressions (eg. https://www.postgresql.org/docs/9.1/static/indexes-expressional.html)

Fragments could support this... But the current unique index does not have a constraint name (so I can't use :conflict_target), and I cannot add the expressions as strings, because Ecto complains about an unknown field name.

[2017-12-30 18:14] joaomdmoura commented on #1145
I see this is live as a `map/2` in `Ecto.Query.API` but do we have a syntax sugar for drop specific fields already? Is this still wanted? I could help tackle it, currently in need on another open source project 😅  cc @rockwood @josevalim

[2018-01-03 19:03] OvermindDL1 commented on #2361
https://elixirforum.com/t/ecto-query-patterns-named-joins/8474

This use case is something that would be fixed by named joins as I keep hitting myself.  I'd love to gather the joins I need, then join them via names (no positions, you can see the horrors of workarounds I do in the above link), then do what I need.  SQL uses named joins, Ecto should too; positional joins are horrible to work with on

[2018-01-03 19:13] michalmuskala commented on #2361
The thing is, that there's no way to support named joins without either completely breaking user applications (which means people will just stay on ecto 2.x forever, just like python) or making queries significantly slower.

If you have proposals for how to actually implement this, I'm open to hearing them - I think this is something great for the ecto mailing list.

[2018-01-03 19:28] OvermindDL1 commented on #2361
In essence the query structure would need to keep a name with the joined tables, but other than that I don't think that any other structure would really need to be changed.  Just have the table names, like at `select(query, [a, c, e: e, f: f], %{...})` would use positional lookups for `a` and `c` as it does now, and use names to lookup the join links for `e` and `f` (binding them to `e` and `f` re

[2018-01-07 22:14] fishcakez opened #2363 "Add Repo.checkout(fn -> .. end, opts)"
There should be a way to checkout a single connection from pool and run a series of requests it, possibly including multiple transactions, without requiring wrapping in a single transaction.

This will allow optimizations for those carrying out multiple queries in a tight loop.

We previously avoided this because SQL drivers used to push decoding outside the connection lock from the pool so checki

[2018-01-07 22:16] fishcakez opened #2364 "Profile data lookups and processing"
It has been a while since we did some performance analysis of the data processing in Ecto. There might be some room for a few optimizations, especially now that all processing happens under Ecto's control and not inside an adapter.

[2018-01-07 22:21] fishcakez commented on #2356
Closing in favor of https://github.com/elixir-ecto/db_connection/issues/110

[2018-01-07 22:21] #2356 closed

[2018-01-07 22:45] fishcakez commented on #2363
For SQL adapters we can use `DBConnection.run/3`.

[2018-01-08 05:45] Awenimpagaritse commented on #2364
Cool

[2018-01-09 04:29] zachdaniel opened #2365 "Joining two queries together results in query planning error"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgresql 9.6
* Ecto version (mix deps): 2.2.7
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: OSX

### Current behavior

[code]

raises

[code]

### Expected behavior

It should correctly build the where clauses as `on` statements and not apply them to t

[2018-01-09 07:07] mydearxym opened #2366 "put_assoc crash the server"
hi guys!

i am facing a common situation which i want to add records to my `many_to_many` field , let's say i want to add `a lots of` comments to post:

[code]

[code]

it works , but seems  the `put_assoc`  it`s not the right tool to do it.  i programed seed 10k comments to the same post , but the server crashed in about 3300 records

[code]
and after about 10 mins  server crashed ...

[code]

i

[2018-01-09 08:44] josevalim commented on #2366
You are getting a timeout. Because put_assoc does everything in a transaction, the transaction is taking more than 15s and Ecto is finding it unexpected. You can fix it by passing the timeout option to Repo.update:

    Repo.update(timeout: 1000 * 60) # 1 minute

If you don't need transactional guarantees, you can also remove put_assoc and then introduce the comments after the post is created, wit

[2018-01-09 08:45] josevalim commented on #2365
Thanks @zachdaniel!

Is the error really reporting this: `join: a1 in MyApp.,`? Notice the alias is incomplete.

[2018-01-09 08:56] mydearxym commented on #2366
@josevalim  thanks

i think the problem is i have to `preload` the old comments and `put_assoc` it with the new comment everytime.  i have tried inserting directly into the join table `cms_posts_comments` by using `Repo.insert_all`  , it works as expect with much better performence .

maybe there is a missing macro for it, say `add_assoc` ?

[2018-01-09 09:17] josevalim commented on #2366
Going through the join table is the way to go! put_assoc is meant to compute the diffs between values and keep transactional guarantees.

[2018-01-09 10:07] mydearxym commented on #2366
got your point, thanks !

[2018-01-09 10:07] #2366 closed

[2018-01-09 13:11] jueberschlag opened #2367 "State metadata for subqueries"
### Environment

* Elixir version (elixir -v): 1.5.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.4.9
* Ecto version (mix deps): 2.2.7
* Database adapter and version (mix deps): Postgrex 0.13.3
* Operating system: Docker Elixir 1.5 image (based on Jessie)

### Current behavior

Subquery results have state of `:built` and not `:loaded`.

[code]

Results are
[code]

### E

[2018-01-09 17:03] zachdaniel commented on #2365
No, my apologies! I went through and replaced our model names, and got that wrong. Fixing now.

[2018-01-09 17:06] josevalim commented on #2365
I am still confused by the error message. It says the `super` column does not exist in Post... but in the query is accessing the `super` for `User`? Do you have a sample app that reproduces the error? Or can you send a PR with a failing test case to our suite? We have a join test suite inside the integration_test folder.

[2018-01-09 17:13] zachdaniel commented on #2365
I will add a test case, but I need to be able to run the query itself since postgrex raises the error.

With that said, the mismatch of fields there is correct. That is what it shows in the error message. When running the query it appears to behave differently than when inspecting it.

[2018-01-09 17:21] josevalim commented on #2365
If you do Repo.to_sql (or `Ecto.Adapters.SQL.to_sql(Repo, query)` depending on your version)... is the returned query correct or does it yield the same error?

[2018-01-09 17:27] zachdaniel commented on #2365
It yields the same error.
[code]
With the same field/schema mismatch.

[2018-01-09 17:40] zachdaniel commented on #2365
Seemed easiest to get a sample app running, as I wasn't sure of the best way to use a Repo in tests, or to explcitly run queries. Here is the sample app: https://github.com/zachdaniel/sample_ecto_error

To reproduce, you should be able to
[code]

[2018-01-09 17:48] zachdaniel commented on #2365
This error was produced by just copying and pasting my code from above, with actual schemas modeled the same way
[code]

[2018-01-10 02:10] zachdaniel commented on #2365
Does anyone know the potential magnitude of this issue? We're on a big crunch, and w/o the ability to do this a lot of our primitives break down. The issue presents a potentially large amount of work for me. A workaround that I've found (but don't really want to implement everywhere) is to wrap the other query in a subquery.

[2018-01-10 09:38] josevalim commented on #2365
I can take a look at it today and attempt a fix if you can reproduce it in our test suite. I often spend most time trying to reproduce bugs than fixing them. :)

[2018-01-10 15:58] zachdaniel commented on #2365
I can do that. Do you have any tips for making it to the query planning stage without a backing db? It looks like none of the join tests use an actual database (which makes sense), so it doesn't look like I can use `Repo` in the test suite.

[2018-01-10 16:16] josevalim commented on #2365
I would recommend using the integration join suite: https://github.com/elixir-ecto/ecto/blob/master/integration_test/cases/joins.exs

[2018-01-10 16:18] zachdaniel commented on #2365
Oh, nice! I had totally forgotten about those. Thanks :)

[2018-01-10 16:49] zachdaniel commented on #2365
@josevalim Thanks for pointing me in the right direction, the failing test has been added in #2368.

[2018-01-10 22:33] yconselvan opened #2369 "Problem to join with different postgresql schemas"
### Environment

* Elixir version: Elixir 1.4.4  ( Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] )
* Database and version: PostgreSQL 9.5.10
* Ecto version: ecto 2.1.4
* Database adapter and version: postgrex 0.13.2
* Operating system: Linux 3e30dded55e2 4.9.0-5-amd64 #1 SMP Debian 4.9.65-3+deb9u2

### Current behavior

We are gettin

[2018-01-10 22:54] josevalim commented on #2369
This is documented behaviour: the schema prefix apply only for the from. You cannot go through multiple prefix in the same query.

[2018-01-10 22:57] OvermindDL1 commented on #2369
Yeah this is a *huge* limitation of Ecto that I've run into rather constantly @yconselvan and you can drop in to either raw SQL (losing Ecto's type checking and conversions and such) or, as you are using PostgreSQL, you can just create some View tables if you have access (which I, sadly, did not in some cases...).  I'm not really sure of any other workarounds currently...

[2018-01-10 23:32] yconselvan commented on #2369
I can drop into becoming a hater of ecto too ..

[2018-01-10 23:38] yconselvan commented on #2369
@josevalim you don't need to support this schema prefix if you can't go through multiple prefix in the same query. If I can't join another schema why to have schemas?

[2018-01-11 11:20] #2365 closed

[2018-01-11 11:23] josevalim commented on #2365
I have also backported it to the v2.2 branch.

[2018-01-11 12:20] IcyEagle opened #2370 "Update specific fields from EXCLUDED table on conflict"
Is it possible to do something like this on Postgres?

[code]

I found solution via fragment (#1853) but this way I can't provide ```on_conflict``` value as an argument (I can't use ```fragment``` outside of ```from``` scope). Eventually I'd like to make the next code work:

[code]

I've checked *Ecto.Repo.Schema.on_conflict/6* and concluded it's just not supported at all. Are there any hacks here

[2018-01-11 12:38] josevalim commented on #2370
@IcyEagle can't you repeat the values given on set?

  save(MyStruct, [%MyStruct{foo: "foo", bar: "bar", bazz: "bazz"}], on_conflict: [set: [foo: "foo", bar: "bar"])

?

[2018-01-11 12:41] #2303 closed

[2018-01-11 12:46] josevalim commented on #2317
The thing is that update is mostly a "dumb layer", when it handles associations, it is simply because those instructions are present in the changeset. So the changeset is the one responsible for figuring everything out, "update" just executes it.

[2018-01-11 12:52] IcyEagle commented on #2370
@josevalim in case of insert_all I can't since there are many entries and each of them may contain different values in the same fields.

[2018-01-11 13:03] josevalim commented on #2370
I see, yes. Would you like to send a PR? Ecto master already allows custom fields to be given, we just don't expose it. So the API would be this:

    on_conflict: {:replace, [:foo, :bar]}

To make this work, you just need to match it [here](https://github.com/elixir-ecto/ecto/blob/f9eea6174f225d24737f6e4f01ddd724f7449a0f/lib/ecto/repo/schema.ex#L505), probably something like:

    {:replace, keys

[2018-01-11 13:11] IcyEagle commented on #2370
@josevalim thank you for help! :)

I'll try to provide PR soon.

[2018-01-11 14:46] #2370 closed

[2018-01-12 09:50] josevalim commented on #2281
Thanks for the app!

It seems I was barking on the wrong tree. I have run the query directly psql and I got this:

[code]

it seems PG does not support quoted arguments there nor interpolations. So I would recommend you to write those directly in the fragment:

[code]

[2018-01-12 09:50] #2281 closed

[2018-01-12 10:00] ericmj commented on #2281
I think postgres supports this syntax, we have the following code working on postgres 9.6.5:

[code]

When I run the SQL query I don't get a syntax error either:

[code]

[2018-01-12 10:53] josevalim commented on #2281
Maybe it was added to more recent Postgres versions? Because mine, which is one tiny version prior to the reporter, does not work. So another alternative here is to update to a more recent PG.

[2018-01-12 10:54] #2340 closed

[2018-01-12 10:56] josevalim commented on #2340
Thanks for the failing tests. I have pushed two commits and backported this to v2.2. Please give the v2.2 branch a try and, if everything works out, we can ship a new version.

[2018-01-12 11:06] josevalim commented on #1549
Folks, we will close this issue since nobody has stepped up to work on it for a while.

At the same time, maybe a simpler solution is to have a helper that makes it easy to compose those queries into SQLs. For example:

[code]

Common table expressions could be done similarly:

[code]

And the original query should access those tables as "table1" and "table2".

This should be much simpler than cha

[2018-01-12 11:06] #1549 closed

[2018-01-12 11:41] #2037 closed

[2018-01-12 11:51] #2351 closed

[2018-01-12 11:53] josevalim commented on #2317
Here is my proposal: we add a `:force_update_on_change` to `cast_assoc` and `cast_embed`. When that flag is true and the association/embed change, we add the `force: true` flag to `repo_opts`. PR are appreciated.

[2018-01-12 11:59] josevalim commented on #2367
I am on this one!

[2018-01-12 11:59] josevalim commented on #2279
Tackling this one as well!

[2018-01-12 11:59] josevalim commented on #2296
Working on this too.

[2018-01-12 12:00] mbuhot commented on #2340
Thanks @josevalim, looks like it's mostly fixed.

I've rebased my branch on ecto master, the original failing tests are working.
I've added two variations that use the `%struct{}` syntax in the `select`.
One case fails to populate the struct fields, and the other doesn't compile the query.

https://github.com/elixir-ecto/ecto/commit/7f5099fb2cd3e5a22f61e03ea5cca8ea105f245e

[2018-01-12 12:07] josevalim commented on #2340
Thanks. They should both be errors, I will fix them.

[2018-01-12 12:36] hisapy commented on #2317
Ok. So in this sense, I think that the default value of `force_update_on_change` should be `true`. Otherwise, it will be easier to just put a `force: true` on `update`, specially if you have more than one `cast_assoc` and/or `cast_embed` piped in a given changeset. Does this make sense @josevalim ?

[2018-01-12 12:42] josevalim commented on #2317
That's ok by me.

[2018-01-12 16:14] ybod commented on #2325
Can I take a look at this?

[2018-01-12 16:15] josevalim commented on #2325
Yes pls.

[2018-01-12 20:56] #2325 closed

[2018-01-12 21:36] #2279 closed

[2018-01-12 22:26] #2367 closed

[2018-01-12 23:00] josevalim commented on #2279
Fixed on master and backported to v2.2. For now just a better error message.

[2018-01-12 23:15] #2296 closed

[2018-01-12 23:16] josevalim commented on #2260
Fixed in master and backported to v2.2 branch.

[2018-01-12 23:16] #2260 closed

[2018-01-14 19:34] #2317 closed

[2018-01-15 15:18] ruben44bac opened #2377 "Column type not supported | ODBC_CODE | SQL_SERVER_CODE 0 using type uniqueidentifier"
### Precheck

Hi
I have a problem to use type uniqueidentifier.
In my database i hava a table with column `pruebauuid uniqueidentifier` and in my schema used type :binary_id or :uuid or Ecto.UUID but always have same problem

Column type not supported | ODBC_CODE | SQL_SERVER_CODE 0
lib/ecto/adapters/sql.ex
431    case sql_call(repo, :prepare_execute, [name, prepared], params, mapper, opts) do
432

[2018-01-15 15:22] josevalim commented on #2377
Can you please file this on your the SQL adapter? Ecto is not responsible for this particular bit. Thanks!

[2018-01-16 21:21] alhambra1 opened #2378 "Error on `insert` callback when `on_conflict: :nothing` is used"
Hi,

Thank you for your wonderful contribution!

We've run into a little trouble with our Ecto adapter for DynamoDB after updating Ecto from 2.1 to 2.2.8. (See our project here: https://github.com/circles-learning-labs/ecto_adapters_dynamodb)

When calling `Repo.insert(changeset, on_conflict: :nothing)` we get the following error when our adapter provides the return value for the `insert` callback