[2020-08-03 04:12] #3367 closed

[2020-08-03 04:35] tuan-karma commented on #3367
Thank @wojtekmach for your quick reply.
If I pass a blank confirmation field or `password_confirmation: nil`, the errors will always be `{"does not match confirmation", [validation: :confirmation]}`.  So that, the `:required` option is useless. If this options is never used why did you put it in the function?

[2020-08-03 05:26] wojtekmach commented on #3367
First of all, that's a bit harsh. :) second of all, here's the rationale: https://github.com/elixir-ecto/ecto/issues/1450.

Agreed. Currently you'd only get the "can't be blank" if you have required: true but don't set the field in your params. If you set it, even to `nil`, you'd indeed get "does not match confirmation". Unfortunately you can't `|> validate_required(:password_confirmation)` becaus

[2020-08-07 23:18] amandasposito opened #3371 "The schema validation type for `{:array, inner_type} ` is not working as the query one"
### Environment

* Elixir version: 1.10.1

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): postgres (PostgreSQL) 12.2

* Ecto version: 3.4.4

* Database adapter and version (mix deps): Postgrex 0.15.5

* Operating system: Mac OS and Alpine Linux

### Current behavior

The schema check for `{:array, inner_type} `  is not working as the query one.

### Expected behavior

The schema valid

[2020-08-08 00:13] Eiji7 commented on #3371
@amandasposito `ecto` does not support `:jsonb` type as it's `PostgreSQL` naming. You should use `:map` instead:

Source: https://hexdocs.pm/ecto/Ecto.Schema.html#module-the-map-type

[2020-08-08 00:56] amandasposito commented on #3371
@Eiji7 I'm not saying it should support, I'm saying it should raise an error when I try to use it in the schema.

[2020-08-08 01:53] Eiji7 commented on #3371
@amandasposito Ah, right - sorry now I can see the problem

[2020-08-08 02:15] Eiji7 commented on #3371
@amandasposito I have created PR - in one test I have added 2 checks for `:jsonb` and `{:array, :jsonb` types. Let me know what you think about it.

[2020-08-08 07:59] josevalim commented on #3371
Closing in favor of PR!

[2020-08-08 07:59] #3371 closed

[2020-08-08 08:06] josevalim commented on #3324
Unfortunately the fix is not enough because we default to [] at the schema too, so Ecto doesn't pick up the change and I am afraid we cannot reliably make it so it does. Therefore you either have to use a changeset with force_change (instead of changing the default struct) or set the default at the database level in your migration too.

[2020-08-08 08:06] #3324 closed

[2020-08-10 13:47] amandasposito commented on #3371
@Eiji7 Thank you!

[2020-08-11 04:31] princemaple opened #3375 "JSON shortcut does not correctly deal with NULL"
### Environment

* Elixir version (elixir -v): 1.10.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): pg11
* Ecto version (mix deps): 3.4.5
* Database adapter and version (mix deps): 0.15.5
* Operating system: Alpine in docker

### Given

`A` embeds one `B` as `:b`, `B.x` can be `null`
There is one record `a` only, and `a.b.x` is `null`.

### Current behavior

[code]
Returns one record

[2020-08-12 03:19] quantumpotato opened #3379 "Ecto.delete_all with returning not returning anything"
### Environment

* Elixir version (elixir -v): Elixir 1.10.2
* Database and version (PostgreSQL 9.5.1,
* Ecto version (mix deps): (ecto 3.4.4
* Database adapter and version (mix deps):  postgrex 0.15.4
* Operating system: OSX

### Current behavior

Multi.new()
|> Multi.delete_all(:delete_all_restaurants, query, returning: [:identifier])
 |> Multi.run(:delete_events, fn _repo, so_far = %{delete_all

[2020-08-12 07:29] josevalim commented on #3379
`returning: ...` has been deprecated in Ecto 3. Instead pass a `select` in your query. For example: `select: table.identifier`.

[2020-08-12 07:29] #3379 closed

[2020-08-12 08:24] josevalim opened #3380 "Improvements to paramterized types"
* [x] Add docs to all Ecto.ParameterizedType callbacks

* [ ] Discuss if and how to move the functionality in Ecto.Changeset to Ecto.ParameterizedType (cast, change, apply_changes)

* [ ] Discuss if and how to move the functionality in Ecto.Repo.Schema to Ecto.ParameterizedType (Embedded.prepare, surface_changes)

[2020-08-12 08:35] josevalim commented on #3375
I cannot reproduce the issue. In my tests `Repo.all(from a in A, where: is_nil(a.b["x"]))` is behaving correctly and returning all null entries. Can you provide a sample application or a failing test case to Ecto that fully reproduces the issue? Thanks!

[2020-08-12 08:46] princemaple commented on #3375
Will do

[2020-08-12 10:53] Eiji7 commented on #3380
@josevalim I just want to confirm … If we agree on 2nd and 3rd point we would be able to write such code:

[code]
which would allow to work on `:source` field just like on `:post` association (in case `%MyApp.Post{…}` would be used or in this example `post_id` would be the only non-null `column` in database) just by `Ecto.ParameterizedType` callbacks without any workarounds and/or rewriting any pa

[2020-08-12 11:28] josevalim commented on #3380
Associations have other complexities that are not taken into account here, such as tracking transactions. Plus there are many other association specific callbacks. So what you suggest above is a non-goal, at the moment.

I mean, we haven't even solved embeds yet, talking about associations is definitely **too early**.

[2020-08-12 12:37] Eiji7 commented on #3380
Wait, do we need "association specific callbacks" and other things you said to support that? For sure: I asked about doing things like calling `cast_assoc/3` instead `cast` callback (1st point) in parameterized type (instead of `changeset/2` function) + give full `schema` instead of only field `value`. I asked in terms of custom field which would only **help** handling multiple associations and no

[2020-08-12 13:13] TheFirstAvenger commented on #3380
@josevalim I take the first task.

[2020-08-12 13:33] davydog187 commented on #3380
Has reuse of `Ecto.Enum` been discussed? We are big users of `embedded_schema` coupled with https://github.com/commanded/commanded. Since there are many events/commands that may share data types, its common for use to declare Enums to be shared across many schemas. For example, using our internal version of `Enum`

[code]

I really do think that first class support for this should be considered

[2020-08-12 13:35] wojtekmach commented on #3380
@davydog187 yup, the plan is for Ecto to ship with an Ecto.Enum type, it's just a matter of laying the proper foundation first.

[2020-08-12 13:36] davydog187 commented on #3380
Great. Sharing our implementation in case its useful https://gist.github.com/davydog187/0bec728c8f61218e9390aa43266b2acf

[2020-08-12 14:42] Eiji7 commented on #3380
@davydog187 Once `ParameterizedType` would be finished and released I would update my work I have already started locally. It would be an advanced enum library with a fully reversible migrations and many other features.

Regarding your use case you can do 2 things now:
1. Write a shared (between multiple schema modules) macros with predefined `values`
2. Write your own `ParameterizedType` based on

[2020-08-12 14:45] josevalim commented on #3380
If you need share enums with the current in master, I would do:

    field :sport, App.Sport, values: App.Enum.sports()

where

    def sports, do: [:baseball, :football]

If the goal is to define multiple enum modules, than the custom type API that is available today is enough. The goal with adding paramterized modules was to not force uses to define a bunch of small modules.

[2020-08-12 15:17] TheFirstAvenger commented on #3380
@josevalim #3381 submitted to address the first point.

[2020-08-12 15:27] josevalim commented on #3380
@TheFirstAvenger awesome, thank you!

[2020-08-12 15:28] josevalim commented on #3380
Btw, for the next tasks, we don't need to tackle all of them at once. For example, we can start only with a PR on cast, then one for change, etc.

[2020-08-12 20:12] ferigis opened #3383 "Query by Inner jsonb"
### Environment

* Elixir version (elixir -v): Elixir 1.10.3 (compiled with Erlang/OTP 22)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 12
* Ecto version (mix deps): 3.4.5
* Operating system: Mac

### Current behavior

Hi!

I have a jsonb column called `column1` and I want to query by inner field, for example:

[code]

if I do

[code]

it works but if I run

[code]

it does

[2020-08-12 20:24] wojtekmach commented on #3383
could you try casting the right hand side to jsonb like this?

[code]

does this help?

[2020-08-12 20:30] ferigis commented on #3383
hi! @wojtekmach , thanks for the tip but unfortunately it seems do not work :(

[2020-08-12 21:47] josevalim commented on #3383
Hi @ferigis! This is most likely not an Ecto issue but a Postgres ones. Postgres behaves slightly differently when data is passed as parameter compared to text. In other words, it is not guarantee in PG syntax that:

    p.column @> '{\"field2\": {\"field3\": \"value3\"}}'

will behave the same as:

    p.column @> $1

To check this out, my suggestion is for you to try writing your query directly

[2020-08-12 22:21] ferigis commented on #3383
thanks @wojtekmach and @josevalim for the tips/suggestions. I am going to play with that!

[2020-08-12 22:21] #3383 closed

[2020-08-12 23:37] ferigis commented on #3383
just for the record if someone has a similar issue. I could fix it like this:

[code]

[2020-08-13 14:50] michalmuskala commented on #3375
Could this be an issue caused by JSON null not being the same as regular SQL null? i.e. `'null'::json IS NULL` is `false` in postgres.

[2020-08-13 21:33] TheFirstAvenger commented on #3380
@josevalim Today I took a shot at implementing embeds in `Changeset.cast` (#3384). Let me know if it is on the right track or not.

[2020-08-14 12:03] josevalim commented on #3380
Hi folks, so today I spent most of the morning trying to remove embeds from Ecto.Repo.Schema and, unfortunately, those changes are not really straight-forward. We can't reliably do it without:

1. Slowing down inserts/updates by using transactions more frequently
2. Hardcoding the logic to nested changesets in changeset.changes

The approach in 2 is quite doable. I have even pushed a commit that u

[2020-08-14 14:27] Eiji7 commented on #3380
Right now only those are hardcoded in ecto. :slightly_smiling_face:

But seriously … I believe that there are dozens if not hundreds of documents with nested fields just like `json`. 2nd most popular after `json` is obviously `xml`. We have no idea what kind of document optimizations (like `jsonb`) `PostgreSQL` would deliver, so `parameterized` types would have lots to say here.

I worked a bit on

[2020-08-14 16:06] josevalim commented on #3380
`xml` is not a good example because it is orthogonal to embeds/associations, i.e. I should be able to persist embeds to an XML column without reimplementing embeds.

And even if you wanted to reimplement embeds, the parameterized API won't solve the duplication because:

* I don't think we can parameterize `cast_*` in the first place without making the paremeterized type API extremely more complex

[2020-08-14 16:54] #3307 closed

[2020-08-14 17:04] josevalim commented on #3380
Closing this per the above.

[2020-08-14 17:04] #3380 closed

[2020-08-15 07:44] princemaple commented on #3375
Repo: https://github.com/princemaple/ecto-json-null-repro

### Setup

[code]

### Repro
[code]

The test should fail. I expected the test asserts to return the same value.

[2020-08-15 11:00] josevalim commented on #3375
Thanks @princemaple!

@michalmuskala got it right, the value returned by JSON is not the same as SQL's null. Here is a snippet from psql:

[code]

I am not sure what to do here, to be honest. This behaviour is actually consistent across databases. The reason why it works with `->>` is because it actually casts stuff to text but that's not what we generally want from the `o.meta["nothing"]` syntax.

[2020-08-15 11:17] princemaple commented on #3375
I probably had some false expectations. Now I test it, many things I thought would work actually doesn't. I should revise my expectations about `JSONB` in `where`.

Thanks @josevalim and @michalmuskala !

[2020-08-15 11:17] #3375 closed

[2020-08-17 14:58] alexcassol opened #3387 "Multi tenancy app not working with cte queries"
### Environment

* Elixir version (elixir -v): **Elixir 1.10.4 (compiled with Erlang/OTP 23)**
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): **PostgreSQL 10.14**
* Ecto version (mix deps): **3.4.6**
* Database adapter and version (mix deps): **postgrex 0.15.5**
* Operating system: **Fedora 32 (Workstation Edition)**

### Current behavior
I have a multi tenancy app that uses recursive

[2020-08-17 16:46] Eiji7 commented on #3380
@josevalim I have check what I would need in parameterized types. In my case I have `virtual` field which simplifies working on multiple other fields. Here are things currently missing to make my code fully integrated with `ecto`:

1. `cast/2` should be: one of `cast/2` or `cast/3` (or maybe: `on_cast/3`)
a) For `cast/2` we have 1:1 as before
b) For `cast/3` we expect let's say `%Ecto.Changeset{}`

[2020-08-17 16:54] josevalim commented on #3380
As I mentioned, associations touch a whole different part of Ecto and they should be considered separately from ParameterizedType. My recommendation is to play with the private Ecto.Aosociation API and see where it leads you. There have been efforts in making them public in the past but it was not concluded.

[2020-08-17 17:10] josevalim commented on #3387
This is by design. You can change this by explicitly setting a prefix in the cte query:

    |> with_cte("category_tree", as: ^%{category_tree_query | prefix: "another one"})

[2020-08-17 22:02] alexcassol commented on #3387
Ok, I did it that way, but maybe I missing something.

[code]

And the result...

[code]
Note that INNER JOIN with CTE query is still using the prefix:
`INNER JOIN "tenant_x"."category_tree" AS ct ON c.parent_id == ct.id)`

[2020-08-23 23:09] gregors commented on #1581
Just because this is the first thing that my search brought up 4 years later.

On OSX I created a shortcut - info found here https://apple.stackexchange.com/a/12936/272124

Create a file called ```new_tab_vim```
[code]

Make it executable ```chmod +x new_tab_vim```
Move the script into ```/usr/local/bin```

Now ```ECTO_EDITOR=new_tab_vim``` works for me.

[2020-08-25 12:11] foucist commented on #1538
Just a note to others.

If you make an umbrella app and use `mix phx.new.web --no-ecto` the generated test/support/conn_case.ex will be missing the `:ok = Ecto.Adapters.SQL.Sandbox.checkout(AppA.Repo)` under the setup block.

[2020-08-27 13:15] josevalim opened #3389 "Add Repo.reload and Repo.reload!"
It receives a schema (or a list of schemas) and uses the meta information + primary key to reload the same entry from the database. The non bang variant returns nil (or removes the element from the list), the bang variant raises.

[2020-08-27 14:51] michalmuskala commented on #3389
What's the behaviour or associations? Are they unloaded?

[2020-08-27 15:28] josevalim commented on #3389
@michalmuskala good call, I would unload them and if you want, you can preload/copy the ones you want afterwards.

[2020-08-28 19:04] Harrisonl commented on #3159
Just ran into this issue, and just wondering if there was a solution or workaround for it yet?

In my case its:

[code]

If i remove the bucket and make it `'day'` it works fine.

[2020-08-30 17:19] GermaVinsmoke commented on #1207
I checked in SQL Shell provided by PostgreSQL. The default username is -> postgres and the password was set at the time of PostgreSQL installation.
I used the same password in `dev.exs` file and it worked.

[2020-08-31 04:12] kuon opened #3391 "Repo.update_all should accept a map"
At present `Repo.insert_all` accept either a map or a keyword list, for example, we can do:

[code]

But, we cannot do:

[code]

This is enforced by https://github.com/elixir-ecto/ecto/blob/a33f79fb577ac765f5b6c70b7f4be9fab94c9ebb/lib/ecto/query/builder/update.ex#L90

This is an issue with dynamic table mapping. I have an app with dynamic tables where each user can create its own schema, and I don

[2020-08-31 13:52] Adzz opened #3392 "Fragment Encode Error"
### Precheck
✅
### Environment

* Elixir version (elixir -v): 1.10.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgresSQL 11
* Ecto version (mix deps): 3.4.6
* Database adapter and version (mix deps): Postgrex 0.15.5
* Operating system: unix

### Current behavior

I don't know if this is a bug or misuse but when using fragments

This works:
[code]
This works:
[code]
as does this

[2020-08-31 13:59] josevalim commented on #3392
This is  not an Ecto bug but PostgreSQL behaviour. When you write "start_date - 10", PostgreSQL knows it is an integer and can work things out. However, when you just write `?`, PostgreSQL has to make a choice and it chooses a `Date`. There is nothing Ecto can do fix this chance. You can, however, tell PostgreSQL which type you are expecting or use a more precise function rather than the general `

[2020-08-31 13:59] #3392 closed

[2020-08-31 14:02] Adzz commented on #3392
Ah thank you so much. I tried this:
[code]
which also failed, which is why I thought it wasn't a sql thing. That makes so much sense though

[2020-09-01 19:08] aaronrenner opened #3396 "Field with type {:array, MyStruct} raises compilation error in 3.5"
### Environment

* Elixir version (elixir -v): 1.10
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): N/A
* Ecto version (mix deps): 3.5.0-rc.0
* Database adapter and version (mix deps): N/A
* Operating system: Mac OS 10.15.6

### Current behavior

When upgrading an application with the field
[code]

a compilation error is raised in Ecto 3.5

[code]

An example project is available here:

[2020-09-01 21:03] josevalim commented on #3396
The error message is correct, as `Comment` is not an Ecto.Type. I am actually surprised to how it worked before... did it just accept all values as is? Did it do any casting/dump/loading?

[2020-09-01 21:19] aaronrenner commented on #3396
Upon examining the code further, the child schemas (`Comment` in this case) were being manually cast and then assigned as a list to the parent (`Post` in this case). Looks like this new compiler error uncovered some incorrect code in the codebase.

Thanks!

[2020-09-01 21:19] #3396 closed

[2020-09-02 03:34] prihandi commented on #3389
If implemented, it'be nice too if `insert` and `update` given option to reload the entity also
e.g
I have table `users` , having fields : id, name, email, active, that default value for field `active` is true
I create a new user with required field only (name and email) , the return of `insert/1` would have field `active` with value nil, instead true

[2020-09-02 04:58] josevalim commented on #3389
@prihandi we already support that by using the `returning` option or configuring read_after_writes.

[2020-09-04 08:15] tuacker opened #3399 "Virtual fields do not get redacted"
### Current behavior
Setting `redact: true` on a `virtual` field does not work.

[code]

[code]

[code]

### Expected behavior

Virtual fields should get redacted too.

### Environment

* Elixir version (elixir -v):
[code]
* Ecto version (mix deps):
[code]
* Operating system: MacOS Big Sur b6

[2020-09-04 09:08] #3399 closed

[2020-09-06 17:23] liamwhite opened #3400 "Repo.insert_all should accept a query"
Right now there is already some primitive support for this via elixir-ecto/ecto_sql#39, in the following form:
[code]

I would like to be able to use an `INSERT INTO ... SELECT ...` statement to copy arbitrary rows from a select statement to a destination table (in my case, it's actually the same table, but that shouldn't matter for the implementation).
[code]

[2020-09-07 09:36] garlandcrow opened #3401 "3.5.0-rc.0: calling build_assoc w/ Ecto.Enum on table doesn't work w/ Phoenix params"
My tables to demonstrate the error
[code]
In my Phoenix route, I get some params on post to create a quotation containing the currency, which comes as ` %{"currency" => "cny"}` and I pass to `build_assoc` I get an error.

[code]

Should you handle converting the params manually? Or should `build_assoc` be able to the conversion for the Ecto.Enum when you call this?

[2020-09-07 09:46] josevalim commented on #3401
You want to use `Ecto.Changeset.cast`, so the parameters are properly cast to their types. `build_assoc` assumes the data has been properly validated and handled, which is not the case if you are passing controller params. I will improve the docs. :)

[2020-09-07 09:46] #3401 closed

[2020-09-09 13:23] D4no0 opened #3403 "Recursive CTEs not allowing direct selection into struct"
Currently there is no way to explicitly use the recursive selection and select directly in a struct.

The only workaround I could accomplish is to inner join with the same table and extract the values from that join:

[code]

[2020-09-09 14:49] josevalim commented on #3403
The issue here is that you are not starting the query with a schema, you are using `"custom_cte"`. You can attach a schema to it by using a tuple `{"custom_cte", Category} |> with_cte(...) |> ...`.

[2020-09-09 14:49] #3403 closed

[2020-09-09 18:00] D4no0 commented on #3403
Thank you! The example in documentation is a little misleading, I thought the syntax is for selecting a touple.

[2020-09-10 15:06] sezaru opened #3405 ":idle_time and :queue_time telemetry only invoked for SELECT queries with Postgres adapter"
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12
* Ecto version (mix deps): 3.4.5
* Database adapter and version (mix deps): postgrex 0.15.5
* Operating system: Ubuntu 20.04

### Current behavior

Ecto.Repo documentation says that some events are expected to be invoked during query execution, these events are `:idle_tim

[2020-09-10 15:08] josevalim commented on #3405
If you are not seeing them on idle_time and queue_time it is because there is most likely a transaction happening before those events. The transaction then checks it out, which means further comments won't have those instructions.

[2020-09-10 15:25] hoyon opened #3419 "Duplicate query alias generated with nested subqueries"
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 12.4
* Ecto version (mix deps): 3.4.6
* Database adapter and version (mix deps): postgrex 0.15.5
* Operating system: Arch linux

### Current behavior

When nesting subqueries, the same alias can be generated twice which can cause unexpected results.

Example:

[code]

This gen

[2020-09-10 15:48] sezaru commented on #3405
So, what you are saying is that if my query is inside a transaction (which is my case since I'm using Ecto.Multi) it will not show-up to `:idle_time` and `:queue_time` since the transaction itself will invoke these events right?

I see some `:idle_time` and `:queue_time` events showing up with command `:begin`, I guess this is the transaction query right?

But if this is the case, why does my INSE

[2020-09-10 16:00] josevalim commented on #3405
Correct!

Which reporter are you using? Maybe the reporter is checking for `keep?` before it actually notices the measurement doesn't really exist!

[2020-09-10 20:23] sezaru commented on #3405
Thank you for the explanation, you are right about the reporter!

[2020-09-10 20:38] josevalim commented on #3405
Which reporter is it? Please file a report there!

[2020-09-10 20:54] sezaru commented on #3405
It is TelemetryMetricsPrometheus.Core, I am doing some more tests to understand exactly what happens behind the scenes in their report before filing a bug report in their Github page.

[2020-09-11 08:01] D4no0 opened #3406 "Casting recursive cte query with prefix not working"
Suppose I have the schema:
[code]
I want to get all the children with the query:
[code]
Doing this query gives the error:
[code]

Judging from the query it seems that it tries to append `company` prefix to `cte`, which makes no sense.

Are there any workarounds for this behavior?

[2020-09-11 08:27] josevalim commented on #3406
You can set the prefix for each segment. So something like this should work: `from(cte in {"cte", Organization}, prefix: nil) |> ...`

[2020-09-11 08:27] #3406 closed

[2020-09-11 08:43] D4no0 commented on #3406
It doesn't seem to work, the same query is generated.

[2020-09-11 09:21] josevalim commented on #3406
Fixed in master!

[2020-09-11 09:23] D4no0 commented on #3406
Thank you very much!

[2020-09-12 17:15] alexcassol opened #3407 "Prefix not changing in cte query"
### Environment

* Elixir version (elixir -v): Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.14
* Ecto version (mix deps): 3.4.6
* Database adapter and version (mix deps): postgrex 0.15.5
* Operating system: Fedora 32 (Workstation Edition)

### Current behavior

I have a multi tenancy app that uses recursive queries.

My base

[2020-09-12 18:52] #3407 closed

[2020-09-12 18:53] josevalim commented on #3391
Sounds good! PR is welcome!

[2020-09-12 20:36] elielhaouzi opened #3408 "autogenerate for ParameterizedType"
### Environment

* Elixir version (elixir -v): 1.10.4
* Ecto version (mix deps): 3.5.0-rc.0
* Database adapter and version (mix deps): postgrex 0.15.5
* Operating system: ubuntu

### Current behavior
I just implemented a parameterizedType for a primary key field and I cannot set the autogenerate to true, I get an exception
`field :id does not support :autogenerate because it uses a primitive type

[2020-09-12 20:46] josevalim commented on #3408
Yes, we need to support autogenerate for them. A PR is very welcome!

[2020-09-14 09:29] #3408 closed

[2020-09-14 16:36] v0idpwn commented on #3391
Can I take this one?

[2020-09-14 16:39] kuon commented on #3391
I did work around it, and I don't have time to make a PR, so I would appreciate.

[2020-09-15 04:24] v0idpwn commented on #3389
Can I take this one?

[2020-09-15 05:31] josevalim commented on #3389
Yes please!

[2020-09-15 11:17] sabiwara opened #3412 "Querying a Ecto.Enum without a pin operator in the last rc"
### Environment

* Elixir version (elixir -v): 1.10.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.1
* Ecto version (mix deps): `3.5.0-rc.0`
[code]
* Operating system: Ubuntu 18.04

### Current behavior

Reproduced a mininal example:

Schema:
[code]

Failing example 1:

[code]

fails with a compilation error:
[code]

Failing example 2:

[code]
Compiles but fails at run

[2020-09-15 11:17] sabiwara commented on #3412
Sorry I wasn't done filling it :bow:

[2020-09-15 11:18] josevalim commented on #3412
@sabiwara no worries! You can also keep it open and edit it. :) Your call!

[2020-09-15 12:33] sabiwara commented on #3412
Edited, thanks :)

[2020-09-15 12:46] josevalim commented on #3412
Btw, a PR is welcome! I think the first step is to allow atoms in the query/builder.ex and then we need two tests:

    where(p.some_string_column == :atom) #=> will raise
    where(p.some_enum_column == :atom) #=> will work

[2020-09-15 13:15] sabiwara commented on #3412
Sounds great, will give it a try!

[2020-09-16 02:32] hiraqdev opened #3413 "Still cannot run mix gen repo from umbrella project"
### Environment

* Elixir version (elixir -v): Elixir 1.10.4
* Ecto version (mix deps): 3.4.6
* Database adapter and version (mix deps):  ecto_sql 3.4.5
* Operating system: linux ubuntu 20.04

### Current behavior

When i run `mix ecto.gen.repo -r User.Repo`

[code]

### Expected behavior

Should be able to generate repo from umbrella application

---

I've checked the source inside `master` branc

[2020-09-16 02:57] Eiji7 commented on #3413
@hiraqdev #3202 was about calling this task from any `app` inside `apps` directory - i.e. not from `root` of `umbrealla`. The `no_umbrella!/1` call is still unchanged from earliest release `v.0.16.0`.

I may only guess why it's done right that, but I think that authors did not want to complicate `task` and did not add option like `--app` for which repo should be generated. For me it looks like:

[2020-09-16 03:19] hiraqdev commented on #3413
Yeah, i think you're right @Eiji7 , the issue https://github.com/elixir-ecto/ecto/issues/3202 is different with mine here, so is it mean, that ecto will not run (forever) from the umbrella project ?

[2020-09-16 05:23] josevalim commented on #3413
You cannot run it from root because we don’t know on which app in the umbrella we should actually add the repo. Just pick one and add it inside that child. I will improve the error message.

[2020-09-16 05:28] #3413 closed

[2020-09-16 18:59] josevalim commented on #3391
We have decided to not support this after all, see #3411 for a compete discussion. Thanks!

[2020-09-16 18:59] #3391 closed

[2020-09-17 08:06] sasa1977 opened #3415 "Strange preloading bug in Ecto 3.5.0-rc.0"
### Environment

* Elixir version (elixir -v): 1.10
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.4
* Ecto version (mix deps): 3.5.0-rc.0
* Database adapter and version (mix deps): postgrex 0.15.5
* Operating system: Ubuntu

### Current behavior

While testing Ecto 3.5.0-rc.0 I've noticed a strange preloading bug. In some cases, a list of multiple preloads sets the asso

[2020-09-17 15:33] #3412 closed

[2020-09-17 15:58] josevalim commented on #3415
I cannot reproduce this. I have added this test to our suite:

[code]

And it works fine! You can try playing with the test by cloning both `ecto` and `ecto_sql` in the same directory and then from `ecto_sql` you run:

     ECTO_ADAPTER=pg mix test ../ecto/integration_test/cases/preload.exs

[2020-09-17 18:17] sasa1977 commented on #3415
So, I forgot to mention one important piece of information: this happens on a dynamic repo.

After going through the depts of ecto & ecto_sql, I was able to narrow it down to [maybe_pmap](https://github.com/elixir-ecto/ecto/blob/d173e0f74c54dc03dfd815f4ad98e491cf340516/lib/ecto/repo/preloader.ex#L123-L132). I first established that if I disable parallel preloads, everything works.

Then, I reverte

[2020-09-17 19:22] josevalim commented on #3415
If you don’t set allowances, it raises an error? Because it should be using the mechanism that sets allowances based on the task caller

[2020-09-17 20:46] sasa1977 commented on #3415
Good question! If allowance is not set it returns nothing but doesn't raise. Which reminded me to double check something else, and I've noticed that sandbox mode was not set to manual. When I do that then everything is working as expected, so it seems the problem was in my code after all, right? The funny thing is that the same code works fine with Ecto 3.4. Has perhaps the default sandbox mode ch

[2020-09-17 20:52] josevalim commented on #3415
@sasa1977 we did change the preloader. The only changes to the sandbox were the ones related to dynamic repo. :) But did the dynamic parallel preload work on v3.4? Because I wouldn't have expected it to.

[2020-09-17 20:54] sasa1977 commented on #3415
Not sure if dynamic parallel preload worked, but all tests are passing on 3.4.6 :-) We're using a copy of the sandbox from 3.5, so that hasn't changed when I updated ecto_sql. Was perhaps parallel preload not used by default before 3.5?

[2020-09-17 21:09] josevalim commented on #3415
The default is the same. Can you please try checking out [this commit](https://github.com/elixir-ecto/ecto/commit/e75ae5565894973541fdcad43583c6428144c27a#diff-9dab1b1adef58f372bcbdd976c02f663) and let us know if it fails or pass?

[2020-09-18 04:15] sasa1977 commented on #3415
I first tried with 3.4.6 and can confirm that preloads are done in parallel, and everything works correctly. Same thing for the commit you linked. I went on to do manual bisection, and I established that [this change](https://github.com/elixir-ecto/ecto/commit/95c1101f94e26a39ae4c5bebb28ed660fa4bfbf9#diff-9dab1b1adef58f372bcbdd976c02f663L130) breaks the behaviour for me. If I manually return the l

[2020-09-18 05:32] josevalim commented on #3415
I double checked DBConnection and that line is necessary if you are not running in `:manual` mode. So the question is indeed why you are not running on manual or {shared, _}. If you run in automatic, it means that each process run on its own transaction, including those tasks. In any case, I will add the line back for now. Thank you so much for bisecting!

[2020-09-18 05:35] #3415 closed

[2020-09-18 05:48] sasa1977 commented on #3415
That was an error on our side :-)

[2020-09-20 02:22] v0idpwn commented on #3389
@josevalim do you think this belongs to `Ecto.Repo.Queryable` or `Ecto.Repo.Schema`? I was thinking it should be on schema because it expects schemas only (and not any queryable), but so does `Repo.get/2`, which is on `Ecto.Repo.Queryable` and is very similar to `Repo.reload`.

[2020-09-20 07:43] josevalim commented on #3389
Yes, let's go with `Ecto.Repo.Queryable` since it is similar to `Repo.get` (and will most likely rely on it).

[2020-09-21 11:55] fuelen commented on #1479
@josevalim it seems like with introducing parent_as https://github.com/elixir-ecto/ecto/commit/7633ac0acb0b65f55d57c51ddea6c741b98e0439 this issue can be reopened, right?

[2020-09-21 11:56] josevalim commented on #1479
Yup, good call! and we can even look at the “in query” support as an example of how to implement this. PRs are welcome!

[2020-09-21 12:14] fuelen commented on #1479
Could you update labels and milestone?

[2020-09-21 15:09] stiang opened #3417 "Documentation bug in "Dynamic queries -> Dynamic and joins""
In [/guides/howtos/Dynamic%20queries.md](https://github.com/elixir-ecto/ecto/blob/v3.4.6/guides/howtos/Dynamic%20queries.md), there’s the following code block:

[code]

However, it seems there’s (currently) no version of [Ecto.Query.join](https://hexdocs.pm/ecto/Ecto.Query.html#join/5) that permits the `qual` argument to be omitted, so as written that code block produces the following error:

[cod

[2020-09-21 15:20] josevalim commented on #3417
Agreed! A PR will be very appreciated!

[2020-09-24 09:35] D4no0 opened #3420 "Support for subquery with window?"
Is there a updated version that doesn't require a fragment for windowed subquery?

The currently working version is this:
https://elixirforum.com/t/problem-with-window-function/9453/16

[2020-09-24 09:39] josevalim commented on #3420
It may be doable using the `over` helpers added in Ecto.Query.API and the general window functions. Also, please use the forum for questions, as a wider community will be available to help you. Thanks.

[2020-09-24 09:39] #3420 closed

[2020-09-24 09:46] D4no0 commented on #3420
Ok, it seems I managed to do this using the [merge/2](https://hexdocs.pm/ecto/Ecto.Query.API.html#merge/2) helper and a virtual field.
Thanks for the help.

[2020-09-24 21:11] kelvinst opened #3421 "Repo.preload on a list that has the same register twice duplicates the assocs that were already preloaded"
# Environment

* Elixir version (elixir -v):

$ elixir -v
Erlang/OTP 22 [erts-10.7.1] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe]

Elixir 1.10.3 (compiled with Erlang/OTP 21)

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

PostgreSQL 12.1

* Ecto version (mix deps):

Tested on master, the issue still there

* Database adapter and version (mix deps):
* Operati

[2020-09-24 21:12] kelvinst commented on #3421
Also `force: true` helps as a workaround, but I kind of don't want to force a reload when it is not needed

[2020-09-24 21:13] kelvinst commented on #3421
Will happily work on it when I get time, as it affects our production code.

[2020-09-24 21:13] josevalim commented on #3421
Thanks! Is it a regression? Was it working on v3.4.x?

[2020-09-24 21:17] kelvinst commented on #3421
Oh, sorry, the versions I'm on in prod:

[code]

[2020-09-25 01:45] mjquinlan2000 commented on #3419
Hi, I noticed this when trying to do nested subqueries with lateral joins so I set up a test project displaying the error. I can currently circumvent the problem by making the innermost join a fragment, but it's not very friendly.

Here is the project https://github.com/mjquinlan2000/ecto-lateral-subquery-aliasing-test

Let me know if there are any questions

[2020-09-25 07:47] #3421 closed

[2020-09-25 08:22] kelvinst commented on #3421
@josevalim thanks for the quick fix! Any idea when is this going to be released? Will it be included in the next patch, or just the next minor?

[2020-09-25 08:33] josevalim commented on #3421
It will be included in the v3.5 final.

[2020-09-25 08:39] kelvinst commented on #3421
Any date for that? Just to know if I wait the release to update, or I do cherry-pick the commit on top of the last stable release on my fork (as the error is on a beta feature I can wait a bit)

[2020-09-25 08:46] kelvinst commented on #3421
PS.: No pressure, your work pace is pretty crazy to me already 😂, I have no problem on waiting

[2020-09-25 08:56] josevalim commented on #3421
As most releases, it will be out when it will be out. :)

[2020-09-25 22:24] mjquinlan2000 opened #3422 "`dynamic/3` with subquery giving compile errors"
### Environment

* Elixir version (elixir -v): Erlang/OTP 22 [erts-10.7.2.1] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe]
    Elixir 1.10.3 (compiled with Erlang/OTP 22)

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): postgres (PostgreSQL) 11.0
* Ecto version (mix deps): ecto 3.4.6 (Hex package) (mix)
* Database adapter and version (mix deps): postgrex 0.15.5 (

[2020-09-27 04:16] alaadahmed opened #3423 "I get `can't be blank` for an embedded schema although it has default value for it."
### Environment

* Elixir version (elixir -v): __1.10.4__
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): __PostgreSQL 12.4__
* Ecto version (mix deps): __3.4.6__
* Database adapter and version (mix deps): __0.15.6__
* Operating system: __macOS 10.15.7__

### Current behavior
I have schema __options__ that has two embedded schemas, <ins>one</ins> __currency__ and <ins>many</ins> __colo

[2020-09-27 06:27] josevalim commented on #3423
Yes, the default in your database are not reflected in the schema. You have to set it automatically when building the association or remove the validation and use `read_after_writes: true` so Ecto reads the value back.

[2020-09-27 06:27] #3423 closed

[2020-09-27 06:46] alaadahmed commented on #3423
I am sorry, I read documentation, and I didn't understand how to set it __automatically__, if I can't pass to `embeds_one` any other __opts__ except `on_replace`, and I can't add normal field for __currency__ because it will conflict with `embeds_one :currency, IPO.Options.Currency, on_replace: :delete`. So I see the only option I have is to remove validation for __:currency__?!!

[2020-09-27 06:54] josevalim commented on #3423
You have to embed it after creating the Website entry. For example, in your changeset function, you can do this: `Website |> cast(...) |> put_embed(..., :currency, %Currency{...})`.

[2020-09-27 07:25] alaadahmed commented on #3423
But I didn't understand, why in the case of `embeds_many` it worked fine and accepted the default value I passed in the migration file, but with `embeds_one` it didn't? This was my main reason behind opening this issue. Also, this solution of put_embed worked fine but it always put this value that passed for it in the database, even when I insert a new record with a different value it doesn't cons

[2020-09-27 18:36] akash-akya opened #3424 "upsert with `on_conflict: {:replace, fields}` raising error for mysql"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version: MySQL, 5.5
* Ecto version (mix deps): `3.5.0-rc.1` (master)
* Database adapter and version (mix deps): `:my_sql`, `0.4.1` (master)
* Operating system: Mac OS

### Current behavior

Upsert with `{:replace, fields}` as `:on_conflict` option raises error saying `conflict_target` is required. But for mysql this not required

[2020-09-27 18:44] #3424 closed

[2020-09-28 15:05] mjquinlan2000 commented on #3422
Thank you @josevalim

[2020-09-28 16:47] mjquinlan2000 commented on #3422
Hi, I'm still seeing an issue with binding variables in the subqueries. If I do this:

[code]

You can see that the `ids` variable is not present in the list of query parameters passed. The parameters are just an empty list.

[2020-09-28 17:02] josevalim commented on #3422
@mjquinlan2000 just as a sanity check, does it work if you don't use dynamic?

[2020-09-28 20:54] mjquinlan2000 commented on #3422
Yes so if I do

[code]

[2020-09-29 08:09] hfjallemark opened #3426 "Calling Exception.message on an InvalidChangesetError crashes"
### Environment

* Elixir version (elixir -v): 1.10.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.4
* Ecto version (mix deps): 3.4.6
* Database adapter and version (mix deps): postgrex: 0.15.6
* Operating system: macOSCatalina 10.15.6

### Current behavior

I'm trying to call `Exception.message`  on an `InvalidChangesetError` but it crashes:

[code]

From what I can s

[2020-09-29 08:28] josevalim commented on #3426
Can you please provide a complete case that reproduces the error? It is most likely that the error is in the `:rollback` appearing suddently, rather than in InvalidChangesetError. thanks!

[2020-09-29 09:11] hfjallemark commented on #3426
I haven't been able to reproduce it locally. I tried manually rolling back within the transaction as well as forcing an invalid changeset without success.

Here's the code:

[code]

And here's the stack trace:

[code]

Looks like the error may originate from Oban, but I've searched its codebase without finding any trace of any `:rollback` value. @sorentwo any ideas?

[2020-09-30 13:43] #3417 closed

[2020-09-30 18:41] stiang commented on #3417
Sorry about the delay, thanks for fixing it 👍

[2020-10-01 08:12] hubertlepicki opened #3428 "The Pool not being fully available when application starts"
Please excuse me if this is not considered a bug, or it may be more of a Phoenix issue than Ecto and I am posting in wrong place (I am unsure what's best). It may be even more of a DBConnection issue... or totally our fault because we're doing something wrong.

I have a production Elixir / Phoenix application that is being deployed on Gigalixir that does receive heavy traffic. It's  Phoenix umbrel

[2020-10-01 08:34] josevalim commented on #3428
Postgrex is asynchronous when it connects to the database. So when the repo starts, you may not have a connection yet. If your database is loaded with extensions, this bootstrap time can be high.

My suggestion is to have a single process immediately after Ecto.Repo in the supervision tree that is responsible for checking for the repository availability:

[code]

As you said, the query above can f

[2020-10-01 08:37] hubertlepicki commented on #3428
@josevalim that's a very simplistic version of what I came up with, yes. In fact I even do "Select 1" lol. Alright, I'll continue with the approach then. Note: it may not be enough to check for only one successful execution. The app starts 40 connections and does really need them, so the warmup check had to take that into consideration.

[2020-10-01 08:40] josevalim commented on #3428
@hubertlepicki do you do it 40 times to guarantee all 40 have been warmed up? Could you please share your code? Also, do you really need the DynamicSupervisor? :)

In any case, I think we should at least talk about this more. I was planning a blog post on Dashbit website about cache warmup and the technique is the same as in here, so I could complement it with this information. Perhaps we deserve

[2020-10-01 08:42] hubertlepicki commented on #3428
Alright I'll extract it out so it doesn't reference anything internal to the app and post a link for you here to the repo. It may not be today however. Will keep that issue open then?

[2020-10-01 08:45] josevalim commented on #3428
Oh, so the app starts, but health-check fails. And the proxy only redirects to it once health-check succeeds?

[2020-10-01 08:47] hubertlepicki commented on #3428
Yes, so the idea is:

- application fully starts but doesn't open the port
- application starts performing health check
- when it starts succeeding the application starts Endpoint and opens up the port
- Gigalixir at this moment starts redirecting traffic to the fully warmed up app

[2020-10-01 08:57] josevalim commented on #3428
Yeah, so i think you can skip the dynamic supervisor in favor of the GenServer above. Just put it in the tree in a way that blocks only the Endpoint stuff.

[2020-10-01 09:12] hubertlepicki commented on #3428
@josevalim here is the gist of it ;)

https://gist.github.com/hubertlepicki/8cc78b8167ef738eed9fc10b8ae1dcf3

[2020-10-01 09:29] hubertlepicki commented on #3428
My main thinking ref. not blocking application startup was, where I may be wrong too, is that it will block graceful shutdown. The app at the same time as starting db / endpoint does connect to cluster and can have processes migrated to it in the meantime already and can hold some state in memory.

I think if the app fully hasn't started, calling Application.stop() on it will also hang and eventua

[2020-10-01 09:32] josevalim commented on #3428
If the app doesn't boot because of a child error, children in the tree should still be shutdown orderly, so the graceful shutdown should still be in place!

[2020-10-01 09:36] hubertlepicki commented on #3428
Right, so you are suggesting only blocking the application start up for limited amount of time, several seconds, and give up if it doesn't happen and we were unable to start the Endpoint. That'd make the app not started and Gigalixir will boot new pod that will try the same process from the start. Yes, that could work too, possibly better possibly worse depending on if the time we give it to fully

[2020-10-01 11:18] josevalim commented on #3428
Exactly. I think we can close this for now. I will probably have a blog post out in a month or two. Thanks for sharing! <3

[2020-10-01 11:18] #3428 closed

[2020-10-01 11:27] hubertlepicki commented on #3428
Yeah thanks. I need to ponder about the implications of simpler solution. I *think* we'll stay with the current one but have to confirm what's happening if the app is abruptly shut down versus gracefully.

[2020-10-02 06:21] tomtaylor opened #3430 "Empty struct being returned from LEFT LATERAL JOIN where I'd expect a nil"
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 12.4
* Ecto version (mix deps):
  * ecto: 3.4.6
  * ecto_sql: 3.4.5
* Database adapter and version (mix deps): postgrex 0.15.6
* Operating system: MacOS 10.15.6

### Current behavior

I'm performing this query:

[code]

The `Rule` schema looks like this:

[code]

The details o

[2020-10-02 06:59] josevalim commented on #3430
Thank you for the report! Can you please provide a small application or a failing test case that reproduces the error? We have limited time and I want to make sure our time is spent on fixing the bug rather than reproducing it. Thanks!

[2020-10-02 09:08] tomtaylor commented on #3430
Sure thing, here's a patch file with a failing integration test attached:

https://gist.github.com/tomtaylor/0f6f18225b518bb2c60b2f10666681cf

[2020-10-02 09:09] josevalim commented on #3430
Those are the best, thank you! <3

[2020-10-03 10:31] #3422 closed

[2020-10-03 11:43] #3430 closed

[2020-10-03 11:45] tomtaylor commented on #3430
Thanks @josevalim!

[2020-10-03 12:49] josevalim commented on #3419
Fixed here: https://github.com/elixir-ecto/ecto_sql/commit/babc5542d729c7e6b8cecc70cd095cbc740f21e8

[2020-10-03 12:49] #3419 closed

[2020-10-03 12:50] josevalim commented on #3400
Unfortunately this feature is too complex if we are to consider all the possible options and combinations allowed in Repo.all + Repo.insert, so for now I will suggest to either hand-write the query or use Repo.to_sql to compose the select and build the overall insert with it that you pipe into Repo.query. Thanks!

[2020-10-03 12:50] #3400 closed

[2020-10-05 13:15] rhamorim opened #3432 "Unexpected behavior with nested embedded schemas and cast_embed"
### Environment

* Elixir version (elixir -v): Elixir 1.10.4 (compiled with Erlang/OTP 22), running on OTP 23
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): embedded schemas, so not dependant on DB; otherwise, PostgreSQL 12
* Ecto version (mix deps): ecto 3.5.0, also happens on 3.4.6
* Database adapter and version (mix deps): again, embedded schemas, so not relevant; but it's postgrex

[2020-10-05 13:38] josevalim commented on #3432
`cast_embed` works on IDs. This will make it work:

[code]

maybe we can raise an error or improve the behaviour a bit (like discarding all existing keys if they are not nil) but I don't think it will ever work as you expect unless you add IDs.

[2020-10-05 13:49] rhamorim commented on #3432
I tried with the ids, but not only it requires `on_replace: :delete` on embeds_many to work at all, but also descriptions disappear from the result changeset. I'll submit a branch to the example repository with this version as well.

[2020-10-05 13:54] josevalim commented on #3432
It doesn’t require on_replace: :delete if you send the same IDs. In any case, cast_assoc is about replacing existing data based on IDs, without them, it won’t work.

[2020-10-05 13:56] rhamorim commented on #3432
I get exceptions if I try without specifying on_replace, or if on_replace is :update.

[code]
Is this expected?

[2020-10-05 14:00] rhamorim commented on #3432
BTW, I checked with other people on the Elixir Discord before bringing the issue here. Other people found it odd.

I created the branch with_ids on the original project I posted in the issue.

[2020-10-05 14:01] josevalim commented on #3432
The IDs worked fine for me. Make sure the form is sending them, it may not send them if the data was not persisted. It may be best to consider another approach, as cast_assoc is really about replacing existing data.

[2020-10-05 14:10] rhamorim commented on #3432
I triple checked and the params are exactly equal to what you posted (only different is that values are not filled, which triggers a validation error, which might be related to the behavior I described?):
[code]

So are the items. And I get a runtime exception if the on_replace option is not set, and empty descriptions if it is :delete.

[2020-10-05 14:36] josevalim commented on #3432
In your example, you can see that the first three are marked as `:replace`, that's because they are scheduled for being replaced (removed in your case). That's because the IDs are not matching. This was a bad copy and paste in my example, make sure they the IDs are all strings.

[2020-10-05 14:59] #3432 closed

[2020-10-05 15:00] rhamorim commented on #3432
Ah, the string IDs did work. I had tried with ids but they were integer ids, and I completely forgot that the default ids in embedded schemas are by default binary. That explains what was going on.

Obrigado pela ajuda!

[2020-10-06 19:43] Adzz opened #3433 "When upserting on_replace doesn't seem to get called."
### Environment

* Elixir version (elixir -v):  Elixir 1.10.2 (compiled with Erlang/OTP 22)
* Ecto version (mix deps): 3.4.6
* Operating system: unix
* Db: postgres 11

### Current behavior

Say I have posts with unique titles. If I have an existing post with comments, I know I can do this:

[code]
And the `on_replace` will be triggered for comments. But when I try the same thing with an upsert it

[2020-10-06 20:41] josevalim commented on #3433
Correct and there isn’t much we can do. put_assoc works by comparing data in memory, in this case, we don’t have a before to compare and know we can delete data. You will have to model this differently, using transactions or so to clear the data based on the upsert results.

[2020-10-06 20:41] #3433 closed

[2020-10-06 20:57] elielhaouzi opened #3434 "belongs_to with Ecto.ParameterizedType"
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps): 3.5
* Database adapter and version (mix deps): postgrex
* Operating system: ubuntu

### Current behavior

[code]
(ArgumentError) invalid option :some_opt for belongs_to/3

In principle, the code support the parameterized type and init it right with the option

[2020-10-07 05:49] elielhaouzi commented on #3434
After reflexion, the problem with my solution is that we need to re-write in the belonged field all the options.
Maybe is it a way to get the options of the `related_key` via the the `related` module ?
The question is is there a way to get the `related` module attribute from the current module ?

[2020-10-07 07:02] sreecodeslayer commented on #3224
@xdays Can you describe what the problem on the server side was or how you debugged this one?

[2020-10-07 07:06] josevalim commented on #3434
In this case, it is better for you to manually define the field and pass `define_field: false` to `belongs_to`. Although I would be careful with using both belongs_to and parameterized types, as each of those may make different assumptions about how the type should behave.

[2020-10-07 07:06] #3434 closed

[2020-10-07 16:45] Adzz commented on #3433
What happens to the data in this case then, are the associations put there via put_assoc just ignored? I'm wondering if a warning would be useful as it seems to silently work, until you check the results.

Or could we make it so that in this case whatever relations are in the changeset fully replace whatever is in the db? I.e. force on_replace to trigger.

[2020-10-07 17:21] validere-ben opened #3438 "Inconsistent timestamp type returned when selected from subquery"
### Environment

* Elixir version (elixir -v): Elixir 1.10.2 (compiled with Erlang/OTP 21)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.6
* Ecto version (mix deps): 3.5.0
* Database adapter and version (mix deps):  postgrex 0.15.6
* Operating system: macOS 10.15.6

### Current behavior

As of 3.5.0 it appears that the timestamp type of the source Schema in a subquery is

[2020-10-07 17:23] josevalim commented on #3433
They are not ignored. If you had put_assoc, then you would have the data from before and after, assuming the ID is the same - which could be a legitimate use case too, it just isn't the use case you desire in this occasion.

[2020-10-07 18:10] josevalim commented on #3438
Awesome find @validere-ben! I will take a look at this tomorrow (latest). :)

[2020-10-08 07:31] #3438 closed

[2020-10-08 07:32] josevalim commented on #3438
v3.5.1 is out!

[2020-10-08 15:21] #3389 closed

[2020-10-09 18:53] Schultzer opened #3439 "empty_values was introduced in 9db5429, but is missing from type spec, which causes dialyzer errors."
In https://github.com/elixir-ecto/ecto/commit/9db54297c84654578718b3ea56b0dbc967f31cbc empty_values was introduced in the Changeset struct, but it's missing from the type spec, which results in dialyzer errors.

[2020-10-09 19:13] josevalim commented on #3439
Can you please post the dialyzer error you are seeing? By default all struct fields are included with type any(), so not listing it should not cause warnings.

[2020-10-09 19:32] Schultzer commented on #3439
Thanks, for the clarification, I did some more investigation, and after clearing build and what not, so I think this was probably a mix of some old dependencies and cache that confused dialyzer!

[2020-10-09 19:32] #3439 closed

[2020-10-10 01:33] xdays commented on #3224
Sorry guys, I can't remember how I fixed it from the db server side. This is a common error, you need pay attends to:

1. ecto `pool_size`
2. postgres server `max_connections`

[2020-10-11 16:02] hickscorp opened #3441 "Repo.preload looses prefix when nested preloads are requested."
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 12
* Ecto version (mix deps): 3.5.1
* Database adapter and version (mix deps): Ecto SQL 3.5
* Operating system: Xubuntu 20.04

### Current behavior

We are working on an app that uses multi-tenancy.

At some point, deep in our function call tree, we're trying to preload stuff.

[2020-10-11 16:12] josevalim commented on #3441
Can you please fill in the issues template?

[2020-10-11 16:24] hickscorp commented on #3441
Done @josevalim

[2020-10-11 16:34] #3441 closed

[2020-10-11 16:39] hickscorp commented on #3441
Well that was fast. Thanks @josevalim !

[2020-10-13 13:04] syfgkjasdkn opened #3442 "$1 positional argument duplicated in a query using named bindings and nested cte"
### Environment

* Elixir version (elixir -v): Elixir 1.11.0 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL (all versions are affected, I think)
* Ecto version (mix deps): ecto 3.5.2, ecto_sql 3.5.1,
* Database adapter and version (mix deps): postgrex 0.15.6
* Operating system: mac

### Current behavior

In a query using `with_cte` and named bi

[2020-10-13 13:11] syfgkjasdkn commented on #3442
I'll try to come up with a small reproducible example.

[2020-10-13 14:12] josevalim commented on #3442
Thanks @syfgkjasdkn! To be clear, it is duplicated when it should not. One should be $1 and the other should be $2, correct? Btw, it would help me a lot if you can reduce this examples a bit further (although you already did a great job in reducing it). :)

[2020-10-13 14:16] syfgkjasdkn commented on #3442
Hi @josevalim!

Yes, otherwise the `time_bucket` macro which is expanded to

[code]
receives `$1` instead of of `$2`, and that's a problem since `$1` is a sensor uuid, and `$2` is an interval.

I'm still reducing it :) I think the problem starts to appear when there are 3 nested CTEs.

[2020-10-13 16:19] syfgkjasdkn commented on #3159
@Harrisonl Hi! Maybe this could work?

[code]

[2020-10-14 15:08] hauleth commented on #3159
@syfgkjasdkn it will work, however this is quite error prone, as in general case (`select_merge`) we cannot assume ordering of the parameters in `SELECT`. It can be hacked with:

[code]

But I think that API like:

[code]

Would be much clearer.

[2020-10-14 15:59] #3442 closed

[2020-10-18 12:33] thojanssens opened #3446 "Document use of `dumper` and `loader` in `ParameterizedType`?"
`dump/3` and `load/3` take a function in arguments, respectively `dumper` and `loader`, while this is not the case for a custom Ecto Type.

`Enum` also doesn't show the use of those functions.

Nowhere the use for those functions are documented or did I miss something?

[2020-10-18 15:13] #3446 closed

[2020-10-18 22:31] bruno-b-martins opened #3447 "`limit: 1` + `order_by` is returning '\n'"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
[code]
* Ecto version (mix deps): `"ecto": {:hex, :ecto, "3.5.1", ...`
* Database adapter and version (mix deps): `"postgrex": {:hex, :postgrex, "0.15.6", ...`
* Operating system: macOS Catalina v10.15.7

### Current behavior

I have a query which returns me a `'\n'` when I revert its'

[2020-10-18 22:32] bruno-b-martins commented on #3447
I played around a bit more with the query in the Additional info section of the issue and got the following which might help debug the issue:
[code]

[2020-10-18 22:50] Eiji7 commented on #3447
@bruno-b-martins Everything works as expected. Please remember that not every `Elixir` term is inspected in `raw` mode. This is made like that to improve readability.

`List` of **positive** integers where each integer is code point of a printable character is called `charlist`. This works similar to keywords for example:
[code]
as "raw" `Elixir` term is:
[code]
Look that extra `Tuple` notation de

[2020-10-18 23:01] bruno-b-martins commented on #3447
Thanks for clarifying @Eiji7.

Still, I raise the question, if we're querying ids which are of type `:id`, can you please explain me why do we receive a list of chars and not a list of ids?
Is there a way to cast to integer the result of the query in the `select` option for example?

My use case is that I'm looking for the best and worst records based on an integer column and storing those `ids` i

[2020-10-18 23:38] Eiji7 commented on #3447
@bruno-b-martins

In `Elixir` we don't have anything like `:id`. `ID` is a `PostgreSQL` builtin type which by `ecto` is translated from and to `integer`.

Please use `MyApp.Repo.one/1` instead of `MyApp.Repo.all/1`. If for some reason you still needs a list you have many ways of fetching a first element regardless if it's normal list, charlist or keyword - all of them in `raw` representations are

[2020-10-18 23:51] bruno-b-martins commented on #3447
Thanks for explaining all this.
I'm closing the issue now.

[2020-10-18 23:51] #3447 closed

[2020-10-19 11:57] hickscorp opened #3448 "Ecto 3.5.2 seems backward incompatible with 3.5.0 and 3.5.1."
### Environment

* Elixir version: Erlang/OTP 22 with Elixir 1.10.4.
* Ecto version: 3.5.2, regression from 3.5.0 and 3.5.1.

### Current behavior

When `ecto_poly` tries to call `dump/3` with a first argument being `{:embed, %Ecto.Embedded{...}}`, Ecto doesn't match anymore.

### Expected behavior

Ecto should match the same as it was in 3.5.0 or 3.5.1.
Alternatively, there should be a clear path

[2020-10-19 12:02] #3448 closed

[2020-10-19 12:03] josevalim commented on #3448
Yes, I think they were using a private functionality. Ecto.Type is public but the `{:embed, _}` type is not publicly documented. :)

[2020-10-19 12:06] hickscorp commented on #3448
Yes, my bad really @josevalim for the noise. It seems that the `:parameterized` new way is designed to allow libraries to do this kind of things, so I'm reassured that it won't break as easily, or at least that it will have workarounds. Now I'll just try to amend `ecto_poly` so that it checks the version of Ecto and chooses accordingly which version of the function to call.

Thanks for the help!

[2020-10-20 19:57] erlandsona opened #3450 "Support same-named joins of different ecto schema's with the same base tables."
Sorry to necro bump, but curious if this has been implemented since 2018? https://github.com/elixir-ecto/ecto/issues/2389#issuecomment-379813551

# The Problem

Currently I've got a use case where we point multiple Ecto schemas at the same underlying base table (100+ column table) as a simple pre-refactoring to enable us to write server code referencing nicer 'model' names and smaller subsections

[2020-10-20 20:05] fuelen commented on #3450
Maybe `Ecto.Query.has_named_binding/2` can help you? With this function you can join a table only if it is not joined yet.

[2020-10-20 20:13] erlandsona commented on #3450
@fuelen unfortunately no... the issue isn't whether the binding already exists... it's that I've got separate ecto schemas that point to different properties on the same table so when I join them in an ecto query it spits out SQL that joins the same base table.
Today, if I try to `as: :common` on multiple joins with the same underlying base table it won't compile. This is the current expected beha

[2020-10-20 20:26] josevalim commented on #3450
Can you please provide an example of the Ecto query you want to write and the SQL you want to be emitted.

[2020-10-20 21:10] erlandsona commented on #3450
Here's what I want to be able to write
[code]

Currently this doesn't compile and throws on the `as: :info` but the base tables for each of the assocs is for example `mycompany.user`
And the SQL output without `as: ` merging is something like the following...

[code]

Where the actual base table has all of the properties and the performance of this query is dramatically improved by removing the ex

[2020-10-20 21:13] josevalim commented on #3450
I have to ask: why are you using joins in the first place then? :) I don't think it would be logical for Ecto to simply disappear with a `join` that you wrote because you used the same alias. In fact, it is more likely for that to cause bugs (even security issues perhaps) then to be a feature.

We try to keep as close to SQL as possible and having this kind of behaviour would be very counter intui

[2020-10-20 21:19] erlandsona commented on #3450
So the only alternative is to add the properties being accessed on each of the intermediary representations to the base ecto schema just to avoid ecto spitting out multiple joins or pay the cost of refactoring the underlying table into multiple tables (which is on the docket, we just haven't been able to prioritize it cause it's a pretty big structural change affecting lots of dependent db code :/

[2020-10-20 21:22] josevalim commented on #3450
To be fair, Ecto is only doing what you are asking it to do. Note you can bypass the schema if you want and access the raw table by doing: `from u in "my_table"` and that will give access to all fields. You can also define a schema with all fields. Those can be temporary solutions for those expensive queries but ultimately it sounds like a design issue that you shouldn't really expect Ecto to fix

[2020-10-20 21:22] #3450 closed

[2020-10-20 21:24] erlandsona commented on #3450
Ah I forgot about the raw table thing! Yah that'd do it! And you're definitely right about expecting Ecto to fix the DB schema issues. We're working though it slowly but surely.

[2020-10-21 05:38] syfgkjasdkn commented on #3442
@josevalim Hi! I'm sorry to bother you, but would it be possible to cut a release with this fix? Please :)

[2020-10-21 07:09] josevalim commented on #3442
Done.

[2020-10-22 03:37] aptinio opened #3451 "Ecto.Enum.values/2 raises when field is virtual"
### Environment

* Elixir version (elixir -v): Elixir 1.11.1 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.4
* Ecto version (mix deps): 3.5.3
* Database adapter and version (mix deps): postgrex 0.15.7
* Operating system: Linux

### Current behavior

[code]

[code]

### Expected behavior

[code]

[2020-10-22 07:06] Eiji7 commented on #3451
This happens because:
1. `virtual` field does not appends value to accumulate attribute `@ecto_fields`
2. `__schema__/2` is defined for all values of `@ecto_fields`
3. `__schema__/2` have fallback clause to `nil` in case anything else (even not existing field name) is passed
4. `Ecto.Enum.values/2` function `raises` for `nil` result

For reference:
1. https://github.com/elixir-ecto/ecto/blob/a4b21

[2020-10-22 09:36] #3451 closed

[2020-10-22 12:56] duzzifelipe opened #3452 "Changeset's typespec specifies required keys for maps that can be empty"
### Environment

* Elixir version: 1.9.4-otp-22
* Ecto version: 3.4.6

### Current behavior

While working on a new feature to replace all of our testing mocks from [mox](https://github.com/dashbitco/mox) to [hammox](https://github.com/msz/hammox), our team faced some type warnings on hammox related to ecto:

[code]

@polvalente opened a PR for hammox here https://github.com/msz/hammox/pull/63, bu

[2020-10-22 12:58] #3452 closed

[2020-10-23 14:02] sorentwo commented on #3426
Pardon my slow reply, I didn't receive a notification when @hfjallemark mentioned me. After taking a look in `Oban.insert!/2` I can see that the error is coming from https://github.com/sorentwo/oban/blob/master/lib/oban.ex#L288. The [documented return](https://hexdocs.pm/ecto/3.5.3/Ecto.Repo.html#c:insert/2) for `Repo.insert/2` is:

[code]

Though it seems that calling insert within a transaction

[2020-10-23 19:10] dunyakirkali opened #3454 "Guides for implementing an Ecto adapter"
Hi,

I have a several DB clients (for Google Firestore and Google Spanner) for which I'd like to create an ecto adapter.

I have been looking around for some guides and managed to find very little info. on how to build an ecto adapter ground up.

Could someone help me get my hands on some instructions, some best practices, etc?

Any help would be much appreciated

[2020-10-23 19:54] josevalim commented on #3454
Unfortunately we don’t have any guides and there is no plan at the moment. The best you can do is to look at the existing adapters and use that as a starting point. The etso adapter is relatively small, so it can be a good starting point.

However, I make myself available to answer any questions. I will close this, but feel free to post further comments here and I will reply. Also feel free to rea

[2020-10-23 19:54] #3454 closed

[2020-10-24 16:41] Adzz opened #3455 "Transaction connection fails if Repo.insert fails"
### Environment

* Elixir version (elixir -v): 1.10
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 11
* Ecto version (mix deps): 3.5.2
* Database adapter and version (mix deps): Postgrex 0.15.6
* Operating system: unix

### Current behavior

If I do this:
[code]
I get:
[code]
Because the second insert fails the transaction seems to abort.

The docs for `transaction/1` say

Bu

[2020-10-24 16:44] josevalim commented on #3455
There is nothing we can do here, this is literally database behaviour that Ecto is just surfacing up. If one insert fails, all other operations in there will fail too. If you really want to ignore the unique constraint, then you need to use `on_conflict` and let the database know of your intentions.

[2020-10-24 16:44] #3455 closed

[2020-10-24 20:51] josevalim commented on #3426
Which scenario is it not returning a changeset? I need to understand it better in order to say the best way forward. :)

[2020-10-26 12:51] sorentwo commented on #3426
I believe the scenario arises from a timeout based `DBConnection.ConnectionError`. However, I'm having a hard time recreating the scenario locally. The following snippet does _not_ recreate the scenario the way I hoped it would, though I think it illustrates how the scenario could happen:

[code]

[2020-10-26 16:24] josevalim commented on #3426
Oh, I see the issue. [The result you are matching on](https://github.com/sorentwo/oban/blob/master/lib/oban/query.ex#L45) is the result of a transaction, which you also reproduced in the snippet above, so you indeed need to consider it may be returning a rollback value. You can raise a runtimeerror or even have a specific oban error, it probably doesn't matter much , as no one should be rescuing i

[2020-10-26 16:24] #3426 closed

[2020-10-26 16:58] hfjallemark commented on #3426
Yep, thanks guys!

[2020-10-26 17:18] sorentwo commented on #3426
@josevalim Nicely spotted. Thanks for digging in one more level.

[2020-10-27 12:30] tomtaylor opened #3457 "KeyError :type not found on Ecto 3.5.3"
### Environment

* elixir: 1.11.1
* DB: PG 13.0
* ecto: 3.5.3
* ecto_sql: 3.5.1
* postgrex: 0.15.7
* OS: MacOS Catalina

### Current behavior

I'm running a complex query with window functions and a couple of CTEs over an `employers` table that contains `rating` and `name` columns to produce a ranked list.

[code]

This was working correctly in Ecto 3.5.2, but fails in Ecto 3.5.3 with the followin

[2020-10-27 17:33] LostKobrakai opened #3459 "Issue in guide / mismatch between migrating automatic primary key vs. custom one."
The following instructions doesn't seem to create the same instructions

https://github.com/elixir-ecto/ecto/blob/923dfd85bd7ad0b8fd1fafaa3e59abe96534cef8/guides/howtos/Multi%20tenancy%20with%20foreign%20keys.md#L145-L146

as

[code]

would do with the primary key column being named `:id`. It doesn't seem to set the needed default of an integer sequence in postgres and the type doesn't match as we

[2020-10-27 17:37] josevalim commented on #3459
You are correct, type should be "bigserial". Fix incoming.

[2020-10-27 17:40] LostKobrakai opened #3460 "prepare_query guide breaks migrations"
https://github.com/elixir-ecto/ecto/blob/923dfd85bd7ad0b8fd1fafaa3e59abe96534cef8/guides/howtos/Multi%20tenancy%20with%20foreign%20keys.md

The documented way of implementing `prepare_query` affects migrations including queries for "schema_migrations. This therefore breaks all the ecto mix tasks for managing migrations.

[2020-10-27 17:44] #3459 closed

[2020-10-27 17:48] #3460 closed

[2020-10-27 17:50] josevalim commented on #3460
I have changed ecto_sql so it passes `schema_migration: true` as an option, so now we can check it. Please see changes on 8d26706. Note you will need EctoSQL from the v3.5 branch. Can you please give it a try and let me know? If it works I will release a new ecto_sql version. Thanks!

[2020-10-27 17:55] LostKobrakai commented on #3460
Seems to work fine with the new opts value being available.

[2020-10-27 18:11] josevalim commented on #3460
ecto_sql 3.5.3 is out.

[2020-10-28 10:17] josevalim commented on #3457
Fixed in master, GitHub will catch up and add a reference to the commit soon. :)

[2020-10-28 10:17] #3457 closed

[2020-10-28 10:44] tomtaylor commented on #3457
Thanks! Sorry, I can't see which commit fixes it?

[2020-10-28 10:47] josevalim commented on #3457
f36e0285fe10

[2020-10-29 12:14] blisscs opened #3463 "How to use put_assoc with composite foriegn"
### Environment

* Elixir version (elixir -v): 1.8.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgresql 12
* Ecto version (mix deps): 3.5
* Database adapter and version (mix deps):3.5
* Operating system: MAC

### Current behavior
Hi I am trying to use put_assoc to work with has_many with composite foreign keys (which is just introduced in ecto 3.5), but didn't get succedded.
I

[2020-10-29 14:28] josevalim commented on #3463
Please use the [ElixirForum](http://www.elixirforum.com) or StackOverflow for questions/help/feedback, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2020-10-29 14:28] #3463 closed

[2020-10-29 16:50] crbelaus opened #3464 "Warning when consolidating Inspect protocol with redacted fields"
### Environment

* Elixir version (elixir -v):

[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

[code]

* Ecto version (mix deps):

[code]

* Database adapter and version (mix deps):

[code]

* Operating system:

[code]

### Current behavior

Creating a schema with a redacted field causes a warning when the project is compiled by ElixirLS. I've first encountered this problem i

[2020-10-29 16:51] crbelaus commented on #3464
I've initally opened [a thread with this behaviour in ElixirForum][1] since I didn't know if it was a bug or I had something wrong in my code. As can bee seen in the responses other people seems to experience the same problem, so I've decided to open it as an issue here.

[1]: https://elixirforum.com/t/the-inspect-protocol-has-already-been-consolidated-for-ecto-schema-with-redacted-field/34992?u=b

[2020-10-29 18:21] josevalim commented on #3464
Do you see the warning only on ElixirLS? If so, which Elixir LS version are you using? Notice there is a fork which is more recently updated. Please let me know if the issue persists there too.

[2020-10-29 19:18] crbelaus commented on #3464
I am using the following ElixirLS, which I believe is the latest one after the fork was merged with the "official" extension:

[code]

[2020-10-29 19:25] josevalim commented on #3464
Ah, the fork has been deprecated. I am behind the times. :) @msaraiva, can you reproduce this?

[2020-10-29 19:44] lukaszsamson commented on #3464
@josevalim I can reproduce it one of my projects on elixirLS but not in mix. This particular project does not depend on ecto so I believe it's a generic issue. The code that generates this warning defines a protocol and many structs implementing it with `@derive`. I hadn't got the time to debug it yet though.

[2020-11-01 09:58] crbelaus commented on #3464
I've tried some previous versions of ElixirLS (0.50 and 0.40) and I can reliably reproduce this behaviour in both of them.

I am unsure about how to debug this, but if we all agree that this seems to be a ElixirLS bug maybe I should move this issues to their repository.

[2020-11-02 13:20] smartepsh opened #3466 "Ecto.Enum in embedded schema can't load nil correctly"
### Environment

* Elixir version (elixir -v): Elixir 1.11.1 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): postgresql: stable 13.0 (bottled), HEAD
* Ecto version (mix deps): 3.5.4
* Database adapter and version (mix deps): postgrex 0.15.6
* Operating system: macOS Catalina

### Current behavior

If the value of enum field in embedded schema is null, it w

[2020-11-02 20:01] v0idpwn commented on #3466
Hi, @smartepsh. I tried to reproduce this [in this patch](https://gist.github.com/v0idpwn/bf96155e243f70ee2320d50e34bda109), but wasn't able to. Could you provide more info?

[2020-11-02 21:18] GabrielAlacchi commented on #1479
I believe this can be closed. @josevalim is there anything missing that's covered in this issue?

[2020-11-02 21:25] #1479 closed

[2020-11-03 04:00] smartepsh commented on #3466
@v0idpwn I wrote a [sample project](https://github.com/smartepsh/ecto_bug) that can raise normally.

[2020-11-03 06:50] #3466 closed

[2020-11-03 08:52] dbi1 opened #3469 "prepare_query/3 for Repo.one()"
Hello,

I just noticed that `prepare_query/3` does not support `Repo.one()`.

Is there a reason for this? Is this something that could be supported?

Thank you for your very valuable work on Ecto!

[2020-11-03 09:16] josevalim commented on #3469
Hi @dbi1. prepare_query should definitely be invoked for `Repo.one`. Can you please tell us why you think it does not and provide a way to reproduce the issue alongside your Ecto versions? Thank you!

[2020-11-03 09:17] josevalim commented on #3469
Just tried this locally:

[code]
iex(1)> Bytepack.Repo.one Bytepack.Accounts.User
{:all, #Ecto.Query<from u0 in Bytepack.Accounts.User, select: u0>, []}
[code]

[2020-11-03 09:17] #3469 closed

[2020-11-03 09:25] dbi1 commented on #3469
Ah, great, thanks :)

My question came from reading the [documentation](https://github.com/elixir-ecto/ecto/blob/v3.5.4/lib/ecto/repo.ex#L934), and seeing this:

"when operation: :all | :update_all | :delete_all | :stream"

I assumed there was a limit to which Repo.xxx operations were allowed for `prepare_query/3`.

Would it be reasonable to assume that `prepare_query/3` should work with all Repo.

[2020-11-03 09:27] dbi1 commented on #3469
Hmm, I guess I misunderstood, my apologies.

Further down it says: "This callback is invoked for all query APIs, including the stream function, but it is not invoked for insert_all nor any of the schema functions."

[2020-11-03 09:30] josevalim commented on #3469
`Repo.one` is ultimately a `Repo.all`. perhaps it is more intuitive to think about :all being the same as SELECT. :)

[2020-11-03 09:35] dbi1 commented on #3469
Ah, got it, thanks for the patient explanation :)

[2020-11-04 04:44] sb8244 commented on #3464
I am using VSCode with ElixirLS, but I always run an embedded terminal with `iex -S mix phx.server` during development. When it recompiles, I get the mentioned error for all schemas that have `redact: true` in them.

I get the error once per redacted field. For example, I have a schema with 2 redacted fields, and I get 2 back-to-back warnings. Like so:

[code]

As far as I can tell, I don't get th

[2020-11-04 06:32] josevalim commented on #3464
The fact you can reproduce it without ElixirLS is great. Any chance you isolate it to a small project that you can share so I take a look?

And to be double sure... you are not manually implementing inspect for these schemas, right?

[2020-11-04 08:55] crbelaus commented on #3464
@sb8244 @josevalim I can reproduce the behaviour in the [example project](https://github.com/crbelaus/ecto_warning_example) provided in the issue description.

Steps:
1. Clone the project and install all dependencies
2. Start the server with `iex -S mix phx.server`
3. Open http://localhost:4000/ in your browser
4. Make any change in `lib/ecto_warning_example/user.ex`. Even adding a blank line work

[2020-11-04 19:01] josevalim commented on #3464
This is a Phoenix bug. I have pushed a fix to Phoenix v1.5 and master branches. Please give one of them a try and let me know if you find anything else, thanks!

[2020-11-04 19:01] #3464 closed

[2020-11-04 20:42] altdsoy commented on #3464
In my case I tested with the `:git` dependency of `phoenix`, and indeed the warning disappeared right away..

For reference I only did `mix deps.clean phoenix --unlock` and then changed the `:phoenix` line like so
`:phoenix, git: "https://github.com/phoenixframework/phoenix", override: true},`
(`overridde: true` because of the dependency to phoenix 1.5.2 of  `phx_gen_auth`)

Thanks for the quick f

[2020-11-04 21:09] axelson commented on #3464
For future reference this appears to be the commit that fixes this issue: https://github.com/phoenixframework/phoenix/commit/b5580e9cd1c78e0460d2df30807f4f99bd8b3051

[2020-11-05 07:24] crbelaus commented on #3464
I can confirm that the bug is fixed in Phoenix master 👍 I can not reproduce it anymore with the example repository for this bug.

[2020-11-05 17:30] inoas opened #3470 "Decimal.cmp/2 is deprecated. Use compare/2 instead"
### Environment

* Elixir version (elixir -v): `Erlang/OTP 23 [erts-11.1.1] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe] [dtrace]`

[code]

[2020-11-05 17:34] josevalim commented on #3470
Correct. We are keeping it for backwards compatibility but we will drop it soon. Thanks!

[2020-11-06 19:55] ErinGreenhalgh opened #3471 "Ecto.Changeset.put_assoc cannot handle abstract table inserts"
### Environment

* Elixir version (elixir -v): 1.10.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.3
* Ecto version (mix deps): 3.4
* Database adapter and version (mix deps): `postgrex`: 0.15.2, `ecto_sql`: 3.4.5
* Operating system: Mac OS 10.14.6 (Mojave)

### Current behavior
Summary: Changesets created with `put_assoc` do not support writes when associations are an

[2020-11-06 20:20] josevalim commented on #3471
Hi @ErinGreenhalgh, thanks for the well detailed write up!

To be 100% sure, the issue is that, even though you declare this:

  has_many(:state_events, {"line_item_state_events", StateEvent},
      foreign_key: :parent_id
    )

`cast_assoc` and `put_assoc` are ignoring the "line_item_state_events" and using the abstract table, correct?

[2020-11-06 21:19] ErinGreenhalgh commented on #3471
yes, that's the issue!

[2020-11-07 09:06] #3471 closed

[2020-11-09 01:54] eviltofu opened #3472 "Ecto.Migration documentation not present in hexdocs?"
### Environment

Ecto 3.5.4 documentation at https://hexdocs.pm/ecto/Ecto.html

It appears that documentation for the Ecto.Migration module has vanished since Ecto version 3.0. It was last present in version 2.2.12. Search only turns up Ecto.MigrationError.

### Current behavior

When checking the docs at the above url, Ecto.Migration documentation is missing.

### Expected behavior

Ecto.Migratio

[2020-11-09 03:09] eviltofu commented on #3472
Docs are in Ecto.SQL. Sorry for the troubles.

[2020-11-09 03:09] #3472 closed

[2020-11-11 11:04] azizk opened #3474 "ArgumentError: only virtual fields can have type :any"
Hi!

I curiously couldn't find a bug report or a post on elixirforum.com regarding this. Guess I'm the first to encounter the issue.

### Environment

* Elixir version: 1.11.0
* Database and version: PostgreSQL 12
* Ecto version: 3.5.4
* Database adapter and version (mix deps): 0.15.7
* Operating system: Docker image hexpm/elixir:1.11.0-erlang-23.1.1-alpine-3.12.0

### Current behavior

This used

[2020-11-11 11:55] josevalim commented on #3474
We should address this. Could you please submit a PR?

[2020-11-11 12:18] azizk commented on #3474
Sure thing. My idea atm would be the following:
[code]

[2020-11-11 12:25] azizk commented on #3474
I'm wondering something. Why is `:any` not allowed as a type for non-virtual fields? How would you define a field that can have any value if it's a `:jsonb` column?

[2020-11-11 12:55] josevalim commented on #3474
@azizk you would need a custom type for that, which is fine, it is not very common.

Regarding the fix, it is probably simpler to move the `type == :any and !opts[:virtual]` check to the `__field__` function.

[2020-11-11 17:52] v0idpwn commented on #3474
I believe :any is allowed in virtual only because they may be not be able to be encoded. For instance, %MyStruct{} is accepted in :any, but if you try to encode it to store on a jsonb, you'll get a runtime error unless it implements an encoding protocol.

[2020-11-11 17:55] v0idpwn commented on #3474
If you want something like that, I'd go for a parameterized type for `serializable'.

[2020-11-11 23:06] azizk commented on #3474
@v0idpwn That sounds reasonable, however consider that you will still be able to do that once we fix this bug. So with my example schema you would be able to assign a non-serializable value in an array to `jpath` and the Ecto changeset would be valid. It would only fail when it's time to encode I think.

[2020-11-12 08:50] #3474 closed

[2020-11-12 11:02] fuelen opened #3477 "(BadMapError) expected a map, got: nil"
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version: PostgreSQL 11.8
* Ecto version (mix deps):   ecto 3.5.4,  ecto_sql 3.5.3
* Database adapter and version (mix deps): postgrex 0.15.7
* Operating system: Linux

### Current behavior
After updating
[code]
one of my queries now raises an error
[code]
simplified query sample:
[code]
This error raises when there is no record i

[2020-11-12 11:15] #3477 closed

[2020-11-12 11:30] fuelen commented on #3477
@josevalim now my query returns `[{"some profile id", nil}]` instead of `[{"some profile id", %User{id: nil, email: "some email"}}]`.
To solve my issue I have to explicitly write all fields
[code]
Is this expected design?

[2020-11-12 12:23] josevalim commented on #3477
I see. Then I am not sure if there is something we can do about it. You can see the original issue that made us return nil: #3430 and I agree with the conclusion of that issue. I will revert master and you will have to merge the e-mail in a separate pass after the query.

[2020-11-16 11:48] wojtekmach opened #3483 "Ensure field default values match type"
Currently we don't do that:

[code]

I think we should raise an error during compilation instead.

Similar to https://github.com/dashbitco/nimble_options/pull/50.

[2020-11-16 11:57] josevalim commented on #3483
Sounds good. We should call dump on it to see if it can be dumped.

[2020-11-16 22:59] UnderFenex opened #3484 "Ecto Result Command in Telemetry"
Hi, it seems that ecto: does not include the command parameter un the result atom when using telemetry according to this article https://elixirschool.com/blog/instrumenting_phoenix_with_telemetry_part_three/:

[code]

I am currently using:
[code]

[2020-11-17 06:12] josevalim commented on #3484
The parameter will be in the metadata. You can see it in the logs and the logs are using the same metadata to log.

[2020-11-17 06:12] #3484 closed

[2020-11-17 14:10] UnderFenex commented on #3484
Hi @josevalim using the Telemetry.Metrics.ConsoleReporter, I'm no able to see the command value, nor in the metadata, nor anywhere. Could it be because I'm using the MyXQL connector?

[2020-11-17 14:17] josevalim commented on #3484
Here is the metadata: https://github.com/elixir-ecto/ecto_sql/blob/master/lib/ecto/adapters/sql.ex#L892-L900

make sure you have all the correct keys :)

[2020-11-17 14:24] UnderFenex commented on #3484
Yes, I get the keys, however it seems that the command (INSERT, UPDATE, DELETE) is not provided anymore.
Thnx!

[2020-11-17 15:46] v0idpwn commented on #3483
Can I take this one?

[2020-11-17 15:52] wojtekmach commented on #3483
Yup, got for it!

[2020-11-18 17:06] thojanssens opened #3486 "`Ecto.Multi.insert_all/5` doesn't autogenerate UUID"
### Environment

* Elixir version (elixir -v): 1.10.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12
* Ecto version (mix deps): 3.1
* Database adapter and version (mix deps): 0.15.7
* Operating system: Windows 10

### Current behavior

**This will work:**

[code]

Query generated:

**This won't:**

[code]

Error:

     table: votes
     column: id

Query generated:

I do

[2020-11-18 18:00] josevalim commented on #3486
This is by design. `insert_all` won't generate ID or timestamps, as it is meant to be low-level. The docs are clearer about this regarding timestamps but not UUID, I will make it clearer. You can call Ecto.UUID.generate or similar. Thanks!

[2020-11-18 18:00] #3486 closed

[2020-11-18 18:05] thojanssens commented on #3486
Should I generate IDs and timestamps and use `insert_all`, or rather iterate over the "votes" and insert them one by one with `Repo.insert`?

Both have drawbacks, not sure which is best. Which way would you recommend?

[2020-11-18 18:08] thojanssens commented on #3486
But jose see in `Repo.insert_all` docs:

`autogenerate` is set to `true`. Doesn't that contradict what you said for the ID?

[2020-11-18 18:59] josevalim commented on #3486
Please see updated docs. It only applies to the ones generated by the database/adapter and Ecto.UUID isn’t.

[2020-11-20 04:09] thepeoplesbourgeois opened #3489 "`mix ecto.rollback -n[x]` applies rollbacks of migrations (x-1)..0"
### Environment

* Elixir version: 1.11.2 OTP 23
* Database and version: PostgreSQL 13.1
* Ecto version: 3.5.5
* Database adapter and version: ecto_sql 3.5.3
* Operating system: macOS 11.0.1

### Current behavior

**note:** only propagates when no space is between the flag and the variable.

[code]

Notably, the migration rollbacks are still run in the correct order (`create_posts` is rolled back

[2020-11-20 06:11] v0idpwn commented on #3489
Before anything, I believe this issue should be on the `ecto_sql` repo, as the migration task is part of it, and not from the `ecto` repo.

I managed to reproduce the issue here, traced it back to `OptionParser.parse!/2`, which interprets "-n2" as `-n -2` (negative 2).

[2020-11-20 06:15] v0idpwn commented on #3489
I'd be happy to fix it if I get some directions :)

[2020-11-20 07:55] Eiji7 commented on #3489
@v0idpwn There are 2 important things to comment:

Firstly you are wrong that `-n2` is expected to be `--step 2`. After `-` character there should be:
a) only single letter (for `boolean` type)
b) single letter, `=` character and value
c) single letter and value as next list item
d) group of single letters (for `boolean` type)

For example:
[code]

Secondly I believe that we can improve `OptionPar

[2020-11-20 08:22] josevalim commented on #3489
I think we should make it work. An alias cannot be a number, so the only valid interpretation for `-n1` is that it is equivalent to `-n=1`, which is common elsewhere. I have pushed a fix to master:

[code]

[2020-11-20 08:22] #3489 closed

[2020-11-20 08:22] josevalim commented on #3489
Thanks for the extra examples @Eiji7, it helped cover some spots in my original implementation.

[2020-11-20 10:35] thojanssens opened #3490 "Document database types"
In the section below we describe that database types can differ from schema types. For example `:text` in a migration file would be `:string` in the Schema.
https://hexdocs.pm/ecto_sql/Ecto.Migration.html#module-field-types

As this section only mentions examples, where do we find the list of database types (with their corresponding Schema types)?

It would be nice to have a link with the document

[2020-11-20 10:36] #3490 closed

[2020-11-20 10:36] thojanssens commented on #3490
Move to `ecto_sql`

[2020-11-25 06:07] #3483 closed

[2020-11-25 12:39] fuelen opened #3493 "Ecto.Enum and schemaless changesets"
### Environment

* Elixir version (elixir -v): 1.11.2
* Ecto version (mix deps): 3.5.5

### Current behavior
It is not covered in docs. I tried this, but without success
[code]

### Expected behavior
support this if possible and document how to use

[2020-11-25 13:00] josevalim commented on #3493
Hvae you tried calling `Ecto.Enum.init(...)` when setting up the type instead of hardcoding the values directly?

[2020-11-25 13:10] v0idpwn commented on #3493
Ecto.Enum.cast relies on the `on_dump` option. It is defined based on the values when initializing the field:

`` `
iex(9)> Ecto.Enum.init(values: [:a, :b, :c])
%{
  on_dump: %{a: "a", b: "b", c: "c"},
  on_load: %{"a" => :a, "b" => :b, "c" => :c},
  values: [:a, :b, :c]
}
[code]
iex(10)> Ecto.Type.cast({:parameterized, Ecto.Enum, %{values: [:a, :b, :c], on_dump: ["a" => :a, "b" => :b, "c" => c]}}

[2020-11-25 14:09] fuelen commented on #3493
Ah, thank you! Didn't know about `init`.

[2020-11-25 14:09] #3493 closed

[2020-11-26 12:48] fuelen opened #3495 "Cannot use type/2 with interval and search functions"
### Environment

* Elixir version (elixir -v): 1.11.2
* Ecto version (mix deps): 3.5.5

### Current behavior
[code]
`type(like(table.text_field, "text"), :string)` also fails to compile with the same error.
Current workaround is to write such expressions as `type(fragment("(?)", <call_unsupported_function>), :some_type)`

### Expected behavior
Compile query.

[2020-11-26 13:42] josevalim commented on #3495
Yes, `type` is restricted on purpose because it needs to understand its arguments to emit the proper code. For fragments we make certain assumptions, which seem to work for your example, but are not generally true for all expressions, so we can't simply allow anything.

In your case, since you actually want to cast at the database level, that's what I would do `fragment("(?)::date", <call_unsuppor

[2020-11-26 13:42] #3495 closed

[2020-11-29 10:19] jeroenbourgois opened #3496 "Storing geospatial data error on MySQL 8.0.22"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MySQL 8.0.22
* Ecto version (mix deps): 3.5.5 (ecto_sql @ 3.5.3)
* Database adapter and version (mix deps): myxql 0.4.4
* Operating system: MacOS and Alpine Linux (CI)

### Bug description

In our client project we have a table storing geospatial data from our Elixir/Phoenix app. We co

[2020-12-01 00:11] mjquinlan2000 opened #3498 "dynamic ORDER BY in WINDOW function"
### Environment

* Elixir version (elixir -v): Elixir 1.11.2 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.5
* Ecto version (mix deps): 3.5.4
* Database adapter and version (mix deps): postgrex 0.15.7
* Operating system: macOS Catalina 10.15.7

### Current behavior

I am dynamically constructing window functions for an API and I need to be

[2020-12-01 05:34] josevalim commented on #3498
The docs for dynamic does not list windows as a possible place, so this feature is simply not supported. You will have to conditionally define the window based on the arguments instead of using dynamic, sorry. :(

[2020-12-01 05:34] #3498 closed

[2020-12-01 15:40] mjquinlan2000 commented on #3498
@josevalim Thank you for the quick response. I somehow missed that in the docs. I will look for another solution

[2020-12-04 14:43] mathieuprog opened #3500 "Adding a subquery to join's `:on` option returns cryptic error"
### Environment

* Elixir version (elixir -v): 1.10.2 (OTP 21)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 11
* Ecto version (mix deps): 3.5.5
* Database adapter and version (mix deps): postgrex, 0.15.7
* Operating system: Windows 10

### Current behavior

A subquery in a join's `:on` option returns a cryptic error. Example:

[code]

Error:

** (MatchError) no match of right hand s

[2020-12-04 19:59] v0idpwn commented on #3500
Are we supposed to support this? Or just throw a better error? I'm not sure.

[2020-12-04 22:49] mathieuprog commented on #3500
On IRC jose said

In any case, I don't see why this wouldn't be supported.

[2020-12-05 10:16] josevalim commented on #3500
Let's just improve the error message for now.

It could be supported but I believe it is a non-trivial amount of work.

@v0idpwn would you like to send a PR for improving the error? :heart:

[2020-12-05 14:51] mathieuprog commented on #3500
Hah it's particularly needed for LEFT JOINs; for INNER JOINs the `:on` clause could be just expressed in a `:where` clause.

Not even sure how to change the SQL query below into an SQL version that would work with Ecto.

[code]

[2020-12-07 11:54] v0idpwn commented on #3500
Sure, @josevalim! I'll take a better look at this today.

[2020-12-08 06:08] randycoulman opened #3502 "Typespec for `types` field of `Changeset.t()` is incomplete"
### Environment

* Elixir version (elixir -v): Elixir 1.10.0 (compiled with Erlang/OTP 22)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 11.6
* Ecto version (mix deps): 3.5.5
* Database adapter and version (mix deps): postgrex 0.15.7
* Operating system: MacOS 10 Mojave

### Current behavior

Using [hammox](https://github.com/msz/hammox) to add typechecking for my Mox mocks

[2020-12-09 01:32] v0idpwn commented on #3502
Hi there, @randycoulman! I think I fixed it on #3505, but I didn't manage to reproduce your issue. Can you check if it works and give an okay in the PR once you do it? :)

[2020-12-09 01:34] v0idpwn commented on #3470
This should be closed due to #3504

[2020-12-09 01:35] #3470 closed

[2020-12-09 01:35] wojtekmach commented on #3470
Thanks @v0idpwn!

[2020-12-09 02:38] v0idpwn commented on #3500
I was checking it out and it seems pretty complex to implement. I think Ecto.Query.JoinExpr would have to be modified, and then ecto_sql (?) so it would be able to work with it. That's 100% gray area for me. Implementing a better error, OTOH, seems trivial. What do you think?

[2020-12-09 10:14] #3502 closed

[2020-12-09 10:14] josevalim commented on #3500
Let's start with the error, yes. :)

[2020-12-09 10:25] pawurb opened #3506 "New Repo methods proposal 'first' and 'last'"
I would like to propose adding the following methods to `Repo`

- `first`
- `first!`
- `last`
- `last!`

I’m just starting to play around with Phoenix and I miss those simple helper methods from Rails.

I propose the following API and resulting SQL execution:

[code]

`!` bang versions will work just like `one!` raising error if object is not found.

The same calls can be implemented with `Repo.on

[2020-12-09 10:29] josevalim commented on #3506
There is already Ecto.Query.first and Ecto.Query.last that you can pipe into `Repo.one` or `Repo.one!`: https://hexdocs.pm/ecto/Ecto.Query.html#first/2

:)

[2020-12-09 10:29] #3506 closed

[2020-12-10 08:19] josevalim opened #3509 "Support `order_by` in associations"
Given PostgreSQL is not ordered by default, it would be convenient if we could easily specify how we want to order all our associations. The feature should be fairly straight-forward, the biggest issue here is the naming. `order_by` is not going to work with `assoc(parent, :association)` in queries. Only with preloaded queries and Ecto.assoc queries. We could call it `preload_order_by` but that do

[2020-12-10 08:24] Madddogg314 commented on #3509
So what am i supposed to do?
Please tell me exactly what i can do to make sure you are pleased well...??

On Thu, Dec 10, 2020, 2:19 AM José Valim <notifications@github.com> wrote:

[2020-12-10 13:19] v0idpwn commented on #3509
How would this behave with multiple preloads?

[2020-12-10 13:59] #3500 closed

[2020-12-10 14:30] thiamsantos commented on #3509
Would be nice if we could set a default order_by directly on the schema.
Something like `has_many :association, Association, order_by: {:desc, :inserted_at}`

[2020-12-10 14:31] josevalim commented on #3509
@thiamsantos that's exactly what I have in mind, except it would be a keyword list. :) So it should just work with multiple preloads too.

[2020-12-10 19:27] josevalim commented on #3509
All we need to do is figure out a name. @wojtekmach @michalmuskala - any ideas?

[2020-12-10 20:06] thiamsantos commented on #3509
Something like `default_order_by` would make sense?

[2020-12-10 20:25] josevalim commented on #3509
My concern is a name that makes it clear it applies on preload/Ecto.assoc but not when you use it as a join. For example, we could name it “non_join_order_by”.

[2020-12-10 22:40] dvic commented on #3509
Not sure if it makes sense, but what about `assoc_order_by`?

[2020-12-11 05:19] Eiji7 commented on #3509
@josevalim For me `preload_order` as an option name is short and looks much better. I understand why we use `_by` suffix for DSL/function names, but it does not look as important for an option key.

[code]

I would think about  `Ecto.assoc/2` (and also `assoc/2` DSL) separately … Can't we just add a **third** argument for passing `query` options? This would be definitely useful in many cases … The

[2020-12-11 12:23] josevalim commented on #3509
Sounds good. Let's go with `preload_order` then! There is an issue in that both preload and Ecto.assoc use the same Ecto.assoc_query, but we can solve this internally.

`Ecto.assoc` returns a query, so if you want to filter it, you can simply pipe to `from` (or `where`, etc) next.

[2020-12-11 12:54] michalmuskala commented on #3509
I think it could also be possible to make it "just work" on joins by translating them to a subquery, e.g.

[code]

[code]

would translate to:
[code]

[2020-12-11 13:20] Ziinc opened #3510 "Using parent_as aliases in a fragment in a subquery results in query error being thrown."
### Environment

* Elixir version (elixir -v): Elixir 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps):ecto 3.5.3
* Database adapter and version (mix deps): postgrex 0.15.7
* Operating system:  Pop!_OS 20.04 LTS

### Current behavior
Using a fragment in a select for a lateral join subquery results in an error.
Example query:
[code]
Will result in the fol

[2020-12-11 13:44] josevalim commented on #3509
@michalmuskala that's a good point... do we want to do it though? Perhaps we can leave it open for the future, especially if we call this one `preload_order`.

[2020-12-11 16:19] michalmuskala commented on #3509
Yeah, I'm not sure it's a good idea either -- especially if it has some serious performance implications.

On the other hand, having it behave differently in different settings also seems kind of weird (even if the name is explicit), so I'm torn.

[2020-12-15 13:47] thojanssens opened #3512 "Query formatter doesn't show parentheses for grouped and/or clauses"
I build a query using `Ecto.Query.dynamic` in order to have grouped AND and OR clauses.

Inspecting the query outputs:

[code]

(the query doesn't make much sense but just ignore that)

SQL executed:

[code]

It is hard to debug when the parenthesis are omitted in the formatted query. Looking at the query at first glance, we could assume the query is wrong. I'm only able to know how clauses are gr

[2020-12-15 14:30] josevalim commented on #3512
We are using Macro.to_string which simply relies on Elixir's rule precedence and and has higher precedence than or. We would most likely need to add our own Macro.to_string, to change this, which would be too complicated. For now, a double check on Elixir operator page is enough to answer the question. Thank you!

[2020-12-15 14:30] #3512 closed

[2020-12-16 15:17] feliperenan opened #3514 "Warning about duplicated primary keys for new records"
### Environment

* Elixir version (elixir -v): 1.11.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 13.1
* Ecto version (mix deps):
* Database adapter and version (mix deps):
* Operating system:

### Current behavior

Ecto warns about duplicated keys even though associations are being inserted for the first time:

[code]

Then Ecto warns about his:

[code]

I have also cre

[2020-12-16 15:31] josevalim commented on #3514
@feliperenan we are probably checking the nil values and since we have two nils, it is raising. Would you like to send a PR? :)

[2020-12-16 15:47] feliperenan commented on #3514
I'd be happy open a PR for that 👍🏻

I have just noticed something else. The first item present in the`changeset` returned from my example above has the action as `:update` since I'm using a `List struct` with two empty `Item`.

[code]

So I can't perform an insert on this `changeset`. Now I'm wondering if that make sense at all to send a `List` with two empty `Items`. In my use case, I do that bec

[2020-12-16 16:22] josevalim commented on #3514
It would only be marked as `update` if it thinks it already has an associated entry and this associated entry has a nil `id`. So I think the issue is actually that you have a non persisted item in the list you are passing to changeset. If you remove that, then everything should work and the warning should disappear too.

[2020-12-16 23:14] jbsf2 commented on #3500
I ran into this today as well. Was very happy to find this issue to confirm that I'm not crazy! Thank you. Just adding +1 to confirm that there is a use-case :-)

[2020-12-17 00:44] v0idpwn commented on #3514
Why does Ecto assumes there's an associated entry? Shouldn't all actions be `:insert`?

[2020-12-17 15:57] jovanialferez commented on #1355
mine was because my `docker-compose.yml` file had explicitly set `MIX_ENV`  to `dev`. so when running test, i had to set that to `test` like this: `MIX_ENV=test mix test`

[2020-12-18 08:54] feliperenan commented on #3514
Yes, for the simple fact I'm sending an empty struct, Ecto tries to get the PK anyway and reduces the `items` structs to one because both will have the same "id" at this moment, which is nil.

You can see this happening here:

https://github.com/elixir-ecto/ecto/blob/2568da2ef8bd6ec180717c37350e1d16e7cd09cf/lib/ecto/changeset/relation.ex#L439-L443

If somehow, we ignore that `current` with pk `nil

[2020-12-18 09:45] josevalim commented on #3514
@feliperenan to be clear, I think the issue is not on Ecto but on the struct. When you call put_assoc/put_embed, does the List struct has any `items` already associated to it besides the ones given to put_assoc/put_embed?

[2020-12-18 11:18] feliperenan commented on #3514
If I get it right, It does, even though they are all empty structs (all keys as nil).

[code]

So, `Ecto` understands that we are trying to update those items and one of them will have the action as `update`.

I feel I'm kind confused with that and I thought I had fixed that on my app, but I don't. Now, I think it is an Ecto issue 🙈

 I'd be happy to show this issue for you in a video call if that

[2020-12-18 11:36] josevalim commented on #3514
Right, that's my point, don't put those items in there. If you are generating those items but you want to show them empty in your views, then build them in your view, but do not pass to the list you are giving to changeset. Ecto works with the assumption that whatever struct you give to `Ecto.Changeset` is correct, which doesn't hold if you are injecting empty structs in there. :)

[2020-12-18 11:36] #3514 closed

[2020-12-18 12:20] feliperenan commented on #3514
As always, thank you for clarifying 💪🏻

[2020-12-18 21:06] k-cross opened #3516 "__schema__(:type, field) changed behavior for embeds since ecto 3.5 release"
### Environment

* Elixir version (elixir -v): 1.11.2 otp-23.1.4
* Database and version: MySQL 5.7
* Ecto version (mix deps): 3.5.5 from 3.4.6
* Database adapter and version (mix deps): MyXQL
* Operating system: MacOS 10.7

### Current behavior

Failure to compile with this error:
[code]

Digging into the function we're using `__schema__(:type, field)` to find out if the field is embedded or not,

[2020-12-21 14:10] kianmeng opened #3518 "warning: documentation references "(data_type) :: %Ecto.Changeset{"
### Environment

* Elixir version (elixir -v): $ elixir -v
Erlang/OTP 23 [erts-11.0.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.11.1 (compiled with Erlang/OTP 21)

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps): Latest `master` branch.
* Database adapter and version (mix deps): N/A
* Operating system: Ubuntu 20.10

### Current

[2020-12-21 14:12] josevalim commented on #3518
/cc @wojtekmach

[2020-12-21 14:23] wojtekmach commented on #3518
Thanks for the report, it seems to be a bug in ExDoc, I will look into it.

[2020-12-21 14:49] wojtekmach commented on #3518
while #3520 fixes it, there's still a bug in ExDoc as this warring does't look right and I'll keep at it.

[2020-12-21 15:06] #3518 closed

[2020-12-22 08:59] itayadler opened #3521 "Generating a migration in a custom directory (i.e manual_migrations) creates the wrong module namespace"
### Environment

* Elixir 1.11.2 (compiled with Erlang/OTP 23)
* PostgreSQL 12
*    {:phoenix_ecto, "~> 4.1"},
      {:ecto_sql, "~> 3.4"},
*    {:postgrex, ">= 0.0.0"}
* Operating system: Mac OS Catalina 10.15.6

### Current behavior

Running:
`mix ecto.gen.migration --migrations-path=priv/repo/manual_migrations update_users`
creates the migration file in the `priv/repo/manual_migrations` path wi

[2020-12-22 09:01] BlueHotDog commented on #3521
Just to add some context here, the source of the confusion is due to the Dashbit article explaining this practice but not mentioning this issue. regardless would be nice to solve this for everyone ever trying to do this

[2020-12-22 09:12] wojtekmach commented on #3521
Why would the migration not work during the release? Can you paste an error you're getting? The module name doesn't have to follow the filename.

[2020-12-22 09:15] itayadler commented on #3521
I didn't get an error, it just ran the migrations successfully and didn't end up running the manual migration file. It started working when I renamed the module namespace from Migrations to ManualMigrations.
I did what the dashbit article suggested, and ran the manual migrations during release with the command:
```/bin/app_name eval Api.Release.migrate_manual```

[2020-12-22 09:15] itayadler commented on #3521
also it works in development, just not in release

[2020-12-22 09:23] josevalim commented on #3521
Can you please share the code of your `Api.Release` module? The module name should have no impact on the migration.

[2020-12-22 09:25] itayadler commented on #3521
[code]

[2020-12-22 09:48] wojtekmach commented on #3521
I couldn't reproduce this locally. Could you create a sample app that reproduces your problem?

(For a second, I thought I _could_ reproduce this locally as I saw the migration didn't get executed but this is because I thought I properly rolled back my DB but I didn't. I called `mix ecto.rollback` but I should have: `mix ecto.rollback --migrations-path=priv/repo/manual_migrations`. Mentioning it j

[2020-12-22 09:50] itayadler commented on #3521
sure, I'll do it later

[2020-12-22 10:22] itayadler commented on #3521
also forgot to mention that I'm building the release using this Dockerfile:
[code]

[2020-12-22 12:02] josevalim commented on #3521
Cool! Please try to reproduce it outside of Docker just to rule out it being an issue with the docker setup. :)

[2020-12-22 12:04] itayadler commented on #3521
Sorry I wasn't clear.
When I attempt to do a `mix release` locally, and run it it does seem to work.
However It doesn't seem to work with the Dockerfile I added here.

[2020-12-23 22:01] thiamsantos commented on #3509
I don't know if someone is already working on this, but I would like to give it a try.

- We would support this only for `many_to_many` and `has_many`?
- We should accept the same options as [`order_by/3`](https://hexdocs.pm/ecto/Ecto.Query.html#order_by/3)
- We can go with `preload_order` as @Eiji7 suggested?

About using the order on join, seems to be a good approach to leave it open for the fut

[2020-12-23 22:37] josevalim commented on #3509
Yes.

Not quite. We accept only a keyword list with asc|desc as keys and fields as atoms as values.

Yes!

Yes, that's the place. You still want to order by foreign key first with the additional order_by coming next. You will probably need to return the order_by as part of [preload_info](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/preloader.ex#L486).

[2020-12-25 14:49] michalmuskala commented on #3509
How would this work with through associations? In particular, if one of the intermediaries has a `preload_order`. Does that impact the order of the final association?

[2020-12-25 14:56] josevalim commented on #3509
Through should not accept this option. Given through just depends on other preloads, it will follow the order of other preloads.

[2020-12-28 07:36] smartepsh opened #3526 "Can't use order_by in except query"
### Environment

* Elixir version (elixir -v): Elixir 1.11.2 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 13.1
* Ecto version (mix deps): 3.5.5
* Database adapter and version (mix deps): 0.15.7
* Operating system: MacOS BigSur 11.1

### Current behavior

`order_by` can not use in `EXCEPT`/`EXCEPT_ALL`/`UNION`/`UNION_ALL`/`INTERSECT`/`INTERSECT_ALL` quer

[2020-12-28 07:40] wojtekmach opened #3527 "Wrong doc references on select_merge/3"
<img width="846" alt="image" src="https://user-images.githubusercontent.com/76071/103198185-01846b00-48e8-11eb-9169-1854c6ba872b.png">

(https://hexdocs.pm/ecto/Ecto.Query.html#select_merge/3)

`struct/2` here references `Kernel.struct/2` but we intended to reference `Ecto.Query.API.struct/2`. We'd have to either refer to it explicitly or using a custom link:

[code]

[2020-12-28 08:54] wojtekmach commented on #3526
Thank you for the report.

We generate the following query:

[code]

and for this to work we would have to generate:

[code]

This is because per [1] [2]

[1] https://www.postgresql.org/docs/current/sql-select.html#SQL-ORDERBY
[2] https://www.postgresql.org/message-id/499E0B4E.9020201@dunslane.net

[2020-12-28 08:57] wojtekmach commented on #3526
In the meantime one can also do this:

[code]

[2020-12-28 09:23] smartepsh commented on #3526
Thanks for the reply.

The description about this in the document:

It makes me think that it can use `order by` in `except` directly...

[2020-12-28 09:48] josevalim commented on #3526
I believe you can if you refer to city and not a particular instance of city, such as `order_by: fragment("city")`. But I think the subquery approach is clearer. :)

[2020-12-28 09:48] #3526 closed

[2020-12-28 18:11] #3527 closed

[2020-12-31 11:57] mrcnkoba opened #3532 "Different behavior for {:map, :string} in Repo.load between 3.4 and 3.5 versions."
### Environment

* Elixir version (elixir -v): 1.11.2
* Ecto version (mix deps): 3.5.5
* Operating system: MacOS 11.1

### Current behavior

After updating Ecto from 3.4.6 to 3.5.5, I've noticed a change in behavior for the schema below. When you try to `Repo.load` such schema with a map that one of the values is `nil` it throws in Ecto 3.5.5.
Note: I feel like this change is actually a bugfix! Ma

[2020-12-31 13:48] josevalim commented on #3516
To see if a fields is an embed, prefer using the :embeds and (:embed, name) reflection functions. Those will work regardless of version, as the actual type may indeed change.

[2020-12-31 13:48] #3516 closed

[2020-12-31 13:51] josevalim commented on #3532
We currently allow nils for arrays, so we should allow them for maps too:

https://github.com/elixir-ecto/ecto/blob/v3.5.5/test/ecto/type_test.exs#L102

[2020-12-31 14:51] v0idpwn commented on #3532
Type.cast also doesn't seem to work for `nil` values while using  {:map, type}.

[2020-12-31 15:02] v0idpwn commented on #3532
I didn't manage to reproduce your issue on master. I created a patch with my attempt:
https://gist.github.com/v0idpwn/0039b430ff2371a8366a0886400b8527

[2020-12-31 15:06] josevalim commented on #3532
@v0idpwn this fails for me:

[code]

[2020-12-31 15:19] v0idpwn commented on #3532
This also fails for me, @josevalim, but on cast, not on load, as reported in the issue

[2020-12-31 16:11] v0idpwn commented on #3532
Just opened #3533, which solves the cast problem. This issue stays open, as I didn't manage to reproduce the Repo.load/2 problem.

[2020-12-31 18:34] #3532 closed

[2021-01-04 17:27] k-cross commented on #3516
Thanks for the response. Is it not at least worth documenting in the `CHANGELOG` when this changes? This is a public function which did cause a breaking change which would have been much quicker to resolve looking through it. We were using `:type` to do analysis on more than just `:embeds` so `:type` was the more appropriate approach for how we're using it since we're scanning all fields. We can d

[2021-01-04 18:16] josevalim commented on #3516
Good call, changelog updated!

[2021-01-04 22:19] cjbottaro opened #3534 "cast_embed does not keep validation errors"
### Environment

* Elixir version (elixir -v): 1.11.2
* Ecto version (mix deps): 3.5.5
* Database adapter and version (mix deps): postgrex
* Operating system: OS X

### Current behavior

[code]

Output is
[code]

### Expected behavior

Notice how the inner inspect (TimedNode.Time) has the validation error, but the outer inspect (TimedNode) doesn't.

Thanks for the help.

[2021-01-04 22:49] josevalim commented on #3534
What is weird is that it says it is valid...

can you please include the schema so I can execute the file and reproduce the issue with “mix run file.exs”? Thanks!

[2021-01-05 17:49] cjbottaro commented on #3534
Yup, here ya go!

https://gist.github.com/cjbottaro/86af860df0d3ee360cdfb4204add9de4

That runs in a mix project with:
[code]

And prints out the debug info that shows the issue.

Thanks!!

[2021-01-13 09:19] wojtekmach commented on #3521
ping :) if you could create a sample project with instructions how to reproduce and put it e.g. on GitHub that would be appreciated.

[2021-01-14 12:11] fuelen opened #3537 "Negate field is not a valid expression"
### Environment

* Elixir version (elixir -v): 1.10
* Ecto version (mix deps): 3.5.5

### Current behavior
this code doesn't compile
[code]
error:
[code]

### Expected behavior
Compile successfully. Current workaround is
[code]

[2021-01-14 12:20] josevalim commented on #3537
Good call. If you would like to submit a PR, it would be welcome!

[2021-01-14 22:28] #3537 closed

[2021-01-16 23:48] gbenga504 commented on #3138
This isn't clear at all, just spent so much time googling because I thought inclusion wasn't meant for enums. Need to update the docs

[2021-01-17 15:57] kuroda opened #3541 "The exception DBConnection.ConnectionError gives a misleading error message"
I was bothered by the exception `DBConnection.ConnectionError` for a long time while trying to run my Phoenix application in a production environment.

This exception gave the following error message.

Then, it offers three solutions:

1. Tracking down slow queries and making sure they are running fast enough
2. Increasing the pool_size (albeit it increases resource consumption)
3. Allowing reques

[2021-01-17 16:38] josevalim commented on #3541
Fixed in DBConnection master, thank you!

[2021-01-17 16:38] #3541 closed

[2021-01-18 00:56] v0idpwn commented on #3509
I was wondering today if maybe we should support any query in a preload.

This could be done in subqueries, as pointed by @michalmuskala. but I think it could be optional rather than the default.

For instance. one could write:
[code]

I think it would allow us to build more expressive relations.

[2021-01-18 08:08] josevalim commented on #3509
This generates compile-time dependencies, which can lead to compilation deadlocks, which is why we have historically not allowed this approach

[2021-01-18 15:51] #3509 closed

[2021-01-18 16:22] josevalim commented on #3534
Here is the bug:

[code]

You are missing the arrow `->`. Once I formatted the file, it became obvious. :)

I am wondering if there would be a way for the Elixir compiler to warn for this, but I don't think it is possible. I will investigate and open up an issue if that's the case.

[2021-01-18 16:22] #3534 closed

[2021-01-18 17:16] cjbottaro commented on #3534
Ahh, how embarrassing. I even showed this to two other coworkers and none of us saw it. Well, thanks, and sorry for the noise.

[2021-01-18 19:24] validere-ben opened #3544 "Ecto.StaleEntryError with assoc `on_replace: :delete` option"
### Environment

* Elixir version (elixir -v): Elixir 1.11.1 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.6
* Ecto version (mix deps): 3.5.5
* Database adapter and version (mix deps):  postgrex 0.15.7
* Operating system: macOS 10.15.6

### Current behavior

An `Ecto.StaleEntryError` can be raised when concurrent updates are made with a chang

[2021-01-18 20:22] validere-ben opened #3545 "Map/Struct input to `put_assoc` allows insertion of unvalidated data"
### Environment

* Elixir version (elixir -v): Elixir 1.11.1 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.6
* Ecto version (mix deps): 3.5.5
* Database adapter and version (mix deps):  postgrex 0.15.7
* Operating system: macOS 10.15.6

### Current behavior
When using `put_assoc` with map or struct inputs, invalid data is allowed to be insert

[2021-01-18 20:28] josevalim commented on #3545
Hi @validere-ben! This is intentional: cast is about external data, put is about internal data, which we always assume is valid.

For example, you can use put_assoc in tests to create data or fixtures in a state that can no longer be generated by the app, but that it is important to test with because that data actually exists in the production database (as it was inserted throughout time). I will

[2021-01-18 20:28] #3545 closed

[2021-01-18 20:34] validere-ben commented on #3545
@josevalim ah thanks for the explanation of the rationale here - great example to explain the intent of `put_assoc`

[2021-01-19 08:36] josevalim commented on #3521
Closing this for now. We will be glad to investigate if we have a complete reproduction script. Thank you!

[2021-01-19 08:36] #3521 closed

[2021-01-19 10:46] #3510 closed

[2021-01-20 08:57] #3544 closed

[2021-01-20 08:59] josevalim commented on #3544
Hi @validere-ben, i pushed a `:delete_if_exists` option in the v3.5 branch. Can you please give it a try? If it works I will ship a new v3.5 version. Thank you!

[2021-01-20 20:18] validere-ben commented on #3544
@josevalim Excellent! Works great!

A side question somewhat related to the usage of assocs and this new option: is the ability to have upsert behaviour supported with`on_conflict/conflict_target` options for through `{cast|put}_assoc` something that would ever make sense?

i.e. if the identity used for diffing to determine if a given assoc 'exists' was not based on `id` but rather a custom primar

[2021-01-20 20:25] josevalim commented on #3544
I don't think that's easily achievable with cast/put_assoc because if you don't give an entry, we will always try to delete (or nillify or update them). And since you want to upsert them, we cannot do any of that, so we would need to know we should not touch those entries based on this unique reference, which today we don't track at all. So I think it is unfortunately out of scope.

[2021-01-20 20:29] validere-ben commented on #3544
👍  Thanks José!

[2021-01-23 11:53] christophweegen opened #3547 "Ecto.Enum allows nil values"
Hello,

the current implementation for `Ecto.Enum` (`3.5.6`) allows for `nil` values given, which is a bit counter-intuitive since one would think, only values in the given list would be allowed.

[code]

This info would maybe be a useful addition to the docs https://hexdocs.pm/ecto/Ecto.Enum.html

I would suggest to optionally disallow `nil` while keeping things backward-compatible with a `null:

[2021-01-23 12:00] wojtekmach commented on #3547
Thanks for the report. Nil had always special handling in changesets, even if you define a field to be eg :string, nil is an acceptable value. I believe we carry over this logic to enums ad other parameterized types. If you don’t want to allow nil, prevent it with validate_required.

[2021-01-23 12:00] #3547 closed

[2021-01-28 01:17] kdawgwilk commented on #2321
Is this still not supported? If not, is this something the project owners would be okay with as a new feature?  I would like to possibly implement this if there is a desire to have it.

[2021-01-29 00:07] yunmikun2 opened #3550 "Ecto.QueryError when using parent_as/1 in select"
## Environment

Elixir:

[code]

PostgreSQL:

[code]

Deps:

ecto: v3.5.6
ecto_sql: v3.5.4
postgrex: 0.15.8

Operating System: Arch Linux

[code]

## Current behaviour

First, we build a subquery that uses `parent_as/1` under the `:select`
key in the `Ecto.Query.from/2` macro:

[code]

Then we join this as a subquery with lateral join:

[code]

As far, everything goes normally, but when we try to

[2021-01-29 13:34] josevalim commented on #3550
Correct. I have recently commit something that makes it clear this is not currently supported: https://github.com/elixir-ecto/ecto/commit/8d7625e257d6f7b05b6fe1fe6db05c2692e38e31 Thanks!

[2021-01-29 13:34] #3550 closed

[2021-01-29 13:36] josevalim commented on #3550
However, it works if you are referring to *from* and not another join, if you are using master: https://github.com/elixir-ecto/ecto/commit/ce90e4eb160a668404bb6921724481367cff8f64

[2021-01-29 20:23] yunmikun2 commented on #3550
Nice. Hope we'll get support for joins in the future too. Thanks!

[2021-02-05 12:12] jfreeze opened #3552 "Typos in docs"
### Current behavior

The current docs have several typos and grammatical errors, in particular on this page

https://hexdocs.pm/ecto/Ecto.Type.html

How do you prefer for fixes to be submitted?
Should we submit them here or do a PR?

[2021-02-05 12:13] wojtekmach commented on #3552
a PR would be appreciated!

[2021-02-05 16:26] giantthinker commented on #2136
Thank you @julian3ap

[2021-02-07 11:31] coop commented on #2500
I hate to dig up the past but the PR wasn't linked and I've had trouble finding it. I've got a situation where I would like to do:

[code]

which doesn't work. Is there a different way to write the query? /cc @zachdaniel

[2021-02-07 11:43] josevalim commented on #2500
Did you try latest Ecto? Otherwise you will have to write that as a fragment:

     type(fragment("...", a.balance), Money.Ecto.Amount.Type)}

[2021-02-07 20:41] coop commented on #2500
It does not work with the latest Ecto (3.5.7):

[code]

Using `fragment` does work:

[code]

[2021-02-08 19:11] Loschcode opened #3555 "Validate_required not outputting clear error while inserting several records at once and having partially wrong params"
### Environment

* Elixir version Elixir 1.11.3 (compiled with Erlang/OTP 23):
* Database and version PostgreSQL 12
* Ecto version (mix deps):
* Database adapter and version (mix deps): ecto 3.5.6 (Hex package) / phoenix_ecto 4.2.1 (Hex package)
* Operating system: OSX

### Current behavior

Consider the following

[code]

The changesets are as follow

[code]

Despite everything being valid it won

[2021-02-08 20:03] josevalim commented on #3555
Thank you for the report! Can you please provide a minimal file that reproduces the error? Something I can put at the root of the Ecto project and run it with `mix run sample.exs`. Thank you!

[2021-02-08 20:21] josevalim commented on #3555
Actually, I know what is happening. The person changeset you create is effectively invalid, then when you replace it with put_assoc, you fix the association error but the parent is not automatically marked as valid - which is always the case.

For example, if any validation fails and then you fix the validation, the changeset doesn't become automatically valid again. The error is not showing up ex

[2021-02-08 20:21] #3555 closed

[2021-02-08 20:27] Loschcode commented on #3555
Hi José,

I was actually preparing the `sample.exs` but yes you nailed the problem which I fixed by using `Map.delete(params, :organization)` which of course fixed the problem itself, I wasn't entirely sure the error not showing up was normal behavior though, but if `put_assoc` and that's normal, then ok.

Thanks for the quick answer!

[2021-02-12 07:13] sheharyarn opened #3556 "Ecto.Enum does not work with module attributes"
### Environment

* Elixir version: 1.11.2
* Erlang version: 23.1
* Database: Postgres 12.3
* Ecto version: 3.5.7
* Database adapter: ecto_sql 3.5.4
* Operating system: macOS Catalina 10.15.7

### Current behavior

With the following schema, the application fails to compile. It works with module attributes directly on the schema fields but not for embedded schema fields. It works as expected when t

[2021-02-12 07:13] sheharyarn commented on #3556
Happy to send in a PR that fixes this if someone can point me in the right direction.

[2021-02-12 07:26] Eiji7 commented on #3556
For me it works:
[code]
Could you please give more details?

[2021-02-12 07:38] sheharyarn commented on #3556
Sorry, I previously posted an incomplete example. Module attributes do not work when using them _inside_ embeds. Update the original issue to reflect that.

[2021-02-12 09:00] Eiji7 commented on #3556
@sheharyarn Looks like everything works as expected.

Please look that `embeds_one` defines module inside that module, so accessing `@auth_modes` returns `warning` (in console) and `nil` (as result).

This code works:
[code]

What's more interesting variables are not accessible:
[code]
produces:
[code]
however I have no idea how to fix it.

[2021-02-12 09:37] wojtekmach commented on #3556
As @Eiji7 said, inline `embeds_*` define a new module which means we can't access module attributes from the parent module using `@`.

We could however do this:

[code]

I'm not sure if we can do anything to improve things so gonna close it.

[2021-02-12 09:37] #3556 closed

[2021-02-12 09:59] Eiji7 commented on #3556
@wojtekmach Could you please explain what happens with a variable in parent module as I found above?

[code]

[2021-02-12 10:03] josevalim commented on #3556
@Eiji7 Ecto is creating the module internally instead of emitting the AST that compiles a module, so the scope of the parent does not become available inside embeds_many. It could be fixed but I am not very sure if it is worth it.

[2021-02-12 10:15] Eiji7 commented on #3556
@josevalim Ah, I see - I guessed that `Module.create/3` was just a nice API. Just checked its source and now it makes sense, thanks!

[2021-02-12 11:23] sheharyarn commented on #3556
Got it, thanks for the clarification!

[2021-02-17 01:04] ChezCrawford opened #3557 "Array input to embeds_one throws Ecto.CastError"
### Environment

* Elixir version (elixir -v): `Elixir 1.11.3 (compiled with Erlang/OTP 23)`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `N/A`
* Operating system: `MacOS 10.15.7`

Libs:
* ecto 3.5.7 (Hex package) (mix)
  locked at 3.5.7 (ecto) 04c4e69d
  ok
* ecto_sql 3.5.4 (Hex package) (mix)
  locked at 3.5.4 (ecto_sql) 1fff1a28
  ok
* myxql 0.4.5 (Hex package) (mix)
  locked at

[2021-02-17 05:55] kipcole9 opened #3558 "Ecto.Type.match?/2 calls schema_type.type which does not exist for parameterised types"
### Environment
* Erlang/OTP 23 [erts-11.1.6] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe]
* Elixir 1.11.3 (compiled with Erlang/OTP 23)
* "ecto": {:hex, :ecto, "3.5.7", "f4...
* "ecto_sql": {:hex, :ecto_sql, "3.5.4", "a9....
* Postgres 13.1

### Current behavior

As [reported](https://github.com/kipcole9/money_sql/issues/12) by @emaiax on the [ex_money_sql](https://github.

[2021-02-17 06:41] josevalim commented on #3557
Yes, we should likely return an invalid cast message on the field instead of raising.

[2021-02-19 12:26] parallel588 opened #3559 "`Ecto.assoc/2` returns incorrect query for `many_to_many` with `through`"
### Environment

* Erlang/OTP 23 [erts-11.1.4] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
* Elixir 1.11.3 (compiled with Erlang/OTP 23)
* PostgreSQL 12.5
* Ecto version (mix deps): elixir-ecto/ecto {:ecto, github: "elixir-ecto/ecto", override: true}
* Database adapter and version (mix deps): postgrex "0.15.8"
* Operating system: Ubuntu 20.04.2 LTS

### Current behavior

exist

[2021-02-19 13:09] josevalim commented on #3559
Thanks for the report!

@GabrielAlacchi, would you like to look into this? Otherwise we will have to revert the previous patch. :) Thank you!

[2021-02-19 17:04] #3552 closed

[2021-02-19 17:14] GabrielAlacchi commented on #3559
Sure I can look into this in the next day or two. I can also write an integration test for this situation as well so we avoid this regression in the future.

[2021-02-20 10:10] #3355 closed

[2021-02-21 13:27] josevalim commented on #3558
Thanks @kipcole9 for the report. This is a bit more complicated because you can't refer to a composite type like that. A composite type is always instantiated, so you need to refer to a proper instance.

Have you tried this approach:

[code]

You should be able to refer to an existing field to use its type.

[2021-02-21 15:47] kipcole9 commented on #3558
@josevalim Unfortunately while that compile ok, it produces a query that attempts to cast to a type of `any` which is invalid.

#### Revised query
[code]
#### Error result
[code]

[2021-02-21 16:16] josevalim commented on #3558
I see. Yes, you will need to give it either a schema field or an instantiated parameterized schema type which you can do by calling this: https://github.com/elixir-ecto/ecto/commit/9dea16ac027c28bc275504f386d1efc7f91d2cdc

[2021-02-21 17:35] kipcole9 commented on #3558
Unfortunately that recommendation does not work since that commit is not in a release published on hex, and using the return tuple explicitly is also raising and exception.

1.  The commit [9dea16a](https://github.com/elixir-ecto/ecto/commit/9dea16ac027c28bc275504f386d1efc7f91d2cdc) is not present in Ecto 3.5.[5. 6, 7, 8] although I can see it on master branch. Therefore `Ecto.ParameterizedType.in

[2021-02-21 17:55] kipcole9 commented on #3558
My conclusions:

1. Parameterised types are not supported in schemaless queries in the `type/2` macro. If true, updated docs required,
2. Parameterised types are not supported in schemaless *are* supported but not working today. If true, the `type/2` macro needs updating to support the 3-tuple returned from `Ecto.ParameterizedType.init/2` when it is released
3. The `match?/2` macro could emit a me

[2021-02-21 18:13] josevalim commented on #3558
@kipcole9 does this work?

    total: type(sum(organization.payroll), ^{:parameterized, Money.Ecto.Composite.Type, []})

[2021-02-21 18:18] kipcole9 commented on #3558
Unfortunately not:
[code]

[2021-02-21 18:52] #3558 closed

[2021-02-21 18:52] josevalim commented on #3558
Fixed on master. Best option is to use master for now. :)

[2021-02-21 22:43] kipcole9 commented on #3558
Thank you José, appreciate the support. Confirmed all tests on my side passing too. I'll send a PR to update the documentation for the `type/2` soon.

[2021-02-22 07:43] jeffmuts opened #3562 "Is there any clean implementation of Ecto and MSSQL. I have a project that has to do with creating ETL microservices with MSSQL . My application runs on Elixir sitting on Erlang VM and Phoenix."
### Precheck

* Do not use the issues tracker for help or support requests (try Elixir Forum, Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* El

[2021-02-22 07:54] josevalim commented on #3562
Yes, EctoSQL supports MSSQL via TDS. Please check the README: https://github.com/elixir-ecto/ecto#usage

If you have any questions getting started, please use the elixirforum.com. :)

[2021-02-22 07:54] #3562 closed

[2021-02-22 16:01] feng19 opened #3563 "Changeset.cast Changing a value back to its original value has no effect"
### Environment

* Elixir version (elixir -v): `Elixir 1.11.3 (compiled with Erlang/OTP 23)`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `N/A`
* Ecto version (mix deps): `master`
* Database adapter and version (mix deps): `N/A`
* Operating system: `MacOS 10.15.7`

### Current behavior

After modifying a field, the same field is restored to its original value a second time, and the

[2021-02-22 16:36] mhanberg commented on #2407
I am pretty sure this works now. The following (slightly doctored 😄) has shown to work locally using Postgres.

[code]

[2021-02-23 02:00] feng19 commented on #3563
Fix it by alaways use a new changeset.

[2021-02-23 02:00] #3563 closed

[2021-02-25 18:37] #3559 closed

[2021-02-28 20:20] #3557 closed

[2021-03-02 20:19] yunmikun2 opened #3571 "Ecto.Query.API.type/2 does not wraps inner expression into brackets"
### Environment

* Elixir version (elixir -v):

[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): doesn't matter.
* Ecto version (mix deps): v3.5.8.
* Database adapter and version (mix deps): postgrex, v0.15.8.
* Operating system: Arch Linux

### Current behavior

When using `Ecto.Query.API.type/2` as subexpression, it doesn't wrap an inner expression into brackets breaking expec

[2021-03-08 14:06] begedin opened #3578 "Ecto.Multi operations not always executed in order as added (Documentation Issue?)"
### Environment

* Elixir version (elixir -v): 1.10.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): psql (PostgreSQL) 11.0
* Ecto version (mix deps):

[code]

* Database adapter and version (mix deps):  `{:postgrex, ">= 0.0.0"}`
* Operating system: Ubuntu 20.4

### Current behavior

Consider this basic example

[code]

Order will bi printed out as
[code]

Result, however, is

[code]

[2021-03-08 14:07] josevalim commented on #3578
I will improve the docs, thank you!

[2021-03-08 14:09] begedin commented on #3578
Much appreciated. I would be OK with submitting a PR myself to, if that is what you prefer, but I wanted to first check what the intent is.

[2021-03-08 14:10] josevalim commented on #3578
Ah, we do mention this in the Changeset section: https://hexdocs.pm/ecto/Ecto.Multi.html#module-changesets

[2021-03-08 14:11] josevalim commented on #3578
Ah, a PR is welcome then! Yes, the behaviour is working as intended but perhaps the docs above can be clearer. :)

[2021-03-08 14:55] josevalim commented on #3578
Closing in favor of the PR!

[2021-03-08 14:55] #3578 closed

[2021-03-08 22:34] kenny-evitt opened #3580 "Document that the shared option `timeout` needs to be an integer (or definitely not a float)?"
### Environment

* Elixir version (elixir -v):

[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL (via `psql`):

[code]

* Ecto version (mix deps):
* Database adapter and version (mix deps):

[code]

* Operating system:

[code]

### Current behavior

I observed some errors.

This code does NOT seem to be particularly relevant to the errors I observed, but I'm including

[2021-03-09 05:23] josevalim commented on #3580
Yes please, PR is welcome!

[2021-03-09 16:47] #3580 closed

[2021-03-10 23:34] tomdmaguire opened #3583 "Ecto.Changeset.put_change unexpected behaviour when trying to set to zero"
### Environment

* Elixir version (elixir -v): Elixir 1.11.2 (compiled with Erlang/OTP 21)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): n/a
* Ecto version (mix deps): 3.5.6
* Database adapter and version (mix deps): ecto_sql 3.5.4
* Operating system: OSX 10.15

### Current behavior

Give the following code:

[code]

I would expect that the `put_change` call would result in a changes

[2021-03-10 23:59] Eiji7 commented on #3583
The default `amount` is `0`, so there is nothing to change. Everything works as expected.

[2021-03-11 00:49] tomdmaguire commented on #3583
ah yes. makes sense. thanks

[2021-03-11 00:49] #3583 closed

[2021-03-12 15:55] pedroassumpcao opened #3584 "Repo parallel preloading fails in test environment when used within Repo.checkout/2"
### Environment

* Elixir version (elixir -v): 1.11.3 (OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PostgreSQL 12
* Ecto version (mix deps): 3.5.8
* Database adapter and version (mix deps): Postgrex 0.15.8
* Operating system: Mac OS Big Sur

### Current behavior

Repo parallel preloading fails in the Sandbox when running inside `Repo.checkout/2`. For context, in my case in

[2021-03-15 20:23] v0idpwn commented on #3584
Hello, @pedroassumpcao. Your instructions to reproduce the issue are very clear, but could you create a sample repository with this failing test? It would help me a lot in my attempt to understand and maybe fix this issue :)

[2021-03-15 20:38] pedroassumpcao commented on #3584
@v0idpwn yes, no problem. I pushed to https://github.com/pedroassumpcao/ecto_bug. The last commit has the override that fixes the issue and make the tests pass. If you revert to the last commit and run the tests you will see the tests failing.

[2021-03-17 02:08] Ljzn opened #3588 "Parse URL failed when password contains "*#""
### Precheck

* Do not use the issues tracker for help or support requests (try Elixir Forum, Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* El

[2021-03-17 03:55] flyingalex commented on #3588
maybe you need to `URI.encode/2` it first.
[code]

[2021-03-17 05:29] alg commented on #3396
I had this in my schema and pre-loaded `linked_users` manually when necessary, so I had access to full linked users, not just ID's.

[code]

@josevalim I don't see anything bad with having arbitrary type of an array element as long as it's a virtual field. Of course, I can work it around by saying `{:array, :string}` while actually storing User structures in there, but why do we need these hacks?

[2021-03-17 06:01] Ljzn commented on #3588
@flyingalex  Thanks. But the password result in your example will be "pass%2A%23word" not the origin "pass*%23word", because here is how ecto extracting params:

https://github.com/elixir-ecto/ecto/blob/69eed66fb6749855a02989e8fd11ffa3439da8a7/lib/ecto/repo/supervisor.ex#L88-L98

[2021-03-17 06:36] josevalim commented on #3588
As you can see, we are calling "URI.decode" on the username and password here:

https://github.com/elixir-ecto/ecto/blob/69eed66fb6749855a02989e8fd11ffa3439da8a7/lib/ecto/repo/supervisor.ex#L111-L113

[code]

Therefore I cannot reproduce the reported issue once it is properly escaped.

[2021-03-17 06:51] #3588 closed

[2021-03-17 06:51] josevalim commented on #3588
I have added a test that shows it works.

[2021-03-17 06:52] Ljzn commented on #3588
Oh, sorry I didn't notice that. Thanks all.

[2021-03-17 09:30] wojtekmach commented on #3396
@alg if you don't care about the type, the way to go is using `{:array, :any}`.

[2021-03-17 10:02] alg commented on #3396
Oh, man. I missed this important bit:

Thanks @wojtekmach!

[2021-03-19 10:03] ukutaht commented on #2392
Hey 👋

I maintain our own fork of `clickhouse_ecto` for connecting to ClickHouse. Trying to make their `SAMPLE` hint work with ecto, here are the [docs](https://clickhouse.tech/docs/en/sql-reference/statements/select/sample/) for it but it's pretty straightforward. I need to compile a query like this:

[code]

The `hints` feature works OK for this, I can access the hints in the ecto adapter and co

[2021-03-19 11:02] josevalim commented on #2392
Hi @ukutaht! Yes, the issue is to avoid SQL injection. If you can interpolate anything in there, someone may pass external data, which can break things.

Maybe in this case what we can do is to allow hints to be a tuple and then it becomes responsibility of the adapter to encode that tuple properly. The built-in SQL adapters should raise if they see something that is not a binary. At compile-time,

[2021-03-19 11:20] ukutaht commented on #2392
Thanks for the quick reply! By a tuple do you mean something like this?

[code]

It would work great for me. It's a simple enough change that I can probably PR it as well some time next week.

[2021-03-19 11:27] josevalim commented on #2392
Yes! In this case I would even do: `from(e in "events", hints: [sample: sample_threshold()])`. :)

[2021-03-19 18:56] bitboxer opened #3590 "Replace gender example in validate_inclusion"
I would propose to change the example of `validate_inclusion` ([see here](https://github.com/elixir-ecto/ecto/blob/v3.5.8/lib/ecto/changeset.ex#L1956)) to a more neutral one. Using a gender and having it set to a default set of values advertises a way that will for sure discriminate against some people. There are so many other more neutral examples:

* Cardinal direction
* List of colors
* Preferr

[2021-03-19 19:10] josevalim commented on #3590
Yes please! List of colors and cardinal dimensions are great!

[2021-03-20 14:35] bitboxer commented on #3590
I created a PR. This is my first PR in ecto. If there is anything missing I should do, please point it out, and I will fix it ASAP. Thanks for your willingness to change the example 👍.

[2021-03-20 15:16] #3590 closed

[2021-03-23 23:19] tmock12 commented on #3400
**UPDATE:** It's landing soon -> https://github.com/elixir-ecto/ecto/pull/3574 🎉

[2021-03-24 14:46] mrkurt opened #3593 "Make ecto work with ipv6 by default?"
We run IPv6 private networks (for [reasons](https://fly.io/blog/ipv6-wireguard-peering/)!), which means Elixir apps using Ecto need to connect to their databases over IPv6.

Ecto doesn't allow IPv6 by default, to get a Phoenix app working with its DB we have to ask users to change their Repo config to something like:

[code]

Are you all cool with enabling IPv6 by default for Ecto? Cowboy (and by

[2021-03-24 15:25] josevalim commented on #3593
Hi @mrkurt! Those configurations would be specific to each adapter. Perhaps we should generate on the config/runtime.exs of new Phoenix apps? WDYT @chrismccord?

[2021-03-24 15:30] josevalim commented on #3593
To be clear, Phoenix and Plug.Cowboy set inet6 on config/runtime.exs. So changing Phoenix would go along the same lines. :)

[2021-03-24 21:03] mrkurt commented on #3593
I am still learning to spelunk through Elixir apps, but I can't find where that gets set in Phoenix. I thought that was the default for Cowboy socket_options!

[2021-03-24 21:11] Eiji7 commented on #3593
I have no idea how it looks like in remote database services like `AWS`, but I would pay attention here. Many network providers do not even support `IPv6` (at least in `Poland`). Therefore making it by default could affect many projects and force many developers to change it in `dev.exs`.

[2021-03-24 21:22] josevalim commented on #3593
@mrkurt in [Phoenix master](https://github.com/phoenixframework/phoenix/blob/master/installer/templates/phx_single/config/runtime.exs#L23). In [Phoenix v1.5](https://github.com/phoenixframework/phoenix/blob/v1.5/installer/templates/phx_single/config/prod.secret.exs#L17).

@Eiji7 inet6 should work for both inet4 and inet6 (in theory).

[2021-03-29 19:10] mveytsman opened #3596 "Variable interpolation in nested preloads for Ecto.Query.Preload"
### Environment

* Elixir version (elixir -v): 1.11.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): N/A
* Ecto version (mix deps): 3.5.8
* Database adapter and version (mix deps): postgrex 0.15.8
* Operating system: MacOS

### Current behavior

There's definitely a documentation bug, I would have made a PR fixing it but I think maybe there's an ecto bug as well.

I tried to implement

[2021-03-29 19:13] josevalim commented on #3596
That’s because we don’t allow you to do this:

    {query, foo: assoc}

which would be complex to implement. So you either replace the whole tuple or nothing at all. The error messages are correct, the docs are wrong. A PR is welcome! :)

[2021-03-29 19:34] mveytsman commented on #3596
Ah!

The error is

The second sentence is telling me to put the ^ outside the tuple, but the first sentence of the error threw me off because it doesn't capture that you can include a query or a tuple with a query and nested preloads

[2021-03-29 19:40] #3596 closed

[2021-03-29 19:41] josevalim commented on #3596
If you think the error message can be clearer, improvements there are also welcome!

[2021-03-29 19:51] mveytsman commented on #3596
@josevalim I think it can be clearer but I couldn't come up with a better wording -- I don't understand what's under the hood well enough to describe it clearly yet :)

[2021-03-30 02:09] jasondashwang commented on #3258
How do you use `unsafe_fragment` in this example?

[2021-03-30 18:09] coladarci opened #3598 "Querying by custom type behaves differently for `in` queries than `==`"
### Current behavior

We have a custom type `TypedRefid` (which in the db is stored as `{type, id}`) which implements `@behaviour Ecto.Type`.

Our schema includes a parent field using this type: `field :parent, TypedRefid`

Our goal is to be able to query for records by their parent.

To query for records w/ a specific parent this correctly returns records whose parent matches what was provided:

[2021-03-30 18:16] josevalim commented on #3598
can you try:

    def filter(query, :parent, values) when is_list(values),
      do: where(query, [a], a.parent in type(^values, {:in, TypedRefid}))

We treat `:in` as a special type internally, so I wonder if you need to do the same.

[2021-03-30 18:17] josevalim commented on #3598
If it works, can you please send a PR that updates the docs? We can improve the docs for `type/2` and `in/2`. Thank you.

[2021-03-30 18:18] coladarci commented on #3598
As always, thanks for the quick reply. Sadly it doesn't fix it:

[code]

Results in:

[code]

[2021-03-30 18:25] coladarci commented on #3598
`type/0` returns `:typed_refid`

[code]

[2021-03-30 18:42] josevalim commented on #3598
Is that an actual PostgreSQL type understood by Postgrex?

[2021-03-30 18:44] coladarci commented on #3598
No, it's a custom type we created:

[code]

[2021-03-30 18:50] josevalim commented on #3598
And have you defined a custom extension to encode it as the error message proposes?

the error message is correct, you need extension to use custom types in many occasions.

[2021-03-30 18:54] coladarci commented on #3598
I guess I'm curious why the extension would be needed when doing an `in` but not when doing an `==`...

[2021-03-30 19:00] josevalim commented on #3598
In is a composite type (it is sent as an array), so we cannot infer as much when sending the data. The correct is to define the extension, the fact it works without is a convenience to help the simplest of cases. :)

[2021-03-30 19:00] #3598 closed

[2021-04-01 00:14] SophisticaSean opened #3599 "~7 Second (31%) difference between Mix test and mix test --partitions in Ecto Heavy test suites"
### Environment

* Elixir version (elixir -v): 1.11.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres:12-alpine (docker container)
* Ecto version (mix deps): 3.4.6
* Database adapter and version (mix deps): 3.4.6
* Operating system: Ubuntu 18.04
* Original issue: https://github.com/elixir-lang/elixir/issues/10853
### Current behavior

I was able to replicate this on this branc

[2021-04-01 06:47] josevalim commented on #3599
@SophisticaSean can you please see what happens when you increase your ecto_loop_count to 5000 or 10000? It takes 6.2 seconds for me to load the test files and I want to rule that partitioning is faster to load code rather than running it.

Alternatively, try this command: `mix test --exclude test --exclude doctest` and `MIX_TEST_PARTITION=... mix test --exclude test --exclude doctest --partitions

[2021-04-01 07:00] josevalim commented on #3599
Ok, I was unable to reproduce the issue on my machine. My guess is that we are hitting a bottleneck somewhere between 8 to 32 cores.

[2021-04-01 07:10] SophisticaSean commented on #3599
I ran it on my 32 core server and I'm seeing this:

10000 ecto_loop_count test timeout

5000 ecto_loop_count:
   `time mix test --max-cases 384`: 54.130 seconds
   `run_tests 6`: 36.226630 seconds

[2021-04-01 07:43] josevalim commented on #3599
This is very interesting. I am *sure* we are spawning all of those tests concurrently but the tests running longer makes a strong impact on the overall results.

I have a couple more theories for us to test (in isolation):

1. What happens if you wrap the Ecto test in a Repo.checkout call?

2. What happens if instead of creating a user, you sleep on the database side of things?

To be clear, this

[2021-04-01 10:14] SophisticaSean commented on #3599
Results for 5000 Ecto loop count on 32 core machine:
checkout wrap inside loop
[code]
- `mix test --max-cases 384`  58.667 seconds average over 3 runs
- `run_tests 6` 41.653 seconds average over 3 runs

Results for 5000 (`:timeout` increased to `60_000`) Ecto loop count on 32 core machine:
checkout wrap outside loop
[code]
- `mix test --max-cases 384`  47.863 seconds average over 3 runs
- `run_tes

[2021-04-01 10:14] SophisticaSean commented on #3599
I'm not sure what you mean by this, could you clarify?

[2021-04-01 10:21] josevalim commented on #3599
@SophisticaSean ok, so the checking out of connections definitely play a role.

Instead of User.create, do something like Repo.query!("SLEEP 0.1") or whatever is the SQL syntax for it.

Besides the above, can you please try to see what happens when using the regular pool instead of the ownership pool?

[2021-04-01 20:14] SophisticaSean commented on #3599
Results for `AsyncTesting.Repo.query!("SELECT pg_sleep(#{duration});")` with duration of `0.01` and run_count of `5000`
[code]
- `mix test --max-cases 384`  59.312 seconds average over 3 runs
- `run_tests 6` 58.866 seconds average over 3 runs

Results for `AsyncTesting.Repo.query!("SELECT pg_sleep(#{duration});")` with duration of `0.001` and run_count of `5000`
`same code as above`
- `mix test --

[2021-04-01 20:21] josevalim commented on #3599
Fantastic! Can you try with “SELECT 1”? It seems the issue is not the sleep but simply don’t the queries.

and then let’s try without the ownership pool. :)

[2021-04-01 20:38] SophisticaSean commented on #3599
SELECT 1; results on Sandbox pool
Results for `AsyncTesting.Repo.query!("SELECT 1;;")` with run_count of `5000`
[code]
- `mix test --max-cases 384`  39.876 seconds average over 3 runs
- `run_tests 6` 20.462 seconds average over 3 runs

[2021-04-01 20:43] SophisticaSean commented on #3599
SELECT 1; results on Default pool
Results for `AsyncTesting.Repo.query!("SELECT 1;;")` with run_count of `5000`
[code]
- `mix test --max-cases 384`  30.9 seconds average over 3 runs
- `run_tests 6` 18.969 seconds average over 3 runs

[2021-04-01 21:54] josevalim commented on #3599
Ok, I have one last request. Can you wrap this loop in Repo.checkout(fn -> ... end) and let us know how it goes? Thank you! :heart:

[2021-04-01 23:35] SophisticaSean commented on #3599
No worries, I'm happy to help. :)

SELECT 1; Repo.checkout wrap results on sandbox pool
Results for `AsyncTesting.Repo.query!("SELECT 1;;")` with run_count of `5000`
[code]
- `mix test --max-cases 384`  29.94 seconds average over 3 runs
- `run_tests 6` 17.32 seconds average over 3 runs

SELECT 1; Repo.checkout wrap results on default pool
Results for `AsyncTesting.Repo.query!("SELECT 1;;")` with r

[2021-04-02 03:09] bbugh commented on #2037
This is the top web result for `returning` that isn't stack overflow, so if anyone else ends up here looking for returning, the way to do it today (in 3.5.8) is with `select` in a `from`. See docs:
https://hexdocs.pm/ecto/3.5.8/Ecto.Query.html#select/3

[code]

Will return a `%City{}` with the `id` and `name` field data, and all other fields `nil`.

[2021-04-02 07:24] josevalim commented on #3599
Ok, I have two last requests to test my theory.

First, can you run the same tests above (it can be whatever pool), but making sure that only the test above is executed? Something like this `mix test --only test:"test ecto database select_1 test"`.

Second, instead of using the connection pool, can you please start a Postgrex connection in the test and use it for the queries? It would be something

[2021-04-02 08:54] SophisticaSean commented on #3599
SELECT 1; Repo.checkout wrap sandbox pool this test only
Results for `AsyncTesting.Repo.query!("SELECT 1;;")` with run_count of `5000`
[code]
- `mix test --only select_1 --max-cases 384`  30.223 seconds average over 3 runs
- `run_tests 6` (with --only select_1 filter) 17.104 seconds average over 3 runs

manual postgrex connection on default pool
[code]
- `mix test --only manual_postgrex --max-case

[2021-04-02 08:56] SophisticaSean commented on #3599
So our whole test suite is `async: true` so I'm wondering if we should work on an option of disabling (or a readme/help/tutorial) to show people who are building async test suites how to reap a possible performance enhancement here. Right now Ecto funnels you through async: false and sandbox friendly testing so I think we need a path for the performance sensitive folks to squeeze out as much test

[2021-04-02 08:57] SophisticaSean commented on #3599
I'm 100% fine leaving sandbox behind if its causing performance issues. I just need a path to do so.

[2021-04-02 09:36] josevalim commented on #3599
I think there is a misunderstanding. The sandbox **is** the reason why you can use `async: true` because we need a mechanism to share a connection between processes. So Ecto is pushing you towards async: true and sandboxing. Without the sandbox, everything would be `async: false` and execution would be much, much slower.

To sum up, here are the numbers (with `--max-cases):

1. With ownership pool

[2021-04-02 10:07] josevalim commented on #3599
@SophisticaSean can you please run the tests again with the ownership pool + select 1, but this time [using this branch for db_connection](https://github.com/elixir-ecto/db_connection/pull/238).

This should reduce the bottleneck by making all reads go through a ETS table, which should be the majority of hits.

[2021-04-02 10:18] SophisticaSean commented on #3599
You're right, sorry about that I misunderstood what Sandbox was doing.

Here's the results for the `Process.sleep(1)` request and 10,000 loop_count:
- `mix test --only sleep_1 --max-cases 384`  24.15 seconds average over 3 runs
- `run_tests 6` (with --only sleep_1 filter) 23.183 seconds average over 3 runs

I'll work on the results for that other branch.

[2021-04-02 10:28] SophisticaSean commented on #3599
SELECT 1; Repo.checkout wrap sandbox pool this test only
using this db_connection branch: https://github.com/elixir-ecto/db_connection/pull/238
Results for `AsyncTesting.Repo.query!("SELECT 1;")` with run_count of `5000`
[code]
- `mix test --only select_1 --max-cases 384`  30.553 seconds average over 3 runs
- `run_tests 6` (with --only select_1 filter) 17.188 seconds average over 3 runs

[2021-04-02 10:29] josevalim commented on #3599
@SophisticaSean sweet, we went from 40 to 30 for the ownership tests! Can you please try running that branch in your original repo that started all this and let us know how much it improve in practice?

[2021-04-02 10:33] josevalim commented on #3599
Thank you! The Postgrex.start_link approach should be completely asynchronous... so I don't understand why it is running faster with partitions. It would be nice if we could now reproduce the slow down without Postgrex but it seems sleep is not enough to do it. :(

[2021-04-02 10:48] SophisticaSean commented on #3599
Results of the test suite this issue originated from on the new db_connection branch:
 - `mix test --max-cases 384` 24.617 second average over 3 runs
 - `run_tests 6`  17.314 second average over 3 runs

 The test suite this is coming from is 762 tests and they're pretty evenly balanced between reads/writes so it looks like the change will help in the long run or for projects with many more ecto te

[2021-04-02 11:13] josevalim commented on #3599
So no improvements unfortunately. I don't think the difference is read/writes. Instead I think in our journey to simplification, we made it so the DBConnection ownership pool became the bottleneck, but that isn't the case in your app.

Yeah, unfortunately I just ran out of options. We ruled out the issue being Ecto and DBConnection and I am skeptical the issue will be Postgrex. So we either need t

[2021-04-02 23:50] jbcaprell opened #3601 "Update `Repo.aggregate/4` function documentation."
The documentation for `Repo.aggregate/4` says that readers should see the documentation for, literally, \`aggregate/2\` for general considerations and options, but the documentation containing that information is actually attached to \`c:aggregate/3\`, and so the automatic link generation is broken.

https://github.com/elixir-ecto/ecto/blob/74a85a99b6dc0fc4667876d5341ad4cafceaa9f6/lib/ecto/repo.ex

[2021-04-03 06:24] #3601 closed

[2021-04-05 15:06] tmock12 opened #3603 "Integer should be allowed as schema default for float type?"
### Environment

* Elixir version (elixir -v): _Elixir 1.10.2 (compiled with Erlang/OTP 22)_
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 12.6
* Ecto version (mix deps): 3.6.0
* Operating system: Mac Big Sur

### Current behavior

https://github.com/elixir-ecto/ecto/pull/3487 introduced an ArgumentError when the default of a field has an invalid type. This causes a defaul

[2021-04-05 15:46] josevalim commented on #3603
This is expected. The error is coming because we can't dump the value, which means you may have error later on. :)

[2021-04-05 15:47] #3603 closed

[2021-04-06 02:25] SophisticaSean commented on #3599
So how can I help? The example repo still showcases the very same discrepancy I'm seeing in my private repo. I don't think there should be a ~13 second difference between partition and no partition `mix test`.

[2021-04-06 06:21] josevalim commented on #3599
We need to continue boiling it down. We were already able to bring it down to Postgrex, removing Ecto from the equation. So now we need to further change the example so we get closer to the bottleneck.

[2021-04-06 09:15] rockneurotiko opened #3604 "apply_changes try to access `id` field in relations when it's `nil`"
### Environment

* Elixir version (elixir -v): 1.11.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 11.9
* Ecto version (mix deps): 3.6.0
* Database adapter and version (mix deps): Postgrex, 0.15.8
* Operating system: Linux

### Current behavior

When creating an optional relation (with belongs_to) in a changeset as `nil`, when trying to apply the changes it raises an erro

[2021-04-06 15:08] rockneurotiko commented on #3604
Fixed with #3605

[2021-04-06 15:08] #3604 closed

[2021-04-06 17:54] tcrossland opened #3606 "Queries on reflexive many_to_many relation via join_through schema no longer work"
### Environment

* Elixir version (elixir -v): elixir 1.12.0-rc.0 (compiled with Erlang/OTP 24 RC2)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL
* Ecto version (mix deps): 3.6.0
* Database adapter and version (mix deps): postgrex 0.15.8
* Operating system: MacOS Big Sur

### Current behavior

Changes introduced in https://github.com/elixir-ecto/ecto/pull/3481 break expres

[2021-04-06 17:56] tcrossland commented on #3606
I've created an integration test that reproduces the issue:

https://github.com/tcrossland/ecto/tree/many_to_many_issue

I used git bisect to identify the breaking change, the query works correctly previous to #3481.

[2021-04-07 08:31] josevalim commented on #3606
Thanks @tcrossland for reproducing the issue.

@GabrielAlacchi, is this something you could look into please, if you have the time? Thank you! :heart:

[2021-04-07 15:20] GabrielAlacchi commented on #3606
Thanks @tcrossland for creating an integration test! I'll be able to take a look most likely this weekend but I may be able to find a few hours before then.

[2021-04-07 16:30] tcrossland commented on #3606
I've had a quick look and I think that as things stand it's not possible to determine whether a positional binding is supposed to reference the `join_through` schema or the `many_to_many` association itself, unless we resort to adding an option to the join expression to conditionally exclude the `join_through` binding.

[2021-04-07 16:33] kim366 commented on #548
Tha'ts very interesting. I wonder why text is faster only in Postgres. Unfortunately there is no further technical expanation, but it's good to know and I will default to it from now on

[2021-04-07 16:46] tcrossland commented on #3606
Also, the use of positional bindings to reference the `join_through` relation isn't particularly explicit in the documentation... @josevalim if you're happy with the change of the behaviour, an alternative "fix" might be a breaking change notice and an example of how to refactor expression queries affected by the change.

[2021-04-07 20:28] josevalim commented on #3606
@tcrossland Good point. If you want to access the join_through, it sounds to me you should not be using a many_to_many but instead a has_many through? 🤔

[2021-04-07 21:01] tcrossland commented on #3606
The schema used in the real-world query actually has both associations (has_many :child_relations/:parent_relations and many_to_many :children/:parents with the join_through). The positional binding on the join_through simplified the expression queries as it avoided an additional (explicit) join.

Refactoring the query is fairly straight forward, my concern is that it's a breaking change on a mino

[2021-04-07 21:06] josevalim commented on #3606
Agreed on the concerns. Let's wait for @GabrielAlacchi's input and we can make a decision. Thanks for discussing the options!

[2021-04-08 11:05] spinettaro opened #3608 "prepare_query/3 for Repo.insert_all()"
Hello,

I just noticed that prepare_query/3 it is not invoked when I call a Repo.insert_all() or Repo.Insert.

I receive the callback for ` def default_options( operation) do ` but not for `def prepare_query( operation, query, opts) do`

It is ok when I face a SELECT query.

In addition I have updated ecto to version 3.6.0
Elixir version 1.11.2

[2021-04-08 11:45] josevalim commented on #3608
Correct. Prepare_query is only invoked when we have a Ecto.Query struct and insert/insert_all do not.

[2021-04-08 11:45] #3608 closed

[2021-04-08 12:04] spinettaro commented on #3608
@josevalim  is there a callback to identify if a query is an insert, update or select, before the execution?

[2021-04-08 12:07] josevalim commented on #3608
default_options is the only way you can customize those without overriding them.

[2021-04-08 12:10] spinettaro commented on #3608
@josevalim ok but if I cannot intercept it on the prepare_query callback how can I read/interpreter what I have just set?

[2021-04-08 12:12] josevalim commented on #3608
You can't do much in this case, besides setting existing options. You can always create higher-level abstractions around the Repo that does the normalization that you want/need.

[2021-04-08 12:16] spinettaro commented on #3608
@josevalim ok it makes sense :) thanks a lot for the quick replies! much appreciated

[2021-04-12 01:38] GabrielAlacchi commented on #3606
Hey @josevalim and @tcrossland, I've taken a look and I believe I understand the issue. I'll refer to the example @tcrossland used in the failing integration test.

[code]

Prior to #3481 the bind order for this query would be `[child, parent, rel (between child and parent), grandchild, rel2 (between child and grandchild)]`. Since the change removed the unnecessary join of the parent table the que

[2021-04-12 07:26] josevalim commented on #3606
Thanks @GabrielAlacchi for the updates!

Note there is a version that will work in both previous and current Ecto versions which is to use: `...`

    where([..., rel, _grandchild], rel.type == "foo")

My suggestion is to update the docs and the release notes. I will work on that. But it is probably best to never relying on the middle table appearing in the bindings.

[2021-04-12 07:46] #3606 closed

[2021-04-12 09:48] wojtekmach opened #3609 "Force interpolations for json_extract_path"
We need to either always send values as params or force users to always interpolate them, otherwise we'll generate the wrong query on Postgres and possibly on other adapters. (Strictly speaking, Postgres cannot handle the generated query as it doesn't know the type of the value sent as is)

[code]

[2021-04-12 10:21] kelvinst commented on #3609
I think the preferable would be to always send values as params, as I think people do not interpolate plain values as much, so it would require a considerable amount of change when upgrading Ecto.

Any downside of doing it that way?

[2021-04-12 11:12] dvic opened #3610 "changing the base query of unsafe_validate_unique"
I'm thinking of creating a `unsafe_validate_unique` that accepts an option that changes the base query. Our usecase is the use of soft deletes, we want to exclude rows that are marked as `deleted`. I think it's a relatively small change and I can create a PR if needed.

[2021-04-12 11:29] josevalim commented on #3610
A `:query` option that defaults to the schema sounds good to us! PR is welcome!

[2021-04-12 14:57] mrkurt commented on #3593
Oh nice, that got me (I think) what I needed for a Phoenix PR: https://github.com/phoenixframework/phoenix/pull/4289

[2021-04-12 15:08] #3593 closed

[2021-04-12 19:08] #3610 closed

[2021-04-13 09:54] wojtekmach commented on #3609
it would _not_ because if you don't interpolate yourself your code is broken :) I can't think of downsides of always interpolating but maybe it should be left to the adapter, will look into it.

[2021-04-13 17:11] bartblast commented on #1478
@josevalim I think this behaviour is very counter intuitive, I found myself with the exact same problem, I didn't know what was going on... I expected the same thing as @ramhoj .

Is it documented? The only related doc I found is this:
https://hexdocs.pm/ecto/Ecto.Query.html#preload/3
"(...) Therefore, instead of returning number_of_posts * number_of_comments results, like a join would, it returns

[2021-04-13 17:26] tcrossland commented on #3606
Thanks @josevalim and @GabrielAlacchi , looks good to me

[2021-04-14 13:28] iv-mexx opened #3615 "Regression in with `cast_assoc\4` in 3.6?"
### Precheck

* Do not use the issues tracker for help or support requests (try Elixir Forum, Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* El

[2021-04-14 13:35] josevalim commented on #3615
The line between regression and bug fixing is a thin one but I would label this more of a bug fix than a regression. Passing a list to a has_one association was never supposed to work, but it did - so we tightened up the validation a bit!

The fix in this case is for you to transform `[lat, lon]` to a map on the params before you cast the marker and before you call cast_assoc. :) I will make sure

[2021-04-14 13:35] #3615 closed

[2021-04-14 13:46] iv-mexx commented on #3615
@josevalim Honestly, I was already suspecting that I did something unintended there, thats why I put the question mark in the title, but I did not find anything regarding cast_assoc in the Changelog.

Thanks for the quick reply and adding a note to the Changelog 👍

[2021-04-18 02:46] conradwt opened #3617 "undefined function first/1"
### Environment

* Elixir version (elixir -v):  Elixir 1.11.4 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 13.2
* Ecto version (mix deps): 3.6.1
* Database adapter and version (mix deps): postgrex 0.15.8
* Operating system: macOS 11.2.3

### Current behavior

[code]

Note:  I have the following defined at the top of the module:

[code]

and t

[2021-04-18 06:35] josevalim commented on #3617
The behaviour is correct, we can't know you meant first/1 if you haven't imported it. :) So we can't even compile. I will improve the error message in master though, thank you!

[2021-04-18 06:35] #3617 closed

[2021-04-21 00:40] joaopaulobdac opened #3619 "Can't find named binding in CTE subquery with parent_as/1"
### Environment

* Elixir version: 1.11.3
* Database and version: PostgreSQL 13
* Ecto version: 3.6.1
* Database adapter and version: postgrex 0.15.8
* Operating system: Arch Linux Kernel 5.11.15

### Current behavior

I'm trying to convert the following query from SQL to elixir:

[code]

Sample result:

[code]

And here's the query in elixir:

[code]

But I can't access the `:group` binding:

[co

[2021-04-21 05:20] josevalim commented on #3619
At the moment, parent_as only looks at the direct parent. By using subquery and CTE, you have two levels, so this is not currently supported. A PR that addresses this is welcome!

[2021-04-21 05:45] joaopaulobdac commented on #3619
Thank you, that makes sense.

I also tried using `as/1` but it can't find the named binding. I guess it's because it only looks at the current level?

As a workaround, I'm replacing the subquery with a fragment:

[code]

[2021-04-21 05:48] josevalim commented on #3619
Yes, `as` is current level.

[2021-04-21 06:53] joaopaulobdac commented on #3619
I think a good solution would be the ability to "pass down" a named binding. I don't know if it's already possible.

Maybe something like this, but with a clearer API:

[code]

In my case, I would pass the binding from the CTE's parent down to the CTE's subquery.

What's your opinion on this?

[2021-04-21 07:04] josevalim commented on #3619
I would perhaps just make sure the parent_as can look all the way up.

[2021-04-22 18:32] nacengineer commented on #3212
For someone that comes along later on this one...

Keep in mind your postgres might be setup to use sockets and that may be causing the error depending on how your firewall works. For me on centos with 3rd party postgres, so sockets are in /tmp not in /var/run/postgresql, I had to set socket_dir to be /tmp

[2021-04-23 13:09] atomkirk commented on #460
@josevalim this doesn't seem to work (nor is documented) for `delete_all`. Was that intentional?

[2021-04-23 13:15] josevalim commented on #460
From the CHANGELOG:

i.e. use select in your queries instead.

[2021-04-23 13:16] spatrik opened #3621 "Multiple identical rows in a has_many :through association"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 13.1
* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating system: MacOS 11.2

### Current behavior

I have a `has_many :through` defined like this

[code]

Taken from an [example project](https://github.com/spatrik/ecto-bug-maybe).

[2021-04-23 13:21] josevalim commented on #3621
Yes, there are no duplicates because we are querying the variants table directly matching on the parent ids - if they point to the same place - then that's still a single entry. You can change how your query is written or how you query the data, but the behaviour you see is expected. Thanks.

[2021-04-23 13:21] #3621 closed

[2021-04-23 14:46] v0idpwn commented on #3619
Would the `parent_as` api stay the same? Looking forward to do an attempt at this issue

[2021-04-23 18:13] spatrik commented on #3621
Ah, I see. Thanks for the quick reply!

[2021-04-24 04:29] peterwillcn opened #3622 "Where Ecto.Adapters.Mongodb for Mongodb?"
Where Ecto.Adapters.Mongodb for Mongodb?

[2021-04-24 05:58] josevalim commented on #3622
We don’t have official support for Mongo via Ecto. I recommend asking in the ElixirForum what are your options to talk to Mongo in Elixir.

[2021-04-24 05:58] #3622 closed

[2021-04-24 09:21] hauleth opened #3623 "Subquery joins omit `nil` fields"
### Environment

* Elixir version (elixir -v): `Erlang/OTP 23 [erts-11.1.8] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] Elixir 1.11.4 (compiled with Erlang/OTP 23)`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `postgres (PostgreSQL) 13.2`
* Ecto version (mix deps): `3.6.1`
* Database adapter and version (mix deps): `0.15.8`
* Operating system: `Darwin 20.3.0 Dar

[2021-04-24 09:34] josevalim commented on #3623
Good find. PR is welcome!

[2021-04-24 11:18] josevalim commented on #3599
Any news here on a more minimal case? :) Thanks!

[2021-04-24 11:21] josevalim commented on #3599
Oh, I had an idea. Can we focus on the Postgrex case, where you pass the options to start it manually without using Ecto at all? Then can we benchmark using a socket vs a hostname? Just the issue is something ip related.

[2021-04-24 11:22] #3623 closed

[2021-04-24 16:59] #3584 closed

[2021-04-25 17:46] #3619 closed

[2021-04-25 23:16] v0idpwn commented on #3619
@joaopaulobdac could you try with master? With this fix you should be able to do it

[2021-04-26 02:17] joaopaulobdac commented on #3619
Hi @v0idpwn thank you for looking into this. I just tried it but unfortunately it didn't work for my query. I got the "not found" error message this time:

[code]

I suspect it has something to do with the `as` from `with_cte`...

[2021-04-26 06:08] joaopaulobdac commented on #3619
I'm trying to figure it out... It seems that the reason your PR didn't work for me is because the CTE's parent is not being assigned here:

https://github.com/elixir-ecto/ecto/blob/1f096a030b311990edecbd31194108ccc437057b/lib/ecto/query/planner.ex#L872-L885

After fixing this, I'm no longer getting that error message from my comment above.

[code]

So it looks like it is finding the named binding,

[2021-04-26 06:57] v0idpwn commented on #3619
Could you provide a standalone example of this? Then I can look further into it today. Seems like it behaves differently for subqueries and ctes.

[2021-04-26 13:26] tverlaan opened #3626 "`nil` goes undetected when multiple map-values are passed"
I had an interesting hunt after refactoring a query that suddenly reported `nil`-values. In my case I found out that the values in question were already `nil`, but the order of how the values were accessed determined if it would get a `raise`. It happens when you access multiple values from the same map and the first key from the map you access is not a `nil` value, but any subsequent value can be

[2021-04-26 13:40] josevalim commented on #3626
Does it raise when you actually run the query? There is no guarantee Ecto will raise when it builds the query, but it should not send it to the adapter.

[2021-04-26 13:52] tverlaan commented on #3626
It doesn't raise when running the query either. The query just runs until I put the key that has the `nil` value as first where-clause.

[2021-04-26 16:06] #3626 closed

[2021-04-26 20:46] joaopaulobdac commented on #3619
I've set it up here https://github.com/joaopaulobdac/parenting

There's a docker-compose file to start the database, then you can just run `mix setup`.

[2021-04-30 13:03] feliperenan commented on #3189
Hi @josevalim 👋🏻

I've faced something this issue today using default values in the Ecto schema. Something like:

[code]

Then, the validation does not work properly for this case.

[code]

I end up just removing the default value from the schema. Should we at least document this behaviour? I'd suggest something like that in here:

https://hexdocs.pm/ecto/Ecto.Schema.html#field/3-options

[2021-04-30 13:20] josevalim commented on #3189
Sounds great to me, PR is welcome!

[2021-04-30 17:29] scottmessinger opened #3628 "`aggregate` repo test case can't pass"
Hi! I'm working on updating the MongoDB adapter to be compatible with Ecto 3.6 (it's on 2.1 right now).

In the process, I'm running into this test [case: ](https://github.com/elixir-ecto/ecto/blob/f6324ebc14f849fa4cc189cb263b5603c8bd1c19/integration_test/cases/repo.exs#L797)

[code]

However, [based on the implementation](https://github.com/elixir-ecto/ecto/blob/f6324ebc14f849fa4cc189cb263b5603c8

[2021-04-30 17:46] josevalim commented on #3628
If there are results but the columns are NULL, then we will get nil back.

[2021-04-30 17:49] josevalim commented on #3628
Sorry, I submitted accidentally.

 It will also be the case when there are no entries. Aggregation will always return a single row. An aggregation of nothing is still a row saying that nothing was aggregated. In the same way the count of nothing is a result, which is zero. :)

[2021-04-30 19:06] scottmessinger commented on #3628
Ahh, so you're saying this part should match:

[code]

with

[code]

Is that right? If so, this might be an issue with how results are handled with the Mongo driver. The driver returns an empty array, matching the `[] -> raise Error` case.

[2021-04-30 19:13] josevalim commented on #3628
Exactly. Can you detect aggregation queries in the Mongo driver? Because an aggregation should always return *something*.

[2021-05-04 10:58] revati opened #3631 "Proposal: store extra meta data"
Currently `field`, `has_many`, `has_one` and so on macros accept undefined amount/structure of options so fallowing line will work fine `field :temp_lo, :integer, foo: :bar`. There are few options keys that in different contexts are used `:default`, `: through`, `:virtual` and so on. But any other option will be discarded/ignored.

Proposal is to store those extra values as well.
[code]
Depending

[2021-05-04 11:19] michalmuskala commented on #3631
Not addressing the proposal itself, it wouldn't be possible to pass references to local anonymous functions like that - e.g. `&validate_user_current_password/1` - the schema is evaluated at compile-time before the module is actually compiled and at this point the function does not exist yet (since it wasn't compiled). The utility of this might be therefore limited

[2021-05-04 11:22] josevalim commented on #3631
The downside of this approach is that it leads to a path where all of the definitions are happening at the scheme level, instead of inside functions. For example, it is by explicit design choice that Ecto pushes validations to be functions, instead of schema macros. All of your use cases could be built on top functions instead of directly on top of the schema, so I recommend exploring this route i

[2021-05-04 11:22] #3631 closed

[2021-05-05 21:20] scottmessinger commented on #3628
@josevalim I think I might be able to do that. I'll check and let you know. Thanks!!

[2021-05-05 21:23] scottmessinger opened #3633 "Move preprocessing out of adapters is causing problems for the MongoDB Adapter"
Hi! I'm working on upgrading the Mongo adapter to be compatible with Ecto 3 and #2312 is causing a problem I'm not sure how to fix and I was wondering if you all had any ideas.

Prior to this change, if a field didn't exist in the document retrieved from the database, Ecto would use the `default` value. e.g. If the database has this:

[code]

and the schema is:

[code]

And you were to fetch the d

[2021-05-05 21:43] josevalim commented on #3633
Can you please tell me what adapter.execute is returning in your case?

[2021-05-05 22:05] scottmessinger commented on #3633
Sure! It's returning `{count, rows}`. For the example above, it would return the following:

[code]

In 2.2, it would return a list of structs instead of a list of lists. Is that the information you're looking for?

[2021-05-06 18:01] josevalim commented on #3633
I think we will have to change ecto to allow maps besides lists internally when preprocessing - if we don't allow them yet. PRs are welcome! :heart:

[2021-05-06 19:11] scottmessinger commented on #3633
@josevalim Okay! Would there be an option to allow an atom to be passed instead of nil that would allow the processing step to convert to the field's default? E.g. instead of

[code]

I would pass

[code]

and then we'd just need to change the processor functions to fill in `:__unknown__` with the default?

[2021-05-06 19:27] josevalim commented on #3633
I think a map is more appropriate here, so I would try to go down this route instead. :)

[2021-05-06 20:16] scottmessinger commented on #3633
@josevalim My concern here is changing the process code to accept a map is going to be a much bigger change and involved far, far more lines of code than handling a different type of value. I'm working on it now and the process code is a bit intricate. Also, as far as I can tell, there isn't a test suite that's narrowly testing the repo/queryable (I'm sure it's indirectly tested in other suites).

[2021-05-06 20:43] josevalim commented on #3633
Unfortunately there isn't much info. The adapter APIs have always been documented superficially because the best way to move forward was to copy the existing implementations. Perhaps that's a better route, use the existing Ecto v3.0 adapters as reference, extracting from the old one when necessary.

On the good news side, we don't plan any new major version of Ecto, so this should be the last time

[2021-05-06 21:28] scottmessinger commented on #3633
@josevalim Re: adapter API, that totally makes sense.

I've been feeling the same! I was really struggling try to figure out how I'd do this.

Totally agree. Using a function would be a perfect fix.

I'll work on implementing that. I can dig through Ecto and find out where. If you have any tips or things to guide me, let me know! I'll be working on this for the next few days and try to get a PR up

[2021-05-07 15:00] josevalim commented on #3599
This commit may also fix the issue: https://github.com/elixir-lang/elixir/commit/2eb03e4a314c0e6b986b4fb88af2df549e088288 - you will need Elixir master :)

[2021-05-07 15:50] scottmessinger commented on #3633
I think I found a way of doing this work entirely in the adapter. It appears the defaults are created when `struct.__struct__()` is called and not fetched per field. When I saw that, I wondered, "Can I just fetch the default from the struct in the adapter?" Turns out, I think I can.

In the `execute` function, I look for a struct in the query's `from.source` field. If it's there, I then instantiat

[2021-05-07 16:25] pmarreck commented on #3177
It wouldn't be that hard to write your own `validate_not_format`, looking at the source for `validate_format`:

[code]
Based on this one could easily write:
[code]

I should note that I believe there is a semantic difference between "negating a regex match" and "negative-lookahead'ing a regex match", so this may be necessary to get the behavior you need. Needless to say, (cover any use of this val

[2021-05-07 16:56] josevalim commented on #3633
@scottmessinger that's actually a good idea. Definitely :+1: from me. Just keep in mind that you can have fields from joins, so it is not always from `from.source` and not the schema (the module) may be nil too in schemaless queries. But then you can just use nil. Since all of them seem doable, I will go ahead and close this. Good call!

[2021-05-07 16:56] #3633 closed

[2021-05-07 17:22] scottmessinger commented on #3633
@josevalim Awesome! Thanks so much for working through this with me -- I don't think I would have gotten there by myself.

Re: joins. That's good to know. I haven't heard of Mongo adding support for joins, but they did release support for transactions and validations, so who knows what comes next! I'll have to revisit this if Mongo adds joins.

And, as always, thanks for all your work on Elixir/Ec

[2021-05-07 18:03] josevalim commented on #3633
my contribution to the final solution was 0.1%. :)

[2021-05-10 18:56] etiennelacoursiere opened #3634 "Improvement on Error handling for import with :only"
Hi! Not sure if this can be improved but i was trying to use a function from another module that i was importing but i forgot i had the `:only` option and was effectively not importing one of the functions.

Here's the situation, it should be clearer than my explanation :)

[code]

The error i got was this
[code]

I got confused by `not a valid query expresion` because`date_trunc` work in the same

[2021-05-17 23:58] serokellcao opened #3637 "Clarify the possibility of using `init/2` from `Ecto.Repo` to subscribe to the event of repository becoming operational"
From current [documentation](https://github.com/elixir-ecto/ecto/blob/2035faedfc70e8ee9584d750fb692a63197bb855/lib/ecto/repo.ex#L404) it is not clear how to use a custom `init/2` in a project's `Repo` module (the one that `use`s `Ecto.Repo`) to subscribe to the event of repository becoming operational and if it is possible at all.

[2021-05-18 06:26] josevalim commented on #3637
What do you mean by "the event of repository becoming operational". Which event are you talking about? The telemetry one? If so, the init/2 callback does not apply any restrictions or considerations to said callback, so you should simply fall the instructions in the telemetry docs.

[2021-05-18 06:27] josevalim commented on #3628
I will close this for now, as I believe this is not an Ecto issue, feel free to ping or open up a new one if you want to continue this discussion. :)

[2021-05-18 06:27] #3628 closed

[2021-05-18 06:27] josevalim commented on #3599
Closing this for now, as it is surely not an Ecto issue. If you decide to take a further look at this, let's move this to Postgrex and continue from there. Thanks!

[2021-05-18 06:27] #3599 closed

[2021-05-18 20:27] serokellcao commented on #3637
Again, sorry for not being clear.

What I'm having in my project is the need to make sure that mission-critical data exists in the data base at app start.

Currently I'm one-shotting a [transient Task](https://git.sr.ht/~doma/do-auth/commit/49b87f70abe369b7cf027367b6ebe194286cfdf1#lib/do_auth/persistence.ex-1-18) that retries `GenServer.whereis`s a bunch, until it can check for existance of said m

[2021-05-18 20:30] josevalim commented on #3637
It is best to have a GenServer that runs in your supervision tree after the repo starts and does the required work on its `init` callback, returning :ignore afterwards.

[2021-05-18 21:45] serokellcao commented on #3637
Jose, thank you very much for clarification.
Do I understand correctly that it is guaranteed that if there is a child after Repo in the same supervisor, when it `init`s, Repo is already operational?
If so, this issue can be closed because the feature I'm asking for is not needed.

[2021-05-18 21:46] josevalim commented on #3637
Yes, correct. Closing as requested!

[2021-05-18 21:46] #3637 closed

[2021-05-19 09:37] Dvogiatz opened #3639 "`Ecto.Telemetry` stops sending metrics after a db connection error"
### Environment

* Elixir version (elixir -v): Elixir 1.11.3 (compiled with Erlang/OTP 23)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 13.2
* Ecto version (mix deps): ecto 3.5.7
* Database adapter and version (mix deps): postgrex 0.15.8
* Operating system: Linux

### Current behavior
In our app, we have a query counter using Ecto Telemetry.

Whenever the following error

[2021-05-19 09:58] josevalim commented on #3639
Are you attaching your own handler to telemetry? And if so, is your handler the one crashing in case of errors? That's not an Ecto behaviour but rather a telemetry behaviour: any attached handler will be removed in case of errors. Also note there is no such module `Ecto.Telemetry` in Ecto. Could it perhaps be coming from another package?

[2021-05-19 10:16] Dvogiatz commented on #3639
@josevalim Hello, Yes I'm sorry I wasn't precise enough.
In our application, we have many repos. What we noticed is that after a `DBConnection.ConnectionError` on one of the repos, we stop receiving Ecto telemetry events from that repo.  The handler continues to receive Ecto Telemetry Events from the other repos, as well as events from other packages (e.g. broadway)

[2021-05-19 10:30] josevalim commented on #3639
Thanks @Dvogiatz for the additional context. There is one part that is unclear:

Events are emitted by subscribing specific handlers. Ecto doesn't subscribe a handler for you. The connection error is likely causing your own handler to crash and your handler should cope with that. I don't think this is an Ecto bug. :)

[2021-05-19 11:20] Dvogiatz commented on #3639
Thank you for the quick responses @josevalim.
We are using `telemetry_metrics_prometheus` , and we have configured a metric as following:
[code]
 What I don't understand is how a `DB.connection.ConnectionError` detaches the handler since it's not related.
 Feel free to close the issue since this is not Ecto related. Thanks again.

[2021-05-19 11:42] josevalim commented on #3639
If a handler is removed, it should log the reason. So you see such reports? Also, what query_metadata do?

[2021-05-19 13:10] Dvogiatz commented on #3639
@josevalim Sorry for the late response, tried to reproduce the bug in dev environment. It did throw a detach log, which was hard to spot on production level because of other continuous logs.  The issue was indeed inside query_metadata (which was extracting the name of the repo).

Thank you very much,  you were really helpful!!  Closing the issue, have a nice day! :)

[2021-05-19 13:10] #3639 closed

[2021-05-20 12:50] abmBispo commented on #3224
Hi folks, I've also took this issue on my project, specifically in analytics DB. We've used to run heavier queries compared to simple selects and solved this increasing our pool number fully by try and error.

[2021-05-24 11:57] jotaviobiondo opened #3643 "json_extract_path for non ecto schema joins"
### Environment

* Elixir version (elixir -v): **1.11.2**
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): **PostgreSQL 12**
* Ecto version (mix deps): **3.4.6**
* Database adapter and version (mix deps): **0.15.8**
* Operating system: **Ubuntu 20.04 (inside Windows 10 WSL2)**

### Current behavior
When joining with something that is not an Ecto schema, it's throwing the following error

[2021-05-25 16:22] anildigital opened #3644 "Does tracing(telemetry) the execution of parallel preloads work now?"
spandex_ecto (https://github.com/spandex-project/spandex_ecto ) project has following in README

"Due to some recent changes in Ecto, we can no longer effectively trace the execution of parallel preloads. All other queries work fine, but until we figure something out that leverages either telemetry or until the task feature listed here is added to the language, we won't be able to support tracing

[2021-05-25 16:27] josevalim commented on #3644
I am not familiar with spandex internals, so you will have to ask the spandex team. I will be glad to provide info to them in case we need to improve Ecto. Thanks!

[2021-05-25 16:27] #3644 closed

[2021-05-27 13:45] mathiasose opened #3645 "Ecto can't order_by aggregate key without using `fragment`"
### Environment

* Elixir version (elixir -v): 1.12.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 11.12
* Ecto version (mix deps): 3.6.1
* Database adapter and version (mix deps): Postgrex 0.15.9
* Operating system: Docker `elixir:1.12.0-alpine`

### Current behavior
I have some table with an foreign ID column and an integer column. I want to aggregate (sum) rows that sh

[2021-05-27 13:56] josevalim commented on #3645
This is pretty much the same issue as #3159. So I will close in favor of that one. Feel free to join the discussion there!

[2021-05-27 13:56] #3645 closed

[2021-05-28 11:56] D4no0 opened #3646 "Allow addition of macros in with_cte/3 as: option."
### Environment

* Elixir version (elixir -v): 1.12
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 12.1
* Ecto version (mix deps): 3.6.1
* Database adapter and version (mix deps): postgrex 0.15.9
* Operating system: ubuntu 20.04

### Current behavior

Suppose we have macro that generates fragments:
[code]

Now when we call:

[code]

It outputs:

The only way I could get it working is

[2021-05-28 12:03] josevalim commented on #3646
Yes, a PR that expands the argument is welcome!

[2021-05-28 12:31] josevalim commented on #3646
I am working on a PR.

[2021-05-28 12:37] #3646 closed

[2021-05-28 12:45] D4no0 commented on #3646
Thanks!

[2021-05-28 19:50] jotaviobiondo commented on #3643
Duh! I look at issues and changelogs for this but forgot to actually try on newer versions, sorry 😅

And thanks for the help!

[2021-06-07 08:57] spinettaro opened #3655 "Remove unique constraint"
Hi,

is there a way to remove only the unique constraint of an index? Not removing the index but just the constraint.

Thanks

[2021-06-07 09:07] josevalim commented on #3655
Not in Ecto but you can always consult your database and execute SQL commands directly by calling `execute`.
Btw, please use the [ElixirForum](http://www.elixirforum.com) or StackOverflow for questions/support, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2021-06-07 09:07] #3655 closed

[2021-06-08 01:32] Lucasnar opened #3656 "`parse_url/1` fails with misleading error message when URL contains unencoded `#` or `?`"
<details><summary><strong>Environment</strong></summary>

* Elixir version (elixir -v):
[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `PostgreSQL 13:1`

* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating system: macOS Catalina

</details>

### Current behavior

This is related to this older issue: https://github.com/elixir-ecto/ect

[2021-06-08 06:22] josevalim commented on #3656
The error message is actually correct because, with an unencoded ? and #, then it is actually missing the path:

[code]

I will change the error to show the parsed URI. I think that will make it clearer what went wrong (although the solution may not be immediately clear, it should at least be a better indicator).

[2021-06-08 06:24] #3656 closed

[2021-06-08 14:28] Lucasnar commented on #3656
Thank you, @josevalim!

[2021-06-09 10:58] princemaple opened #3659 "Possible breaking change around 3.6.2"
### Environment

* Elixir version (elixir -v): 1.12.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PG11
* Ecto version (mix deps): 3.6.2
* Database adapter and version (mix deps): postgrex 0.15.9
* Operating system: docker alpine

### Current behavior

before 3.6.2 something like this, when `a` is `nil`, would not raise:

[code]

it raises now

### Expected behavior

Not sure what t

[2021-06-09 11:01] wojtekmach commented on #3659
Yeah given this prevents nil injections we consider this a security fix and so not under compatibility promise. Thanks!

[2021-06-09 11:01] #3659 closed

[2021-06-09 11:04] princemaple commented on #3659
Thanks for the quick response!

[2021-06-10 06:56] naddika opened #3661 "How to declare a enum in a migration?"
There're examples of how to use Ecto.Enum, but they're all for data-modules
[code]

There're no examples and mention of how to declare an enum in a migration.
[code]

How?

[2021-06-10 06:59] josevalim commented on #3661
By default they are strings on the database level, so you will say it is a string. Although you can also declare them as an enum in the database. I will push some docs.

[2021-06-10 07:05] #3661 closed

[2021-06-11 05:04] alaadahmed opened #3665 "Custom error message doesn't appear in `errors.po`"
### Environment

* Elixir version (elixir -v): `1.12.1`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL `13.3`, MariaDB `10.5.9`
* Ecto version (mix deps): `3.6.2`
* Database adapter and version (mix deps): Postgrex `0.15.9`
* Operating system: macOS `11.4`

### Current behavior
I have application with multi languages __(3 langs)__
In schema file, I used `unique_constraint`