[2016-12-31 10:14] #1881 closed

[2016-12-31 10:19] #1856 closed

[2016-12-31 10:20] #1879 closed

[2017-01-02 09:46] michalmuskala opened #1886 "Refactor migrator tasks to use common arg parser"
Both migration tasks use the same args, we should be able to have a single place where the args are parsed and sanitised.

https://github.com/elixir-ecto/ecto/blob/master/lib/mix/tasks/ecto.migrate.ex#L52-L67

https://github.com/elixir-ecto/ecto/blob/master/lib/mix/tasks/ecto.rollback.ex#L52-L67

This should be started only after https://github.com/elixir-ecto/ecto/pull/1885 is merged.

[2017-01-02 10:20] josevalim commented on #1886
To me that's a positive duplication. The code is almost on its own declarative and built on top of shared functions. Trying to abstract it away will likely lead to a more complex code, because it needs now to handle things like different defaults for the `all || step || to` check and so on. Maybe if there is something to be abstracted, it is the quiet handling, but that would be pretty much it.

[2017-01-02 11:18] michalmuskala commented on #1886
You're right. I admit, I missed the difference in the handling of the `all || step || to` case.

[2017-01-02 11:18] #1886 closed

[2017-01-02 12:15] olivermt opened #1887 "selecting from a joined subquery references inner table name instead of alias"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2017-01-02 12:16] olivermt commented on #1887
No wait what on earth, it does read from s2.renewal_date, reading comprehension not present.

[2017-01-02 12:16] #1887 closed

[2017-01-02 12:29] olivermt opened #1888 "Add support for lateral joins"
I would like support for new join type, :left_join_lateral.

It should ideally take only adding "lateral" to the end of LEFT JOIN on current left_join keyword.

[2017-01-02 12:30] #1888 closed

[2017-01-03 08:35] jablan commented on #1485
We need this feature too http://stackoverflow.com/questions/41301959/ecto-query-and-custom-mysql-function-with-variable-arity Should I open new issue?

[2017-01-03 09:00] josevalim commented on #1485
The biggest problem is come up with an API for this. If there are proposals, we are glad to discuss them.

[2017-01-03 10:02] jablan commented on #1485
As all of the logical combinations with `fragment` (such as `fragment("?, ?, ?", [1, 2, 3])` and `fragment(["?, ?, ?", 1, 2, 3])` are already used for other things, I guess there would have to be another function, such as `fragment_list("?, ?, ?", [1, 2, 3])` or so. :/

[2017-01-03 10:46] michalmuskala commented on #1485
I'm afraid this will cause issues with the query cache. Since now for the same query struct we'd need to generate different SQL depending on the params we receive.

[2017-01-03 11:29] josevalim commented on #1485
@michalmuskala every time varargs are required, we cannot use the query cache. The same is true for `x in ^list` in MySQL. So we already have a mechanism for not using the query cache in Ecto for certain constructs.

[2017-01-04 09:57] jablan commented on #1485
@michalmuskala voiced good concern [here](https://jira.xing.hh/browse/REG-5342?focusedCommentId=633002&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-633002) about having to have fragment string in compile time, which does not work with dynamic arity. In this case, perhaps something like `custom_function(function_name, [1, 2, 3])`could work, second parameter passed a

[2017-01-04 17:38] brunozrk commented on #1870
For `modify` method in migration, it stills not working:

** (Postgrex.Error) ERROR 42704 (undefined_object): type "datetime" does not exist

[2017-01-04 18:40] michalmuskala commented on #1870
@brunozrk fixed in master.

[2017-01-04 18:44] josevalim commented on #1870
@michalmuskala I will backport it to 2.1 and do a new release, ok?

[2017-01-04 18:46] michalmuskala commented on #1870
Sounds great.

I'm sorry, @brunozrk. I didn't notice you offered to contribute until now - I skimmed the message too quickly 😢 .

[2017-01-04 19:57] wmnnd opened #1891 "Repo.update raises Ecto.StaleEntryError"
Hi there,

it seems that Ecto.Repo.update raises an exception when the filter applied by optimistic_lock is not met. Instead, I would expect Repo.update to return an error tuple and only Repo.update! to raise the exception.

* Elixir version: 1.3.3
* Database and version: MariaDB 10.0.28
* Ecto version: ecto 2.2.0-dev
* Database adapter and version: mariaex 0.8.0
* Operating system: Ubuntu 16.10

[2017-01-04 20:15] brunozrk commented on #1870
thx @michalmuskala, no problem! :smile:

[2017-01-04 20:41] josevalim commented on #1891
I believe this has been "reported" in the past. The issue is that we are unable to know if the record does not exist or if there was a filter violation so we cannot quite make it an error. For such reasons, I believe the exception is the best way to signal something unexpected may have gone happened.

[2017-01-04 20:41] #1891 closed

[2017-01-06 07:32] Bharat311 opened #1892 "Allow schema :field to have an alias"
Hi,

I am fairly new to elixir and am currently working on developing a service application on phoenix.

It uses MongoDB as a backend and i am using `mongo-ecto` as the adapter to connect to the database.

The issue i am facing is that the fields in the MongoDB (as per normal practise) use short names. So, `first_name` is stored as `fn`, etc. Now, I want to access the field using proper names (rea

[2017-01-06 08:14] johnnyshields commented on #1892
Two thoughts:

[code]

or

[code]

[2017-01-06 22:39] brandonparsons opened #1894 "Attempting to use Ecto.Migrator in my app code causes runtime errors"
### Environment

* Elixir version (elixir -v): 1.4.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  9.4.1
* Ecto version (mix deps): 2.1.1
* Database adapter and version (mix deps): Postgrex 0.13
* Operating system: Mac

----

I am using Postgres schemas and the `prefix` functionality from Ecto. There is one place in my app code (tenant registration) where I create a new schema, and

[2017-01-07 00:10] josevalim commented on #1894
Running migrations loads all migrations in the given directory. Therefore if your tests are async, it means you may have two tests running at the same time, and both will attempt to load and compile the migrations modules, leading exactly to the error you are seeing now. The error message says exactly that:

I think the best would be to make sure those modules are compiled and loaded when your app

[2017-01-07 00:11] josevalim commented on #1894
We could, for example, support:

    Ecto.Migrator.run(Repo, [{0, MyApp.Migration1}, {1, MyApp.Migration2}, ...], :up, opts)

[2017-01-07 05:40] brandonparsons commented on #1894
Thanks for the reply Jose. I'm glad it was a result of the async tests and not something harder to understand :)

1. Would throwing `require` statements for the modules in `test_helper.exs` address the first part of your suggestion (ensuring all the migration modules are compiled and loaded when app starts)?
2. I'll have a look at the code in Ecto.Migrator and see what I can figure out. I'm new to

[2017-01-07 09:24] josevalim commented on #1894
1. @brandonparsons that would not solve it because the migration would always try to load the files. Plus you would still have the same error in production.

2. Feel free to ask any questions or ping me for help. I am also on IRC in case you want a faster way to communicate. :)

[2017-01-07 12:32] johnnyshields commented on #1892
@josevalim would be great to get your direction on how this could be implemented, we're happy to give it a try if there's an agreed upon spec.

[2017-01-08 17:44] josevalim commented on #1894
Yes!

We support the PG_URL environment variable. By default we use "postgres:postgres@localhost" so if you hvae a postgres username with postgres password you are good. Otherwise you need to set it to your user:pass with credentials to also create databases.

However, I believe you don't need to run PG tests for this feature, `mix test` should be enough as nothing of what you are implementing is

[2017-01-08 22:10] brandonparsons commented on #1894
@josevalim I took at stab at this in #1897. Please go easy on me :)

[2017-01-09 01:48] #1894 closed

[2017-01-09 04:20] brandonparsons commented on #1894
@josevalim I'm trying to write my app code to figure out exactly how to take advantage of this. I don't want to hard-code the [{version, module_name}] list anywhere in my code, as it would be easy to forget a migration module.

Is there a way to list all modules under a given namespace?  I couldn't find it by googling around.  For example, if I store all my tenant migrations under `Myapp.TenantMig

[2017-01-09 04:25] brandonparsons commented on #1894
I have tried things along the lines of:

[code]

But nothing is showing up when I play with this in development / iex.

[2017-01-09 06:38] brandonparsons commented on #1894
So the issue appears to be that because these modules are never called anywhere in the app, Elixir isn't loading them on boot, and therefore they don't show up in the `_build` directory. This means the filenames can't be found through `Application.app_dir(:myapp, "tenant_migrations")`.

After some code spelunking, I've found that this can create the {version, module} tuples:

[code]

If this is do

[2017-01-09 09:30] josevalim commented on #1894
Suggestions:

1. Instead of Path.join+Path.wildcard, you can use `File.ls!`
2. Instead of a regex, you can do: `case filename do "Elixir.Myapp.TenantMigrations." <> suffix -> ... end`. Then you can use the functions in the Path module to remove the `.beam` extension.
3. Don't forget to sort at the end!!!

[2017-01-09 13:48] brandonparsons commented on #1894
Thank you sir. Appreciate your help.

🎉

[2017-01-09 17:05] OvermindDL1 commented on #1894
A document or even better a library to do this when you finish would be awesome.  :-)

[2017-01-09 17:18] es1o opened #1899 "Problem with convert date after upgrade to 2.1"
Hello, I've recently upgraded ecto from 2.0 to 2.1 and I have this error during convert DateTime to iso format:
`
** (FunctionClauseError) no function clause matching in Ecto.DateTime.to_iso8601/1
     stacktrace:
       (ecto) lib/ecto/date_time.ex:584: Ecto.DateTime.to_iso8601(~N[2017-01-09 17:11:31.208162])
       test/unit_tests/esioci_router_test.exs:91: (test)
`

`~N[2017-01-09 17:11:31.2081

[2017-01-09 17:28] fishcakez commented on #1882
We can fix this by not pattern matching on `%Ecto.Multi{}` outside of `Ecto.Multi` and adding specs to `__apply__` and any other public functions in `Ecto.Multi` that currently do not have specs. If we must pattern match on `%Ecto.Multi{}` outside `Ecto.Multi` we can add `@dialyzer {:no_opaque, fun: arity}` to let dialyzer we know what we are doing. However we should still add specs for all `Ecto.

[2017-01-09 18:26] michalmuskala commented on #1882
@danielberkompas Please, try with current master.

[2017-01-09 18:48] NilsLattek commented on #1899
Ecto 2.1 uses NaiveDateTime, so please try ```NaiveDateTime.to_iso8601/1``` which was introduced in elixir 1.3 or 1.4 (you might need to upgrade).

[2017-01-09 19:14] michalmuskala commented on #1899
Did you change the schema types? `Ecto.DateTime` struct corresponds to the custom ecto schema type `Ecto.DateTime`, `NaiveDateTime` struct, that you have there corresponds to the schema type `:naive_datetime`. In 2.0 only the former existed, 2.1 introduced the new types to take advantage of the built-in calendar structs introduced in Elixir 1.3.

[2017-01-09 19:20] josevalim commented on #1899
Ecto 2.1 defaults to :naive_datetime, so you can easily fix by adding `timestamps type: Ecto.DateTime` to the relevant schema. This way Ecto will emit the old types and everything should work as before. We do recommend eventually migrating to the new types though. Such has been noted in the changelog.

[2017-01-09 19:20] #1899 closed

[2017-01-09 20:14] seivan opened #1900 "documentation over `opts` arguments is incomplete for certain methods."
### Environment
* Ecto version (mix deps): 2.1.2

You only find out by stepping through the [source](https://github.com/elixir-ecto/ecto/blob/v2.1.2/lib/ecto/migrator.ex#L73) that the `opts ` argument in `Ecto.Migrator.run` can contain `:prefix` once you reach [the end](https://github.com/elixir-ecto/ecto/blob/v2.1.2/lib/ecto/migrator.ex#L73).

Not sure what the best solution is as it could easily

[2017-01-09 20:21] josevalim commented on #1900
We should just duplicate the options in the documentation options section. Being complete is more important than being concise here.

[2017-01-09 20:23] seivan commented on #1900
I leave that up to you.

[2017-01-09 21:02] #1900 closed

[2017-01-10 01:43] aaronjensen commented on #1684
@josevalim this is biting us too. It's not clear what you can do with `:empty_values`. I don't want to set the default to `""` because I want to be able to differentiate between `""` and `nil` after the cast. Is there any way to do that?

[2017-01-10 07:00] rockwood commented on #1145
With this solution, is there a way to omit specific fields instead of selecting?

I have a schema with a `field :meta, :map` that's not necessary in most cases. Instead of selecting every field but `:meta`, I'd rather do something like `from t in Thing, omit: [:meta]`. Is something like that possible?

[2017-01-10 09:10] josevalim commented on #1684
On Ecto master you can pass the `:empty_values` option on cast. On 2.1, you can change it manually. Instead of:

[code]

do:

[code]

You can always hide it a function to remove the duplication.

[2017-01-10 09:19] josevalim commented on #1145
@rockwood not right now, no.

[2017-01-10 12:14] rockwood commented on #1145
No worries @josevalim. I might take a crack at if you don't mind.

[2017-01-10 12:36] josevalim commented on #1145
@rockwood that would be great. We would need a proposal before the implementation though, I wouldn't like to introduce `:omit` because it is something very specific to `:select`. So we need an option in there, similar to how we have `struct(p, ....)`. Maybe `select: drop(p, [:meta])`.

[2017-01-10 12:49] christophermlne opened #1902 "cast"
### Environment

* Elixir version (elixir -v):
[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
[code]
* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating system:
[code]

### Current behavior
`cast/3` is converting integers to `nil`
The issue here is that `cast/3` is converting `start_time` and `end_time` to `nil`

[code]

If i pry bef

[2017-01-10 13:04] christophermlne commented on #1902
My best guess is that `cast/3` expects integers to be strings that must be cast to integers but within the `params`, `start_time` and `end_time` are already integers?

[2017-01-10 13:08] michalmuskala commented on #1902
Your params have fields called `start-time` and `end-time`, yet your struct has `start_time` and end_time`. Ecto does not do such conversions out of the box.

[2017-01-10 13:08] #1902 closed

[2017-01-10 16:48] es1o commented on #1899
Thanks for response, I've changed Ecto.DateTime to NaiveDateTime and works on Elixir 1.3.3.

[2017-01-10 18:52] rafaeljesus commented on #1748
@ellisae Thank you for commenting out, I will check this mate!

[2017-01-11 00:20] rockwood commented on #1145
@josevalim Got it. I'll try to put a proposal together soon.

[2017-01-12 14:47] danielberkompas commented on #1882
@michalmuskala I retested and it look like it's fixed!

[2017-01-12 14:47] #1882 closed

[2017-01-12 19:18] Moxide opened #1903 "Ecto.Query.API map/2 : error when association field is nil"
Hello,
Following a discussion on IRC, I file an issue ;-)

### Environment

* Elixir version 1.4:
* Database PostgreSQL 9.5:
* Ecto version 2.1.2:

From the Ecto docs :
[https://hexdocs.pm/ecto/Ecto.Query.API.html#map/2](https://hexdocs.pm/ecto/Ecto.Query.API.html#map/2)

About the last example :
[code]
If  ```country``` is an optional association, ```country_id``` may be nil.

### Current behavio

[2017-01-13 01:11] michalmuskala commented on #1903
We need to either return `nil`, as suggested (which would be consistent with structs) or raise a more helpful message.

[2017-01-13 01:57] Moxide commented on #1903
Just tried a fix that seems to give the expected behavior (well, expected by me, at least ;-))
If ```country_id``` is nil, we get :
[code]

[2017-01-13 11:36] TBK145 opened #1905 "Nested fragments complaining about wrong types"
* Elixir version (elixir -v): 1.4.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): postgresql 9.4.5
* Ecto version (mix deps): 2.1.2
* Database adapter and version (mix deps): postgrex 0.13.0
* Operating system: Ubuntu 16.04

### Current behavior

I currently use two macros with fragment functions:
[code]
But when I call them like this:
[code]
I get this error:
[code]
It's quite a lon

[2017-01-13 12:17] michalmuskala commented on #1905
The error is complaining about the `>=` operator, but in the fragment of the query you posted it is not used. It is my understand that this part of the query is not the problem.

[2017-01-13 12:19] TBK145 commented on #1905
Yes, that's my issue too, I don't use the `>=` operator, so I assumed it would have something to do with the between statement.

[2017-01-13 12:38] TBK145 commented on #1905
I see I copied the wrong "where"-statement, I updated it now.

[2017-01-13 13:37] madshargreave opened #1907 "Specifying a unique index for upsert's conflict_target"
Hi

I have the following partial unique index

`execute "CREATE UNIQUE INDEX user_email_idx ON visitors(email) WHERE type = 'user';"`

But I have not been able to find a way to specify this when performing the upsert. I want to do something akin to

`opts = [on_conflict: on_conflict, conflict_target: "user_email_idx"]`

[2017-01-13 15:42] josevalim commented on #1905
What are the column types of start_time and stop_time in the database? Ecto is not doing anything special here, so I am assuming BETWEEN compiles down to >= which is leading the database to think it is comparing a text to time. The question is: from where text is coming from? I can think about some options:

  1. The database column is text
  2. The interpolated value is a text
  3. The text is co

[2017-01-13 15:44] josevalim commented on #1907
Can you please use the mailing list for questions? Here is an example from the documentation:

[code]

[2017-01-13 15:44] #1907 closed

[2017-01-13 16:36] emerleite opened #1908 "Proposal: Ecto.Repo insert_all/3: on_conflict with fragment or similar"
Trying to use **GREATEST** on *on_conflict*, I ended with a code like this:

[code]

But I expected something like this should work:

[code]

Or maybe something like this (I prefer the previous version, but this could be a try):

[code]

I'm not sure if we need an extra parameter or Ecto could be smart enough to deal with this.

[2017-01-13 16:52] josevalim commented on #1907
@madshargreave I am not sure it matters. All Postgres expects is a name. If you are getting an error, please let us know which one is it, but that is likely a Postgres limitation rather than Ecto.

[2017-01-13 16:54] josevalim commented on #1908
It is not going to work because Repo.insert is a regular function. fragments require macros, that's why the second example does not work, and the third example would be vulnerable to sql injection attacks. The way to go is to write on_conflict: as a query and then pass the query as argument.

[2017-01-13 16:54] #1908 closed

[2017-01-13 16:55] madshargreave commented on #1907
It complains that the the 'column' doesnt exists, ie. it interprets the conflict_target value as a column name, and not as the name of the index

[2017-01-13 16:56] josevalim commented on #1907
Can you please paste the full error? Also can you try to write the query using Postgres directly in the Postgres terminal and let us know if there is a variant that works?

[2017-01-13 17:43] emerleite commented on #1908
Thanks for the explanation, @josevalim ;)

[2017-01-13 19:31] zachdaniel commented on #1284
We write some pretty large queries, and we're going to have to end up writing a module that allows us to track what things have been joined onto a query, and allows us to join if we need to, or just find the binding and perform further filtering if not.  This has probably been our only pain point with ecto query syntax.  If we had named bindings, we could take functions that take a query the name

[2017-01-15 02:56] maxsalven opened #1912 "Error with :on_conflict and put_assoc"
### Environment

* Elixir version (elixir -v): 1.3.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.5.3
* Ecto version (mix dips): 2.1.2
* Database adapter and version (mix dips): postgrex 0.13.0
* Operating system: OS X 10.11.6

### Current behavior

This works fine:
[code]

This does not work:
[code]

Please let me know if you are unable to reproduce, I've simplified a complicated

[2017-01-15 04:04] josevalim commented on #1912
You should see in the log the queries being attempted. Can you please
report them here? We may be trying to use the on_conflict conditions on
both queries.

[2017-01-15 04:52] maxsalven commented on #1912
You are correct, it is using the on_conflict condition on both queries.

[code]

[2017-01-15 23:30] #1912 closed

[2017-01-16 12:25] TBK145 commented on #1905
\d on the database table returns `time without timezone`, as expected.

I changed the macro to the following:
[code]
And it returned this error:
[code]

So it looks like the `^Ecto.Time.cast!("12:00:00")` isn't interpolated correctly for the fragment?

[2017-01-16 12:37] josevalim commented on #1905
Can you please try `COALESCE($5 :: time, $6 :: time)` and so on just to be sure?

[2017-01-16 13:43] TBK145 commented on #1905
[code]

[2017-01-16 14:20] josevalim commented on #1905
I may be barking at the wrong tree but to me it is still looking that postgres is expecting something else besides a time in coalesce. Here would be my last try. Replace the coalesce implementation by this:

[code]

Btw, the reason why using `\d` works is because it is not using prepared statements. So it allows Postgres to look at the whole query with parameters. Ecto, on the other hand, uses pre

[2017-01-16 15:03] TBK145 commented on #1905
Turns out I was calling coalesce somewhere else as well, which caused the last error...
Explicitly casting coalesce's arguments as `time` did the trick, the castings in the between macro were not even necessary.

So I think that `^Ecto.Time.cast!("12:00:00")` is not being seen as a `time`, but rather a `text` in postgres?

[2017-01-16 16:34] josevalim commented on #1905
It is the opposite. Postgres is guessing it to be a text and then it gets surprised when we send a time. That's because in prepared queries we first prepare the query, without the parameters, so Postgres has to guess. That's why the explicit castings help.

I don't think there is anything we can do on Ecto side, unfortunately. So I will go ahead and close this issue. Let me know though if you have

[2017-01-16 16:34] #1905 closed

[2017-01-16 16:59] CaptChrisD opened #1913 "DateTime.from_erl/1 and Time.from_erl/1 should accept microseconds"
`Time.load/1` accepts microseconds but `Time.from_erl/1` does not, see:
https://github.com/elixir-ecto/ecto/blob/v2.1.2/lib/ecto/date_time.ex#L381

Same for `DateTime`
https://github.com/elixir-ecto/ecto/blob/v2.1.2/lib/ecto/date_time.ex#L615

This is important when the schema specifies `usec: true` and fragments are used in the selects.

When using a fragment on a select the Erlang tuple format i

[2017-01-16 23:08] josevalim commented on #1913
Hi @CaptChrisD. Since those types are soft-deprecated in Ecto 2.1, I would recommend migrating to Elixir's calendar types and let us know if you run into any issues or if you have any questions.

[2017-01-16 23:22] squaresurf commented on #1799
Shoulds this still be open since #1802 is merged?

[2017-01-17 11:21] aerosol opened #1914 "Ambigous query produced on upsert attempt"
### Environment

* Elixir version (elixir -v): 1.3.2
* Database and version: PostgreSQL 9.6.1
* Ecto version (mix deps): 2.1.2
* Database adapter and version (mix deps):
  - postgrex 0.13.0 (Hex package) (mix)
  locked at 0.13.0 (postgrex) e101ab47

* Operating system: Darwin Kernel Version 16.3.0

### Current behavior

Trying to perform upsert with counter increase on conflict (unique constraint

[2017-01-17 11:39] aerosol commented on #1914
Failing test case:

[code]

[2017-01-17 14:27] josevalim commented on #1914
Beautiful! I will work on a fix today and likely get a new v2.1 out as we have had other bug fixes lately.

[2017-01-17 16:38] michalmuskala commented on #1914
I think the final query should rather be:
[code]
so we include the table reference in all the places.

[2017-01-18 08:24] johnnyshields commented on #1892
@josevalim any comment here? This is an important issue for our team to migrate from Ruby/Mongoid to Elixir.

[2017-01-18 09:38] sevenseacat commented on #1892
Out of curiosity, why is it 'normal practise' to use cryptic and meaningless field names in MongoDB?

[2017-01-18 10:58] johnnyshields commented on #1892
@sevenseacat unlike other DBs which use position-dependent columns, MongoDB is a document database and the column names are sorted within the row. So you can significantly reduce the size of objects by using aliases:

[code]

becomes

[code]

[2017-01-18 11:02] johnnyshields commented on #1892
A secondary reason for both schema and schema-less DBs is from time-to-time you may want to migrate or rename columns, and using aliases make it much easier to move things around without renaming the variable throughout your entire app.

[2017-01-18 11:10] sevenseacat commented on #1892
Cheers for that. Now I have another reason to avoid Mongo apps...

[2017-01-18 11:32] josevalim commented on #1914
@michalmuskala just FYI, that query is not supported. You can't have "s0" on the left side of `=`.

[2017-01-18 11:37] josevalim commented on #1914
Fixed on e25aed8. v2.1.2 coming out shortly. Thank you for reporting and the test case @aerosol!

[2017-01-18 11:37] #1914 closed

[2017-01-18 11:45] aerosol commented on #1914
@josevalim thank you, really appreciate your work!

[2017-01-18 11:55] josevalim commented on #1892
@johnnyshields I believe this has been discussed in the past. Did you find any relevant information in previous discussions?

[2017-01-18 11:57] josevalim commented on #1913
I will close this for now. If you still believe it is worth improving the old and deprecated types, please send a PR or a drop a comment here.

[2017-01-18 11:57] #1913 closed

[2017-01-18 12:12] johnnyshields commented on #1892
@josevalim I'm not aware of where these discussions were held. I've searched this repo for issues containing "alias" and I don't see it.

[2017-01-18 12:26] josevalim commented on #1892
@johnnyshields let's give the `:alias` option a try then. This is a somewhat complex issue because it does not only touch insert/update/delete operations but also all queries.

[2017-01-18 12:31] johnnyshields commented on #1892
@josevalim great, thanks. We'll start work on this soon.

[2017-01-19 14:33] jadlr opened #1915 "Make `Phoenix.HTML.Form.inputs_for/4` work with schemaless changesets"
This has been discussed on IRC:

Currently usage of `inputs_for` with a schemaless changeset raises an exception:

[code]

off topic:
Thanks for Elixir, Ecto and Phoenix!

[2017-01-19 17:35] 0xAX opened #1916 "[RFC] Ecto.Query.API.map/2 support for maps"
Hello everyone,

The `Ecto.Query.API` provides `map/2` for select:

[code]

would be good to add support for maps as second parameter:

[code]

where the keys represent actual fields names and values represent columns names in a response. What do you think? Why hasn't it been implemented before? If there are no objects, I'd implement this

[2017-01-19 17:38] wojtekmach commented on #1916
You can do this today:

[code]

[2017-01-19 17:43] 0xAX commented on #1916
@wojtekmach yes, but if i don't know exact list of fields which I want to select, how can I generate them?

I mean for example each time I get list with fields names which should be selected: `[:name]` in the first case, `[:id, :name]` in the second case, `[:country_id, :whatever]` and etc...

[2017-01-19 17:52] wojtekmach commented on #1916
oh, I see what you mean, interesting. In that case I'd probably grab the result of the query (map from your 1st example) and create a new map replacing the keys with custom ones.

Perhaps there's a simpler way; per issue template you should ask for support in other mediums like elixirforum etc, and if you want to propose a new feature the mailing list is the appropriate place (Ecto Core: sorry if

[2017-01-19 17:58] umatomba commented on #1916
@wojtekmach,

it's not effective if you think about performance

[2017-01-19 23:26] guyogev opened #1918 "datetime microseconds mismatch after insert"
### Environment

* Elixir version: 1.4.0
* Database and version:PostgreSQL 9.5
* Ecto version : 2.1.2
* Database adapter and version (mix deps): postgrex 0.13.0
* Operating system: kubuntu 14.04

### Current behavior
`Repo.insert!` returned struct, and `Repo.get_by` struct are not equal.
the microsecond values are not the same.

I have a TimeEntry model
[code]

[code]
output
[code]

[2017-01-19 23:29] josevalim commented on #1918
There is nothing we can do here. When you ask for milliseconds, we generate a time with milliseconds precision but after it goes to the database we lose the precision information. So we have to assume we have the six digits precision (because that's what the database keeps). I suggest  generating times with microsecond precision so there is no loss in the conversion.

[2017-01-19 23:29] #1918 closed

[2017-01-19 23:46] josevalim commented on #1916
Right now you will have to do another pass on the data. The query API is already complex and I don't want to add support for uncommon scenarios unless we really have to. It is more code to maintain, more complexity and possibly a source of confusion.

[2017-01-19 23:46] #1916 closed

[2017-01-20 09:21] ivan opened #1920 "Support type/2 to customize query return values"
When performing a schemaless query on some rows in postgresql with a `timestamp` or `timestamp with timezone` column, Ecto returns a `{{year, month, day}, {hour, min, sec, usec}}` tuple instead of a `DateTime` (or any of the other date types):

[code]

This seems like a bug because it's not a very useful date format, and I can't find any place to configure the return type (without making a schema)

[2017-01-20 10:29] imranismail opened #1921 "View migrations?"
Was wondering whether it's possible to implement view migration such as this. I want to give this a shot to implement this, but have no idea where to start from.

[code]

[2017-01-20 10:58] ericmj commented on #1920
I believe this will be fixed when Ecto properly switches over to the new calendar types in Elixir. For now we can't fix it because Ecto supports multiple datetime types and there's no way of knowing which one you want without a schema.

You can try `select: type(m.boot_time, Ecto.DateTime)` to hint to Ecto which type you want.

[2017-01-20 11:04] wojtekmach commented on #1921
@imranismail there is already an issue open for this exact feature 😄  see: #1805

[2017-01-20 11:08] ericmj commented on #1921
Closing as duplicate.

[2017-01-20 11:08] #1921 closed

[2017-01-20 12:10] ivan commented on #1920
That doesn't seem to work, unfortunately.  Adding a `type(m.boot_time, Ecto.DateTime)` results in:

[code]

[2017-01-20 12:41] wojtekmach commented on #1920
I think `m.boot_time()` is invalid, try `m.boot_time`?

[2017-01-20 13:00] ivan commented on #1920
Indeed, that's what I have in my code :-)

[code]

[2017-01-20 13:46] wojtekmach commented on #1920
Seems like `type` cannot be used in `select` expression. FWIW I was able to reproduce the results you had on hex_web (ecto 2.1.2) codebase:

[code]

[2017-01-20 13:47] josevalim commented on #1920
The type API is only for casting external parameters. We can likely
generalize it for the use case above.

[2017-01-22 18:10] alex88 commented on #1284
Named bindings would be very appreciated, the `...` syntax fixes the join/where problem, but what about selects?

We compose a query depending on user input, which may include one or more, at the end of the query it's impossible to actually select a join unless it's first because we don't know where it would be in the bindings array

[2017-01-22 22:42] roehst opened #1923 "Unexpected string encoding change from UTF-8 to UTF-16 when using Ecto.Query"
Hi, can anyone help me with Ecto? I am having what appears to me to be pretty odd with string encodings. This is weird because it is very unexpected behavior from my pont if view as a developer.

### EXPECTED BEHAVIOR

I want to build a query which includes the character "á", which has different encodings depending on whether it is UTF-8/UTF-16 using Ecto.Query and run it.

    query = from "quest

[2017-01-22 22:44] roehst commented on #1923
ps. I am not sure my understanding of encodings is right. This was the first time I dealed with it.

[2017-01-22 22:49] josevalim commented on #1923
When you open up an issue, we ask for a bunch of information to be filled. Please send this information, otherwise we can't help you.

[2017-01-22 22:54] roehst commented on #1923
Elixir version:

➜  ~ elixir -v
Erlang/OTP 19 [erts-8.2] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.4.0

PostgreSQL version:

➜  ~ psql -d xx -c 'select version()';
                                        version
---------------------------------------------------------------------------------------
 PostgreSQL 9.6.1 on x86_64-pc-linux-gnu, compiled by gcc

[2017-01-22 23:27] josevalim commented on #1923
I checked your info. Everything seems to be correct. Could it be that the file for that particular query is with wrong encoding? For example, go back to the query that fails and do `inspect query` before running it against the repository. What does it return?

[2017-01-22 23:35] roehst commented on #1923
This was all run from IEX, so I don't think the file containing the query has the incorrect encoding.

I will try this on a clean phoenix install again and see if I get any different behavior.

iex(4)> query = from "questions", select: fragment("correct"), where: fragment("subject = 'Matemática'")
#Ecto.Query<from q in "questions",
 where: fragment(<<115, 117, 98, 106, 101, 99, 116, 32, 61, 32, 39

[2017-01-22 23:36] josevalim commented on #1923
From the printed query we can see that it is not valid UTF-8 since we see it as a binary fragment. What happens if you just type "Matemática" in IEx?

[2017-01-22 23:37] roehst commented on #1923
Fresh new phoenix repo.

➜  weird_bug_ecto iex
Erlang/OTP 19 [erts-8.2] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false]

Interactive Elixir (1.4.0) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)>  "Matemática"
"Matemática"
iex(2)>

[2017-01-22 23:41] josevalim commented on #1923
But the query also fails to inspect in the fresh new Phoenix repo?!

[2017-01-22 23:43] roehst commented on #1923
I am packaging this as a repo and will push to github in a second. So it gets fully reproducible.

[2017-01-22 23:49] josevalim commented on #1923
Don't worry, I can reproduce the issue. :)

[2017-01-22 23:52] josevalim commented on #1923
As a quick fix, you can write your query this way:

    query = from "questions", select: fragment("correct"), where: fragment("subject = ?", "Matemática")

[2017-01-22 23:52] roehst commented on #1923
The query inspects as a binary in the new phoenix repo.

[2017-01-22 23:53] josevalim commented on #1923
Thank you for the bug report and information to reproduce the issue. It has been fixed in master!
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2017-01-22 23:53] #1923 closed

[2017-01-22 23:54] roehst commented on #1923
@josevalim Obrigado pela ajuda incrivelmente rápida.

[2017-01-23 00:03] roehst commented on #1923
@josevalim How does this get pushed down to the phoenix_ecto package so I can update my project?

[2017-01-23 08:32] josevalim commented on #1923
You can specify Ecto directly as a dependency as:

    {:ecto, github: "elixir-ecto/ecto", branch: "v2.1", override: true}

[2017-01-24 03:33] Valentin-Seehausen opened #1924 "ecto.rollback should also rollback test database"
When changing a migration file (yes, some people have to do that), mix ecto.rollback doesn't effect the test database, which can be irritating. A short discussion of this: https://elixirforum.com/t/rollback-test-database/1158/4

You can set MIX_ENV=test, but first you have to know about this issue.

So ecto.rollback and ecto.reset should per default effect the test database, too.

[2017-01-24 10:57] josevalim commented on #1924
We currently don't plan to special case the test environment. So if you change your migrations, please be mindful you have to rollback it too.

[2017-01-24 10:57] #1924 closed

[2017-01-24 16:52] mmainz opened #1925 "Multiple concurrent migrations don't work due to "template1" database being used"
### Environment

* Elixir version (elixir -v): 1.4.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.1
* Ecto version (mix deps): 2.1.3
* Database adapter and version (mix deps): postgrex 0.13.0
* Operating system: OS X 10.12.2

### Current behavior

When doing `mix ecto.create`, a connection is opened to the `template1` database. However, if there is already another con

[2017-01-24 17:05] josevalim commented on #1925
Do you have any suggestions on how to solve this problem?

[2017-01-24 17:42] mmainz commented on #1925
Well, I'm not an expert when it comes to PostgreSQL. Probably connecting to a different database for `mix ecto.create` would be sufficient. But I'm not sure what the best practice is.

I found this very old PR where people discussed whether to connect to `template1` or `postgres`: https://github.com/elixir-ecto/ecto/pull/260

So maybe using `postgres` is the better alternative after all? I could t

[2017-01-24 17:45] josevalim commented on #1925
@mmainz if you can do the research, that would help us a ton. We can also see what other frameworks are doing. The fix itself is likely straight-forward. Finding the right fix is the tricky part. :)

[2017-01-24 17:49] mmainz commented on #1925
@josevalim sure, I already tried to find out what ActiveRecord does, but that source code is a little tricky to read :)

I'll give it another shot. Then I'll see if I can find something in the PostgreSQL documentation. When I made up my mind, I'll check if the problem is eliminated if I make the appropriate change. I'll come back to you then :)

[2017-01-24 21:26] mmainz commented on #1925
Postgres documentation states that you should use the `postgres` database for stuff like creating new databases. That is also the database used by CLI tools like `createdb`. After some digging, it seems Rails does also use the `postgres` database for that. You can find the relevant documentation page here: https://www.postgresql.org/docs/current/static/manage-ag-createdb.html

[2017-01-24 21:45] spscream commented on #1872
I'm using fragments with json functions in one of queries and it is not possible to cast types.  Will be great to have a possibility to cast type on fragment variables, this is one of queries, which returns not expected result(report.inserted_at isn't casted to :utc_datetime):
[code]

[2017-01-24 23:12] yoonghm commented on #1925
Initdb CLI is used to create a postgresql database cluster, which, by
default, should contain template0, template1 and postgres databases.

Standard and third party applications assume the existance of postgres
database in a postgresql database cluster (abbreviated as cluster)

template1 is used only during creation of new database within the cluster.

Database administrator can create additional

[2017-01-24 23:17] #1925 closed

[2017-01-24 23:24] Valentin-Seehausen commented on #1924
It is kind of irritating.

Ecto.migrate does effect the test environment.
Ecot.rollback does NOT effect the test environment.

2017-01-24 23:57 GMT+13:00 José Valim <notifications@github.com>:

[2017-01-24 23:26] josevalim commented on #1924
That's not true. ecto.migrate does not affect the test environment. You probably have a task in your mix.exs doing it for you.

[2017-01-25 00:47] alex88 commented on #1284
Another example

[code]

this query doesn't work at the moment because groups is a many to many association, the problem is that if I join the MessageConfig with group, the select will have wrong bindings in case the query involves the group join

[2017-01-25 02:51] Valentin-Seehausen commented on #1924
Ah ok (good to know :) ).

"test": ["ecto.create --quiet", "ecto.migrate", "test"]

Maybe it would make sense ecto.reset there. I will open a issue.

Thank you ;)

2017-01-25 12:26 GMT+13:00 José Valim <notifications@github.com>:

[2017-01-26 21:05] arashm opened #1927 "Default parameters are not returned by Repo.insert/2"
### Environment
key | value
--------- | ------
Elixir version (elixir -v) | 1.4.0
Database and version | PostgreSQL 9.6.1
Ecto version (mix deps) | 2.1.3
Database adapter and version (mix deps) | postgrex 0.13.0
Operating system | Archlinux

### Current behavior

I have model created like this (with a default value for `city_id`):

[code]

The `Repo.insert/2` does not return the default value `5`

[2017-01-26 22:03] michalmuskala commented on #1927
By default Elixir will not query the database to return field values after insert. You can turn this behaviour on by passing the `read_after_writes` option to the `field` macro or using the schema-level default.

[2017-01-26 22:03] #1927 closed

[2017-01-31 20:42] egilburg commented on #1868
By default as_json doesn't cast it as UTC (doesn't add the "Z" character), meaning client is free to interpret it any way it wants, e.g. by default a Ruby client will interpret it as local client time.

Given these constraints, is there any canonical way to ensure all representation of the time after it was casted by Phoenix will be explicitly UTC with the Z character?

[2017-01-31 20:45] josevalim commented on #1868
@egilburg you can convert them to DateTime when converting to JSON. The goal is to eventually include a `:datetime` in Ecto that will include Z by default.

[2017-02-01 12:44] kelostrada opened #1931 "Dynamic DynamicExpr doesn't work as expected"
### Environment

* Elixir version (elixir -v): `Erlang/OTP 19 [erts-8.2] Elixir 1.4.0`
* Database and version: `Postgres (PostgreSQL) 9.6.1`
* Ecto version (mix deps): `2.1.2` or `2.1.3`
* Database adapter and version (mix deps): `postgrex 0.13.0`
* Operating system: `macOS Sierra 10.12.2`

### Current behavior

**First issue** - Inspect fails here for some reason

    conds = dynamic([o, b], b.us

[2017-02-01 14:25] kelostrada commented on #1931
You can pull and check what I mean here: https://github.com/kelostrada/ecto_dynamicexpr_bug

[2017-02-02 10:40] MartinElvar opened #1932 "Insert_all/3 fails to set timestamps"
### Environment

Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.3.3
ecto 2.1.3
Postgres

### Current behaviour

I got the following schema

[code]

Which i created with the following migration

[code]

I'm trying to insert a bulk of records, using the following code.

[code]

Which gives me a

[code]

Doesn't seem to break, whe

[2017-02-02 10:44] michalmuskala commented on #1932
`insert_all/3` is meant as a low level operation translating directly into a single database `INSERT` statement with very straightforward semantics. It's not accidental that it accepts plain maps and not schema structs.

From the docs:

[2017-02-02 10:44] #1932 closed

[2017-02-03 06:27] maxsalven opened #1933 "Drop Constraint Not Working in Migration"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2017-02-03 08:32] josevalim commented on #1933
Migration instructions are accumulated. If you want to execute them before the end of the migration, you need to call `flush()`.

[2017-02-03 08:32] #1933 closed

[2017-02-04 07:04] asiniy opened #1935 "Assigning same `DateTime` value to schema causes to mark field as changed"
### Environment

* Elixir version (elixir -v): 1.4.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5.5
* Ecto version (mix deps): 2.1.3
* Database adapter and version (mix deps): 0.13.0
* Operating system: Ubuntu

### Current behavior

Assigning same `DateTime` value causes to mark field as changed. IE

[code]

[code]

### Expected behavior

It shouldn't be marked as cha

[2017-02-04 08:34] josevalim commented on #1935
They are different because they have different microsecond precision. So they are not the exact same datetime. You can see that in the printed format.

However, it is up to debate if we should ignore this case or not.

[2017-02-04 08:54] michalmuskala commented on #1935
I think we need to address it in some way, given always we get max precision from database and min precision from parsing.

[2017-02-04 09:58] blset opened #1936 "map not supported in macro"
### Environment

* Elixir version (elixir -v): Erlang/OTP 19 [erts-8.2] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.4.1

* Database and version (PostgreSQL 9.5.5:
* Ecto version (mix deps): 2.1.3
* Database adapter and version (mix deps): postgreex 0.13
* Operating system: osx el capitan 10.11.6

here is the macro definitions

[code]

--------------

[2017-02-04 10:51] josevalim commented on #1936
Oh, just now I noticed what can be the cause of error. You cannot have a map inside a list. We will fix that. :)

[2017-02-04 11:54] asiniy commented on #1935
@josevalim this is the same datetime, because 1.0 and 1 are equal in the real world, not a type system. When you are saying 1 meter you assume 1 meter not 1 meter 2 centimeters. IMHO

[2017-02-04 12:09] josevalim commented on #1935
@asiniy no, they are not equal. Let's say we are going to meet on the day 23rd. If I don't give you more precise information, you could potentially wait the whole day for me to arrive. However, if I give you more precise information, such as a period or a specific hour, then you have a better idea of when we are going to meet. Note I used a day instead of an hour in the example because in speech "

[2017-02-04 12:16] blset commented on #1936
Are you sure ? this compiles ok though

from u in resp, select: [

        %{

          "1" =>  fragment("case when (?->>?) in ('oui','1') then 1  else 0 end", u.response, ^key),

          "2" =>  fragment("case when (?->>?) in ('non','2') then 1  else 0 end", u.response, ^key),

         }

]

I routinely use maps inside a list at least for the select clause of the from macro

[2017-02-04 12:18] josevalim commented on #1936
Hrm, you are right. I am jumping into the code right now and investigating then. :)

[2017-02-04 14:08] nhu313 opened #1937 "order_by not working with distinct"
When I try to use order_by and distinct at the same time, order_by doesn't work.

### Environment
* Database: Postgres
* Ecto version: 2.0.4

### Current behavior

Here is the test I wrote for `postgres_test.exs`
[code]

This is the result I get back:

[code]
-----------------
### Extra details

Looking at the code in `lib/ecto/adapters/postgres/connection.ex` line 371, I was thinking of putting o

[2017-02-04 14:35] #1936 closed

[2017-02-04 14:42] josevalim commented on #1937
Order by and distinct seems to work correctly. Postgres requires that, when distinct and order by are used, all of the columns in distinct on need to appear first on the order_by.

What am I missing?

[2017-02-04 15:16] blset commented on #1936
thanks

how do I use it ?

can I use master git on production ?

[2017-02-04 15:25] josevalim commented on #1936
I will update the CHANGELOG so you can take an informed decision if you can use master in production or not. You should be OK most of the time.

[2017-02-04 17:37] josevalim commented on #1931
Thank you for the report. I have pushed fixes to the v2.1 branch (master as well). Can you please give it a try? If it works I will ship a new version. Thank you!

[2017-02-04 18:04] #1931 closed

[2017-02-04 19:04] josevalim commented on #1915
I am closing this one because the issue is much deeper than originally expected. We don't allow schemaless changesets on embeds/assocs, so we first need to solve this problem and then tackle this. If someone would like to get started, please go ahead, otherwise it is low priority from our side.

[2017-02-04 19:04] #1915 closed

[2017-02-04 19:16] #1903 closed

[2017-02-04 19:17] josevalim commented on #1872
Duplicate of #1920.

[2017-02-04 19:17] #1872 closed

[2017-02-04 19:24] josevalim commented on #1935
One option is to fix during casting and ensure it has the same precision. However, it doesn't fix the cases described in #1869 when directly inserting datetime values in the struct.

[2017-02-04 19:44] #1876 closed

[2017-02-05 03:56] nhu313 commented on #1937
I'm confused. When I write this query, I expect it to be order_by `x`. Isn't that right?

[code]
However, this is the query it generates.

[code]

This query doesn't order by `x` because the statement says order by s0.x in ascending order, then s0.x in descending order. If that is the expected behavior, then my question is, how can I write the statement with distict and order_by. For example, this

[2017-02-05 08:13] josevalim commented on #1937
The query you want to write is not possible in postgres AFAIK. If you use `distinct on` and `order_by`, the columns you specify in distinct on need to come first.

[2017-02-05 08:14] #1776 closed

[2017-02-05 12:45] nhu313 commented on #1937
Sorry, I'm still confused. I want to write this SQL statement, which I know works. Is that possible with Ecto?

[code]

[2017-02-05 13:10] josevalim commented on #1937
Oh, I see. Can you try this:

[code]

[2017-02-05 22:54] nhu313 commented on #1937
That didn't seem to work. But I switched the order_by and distinct args and that gives me the result I want. I didn't really need to do an `DISTINCT ON`.

[code]

This query also gives me the query result I want.

[code]

It generates this query.
[code]

Sorry, I should I have tried the different combinations. So I guess it is working as intended like the doc said.

[2017-02-05 22:57] josevalim commented on #1937
Glad it works. I will clause this for now. I believe it could be better, especially given that we duplicate the order_by, but it is very likely the database will optimize it away anyway, so we should be fine until we come up with a cleaner API to force order bys.

[2017-02-05 22:57] #1937 closed

[2017-02-06 11:16] matt212 commented on #308
is this enhancement completed !
Below is my source code
[code]
and i am getting below error

[code]

[2017-02-06 11:45] matt212 commented on #308
even if i change order by clause

`order_by: [{^direction, field(q, ^String.to_atom(sortcolumn))}],`

and i am getting below error
[code]

[2017-02-06 18:37] skosch commented on #1145
@rockwood any news on this front? :-)

[2017-02-07 00:35] rockwood commented on #1145
@skosch I opened a [discussion thread](https://groups.google.com/forum/#!topic/elixir-ecto/9lCaPISWebg). There's some potential confusion around returning maps vs structs, so I'm not sure it's worth implementing at this point. What's your opinion?

[2017-02-07 00:40] skosch commented on #1145
Oh, cool. I have no strong opinion on what to name things, I just keep running into situations where this functionality would be useful, so I was curious.

[2017-02-07 00:41] rockwood commented on #1145
Got it. I'll try restarting the discussion and see if it goes anywhere. Thanks!

[2017-02-07 11:58] andreapavoni opened #1940 "Querying dynamic virtual table"
Hello there,

not sure if this is the right place instead of StackOverflow, however I think that this could be an useful discussion here. Here's some context.

I have a simple table to track existing appointments:

[code]

I want to get the available slots based on duration, user and date, so I wrote this raw SQL query:

[code]

It works as expected, however I have to run it through `Ecto.Adapters

[2017-02-07 13:30] michalmuskala commented on #1940
The `Repo.load/2` function was created exactly for loading raw results into structs with proper type casting.

An example [from the docs](https://hexdocs.pm/ecto/Ecto.Repo.html#c:load/2)
[code]

[2017-02-07 13:30] #1940 closed

[2017-02-07 13:50] andreapavoni commented on #1940
Thanks for the reply, that's what I've already did :-P I was wondering if there was another way ;-)

Thanks again!

[2017-02-08 18:43] Custodia opened #1941 "Problems with belongs_to + custom primary keys + insert_all combination"
I have two schemas with custom primary keys and a belongs_to relation:

[code]

[code]

Repo.insert works fine but when I try to Repo.insert_all the data gets inserted and then I get this error:

[code]

Sounds like a bug to me since insert works fine and insert_all actually does what it's supposed to before throwing.

Here's a commit that this can be tested on:

https://github.com/Custodia/Budget

[2017-02-08 18:53] Custodia commented on #1941
I immediately noticed I'm a bit mistaken. I can insert and insert_all AccountTypes.

I can also insert Accounts but I can't get them with all and if I try insert_all I get the error above. What I would expect is that if there is something wrong with Account schema insert would also throw.

[2017-02-08 19:02] Custodia commented on #1941
I was a bit mistaken, AccountTypes works as expected. Accounts however does not error on `insert` but on `insert_all` throws that weird error.

[2017-02-08 20:02] Custodia commented on #1941
Doesn't seem to be what I thought it was, I'll go ask in google groups

[2017-02-08 21:50] josevalim commented on #1941
Reopening this because in one way or the other the error message above is unacceptable. :) If you can provide a simple app that reproduces the issue, it will make my life much much easier. Thank you!

[2017-02-08 23:04] OvermindDL1 opened #1942 "Joins in queries are not respecting a schema's prefix, fix listed"
### Precheck

As troubleshot here:  https://elixirforum.com/t/ecto-cross-schema-join/3611/4

### Environment

* Elixir version (elixir -v):
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps):
* Database adapter and version (mix deps):
* Operating system:

[code]

### Current behavior

Right now if you have, say, two tables, that have two different `@schema_prefix

[2017-02-08 23:21] michalmuskala commented on #1942
The `prefix` feature is meant primarily as a way to support multi-tenancy in ecto, and thus providing isolation between different prefixes is highly desired. It is fully intentional that a prefix is global for a query.

Changing how prefixes work, especially the fact that a prefix of the primary source of the query is considered a prefix for the whole query is definitely not a backwards compatible

[2017-02-08 23:26] OvermindDL1 commented on #1942
Yeah I was not sure about a replacement API, hence why there is no PR as of yet, but the simple fix is enough if anyone else needs to join across schemas so that alone may be useful of an immediate use for people in the future until the issue is resolved.  :-)

If curious about my use-case:
We have PostgreSQL with the different applications in different schema's, however we are making a server tha

[2017-02-08 23:29] michalmuskala commented on #1942
The simple fix you provided is not backwards compatible, so unfortunately, however I may feel about it, it's not acceptable currently.

If you have tables in different schemas, but they don't change: an acceptable solution might be to set a proper search_path, which would allow you accessing tables from different schemas in the cross-schema application.

[2017-02-08 23:31] OvermindDL1 commented on #1942
It could be if an option was given to specify that on the Repo or so via the original `use Ecto.Repo, otp_app: :my_server`, say, something like `use Ecto.Repo, otp_app: :my_server, multi_prefix: true` or so.  That would then be backwards compatible.

My main curiosity, it makes sense for the `:prefix` key on something like `Repo.all` to override the default `nil` prefix on a schema, but is there e

[2017-02-09 07:57] Custodia commented on #1941
Yeah so the custom primary keys had nothing to do with this :D I had chosen :type as the belongs_to column name which made it look like a bug with macros. The differences between insert and insert_all seem very unintuitive to me and they aren't really explained in the docs.

Here's a commit that this can be tested on:

https://github.com/Custodia/BudgetingElixir/tree/use_integer_id

From db app ru

[2017-02-09 08:09] josevalim commented on #1941
@Custodia we mention [the differences here](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo.ex#L501-L509) but at the moment it does not include differences regarding association handling. We will update that when we improve the error message.

[2017-02-09 08:15] josevalim commented on #1942
The rule with prefixes is that it goes from generic to localized:

    global > schema > :prefix option

It would be inconsistent to not allow the developer to override at the callsite something that has been set in a module.

Yes, that's likely the best way to go. Until then, you have to run separate queries or raw SQL, since cross-prefix queries are forbidden pretty much by design.

[2017-02-09 08:15] #1942 closed

[2017-02-09 08:17] Custodia commented on #1941
It doesn't mention for example that update_all will not take structs. It does say it takes a map in the params but structs are also maps so it's an easy mistake to make.

[2017-02-09 15:36] OvermindDL1 commented on #1942
Very true, but that is not what is happening here.  I am not specifying a `:prefix` key on the `all` call and yet the joins are still being overridden by the 'first listed' schema's prefix, whatever the first may be.  For example, swapping the aboves:
[code]
To become:
[code]
Also swaps the prefix's used, which is entirely an unexpected outcome.  However I would expect:
[code]
To override both reg

[2017-02-09 15:49] josevalim commented on #1942
It was the use case we designed the feature for. We would need to extend the feature to support other use cases.

[2017-02-09 16:09] OvermindDL1 commented on #1942
Ah, so just a case of 'Its not been needed yet'.  :-)

[2017-02-09 16:09] OvermindDL1 commented on #1942
I am still curious, if a `:prefix` key is not defined, why do the join prefix's get ignored though?  That still seems like a major and surprising bug...

[2017-02-09 16:17] josevalim commented on #1942
Because in multi-tenancy you don't want to perform queries across tenants. It is a documented behaviour and not a bug (albeit I agree 100% it is a limitation).

[2017-02-09 16:22] OvermindDL1 commented on #1942
I'm curious, would anyone really do multi-tenancy with Postgres Schemas instead of via Postgres Users?  That seems... exceptionally odd and highly unsafe as it could potentially give one tenant view over all tenant's potentially private information if they found any kind of exploit.

[2017-02-09 23:12] mjadczak commented on #1942
Just to weigh in on this, I'm currently also working on an application where I will need to be able to query across schemas. My use case is a multi-tenant CMS of sorts, however the separation of data is not at tenant boundaries, but rather at site boundaries. One organization may own many sites, and conversely multiple organizations/users within them could have permissions to access/edit a single

[2017-02-10 15:15] OvermindDL1 commented on #1942
Can always have a `prefix` call as well, kind of like:
[code]
As that would fit the style of the rest of the query helpers as well.

As long the default is for the `@schema_prefix "blah"` not to be ignored (unless a `prefix:` key is set on the repo function, which should rightly override it) that would be best.  :-)

[2017-02-10 19:01] michalmuskala commented on #1942
Out of all the proposals here, I like the additional `prefix/2` syntax the most appealing (I was actually intending to propose something similar).

The only issue is that the right side of `in` in `from p in Post` is evaluated outside of the query syntax context, so it wouldn't be possible to do `from p in prefixed("prefix", Post)`. That's the same issue we're facing with using `fragment` as the m

[2017-02-10 19:06] OvermindDL1 commented on #1942
Hmm, you have any other work-around for this?  I have no control over the schema layout in this database and I really do not fancy messing with raw SQL (much as I know it, it is still not safe).

[2017-02-11 22:49] mjadczak commented on #1942
@michalmuskala we could probably introduce a helper `prefix/2` macro which would expand to the syntax in my Option 4.

[2017-02-12 01:00] trtstm opened #1946 "Scale without precision on decimal/numeric not working (mysql)"
add :price, :decimal, scale: 4

Ecto will generate this query:

    price decimal

instead of

    price decimal(10,4)

The last one seems more logical because mysql will set the default value for decimal/numeric to 'decimal(10,0)'.

[2017-02-12 08:17] josevalim commented on #1946
Maybe it is better to raise if scale was given but not precision.

[2017-02-13 23:48] hanrelan opened #1948 "Ecto should warn or throw a runtime error if an inferred field doesn't exist on a schema"
Right now, if Ecto infers for example a foreign key  based on the referenced module name and that foreign key does not exist on the schema, Ecto will silently allow it.
It would help if Ecto emitted a warning or threw a runtime error in this situation.

One example is the following schema:
[code]
In this case, the "notes" schema infers a `note_model_id` on "snapshots", where no such field exists,

[2017-02-13 23:59] josevalim commented on #1948
We cannot do that at compilation time because it can generate cyclic dependencies. I believe an error would show up though when building queries.

[2017-02-14 00:10] michalmuskala commented on #1948
@josevalim It's not about building queries. The issue arose with `put_assoc` not setting correct foreign key. There was no error or anything - just silent failure.

I'm aware a compile-time warning is impossible, but a runtime one should be possible.

[2017-02-14 00:31] josevalim commented on #1948
@michalmuskala can you please complement with more information though? I am still unsure of what needs to be fixed or how to reproduce the issue mentioned here.

Feel free to reopen btw.

[2017-02-14 08:14] michalmuskala commented on #1948
@josevalim added a failing test in https://github.com/elixir-ecto/ecto/commit/ea9fb8e2efeabb36fd5c29d2646f91b048d1fd21

The issue is we set the `permalinked_comment.permalink_id` field as inferred, even though the struct has no such field (!) - breaking the struct itself.

[2017-02-14 22:39] shulhi commented on #1946
Is it possible to raise during compile time?

[2017-02-15 09:49] merqlove commented on #1837
Looks likes it worked in version 1.0.0, because i'm have this pattern in my app & its tests. After upgrade to 2.0 this pattern is failed.
Example app which uses same pattern & fails on PG:
https://github.com/merqlove/some_ecto/blob/master/test/some_ecto_test.exs

[2017-02-15 10:22] merqlove commented on #1837
Error is because embed structs don't have `__meta__`.
It was in 1.0:
https://github.com/elixir-ecto/ecto/blob/v1.0.0/lib/ecto/schema.ex#L319
But not in 2.0:
https://github.com/elixir-ecto/ecto/blob/v2.0/lib/ecto/schema.ex#L337

[2017-02-15 11:17] merqlove commented on #1837
Aha, i found workaround for embeds :)
assert Repo.preload(pts, :party, prefix: nil)

[2017-02-15 12:52] ericmj commented on #1946
Migrations are compiled when they are run so I don't think the distinction matters in this case.

[2017-02-16 14:17] shulhi commented on #1946
I think I can work on this, I had it check for the condition and throwing error. Is there a specific error that needs to be thrown? Currently it is just throwing `:error`, but I reckon a more descriptive error is better. Suggestion to  handle the error is welcomed since this is my first PR to tackle.

[2017-02-17 00:23] smeevil opened #1949 "Ecto.Multi missing insert_or_update"
Hello,

I just wanted to do an insert_or_update call in an Echo.Multi, but found it missing in action.
I was wondering if there is a specific reason for this or if it's just not implemented :)

Gerard.

[2017-02-17 09:37] josevalim commented on #1949
No particular reason. A PR is welcome!

[2017-02-17 14:34] kelostrada opened #1952 "Decimals acting strangely when saving bigger precision numbers"
### Environment

* Elixir version (elixir -v): `Erlang/OTP 19 [erts-8.2] Elixir 1.4.2`
* Database and version: `Postgres (PostgreSQL) 9.6.1`, `Mysql Ver 14.14 Distrib 5.7.17, for macos10.12 (x86_64)`
* Ecto version (mix deps): `2.1.2` or `2.1.3`
* Database adapter and version (mix deps): `postgrex 0.13.0`, `mariaex 0.8.1`
* Operating system: `macOS Sierra 10.12.3`

### Current behavior

I've creat

[2017-02-17 14:48] kelostrada commented on #1931
<3
[![Build Status](https://travis-ci.org/kelostrada/ecto_dynamicexpr_bug.svg?branch=master)](https://travis-ci.org/kelostrada/ecto_dynamicexpr_bug)

[2017-02-17 17:40] josevalim commented on #1952
I have fixed the decimal bug on the postgres. Please try master. :)

[2017-02-17 17:40] josevalim commented on #1952
Btw, thanks for the app reproducing the issue. It makes my life so much easier.

[2017-02-17 18:46] josevalim commented on #1952
The other issues are also in the Mariaex adapter but I don't have enough knowledge of the codebase to fix them. I will recommend opening an issue there. :) Let me know if the Postgrex fix is good for you so we can ship a new version.

[2017-02-17 21:04] ZombieHarvester commented on #1538
I have a similar issue. Setup is the same as OP's. Umbrella project. One server app with ecto, and one client phoenix app, no ecto, calls server app from a controller.

Tests work for each app separately, but fail from umbrella project dir.

Elixir 1.4.2, Phoenix 1.2.1, Ecto 2.1.3

console output. gm is server ecto app, and web is client phoenix app.
[code]

only server app has `Ecto.Adapters.SQL.

[2017-02-17 21:46] lleger commented on #1298
I ran into a similar issue. The problem was user error — I had a malformed migration — but I think it would be helpful if the error message provided a better hint.

[2017-02-18 08:30] josevalim opened #1953 "Ensure pool configuration can be set dynamically in init/2"
@fishcakez I will ping you to figure out how to move from `__pool__` to ets or app environment configuration.

[2017-02-18 08:31] #1946 closed

[2017-02-18 10:59] michalmuskala commented on #1953
We should look into making the adapter the only compile-time config. All the other things, should be configurable at runtime.

If we achieve this, I think we should move the adapter setting to repo, to make it more obvious that this is bound at compile-time:

[code]

[2017-02-20 16:58] renanoronfle opened #1954 "has_one association error on delete"
Erlang/OTP 19 [erts-8.2] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
Elixir 1.4.0
postgres (PostgreSQL) 9.6.1
ecto 2.1.3
postgrex 0.13.0
MacOS Sierra

Hello, I have a phoenix project with ecto1, Im trying to update to ecto2.

Everything worked fine except one feature, when I try to delete my has_one association I got an error:
no case clause matching: :raise

[2017-02-20 17:00] kelostrada commented on #1952
I've updated postgres to the newest version from master and it seems it is now fixed :) Tests for postgrex pass. As you suggested I will open an issue on mariaex. Actually I don't really use MariaDB,  but I wanted to check if this was the issue with postgrex or mariaex. Looking at the behaviour it seemed that it was the issue with Ecto because it acted the same for both database types, but now it

[2017-02-20 17:08] josevalim commented on #1954
Can you lease post the full error message with stacktrace?

[2017-02-20 17:35] josevalim commented on #1952
A new Postgrex is out!

[2017-02-20 17:35] #1952 closed

[2017-02-20 19:13] renanoronfle commented on #1954
`rollback []
[info] Sent 500 in 3507ms
[error] #PID<0.491.0> running TestAssoc.Endpoint terminated
Server: localhost:4000 (http)
Request: POST /posts/4
** (exit) an exception was raised:
    ** (CaseClauseError) no case clause matching: :raise
        (ecto) lib/ecto/association.ex:515: Ecto.Association.Has.on_repo_change/4
        (ecto) lib/ecto/association.ex:372: Ecto.Association.maybe_replace

[2017-02-20 19:20] renanoronfle commented on #1954
I create one project if you want to seed:
https://github.com/renanoronfle/test_assoc

Run seed and enter in url: /posts, edit and try delete a comment

[2017-02-20 19:59] WernerBuchert opened #1955 "Typo in documentation of lib/ecto/changeset.ex"
Typo in documentation of lib/ecto/changeset.ex:

Line 366:

      iex> changeset = cast(post, %{title: "Hello"}, [:title])
      iex> new_changeset = cast(changeset, %{title: "Foo", body: "Bar"}, [:body])
      iex> new_changeset.params
      %{"title" => "Foo", "body" => "Bar"}

Shouldn't it be this?
%{"title" => "Hello", body: "Bar"}

[2017-02-20 21:11] #1954 closed

[2017-02-20 21:12] josevalim commented on #1954
Fixed on master and v2.1. Thank you so much for a mechanism to reproduce this!

[2017-02-20 21:24] josevalim commented on #1955
The parameters are always merged over, you may choose to accept those parameters as a change or not. In other words, the third argument only affects the `:changes` and not `:params`.

[2017-02-20 21:24] #1955 closed

[2017-02-20 23:53] michalmuskala opened #1956 "raise if preload query contains limit or offset"
It will never produce the desired result and is just plain confusing. We should bail out early, probably explaining why it won't work.

[2017-02-21 06:14] kuon opened #1957 "Consider adding an example on how to select an additional field"
I think we should add an example to `Ecto.Query.select` for selecting an additional field, like so:

`from d in Document, select: %{d | somefield: 42}`

Where `somefield` is declared as virtual in the schema.

It might seem obvious, but it took me a really long time to find out and I think it's a common enough use case.

[2017-02-21 10:14] josevalim commented on #1957
@kuon can you please send a pull request? Where did you try looking for it? We should probably add it as part of `Ecto.Query.select`?

[2017-02-21 10:19] kuon commented on #1957
I'll do a PR.

[2017-02-21 10:28] josevalim commented on #1956
@michalmuskala I would rather not forbid it because maybe someone wants to bring the top 100 most voted comments across a list of posts. Passing a query to preload is already somewhat an advanced feature, so I would leave it as is but add extra notes to the docs where we describe the ability to give queries to preload.

[2017-02-21 10:39] roehst commented on #1805
Hi, I want to start contributing to Ecto (and Elixir in general) and I was about to suggest this feature. Is anyone working on it? Is it still in discussion? I am new to open source projects so forgive me if I don't understand part of the workflow on this. Thanks!

[2017-02-21 10:48] kuon commented on #1957
Actually, I just noticed that 9ad38bdf1ea6605311a472930530de22eacacefc added an example that I didn't notice at first. I think it's enough to get it.

[2017-02-21 10:48] #1957 closed

[2017-02-21 11:14] josevalim commented on #1805
I don't think there is someone working on it right now. If you want to start contributing on this area, maybe #1832 is a better starting point, for you to get acquainted with the codebase. :)

[2017-02-21 11:43] michalmuskala commented on #1956
People trip on this all the time, I think I saw 4 or 5 questions about this, only last week. I'm not sure adding a line in the docs will help.

[2017-02-21 12:05] josevalim commented on #1956
@michalmuskala well, it is like doing a LIMIT or OFFSET when are doing an aggregation such as count. People trip on it all the time but I don't think we should forbid valid SQL constructs.

[2017-02-21 18:08] roehst commented on #1805
@josevalim Nice, I will try that. Tks

[2017-02-21 18:55] WernerBuchert commented on #1955
Sorry, it's new_changeset.params not new_changeset.changes, I'm really stupid.

[2017-02-22 15:35] tlvenn opened #1959 "Sql sandbox without leveraging savepoints"
Hi all,

Since quite some time, I am trying to help with plugging [CoackroachDB](www.cockroachdb.com) into Ecto. This database implements the postgres protocol so on theory, it's the same as integrating with Postgres.

Of course, the devil is in the detail but with the help of @fishcakez and the CockroachDB team, we have made some pretty [good progress ](https://github.com/cockroachdb/cockroach/is

[2017-02-22 15:45] josevalim commented on #1959
@tlvenn if you don't support savepoints, then you are unable to test anything that uses transactions inside the sql sandbox. How big of a problem do you think this is?

[2017-02-22 16:33] tlvenn commented on #1959
I am not sure I follow what you are saying @josevalim. I am obviously missing something here but it looks like I gonna need a little bit more help, so please bear with me.

When a test run, the sandbox would begin a transaction (the outer transaction). Multi that are executed within that test will detect that a transaction has been started already and simply execute. If a transaction is requested

[2017-02-22 16:38] josevalim commented on #1959
@tlvenn there issue is that, because the sql sandbox runs inside a transaction, the only way we can emulate transactions inside the sandbox is by using savepoints. So transactions during development does not require savepoints... but any transaction inside the sandbox requires savepoints in order to be emulated properly.

[2017-02-22 16:49] tlvenn commented on #1959
I get that but what is preventing another kind of sandbox/transaction manager/orchestrator, you name it, to start a transaction when a connection is checked out for each test and to ignore the begin command when the service being tested start its transaction ?

In the same manner if a rollback command is issued by the service, the manager can proxy it and rollback its own transaction. Basically th

[2017-02-22 16:50] OvermindDL1 commented on #1959
Does CockroachDB support transactions inside transactions?

[2017-02-22 16:58] tlvenn commented on #1959
It does not @OvermindDL1 but I never start a transaction within an existing transaction in what I am explaining above.

[2017-02-22 17:04] OvermindDL1 commented on #1959
But that is what snapshots emulate for testing.  When testing you need to be able to roll the database back to how it was before testing was ever started, even if the tests themselves spawn transactions (which many/most do), and you need some way to roll back to before that point to how it was before the tests started.

[2017-02-22 17:05] josevalim commented on #1959
If you do that, you change the semantics of the code. Imagine you are testing this code:

[code]

We need to do undo whatever is done inside `Repo.transaction` but still keep the results of Repo.insert!. For that, you need savepoints or nested transactions.

[2017-02-22 17:12] tlvenn commented on #1959
Yes Jose you are correct but this is an edge case, like nested transactions are. And that is something the sandbox/manager can detect easily and raise upon.

In most cases, mutations will be wrapped by a single transaction in your service and in that case, I dont see why what I am saying cant work. It's obvious that the current sql sandbox is more powerful and can cover a lot more grounds but that

[2017-02-22 17:19] josevalim commented on #1959
It is not an edge case. Pretty much any test that invokes something that uses a transaction, such as Ecto.Multi or a changeset with associations, will require nested transactions for testing because the test itself is usually preceeded with data insertion and followed by data assertions.

Anyway, if you really want to implement this, you can keep track of this in the database connection process. E

[2017-02-22 17:40] tlvenn commented on #1959
It's an edge case because unless you are trying to recover on the rollback which does not happen so often, I dont see the issue. If you rollback you usually want to test that an error has been emitted and it does not depend on the data insertion and if there is no rollback, there is no issue with data assertions given the transaction is only rollbacked by the manager once the test is finished.

An

[2017-02-22 17:47] josevalim commented on #1959
Keep in mind that, because anyone can rescue a rollback, you will really need to track it inside the connection. You probably don't need an ETS table though, the connection process state should suffice.

Shall we close this then? :)

[2017-02-22 17:56] tlvenn commented on #1959
Ya true

Sure, thanks for the constructive feedbacks.

[2017-02-22 17:56] #1959 closed

[2017-02-23 16:44] laurocaetano commented on #1956
Isn't it already [there](https://github.com/elixir-ecto/ecto/blob/17bd59199372ebb3f47cd93eb872b84ee072e246/lib/ecto/query.ex#L1129-L1138)?

[2017-02-23 23:36] josevalim commented on #1956
@laurocaetano tks! :heart:

[2017-02-23 23:36] #1956 closed

[2017-02-24 04:36] maxsalven opened #1961 "Where with keyword list and nil"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2017-02-24 09:12] josevalim commented on #1961
Automatically dealing with nils would expose security risks. Imagine you have this a column which is an access_token. Users may have `nil` access_token if they are revoked or use. Now imagine you write this code:

    conditions = [token: params[:token]]

If we automatically handle nil, by simply not passing the token, you have now given users the ability to access as any user in the database that

[2017-02-24 09:12] #1961 closed

[2017-02-24 15:51] michalmuskala opened #1962 "Add compare/3 to Ecto.Query.API"
This would allow for dynamic comparisons, e.g.

[code]

[2017-02-24 15:59] #1949 closed

[2017-02-24 16:00] josevalim commented on #1962
We are glad to receive contributions on this feature but we don't plan to tackle it ourselves. Thank you!

[2017-02-24 16:00] #1962 closed

[2017-02-24 18:09] talentdeficit opened #1964 "Dynamic Repo configuration"
i have a use case where i'm unable to configure my database ahead of time via creating a Repo module. i know it's possible to compile at runtime but i'm uneasy about the possible security and performance implications of doing so. what i'd like is an alternative to `Repo` that accepts configuration at runtime

[code]

`DynamicRepo` would be identical to modules generated via `using Ecto.Repo` apart

[2017-02-24 18:19] josevalim commented on #1964
@talentdeficit have you tried the `init` callback we have recently added in Ecto 2.1? I believe from that callback you should be able to retrieve the configuration dynamically. So you configure the bare minimum in the config/config.exs file and the remaining options are configured on start.

There are probably some configurations that we are still using statically, such as the pool configuration i

[2017-02-24 18:23] josevalim commented on #1953
@michalmuskala that's the plan and I think the `__pool__` is the last configuration left.

[2017-02-24 19:24] michalmuskala commented on #1964
I was thinking about this as well. What if we had the `Ecto.Repo` (or some other module) export functions exactly as those generated in user repos, but accepting an additional argument - a config struct. For the regular repos, we could generate this config struct based on the env and delegate the implementation, similar to what we're already doing today with multiple modules in the `Ecto.Repo.*` n

[2017-02-24 19:27] josevalim commented on #1964
@michalmuskala it is not that straight-forward because you still need to start a supervision tree, the pool and the processes that connect to the database. You cannot simply pass a config to Ecto.Repo.insert and have it connect to the database, that would be inefficient and its processes wouldn't be properly supervised.

[2017-02-24 19:29] josevalim commented on #1964
@michalmuskala although your description would be correct if, instead of passing of a config, we pass a pid of a previously started repo.

[2017-02-24 19:42] michalmuskala commented on #1964
Yes, you'd also have a `start_link` or a `child_spec` where you'd pass the same config to start the "dynamic" repo - you could do this multiple times (with different configs) to start multiple "dynamic" repos.

[2017-02-24 19:51] josevalim commented on #1964
@michalmuskala I don't think it is possible to skip all of the steps you want to skip. For example, what about `Repo.query!` that are specific only to SQL backends? We need to know when to generate it. And again, you cannot pass a struct to `insert`, the `pid` is the only option that works. Once you consider a separate repo definition because of adapter concerns and factor in the need to supervise

[2017-02-24 20:05] talentdeficit commented on #1964
@josevalim i believe with the `init` callback i still need to know which Repo's i'll need up front. i can change the config for a repo, but i can't create a new repo unless i'm missing something

[2017-02-24 20:12] josevalim commented on #1964
@talentdeficit you can have a single Repo that works for everything that talks to Postgres. And start multiple instances of it connected to different backends.

[2017-02-24 20:15] talentdeficit commented on #1964
@josevalim i'm confused. how does the repo know what database to send the request to?

[2017-02-24 20:16] josevalim commented on #1964
Using `init/2`. :)

[2017-02-24 20:16] josevalim commented on #1964
Or you can even pass the parameters on `start_link`: Repo.start_link(hostname: ..., database: ...)`.

[2017-02-24 20:19] talentdeficit commented on #1964
i'm clearly missing something here

[code]

how does Repo know how to dispatch?

[2017-02-24 20:21] josevalim commented on #1964
@talentdeficit that's the other part that needs to be solved 😅  In the past we have supported an option to store it in the process dictionary.

[2017-02-24 20:24] talentdeficit commented on #1964
oh i'm sorry, i thought you meant this was possible now.

how about adapting @michalmuskala's suggestion and adding concrete functions to `Repo` that can be called with reference (pid or registered name) to the repo instance?

[2017-02-24 20:38] josevalim commented on #1964
@talentdeficit we could do so... BUT then all the functions that are adapter specific, such as `Repo.query!`, `to_sql`, etc won't work.

[2017-02-24 20:44] talentdeficit commented on #1964
they could just throw a `undef` error if the adapter doesn't support the function? you don't get compile time warnings but you get the same functionality/behavior as you would with a static repo. i think that is an ok tradeoff?

[2017-02-24 20:57] josevalim commented on #1964
@talentdeficit that's what would ultimately happen, yes. It is worth that the functions generated by Ecto.Repo work almost all on the way you are proposing, it is a matter of exposing them at the Ecto.Repo level. A proof of concept could start exactly by invoking those private functions for now until we have all details in place.

[2017-02-26 04:20] jononomo commented on #1628
I'm not using Ecto, but I'm getting this error message.

[2017-02-26 09:22] josevalim commented on #1628
@jononomo the error comes from Elixir every time you use ^foo outside of a match.

[2017-02-27 02:33] tlvenn commented on #1959
Just for reference if someone found this topic and is interested by the follow up, I have published my sandbox at https://github.com/jumpn/cockroachdb_sandbox

It implements a log replay strategy to emulate implicit savepoints created by the original sandbox.

I had to override the existing sandbox because even though on the surface it looks pluggable, it is unfortunately not.

[2017-02-27 04:39] alex88 opened #1966 "Upsert doesn't read the existing binary id if available"
### Environment

* Elixir version (elixir -v): 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.2
* Ecto version (mix deps): 2.1.3
* Database adapter and version (mix deps): postgrex 0.13.0
* Operating system: OSX

### Current behavior

I'm trying to do an upsert for a row using:

[code]

Table has an unique constrain on `identifier` and `state_id`, id is binary id.

[2017-02-27 09:12] josevalim commented on #1966
None of the columns will be returned automatically. What happens if you pass `returning: [:id]` to your insert?

[2017-02-27 09:13] josevalim commented on #1953
The registry is a perfect solution for this.

[2017-02-27 09:19] josevalim commented on #1959
@tlvenn can you please provide a PR that makes the sandbox configurable in Ecto? Overriding the SQL sandbox is going to be an issue if someone wants to use both cockroach and postgres at the same time. Thank you!

[2017-02-27 11:02] michalmuskala commented on #1953
I'm not sure I see, how that would look like. Could you elaborate?

[2017-02-27 12:04] josevalim commented on #1953
@michalmuskala when the repo supervisor starts, it registers its pool configuration under the registry. If that process crashes by any chance, the registry will automatically clean it up.

[2017-02-27 13:31] alex88 commented on #1966
Same, tried

[code]

and the query doesn't show `RETURNING` inside

[2017-02-27 13:44] josevalim commented on #1966
@alex88 yes, sorry, returning doesn't work for insert, only insert_all. This should be fixed if you set read_after_writes: when defining the binary_id.

    @primary_key {:id, :binary_id, autogenerate: true, read_after_writes: true}

That's what the `:id` key does by default.

[2017-02-27 13:57] alex88 commented on #1966
@josevalim shouldn't that be configurable by operation? So it runs only when we run an upsert with server side autogenerated ids? Since it's useful only when doing upserts in this case

[2017-02-27 14:08] josevalim commented on #1966
Yes, it could be done by operation but that API does not exist today. If someone is willing to the work, please do send a PR. :)

[2017-02-27 14:14] alex88 commented on #1966
Ok, in case I find the time, what API are you talking about? Adding `returning` to insert or?

[2017-02-27 14:28] josevalim commented on #1966
Add `:returning` to `insert`, yes. :)

[2017-02-27 17:19] anildigital opened #1967 "bad error message (the `["u" | "0"]` part)"
Got below error

 ** (Ecto.QueryError) PostgreSQL requires a schema module when using selector ["u" | "0"] but none was given. Please specify a schema or specify exactly which fields from ["u" | "0"] you desire in query:

[code]

@michalmuskala Hey could you take a look? Thanks..

[2017-02-27 17:36] #1967 closed

[2017-02-27 21:36] sntran opened #1968 "Can't execute migration for table with prefix and comment"
### Environment

* Elixir version (elixir -v): 1.4.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): (PostgreSQL) 9.5.3
* Ecto version (mix deps): ecto 2.1.3 (Hex package)
* Database adapter and version (mix deps): postgrex 0.13.1 (Hex package)
* Operating system: Mac OS X 10.12.2

### Current behavior

With the following migration:

[code]

When running `mix ecto.migrate`, the followi

[2017-02-28 07:43] Themodem commented on #1351
Some more info around this issue.

If I run mysql locally on the machine everything works as expected.
If I run mysql in docker and expose 3306 then the `ecto.create` command works as expected but the `ecto.migrate` command times out.

[2017-02-28 09:01] josevalim commented on #1351
@Themodem does it run any command or it timeout before any command is executed? It is very likely that Ecto is not being able to communicate to the database and that is leading to the error. You need to check MySQL permissions and see if it is actually responding to the given port.

[2017-03-01 01:52] alex88 commented on #1966
@josevalim so, I was looking at the PR,

[code]

this doesn't work, it throws `cannot mark the same field as autogenerate and read_after_writes`

anyway, I think I did some progress changing

[code]

to

[code]

this way it has the same api as `insert_all` either list, true or false.
This actually changes the query, however I miss the part where the schema picks up the data from the database, any

[2017-03-01 07:15] michalmuskala commented on #1966
How does it work with regular ids? Did they also present a similar issue, or they "just worked"?

If they "just worked" we shouldn't require users to add additional options to insert - switching between integer ids and binary ids should be seamless.

[2017-03-01 09:01] josevalim commented on #1966
@michalmuskala I agree although MySQL may be an issue (well, it is an issue regardless since it never returns the ID on upserts).

@alex88 I will reopen this because now I think we should make your original scenario work.

[2017-03-01 10:50] michalmuskala commented on #1966
@josevalim then I think we'd need to either raise or set the id to `nil` in case of MySQL. But keeping the wrong value can be very confusing.

[2017-03-01 12:08] tlvenn commented on #1959
Hi @josevalim , technically there is nothing specific about my sandbox implementation that would prevent it for working on Postgresql, I actually tested that it's working on both. Now that being said, my sandbox has a dependency of my postgrex fork which only works with CockroachDB , so that could definitely lead to some issues should someone try to use them both.

I will see if I can make it so m

[2017-03-01 12:28] josevalim commented on #1959
The best way is to avoid the `sandbox?` checks and introduce specific functions. So the whole code:

[code]

could be rewritten to:

[code]

This way the whole `unboxed_run` logic can be specific per sandbox.

[2017-03-01 14:05] tlvenn commented on #1959
Ha neat, I didnt know about Kernel.function_exported?

Oky, got all the pieces I need I think now, thanks @josevalim , I will submit a PR pretty soon.

[2017-03-01 14:15] alex88 commented on #1966
@michalmuskala with regular ids, I've just run some tests with a table like

[code]

[code]

but this works because regular ids are generated by the database and this line https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/schema.ex#L641 adds the id key to the list of return values

[2017-03-01 16:29] talentdeficit commented on #1549
has anyone done any work on this? if not, i may pick it up

[2017-03-02 03:05] BenMorganIO commented on #323
merci @hickscorp

[2017-03-02 07:16] #1968 closed

[2017-03-02 07:27] michalmuskala commented on #1968
@sntran A fix is in master. It would be great if you could try it and tell us if everything is ok now.

[2017-03-02 08:16] ckruse opened #1973 "Improve error when loading schema_migrations table fails"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
  PostgreSQL 9.6.2
* Ecto version (mix deps):
  ecto 2.1.3 (Hex package) (mix)
  locked at 2.1.3 (ecto) ffb24e15
* Database adapter and version (mix deps):
  postgrex 0.13.1 (Hex package) (mix)
  locked at 0.13.1 (postgrex) ebf17b73
* Operating system:
  macOS 10.12.3

### Current beha

[2017-03-02 20:22] sntran commented on #1968
I can confirm that the fix works. Thank you!

[2017-03-03 02:26] sntran opened #1976 "Ecto.Adapters.SQL.query! a Postgres function returns function's name as column"
### Environment

* Elixir version (elixir -v): 1.4.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): (PostgreSQL) 9.5.3
* Ecto version (mix deps): ecto 2.1.3 (Hex package)
* Database adapter and version (mix deps): postgrex 0.13.1 (Hex package)
* Operating system: Mac OS X 10.12.2

### Current behavior

With the following function:

[code]

When trying to run:

[code]

The return is:

[2017-03-03 08:52] josevalim commented on #1976
That's what the database is returning us, so I don't believe there is anything Ecto (or Postgrex) could do here.

[2017-03-03 08:52] #1976 closed

[2017-03-04 09:53] #1973 closed

[2017-03-04 11:19] ckruse commented on #1973
Thanks a lot!

[2017-03-04 16:57] #1832 closed

[2017-03-04 16:58] josevalim opened #1978 "Support forward and backward command in Ecto.Migration.execute"
/cc @roehst

[2017-03-06 10:18] noma4i commented on #1705
Bump this issue! Cast was done https://github.com/elixir-ecto/ecto/pull/1719

[2017-03-07 07:28] christhekeele opened #1979 "Defunct module reference in SQL adapter documentation"
I'm just getting around to playing with Ecto internals, so I'm not yet sure how this should be corrected, but the `Ecto.Adapters.SQL` docs [reference a non-existent `Ecto.Adapters.SQL.Query` module](https://github.com/elixir-ecto/ecto/blob/637858fc02bd0e9dc1fc5f640fafa045b78eecf2/lib/ecto/adapters/sql.ex#L10).

[2017-03-07 08:57] josevalim commented on #1979
Done, thank you! https://github.com/elixir-ecto/ecto/commit/d8371fd7071c98235abbcce6bac401505c1abd23

[2017-03-07 08:57] #1979 closed

[2017-03-07 22:17] izelnakri opened #1980 "Support database default values for Repo.insert! and Repo.insert"
example
[code]

[2017-03-07 22:19] josevalim commented on #1980
It is supported by setting the field to `read_after_writes: true` in the schema definition.

[2017-03-07 22:19] #1980 closed

[2017-03-07 22:23] izelnakri commented on #1980
is there a global config to make this a default behavior for all my structs and fields?

[2017-03-07 22:27] josevalim commented on #1980
No.

[2017-03-10 11:55] yordis opened #1982 "build_assoc don't setup the related id"
### Environment

Elixir version: Elixir 1.4.2
Database: Postgres 9.6.1-2.pgdg80+1
Ecto version (mix deps):

[code]
* Operating system: MacOS 10.12.3

### Current behavior
Migrations
[code]

Schemas
[code]

Code
[code]

Output
[code]
Reason of failing
[code]

### Expected behavior
The `user_id` should have the `id` from the user. For some reason it's under `user_schema_id`. Following the `Ecto.buil

[2017-03-10 11:57] yordis commented on #1982
This keep happening to me in other cases and I ended up just adding it manually, I always notice that `[module_name]_id` is actually the one that holds the value for some reason

[2017-03-10 12:17] michalmuskala commented on #1982
Since ecto cannot rely on the association module accessible at compile-time (since that would create a cyclic dependency). Ecto tries to infer this on a bes-effort case using the related schema name as the base adding the `_id` suffix - you can provide the name explicitly with `foreign_key` option.

This is actually the same issue as https://github.com/elixir-ecto/ecto/issues/1948 (although in a d

[2017-03-10 12:17] #1982 closed

[2017-03-10 12:19] michalmuskala commented on #1948
We should checks this additionally for `build_assoc`. So overall the change should affect:
* `build_assoc`
* `put_assoc`
* `cast_assoc`
* potentially when setting the association directly in the parent schema and passing everything directly to `Repo.insert!`

[2017-03-10 12:21] yordis commented on #1982
@michalmuskala aaaaahhh I understand what you are doing.

@michalmuskala would you mind to tell me where this line https://github.com/elixir-ecto/ecto/blob/master/lib/ecto.ex#L465 jump to please? I can't follow the code 😢

[2017-03-10 12:22] josevalim commented on #1982
@michalmuskala the build functions per association defined on this module: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/association.ex

[2017-03-10 15:46] vstavskyi opened #1983 "Allowing subquery not only for :all"
Example

ccc = 1
subquery = from a in "aaa", select: a.bbb, where: a.bbb = ^ccc
Repo.delete_all(from b in subquery(subquery))
{:query, 'DELETE FROM (SELECT e0.bbb bbb FROM aaa e0 WHERE (e0.bbb = :1)) s0', 1}

[2017-03-10 15:53] michalmuskala commented on #1983
I'm not sure I understand. In general databases require that `DELETE FROM` is followed by a table name, and not by an expression. For postgres: https://www.postgresql.org/docs/9.1/static/sql-delete.html

Also - please use the issue template.

[2017-03-10 18:48] vstavskyi commented on #1983
Oracle supports numerous features that extend beyond standard SQL. If you are concerned with the portability of your super ecto to other implementations of SQL, then you may want to take off some restrictions.

[2017-03-10 19:37] josevalim commented on #1983
@vstavskyi we are OK with supporting such features as long as there is a use case and someone interested on working on that. Is there are current adapter for Oracle?

[2017-03-10 20:02] vstavskyi commented on #1983
I hope first version will be next week https://github.com/erlangbureau/jamdb_oracle

[2017-03-10 20:13] josevalim commented on #1983
@vstavskyi oh, that context would have been helpful. :) Are you running our integration test suite as well?

[2017-03-10 20:26] vstavskyi commented on #1983
Not yet. I'm a beginner in ecto.

[2017-03-10 21:16] josevalim commented on #1983
@vstavskyi got it :)

[2017-03-11 11:16] Eiji7 opened #1985 "Default timeout option not work as when it is set"
### About my situation
I'm on way to integrate demo app with PostgreSQL database hosted at Amazon **RDS** (**R**elational **D**atabase **S**ervice). Tried to just set hostname, but got timeout, so I tried some combinations of timeout options. It's configuration that works for me:
[code]
Here is quote from docs:

It looks simple and it's not stopping my work, but I want just to note that default va

[2017-03-11 11:28] josevalim commented on #1985
Please provide a way for us to reproduce this otherwise we may spend quite some time hunting a timeout bug, which is not exactly easy to reproduce.

[2017-03-11 11:36] josevalim commented on #1985
From a quick check, the timeout is defaulting to 15000. This is the DBConnection specification we get if there is timeout is not given:

[code]

[2017-03-11 11:43] Eiji7 commented on #1985
@josevalim: As I wrote I'm working with Amazon RDS, so I tried to check production configuration before I push it to git repository.
I can reproduce it in simple steps:

1. Run: `mix phoenix.new sample` - just new phoenix app with Ecto already prepared
2. Setup database from 3rd party service
3. Set configuration as in issue:
[code]
4. Run:
[code]
You should have connection closed error.
5. Uncomm

[2017-03-11 11:56] josevalim commented on #1985
Oh, I see that you are using Postgrex 0.12.1 and version 0.13.0 has improvements on how it connects and bootstraps, especially with external services. Can you also try 0.13.2? It will require Ecto 2.1 though. You can use the new `phx.new` generators if you want an app that is ready to go on latest versions.

[2017-03-11 11:59] Eiji7 commented on #1985
@josevalim: I got:

[2017-03-11 12:05] Eiji7 commented on #1985
@josevalim: I got same error message. Here is my list of dependencies:
[code]

[2017-03-11 12:36] fishcakez commented on #1985
@Eiji7 try `handshake_timeout: 15_000` or similar. I think the default is `5_000`.

[2017-03-11 12:52] josevalim commented on #1985
I think the issue is why it works if he sets timeout: 15000 even though
that's our advertised default. :(
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-11 13:00] Eiji7 commented on #1985
@fishcakez: yup, with commented `timeout` and added `handshake_timeout` it also works
Is it documented? I don't found it using search field in `Ecto` docs.

[2017-03-11 13:14] fishcakez commented on #1985
Okay I see the issue. We only pass runtime config when starting the pool so only pass application env values. This means we actually use Postgrex defaults, and not Ecto's, and `timeout` is the only one that differs. Unfortunately Postgrex defaults to `timeout: 5_000` (because it had that timeout before Ecto's was set to `15_000`) and `handshake_timeout` introduced in Postgrex 0.13.0 defaults to `t

[2017-03-11 13:20] josevalim commented on #1985
Thanks James! Can you point where we should be passing the defaults but we
are not? I thought passing those on child_spec is enough?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-11 13:24] fishcakez commented on #1985
@josevalim Oh we do pass compile config in Ecto.Adapters.SQL.child_spec....

@Eiji7 can you let use know the result of the following (it must be same environment):
[code]

[2017-03-11 13:29] fishcakez commented on #1985
Also it seems Postgrex now claims to have a default timeout of `15_000` so we should fix the default in `Postgrex` - it honours this for queries but not `connect_timeout` and `handshake_timeout`.

[2017-03-11 13:30] Eiji7 commented on #1985
@fishcakez: With options:
[code]
In iex (`MIX_ENV=prod iex -S mix`) I got:
[code]

[2017-03-11 13:35] fishcakez commented on #1985
@Eiji7 so we do honour the compile time config / the Ecto default of `15_000`. Can you post the exact error when using Postgrex 0.13.2 and Ecto 2.1.4?

[2017-03-11 13:39] fishcakez commented on #1985
`:connect_timeout` is not expected to be there ;), it defaults to `:timeout` value.

[2017-03-11 13:39] Eiji7 commented on #1985
@fishcakez: Without `handshake_timeout` and `timeout` in configuration like:
[code]
I run: `MIX_ENV=prod mix ecto.drop` and got:
[code]

[2017-03-11 13:51] fishcakez commented on #1985
@Eiji7 ah okay, so we do only pass runtime config to the mix task! I was right before, but forgot we started a custom version of Postgrex.

@josevalim we have a few strangeness with configuration.

- We pass `repo.config` at https://github.com/elixir-ecto/ecto/blob/2fa22697bdb8094e8ace82ff773fe74cbab5d4aa/lib/mix/tasks/ecto.create.ex#L36
- The callback docs state we fetch application env but we al

[2017-03-11 13:56] Eiji7 commented on #1985
@fishcakez:
**One note**: I just compared error from issue and error from my comment and I see that in older versions (on which I work) I don't have this part:
[code]

[2017-03-11 14:05] josevalim commented on #1985
Ok. So we are not setting adapter defaults when invoking storage_up and
storage_down. Everything else seems correct. I think the docs for
repo.config are a bit cryptic though.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-11 14:45] fishcakez commented on #1985
:+1:

[2017-03-11 17:51] erickipnis opened #1987 "Fix HexDocs for Ecto.Migration "drop constraint()""
For: https://hexdocs.pm/ecto/Ecto.Migration.html#drop/1

### Current behavior
Currently the docs include the following example:

drop constraint(:products, name: "price_must_be_positive")

This throws an error when running a rollback on a migration:

** (ArgumentError) cannot convert the given list to a string.

To be converted to a string, a list must contain only:

  * strings
  * integers repre

[2017-03-11 18:02] josevalim commented on #1964
The only non-dynamic part is the ecto query cache API which should also be fixable with the current registry. Then it is a matter of exposing the proper API (and agree where it should be exposed).

[2017-03-11 18:03] josevalim commented on #1987
Thank you. It is fixed in master.

[2017-03-11 18:03] #1987 closed

[2017-03-11 18:04] #1953 closed

[2017-03-11 18:14] #1985 closed

[2017-03-12 10:39] odyright opened #1988 "The use of an "Enum" types"
Hello there, I want to know if there is a way to use an "Enum" types with **Ecto** as in **PostgreSQL**?
for example I want to make a possible choice of **Gender** ,  with **Laravel** we have something like that: `$table->enum('sex', ['male', 'female']);` ....
So how can we resolve this with **elixir-ecto** ?

[2017-03-12 10:46] josevalim commented on #1988
Please don't use the issues tracker for questions. Use stack overflow, the Elixir forum, mailing, etc.

[2017-03-12 10:46] #1988 closed

[2017-03-12 10:48] odyright commented on #1988
ok thanks.... and sorry!

[2017-03-14 05:11] alex88 commented on #1966
Merged in a1746d5afd487ba862e834c1a280081996656196

[2017-03-15 18:55] brainlid commented on #1870
For the benefit of others:

It is worth noting that the "backward compatible" choice is to use `:naive_datetime`. Since many would otherwise think it is `:utc_datetime`.

See here...

https://github.com/elixir-ecto/ecto/commit/ef60906306e98d63ef21630ef67d1ff82d0d03ac#diff-dda93a2081b2f4ce69b1baf265611d8cR613

[2017-03-15 19:14] josevalim commented on #1870
@brainlid At the migration level they are equivalent for the supported databases.

[2017-03-16 00:03] TobiG77 opened #1992 "Data returned by Repo.update contains invalid references to child data, if nested data is updated"
When updating an existing dataset with a nested association, the ID returned for the updated child dataset is invalid (it points to the previous record, not the new record) .

A full proof of concept to replicate this behavior can be found here:

https://github.com/TobiG77/cast_assoc_returns_stale_data

Current and desired behavior are described in the testcase below (included in the proof of conc

[2017-03-16 03:42] roehst commented on #1978
I opened a PR with a minimal implementation to get feedback proceeding further. More details on the PR. If this is not the best workflow (if I should work on my fork) then sorry and I'll fix it.

#1993

[2017-03-16 07:12] michalmuskala commented on #1992
Please fill in the issue template. We're missing information such as the ecto version you're using.

I'm not 100% clear on what the issue is, but I think it might be related to the fact, that `Repo.preload` will not reload data that is already loaded. Is using `Repo.preload(foo, assocs, force: true)` solving the issue?

[2017-03-16 10:39] SxDx opened #1994 "postgres adapter: cannot load `<<1::size(1)>>` as type :boolean"
### Environment

* Elixir version: **1.4.2**
* Database and version: **PostgreSQL 9.6**
* Ecto version: **2.1.4**
* Database adapter and version: **postgrex 0.13.2**
* Operating system: **macOS 10.12.3, CentOS 7**

### Current behavior
When trying to use an postgres `bit(1)` field as `boolean` the following exception is raised:

[code]

### Expected behavior

The Postgres adaper should convert `bi

[2017-03-16 11:01] ericmj commented on #1994
Why are you using bit(1) for booleans in your database instead of the actual boolean type. The postgres driver is correct here because it's handling the types as the database is intending.

If you want to override this behaviour postgrex supports custom extensions where you can implement your own encoding/decoding https://hexdocs.pm/postgrex/Postgrex.Extension.html#content.

[2017-03-16 11:03] josevalim commented on #1994
Since you are using Ecto, you can also implement a custom Ecto type instead of a Postgrex extension. You can call it BitBoolean or something. The reason Mariaex uses bit is because afaik it does not have an actual boolean type. Or it is a tinyint or a bit.

[2017-03-16 11:03] #1994 closed

[2017-03-16 11:24] SxDx commented on #1994
@ericmj Didn't think it would be relevant for the question but I access a legacy mysql database through Postgres using a Foreign Data Wrapper. Obviously would not use bit(1) for boolean otherwise.

@josevalim Thanks for the hint.

[2017-03-17 13:31] xfumihiro opened #1995 "Fix document on has_many's on_replace option"
[https://hexdocs.pm/ecto/Ecto.Schema.html#has_many/3](https://hexdocs.pm/ecto/Ecto.Schema.html#has_many/3)

should be

according to
[https://hexdocs.pm/ecto/Ecto.Changeset.html#cast_assoc/3](https://hexdocs.pm/ecto/Ecto.Changeset.html#cast_assoc/3)

btw, why is the update option not supported?

[2017-03-17 14:07] josevalim commented on #1995
Update option is only supported on `has_one`, since we don't need an ID to know what we are updating. I will fix it on master, thank you.

[2017-03-17 16:17] josevalim commented on #1995
Fixed on master.

[2017-03-17 16:17] #1995 closed

[2017-03-19 06:12] bigcurl commented on #1872
Has this been done or was it just closed? What is the syntax if it was added? Example above still fail.

[2017-03-19 08:03] josevalim commented on #1872
It was closed as duplicate of another issue and you can see the other issue
is still open. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-20 17:58] Dremora opened #1999 "UUID.cast should treat upper- and mixed-case UUIDs as invalid"
### Environment

* Elixir version (elixir -v): 1.4.2
* Ecto version (mix deps): ecto 2.1.4
* Operating system: macOS 10.12.3

### Current behavior

[code]
returns
[code]

### Expected behavior

According to [Wikipedia](https://en.wikipedia.org/wiki/Universally_unique_identifier#Format), only lowercase characters are allowed in the canonical format. I would expect the code above to return `:error`.

[2017-03-20 18:22] josevalim commented on #1999
You are right. PR please?

[2017-03-20 22:25] Dremora commented on #1999
Onto it!

[2017-03-21 22:51] TobiG77 commented on #1992
Hi,

I thought it was sufficient, that the ecto version is captured in the mix.exs in the example repo. Here we go:

* Elixir version (elixir -v): using the prepackaged binaries 1.4.1 and 1.4.2 (using the erlang-solutions repo @ 19.2)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): Observed on 2.1.3 and 2.1.4
* Database adapter and version (mix

[2017-03-21 23:08] TobiG77 commented on #1992
Yes, @michalmuskala this resolves the problem. Since there is awareness that data is being updated it is reasonable to expect that I should know to force a refresh at this stage. With this change, all test pass and the intended behavior is restored.

[2017-03-21 23:08] #1992 closed

[2017-03-22 17:00] #1999 closed

[2017-03-22 17:32] ardhitama opened #2004 "Suggestion: Add Support For Drop Foreign Key"
### Environment

* Elixir version (elixir -v):
  Erlang/OTP 19 [erts-8.3] [source-d5c06c6] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false]
  Elixir 1.4.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
   mysqld  Ver 5.7.17-0ubuntu0.16.04.1 for Linux on x86_64 ((Ubuntu))
* Ecto version (mix deps):
   ecto 2.1.4
* Database adapter and version (mix deps):
   mariaex 0.8.

[2017-03-22 17:38] josevalim commented on #2004
We have decided to not have to support all constructs in the migration syntax but rather make execute more flexible. See #1993.

[2017-03-22 17:38] #2004 closed

[2017-03-25 02:33] asgoel commented on #1907
Here's an example @josevalim:

Let's say I have a table with primary key email and constraint: `"email_preference_email_unique_index" UNIQUE, btree (lower(email::text))`

If I specify the conflict target as `:email` I get:
[code]

Here's a postgres query that works:
[code]

If i try setting `conflict_target: "lower(email)"` in my `insert_all` call, I get the following error:
[code]

Not sure why i

[2017-03-25 02:42] asgoel commented on #1907
Dug deeper and I think its because we intersperse the quote names here: https://github.com/elixir-ecto/ecto/blob/v2.1.4/lib/ecto/adapters/postgres/connection.ex#L197. The resulting binary looks something like `(\"lower(email)\")` which I think might be tripping up postgres since it thinks thats a column

[2017-03-25 12:42] codecakes commented on #1260
@xn4v8h

were you preferring something like:
[code]
instead of

[code]

??

[2017-03-27 07:12] #1983 closed

[2017-03-27 08:57] bcardarella commented on #1479
@AndrewDryga @josevalim was there ever movement on query interpolation within `fragment` ?

[2017-03-28 18:10] talentdeficit opened #2007 "`Ecto.Changeset.cast` variant that results in an error on unexpected fields"
i'd like a variant of `Ecto.Changeset.cast` (here named `restrict`) that instead of stripping fields from `data` produces an error like:
[code]
is there a better method that i'm missing or is this something that would be a welcome addition?

[2017-03-28 20:17] josevalim commented on #2007
That's one way to go API wise but I will probably call it `cast_strict` or `strict_cast` instead of introducing a new verb. Another option is to pass an option to `cast(..., ..., ..., strict: true)`. Other than that, sounds like a good feature.

[2017-03-28 20:19] talentdeficit commented on #2007
something like this?
[code]

[2017-03-28 20:31] josevalim commented on #2007
Yes but we rarely use the prop list style in elixir. So it needs to be
boolean or atoms, such as: not_allowed: :error | :raise | :log | :nothing.

On Tue, Mar 28, 2017 at 22:19 alisdair sullivan <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-28 20:40] talentdeficit commented on #2007
take three?
[code]

i'll try to put together a pr this afternoon

[2017-03-28 20:42] josevalim commented on #2007
Yes!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-29 05:32] talentdeficit commented on #2007
i didn't implement the suggested `:log` and `:raise` options because i couldn't find any other instances of logging in `Ecto.Changeset` and i think a changeset error is more appropriate than raising an exception for unrecognized fields

[2017-03-29 05:45] michalmuskala commented on #2007
I don't think doing this as an option to cast is the right approach.

This behaviour breaks a lot of functions in changeset, that expect the params to be lazily consumed - `validate_acceptance`, `cast_assoc`, `cast_embed`, multiple casts on the same changesets, to name a few.

A separate function with correct information about it's partial incompatibility with some of the changeset functions would

[2017-03-29 18:28] zimt28 opened #2009 "Do not save empty embeds"
### Current behavior

When using `embeds_one :thing, Thing` with Phoenix.HTML's `inputs_for`, a `%Thing{id: "UUID", foo: "", bar: ""}` will be saved with no values, when there's no actual input, even though `foo` or `bar` have validation rules that wouldn't allow empty strings.

### Expected behavior

When the params for the resource aren't given, `null` should be saved instead, alternatively an o

[2017-03-29 19:00] josevalim commented on #2009
This is what we want to support as part of #1857. Allow you to say the changeset should be ignored. So I will close this as a dup, thank you!

[2017-03-29 19:00] #2009 closed

[2017-03-29 19:10] zimt28 commented on #2009
@josevalim Thanks, didn't see that. Is there a good workaround? I've tried the following, it works fine but also makes `inputs_for` not show the field anymore when the action fails:

[code]

[2017-03-29 20:52] talentdeficit commented on #2007
what i'm trying to achieve is a way to convert unexpected or unhandled params to a changeset error to streamline error processing on my api side. having to filter params before handing them to ecto adds another step and splits logic across module boundaries. i can see the problem now with `cast_assoc` and `cast_embed`

what about adding a new function `whitelist` that takes the params and a whitel

[2017-03-30 06:49] josevalim commented on #2009
Currently the only option is to do another pass on the changeset, after you
call cast_embed, getting all entries in changeset.changes, removing the
invalid ones, and calling put_embed with the remaining ones.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-30 11:51] samueltthomas commented on #1647
I had the same issue and it was resolved after I set the value of the locale environment variable LC_ALL. Please check https://samueltthomas.com/setting-locale-for-fixing-unicode-issue-for-elixir for more info

[2017-03-30 14:30] josevalim commented on #1935
Here is another issue being caused by the lack of precision: https://github.com/phoenixframework/phoenix/issues/2222

[2017-03-30 15:11] josevalim commented on #2007
So maybe a separate function called `validate_params(...)` would be the best option? Unfortunately it adds duplication though. :S Now I am thinking it likely makes more sense in your app instead of part of Ecto, given you can check for all params anyway in `changeset.params`.

[2017-03-31 04:56] bernardd opened #2012 "`usec` timestamps option is not honoured on MySQL migration"
When a column is specified as `utc_datetime` or `native_datetime` in a migration, having `usec: true` does not cause the creation of a `datetime(6)` type column, but rather a plain `datetime`. In mysql 5.7 (which supports sub-second resolution) the latter truncates sub-second values (while the former preserves the sub-second information).

Now this may be intentional - there's a note about usecs i

[2017-03-31 05:18] josevalim commented on #2012
Yes, the best is to update the usec notes about MySQL and say they can
explicitly pass "datetime(6)" type in migrations.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-03-31 05:23] bernardd commented on #2012
Is there a way to specify that as part of a "normal" Ecto type declaration? In particular I want to use it for the `timestamps()` shortcut to add `created_at` and `updated_at`, but I can't just set:

`@timestamps_opts [type: "datetime(6)"]`

[2017-03-31 05:47] josevalim commented on #2012
You do not define it as part of your schema but rather as part of migrations. There you can do:

    add :created_at, :datetime, size: 6

I am not sure if `timestamps(size: 6)` in migrations is supported. If not, we should.

[2017-03-31 05:50] bernardd commented on #2012
A quick test suggests it's not supported. I might take a stab at getting that working. Thanks very much for the pointers.

[2017-03-31 06:21] bernardd commented on #2012
A more correct test suggests it is in fact supported, just not as part of the @timestamps_opts attribute :) So I've just updated the docs to explain it. The PR is #2013. Thanks very much for your help :)

[2017-03-31 07:03] josevalim commented on #2012
I will keep this open though because I think we can do a better job here.

[2017-04-03 03:47] alex88 opened #2017 "Insert nil values on upsert"
### Environment

* Elixir version (elixir -v): 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): 2.2.0-dev a1746d5
* Database adapter and version (mix deps): postgrex 0.13.1
* Operating system: OSX 10.12.3

### Current behavior

Upserting a model with a `nil` value doesn't set that field to `nil`:

[code]

this shows:

[code]

as `parent_id

[2017-04-03 05:36] josevalim commented on #2017
Does it work if you use a changeset? Without a changeset we will always
have to guess the changes, I don't think we can fix this.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-04-03 14:43] josevalim opened #2018 "Introduce usec types"
Since we migrated to Elixir built-in types, issues are starting to surface on how Ecto handles microseconds.

Those issues comes from the fact that database adapters do not cover the difference in precision that exists in Elixir. Leading to issues described in #1935.

Furthermore, databases may require different types for usec and non-usec, such as MySQL in #2012.

One solution to this problem is

[2017-04-03 16:47] lau commented on #2018
I like the idea. Isn't `usec: true` default now for :utc_datetime? How about instead of changing that, adding `:utc_datetime_no_subsecond` (just an example name) for datetimes with no sub second precision? Ie. instead of renaming the current type and adding a new one without subseconds, we add a new type with subseconds. I'm not 100% set on what I think would be best of the two, but want to hear o

[2017-04-03 17:43] lau commented on #2018
The shorter name (`utc_datetime`) is the default and will possibly seen as the default vs a new option with a longer name.

If you want to throw away as little data as possible by default, that would suggest having the default option saving the microseconds.

[2017-04-03 20:01] mrkaspa commented on #1882
@michalmuskala I have the same problem with ecto 2.1.4, is there a new release for this?

[2017-04-03 23:21] alex88 commented on #2017
Sorry for the delay, I think it would work if I update, but with insert it doesn't (even with a changeset), maybe `:replace_all` should include nil values when set?

[2017-04-04 01:22] josevalim commented on #2017
@alex88 can you please show the code you are trying with changeset?

[2017-04-04 01:23] josevalim commented on #2018
`usec: true` is not the default. Plus it also won't work in many databases.

[2017-04-04 07:50] makkrnic opened #2019 "Support for infinity in postgres dates"
### Current behavior

In current implementation, when postgres returns infinity, it is transformed - positive infinity "works" because its number of days is supported by erlang's `:calendar.gregorian_days_to_date/1`, but negative infinity breaks things because `:calendar.gregorian_days_to_date/1` doesn't accept negative dates.

### Expected behavior

Return either fixed number, tuple or something

[2017-04-04 08:02] josevalim commented on #2019
We recommend you to build your own Postgrex extension then because even if we change it in the adapter level, building a DateTime or NaiveDateTime later on will also fail, as they don't support such dates. Documentation for custom extensions can be found in Ecto.Adapters.Postgres.

[2017-04-04 08:02] #2019 closed

[2017-04-04 13:19] ben-ic opened #2020 "Ecto.rollback migrates down more steps than it should inside an umbrella app"
When running ecto.rollback in an umbrella application in which multiple apps are using the same repo it will rollback more than 1 step (or more than "n" steps if you used -n).

[2017-04-04 13:22] ericmj commented on #2020
I think we should make the migration tasks non-recursive and instead discover all **unique** repos in the umbrella apps and then run migrations on them.

[2017-04-04 16:27] makkrnic commented on #2019
Thank you for such prompt response and a suggestion. I will try that.

[2017-04-05 16:38] zimt28 commented on #1857
When is this going to be added?

[2017-04-05 18:01] josevalim commented on #1857
Whenever someone submits a pull request.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-04-06 10:52] josevalim commented on #2017
I could not reproduce this locally. Please let us know if you have more information. Thank you.

[2017-04-06 10:52] #2017 closed

[2017-04-06 11:55] gjaldon opened #2021 "Column 'a_column' in field list is ambiguous when using update_all"
### Environment

* Elixir version (elixir -v): 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Ver 15.1 Distrib 10.1.22-MariaDB
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): mariaex 0.8.2
* Operating system: Arch Linux

### Current behavior
I have the following code:
[code]

Running that returns the error `1052: Column 'archived_at' in field list is

[2017-04-06 11:58] josevalim commented on #2021
I was going to say it should not be ambiguous because you can only update the current table... then I realized it is MySQL/MariaDB. :(

Can you please send a PR? It should be fixed in ecto/adapters/mysql/connection.ex. Thank you.

[2017-04-06 15:42] alishahpakneeds commented on #1202
I had a issue in my Repo.insert , I defined as previously  in User model
`  schema "users" do

    has_many(:authorize_tokens, AuthorizeToken)

    timestamps()
  end`

When I was calling  this function
`  changeset = User.changeset(%User{}, user_params)
  case Repo.insert(changeset) do
      {:ok, _user} ->

        conn
        |> put_flash(:info, "User created successfully.")
        |> redirec

[2017-04-07 06:15] gjaldon commented on #2021
Ok will submit a PR sometime next week.

[2017-04-07 13:40] Qqwy commented on #1892
Just wanted to make sure that you are aware of [the discussion about aliases](https://elixirforum.com/t/how-to-approach-converting-camelcase-to-snake-case-field-names/4375/3) that is going on on the Elixir forum. I think this is mostly relevant because the Original Poster describes an alternative situation in which field aliases would be helpful, namely one in which Elixir+Ecto needs to use an alr

[2017-04-07 14:06] lau commented on #2018
I must have been reading the docs about the `timestamps_opts` where `usec: true` is the default. Was this a change of defaults? How is the  `timestamps_opts` with `usec: true` default working with MySQL? Does it work with MySQL 5.7?

For people using Postgres I think not throwing away the microseconds is the best default. But of course Ecto has to work with MySQL too. Could MySQL users using an ol

[2017-04-07 14:18] josevalim commented on #2018
@lau you are correct, we changed the default to usec: true. It works with MySQL because the current types all have arbitrary precision, like the Elixir types. If we introduce two new types, then I would like them to always have precision of 6 or 0, and then using 6 will be incorrect for MySQL and using 0 may lead to truncation for PostgreSQL.

The good news though is that it is easy to change the

[2017-04-07 21:46] lau commented on #2018
👍 I think :naive_datetime_usec and :utc_datetime_usec (vs. changing :utc_datetime and :naive_datetime to have usec) makes sense given factors such as the preference for compatability with MySQL and other databases.

It would be nice if it was made obvious in the documentation that if you use Postgres then the -`_usec` types make sense. Also in Phoenix where the default is postgres maybe it makes s

[2017-04-08 07:44] bigcurl commented on #1819
Hi @josevalim ,

I just stumbled over the same point that was raised by @philipgiuliani. Unfortunately the commit message in 3afe688 did not give a clear reason why the `or_where` part is build with `and` instead of `or` when given a list.

If there is no clear reason I would propose to change the current behaviour as it is quite confusing and leads to more code as the list items for the `or_where

[2017-04-08 19:43] camcaine opened #2025 "Autogenerated binary id with upsert on_conflict: :nothing"
### Environment

* Elixir version: 1.4.1
* Database: PostgreSQL 9.5.3
* Ecto version: 2.1.4
* Database adapter: postgrex 0.13.2
* Operating system: OSX 10.11.6

### Current behavior

A new binary id is generated when using `on_conflict: :nothing` for upserts, making it harder to check the `:id` for `nil` when `on_conflict: :nothing` comes into play (as per the docs).

###### Example:

`Participati

[2017-04-08 21:11] josevalim commented on #2025
@camcaine unfortunately there is nothing we can do for auto generated values as databases do not give enough information on the upsert operation results. Your best option is to move the generation to the database and use `read_after_writes: true` to read the value of the field back after every operation.

[2017-04-08 21:11] #2025 closed

[2017-04-09 10:43] mrusme opened #2026 "@derive through Poison.Encoder not possible with :id, when :id is of type :binary_id"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Cassandra 3.10 (via @vintikzzz's https://github.com/vintikzzz/cassandra_ecto)
* Ecto version (mix deps): `ecto 2.1.4`
* Database adapter and version (mix deps): `cassandra_ecto 0.4.1`
* Operating system: macOS 10.12.4

### Current behavior

Repo:
[code]

Controller:
[code]

With this c

[2017-04-09 11:13] josevalim commented on #2026
Why do you have a bitstring in your struct? The struct should always keep
the loaded UUID. I would investigate from where the bitstring is coming
from.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-04-09 11:25] mrusme commented on #2026
@josevalim thank you for the super-quick reply! Actually I don't know. As mentioned, I'm using the https://github.com/vintikzzz/cassandra_ecto adapter. The data is being pulled from Cassandra through that extension.

So, you're saying that Ecto (and its adapters) should always provide a string instead of a bitstring, even though it's defined as `:binary_id`?

[2017-04-09 14:08] josevalim commented on #2026
@mrusme I believe you are right since the adapter can keep it as a raw binary if it wants to. Maybe `{:id, Ecto.UUID, autogenerate: true}` would do the trick?

[2017-04-09 14:21] mrusme commented on #2026
@josevalim you're a genius, thanks! Indeed, setting `Ecto.UUID` instead of `:binary_id` did the trick. I will close this issue here and open a new one on https://github.com/vintikzzz/cassandra_ecto, to request a documentation change.

Thanks again!

[2017-04-09 14:21] #2026 closed

[2017-04-09 16:04] michalmuskala commented on #2026
I would say this is a bug in the `binary_id` implementation of the adapter.

The implementation seems to be missing the dumpers and loaders for `binary_id` type:
Compare the postgres/mysql implementation https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/sql.ex#L47-L54 with the adapter: https://github.com/vintikzzz/cassandra_ecto/blob/master/lib/cassandra_ecto/adapter.ex#L250-L261

[2017-04-09 17:34] josevalim commented on #2026
@michalmuskala good catch!

[2017-04-12 11:32] eliask opened #2029 "Ecto.Type.cast API is insufficient for propagating errors from complex custom types"
### Environment

* Elixir version (elixir -v): 1.4.2
* Ecto version (mix deps): 2.1.4

### Current behavior

I was debugging an app using arc_ecto and got stuck with errors like ```{"is invalid", type: [MyApp.FileUploader]}```.
OK, it's enough for investigating the problem down to the arc_ecto stuff, but going further made more difficult than necessary. There can be any number of problems when con

[2017-04-12 11:43] josevalim commented on #2029
Cast should not contact S3. Cast should be one simple straight-forward
operation.

On Wed, Apr 12, 2017 at 13:32 Elias Kunnas <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-04-12 12:35] eliask commented on #2029
Ah, then it seems that arc_ecto is misguided to begin with. Not sure if it's fixable or not.
Unfortunate though, I was expecting the "default", or the most popular packages/integrations to be more or less correct and done the right way :(

[2017-04-12 12:35] #2029 closed

[2017-04-13 10:39] mememori commented on #1882
@mrkaspa the fix for this issue was commit `12f27d9ec25d035fc2f71c25052c2cae6c5eb781` changing `Ecto.Multi.__apply__` spec and `Ecto.Repo.Queryable.transaction` function clause. This change was not shipped on Ecto 2.1.4 but is available on the master branch.

You can fix this right now by updating your `mix.exs` to point to an specific commit whose tree includes the aforementioned commit.

For exa

[2017-04-13 11:12] josevalim commented on #1882
Thanks for the info @mememori. I have just backported the commit to the v2.1 branch. So if we do a new release, it will be included.

[2017-04-13 13:03] ricking06 opened #2032 "Unsigned INT Auto Increment Primary Key"
Ecto do not has a INT which is unsigned and Auto increment at same time.

Im using `:serial` but then i cannot use "int unsigned".
And i want int unsigned auto increment

[2017-04-13 15:11] michalmuskala commented on #2032
Unsigned integer types are not SQL standard. Moreover, postgresql does not have unsigned integers at all.

If using MySQL, in migrations you can pass any type supported by the database as an atom -
[code]
---
Please use the elixir forum or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you.

[2017-04-13 15:11] #2032 closed

[2017-04-20 12:28] brandonparsons opened #2036 "Prefix option in `Repo.aggregate`?"
Hi there,

It appears that there is no `prefix` option that can be passed to `Repo.aggregate`. Is this by design?

Is there a way to work around this, if I'm trying to use `Repo.aggregate` to realize the results of a query that requires searching within a given prefix?

**EDIT**

As a follow-up, it also seems I can't add a prefix in `Ecto.Query.subquery`, which is the first thing I tried to do to

[2017-04-20 12:50] michalmuskala commented on #2036
This can definitely be supported. PR will be welcome :)

[2017-04-20 14:47] brandonparsons commented on #2036
Thanks. I was hoping to make sure I wasn't missing something completely obvious :)

I will have a look at the source to see if it's something I could take a crack at. If it involves actually hitting the SQL queries it will be outside of my ability. If it's munging & passing around options might be something I could do :)

[2017-04-20 17:47] brandonparsons commented on #2036
Turns out there was a better way to do this (in my case), so I'm going to close. Assuming nobody else is asking for this at the time being.

[2017-04-20 17:47] #2036 closed

[2017-04-20 19:51] ibarchenkov opened #2037 ":returning option for Repo.*_all functions doesn't support joined tables"
### The issue
:returning option for Repo.*_all functions accepts either true for the whole struct or a list of fields from the main schema/table in a query. It can't return values from joined tables, but this is supported in latest versions of Postgresql.

### Environment

* Elixir version: 1.4.2
* Database and version: 9.6.2
* Ecto version: 2.1.4
* Database adapter and version: postgrex 0.13.2
*

[2017-04-20 20:47] michalmuskala commented on #2037
I guess the only way to support it consistently would be for the query struct to carry the returning information.

[2017-04-20 21:13] josevalim commented on #2037
Can you please provide an example of such query that would use returning from other tables?

[2017-04-20 21:17] brainlid opened #2038 "Mix ecto.migrate does not use config.exs settings for Logger"
### Environment

* Elixir: 1.4.2
* Ecto version: 2.1.4
* Erlang/OTP 19 [erts-8.3]
* Operating system: Arch Linux, 64-bit

### Current behavior

In the mix project's `config/config.exs` file, configuring the log formatting and configuration works correctly at run time, but are not respected when running mix tasks. This is particularly a problem with `mix ecto.migrate` as it is not a custom mix task

[2017-04-22 20:33] elbow-jason commented on #840
I've used the defimpl example provided by @Dania02525 with a small change to just return `"null"` instead.

[code]

And it has worked like a charm so far.

[2017-04-24 02:03] almielczarek opened #2040 "Migration error message when using composite type without specifying subtype"
### Environment

* Elixir version (elixir -v):
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.4
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): 0.13.2
* Operating system: Arch linux

### Current behavior

Given the following code:

[code]

Users are faced with this error:

[code]

### Expected behavior

Perhaps the ecto adapters could do a vali

[2017-04-24 07:17] ericmj commented on #2040
It was mentioned in the other issue that the adapter can raise but I don't believe so because `array` is a valid type name: `CREATE TYPE "array";`

[2017-04-24 07:25] josevalim commented on #2040
@ericmj is right.

@almielczarek thanks for moving the issue here but I think there isn't anything we can do here. At least the decision is now properly documented. Thank you!

[2017-04-24 07:25] #2040 closed

[2017-04-24 12:22] ibarchenkov commented on #2037
[code]

[2017-04-24 12:32] josevalim commented on #2037
@ibarchenkov how are you using it? with update_all/delete_all? If so, how does your update_all looks like?

[2017-04-24 13:42] ibarchenkov commented on #2037
I provided the example above as a suggestion for extending from/2 functionality with :returning. Right now Ecto doesn't allow :returning in a query.
My update_all/3 looks like:
[code]

[2017-04-25 12:35] mspanc opened #2042 ":ets.lookup_element failures"
### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): 2.1.1
* Database adapter and version (mix deps): phoenix_ecto 3.2.1
* Operating system: ubuntu 14.04 a'la heroku container (dokku 0.8.0)

### Current behavior

Include code samples, errors and stacktraces if appropriate.

My app under high load

[2017-04-25 13:07] ericmj commented on #2042
Only the stacktrace is included in the included logs, you don't happen to have the exception and message also?

[2017-04-25 13:14] fishcakez commented on #2042
This stacktrace points to a call that gets rescued, and generating an exception and rescuing to set the stacktrace is expected behaviour here. It seems like something is incorrectly picking up this stacktrace and logging it.

[2017-04-25 21:31] mspanc commented on #2042
I'll reply as soon as I will get more information.

[2017-04-25 23:49] mpranjic opened #2043 "Inconsistent behavior of (in?)valid Ecto.Query"
Sorry for a bad title, please change to something more appropriate ^_^

### Environment

* Elixir version (elixir -v): 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): postgresql 9.6.1
* Ecto version (mix deps): **master branch**
* Database adapter and version (mix deps): postgrex 0.13.2
* Operating system: ArchLinux

### Current behavior

To demonstrate the issue, you can make ch

[2017-04-26 07:01] michalmuskala commented on #2043
On first sight, it looks like it's related to the query cache.

@mpranjic could you provide the logger output? I'm primarily interested in what queries end up being executed against the database in the second case.

[2017-04-26 07:13] mpranjic commented on #2043
[code]

[2017-04-26 07:44] mpranjic commented on #2043
I think it should be a valid query because (at least in postgres) this is valid:

[code]

But I am under impression that query cache is doing something wrong as well.

[2017-04-26 21:02] mspanc commented on #2042
You were right, my fault.

[2017-04-26 21:02] #2042 closed

[2017-04-27 08:58] rockwood opened #2045 "UUID.cast to allow binaries"
### Environment

* Elixir version: 1.4.2
* Database and version: Postgres 9.6.1
* Ecto version: 2.1.4
* Database adapter and version: Postgrex 0.13.0
* Operating system: OSX 10.12.4

### Current behavior

I have a use case for manually generating binary UUIDs. Currently Ecto.UUID doesn't accept raw binaries even if they're valid 16 bytes. Is there any reason it shouldn't?

[code]

[code]

Digging

[2017-04-27 09:03] josevalim commented on #2045
Yes, please send a PR, but we should validate the UUID as well.

[2017-04-27 09:06] rockwood commented on #2045
@josevalim On it. Thanks!

[2017-04-27 23:13] gvaughn opened #2046 "after_connect lifecycle hook status?"
I posted to the Elixir Slack and was given https://github.com/elixir-ecto/ecto/commit/91077b8bf1849bbcea534b67cbcc0cef36cdf7f5 as a reference. We used to have an after_commit callback hook, but it's not there now. Can anyone connect the dots for me? Why did we lose the hook we used to have?

I'm looking for a way to run a simple query to validate some app-specific data assumptions whenever the Rep

[2017-04-27 23:39] gvaughn commented on #2046
After more discussion in slack, @michalmuskala recommended I add an extra transient process to the supervisor that starts the Repo. after_connect was never really intended for my use case since it happens for each connection in the pool, not once globally. Closing issue.

[2017-04-27 23:39] #2046 closed

[2017-04-28 13:24] programisti commented on #577
I think its very useful, every-time I need to do this feature I write queries via `from`
for example if I want to get all `comments` based on `post_id`
I do like this:
[code]
If we had this feature then I could do this without writing query with `from`:
[code]

even more, `get_by/2` and `get_all_by/2` should accept keyword list such as
[code]

[2017-04-28 15:06] michalmuskala commented on #577
You can easily achieve this today with:
[code]

The repo interface is already quite broad today. That's why we should be extra considerate when expanding it and only do so for things that can't be easily achieved otherwise or those that remove a lot of boilerplate. `get_all_by` is not such case in my opinion.

You can, however, easily define the `get_all_by` function for repos in your application

[2017-05-01 20:13] Fedreg commented on #1207
@jjahraus Thanks for that! Now I can proceed.

[2017-05-04 12:07] tomciopp opened #2051 "Set schema prefix on insert"
Referenced from: https://github.com/phoenixframework/phoenix_ecto/issues/82

### Environment

Elixir: 1.4.2
PostgreSQL 9.6.2
Ecto: 2.1.4
Phoenix:  1.2.3
postgrex 0.13.2
OS: macOS Sierra 10.12.4

### Current behavior

Here is a factory module based off of what is in my app:

    defmodule MyApp.Factory do
      def build(:tenant) do
         %MyApp.Tenant{name: "tenant"}
      end

      def build(

[2017-05-08 11:45] AndrewDryga opened #2055 "Adding custom embed validation errors to Ecto.Changeset"
Hello guys,

We often face situation in which we have schema that contain `:map` or` {:array, :map}` in it's fields. For this fields we have custom validations (sometimes they are based on Ecto.Changeset, sometimes on JSON Schema's).

When we apply this rules it's hard to add validations errors to existing changeset, since it doesn't allow us to add custom embeds. `cast_embed` is hardcoded to work

[2017-05-08 11:55] josevalim commented on #2055
`add_error_in` sounds reasonable. The problem is how are we going to store those errors internally?

[2017-05-08 12:02] AndrewDryga commented on #2055
Maybe we can create Changeset on-a-fly and inject it into existing changeset struct? Thus we won't break any existing code.

[2017-05-08 12:07] josevalim commented on #2055
@AndrewDryga if that's the case then we should rather focus on the PR that adds support for dynamic embeds.

[2017-05-08 12:09] AndrewDryga commented on #2055
I did research on dynamic embeds a while ago, then I found issue where you were agains them :). I've even built a proof of concept that fools `Ecto.Changeset` validations: https://github.com/Nebo15/tokenizer.api/blob/master/lib/repo/changeset/dynamic_embed.ex

[2017-05-08 12:12] josevalim commented on #2055
Right, I don't think we should have dynamic embeds based on the struct key or something of sorts. If we are supporting dynamic ones, we should do it using schemaless changesets. So we can just pass a schemaless changeset around.

I think it even started here? https://github.com/elixir-ecto/ecto/issues/1763 :)

[2017-05-08 12:13] AndrewDryga commented on #2055
Ah, yes. Totally forgot about this one.

[2017-05-08 12:15] josevalim commented on #2021
Ping. :)

[2017-05-08 12:16] #1978 closed

[2017-05-09 09:45] shulhi commented on #2045
@rockwood you can actually do
[code]

[2017-05-10 01:13] rockwood commented on #2045
@shulhi Is there a reason why cast shouldn't accept a binary?

[2017-05-10 08:28] ericmj opened #2057 "Reject null bytes when casting strings"
Postgres will reject null bytes causing causing the connection to error. By catching the issue in casting we can present a better error for users.

We can also check for valid utf8.

[2017-05-10 11:15] michalmuskala commented on #2057
It looks like it's completely legal to have a NULL byte in a MySQL string.

Maybe we should have a custom type that does those checks?

[2017-05-10 11:17] ericmj commented on #2057
Does MySQL do any encoding checks?

On Wed, 10 May 2017 at 13:15, Michał Muskała <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2017-05-11 17:31] michalmuskala opened #2058 "Deprecate Ecto.Date, Ecto.DateTime, Ecto.Time"
Since Ecto 2.1 we support the native elixir calendar types. Supporting both ecto types and elixir types is extremely confusing - it's not clear which ones are preferred and why it's duplicated. The new types provide superior usability and integrate seamlessly with the rest of elixir ecosystem through libraries such as calendar or timex.

I propose we deprecate the old types in 2.2 so that they emi

[2017-05-11 17:45] josevalim commented on #2058
Yes, that's the plan all along. I am actually surprised it was not deprecated yet. So good reminder!

[2017-05-12 00:44] jbhatab opened #2059 "validate_number doesn't accept a number that starts with a ."
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2017-05-12 00:46] #2059 closed

[2017-05-12 00:46] jbhatab commented on #2059
Nvm. .25 is just invalid elixir.

[2017-05-12 10:46] #2045 closed

[2017-05-12 19:56] hogjosh opened #2060 "'No database selected' error during migration rollback with prefix specified"
### Environment

* Elixir version: 1.4.1
* Database and version: MySQL 5.7.17
* Ecto version: 2.1.3
* Database adapter and version: mariaex 0.8.1
* Operating system: OSX

### Current behavior

I bumped into this when using the rollback mix task, but suspect it shows up under other conditions too.

[code]

We have a number of databases (with the same schema) and rely on prefixes extensively.  We do

[2017-05-12 20:06] josevalim commented on #2060
@hogjosh thank you for the report. Can you please provide a sample application that reproduces the error? It will be much easier for us to fix if we don't need to chase the exact scenarios that reproduce the issue. Thank you!

[2017-05-12 21:10] hogjosh commented on #2060
Done and done!

https://github.com/hogjosh/ecto2060

It looks like ecto 2.1.4 added error information when there's a problem with `schema_migrations`, but I'm not sure it's helpful in this scenario.

Let me know if I can be of further help.

[2017-05-13 10:13] josevalim commented on #2060
@hogjosh it seems to be an issue with MySQL:

$ mysql -u root
Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 73
Server version: 5.7.11 Homebrew

Copyright (c) 2000, 2016, Oracle and/or its affiliates. All rights reserved.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

T

[2017-05-13 10:50] hogjosh commented on #2060
@josevalim ah, I was running the sql from a graphical app, which was probably setting the database for me and is why it seemed to work there.

This appears to work:
```mysql> DELETE FROM `ecto_2060_dev`.`schema_migrations` WHERE (`version` = 20170512203256);
Query OK, 1 row affected (0.01 sec)```

There is definitely some "weirdness" when using aliases in deletes and specifying the database furthe

[2017-05-13 10:56] josevalim commented on #2060
@hogjosh if that query works, it definitely adds more weirdness. The issue is that none of this seems to be documented, so I am reluctant in putting all of the work required to emit other queries while there is no guarantee this will work for other MySQL versions or in the future.

If you don't want to have it connected to any of your prefixes, I would recommend setting up a dummy database for con

[2017-05-15 14:23] roberthopman commented on #1207
This worked for me:

- in pg_hba.conf, I changed the 127.0.0.1/32 to localhost

Then in the terminal:
- `psql postgres`
- `CREATE ROLE postgres;`
- `ALTER ROLE postgres WITH LOGIN;`
- `ALTER USER postgres CREATEDB;`

[2017-05-15 17:27] maxsalven opened #2061 "embeds_one does not work with read_after_writes"
### Environment

* Elixir version (elixir -v): 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6.1
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): postgres 0.13.2
* Operating system: 10.12.4

### Current behavior

`embeds_one` does not work with `read_after_writes`. I have database level defaults for my JSONB field, and `Repo.insert()` returns `nil`

[2017-05-15 18:00] boxxxie opened #2062 "Changeset.cast_embed seems inefficient"
### Environment
Erlang/OTP 19 [erts-8.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.4.2

* Database and version: N/A
* Ecto version (mix deps): ecto 2.1.4
* Database adapter and version (mix deps): NA
* Operating system: Arch

### Current behavior
I have a code base where i recently changed from having a schema with a Map ref, to creating an embeded schema

[2017-05-15 18:26] josevalim commented on #2061
As the error says, we currently do not allow this option. If you are interested on this, I would recommend trying to send a pull request, as this feature is low priority for us. If you have any questions, please let us know!

[2017-05-15 18:26] #2061 closed

[2017-05-15 18:35] josevalim commented on #2062
@boxxxie given we never optimized the code, there are likely many low hanging fruits there. The first step to help us fix this is to provide a sample script that we can run, so we can reproduce the profiling results locally and measure changes. Could you please provide that?

Meanwhile I have already noticed one spot that took 2.5 seconds and removed it. :)

[2017-05-16 09:39] Eiji7 opened #2063 "Bad docs for Ecto.Repo.insert_or_update and Ecto.Repo.insert_or_update!"
For both methods first parameter name is bad:
[code]
in description:

So we can pass only **changeset**.

This found forum user `Crowdhailer`, see [his topic](https://elixirforum.com/t/using-repo-insert-or-update-without-a-changeset/5099?u=eiji).
After looking deeper I also found:

Another fault in docs is result of example code:

[code]
`&MyRepo.insert_or_update/2` should return `{:error, changes

[2017-05-16 09:53] wojtekmach commented on #2063
there's a test that ensures this behaviour so looks like indeed the arg names (and typespecs) need to be updated: https://github.com/elixir-ecto/ecto/blob/v2.1.4/test/ecto/repo_test.exs#L285:L289

[2017-05-16 14:26] boxxxie commented on #2062
actually, i spent more time on this issue, and found that the profiler was adding all of the overhead. so only relative times are meaninful.
i wrote a benchmark and it told me that the nested embeded schema was actually only taking 200 microseconds to run, which is good for me.

i'll see what i can do about providing code, it's a pretty big schema, and i have to change all of the names in it.

[2017-05-16 14:36] josevalim commented on #2062
While 200ms is much better, there is likely room for improvements. If the benefits are proportional though, my changes to master should have made it 20% faster already.

I will close this issue for now but if you have a sample snippet or codebase we can profile, please let us know!

[2017-05-16 17:11] boxxxie commented on #2062
ok, was able to get a working example file
[code]

use `mix profile.fprof -e Profile.Ecto.run --callers --sort own | tac`

[2017-05-18 00:39] zachdaniel opened #2064 "Support map update syntax in subquery select statements"
I'm looking into setting this up as we speak.

It looks to me like its just the code that determines if something is a valid subquery select field that needs to be updated.

### Current behavior

When selecting in a subquery using map update syntax there is a pattern match failure somewhere.

The select statement ends up looking like this:
[code]
The error we get is:
[code]

### Expected behavior

[2017-05-18 01:03] #2063 closed

[2017-05-18 01:32] zachdaniel commented on #2064
I'm starting to get other errors I wasn't expecting, so this issue might be premature.

[2017-05-18 06:59] josevalim commented on #2064
@zachdaniel can you please provide a full example of the query you want to compile?

[2017-05-18 07:39] zachdaniel commented on #2064
@josevalim, sure!  I should have included it in my earlier post but I was just being lazy.  Here is a trimmed down example that we have.

This looks a little silly once I've pared it down, but we want to start selecting calculated values early on in the pipeline so that we can easily sort/filter on those values later.  The simplest way I've found to do it in a way that doesn't mess with the rest o

[2017-05-18 07:43] zachdaniel commented on #2064
I also just realized that most of that example is unnecessary. the only part that matters is where we `subquery/1`

[2017-05-18 08:38] josevalim commented on #2007
For now let's go with perform the validation in your apps. If someone has already done so, please complement the discussion with examples and let us know if you have ran into any pitfall. Thank you.

[2017-05-18 08:38] #2007 closed

[2017-05-18 08:40] josevalim commented on #1705
We are closing this as we do not plan to add those features to Ecto for now.

[2017-05-18 08:40] #1705 closed

[2017-05-18 08:40] josevalim commented on #1705
If you need to validate the incoming data. Use (schemaless) changesets.

[2017-05-18 08:42] josevalim commented on #1837
I am closing this for now. If someone is interested on this feature, a pull request is welcome!

[2017-05-18 08:42] #1837 closed

[2017-05-18 08:44] josevalim commented on #1871
Pull requests that add those features to Ecto are welcome. If you need help on getting it done, please let us know and we will be glad to provide directions!

[2017-05-18 08:44] #1871 closed

[2017-05-18 08:47] josevalim commented on #2012
Closing it in favor of #2018.

[2017-05-18 08:47] #2012 closed

[2017-05-18 08:47] josevalim commented on #1935
Closing in favor of #2018.

[2017-05-18 08:47] #1935 closed

[2017-05-18 08:51] josevalim commented on #2055
Closing in favor of #1763. Once work there is done, we can discuss this issue once more.

[2017-05-18 08:51] #2055 closed

[2017-05-18 08:52] josevalim commented on #2057
Given it does not seem to be agreed on all databases, I don't believe we can perform those checks. Also worth noting the null byte IS valid UTF8.

[2017-05-18 08:52] #2057 closed

[2017-05-18 08:54] josevalim commented on #2060
Closing this as we believe it is a MySQL issue and I don't believe we should change our query strategy specifically to handle MySQL weirdness. If you don't want to have it connected to any of your prefixes, I would recommend setting up a dummy database for connections but not use it for anything else. Thank you!

[2017-05-18 08:54] #2060 closed

[2017-05-18 09:21] seanhandley commented on #2058
@michalmuskala @josevalim I'd like to take a look at this as a way of starting out contributing. Would you mind writing a few lines of client code that demonstrate how Ecto currently works with both types and how it *should* work?

[2017-05-18 09:29] seanhandley commented on #2058
Also, what's the preferred method of deprecation warnings? I like the idea of a decorator:

[code]

(Based on https://elixirforum.com/t/raise-warnings-during-compile-time/240/4).

[2017-05-18 09:52] josevalim commented on #2058
Sorry @seanhandley but I am almost done with those changes locally. Thanks for pinging though! :heart:

[2017-05-18 09:57] seanhandley commented on #2058
D'oh. Thanks anyway for the quick reply.

I'll look for another place to start...

[2017-05-18 10:13] josevalim commented on #2058
In master!

[2017-05-18 10:13] #2058 closed

[2017-05-18 13:57] securingsincity commented on #2051
I was thinking about taking this on, I believe this test captures the issue.

[code]

[2017-05-18 14:07] josevalim commented on #2051
@securingsincity yes! you don't need to worry about insert_or_update though, as it delegates to existing functions. :)

[2017-05-18 15:36] valyukov commented on #2021
1 month it's a long time, so I fix this.

[2017-05-18 17:03] zachdaniel commented on #2064
So I found a pretty hacky way of getting the behaviour we want. I can't imagine that it would be done this way if it was implemented in ecto, but since we have more guarantees about the shape of the query, I think this will work for us.

In the subquery we only select the value we care about, which puts it into a shape that the subquery expects. From what I can tell its basically an expression AST

[2017-05-18 17:56] josevalim commented on #2064
Actually you have no guarantees. :) The Ecto.Query struct is completely private. We may change how data is stored at any time and it may break your code in unexpected ways.

[2017-05-18 17:57] #2021 closed

[2017-05-18 18:01] zachdaniel commented on #2064
Sorry, what I meant is that we knew that we only wanted to select the fields on the first binding, and didn't need to come up with a generic solution that works for all forms of queries. We are very heavily tested, so if we upgrade and something under the hood changes this behavior we will almost certainly know right away. Plus, after making a change like this we know we have to be hyper aware of

[2017-05-18 18:25] josevalim commented on #2064
@zachdaniel well, Ecto is not supposed to break your code when you migrate from 2.0 -> 2.1 and then 2.1 -> 2.2 and so on. If it does, it is a bug. But when you reach for the internals like that, then we have no guarantees. But that is your choice. :)

[2017-05-18 18:32] zachdaniel commented on #2064
I totally understand and agree. Unfortunately, I haven't been able to come up with another solution that fits our needs, and we do need to have something working soon. With that said, my plan is to perhaps see if I can resolve this issue by contributing to Ecto, and then get rid of the hacky method. I took a stab at it, and made some good progress.

From what I saw, it doesn't seem like anything s

[2017-05-18 19:45] #2064 closed

[2017-05-18 19:48] #2051 closed

[2017-05-18 20:15] zachdaniel commented on #2064
@josevalim Thanks so much!

[2017-05-18 21:35] shymega opened #2067 "Can't"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir v1.4.4
*

[2017-05-18 21:40] josevalim commented on #2067
It should be:

[code]

We will make sure to raise better errors. Also please file proper titles when reporting issues, I am sure maintainers will appreciate it. 😅

[2017-05-18 21:40] #2067 closed

[2017-05-19 04:52] zachdaniel commented on #2064
@josevalim

Let me know if this should be a separate issue.

I'm noticing that type information is not maintained when selecting using map update syntax.

[code]

This seems to be consistent across all of our custom types as well.

[2017-05-19 05:22] zachdaniel commented on #2064
Opening this as a separate issue just in case.

[2017-05-19 05:23] zachdaniel opened #2068 "Map update syntax in subquery loses type information"
Sort of a continuation of #2064

This is when checking out the commit that resolves #2064, specifically: 4c632d326a9d593be73289fa84eedfad53c92085

I'm noticing that type information is not maintained when selecting using map update syntax in subqueries.

[code]

This seems to be consistent across all of our custom types as well.

[2017-05-19 05:59] #2068 closed

[2017-05-19 07:49] shymega commented on #2067
Hi,

José Valim <notifications@github.com> writes:

Damn, I see. I had gone through all the docs, and saw nothing wrong at
first glance. I think I was having one of "those days" regarding
code. :smile:

OK, sounds good. It did baffle me, but now you've shown me the fix,
it's obvious (to me) what the issue was. Thanks.

So sorry about this. I filed this issue late at night (for me,
anyway), and I c

[2017-05-19 09:32] josevalim commented on #2062
@boxxxie I was able to reduce the amount of tuple allocations based on the profile data and improve the times by about 20%. However it is worth repeating what you have already said: casting of the data take 10ms only when profiling. When profiling is disabled, your example takes about 0.15ms on my machine.

Also worth noting that, although I could see 20% improvement when profiling, it could not m

[2017-05-19 09:32] #2062 closed

[2017-05-19 15:35] zachdaniel commented on #1849
@josevalim The map update syntax made me think of this.  It could potentially be a good way to implement the basics of multiple select. A map update could represent a merge of the select statements?

[2017-05-19 16:09] josevalim commented on #1849
@zachdaniel the map update syntax assumes the key exists which is the opposite of what we want here (and a bit the opposite of merge).

[2017-05-21 09:36] auxbuss commented on #1763
@AndrewDryga, could you update the links in your original post, please.

[2017-05-21 13:04] AndrewDryga commented on #1763
@auxbuss done, thanks for noticing it.

[2017-05-21 13:24] Tica2 commented on #1964
@josevalim I'm interested in working on this part. If is there anything already done, I can take a look.

[2017-05-21 19:14] salisbury-espinosa opened #2070 "The aggregation functions for expressions do not work correctly"
### Environment

* Elixir 1.4.0
* PostgreSQL 9.4
* Ecto version 2.1
* Operating system: Ubuntu

### Current behavior

code
[code]

raise error:

Now have to fix this:

[code]

[2017-05-21 19:29] josevalim commented on #2070
Duplicate of #1757.

[2017-05-21 19:29] #2070 closed

[2017-05-26 02:46] seantanly commented on #1966
@alex88 Thanks for fixing this. :)

@josevalim
I have encountered this problem (Postgresql 9.6.3, Ecto 2.1.4) and took a while to figure out what's going on, trying to determine whether I'm using the new upsert `on_conflict` support wrongly or it's an issue with Ecto...

To prevent others using auto-generated binary_id/uuid from encountering the same problem with the current release >.<, will the

[2017-05-26 03:48] lauraannwilliams opened #2076 "Clarification in Docs for Ecto.Changeset.put_assoc"
I'm looking at the docs here: https://hexdocs.pm/ecto/Ecto.Changeset.html#put_assoc/4  and I feel there's an inconsistency

In the third paragraph, it states:

But the fourth paragraph states:

From my testing with Ecto v2.1.4 and a has_many association, the fourth paragraph matches the actual behaviour - if I try to use a list of maps with put_assoc, I get a (slightly confusing) error raised:
 ``

[2017-05-26 08:09] josevalim commented on #1966
@seantanly can you please send a pull request that documents those idiosyncrasies? Then we can see how much work is in backporting the doc changes and the :returning option to 2.1. In any case, sorry for the issues, and documenting them can be a great help to avoid others from running into it in the future!

[2017-05-26 08:21] josevalim commented on #2076
Thanks for the report @lauraannwilliams! There is definitely an error in the doc in the fourth paragraph, as we should rather say something like "If none of the values above are given, it will raise."

However, I believe a list of maps should be supported, and I have added more tests to make sure this is the case here: 4fbbfd8cb41735802de970260824f85f0c863fe8

Since the tests pass, I assume there

[2017-05-26 16:32] seantanly commented on #1966
@josevalim no worries, I'm just trying to help with feedback. I'm not sure whether I fully understand to the idiosyncrasies to document them.

I tried playing around with Ecto 2.1.4 branch but couldn't figure out how to change the `primary_key_type` such that https://github.com/elixir-ecto/ecto/issues/2025 can be captured as a test case, since it conflicts with the example given at https://hexdocs

[2017-05-26 16:33] seantanly commented on #1966
To simply things, I'm wondering whether Ecto.insert with `on_conflict` should simply return all fields read after write from DB by default. For performance optimization, the user can use `returning: [interested fields list]`, or `returning: false` in which ecto should return `nil` to prevent ambiguity. Issue #2025 related Doc above seems to imply `ignored.id == nil` can be used as conflict detecti

[2017-05-26 16:38] josevalim commented on #1966
Isn't this the case though? We should always have read_after_writes in insert, regardless if on_conflict is used. The returning option is just for the case read_after_writes is not specified.

[2017-05-26 17:15] seantanly commented on #1966
Sorry, I wasn't clear on that point, confusing it with read_after_writes fields. What I meant was reading back all fields defined in schema from DB by default. The reason is, the naive user might be expecting the returned struct to accurately reflect what's on the DB, after all it's an {:ok, struct} tuple. Without doing this, the behavior deviates from the normal insert whereby the user can be ass

[2017-05-26 17:19] josevalim commented on #1966
The problem with any of those changes is that it is not guaranteed to work across all DBs. We do our best to not be constrained by the weakest DB and that's why we support a lot of PG specific behaviour, but our default schema operation should be as compatible as possible.

[2017-05-26 18:05] seantanly commented on #1966
The weakest DB here I assume is MySQL. To be still inline with the normal insert, perhaps it will be worthwhile to construct a separate select query for the MySQL adaptor to read back the values, with the docs stating for MySQL it's not a single atomic query.

Alternatively, enforce `returning` must be specified when `on_conflict` is used. This forces the user to take notice and choose how to hand

[2017-05-26 18:51] lauraannwilliams commented on #2076
I think it may be due to my composite primary key + has_many. I'm not using many-to-many because my real cases has an additional field set on the join table.

The following test reproduces the error for me when run as a postgres integration test

[code]

Result:
[code]

### Environment

* Elixir version (elixir -v):
Erlang/OTP 19 [erts-8.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [ke

[2017-05-26 18:53] josevalim commented on #1966
Then for the cases where the user does not care (such as fire and forget), they are know being forced to specify something they did not need.

I think the best is to:

1. document that, if you want the data to be back `on_conflict`, you need to use `:returning` or specify the relevant fields as `:read_for_writes`

2. update the current upsert docs to mention that the primary key will only be retur

[2017-05-27 00:00] seantanly commented on #1966
In this case, I think It is necessary for them to explicitly put `returning: false`.

IMO being explicit is important because the returned result deviates from the normal insert. The code should be self-describing on what is the expected result, to prevent errors and have easier maintenance.

[2017-05-27 00:36] rhetzler opened #2077 "Separation of compile- and run-time configuration"
The Ecto configuration takes on the following form:
[code]
This is a mix of configurations that are accessed at different stages of code lifecycle:
 * compile-time configuration ("adapter")
 * run- (or release)- time configuration (connectivity & tuning)

From the perspective of release management, you always want to keep these things separate, and isolate/minimize the set of configs which will va

[2017-05-27 04:56] i-m-v-j opened #2078 "utc_datetime Error"
[code]
when i use dev environment i am getting date with utc_datetime perfectly, but when i am generating release and running , i am getting above error while getting utc_datetime in ecto .

[2017-05-27 07:11] michalmuskala commented on #2078
Use of `utc_datetime` requires Elixir 1.3. What's the version you use in the release?

Please fill in the issue template. It saves us both time going back and forth on basic questions like this.

[2017-05-27 07:49] josevalim commented on #2078
Yes, please open up a new issue where the issue template is correctly filled. Thank you.

[2017-05-27 07:49] #2078 closed

[2017-05-27 07:59] josevalim commented on #2077
We can allow options to be given to `use` and then users can choose if they want to separate those concerns or not. Also worth mentioning that we allow runtime options to be set on init.

[2017-05-27 08:12] #2077 closed

[2017-05-27 08:18] josevalim commented on #2077
Actually, we already allow in master the adapter to be given as you propose, so I believe what you propose is already achievable. I just made sure we accept `:loggers` too. We don't plan to deprecate the current mechanisms though, thank you!

[2017-05-27 08:21] josevalim commented on #1966
That's not true since normal insert does not return data from the database and you can have stale data in memory even for regular inserts.

That can also be used as an argument for `returning: true`, so it is explicit that data is being fetched back.

Because the default behaviour of `returning: true` cannot work on MySQL and we won't make it perform two operations - which we never do anywhere, we

[2017-05-27 08:31] #1966 closed

[2017-05-27 09:20] seantanly commented on #1966
The difference happens when we're taking into account autogenerated values, e.g. autogenerated binary_id, or even timestamps(). Without specifying return, currently the returned result will contain these auto-generated fields with newly generated values which is different from what's on the DB. Whereas a conventional insert doesn't have this problem because a successful insert means these generate

[2017-05-27 09:28] josevalim commented on #1966
But isn't that true for any field in the struct in upsert? If you have a success as a result of upsert, any field except the conflict target is potentially out of date. The autogenerated fields do not add nor remove to that.

[2017-05-27 09:29] josevalim commented on #1966
To further clarify, this is not specific to autogenerated fields. Any field is potentially out of date.

[2017-05-27 09:33] josevalim commented on #1966
In any case, we could look into not applying the auto generated fields but at the moment it is unclear if the database will return us enough information to make this distinction.

[2017-05-27 09:34] josevalim opened #2079 "Do not apply autogenerated fields if insert came from upsert"
We need to investigate if the database provides enough information to take this decision though.

[2017-05-27 09:34] josevalim commented on #1966
I have opened #2079. Thanks for the discussion!

[2017-05-27 09:39] seantanly commented on #1966
Which is the reason I proposed to return `{:ok, nil}` by default unless `returning` is defined to avoid any confusion in the validity of fields being returned. I guess the reason not to for now is to also support `read_after_writes` in upsert by default even when `returning` is not specified.

Yup, if Ecto autogenerated fields isn't included in the resulting fields unless being read back via `retu

[2017-05-27 09:47] seantanly commented on #1966
Why not simply not apply the auto-generated fields in the result unless specified in `returning` or `read_after_writes`? I don't think the user should differ their code logic based on Ecto being able to automatically detect a conflict happening, by virtue of auto-generated fields being present or not in the resulting fields.

[2017-05-27 09:52] josevalim commented on #1966
@seantanly that would break all of uses of insert existing today. The point of autogeneration is exactly to take care of those before sending it to the database.

[2017-05-27 09:52] josevalim commented on #1966
Plus read_after_writes is orthogonal to autogeneration because you can still have the field autogenerated but a TRIGGER in the database changes it, requiring you to use read_after_writes to get the value back.

[2017-05-27 10:00] seantanly commented on #1966
I meant not applying auto-generated fields in the result of upsert, not touching the normal inserts.

[2017-05-27 10:16] josevalim commented on #1966
That's what the new issue is about. But it is unclear if we can get this
information from the database.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-05-27 12:44] seantanly commented on #1966
information from the database.

In spirt of above, but not relying on detecting for conflict, I have created a commit that doesn't return any auto generated fields when `on_conflict` is not raised. I'll let the code do the talking instead to avoid any ambiguity.

https://github.com/seantanly/ecto/commit/9814efcfcf7cc6141533eb7c7d426a9bec2cd3c3

I can't run the test for `MIX_ENV=mysql mix test`, er

[2017-05-27 13:05] josevalim commented on #1966
@seantanly the problem with the commit above is that autogenerated fields are not applied even when we insert a whole new entry to the database. I believe we would need to know from the database if we got an insert or an update.

[2017-05-27 14:04] seantanly commented on #1966
I checked, the autogenerated fields e.g. inserted_at/updated_at have their values persisted to the database.

I'm failing to understand why is there is a need to automatically return the autogenerated fields (not specified in returning, nor having read_after_writes: true) in the struct even when it's an insert, in the context of a upsert operation. May I know why?

[2017-05-27 14:08] josevalim commented on #1966
Because that's how it works for successful operations on insert without upsert. And such change would also be backwards incompatible.

I would also like to hear arguments on the opposite direction. Again, I find the argument that the autogenerated fields are out of date to be weak, because *all fields are potentially out of date*. If not merging them can help avoid the confusion, then sure, but I

[2017-05-27 15:51] seantanly commented on #1966
Let's set the context to be that the autogenerated values are not defined in returning nor having read_after_writes: true.

The argument is not about out-of-date values, be it insert or update during upsert. It is about the autogenerated fields currently returned when it's an update, is just wrong because they are never persisted to the database in the first place. Non-concurrent access would have

[2017-05-27 16:28] josevalim commented on #1966
I believe we are going into loops here. That's true for any other field set in the struct before the `insert` call. It is not about concurrency. If you set `%{post | foo: "bar"}`, in case of upsert it is impossible to know if the value in the database for "foo" will be "bar" or not. That's because databases like Postgres does not actually let us know which operation (insert or update) happened in

[2017-05-27 16:31] josevalim commented on #1966
And to add to that, we cannot make upserts not apply auto generated fields by default because that breaks the expectation with insert. And it still does not make it possible to know which operation succeeded. You need to use return or issue a new query.

[2017-05-27 16:32] #2079 closed

[2017-05-27 16:37] josevalim commented on #1966
Sorry, one extra comment. The way I see it, the only mechanism that could potentially benefit from this change is `on_conflict: :nothing`. Maybe then it would be reasonable to not apply any autogenerated field because it is the only scenario we can actually detect if an insert or nothing happened and returning autogenerated fields actually makes it not possible. So I will create a new issue to not

[2017-05-27 17:12] josevalim commented on #1966
Actually, MySQL does not let us make a distinction between an insert and nothing. :'(

[2017-05-27 18:44] seantanly commented on #1966
Thanks for the explanation, earlier on I missed out that the all fields set in struct are returned, not just autogenerated ones.

Trying to summarize what has being said,

1. In simple insert, `{:ok, struct}`, fields in struct represents values that were persisted to DB. Values may already be stale.
2. In upsert, `{:ok, struct}`, if an insert occurred, fields in struct represents values that were

[2017-05-27 18:57] josevalim commented on #1966
Yes, that's a good summary! I have updated the docs meanwhile and pushed to master and I think we cover all of those cases.

[2017-05-29 18:19] waj opened #2080 "Timeout while running migrations"
### Environment

* Elixir version (elixir -v):
[code]

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
mysql 5.7
* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating system:

### Current behavior

While running a long running migration (ie: adding a column to a huge table) the execution often times out. For example:

[code]

[code]

Seems like

[2017-05-29 19:15] josevalim commented on #2080
We set the timeout for infinity to any migration command. If you are running queries, then you should set the timeout individually. Also please note we typically do not recommend running queries during migration. If you need to insert data or run some particular command, it is preferred to do that after migration executes in a  separate task.

[2017-05-29 19:15] #2080 closed

[2017-05-29 19:34] waj commented on #2080
@josevalim I disagree with the recommendation about not running queries. Sometimes queries are needed to fix existing data after some schema changes. But maybe this is better to discuss in the mailing list.

In fact mine was just a minimal example to trigger the error without knowing there is a difference with DDL queries. But in my case I found the error while running migrations in production ser

[2017-05-29 22:41] fishcakez commented on #2080
This issue is tracked at https://github.com/xerions/mariaex/issues/162

[2017-05-31 04:59] JonRowe opened #2081 "Cannot create `conflict_target` using partial index"
This is half a bug, half a feature request, currently is not possible to create an "exotic" conflict_target for an upsert, our use case here is that we have a partial index across our table to allow us to upsert on null values (we have two fields we care about and two we don't in this instance). We can upsert on all 4 just fine, but when the 2 are null we need to use the partial index.

Currently

[2017-05-31 06:09] josevalim commented on #2081
Can you please post the SQL code you want Ecto to generate and confirm that
it is supported by Postgres?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-05-31 06:16] JonRowe commented on #2081
Still slightly pseudo coded but only with field name replacement:

[code]

Its definitely supported by Postgres, we can run it with a hand crafted snippet like this:
[code]

[2017-05-31 11:31] 0freeman00 opened #2082 "Error while retrieving utc_datetime column from postgresql"
### Environment

* Elixir version (elixir -v): 1.4.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgresql 9.5
* Ecto version (mix deps): Ecto 2.0 (in mix deps)
* Database adapter and version (mix deps): postgrex, "~> 0.11"
* Operating system: Linux Ubuntu 16.04

### Current behavior
[code]
### Expected behavior
[code]
when i am trying to convert, utc_datetime(Ecto data type) from

[2017-05-31 11:37] josevalim commented on #2082
Hrm, something unexpected is happening. It should not try to invoke `Inspect.DateTime` because `Inspect.DateTime` does not implement such protocol. Maybe something wrong is happening during protocol consolidation or during releases?

1. If you remove `_build` and compile again, can you still reproduce it inside a release?
2. Can you reproduce it by running `MIX_ENV=prod iex -S mix`?
3. Or can you

[2017-05-31 12:01] michalmuskala commented on #2082
Doesn't timex or calendar implement `Inspect` for `DateTime`? Are you using one of them? Also, are you using an umbrella?

[2017-05-31 13:00] i-m-v-j commented on #2082
yes, i am using umbrella app. and no i am not using timex, this is pure DateTime and for ecto it is :utc_datetime datatype column. @michalmuskala

[2017-05-31 13:15] i-m-v-j commented on #2082
@josevalim I tried deleting _build and then generating release again. same error.

[2017-05-31 13:23] josevalim commented on #2082
@i-m-v-j can you reproduce it using only mix (without releases)? And can you isolate the bug or provide me private access to the application so we can try it out? We suspect this may be related to an Elixir bug with protocols.

[2017-06-02 03:25] taverngoal opened #2083 "GitLab-CI docker executor make :ets.match(110633, {"INSERT INTO `schema_migrations` (`version`,`inserted_at`) VALUES (?,?)", :_, :"$1", :"$2", :"$3"})`"
### Environment

* Elixir version (elixir -v):   `docker image elixir:slim,  1.4.4`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `docker image mysql:5.6, 5.6.36`
* Ecto version (mix deps):     `2.1.4`
* Database adapter and version (mix deps):     `mariaex 0.8.2`
* Operating system:    `Docker 17.03.1-ce-mac12  On macOS 10.12.5`
* GITLAB version: `8.16.4`
* gitlab-runner version: `1

[2017-06-02 05:57] josevalim commented on #2083
Can you please provide a sample application that reproduces the error? For errors that happen only on certain environments, we need a sample application, otherwise we risk spending a lot of time in simply trying to reproduce the error (which is not always possible). Thank you.

[2017-06-05 14:29] taverngoal commented on #2083
It's my pleasure, and I'm sorry for my neglect.

BUT, I make a [demo](https://git.cn-su.net/tavern/gitlab-ci-ecto/builds/718#down-build-trace),  It just contains ecto and mariaex, It goes well. and never show the error.
 I can't reproduce.

I'm trying to let the error show again,  I'll add phonenix  on the demo, and try again and again. I'll back. ^_^

sorry for my pool english.

[2017-06-08 02:44] xLegoz opened #2085 "Misleading error when Preloading associations defined with aliases"
### Environment

* Elixir version: `Elixir 1.4.4`
* Database and version: `PostgreSQL 9.6.3`
* Ecto version: `phoenix_ecto 3.2.3`
* Database adapter and version: `postgrex 0.13.2`
* Operating system:  `OS X 10.12.4`

### Error

When preloading a struct through an association that is not defined with it's full module path _and_ not aliased in the file calling `preload`, you get a `module does not e

[2017-06-08 06:11] ericmj commented on #2085
We can't produce an error when compiling the module because the Field module may not be compiled yet and we don't know if it will be compiled. Do you have any suggestions for how to improve the error when calling preload?

[2017-06-08 07:16] josevalim commented on #2085
@ericmj one option is to check for those associations on after_compile, this way the other module will be loaded in memory and we should not have deadlocks. What do you think?

[2017-06-08 08:05] ericmj commented on #2085
Do you mean the module's after_compile hook? Doesn't it run after the given
module is compiled so we would still not have a guarantee the association
module is yet available. We would need something that runs after he entire
project is compiled, no?

On Thu, 8 Jun 2017 at 09:16, José Valim <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-06-08 08:23] tomciopp opened #2086 "Ecto.Migration.index/3"
### Environment

* Elixir version (elixir -v): 1.4.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.3
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: macOS Sierra 10.12.5

### Current behavior

I'm attempting to add postgres' full text search to a column and am running into an error when trying to create th

[2017-06-08 09:42] josevalim commented on #2086
@tomciopp here you go:

[code]

I will improve the docs.

[2017-06-08 09:44] josevalim commented on #2086
Added an example to master too. Thank you! Btw, on Ecto 2.2 you will be able to use --log-sql, so at least you will know which command went wrong on migration. :)

[2017-06-08 09:44] #2086 closed

[2017-06-08 10:11] josevalim commented on #2085
Closing in favor of the PR. Thank you @xLegoz

[2017-06-08 10:11] #2085 closed

[2017-06-08 11:00] tomciopp commented on #2086
Awesome! I knew I must have had the signature wrong in some way. Thanks for everything!

[2017-06-10 20:34] shankardevy opened #2091 "Incorrect documentation for Ecto.Changeset.cast/3"
The documentation for `Ecto.Changeset.cast/3` says

However, the function doesn't accept _struct_ as input.  It should be _schema_ instead.

[code]
The offending code is https://github.com/elixir-ecto/ecto/blob/v2.1.4/lib/ecto/changeset.ex#L422

When a struct is given, the function expects the struct's module to implement a `__changeset__` function which is defined when using `Ecto.Schema`.

Can I

[2017-06-10 21:02] michalmuskala commented on #2091
Yes, I think the corrected text should read "a struct of an ecto schema" instead of "a struct"

[2017-06-11 00:24] shankardevy commented on #2091
It looks this is more complicated than a simple text change here. I noticed in several places that Ecto documentation is using the term _struct_ when it is actually a module that uses `schema` macro.  Technically having _struct_ in the docs is incorrect and is misleading. For eg., `Repo.insert/2` says

It cannot insert a struct. Struct has no information about the table name to store data.

Howeve

[2017-06-11 07:04] josevalim commented on #2091
I would say `struct` is fine because in the context it makes sense to be a struct backed by a schema. But being clearer is always welcome, so we can also say `schema struct`. I would agree that calling it `schema` is confusing.

[2017-06-13 00:39] m13m commented on #1207
[code]
tried everything above
OS : Fedora 25 (Gnome)
@josevalim

[2017-06-13 07:41] Frost commented on #1207
@m13m That is probably because you are trying to use ident authentication and you are not running a local ident server on port 113. I am also running Fedora 25 (but the XFCE spin) and I don't seem to even have an ident server installed.

I am guessing that this happens because Ecto nowadays tries to connect using TCP instead of a local socket (as explained earlier in this thread) combined with you

[2017-06-13 13:43] m13m commented on #1207
Thanks @Frost To Fix the above Issue
Replace `ident `with `md5`

[code]

[2017-06-14 09:33] niahoo opened #2094 "Writing an adapter for fun, test suite ?"
Hi,

I would like to implement a small database engine, just for fun, and I would like to be able to work with Ecto on it, so I could be able to migrate everything to postgresql when I can.

I know that callbacks are defined [here](https://hexdocs.pm/ecto/Ecto.Adapter.html#content), but I would like to know if out of the box I can run the ecto test suite with my adapter.

That would be very useful

[2017-06-14 09:38] josevalim commented on #2094
Please See how other adapters, such as mongodb_ecto does it: https://github.com/michalmuskala/mongodb_ecto

[2017-06-14 09:38] #2094 closed

[2017-06-14 09:44] niahoo commented on #2094
Thank you, I'll try to.

[2017-06-14 20:04] hbobenicio commented on #1892
+1 on this.
In my case, my database has "ugly" column name conventions that I wouldn't like to inherit in my phoenix/ecto project. I got some columns like "some_random_prefix_convention_foo" that would be great if used only as "foo" on my model.

[2017-06-15 00:48] johnnyshields commented on #1892
@hbobenicio there is a PR branch here https://github.com/elixir-ecto/ecto/pull/1998 ready to merge which we are using in our apps, please help push to get it merged.

[2017-06-16 14:07] lukerollans commented on #1853
Hello from the future! I just came across this myself as I'm upserting with Ecto for the first time. I see that #1846 is merged and this matter consider closed, but I'm wondering if there's plans to allow upserting with `insert_all/3` _without_ specifying existing ID's?

I'd love the ability to give `insert_all/3` a list of maps (no ID's) and have Ecto upsert over conflicting records while keeping

[2017-06-19 07:19] jfrolich commented on #659
It would be great to have something like this. Is there any update on this with regards to Ecto 2? (Maybe it is already possible in some way).

[2017-06-19 09:11] kenuyx opened #2099 "encode decimal into float and not-loaded association empty collection"
I wonder if it is better that `lib/ecto/poison.ex` looks kind of below

[code]

[2017-06-19 09:18] michalmuskala commented on #2099
Encoding into float loses precision. Encoding decimals in JSON as strings is the only possible lossless encoding.

Not loaded association does not mean, there are no elements associated. It means we don't know, if they are or not. Encoding as empty collection/object would be simply incorrect.

[2017-06-19 09:18] #2099 closed

[2017-06-20 09:40] syndbg commented on #1124
@victorlcampos What was the answer?

[2017-06-20 09:51] michalmuskala commented on #1124
If you need them, you can add them in your repo module. They were considered before 2.0 was released, but ultimately deemed confusing and proving less features than what we have right now.

There are `Ecto.Query.first/2` and `Ecto.Query.last/2` functions, though for building this kind of queries. When imported, they can be used as:
[code]

[2017-06-22 18:48] lauraannwilliams commented on #2081
Just adding a link to the Postgres
https://www.postgresql.org/docs/9.5/static/sql-insert.html#SQL-ON-CONFLICT
and MariaDB docs
https://mariadb.com/kb/en/mariadb/insert-on-duplicate-key-update/

It looks like this is not supported by MariaDB/MySQL - I don't think they have partial index support.  So like conflict_target, this would be a Postgres only option.

[2017-06-22 23:45] JonRowe commented on #2081
I'd be happy with the ability to use the where keyword, or fragment, as I know this is non standard, I'd just like to not have to write the entire statement!

[2017-06-23 17:50] kuon commented on #1226
Oracle made a library that might help in the process of making an elixir/erlang driver. https://github.com/oracle/odpi

[2017-06-24 11:23] kandros opened #2102 "outdated documentation on hexdocs.pm"
The documentation found at https://hexdocs.pm/ecto/getting-started.html is out of date, while the documentation in the repo is up-to-date.

I had a really hard time figuring out what I was doing wrong considering the guide on hexdocs does not have this snippet (taken from current repo guide)
[code]

Please consider backport the docs updates.

[2017-06-24 12:18] josevalim commented on #2102
Thanks @kandros. as you said, it is fixed in master, so as soon as we release a new version, the docs will be updated.

[2017-06-24 12:18] #2102 closed

[2017-06-24 18:15] nhooyr opened #2103 "update getting started guide for elixir 1.4"
https://hexdocs.pm/ecto/getting-started.html says that one has to first add echo and postgrex to dept in mix.exs and then also add them to the application list but now with elixir 1.4,  you just have to add them as deps and mix will automatically build your application list based on your dependencies

[2017-06-24 21:00] josevalim commented on #2103
Thank you! It is fixed in master so it will be updated as soon as there is a new release!

[2017-06-24 21:00] #2103 closed

[2017-06-24 23:26] nauger commented on #2043
We have a failing test, that happens inconsistently that appears to be related to the above.

Elixir: 1.3.4
Ecto: 2.1.4

[2017-06-25 11:30] toraritte opened #2105 "`Ecto.Migration.execute/1` options not documented"
Ecto version (mix deps): **`master`**

- `:capped`
    No description found at the sources below. Has it been deprecated?
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/migration.ex#L574
https://github.com/elixir-ecto/ecto/blob/master/integration_test/sql/migration.exs#L240
https://github.com/elixir-ecto/ecto/blob/master/test/ecto/migration_test.exs#L107
https://github.com/elixir-ecto/ec

[2017-06-25 11:45] josevalim commented on #2105
Those options are database specific. It can literally be anything, as an `execute` can be any string with any semantics as long as it is accepted by the database you are talking to.

[2017-06-25 11:45] #2105 closed

[2017-06-25 18:21] michalmuskala commented on #2105
To clarify - those particular tests are to support style used in the mongodb adapter for explicitly creating things like capped collections, etc. They are documented in the adapter.

[2017-06-26 07:59] Ivor commented on #1748
Thanks for the contributions in this thread. It helped me.
This worked for me when querying the value of a nested key in a :map field.

`where([a], fragment("? #> '{key,nested_key}' = ?", a.my_map_field, ^value))`

[2017-06-26 21:32] josevalim commented on #2091
PR please? :)

[2017-06-27 18:28] AndrewDryga commented on #1964
Currently, I'm trying to implement a DB password rotation to integrate Ecto with Hashicorp Vault database secret backend.

I have an implementation idea for current Ecto version, but It will be a *very* dirty hack:
1. By my findings, the configuration is stored only in `DBConnection.Ownership.PoolSupervisor` child's and supervisor itself has a public API to spawn second pool with a new configurati

[2017-06-28 14:24] benwilson512 commented on #1964
I feel like the changes can be mitigated if you just refactor the existing Repo module to be the wrapper itself. Then calls like `query |> Repo.all` don't need to change.

[2017-06-29 07:47] jamiesunderland commented on #365
I wish this was in the documentation.

[2017-06-29 08:14] michalmuskala commented on #365
What exactly? This issue refers to the version that is 2.5 years old and was fixed a long time ago. The setting `auto_field` introduced in the fix is currently called `define_field` and is documented in [`belongs_to/3` documentation](https://hexdocs.pm/ecto/Ecto.Schema.html#belongs_to/3):

[2017-06-29 11:43] wkhere commented on #365
Hi folks!

I believe Michał @michalmuskala is right. The issue was created in a really hot period, when Ecto's both API and implementation was changing almost every month.
It's not the case anymore :)

cheers,
W.

[2017-06-29 18:56] mariusbutuc commented on #1882
Thanks for backporting the commit to the v2.1 branch @josevalim!

Ecto v2.1.4 was released back in March, so this change came after. Any ETA on a v2.1.5?

[2017-06-30 08:40] wdiechmann opened #2111 "many_to_many builds wrong query"
### Environment

* Elixir version (elixir -v): Erlang/OTP 19 [erts-8.3] [64-bit] [smp:8:8] - Elixir 1.4.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 5.5.39-MariaDB Linux (x86_64)
* Ecto version (mix deps):  2.1.4 (ecto) d1ba9328
* Database adapter and version (mix deps): 0.8.2 (mariaex) a9ee64a0
* Operating system: macOS Sierra 10.12.5

### Current behavior
In this thread https://

[2017-06-30 10:24] josevalim commented on #2111
can you please post the results you get back?

Also, what does Repo.all "jobbers_jobs" returns? Do you have duplicate
entries by any chance?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-06-30 10:48] wdiechmann commented on #2111
dammit - José - my bad!

Battled this for nearly 8 days! Verified jobbers, jobbers_jobs - and jobs - every time it matched - when I used DISTINCT

This is no help - if you already has TWO records in the table (which I did have - for one lousy record almost at the bottom of the table of 262 posts - at which time you start to decide that everything is OK!!)

[code]

apologies
Walther

[2017-06-30 10:48] #2111 closed

[2017-07-01 10:24] josevalim commented on #2091
Closing in favor of the PR.

[2017-07-01 10:24] #2091 closed

[2017-07-02 13:15] christhekeele commented on #1964
I wrestled with some of these challenges and put a lot of thought into the repository pattern I use in my k/v adapter lib [mnemonix](https://github.com/christhekeele/mnemonix). None of it probably translates easily to Ecto, and there are some things about the *implementation* I'm not in love with, but I feel as if the API is very nice so I thought I would offer [a synopsis of it here](https://gist

[2017-07-04 20:43] axelson commented on #1509
@OvermindDL1 have you posted your interval custom ecto type online anywhere?

[2017-07-05 01:25] webdeb commented on #1932
@michalmuskala

This is sad actually, the Book from plataformatec has this example:

[code]

And the Post Schema example has the timestamps included, so that would produce an error in real life.

I think, this issue can be solved, and there are several options.

1. In `do_insert_all` check the schema for `inserted_at` field, and check if that field is passed with the values, if not generate.

2. a

[2017-07-05 09:25] webdeb commented on #1932
@josevalim & @michalmuskala  If some of the options is making sense, I would love to take a look on this

[2017-07-05 15:54] OvermindDL1 commented on #1509
@axelson Nope, but I could, it is a simple single-file implementation with no docs or anything (mostly from the original Ecto version but with more additions).  I just stripped it out of my main project and put it into its own little library at:  https://hex.pm/packages/ecto_interval

Just use the type of `EctoInterval`.  PR's welcome as it is entirely untested since pulled out (but simple enough

[2017-07-05 16:34] michalmuskala commented on #1932
`update_all` worked like this since it was introduced, and there weren't many complaints. For `insert_all` it comes up more often, though. I'm torn on this.

[2017-07-05 16:38] OvermindDL1 commented on #1932
That might be because it is not noticed that the updated field is not updating, few people would check that, but it would be very bad for auditing purposes...

[2017-07-05 19:29] axelson commented on #1509
Thanks! I'll check it out!

[2017-07-05 19:52] JamieREvans commented on #1849
This is especially valuable when composing queries. @josevalim is there a place we can see priorities for these issues, especially this one?

[2017-07-05 20:03] josevalim commented on #1849
There is no priority list. The best way to guarantee this is in the next version of Ecto is by contributing it.

[2017-07-05 21:05] webdeb commented on #1932
Ok, but the 2. option `insert_all/update_all("posts", [...], timestamps: true)` seams to be very safe IMO.

[2017-07-05 22:04] dantswain opened #2117 "Spec for Ecto.Adapters.SQL.query incorrect for postgrex"
### Environment

* Elixir version (elixir -v):  1.4.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PostgreSQL 9.6.1
* Ecto version (mix deps): 2.1.4
* Database adapter and version (mix deps): postgrex 0.13.2
* Operating system: mac OS

### Current behavior

The spec is:

[code]

However, postgrex queries return a `Postgrex.Result` struct, e.g.,

[code]

Notably, the `rows` value is