[2015-04-29 14:49] jeregrine commented on #548
José sorry I missed this originally. Limiting columns in the database is
less valuable IMO than limiting them at the application layer level, ie
changeset.

On Wed, Apr 29, 2015 at 9:41 AM, José Valim <notifications@github.com>
wrote:

[2015-04-29 15:29] ericmj commented on #573
`Repo.one` is specced to take a `Queryable`, both `from ...` and models implement that protocol.

[2015-04-29 15:45] jordan0day opened #574 "`mix ecto.migrate --no-start` fails because Logger application is not started"
Running into this issue when trying to run migrations without starting the application:
[code]

All the other mix ecto.* tasks that have a --no-start option (create, drop, gen.migration) work fine with the --no-start option, as none of them appear to be using the logger.

I'll submit a PR shortly that turns off logging when the --no-start flag is used, but I wonder if it's preferable to just start

[2015-04-29 15:49] josevalim commented on #574
Which Elixir version? I think this is fixed in Elixir itself.

[2015-04-29 15:51] josevalim commented on #574
It is definitely fixed in master. We only stop the logger if we are starting the app:

https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/app.start.ex#L52-L60

Thank you! :)

[2015-04-29 15:51] #574 closed

[2015-04-29 15:55] jordan0day commented on #574
D'oh! You're right, I was on 1.0.2, appears to work in 1.0.3 & 1.0.4.

[2015-04-29 16:08] gjaldon opened #577 "How 'bout a `get_all_by/2` and `get_all_by/2`?"
It's great that we now have `get_by/2` and `get_by!/2` thanks to this https://github.com/elixir-lang/ecto/pull/568.

Do we already have the equivalents of those functions but returns multiple models? If not, I would like to take this on.

[2015-04-29 16:11] josevalim commented on #577
I am :-1: . If people feel strongly about this feature then I would rather add keyword support to the query instead of adding more functions to the repo.

[2015-04-29 16:11] #577 closed

[2015-04-29 16:17] josevalim commented on #566
@limhoff-r7 actually, someone pointed out  that using the same table as rails is going to be a really bad idea. Wouldn't it make more sense to just change the table name in your case?

[2015-04-29 16:31] limhoff-r7 commented on #566
I guess, I don't even need a separate table name if I do the following:

In production, the Rails application will be in charge of running the migrations until the time that we can have separate database like good independent microservices, but right now we can't do that since we also would need to separate the users and authentication into a shared service since we need to read the cookie set by

[2015-04-29 16:42] ericmj commented on #566
Nothing runs migrations unless explicitly called.

[2015-04-29 16:51] josevalim commented on #566
Ok. I am closing this for now. If you need at least a separate table name, please let us know.

[2015-04-29 16:51] #566 closed

[2015-05-01 03:53] hahuang65 commented on #534
We've discussed having a `validate_unique(changeset, scope: some_scope, on: Repo)` where `some_scope` is an `Ecto.Queryable`.

It would look something like this:
[code]

However, I've run into some issue with this. The current function definition for `validate_unique/2` looks like:
[code]
At first, I was hoping I'd be able to add:
[code]
But it won't work of course. As @ericmj points out, we canno

[2015-05-01 05:02] hahuang65 commented on #534
I've got a tested working prototype here:
https://github.com/hahuang65/ecto/commit/d5a8d7c8266f3c22cef9aa8791ba468f6a2ef6f9

[2015-05-01 09:19] josevalim commented on #534
I think the previous approach is fine. We should do:

     opts[:scope] || model.__struct__

I don't think we need to worry about having different sources because queries are usually built starting from the source (i.e. it is very hard to start a query without a source).

[2015-05-01 09:19] josevalim commented on #534
We could also support both:

1. If scope is nil, use model.__struct__
2. If scope is a list, generate the where based on the model automatically
3. If scope is a anything else, use it as a queryable

For now though, I think it is fine for us to start with scope as a list. :) So good job!

[2015-05-01 12:33] josevalim commented on #564
We have gone with `:empty`. Thanks everyone!

[2015-05-01 12:33] #564 closed

[2015-05-01 12:35] josevalim commented on #569
If we expose an API for reserving, do we also need an API for checking it back in?

[2015-05-01 20:03] ericmj commented on #534
Can you provide scopes that can be written with queries but not with a list of fields? If not, I don't think we need the extra complexity.

[2015-05-04 09:03] #534 closed

[2015-05-04 15:42] josevalim opened #582 "put_change/3, put_new_change/3 and change/2 should check if the value is different from the one in the model"
If the value is the same as in the model, we won't add it to the list of changes. If it is different, we add it.

We will also introduce `force_change/3` which works as `put_change/3` today.

Is someone interested in picking this up? We should release v0.11.1 afterwards with those fixes.

[2015-05-04 16:17] bernardoamc commented on #582
@josevalim I will try to come up with something tonight. :)

[2015-05-05 08:14] #582 closed

[2015-05-05 15:58] MSch commented on #569
In our use case the processes that reserve workers do so in `init` and keep the same worker around forever, so there's no need for checking it back in. One performance optimization we have planned would require us to hand the worker from one process to another and back again, but also not giving it back to the pool.

[2015-05-05 16:01] drewolson opened #584 "validate_unique should be resilient to nil in the :scope attributes if they are required."
Currently, if the attribute provided to `validate_unique` is both a required attribute and `nil`, `validate_unique` will not run. However, if an attribute provided to the `:scope` option is both required and `nil`, the function raises and exception. I believe it should not run in this case as well.

[2015-05-05 16:07] ericmj commented on #584
The bug is that `validate_change` only runs if the field changed. But with the scope we are looking for multiple changes; the field and all the scopes. We can add `validate_changes` that checks multiple changes?

[2015-05-05 16:11] drewolson commented on #584
I really like the idea of `validate_changes` and I think it would both solve this issue and be useful in its own right.

[2015-05-05 19:18] josevalim opened #585 "Do not make queries in Ecto worker"

[2015-05-05 19:19] josevalim commented on #584
We have decided to run validations if any field has changed and there is no validation error in any of them.

[2015-05-05 19:22] drewolson commented on #584
This seems reasonable to me.

[2015-05-05 21:12] ericmj opened #586 "Give better error message when an alias is given as type in migration"

[2015-05-05 21:49] fishcakez commented on #569
This sounds like something poolboy would be good at. Have you considered making a repo of 1 connection just for this purpose?

[2015-05-06 10:24] MSch commented on #569
@fishcakez not really, I thought the need to either duplicate all involved models and functions using the repo or pass the repo around as argument to them, and then having to figure out how to DRY up the configuration for those two repos would make that a worse workaround.

I think the real problem I have is that the pool and the repo are linked together. If I could define multiple pools and selec

[2015-05-06 10:43] josevalim commented on #569
@MSch we could support an option on every query called :worker. If this option exists, we use instead of checking one out, I don't think this would fix your problem though because then you need to pass this option everywhere.

[2015-05-06 10:50] MSch commented on #569
@josevalim exactly, it'd have to be in the pdict, like transactions work right now.

[2015-05-06 10:54] josevalim commented on #569
Hell just called, they confirmed they have a place for you. ;)

[2015-05-06 10:55] #586 closed

[2015-05-06 10:57] MSch commented on #569
Hehe :)

But I always did think that the automatic checkin/checkouts feel a bit too much like magic to me, maybe being explicit about the worker and passing it around everywhere would even not be so bad. (On the other hand we've already written all that code where we don't pass around the worker)

[2015-05-06 11:03] fishcakez commented on #569
@MSch you're right, the duplication would be a pain and is asking for trouble :(.

[2015-05-06 11:17] #584 closed

[2015-05-06 13:14] drewolson commented on #584
Awesome, thanks. @josevalim are you planning on releasing 0.11.2?

[2015-05-06 13:15] drewolson commented on #584
And I see it's already done. You're too quick for me.

[2015-05-08 12:37] noizu opened #587 "Need process for dynamically setting database port/host."
I run elixir within a docker instance and need the ability to set the database port/host at runtime from :os.environment variables.

The ability to set credentials via environment variables is also a common requirement for build systems where database details may not be known in advance.  Is there already the ability to do this with the current code base. I've glanced things over for a bit but am

[2015-05-08 12:57] josevalim commented on #587
It should be possible via the URL option or just reading environment variables in your config:

[code]

And so on.

[2015-05-08 12:57] #587 closed

[2015-05-08 13:20] noizu commented on #587
ack,  that works. Thanks for the prompt reply that was killing me.

*   Keith Brings *
   President, Noizu Labs, Inc.

*    Email: *
    keith.brings@noizu.com

*    Skype: *
    keith.brings
    (718) 618-4265

On Fri, May 8, 2015 at 7:57 PM, José Valim <notifications@github.com> wrote:

[2015-05-08 13:36] noizu commented on #587
Specifically:

  port: System.get_env("MYSQL_PORT_3306_TCP_PORT") |> Integer.parse |> elem(0),
  hostname: System.get_env("MYSQL_PORT_3306_TCP_ADDR") |> to_char_list

since matching fails on String Port.

note, allowing for matching on String Port followed by integer parse might save some users config headaches in the future.

[2015-05-09 12:08] stevegraham opened #589 "Problem with interpolated UUIDs in Ecto.Query"
Given the example query:

[code]

This results in a function clause error in `Postgrex.Extensions.Binary.encode/4` when running the query. Looking at the function it matches on the byte encoding of a UUID, e.g. `<<90, 240, 69, 115, 43, 113, 66, 222, 162, 208, 226, 89, 85, 39, 254, 42>>` rather than the ASCII encoding `5af04573-2b71-42de-a2d0-e2595527fe2a` handed by Ecto.

I'm currently working aro

[2015-05-09 12:18] ericmj commented on #589
Use `Ecto.UUID` as a type if you use the string representation.

[2015-05-09 12:22] stevegraham commented on #589
Thanks @ericmj!

[2015-05-09 12:22] #589 closed

[2015-05-09 18:40] fishcakez commented on #585
I would like to pick this up by adding more callbacks to the `Ecto.Adapters.SQL.Connection` behaviour and removing `connect`, `disconnect` and `query`.

[code]

This will allow Ecto to wrap the SQL drivers and convert begin/all/rollback/savepoint etc on the same connection process to a query and then call `handle_query`. `begin`/`rollback` would also trigger a monitor/demonitor of the client.

Ect

[2015-05-09 18:52] josevalim commented on #585
Please go ahead @fishcakez . I am confident you would do a better job than me and making it SQL independent was on the roadmap too! :heart:

[2015-05-09 19:10] lpil opened #590 "It it possible to iterate across all rows in a table without loading the entire table into memory?"
edit: Now that I think about it, this probably wasn't the best place to asking, sorry!

[2015-05-10 06:39] josevalim commented on #590
It is possible but we don't have something that does it by default yet. You need find in batches, using limit and offset to load the data as you go.

[2015-05-10 06:39] #590 closed

[2015-05-11 12:44] Theemuts opened #593 "Creating foreign key in a migration with references/2 leads to FunctionClauseError"
If I add a foreign key which references the id (contains UUIDs) column with
```references(:tblname, type: uuid)```
a FunctionClauseError is raised in lib/ecto/adapters/postgres/connection.ex:525 when I try to migrate. Considering that I'm passing a reference to column_type/2, I would expect that the function should have pattern matched on the first definition in line 519, rather than the third.

[2015-05-11 13:05] skyeagle opened #594 "custom SQL queries"
An [example](https://github.com/elixir-lang/ecto/blob/master/lib/ecto/adapters/sql.ex#L138) from docs doesn't work for me.

[code]

[code]

So, it doesn't interpolate arguments which were passed as array.

[2015-05-11 13:07] josevalim commented on #594
I think it is because the operator is ambiguous. Maybe:

    iex> Ecto.Adapters.SQL.query(MyRepo, "SELECT $1::integer + $2::integer", [40, 2])

?

[2015-05-11 13:08] josevalim commented on #593
Can you provide the complete example of your migration just so we are sure?

[2015-05-11 13:10] skyeagle commented on #594
Yeap, you are right! Thank you!

[2015-05-11 13:35] Theemuts commented on #593
Of course, when I'm copying my migration and decide to try one final thing, I find my error. I defined a type when adding the reference (```add :fkey, :uuid, references(:tblname, type:uuid)``` rather than ```add :fkey references(:tblname, type:uuid)```

That way, the reference was passed to column_type as the options, rather than as the first argument.

[2015-05-11 13:35] #593 closed

[2015-05-11 15:28] laurocaetano commented on #594
I guess this can be closed now, right?

[2015-05-11 15:32] #594 closed

[2015-05-11 20:55] ricn opened #595 "Add validate_confirmation"
Just like validates :email, confirmation: true in Rails.

[2015-05-11 23:23] renatomoya commented on #371
@josevalim Does it require work to be done in the adapters packages at some level? Any chance this can be split into two smaller but related issues?

[2015-05-12 06:09] josevalim commented on #371
@renatomoya no, no work should be required on the adapters packages themselves.

[2015-05-12 12:46] gjaldon commented on #371
I have a lot of free time this week so will finally get started with this.

[2015-05-14 14:11] mitchellhenke opened #599 "After Connect Hook on Repo"
My use case is related to using pg_trgm to search text.  The default limit is 0.3 (http://www.postgresql.org/docs/9.1/static/pgtrgm.html#PGTRGM-FUNC-TABLE), and if you set it using`set_limit()`, it will reset to that default after disconnecting, so my solution has been to call `set_limit()` using an after connect in other [ORMs](http://sequel.jeremyevans.net/rdoc/classes/Sequel/ConnectionPool.html

[2015-05-14 15:53] jeregrine commented on #599
I am thinking it could work similar to how the query logger works. I *think* we should be able to put the hook here https://github.com/elixir-lang/ecto/blob/master/lib/ecto/adapters/sql.ex#L333

[2015-05-14 22:41] ricn opened #600 "Param issues"
This issue was created here before: https://github.com/phoenixframework/phoenix/issues/889

I have created a new Phoenix project (v 0.13.0) and then I ran
mix phoenix.gen.html User users name:string

Then I added IO.inspect params in the generated changeset function in the User model and I noticed that the params looks different if I run the controller test or the model test.

The controller test

[2015-05-17 10:09] josevalim commented on #600
The cast/4 function is going to normalize the params for you. So if you check for `changeset.params` after calling `cast/4`, you will have the normalised data.

[2015-05-17 10:09] #600 closed

[2015-05-17 10:13] #595 closed

[2015-05-17 13:28] Kabal opened #602 "no function clause matching in Postgrex.Extensions.Binary.encode/4"
I just started playing with Ecto (with Phoenix framework) and I keep getting this error when trying to do a simple query. I'm probably doing something incorrectly - I don't really know Elixir I'm just kind of fudging my way through it :-)

Anyway, I have a model  that has a :integer called facebook_id, and I'm trying to do this:

    query = from u in User,
      where: u.facebook_id == ^userID

[2015-05-17 13:49] josevalim commented on #602
Please post your postgrex and Ecto versions. In any case, be sure you are
on latest. Also, if you can print userID, it would be great. For the
terminal, you need to import Ecto.Query before using "from".

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-05-17 13:51] nurugger07 commented on #602
It's been awhile but...

Try adding the `select u` to the end of your query so

` from u in User, where: u.facebook_id == 1234, select u`

Hope this helps :)

On Sun, May 17, 2015 at 9:28 AM, Tom Wilson <notifications@github.com>
wrote:

[2015-05-17 14:25] Kabal commented on #602
Thanks for the import Ecto.Query tip. Playing around in iex I realised it worked fine for small numbers. So I checked my postgresql table and sure enough it was integer instead of bigint. Changing it to bigint made it work just fine.

Is there any way to make the built in table generation use a bigint? From what I can make out from the Eco.Schema docs :integer is the only integer number type?

[2015-05-17 18:57] josevalim commented on #602
In your migration you can pass any database type as the column. In this
case, bigint, integer, serial, all map to :integer in your model.

@ericmj is it possible to raise a nice error message in this case?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-17 20:27] ericmj commented on #602
@josevalim We could improve the error messages for some type.

[2015-05-18 07:31] josevalim commented on #602
Move the issue to postgrex. Thank you!

[2015-05-18 07:31] #602 closed

[2015-05-18 11:09] Kabal commented on #602
:bigint in the migration works great, thanks again.

I'm really liking this library by the way (and phoenix, and elixir!). Thanks for your hard work @josevalim

[2015-05-18 11:45] MSch commented on #599
+1ing that as well.

Our use case is getting the Postgres backend pid for the connection for metrics/logging.

[2015-05-18 12:18] skyeagle opened #603 "feature: ecto fixtures"
Hello Ecto Team!

Are there any plans to implement ecto fixtures like AR in Rails does or are there any other ways to so?

In my experience fixtures are more useful for larger projects than model factories.

Thank you.

[2015-05-18 14:35] scrogson commented on #603
You can easily do this without any added feature using `mix run`.

I've created a file in `priv/repo/seeds/seed.exs` that is simply:

[code]

If you need helper functions to set values, just wrap in a module and create a `run/0` function and call it at the end of the file.

Hope that helps.

[2015-05-18 14:37] scrogson commented on #603
Oh and then to run it: `mix run priv/repo/seeds/seed.exs`

[2015-05-18 14:50] skyeagle commented on #603
@scrogson You recommend to populate tetst with seed data but I want to have `named fixtures` in my tests. So, for example, I could able to write some thing like this:

users.yaml
[code]

tests/user_test.exs
[code]

Anyway, thanks for the reply.

[2015-05-18 14:58] scrogson commented on #603
Have you looked at Blacksmith? It's on hex.

[2015-05-18 15:06] skyeagle commented on #603
@scrogson yes, I've looked at Blacksmith but for complex projects with a lot of associations it's really hell to raise up all association dependencies in a way (factories) like they do. So, I bet for fixtures.

[2015-05-18 16:13] josevalim commented on #603
I am also a fixtures fan but we don't plan to ship it fixtures nor factories with 1.0. I would really appreciate if the community starts exploring those tools though so we can make an informed choice/decision in the future.

[2015-05-18 16:13] #603 closed

[2015-05-19 11:30] josevalim opened #606 "Add put_source to Ecto.Model"

[2015-05-19 11:31] josevalim opened #607 "Discuss generic mechanism for extending table creation"
Today we have Engine but... can we make it more generic to allow any command before/after the table?

[2015-05-19 14:28] tony612 commented on #606
Does it just mean something like this?
[code]
Or maybe I didn't get the point?

[2015-05-19 20:22] josevalim commented on #606
Exactly. Do we need this function? Or should we ask people to go through meta? @ericmj?

[2015-05-19 23:24] ericmj commented on #606
I think it makes sense to support this with a proper function.

[2015-05-20 07:31] josevalim commented on #606
Great. @tony612 can you please send a PR?

[2015-05-20 07:32] tony612 commented on #606
@josevalim Of course :)

[2015-05-20 16:44] #606 closed

[2015-05-21 11:29] fishcakez opened #609 "Test transaction/sandboxing lost if worker exits"
If the (single) worker exits when using a test transaction the replacement worker does not sandbox its connection.

Using the simple example after changing the size to 1:
[code]

[2015-05-21 13:26] ericmj commented on #609
@josevalim Can we just start a new transaction if `sandbox` is `false`?

[2015-05-21 14:12] josevalim commented on #609
If sandbox is true you mean?

[2015-05-21 14:19] ericmj commented on #609
The restarted worker should have `sandbox: false` since it's a fresh worker. If `restart_test_transaction` is called when `sandbox: false` we just ignore the call today, why not start a new transaction instead?

[2015-05-21 14:30] fishcakez commented on #609
Can't queries be made in between the exit (i.e. to the replacement worker) and a `restart_test_transaction` call?

[2015-05-21 14:35] josevalim commented on #609
@fishcakez it can but it will be wrong anyway (because they will be in the wrong transaction).

[2015-05-21 14:41] fishcakez commented on #609
Right, it is wrong transaction or rather there is no active transaction at that point. This means sandboxing isn't happening and when `restart_test_transaction` is called the sandbox is created after the queries between the exit and the restart. This means there is opportunity for sandboxing not to occur and to create the wrong sandbox.

[2015-05-21 14:52] ericmj commented on #609
I think this can only happen if you run async tests - which you shouldn't.

[2015-05-21 14:55] fishcakez commented on #609
A single test might include multiple processes.

[2015-05-21 15:04] ericmj commented on #609
Good point, the worker needs to know it is running during testing when it restarts.

[2015-05-21 19:49] fishcakez opened #610 "Nested transaction does not rollback or raise if SQL exception caught"
Using the `Simple` example and a raw query that raises because `bad` is not a column:
[code]
Results in the following exception when `Simple.sample_query/0` is called:
[code]
If the above nested transaction was a top level transaction the transaction would be rolled back on commit - but only the top level transaction can `COMMIT`. If `RELEASE` was used when "committing" nested transaction the abov

[2015-05-21 19:50] fishcakez opened #611 "If begin raises in a nested transaction the outer transaction is rolledback to an invalid or previous savepoint at the same level"
Using the `Simple` example and a raw query that raises because `bad` is not a column:
[code]
Results in the following exception when a transaction is attempted:
[code]
Or when a previous transaction has occurred at the same level:
[code]
The begin raises but the rollback succeeds and rolls back to the beginning of the prior transaction at the same level:
[code]

This can combine with #610 for utte

[2015-05-21 19:55] fishcakez commented on #610
Thank you to @ericmj for help verifying this issue.

[2015-05-21 20:48] ericmj commented on #610
We should be able to fix this by detecting when the transaction has been aborted (when the query returns a `%Postgrex.Error{}`). We continue executing commands in the query (they will all return "transaction aborted"). At the end of the transaction we roll back to the transaction's savepoint and we should be able to continue in a valid, outer transaction.

[2015-05-22 19:14] liveforeverx opened #613 "Should ecto supports more iso8601 input formats?"
Make it sense to have default behaviour, to casting timezone information(as supported in iso8601) to universaltime with Ecto.DateTime?

[code]

Hopefully, it is not confusing, but may be good default behaviour for dealing with input sources from iso8601-compatible non-timezone datatype.

[2015-05-22 19:33] josevalim commented on #613
/cc @lau

[2015-05-22 21:32] liveforeverx commented on #613
Yes, a question for the case, if it is not needed to deal with timezones at all(there is no need to download tzdata). Use case (may be very rare?) only to accept iso8601 and save it in UTC to what Ecto.DateTime is good for.

But seems, like Calecto, doesn't support it too, in that form:

[code]

[2015-05-22 22:48] lau commented on #613
Thanks for cc'ing me @josevalim , I love these datetime problems :)

As it is today it seems that a Ecto.DateTime is what I would call "timezone naive" struct. It does not claim to be in a specific timezone. It does not claim to be UTC. If casting would work like in the example, it would mean that DateTime would be treated as UTC. But not everyone uses Ecto.DateTime for only UTC. If you use the wa

[2015-05-23 06:15] liveforeverx commented on #613
Thanks for explanation, I've thought, that it can be a reason.

Ok, I need to do it with my own type, or contribute to Calecto with iso8601 parse support, but it will be explicitly parsed, not casted? iso8601 supports +0100, and I do not have any influence on sender.

I've read about year or so a blog post, which have say, that if you do some service for people over all world and need to deal with

[2015-05-23 06:15] #613 closed

[2015-05-23 09:10] josevalim commented on #613
Thanks for the input @lau.

[2015-05-23 09:33] lau commented on #613
@liveforeverx If you haven't yet, check out this blog post: http://www.creativedeletion.com/2015/05/10/the-need-timezones.html And the other ones on the blog from this year related to time.

You could write your own ISO8601 parser, that produces a tuple that Ecto.DateTime.from_erl can use.

I have just updated Calendar to also support parsing of timestamps where there is no colon in the offset. So

[2015-05-23 11:47] josevalim opened #616 "Discuss if adapters should enable keep alive by default"
A user posted an issue with connection being dropped of with Postgres:

https://groups.google.com/forum/#!topic/elixir-ecto/XDIQfwMhHd8

Some search revealed that libpq, for example, enables keepalive by default. Should we do the same in our adapters?

At least I recommend all adapters to support configuring the tcp connection. I have pushed this commit to Postgrex and I recommend the other adapte

[2015-05-24 09:18] liveforeverx commented on #616
Added: https://github.com/xerions/mariaex/commit/d4c5cb7a5b4ddb64e091f8771659667b8e0bb681 and released 0.1.5.

Inactive clients will be proactive closed by MariaDB (at least on Galera Cluster per default). It has there very tiny default inactive interval (something like 1 second, and after that connection will be closed).  If there will be something like network split, without keepalive, the conne

[2015-05-24 11:35] fishcakez commented on #616
If the connection is regularly dropped within 10mins on the network, as in the email, I think `raw` socket options will be required to set a low enough keepalive interval. These are OS specific.

@liveforeverx Keep alive is at the tcp level so wont prevent application level idle timeouts.

[2015-05-24 11:45] liveforeverx commented on #616
@fishcakez , I know. But, keepalive should help on network splitts and firewalls(which are mostly drop inactive connections too).

[2015-05-24 12:43] fishcakez commented on #616
Ah I am confused by your 1 second comment.

[2015-05-24 14:24] gjaldon opened #618 "Nested changesets"
In cases where we'd want to create a `User` and require that it has an associated `Address`, it would be great to be able to call `Repo.insert(changeset)` and have Ecto create both a `User` and its associated `Address`. We could do this by having the changeset for `Address` stored in the changeset for `User` when we call `cast/4` on `User` with the `:address` association as one of its required 'fi

[2015-05-24 15:41] whatyouhide commented on #618
I'm a little scared by the second point, making `changeset/2` required in all models; I think it may limit the generality of an `Ecto.Model`. Couldn't we just raise an error on missing `changeset/2` (maybe with an option somewhere to specify a different function to call? Provided it could be implemented in a simple way).

[2015-05-24 17:56] josevalim commented on #618
This is roughly what is intended for #357. There are many details I am not sure yet and we have more pressing concerns to handle before 1.0. So the plan is to tackle this after 1.0 is out. :)

[2015-05-24 17:56] #618 closed

[2015-05-24 18:32] liveforeverx commented on #616
@fishcakez want only mention, that I doesn't seen such behaviour(as in error in mailing list) with Mariadb/MySQL at all, as it wasn't silently closed, that it was always explicit closed. With galera cluster, I'll see after one second of inactivity the connection is closed. Connection closed explicitly in this inactive interval, and for next query ecto starts simple new connection without errors.

[2015-05-25 02:25] gjaldon commented on #618
Ok will follow that issue then :)

[2015-05-25 18:34] michalmuskala opened #619 "Default primary key"
By default in Ecto the primary key is `id`. In MongoDB that I will be integrating it is `_id`, and as far as I can tell it cannot be changed.

We should discuss how to address this issue. Should there be some way to allow adapters inject code into models (I'm not sure that it's a good idea), or maybe everybody should specify the different primary key by hand in each model. Maybe there's another wa

[2015-05-25 21:32] josevalim commented on #619
I thought a little bit about this and I believe the best option is to automatically translate "_id" to whatever primary key is being used by the model. This may require changes to the adapter so they receive this kind of information but it is the closest we can get to have it working transparently.

[2015-05-25 21:32] josevalim commented on #619
Thoughts?

[2015-05-26 15:16] fishcakez commented on #610
This one is tricky because mysql and postgres behave differently - mysql does not raise when calling `sample_query` and so probably should not be rolledback. I assume other databases may have different behaviours. I think we should use `RELEASE` (and rollback if that raises) so that the driver's behaviour is enforced. Otherwise will likely have to move transaction logic to the connection process.

[2015-05-26 15:38] michalmuskala commented on #619
Such translation would solve the problem with the key name, but what about it's type?
By default it's integer, in mongo it's ObjectID that is basically a 12 byte structured binary.
The same issue would arise with the default foreign key type.

What about the mongo adapter defining it's own base model module like this:
[code]

Then instead of using `Ecto.Model` one would use `MongodbEcto.Model`

[2015-05-26 17:59] josevalim opened #620 "Adapters should receive the primary key on insert/update/delete"

[2015-05-26 18:59] josevalim commented on #619
Yes, we should also consider the type.

At first, I would like to avoid things like `MongodbEcto.Model` because it can then becomes a escape goat. It would allow us to hide everything that is not compatible inside it. So I think we should avoid it as much as we can.

One idea is to introduce the :id type (or :binary_id). It is not a UUID but it is also not an Object ID. It is synonymous to a binar

[2015-05-26 19:03] josevalim commented on #620
This is related to read_after_writes. read_after_writes does not work on MySQL nor in any other document-based adapter. We need to figure out how those will fit together as well as compound primary keys.

[2015-05-26 19:08] josevalim opened #621 "validate_number does not work with decimals"

[2015-05-26 19:46] josevalim commented on #620
Another alternative is to push to use `autogenerate` true as we can take care of it inside Ecto and not at the db level, removing the need for read_after_writes as much as possible.

[2015-05-27 10:56] #585 closed

[2015-05-27 10:57] josevalim commented on #616
The cause of the issue was another one. Let's not change keep alive defaults but still provide :socket_options so users can configure it. Thanks everyone.

[2015-05-27 10:57] #616 closed

[2015-05-27 10:59] josevalim commented on #610
We have agreed that if begin/rollback/savepoint command fails, we will always assume the connection has gone bad because it is impossible to know the reason the command fail without checking case by case or going adapter specific.

[2015-05-27 10:59] #610 closed

[2015-05-27 11:01] josevalim commented on #611
We have agreed that if begin/rollback/savepoint command fails, we will always assume the connection has gone bad because it is impossible to know the reason the command fail without checking case by case or going adapter specific.

[2015-05-27 11:01] #611 closed

[2015-05-27 11:39] mobileoverlord commented on #616
All up to date
livehelpnow/tds@ 3f9ebb4757821627b0ac07a15c1798fa445a8d89

[2015-05-27 11:40] josevalim opened #623 "Allow queries that check if an entry is in an array"
We can either support it on top of `in/2` (it may mess up type inference) or provide one specific operator for it. It is worth checking how other databases handle this.

[2015-05-27 11:46] ericmj commented on #623
I thought the issue was that only postgres supported this?

[2015-05-27 11:48] josevalim commented on #623
Well, only postgres supports arrays... so I guess it doesn't hurt adding this anyway? The big issue we had before though was that `in/2` behaved specially for Postgres so we just need to be careful with semantics here.

[2015-05-27 11:50] josevalim commented on #609
Fixed in #622. restart will start a new one if one does not yet exist.

[2015-05-27 11:50] #609 closed

[2015-05-27 15:00] jeznet commented on #135
@hamiltop @josevalim Any plans with this?

[2015-05-27 15:42] hamiltop commented on #135
I might be able to carve out some time in the next few weeks to polish up
what I've got. No guarantees though.

On Wed, May 27, 2015, 8:01 AM Szymon Jeż <notifications@github.com> wrote:

[2015-05-27 23:29] jclem commented on #494
Wondering if someone can help me with this: I have a custom type implemented as in @jasonwebster's example above, and a schema like this:

[code]

However, when posting JSON (`{ "type": "data", "data": { "foo": "bar" } }`) to an endpoint like this:

[code]

I get this error:

[code]

[2015-05-27 23:46] jasonwebster commented on #494
My original example above was (I'm editing it for clarity) initially wrong here. `cast` expects an `{:ok, value}` response, just like everything else.

[2015-05-27 23:50] jasonwebster commented on #494
I should also stress that the above isn't all that great. The type really should guard against things that can't possibly be cast to a serializable format at all, rather than leaving that to `dump`--since that's truly meant to turn whatever the model struct has into something your adapter can consume.

Give me a bit of time and I'll post a gist, or maybe even a hex module and repo of an opinionate

[2015-05-27 23:58] jasonwebster commented on #494
FWIW, I've stopped using a generic JSON type in my apps and started enforcing what I'd expect to see in the attribute at the `cast` level. This means implementing types for application specific attributes, rather than just the generic JSON type. This works well because way more often than not you want whatever is in your JSON column to always either be an array or object, so writing up a type is s

[2015-05-28 00:00] jclem commented on #494
@jasonwebster Thanks, that should be super helpful. I eventually figured out the `{ :ok, any }` issue, then had to take some time to realize that I needed to also still create and use a Postgres JSON extension.

[2015-05-28 01:03] jasonwebster commented on #494
Yeah. I've been using just a passthrough Postgrex extension that looks like this:

[code]

That only works because I've done all the marshalling in the Ecto type. I'm a bit conflicted as to which is actually the correct place to do that. Disclaimer: all my examples are for a Postgres specific app, so I don't care about adapter agnosticism.

[2015-05-28 01:23] jclem commented on #494
Same about agnosticism. That looks a little simpler, but yeah I'm not sure what the best approach is, yet.

[2015-05-28 14:56] gjaldon commented on #494
I covered a slightly different approach here [Using JSON Type in Ecto](http://gabrieljaldon.com/articles/using-json-type-in-ecto.html). Hope it helps!

[2015-05-28 15:45] josevalim opened #624 "Introducing id and binary_id"
Different databases (or even within the same database), they are two types of primary keys:

  1. the ones (auto) generated in the database, for example, integer serial keys
  2. the ones (auto) generated in the client, for example, UUID in postgres

In Ecto, only the first is well supported via the `:read_after_writes` option. Read after writes (RAW)  allow us to read a particular field back afte

[2015-05-28 18:40] whatyouhide commented on #624
Great proposal! I'm particularly :+1: for allowing each custom type to autogenerate "itself", this will make things very easily extensible. Awesome work!

[2015-05-29 16:12] stevenproctor opened #626 "Store MD5 (or other hash) of file in migration log table?"
I just read @drewolson's post on Sanity Tests (http://blog.drewolson.org/sanity-tests/), and it got me wondering if it would make sense to track the MD5 (or some other hash) of the file in the table that logs the migrations that were run.

This would allow the migrations to be checked against was was actually run against the database, e.g. a commit/tag that was run, e.g. rc-1 vs rc-2 where a fix w

[2015-05-29 16:52] josevalim commented on #626
I think it is a good starting point but md5 file digests are too brittle. Maybe someone does an operation repo-wise that removes trailing whitespace and then... oops, you are stuck with a trailing whitespace for the rest of your live. :)

We would need some sort of mechanism that allows the hash to be updated in case the file changes for external reasons.

[2015-05-29 17:45] stevenproctor commented on #626
I was kind of thinking about that as well, but wasn't sure if that would get in the way of getting the idea out there as far as the first pass idea goes to get ideas on it.

That one one of the reasons I threw out a "dry run" style check, where you could do a dry run, and either have it just report issues, or give you the opportunity to address changes like that to a migration.

Another case where

[2015-05-29 17:45] stevenproctor commented on #626
Definitely expecting this to get some hammock time and larger feedback from others. ;)

[2015-05-30 15:24] Theemuts opened #627 "Ecto.Changeset.cast/4 does not support custom error messages"
When validating a change, it's possible to set a custom error message, this is not the case for Ecto.Changeset.cast/4. If any required fields are blank, it returns a default error message in English. It would be very nice I could override the default behaviour, e.g. by introducing Ecto.Changeset.cast/5 which accepts a new argument `message: [attr1: message1, attr2: message2, ...]`,  which override

[2015-05-30 15:42] josevalim commented on #627
Right now we indeed do not support any mechanism but we don't plan to. It is very easy to do a follow up pass after casting that translates the "cannot be blank" and "is invalid" to the appropriate format by traversing `changeset.errors`. The reasoning is that we are not sure yet how I18n will work with Ecto, so we don't want to prematurely complicate the cast API.

[2015-05-30 15:42] #627 closed

[2015-05-30 15:44] Theemuts commented on #627
Ah okay, I understand. Thank you for the reply, I'll work around it for now.

[2015-05-30 17:08] #624 closed

[2015-05-30 17:08] #619 closed

[2015-05-30 17:30] gjaldon commented on #621
@josevalim tried looking into this and `validate_number/3` works fine with decimals. Looks like my earlier report was wrong. Sorry for the trouble!

[2015-05-30 17:44] josevalim commented on #621
Yay, even better, no bug to fix! Thanks for pinging back!

[2015-05-30 17:44] #621 closed

[2015-05-30 18:02] gjaldon commented on #621
Anytime! :+1:

[2015-05-31 12:39] citizenparker opened #629 "Way to specify field as read-only (do not insert)?"
I have a field whose value must be generated by the DB at insertion time by calling a Postgres function. I have defined the column as `extern_id varchar(10) NOT NULL DEFAULT next_extern_id()` I would like the application to read the value of this field, however.

I have tried both `:read_after_write` and `:autogenerate` on my field definitions but unfortunately they still try to pass an explicitly

[2015-05-31 13:08] josevalim commented on #629
`:read_after_writes` only reads the column back after writes, it still does not change the value sent. To avoid sending values, you can define a callback that removes the changes from the changeset:

    before_insert Ecto.Changeset, :delete_change, [:extern_id]
    before_update Ecto.Changeset, :delete_change, [:extern_id]

This way the value will never be sent to the database and, with read_afte

[2015-05-31 13:08] #629 closed

[2015-05-31 14:29] citizenparker commented on #629
@josevalim Thanks, I didn't think of that. What does the recent deprecation of `:read_after_writes` mean for this? Is it safe to assume that if it every truly goes away, I'll have some other means of accomplishing this kind of behavior in Ecto?

[2015-05-31 15:49] josevalim commented on #629
It is very likely we can't really deprecate it... so it will stay. I do want to push though towards autogenerate in the next release though.

[2015-05-31 18:48] gjaldon commented on #565
I'd like to work on this, if available.

Just to clarify, is `type/2` a convenience like `field/2` that casts the value according to the type of the provided field?

[2015-05-31 19:54] josevalim commented on #565
`type/2` already exists but it does not accept the second argument to be a field afaik.

[2015-05-31 21:55] citizenparker opened #632 "Editing a previously-compiled module that uses @derive generates a warning"
When I initially add something like `@derive {Phoenix.Param, key: :name}` to an Ecto model and compile, I get no warning and everything is fine. However, any subsequent edits to that file (regardless of whether they change the schema or protocol derivation) generate a warning like `nofile:1: warning: redefining module Phoenix.Param.TestParams.Dog`

https://github.com/citizenparker/test_params/blob

[2015-06-01 09:51] #632 closed

[2015-06-01 09:51] josevalim commented on #632
Thank you so much for giving an application that reproduces the issue, it makes fixing the bug a thousand times easier!

[2015-06-01 10:04] josevalim commented on #620
Done.

[2015-06-01 10:04] #620 closed

[2015-06-01 10:04] josevalim commented on #425
I am closing this. It would be nice to have but currently is low priority.

[2015-06-01 10:04] #425 closed

[2015-06-01 10:09] josevalim commented on #569
@fishcakez Would such a feature work well with sbroker? Because if it won't, we need to come up with another approach for this.

[2015-06-01 10:57] fishcakez commented on #569
It should work fine. The only difference with sbroker is that the worker
checks itself in - instead of the client.

On 1 June 2015 at 11:09, José Valim <notifications@github.com> wrote:

[2015-06-01 13:58] jazzyb opened #634 "Adapter support for Decimal module?"
One of the integration tests in type.exs relies on adapters supporting the Decimal module.  How important is it that adapters support that module?  And if it is optional, can the assertions for Decimal be moved to a separate test (for tagging and exclusion)?

The test in question:  https://github.com/elixir-lang/ecto/blob/master/integration_test/cases/type.exs#L13

[2015-06-01 15:47] josevalim commented on #634
@jazzyb I would advise you to depend on Decimal and add Decimal support to sqlite3 (unless it doesn't support Decimal for some reason). If for some reason you can't or don't want to do that, then we can tag it.

[2015-06-01 15:56] jazzyb commented on #634
I'll see how difficult it would be to depend on Decimal.  I'm sure it can be done.  Thanks.

[2015-06-01 15:56] #634 closed

[2015-06-01 15:57] tjheeta opened #635 "Support for multiple drivers for Mysql, Postgres, etc."
Use case:
Did some benchmarks and found that Mariaex was acting slowly and then made a wrapper around an erlang library that works faster. The new driver is at http://github.com/tjheeta/mysqlex.  I would like to be able to conditionally load whatever driver is available.

#636 is a potential PR, but it doesn't work correctly. Not sure what the best route is to do the conditional include. Ideas?

[2015-06-01 16:09] josevalim commented on #635
@tjheeta can't mariaex be improved? Have you pinged its authors?

[2015-06-01 16:11] josevalim commented on #635
I found your blog post: http://tjheeta.github.io/2015/05/31/elixir-and-erlang-mysql-drivers.html

It would be nice to identify the difference in performance. It seems we have a bunch of room for optimization in our adapters.

[2015-06-01 16:12] josevalim commented on #635
Can you make the apps with those different drivers online? I would love to make things faster. /cc @liveforeverx

Meanwhile, I will think how to best tackle multiple drivers here.

[2015-06-01 16:14] josevalim commented on #635
Those blog posts are very nice. :D Btw, most of the reason of the slow down in Ecto, if you are using directly the `Ecto.Adapters.SQL` is likely the cost of the pool.

[2015-06-01 16:41] MSch commented on #569
We've right now implemented it like this (since we need to hand over the Ecto worker to the subprocess)

[code]

Should I send a PR? Maybe just exposing the underlying pool and the set/unset_worker functions is enough to provide the necessary building blocks?

[2015-06-01 17:06] tjheeta commented on #635
The benchmarking code is at https://github.com/tjheeta/elixir_database_driver_benchmark .

I'll see if I have time to profile it. It's not apparent to me that it would be the pool since I pooled both postgrex and mysqlex.

What would be the best way to conditionally load the drivers?

[2015-06-01 17:20] tjheeta commented on #635
Made an issue at https://github.com/xerions/mariaex/issues/53 for the Mariaex performance.

[2015-06-01 17:27] fishcakez commented on #635
@tjheeta please can you fix your mix.lock file in your benchmark repo so that ecto points to a valid commit so can run the same code as you.

[2015-06-01 17:31] fishcakez commented on #569
This will break in `0.12.0-rc` as the pdict entry stores more information.

[2015-06-01 18:06] josevalim commented on #635
Thanks for the repo! One last question, were you running in prod
environment?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-06-01 18:33] tjheeta commented on #635
@fishcakez - just updated the repo to point ecto to 12.0-rc . To use ecto with mysqlex, you'll have to patch it with https://gist.github.com/tjheeta/800deab2b9e7b2b9651b

Apologies in advance, the ip's for the db are hardcoded in there.

[2015-06-01 18:39] gjaldon commented on #565
Ok got it and will be working on this :)

[2015-06-01 19:18] tjheeta commented on #635
Hmmm...I did not set ```MIX_ENV=prod``` on the runs. Logging is set to ```config :logger, level: :error```.

It seems to have bumped the performance 3-5%. My setup is that finely tuned, but it does make a slight difference.

[2015-06-01 19:20] josevalim commented on #635
Excellent. I will start benchmarking soon too!

[2015-06-01 19:58] liveforeverx commented on #635
Thanks for doing benchmark. I'll check it.

[2015-06-01 20:53] josevalim commented on #635
Hello @tjheeta! So Postgrex is using the extended query, which is the preferred and safest way to send queries with Postgres and epgsql is using the simple query.

Simple query is quite limited, it does not support some types nor query parameters. So text is beneficial for very simple and small queries but it becomes much slower for bigger data.

In any case, if both postgrex and epgsql use extend

[2015-06-01 20:58] liveforeverx commented on #635
On Mariadb I've get mostly the same results for myslqex and mariaex:

[code]

I've installing the mysql to trying it out, but I think, that it can be really related to caching, which is the only real difference between 2 adaptors....and it can be the problem of prepare in mysql https://github.com/xerions/mariaex/issues/43

[2015-06-01 21:07] tjheeta commented on #635
@josevalim - That's great! Is the same true for Mysql-otp and Mysqlex?

@liveforeverx - I don't think it's setup correctly. You'll have to comment out the IO.inspect statements and see what is coming from curl. All the responses should be 200.

[2015-06-01 21:17] liveforeverx commented on #635
@tjheeta Aha, thanks, sorry, will try again.

[2015-06-01 21:21] josevalim commented on #635
@tjheeta I am not sure about MySQL. In any case, this was very important because we are going to force some queries, like BEGIN TRANSACTIONS and so on to use the text protocol as it is much faster. So thanks for all the benchmark work.

[2015-06-01 21:36] liveforeverx commented on #635
[code]

[2015-06-01 21:43] tjheeta commented on #635
@josevalim - Sorry, I total had misread your earlier, I had thought you were comparing ecto performance through postgrex vs epgsql(with extended queries). I'll verify the epgsql vs postgrex numbers. The mysqlex performance difference is probably due to the result parsing in the mapping to convert it to ecto format.

@liveforeverx - I think there's something strange with your setup. The thing you c

[2015-06-01 21:49] liveforeverx commented on #635
@tjheeta no, I've commented all other setups out at the moment, the database wasn't warmed, after trying more time, at the moment, I get this:

[code]

Seems, still be slow...

[2015-06-01 21:55] liveforeverx commented on #635
@tjheeta I'll implement quick test improvement, will you be available for testing it on you setup too?

[2015-06-01 22:00] tjheeta commented on #635
Sure can do. Also, what is the database that you are testing against?

vagrant@test:~$ dpkg -l|grep mysql-server
ii  mysql-server                    5.5.43-0ubuntu0.14.04.1        all          MySQL database server (metapackage depending on the latest version)

[2015-06-01 22:05] liveforeverx commented on #635
MySQL: `Server version: 5.6.21 Homebrew`

[2015-06-01 22:20] liveforeverx commented on #635
@tjheeta ok, can you test branch "cached" (I've setuped it as: `{:mariaex, github: "xerions/mariaex", branch: "cached", override: true}`) ?

[2015-06-01 22:33] liveforeverx commented on #635
@tjheeta on my notebook, mariaex now constantly performs better than `mysqlex`:

[code]

But, I'll setup tests on amazon instance in next days, if something wrong with my database setup.

[2015-06-01 23:36] tjheeta commented on #635
[code]

The performance has improved quite a bit on the new branch, but I think it was giving me the wrong results on the query. I did an IO.inspect before running the benchmark and I got this:
[code]
I restarted the application and it gave me the correct result. Now it's been a long day and I'm pretty sure I didn't delete anything from the db. I would have checked the binary logs if I had them tu

[2015-06-02 06:25] liveforeverx commented on #635
@tjheeta was small bug in cached version, I've fixed it.

I've tested now on 2 CPUs digital ocean machine, and get at the moment not so much difference as in your case(twice better, as on your setup). Is there a way, what I need to do to reproduce it, as it is on your machine?

[code]

[2015-06-02 06:51] liveforeverx commented on #635
After removing String.strip (which eats 9% of time)
[code]

I've get the same results, will profile more.

[2015-06-02 07:56] josevalim commented on #635
I have proposed to @liveforeverx the driver should not be sanitizing the input. In any case, String.rstrip was horribly inefficient as it would always traverse the whole string. I have improved it in Elixir master to be no longer linear and it is now 25x faster for a string with 100 bytes.

[2015-06-02 07:57] liveforeverx commented on #635
With all changes in cached branch, I get at the moment constantly 3-7% better performance as mysqlex on my digital ocean instance. I will finalize the changes this week.

[2015-06-02 08:02] josevalim commented on #635
@tjheeta Ah, no, I was comparing epgsql directly with postgrex, both behind a pool. :)

Ecto is indeed going to be slower if you are writing Ecto queries as we need to translate them to strings, regardless of the adapter. However, I was actually pleasantly surprised it is only 10-15% slower, as it gives a lot of flexibility when composing queries. And that is because we are still not caching query

[2015-06-02 08:12] liveforeverx commented on #635
@josevalim, @tjheeta the issue for prepared statements slowdown seems to be on mysql side. Sometimes waiting between prepare sent and prepare_ok was received is 40 ms without reason, which were not reproducible on mariadb, it is something on mysql side, what will be fixed with query caching.

[2015-06-02 13:17] tjheeta commented on #635
@josevalim - Ecto is definitely pleasantly surprising. :) Hopefully, the raw performance can get to within 5% on simple selects.

@liveforeverx - that makes sense with what I was seeing earlier. It kind of scares me that there's a difference between mysql and maria at this low level. What is the mysql/maria version you used on Digitalocean?

[2015-06-02 13:34] liveforeverx commented on #635
@tjheeta I've used the same mysql version on digital ocean( "Server version: 5.5.43-0ubuntu0.14.04.1 (Ubuntu)" ) as you have. Extra to test, that I have the same performance with mariaex as mysqlex.

[2015-06-02 14:17] tjheeta commented on #635
It's working for me now. We'll need to test concurrent inserts and selects to make sure the cached statements are returning correctly.

./wrk -c 100 -d 10 -t 20 http://localhost:8801/mariaex
Running 10s test @ http://localhost:8801/mariaex
  20 threads and 100 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency    12.12ms    2.88ms  50.59ms   83.63%
    Req/Sec   415.45

[2015-06-02 14:21] liveforeverx commented on #635
@tjheeta Thanks for confirmation!

Can you try to run both with -d 30 and post the results too??

[2015-06-02 14:36] tjheeta commented on #635
./wrk -c 100 -d 30 -t 20 http://localhost:8801/mysqlex
Running 30s test @ http://localhost:8801/mysqlex
  20 threads and 100 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency    11.09ms    3.04ms  82.75ms   92.11%
    Req/Sec   456.72     50.92   666.00     75.87%
  273515 requests in 30.10s, 58.68MB read
Requests/sec:   9087.02
Transfer/sec:      1.95MB

./wrk -c 100 -d

[2015-06-02 16:21] liveforeverx commented on #635
@tjheeta is the last run with `MIX_ENV=prod` ? I'll try to figure out, why it is slower in your setup.

[2015-06-02 16:31] liveforeverx commented on #635
I can reproduce it slower, only in cases, if I didn't start with `MIX_ENV=prod` :

[code]

[2015-06-02 16:53] gjaldon commented on #565
@josevalim I'm stuck with this and need some help. I've defined an `Query.Builder.escape/5` function that matches on the `type(^1, m.x)`. I was thinking of calling `__schema__(:field, field)` on `m` given the ff expression `Model |> select([m], type(^"1", m.id))` from inside the `escape/5` function I defined.

Is it possible to do that? If not, how do I get the type for the field `m.id`?

[2015-06-02 17:04] tjheeta commented on #635
Yup, I didn't start it with prod, but it's a laptop, so I'm not expecting the runs to be too consistent.

[code]

[2015-06-02 17:55] josevalim commented on #565
@gjaldon you cannot call it during compilation time. So you need to escape it, generating AST that is going to be checked and validated in Ecto.Query.Planner. The AST can likely be `type(^"1", m.id)` itself.

[2015-06-02 17:58] josevalim commented on #635
@tjheeta i have tried using mysqlex but it fails some of the integration tests (from the top of my mind, the ones that require Decimal). Are the current improvements good enough for you or would you still like to plug your own adapter? If so, I can merge my changes in, but you would need at least Decimal support for a passing suite.

[2015-06-02 18:34] tjheeta commented on #635
OK, I need to learn how to use an irc client.

The speed improvements are good. I just want to make sure there are no inadvertent bugs under load, I dislike finding these things out in a production environment. I don't suppose there is already a test suite that does what I want to do?

I think the plugging functionality may come in handy if it's not too much trouble.

[2015-06-02 20:55] jazzyb opened #638 "Tag Migrations Relying on Modification and Removal of Columns"
https://github.com/elixir-lang/ecto/blob/master/integration_test/support/migration.exs#L76-L81

SQLite cannot alter or drop columns on tables.  Would it be possible to tag the `modify` and `remove` lines in such a way that they are not run, e.g.:

[code]

or Is there some way to tag tests relying on the above migration in such a way that the migration is never run?

I haven't looked too deeply int

[2015-06-02 21:19] josevalim commented on #638
@jazzyb We should probably move those to a separate test. We were trying to optimize by using the migrations themselves as tests but we should probably move them apart.

[2015-06-03 10:29] josevalim opened #640 "update and delete should also receive autogenerate_id"
@michalmuskala as we discussed on IRC. It will allow you to figure out which one is the ID (if there is one). Can you please send a pull request?

[2015-06-03 12:20] jazzyb commented on #638
I will work on separating these.  I might not be able to get to it until this weekend.

[2015-06-03 12:32] josevalim commented on #638
@jazzyb there is no need to rush. I believe you are the only who needs it anyway. :)

[2015-06-03 21:12] ericmj opened #641 "Implement Inspect protocol for Ecto types"
Specifically the DateTime types and UUID.

[2015-06-03 22:00] josevalim commented on #641
There is no UUID struct. :)

[2015-06-04 09:30] #640 closed

[2015-06-05 13:58] mobileoverlord opened #645 "cannot dump/cast/load :binary_id type"
Ecto.Type.cast/2 throws the folloring error when trying to cast a binary UUID in a changeset in Ecto 0.12.0-rc
[code]

[2015-06-07 10:53] ericmj opened #648 "Cannot dump/cast erlang datetimes to ecto :datetime"
Ecto always expects the usec field but it should able to handle native datetimes.

[2015-06-08 07:24] #648 closed

[2015-06-08 18:29] gjaldon commented on #645
I think that's the expected behavior. You cannot dump/cast/load `:binary_id` type like it says in the error msg. Maybe try using `Ecto.UUID` instead?

[2015-06-08 19:23] josevalim commented on #645
This is a bug in Ecto. We cannot dump/cast/load because it is supposed to be handled before hand. The error message we have today is basically to help us catch bugs.

[2015-06-09 14:46] tony612 commented on #641
What's the format should we adopt for Date(Time)? Just call `to_string` or there's a better format for it?

[2015-06-09 16:48] gjaldon commented on #645
I see. Where is it supposed to be handled?

Is this also the behavior expected when `:binary_id` is not autogenerated? Because looking at `Ecto.Type.cast/2` for `:binary_id`, all it does is raise the error above.

[2015-06-10 13:55] liveforeverx opened #652 "Force insert/update options for Repo"
Support for force insert/update options in Repo.insert
'INSERT ... ON DUPLICATE KEY UPDATE'

Example can be something like it:

[code]

[2015-06-10 13:57] liveforeverx opened #653 "Repo.insert_all"
Support for batch write of more data.

Make it sense to have it, like delete_all, update_all?

[2015-06-10 19:51] ericmj commented on #652
It should be performed on `Repo.insert` because all databases do it on insert and we need to make sure with the upcoming postgresql syntax, mongodb's upsert as well as mysql.

[2015-06-10 19:54] ericmj commented on #653
The mongo driver will soon have support for this, postgrex does not support it yet. Does the mysql driver support it?

[2015-06-11 07:30] liveforeverx commented on #653
Not yet, but we started to work on support for it.

[2015-06-11 19:24] foxnewsnetwork opened #655 "Support options dependent: :destroy in Schema's has_many and belongs_to"
Ecto has a lot of influences from ActiveRecord, and one of the handiest things ActiveRecord had was:

[code]
which provided a good and conventional way of deleting all the `students` after the `school` is destroyed. It would be great if we could also have this feature in Ecto's `has_many` (and `belongs_to`) macros

As per @josevalim 's instructions from this thread in the google group:
https://gro

[2015-06-11 19:31] laurocaetano opened #656 "[MySQL] - Assert that full concurrency is allowed during the DDL"
The [Online DDL documentation](https://dev.mysql.com/doc/refman/5.6/en/innodb-create-index-overview.html) says that MySQL 5.6+ supports concurrency on DDL. Although no syntax change is required in the `CREATE INDEX` or `DROP INDEX` commands, it's possible to assert that the concurrency is allowed using `LOCK=NONE`.

We could add this assertion on the MySQL adapter. @josevalim what do you think?

T

[2015-06-11 19:35] josevalim commented on #656
Yes, let's do this!

[2015-06-11 20:28] gjaldon commented on #655
I'm on this!

[2015-06-11 20:29] josevalim commented on #655
Please hold on. :) The schema does not know anything about callbacks. We need to discuss if we are going to change that or if we are going to support this some other way.

[2015-06-11 21:02] gjaldon commented on #655
I'm roughly thinking to do it this way:

1. Put the name of the association in a module attribute that represents all associations tagged with `dependent: :destroy`
2. Expose this module attribute with a function like `__schema__(:destroys)` (not sure about the name)
3. In `Ecto.Repo.Model.delete/4`, check if `model.__schema__(:destroys)` has anything
4. If it has, then iterate through it and get

[2015-06-11 21:08] josevalim commented on #655
That's one way to go but callbacks would be conceptually cleaner because we wouldn't need to push more logic into the repositories.

[2015-06-11 21:30] gjaldon commented on #655
So if we support callbacks inside schema blocks, we can just have a macro that expands to `after_delete :destroy_dependents` if `dependent: :destroy` opt is passed? That's easier to wrap one's head around.

How will callbacks defined inside schema differ from those defined outside?

[2015-06-12 01:45] tzveeJ opened #658 "Update documentation for UUID Primary Keys"
I'm really struggling with the UUID primary keys in ecto with postgres. Could you update the documentation to make it clearer how to set this up for other folks? At the moment I have this (but something is broken):

[code]

But on inserting into the database, I get a crash with log:

[error] #PID<0.257.0> running AppRouter terminated
Server: 10.0.2.2:4000 (http)
Request: POST /api/conversations
**

[2015-06-12 01:56] tzveeJ commented on #658
Darn, just found an answer. I just had to add this in the Conversation model and it worked. Could still be worth updating the documentation.

@primary_key {:id, Ecto.UUID, read_after_writes: true}

[2015-06-12 06:59] #656 closed

[2015-06-12 07:00] josevalim commented on #658
@tzveeJ that's it. I will improve the docs for those in upcoming versions. Thank you!

[2015-06-12 07:00] #658 closed

[2015-06-12 13:13] gjaldon opened #659 "Add :order_by opt to has_many"
Encountered a problem today where I wanted to order a has_many association by a field other than its `id`. Let's say I have a `User` model that `has_many :feedbacks, Feedback`. I preload `:feedbacks` in `user` so I can display them on the user's profile.

Since the most relevant feedback is the latest one, I want to arrange all feedback to display the newest one first and the oldest one last. Ther

[2015-06-12 20:33] ericmj commented on #641
I would prefer ISO8601 over to_string, we also need to wrap it in the struct name, like this: `#Ecto.DateTime<2015-06-12T22:32:00.123456Z>`.

[2015-06-12 22:56] trevorriles commented on #641
As @josevalim pointed out, `Ecto.UUID` is a string and not a struct so I *think* we are stuck with the string types `inspect/2` implementation unless we change `Ecto.UUID` module to use a struct.

Please correct me if I'm wrong :)

[2015-06-13 13:52] ericmj commented on #659
If we go down this road we should make it more general, maybe each association should be a queryable or you should be able to specify how to query the association when preloading it.

[2015-06-13 16:41] gjaldon commented on #659
That approach is definitely more flexible and gives the user more power over how to query the associations. :+1:

[2015-06-13 16:58] #641 closed

[2015-06-13 21:27] williamgueiros commented on #641
Only to link

https://github.com/elixir-lang/ecto/issues/613

[2015-06-15 18:37] MSch opened #667 "Passing Postgres backend pid to Repo.log"
Opening a separate issue to discuss https://github.com/elixir-lang/ecto/pull/665#issuecomment-111852900 /cc @fishcakez

With #665 I wanted to register the Ecto/Postgrex processes $somewhere so I can look up the mapping between Erlang pid and Postgres backend OS pid, so that I can add it as metadata when logging in `Repo.log/2`.

But if the process isn't in a transaction there isn't a way to find o

[2015-06-15 18:48] josevalim commented on #667
Let's start with worker_pid and connection_pid for now. We can discuss the PG pid once we move to a new pool and support after_connect.

[2015-06-15 18:48] fishcakez commented on #667
Why is the `worker_pid` useful? I think the `connection_pid` and `connection_module` should be added to `Ecto.LogEntry`.

[2015-06-15 21:31] josevalim commented on #667
I was thinking that, if we support after_connect, it will be invoked from the worker and, if you need to store something somewhere, it would be on the worker. I guess though it doesn't matter because the whole point would be to abstract the storing of metadata from the worker so you don't need to access it anyway.

[2015-06-15 22:00] fishcakez commented on #667
Ah ok. I have slight concern there could be confusion over a worker having multiple connections over its lifetime.

[2015-06-16 07:47] liveforeverx commented on #653
We have researched, and found only one possibility to make batching with files(LOAD LOCAL DATA) in MySQL, which is not more typesave. We haven't found nothing, what can be helpfull in MySQL for it.

Only if doing something like this for prepared query:

[code]

Do Postgres have some better support for the task?

[2015-06-16 21:30] MSch commented on #667
I wasn't sure which pid to use, but thought it'd be easier to let `Repo.log` know about the worker pid than about the connection pid. (And then associate a worker pid with a postgres backend in `after_connect)

If mapping postgres backend to worker pid it certainly would help to have a `after_disconnect` as well to remove the mapping.

:+1: looking forward to it

[2015-06-16 21:31] MSch commented on #569
@fishcakez working on upgrading our codebase to `0.12.0-rc` right now, are you saying there's no way to fake the transaction pdict any more or just that we need to adopt the pdict entry?

[2015-06-16 21:32] josevalim commented on #569
You need to adapt the pdict entry only.

[2015-06-20 16:18] josevalim commented on #653
I don't like insert_all because `update_all` and `delete_all` does not run callbacks, so some may expect `insert_all` does not either. Maybe we should just allow a list to be given to insert? Not sure how it would in case of a list of changesets...

[2015-06-20 16:20] #638 closed

[2015-06-20 16:21] josevalim commented on #652
/cc @mobileoverlord and @jazzyb  do we have similar for MSSQL and SQLite?

[2015-06-20 16:23] josevalim commented on #645
Part 1 fixed on master. We have decided to treat team as binaries in the changeset and do the dump check when writing to the repository. We are going to introduce Repo.insert! and allow some errors to be added by the repository.

[2015-06-20 16:23] #645 closed

[2015-06-20 16:26] josevalim commented on #626
I am closing this because we can't act on it right now and we have bigger fish to catch. :) If you have any break through on how we can implement this, suggestions are welcome!

[2015-06-20 16:26] #626 closed

[2015-06-20 16:28] josevalim commented on #635
@tjheeta I am closing this for now as I could not find out a straight-forward way to support multiple drivers. However, you can always create your own driver that delegates the query generation and so on to the Mariaex one. Thanks for bringing this up, all drivers are now faster because of this discussion!

[2015-06-20 16:28] #635 closed

[2015-06-20 16:47] jazzyb commented on #652
SQLite does not have built-in syntax like this for "upsert".  According to [this stackoverflow thread](http://stackoverflow.com/questions/418898/sqlite-upsert-not-insert-or-replace/4330694#4330694) I may be able to emulate the functionality, but I don't know how difficult a generic solution would be.

I'll need to spend some time thinking about it.

[2015-06-20 23:21] liveforeverx commented on #653
Sometimes, it is better to insert/update/delete many values and run consistent check only once after, for all changes?

[2015-06-21 12:14] jazzyb commented on #652
On the SQLite front:  `if_exists: :ignore` can be implemented very easily, but there is no clear solution for implementing `if_exists: :update`.  If the feature is added, I recommend separate integration tests with the `:update` test tagged so my tests can ignore it.

[2015-06-22 01:40] jontonsoup commented on #183
Looking through the docs and noticed that this issue might be outdated? Re: http://hexdocs.pm/ecto/Ecto.Schema.html

[2015-06-22 12:58] josevalim opened #671 "Support changeset constraints"
We will start with unique_constraint (and add unique_index to migrations too).

[2015-06-22 13:06] taybin commented on #183
I looked and didn't see anything mentioning many-to-many. Was there something that jumped out at you?

Sent from my phone

[2015-06-22 13:49] jontonsoup commented on #183
has_many :through is a many to many relationship.

[code]

[2015-06-22 14:04] josevalim commented on #183
@jontonsoup indeed.

We also want to support more direct many to many which automatically manages the intermediate table. And that's what this issue is about. :)

[2015-06-22 14:49] jontonsoup commented on #183
@josevalim I'm slightly confused. The essential functionality that @patrickdet 's comment describes on Mar 6, 2014 seems to have been implemented according to the docs, although not fully. I must be missing something?

[2015-06-22 14:51] josevalim commented on #183
@jontonsoup the functionality described by @patrickdet is not the one aimed to be supported by this issue. We want to add `many_to_many "tags", Tag` or something similar.

[2015-06-22 14:52] jontonsoup commented on #183
Ah, I see — thanks for the clarification. 

Best,

Jon

On Mon, Jun 22, 2015 at 10:51 AM, José Valim <notifications@github.com>
wrote:

[2015-06-22 17:55] zmoshansky opened #674 "Ecto.Changeset - Support array based validators"
Validating arrays to check if each item is included in a set, or that an array is non-empty would be very useful. This may be specific to postgresql at the moment, but still super useful. Maybe related #623

Apologies if the code isn't idiomatic, been watching elixir for a long time and just jumping in :)
[code]

[2015-06-22 18:17] josevalim commented on #674
Can you give examples? I understand why you may want to check if an array
is empty but I can't see why you would check if the array contain all the
given entries. Wouldn't you rather check if it has *any* of the entries?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-06-22 18:34] mobileoverlord opened #675 ":binary_id should be wrapped in Ecto.Query.Tagged"
Having a problem in TDS where binary_id's need to be explicitly identified for casting purposes. :binary_id's should be wrapped in Ecto.Query.Tagged instead of being presented as standard binary.

[2015-06-22 18:52] zmoshansky commented on #674
Checking for *any* of the entries would also be useful. However:

Rather than array containing all the given entries; I would like to enforce that the entries given are a subset of those allowed. Basically, white-listing which values are acceptable to be in the array.

In the below example, I would not like "humans" to be an acceptable farm animal.
[code]
Create POST Request
[code]

[2015-06-22 19:27] josevalim commented on #674
Ah, so you want to validate it is a subset of the given list. I don't like `validate_inclusion_each` but `validate_subset` is not super clear. Thoughts? :)

[2015-06-22 20:57] josevalim commented on #675
Fixed on master. Please let me know if it works and, once it does, I will release Ecto v0.12.1. Also note that master has a new map type. In order to support it, you just need to do the same changes as we did to the mysql driver: https://github.com/elixir-lang/ecto/commit/6f6b300273d352a326c040f66b7c849ace7e5474#diff-975ad8a7b1f8e27ac59595bcdbdd0a07

Do not encode it as XML because apparently JSON

[2015-06-22 20:57] #675 closed

[2015-06-22 23:01] zmoshansky commented on #674
Perhaps validate_array_subset or validate_array_subsumed? I'm happy with
the set notation as I feel it describes exactly what's happening, and if
one's not familiar, docs could easily explain.

Other options may be validate_array_inclusion, or validate_inclusion_all,
or validate_array_whitelist.

Final thought, perhaps have the existing validate_inclusion cover this case
as it is the scenario wher

[2015-06-23 06:48] josevalim commented on #674
@zmoshansky we could use validate inclusion. If the value in the model is a list, we could traverse the list checking all entries belong to the list supplied to the validator.

It has the downside that someone wouldn't be able to write:

    validate_inclusion(:list, [["a", "b"], ["b", "c"]])

But I can't imagine any scenario someone would like to write that... @ericmj thoughts?

[2015-06-23 12:50] josevalim commented on #655
I talked to @ericmj, here is how we could implement this. We will have `Ecto.Model.Dependent` that will register a `@before_compile` hook and in the before compile check the defined associations and register the proper callbacks. All we need to do is to store the dependent information in the association reflection. Also, we shouldn't call it `destroy` because there is no `destroy` in Ecto. I think

[2015-06-23 14:03] #607 closed

[2015-06-23 14:04] josevalim opened #678 "Support options on table create"
API:

    create table(:foo, options: "WITH FOO = BAR")

It will generate:

    CREATE TABLE FOO () WITH FOO = BAR

Pull requests are welcome!

[2015-06-23 14:24] mobileoverlord commented on #652
Upsert is available in MSSQL.

[2015-06-23 16:21] zmoshansky commented on #674
@josevalim While I can imagine there may we cases like that, I would expect them to be an exception rather than the norm. Regardless, I personally wouldn't expect a framework to handle them by default, and one can always write a custom validator.

At first, I thought we may wish to handle that scenario via `validate_inclusion(:list, List.flatten(value), data)`.But, on second thought, I believe it

[2015-06-23 17:00] josevalim commented on #674
Ok, so there we have it, we can either be `validate_subset` or `validate_inclusion`. The subset one is more explicit about everything, that is probably preferred. :) If you want to send a PR, it would be welcome!

[2015-06-23 18:29] foxnewsnetwork commented on #655
@josevalim hey, that's a good and clean way of implementing it; really cool. But how about `:fetch_and_delete` and `:delete_without_fetch`? It's a little longer, yes, but that way, it's a little more clear to us end users what Ecto will be doing.

[2015-06-23 18:38] josevalim commented on #655
Good point. We have possibly four options: `nothing`, `fetch_and_delete`, `nilify_all` (sets the foreign key to nil with an update_all query)  and `delete_all`. We don't need to support them all, just pointing the names. What do you think?

[2015-06-23 19:13] foxnewsnetwork commented on #655
I think that's a great idea.

[2015-06-23 20:20] liveforeverx opened #679 "[mysql] tiny int, which are booleans in schema, should be converted to boolean"
This change will support to use tiny ints as integers ( related issue: xerions/mariaex#63 ).

[2015-06-23 20:33] liveforeverx commented on #679
Seems, like it working, the tests are passing at least with mariaex 0.3.0, I'll check implementation.

[2015-06-23 20:34] josevalim commented on #679
Apparently we already check it: https://github.com/elixir-lang/ecto/blob/master/lib/ecto/type.ex#L363-L364

Nothing to do here. :)

[2015-06-23 20:34] #679 closed

[2015-06-24 01:06] fbjork opened #682 "Can't get JSON extension to work"
Hi,

I added the `extensions` line to the Repo config in `dev.exs` to enable the JSON extension:

[code]

But when I add a `:jsonb` field to my schema:

[code]

I get the following error:

[code]

Any ideas what I'm doing wrong?

[2015-06-24 07:19] josevalim commented on #682
You need to tell Ecto how to work with your data type too. However, it is probably just easier for you to use Ecto master, which supports a `:map` type that will serialize to jsonb in databases like postgres.

[2015-06-24 07:19] #682 closed

[2015-06-24 09:03] josevalim commented on #638
Btw, once SQlite3 tests are passing, feel free to send a pull request to update the table in the README. :) Thank you for working on it!

[2015-06-24 09:13] josevalim commented on #565
@gjaldon I have some time to clean up Ecto backlog. May I take this?

[2015-06-24 09:49] gjaldon commented on #565
@josevalim ok please go ahead. I was having trouble taking this on and
would be happy to see how you would solve it. :)

On Wed, Jun 24, 2015 at 5:13 PM, José Valim <notifications@github.com>
wrote:

--
Gabe Jaldon

[2015-06-24 10:41] #565 closed

[2015-06-24 11:23] #623 closed

[2015-06-24 11:30] josevalim opened #683 "Hello Ecto Adapters team!"
@jazzyb @mobileoverlord @liveforeverx @michalmuskala ,

I have created a group called @elixir-lang/ecto-adapters, you should have received an invitation. Once you accept, you will automatically watch the Ecto repository which you can Unwatch (button in the upper right corner) if you want.

However, don't ignore notifications as the goal is to copy everyone in the @elixir-lang/ecto-adapters team on

[2015-06-24 11:30] #683 closed

[2015-06-24 11:34] josevalim opened #684 "Adapter support for maps"
For @elixir-lang/ecto-adapters ,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3
* [x] Mongo

Here is the relevant commit: https://github.com/elixir-lang/ecto/commit/6f6b300273d352a326c040f66b7c849ace7e5474. If your database supports JSON natively, copy Postgres changes. If it doesn't, copy the MySQL ones (which encodes them when emitting the query).

[2015-06-24 11:38] josevalim opened #685 "Handle (or raise) keyword fragments"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3
* [x] Mongo

Due to the upcoming NoSQL support, we now allow keyword fragments. We recommend SQL databases to simply raise in case such structure is given.

Here is the relevant commit (just copy MySQL or PostgreSQL): https://github.com/elixir-lang/ecto/commit/ea32def0136b333f994a03c0c9346affc0bd22d7

[2015-06-24 11:43] josevalim opened #686 "Support left in right"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3
* [x] Mongo

We now allow `left in right` expressions in Ecto. Here is the relevant commit: https://github.com/elixir-lang/ecto/commit/1d7a4a4c3136391da7fb79c9a75ca88dd13f1306

Note that most databases define "IN" as a shortcut to "= ANY" and that's the one we decided to use. However some SQL databases, like SQLi

[2015-06-24 11:43] josevalim commented on #683
Here are the issues to get started with: #686 #685 #684

[2015-06-24 11:46] maxnordlund opened #687 "Documentation out of date on hexdocs.pm"
The docs for [Ecto.Repo](http://hexdocs.pm/ecto/Ecto.Repo.html) dosen't include [`update_all`](https://github.com/elixir-lang/ecto/blob/v0.12.0/lib/ecto/repo.ex#L330-L351), and perhaps more things are missing.

Please push a fresh new version :bow:

[2015-06-24 11:51] josevalim commented on #687
@maxnordlund just that one is missing. it is a bug in the docs generator which has been fixed but we are waiting for other fixes to ship a new version. Sorry! :fearful:

[2015-06-24 11:51] #687 closed

[2015-06-24 13:06] umatomba opened #688 "crash with '?' in password, function_clause in Regex, :match?"
using the url short format with '?' in password, like this:

[code]

i got:

[code]

if my definition format is correct, this point must be tested for all possible characters

[2015-06-24 13:59] josevalim commented on #688
@umatomba No, that is not valid. The error message could be better though.

[2015-06-24 14:17] umatomba commented on #688
@josevalim should the userinfo part be automatically encoded |> URI.parse |> decoded in ecto?

[2015-06-24 14:19] mobileoverlord opened #689 "MySQL Test Assertion Redundancy"
I noticed some redundant test assertions and didn't know if they should be removed or if it was supposed to be checking for some additional case.

https://github.com/elixir-lang/ecto/blob/master/test/ecto/adapters/mysql_test.exs#L388-L392
https://github.com/elixir-lang/ecto/blob/master/test/ecto/adapters/mysql_test.exs#L396-L400

[2015-06-24 14:21] laurocaetano commented on #689
@mobileoverlord they should be removed. My mistake :sweat_smile:

[2015-06-24 14:31] umatomba commented on #688
and i dont understand why in erlang:
[code]

but in elixir only the part after @ will be encoded
``
URI.encode("http://dc:d?c@dc.com/So me")
"http://dc:d?c@dc.com/So%20me"
[code]

[2015-06-24 14:49] hwinkel commented on #688
please keep in mind that URL encoded paswords have own rules for encoding due to the fact of URL special characters. We should decide either

a) to NOT allow special characters from a operational perspective
b) use another schema to configure parameters in a K/V fashion and not URL
c) train all operations people to further encode the passwords with the URL encoded escaping.

Background:

https://a

[2015-06-24 14:56] josevalim commented on #688
@umatomba not a bug in URL encoded. check URL.encode and URL.encode_www_form.

[2015-06-24 15:08] liveforeverx commented on #688
@josevalim I personally see only one problem:

[code]

At the moment it is impossible to have `?` in password nor as percent-encoded with URIs in ecto. I think, this is a primary bug? Or it is desired behaviour?

[2015-06-24 15:14] hwinkel commented on #688
specially a password with a ":" would raise problems here. I would not like to train OPS staff to learn URL encoding rules to encode a already complex password to fit URL encoding rules. If this abstracted away in some form i.e. connection string -> URL encoded string. K7V Fields -> URL encoded string I'm happy and fine. May this can happen in the Application Config above the ecto library ?!?!

[2015-06-24 15:14] liveforeverx commented on #688
@hwinkel : My preferable solution is, If percent-encoded will works, than we can modify our configuration parser, that it takes configuration `db = test:test?@127.0.0.1:3306/app` transforms to `ecto://test:test%3F@127.0.0.1:3306/app`

Than, we do not need to train(not the c)), not need to use other schema(not the b)), if we can forbid `:` from operational perspective, because it is separator betwe

[2015-06-24 15:19] hwinkel commented on #688
@liveforeverx You are right but then the thing is not a URL anymore, because it not follows  URL encoding and it is just  string. BTW: anybody knows how DB tool interpreted this "connection string" usually. Do they assume this connection string is an URL and therefore needs to be encoded as URL?

[2015-06-24 15:20] umatomba commented on #688
@liveforeverx the url_encoding or decoding is not our task. I think it must be on ecto side

[2015-06-24 15:21] liveforeverx commented on #688
@umatomba do not agree, the ecto should encode URI string, as RFC specifies it. If we want to allow not to encode, we need to do it on our side.

[2015-06-24 15:23] hwinkel commented on #688
@liveforeverx if I would look from untrained OPS perspective I would assume something is wrong as the string is changing. In this context I would say have K/V app config wich transforms to a (hidden) URL encoded string. Or use the URL just for the resource and encode db.user db.pass separately like:

db.db = mysql://127.0.0.1:3306/app
db.user = user
db.pass = test?

This also tells the db repo dri

[2015-06-24 15:25] umatomba commented on #688
@hwinkel yes

[2015-06-24 15:26] liveforeverx commented on #688
@hwinkel : String changes are not seen by OPS, as they do not see the erlang term configuration at all. (Only, if they will try to check running erlang term configuration).

[2015-06-24 16:47] fbjork commented on #682
@josevalim ok thanks. Do you have an example of how to tell Ecto to work with the data type?

[2015-06-24 16:52] gjaldon commented on #655
Ok copy that. Working on this now.

[2015-06-24 16:56] josevalim commented on #682
There is information here: http://gabrieljaldon.com/articles/using-json-type-in-ecto.html

If you use Ecto master though, you don't need any of that.

[2015-06-24 17:01] #689 closed

[2015-06-24 17:08] fbjork commented on #682
Got it, thanks. Ok, last newbie question, how do I use dependencies via git?

[2015-06-24 17:13] hwinkel commented on #688
@liveforeverx let leave our OPE 3rd Level Support question alone for now, I think this has may no interest for the ex community. I'm fine with a encoded URL string in the ex context as long it will be not exposed in this form to the higher level application which uses the ecto library,

[2015-06-24 17:15] josevalim commented on #682
Add to `deps` in your `mix.exs`: `{:ecto, github: "elixir-lang/ecto"}`

[2015-06-24 17:23] mobileoverlord commented on #684
Added to Tds
livehelpnow/tds_ecto#80b5a270aad761d54e4d9d1650e79f5311e44930

[2015-06-24 17:29] mobileoverlord commented on #685
Added to Tds
livehelpnow/tds_ecto@6ce3d5186baa09d29f9861abbfdb5728abfbaf45
livehelpnow/tds_ecto@9135aef1012d2a12ed2e462263d5a828b49170a0

[2015-06-24 17:34] umatomba commented on #688
the solution that we take is to combine the possibility of short host, port and database definition using URI format and username and password options. it's look like:

[code]

[2015-06-24 17:34] #688 closed

[2015-06-24 18:31] umatomba opened #693 "encoded URI"
Currently, the encoded url (f.e. with special characters in password) can not be used, because is not decoded. I think we could add this future to support the URI format.

[2015-06-24 19:21] josevalim opened #694 "Raise for selectors without models"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3

Here is the commit: https://github.com/elixir-lang/ecto/commit/a70d018c63c59a6c1e1caf1fcefbb16c0baf3ca9. Just copy the changes done to MySQL or PostgreSQL.

[2015-06-24 20:39] fbjork commented on #682
@josevalim great, that worked!

Do I need to make any more changes in the model or controller for `:map` fields to work properly?

I get a 422 when I try the following:

[code]

Here's the model:

[code]

and the controller action:

[code]

[2015-06-24 21:13] jazzyb opened #696 "Missing requirement when running Ecto 0.12.0 integration tests"
I'm trying to run the latest integration tests from Ecto 0.12.0 in hex.pm for sqlite_ecto, and I get the following error:

[code]

The file `ecto/integration_test/cases/migrator.exs` requires a file in the `ecto/test` directory which is not shipped with the ecto hex package.  I had previously been using the github repo as a dependency so I did not notice this earlier.

I've been running the integr

[2015-06-24 21:22] josevalim commented on #696
It is a bug. We need to move file_helpers into `integration_test/support/file_helpers.exs` and change the relevant require_file. Can you please send a PR? :)

[2015-06-24 21:24] josevalim commented on #682
Which errors are you getting? Hard to know without seeing what is rendered back.

[2015-06-24 21:32] fbjork commented on #682
Oops, forgot the JSON payload:

[code]

[2015-06-24 21:47] josevalim commented on #682
@fbjork if you look at the parameters... you can see filters are being inside a list. is that what you really want?

[2015-06-24 22:00] fbjork commented on #682
Omg, sorry about that! Thanks so much.

Unrelated question, I'm trying to deploy this to Heroku, but I get this error during the deploy:

[code]

The DATABASE_URL is set and exported using this build pack: https://github.com/HashNuke/heroku-buildpack-elixir. Any ideas?

[2015-06-24 22:14] josevalim commented on #682
As the error says, you still need adapter: Ecto.Adapter.Postgres in your
config files." For the repository

On Thursday, June 25, 2015, Fredrik Björk <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-06-24 22:24] jazzyb commented on #696
Will do.

[2015-06-24 22:32] #674 closed

[2015-06-24 22:51] fbjork commented on #682
That did the trick, forgot the adapter part and just had url in there. This feels just like 2005 when I was learning Rails:)

Now I'm getting an error when I push it to Heroku, but it works locally.

[code]

Here's the mix.exs file:
[code]

[2015-06-24 22:55] zmoshansky opened #697 "Support for Database Level Integrity Features"
Perhaps related to #671.

Is there support/openness to utilizing more of the capabilities of the underlying database? #690 would allow for some more of this manually, but it would be nice to have the generators apply these, especially for #183.

My motivation is that getting integrity constraints right is "$:*ing tough, and the kind folks behind Postgres, Maria, MYSQL, etc have put enormous effort

[2015-06-24 23:25] zmoshansky commented on #655
Maybe a little late to the party, but what about `ON DELETE CASCADE` at the (SQL) DB level for the `delete_all`? Related to #697.

[2015-06-25 02:03] jazzyb commented on #684
Running `mix deps.get` in sqlite_ecto doesn't install the Poison dependency, so when I run the map integration test, I get the error "module Poison is not available".  I suspect this has something to do with the dependency being "optional".  Do I need to specify the Poison dependency in my own mix.exs file?  I would rather not explicitly specify the library in sqlite_ecto in case, e.g., Ecto switc

[2015-06-25 02:17] jazzyb commented on #685
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/1bebaed4767298c2e2e5beb9753144f82531e573

[2015-06-25 02:36] jazzyb commented on #686
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/43d43ba2f4d27a363fcc251a2372a7e2e0a6da77

SQLite doesn't have an `ANY` keyword so `IN` was the way to go.

[2015-06-25 02:44] jazzyb commented on #694
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/53544cebf0f65207674b47e7a530129bd0acec5c

[2015-06-25 03:01] jazzyb commented on #638
Thanks for all your help.  I'll send you a PR once the integration tests are working.

[2015-06-25 07:04] josevalim commented on #684
@jazzyb you can add it as a test dependency then. `{:poison, only: :test}` will hopefully be enough.

[2015-06-25 07:05] #696 closed

[2015-06-25 07:08] #685 closed

[2015-06-25 07:11] josevalim commented on #697
Yes, definitely.

We already support unique and references in migration (foreign key constraints), no?

I am ok with supporting cascade and check depending on how well it is supported across databases. Can you please do a survey and investigate the syntax for those for Sqlite3, MySQL, PostgreSQL and MSSQL?

Also, those shouldn't be in the schema, but in the migration.

[2015-06-25 08:35] josevalim opened #699 "Ensure updating the model works on the subset of storage"

[2015-06-25 08:48] josevalim opened #700 "Support + and - in queries"

[2015-06-25 09:15] josevalim commented on #655
@zmoshansky we should support both because not all DBs may have this functionality.

[2015-06-25 11:05] #678 closed

[2015-06-25 11:06] josevalim opened #701 "Support options on table creation"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3

Here is the pull request: https://github.com/elixir-lang/ecto/pull/690

Keep in mind that, once you support this in your driver, it will no longer work with earlier Ecto versions as it is expecting the options field.

[2015-06-25 11:26] jazzyb commented on #684
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/0851183228d4f670aeabf061d27c2f2b2f20ca3c

[2015-06-25 11:54] #684 closed

[2015-06-25 11:54] michalmuskala commented on #686
Added to Monngo michalmuskala/mongo_ecto@50444de

[2015-06-25 15:03] gjaldon commented on #655
Btw, @josevalim all our previous examples were `after_delete` callbacks but working on it now, it seems these should all be `before_delete` callbacks so that the constraints errors won't be raised.

As an update, I already have `:fetch_and_delete` and `:delete_all` callbacks done. Just waiting on `Repo.update_all/2` to be changed into a function for `:nilify_all` to work.

[2015-06-25 15:58] josevalim commented on #655
Awesome!

[2015-06-25 18:21] zmoshansky commented on #697
@josevalim They do work, I just didn't find them :embarrassed: I'll create a new issue with results of syntax and summarizing scope for check/cascade. The following is for posterity.

**REFERENCES**
(@zmoshansky RTFM closer), references work just great! Turns out the phoenix generator does not use them though. ex.) ```phoenix.gen.model Cat cat owner:belongs_to name:string```

In Migration Do:
[cod

[2015-06-25 18:21] #697 closed

[2015-06-25 19:13] zmoshansky opened #703 "CHECK and CASCADE support"
The SQL syntax for CHECK and CASCADE across databases (Following from #697).

**CHECK**
MySQL:
LOL, doesn't support CHECK, just ignores it [src](https://bugs.mysql.com/bug.php?id=3464)

SQL Server / Oracle / MS Access / Postgres / SQLLITE : [src](http://www.w3schools.com/sql/sql_check.asp) [src2](http://zetcode.com/db/sqlite/constraints/)
[code]

or with complex statements
SQL Server / Oracle / MS

[2015-06-25 19:43] fbjork commented on #682
@josevalim never mind. This is an issue with github Mix dependencies and Deis (http://deis.io), a Heroku clone. Thanks again for all the help!

[2015-06-26 00:04] jazzyb commented on #701
I'm a little confused about this change being incompatible with earlier Ecto versions.  If I access the `options` in the `Table` struct with `Map.get(table, :options)` instead of `table.options`, won't that maintain backwards compatibility?

[2015-06-26 00:27] jazzyb commented on #701
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/bff9c2823722f1f9a8e5e84a80bae7a36db20c3c

[2015-06-26 00:42] mobileoverlord commented on #694
MSSQL: livehelpnow/tds_ecto@c1c01eddf3ce30eff9af13d54acb0486989d1707

[2015-06-26 01:12] mobileoverlord commented on #686
I don't believe that MSSQL supports this until ANY in 2016
https://msdn.microsoft.com/en-us/library/ms189526.aspx
I tried running this through sql management using IN, but I don't think that supports it.

[2015-06-26 07:54] josevalim commented on #686
Running what exactly? Wouldn't the following be valid SQL:

    frpm p in Post, where: p.id in fragment("SELECT 1")

If so, that's all you need to support. You don't need to worry about the array syntax as there are no arrays in MSSQL.

[2015-06-26 07:55] #694 closed

[2015-06-26 07:55] josevalim commented on #701
Yes, that would maintain. Just remember to remove the Map.get later. :)

[2015-06-26 08:30] josevalim commented on #693
Yes, definitely.

[2015-06-26 09:31] #700 closed

[2015-06-26 09:38] josevalim opened #704 "Introduce new Repo.update_all syntax"
I have discussed this a bit more with @ericmj and @michalmuskala, trying to consider upcoming requirements. Here is the new update syntax:

    Repo.update_all Post,
      set: [title: "foo"],
      inc: [changes: 1]

`update_all` will no longer be a macro instead it will receive a series of operations to perform on the data. For more complex cases, one should be able to write:

    from p in Post

[2015-06-26 09:48] michalmuskala commented on #704
Just a heads-up: Mongo won't be able to return entries from `update_all` or `delete_all`. I would propose to allow the return value to be `{count, nil}` in that case.

[2015-06-26 09:50] josevalim commented on #704
Ah, yes. The default for now will be `nil` until we support returning. MySQL can't support it too.

[2015-06-26 10:04] josevalim commented on #703
We can support a `:on_delete` option in `references/1` in migration which can have three values: `nothing` (do nothing), `nilify_all` (SET NULL) or `delete_all` (CASCADE). Similar to what have been described in #655. @hubertlepicki would you like to tackle this one too? :D

[2015-06-26 10:04] josevalim commented on #703
Thanks @zmoshansky for all the research. That's very appreciated! <3

[2015-06-26 10:06] hubertlepicki commented on #703
sure, @josevalim but not today. With all the exciting Elixir stuff going on I forgot I need to do some paid work. ;) Can probably add that tomorrow (Saturday) morning.

[2015-06-26 10:06] josevalim commented on #703
No problem!

[2015-06-26 10:08] josevalim commented on #701
@jazzyb btw, #704 is definitely introducing backwards incompatible changes. So you may as well do a new release and start introducing backwards incompatible changes now. :) My plan is to get the new update in and then release 0.13.0 not long after.

[2015-06-26 10:30] hubertlepicki commented on #703
@josevalim `:nothing` should be default, right?

[2015-06-26 10:31] josevalim commented on #703
Yes. Which means we don't need to even generate anything. You should get back to work though. :)

[2015-06-26 10:32] hubertlepicki commented on #703
I have an hour until my US client wakes up. Maybe that will be enough!

[2015-06-26 10:37] hubertlepicki commented on #703
@josevalim and `nilify_all` is a typo and in fact should be `nullify_all` or that's intentional?

[2015-06-26 10:54] josevalim commented on #703
It is `nilify_all` according to #655!

[2015-06-26 12:22] #703 closed

[2015-06-26 12:23] josevalim opened #707 "Support on_delete on table references"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3

Here is the pull request: #705

[2015-06-26 12:35] jazzyb commented on #701
@josevalim Elixir question:

I was under the impression that structs, like Table, were just syntactic sugar around Maps and that I could use them interchangeably.  I take it by your response that I shouldn't do that :)  In what situation should one use `table.options` instead of `Map.get(table, :options)` and why?

[2015-06-26 13:17] josevalim commented on #701
@jazzyb because you want your code to be as assertive as possible. If you expect options to be there, then use the syntax that asserts it is there. More info here: http://blog.plataformatec.com.br/2014/09/writing-assertive-code-with-elixir/ :)

[2015-06-26 14:54] jazzyb commented on #701
Understood.  Thanks for the pointer.  Good article by the way.

[2015-06-26 17:52] fbjork opened #709 "UUID not being auto generated"
I'm using the ecto from the latest master and I'm trying to get UUIDs to auto generate before being inserted to Postgres, but I don't see the id being inserted.

Here's my model, am I missing something or is this a bug?

[code]

[code]

[2015-06-26 17:53] josevalim commented on #709
You need to define @primary_key before your schema block. Elixir is lexical, so the order statements like import, alias, and attributes are defined often matter.

[2015-06-26 17:53] #709 closed

[2015-06-26 17:54] fbjork commented on #709
Got it, thanks!

[2015-06-26 18:48] josevalim commented on #569
The new pool is in. We can start working on this! @MSch pull request please? :)

[2015-06-27 14:06] jazzyb commented on #707
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/8d2ae42fd775cc9868d3b8bdb4b84941242f3b22

[2015-06-27 14:42] josevalim commented on #707
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-27 18:37] mobileoverlord commented on #686
I added this to tds_ecto
livehelpnow/tds_ecto@8bc0106af010c10287c7234bcf46eb09b6f4693b
livehelpnow/tds_ecto@5377ada3554836971fdcb8ea0c09b8d4b0bf70d4

[2015-06-27 18:41] josevalim commented on #686
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-27 18:41] #686 closed

[2015-06-27 18:53] mobileoverlord commented on #701
All done for MSSQL :smile:
livehelpnow/tds_ecto@f4c4428fa91a9ddd429c09f978c3b957677438dd

[2015-06-27 19:15] #701 closed

[2015-06-28 10:33] #704 closed

[2015-06-28 10:48] josevalim commented on #655
@gjaldon The new update_all is in master!

[2015-06-28 11:04] josevalim opened #715 "Support new update syntax"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3
* [x] Mongo

We have a new update syntax in Ecto master. Here is the whole pull request #714 although SQL databases only need to replicate the changes done to postgres:

* `update_all/2` is now `update_all/1`: https://github.com/elixir-lang/ecto/pull/714/files#diff-ee25bf8df5589fbf812f652738bfbdae
* The new tests

[2015-06-28 13:08] josevalim opened #716 "Ensure updating a map completely replaces it"
We need to add a test for this case, using both update_all and model syntax.

[2015-06-28 13:10] mspanc opened #717 "No method to rename a table in the migration"
Hello, as of 0.12.1 Ecto contains no method to rename a table in the migration without going into raw SQL call.

[2015-06-28 14:12] gjaldon commented on #655
@josevalim thanks for the update! Will finish this up within the next few days :)

[2015-06-28 14:22] josevalim commented on #717
Someone is welcome to send a pull request but otherwise you need to emit raw SQL statements indeed. I will close because it is not our priority right now. :)

[2015-06-28 14:22] #717 closed

[2015-06-28 14:27] jazzyb commented on #707
@elixir-lang/ecto-adapters

FYI:  This commit: https://github.com/elixir-lang/ecto/commit/d0ecba8956da5efbffa4b7bf333401a8f905213f, changed the new `:nillify_all` option to `:nilify_all`.

[2015-06-28 14:39] mobileoverlord commented on #707
MSSQL: livehelpnow/tds_ecto@adbfadc1d7f8df781b2341047aecfab5603800a6

[2015-06-28 14:43] jazzyb commented on #715
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/9f57440f0b30d2b1eee0433ea182316c88fe501d

@josevalim I had to exclude `:strict_savepoint` to get the most recent integration tests to pass.  Would you mind briefly explaining what "strict savepoints" are in Postgres?  I couldn't find any references to them.  I just want to make sure that I'm excluding them because they are not supported and not

[2015-06-28 15:00] #707 closed

[2015-06-28 15:00] josevalim commented on #707
Good catch @jazzyb!

[2015-06-28 15:01] josevalim commented on #715
@jazzyb strict_savepoint: Issueing a savepoint outside of a transaction should fail. We don't rely on this behaviour in the code per-se, but in order to test for race conditions in the pool, we need it. So you are fine.

[2015-06-28 15:17] mobileoverlord commented on #715
MSSQL: livehelpnow/tds_ecto@ae5a2e40fa09f9a4df6ad1f57c677bf99514b324

[2015-06-28 15:18] mobileoverlord commented on #715
Man @jazzyb I really tried to get a "first" on that one and you snuck in sqlite support first again! :stuck_out_tongue:

[2015-06-28 15:55] jazzyb commented on #715
@mobileoverlord I was only first because I have a lot of chores I need to do and welcomed the distraction :)

[2015-06-28 16:29] michalmuskala commented on #715
Mongo: michalmuskala/mongodb_ecto@71db151

[2015-06-28 16:39] josevalim commented on #715
You folks are on fire!

[2015-06-28 16:39] #715 closed

[2015-06-29 08:24] #693 closed

[2015-06-29 08:28] josevalim commented on #652
Ok, let's support this. If the adapter does not support a given option, it is easy to raise. No need to emulate.

[2015-06-29 08:29] josevalim commented on #667
@MSch we are ready for this too. Because the worker may not always exist, let's store only the `connection_pid`.

[2015-06-29 10:19] #699 closed

[2015-06-29 10:20] #716 closed

[2015-06-29 14:22] sumerman opened #722 "`references` does not work with `alter` `table` at least with PostgreSQL"
OS: OS X 10.10.3
Ecto: v0.13.0
PostgreSQL: 9.4.4

Currently migration like:
[code]
will generate following SQL statement:
` ALTER TABLE "sale_deployments" ALTER COLUMN "sale_id" TYPE integer REFERENCES "sales"("id") ON DELETE CASCADE`
wich is wrong according to pg's docs: http://www.postgresql.org/docs/9.1/static/sql-altertable.html

Correct expression should be something like: `ALTER TABLE "sale_

[2015-06-29 14:39] chvanikoff commented on #722
I guess `execute/1` should be currently used for such queries

[2015-06-29 14:41] sumerman commented on #722
That's exactly what I'm doing. But I spent some time before figured out what was happening. So compile-time check or at very least a line in the documentation should mention this.

[2015-06-29 14:59] MSch commented on #667
@josevalim @fishcakez Thinking about how to best implement this. My thoughts so far are to add the public API to `Ecto.Adapters.Pool` so it's not cluttering up `Repo`:

* Add a `checkout` function, that given a Repo checks out a worker. It uses the Poolboy Pool callback module to call `Worker.checkout` with `:manual`.
* Add a `checkin` function, that does `Worker.checkin` and `:poolboy.checkin` us

[2015-06-29 15:09] MSch commented on #569
@josevalim @fishcakez Thinking about how to best implement this. My thoughts so far are to add the public API to `Ecto.Adapters.Pool` so it's not cluttering up `Repo`:

* Add a `checkout` function, that given a Repo checks out a worker. It uses the Poolboy Pool callback module to call `Worker.checkout` with `:manual`.
* Add a `checkin` function, that does `Worker.checkin` and `:poolboy.checkin` us

[2015-06-29 15:23] gjaldon commented on #652
@josevalim I'd like to take this on, if that's ok.

[2015-06-29 15:29] fishcakez commented on #569
`give_away` is going to be tricky with `poolboy`. `poolboy` is going to monitor the process that checked out the worker/connection. This means that if checked out processes crashes but it gave the connection away to a new owner, then the owner believes it owns the connection. However `poolboy` will give the connection to another process.

Is it possible to split your problem in two?

We support cu

[2015-06-29 15:44] josevalim commented on #722
It is a bug, we should figure out how to support it. :)

[2015-06-29 15:46] MSch commented on #569
Good point, I didn't think of that, with `sbroker` it would work though?

To me doing it with a custom size-1 pool seems less elegant than doing `give_away`, but I'm by far no OTP guru and of course it doesn't work with `poolboy`.

What about adding a function to manually start a worker? That worker would then have to be managed by the process that started it of course.

With your approach of spli

[2015-06-29 15:51] josevalim commented on #569
My initial thought is that this sounds too complex. It feels easier to say "just pass the repository as argument" and have two of them. Because if we support this, it is going to become more and more complex as we add more pools. :(

[2015-06-29 15:52] MSch commented on #569
I unfortunately don't fully understand @fishcakez's approach, but I think it boils down to manually specifying a custom pool. That would be a lot nicer than having multiple repos wouldn't it? So instead of passing a repo as argument I pass the pool as argument? (If I understand correctly)

[2015-06-29 15:54] josevalim commented on #569
@MSch Well, the whole benefit of this patch though would be that no change would be required for code calling the repo. So if you need to pass *any* argument, why not the repo?

[2015-06-29 15:55] josevalim commented on #652
Go ahead please!

[2015-06-29 15:57] MSch commented on #569
@josevalim see https://github.com/elixir-lang/ecto/issues/569#issuecomment-99409781 I'd prefer to pass a `worker` or `pool` option than to have two Repo modules that aren't DRY. E.g. just having to implement `log` twice feels very wrong to me.

[2015-06-29 15:58] fishcakez commented on #569
@MSch I can do an example for later but for now I mean something like this:

[code]

[2015-06-29 16:00] MSch commented on #569
@fishcakez got it. Thanks.

[2015-06-29 16:01] fishcakez commented on #569
Ofc we need to switch `timeout` to `opts` to support that

[2015-06-29 16:03] josevalim commented on #655
Closing in favor of the excellent PR.

[2015-06-29 16:03] #655 closed

[2015-06-29 16:05] josevalim commented on #569
@MSch

[code]

:P ?

[2015-06-29 16:07] josevalim commented on #569
Another option, I have been discussing this with Eric, is to allow the following:

  1. allow custom names to be given to the pools
  2. allow you to customize __pool__ function to return a particular name

This way you can start the repo twice with different options:

    supervisor(Repo, [[name: Hello1, size: 30]])
    supervisor(Repo, [[name: Hello2, size: 1]])

And specify a custom function wh

[2015-06-29 16:07] josevalim commented on #569
The benefit of the solution above is that all the logic is in the Repo. The adapter just need to continue calling `__pool__` to get the proper pool.

[2015-06-29 16:16] gjaldon commented on #655
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-29 16:18] MSch commented on #569
@josevalim That seems like a great and simple approach that solves the problem.

But why not support multiple pool implementations instead of just multiple pool names? Isn't the work necessary about the same?

Another minor nitpick is that I'd prefer to have the Pool adapters in my supervisor spec instead of the Repo, but in the end it doesn't matter if it's

[code]

or

[code]

[2015-06-29 16:20] josevalim commented on #569
Yes, we could support the second easily. We could make `__pool__` overridable and support options on `start_link` (which we would merge with the config). That would be all that is required, really, everything should work as long as `__pool__` returns the proper thing. We will keep the `__pool__` contract informal though (not documented but supported in tests).

[2015-06-29 16:26] MSch commented on #569
This seems like the best approach to me! Thanks @josevalim @ericmj!

@fishcakez do you agree?

I'd start implementing this ASAP.

(On a sidenote, since the deadlocks happen as soon as two processes that use Ecto sometimes call each other (at sufficient concurrency) I would document this explicitly, since I expect more people will run into it.)

[2015-06-29 16:28] foxnewsnetwork commented on #655
awesome, you guys rock

[2015-06-29 16:30] fishcakez commented on #569
This sounds great.

[2015-06-29 17:37] josevalim commented on #569
@msch i would like you to try it out and be confident that `__pool__` is not going to change before documenting it officially.

[2015-06-30 13:00] sumerman commented on #722
Another related bug.

I got:
[code]

[code]
After trying my migrations on MySQL

[2015-06-30 13:00] jazzyb opened #724 "Ecto 0.13 Sandbox breaks Sqlite.Ecto integration tests"
Using the ecto 0.13.0 hex release, I get the following test failures:

[code]

I noticed that this new sandbox code seems to have been added around #721.  I updated my `test_helper.exs` file to use the Sandbox and added the `Process.flag(:trap_exit, true)` line to the end of the file as well.  When I do that, I get only the following error:

[code]

How do I get the integration tests to work again

[2015-06-30 13:15] josevalim commented on #724
Yes, it is a bug in the sandbox pool, I will fix it. :)

[2015-06-30 13:29] josevalim commented on #724
Can you try Ecto master? If it works, I will release v0.13.1. :)

[2015-06-30 13:37] jazzyb commented on #724
Different errors:

[code]

[2015-06-30 13:51] josevalim commented on #724
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-06-30 13:51] josevalim commented on #724
Please ignore my message, I clicked the wrong button. :D

[2015-06-30 13:52] josevalim commented on #724
The root cause is this. We are getting `{:error, {:sqlite_error, 'cannot start a transaction within a transaction'}}` as reply and Ecto requires your query to return `{:error, Exception.t}`, so we can raise those errors.

[2015-06-30 14:13] josevalim commented on #724
Fixed in master. Also, you may want to integrate all of your tests together or set `build_per_environment: false` in your mix.exs so you don't compile everything twice all the time. :)

[2015-06-30 14:13] #724 closed

[2015-06-30 14:22] jazzyb commented on #724
Ah.  Okay.  Thank you.  I'll look into that.

[2015-06-30 14:37] jazzyb commented on #724
Will there be a 0.13.1 release?

[2015-06-30 14:39] josevalim commented on #724
Yes, are you ready? :)

[2015-06-30 14:47] jazzyb commented on #724
Yep :)  I didn't change anything in Sqlite.Ecto, but it's working with master.

[2015-06-30 15:29] sumerman opened #727 "Alter table with references is broken for MySQL as well but in a different way"
After trying my migrations (the part, that was working with PostgreSQL) on MySQL:

[code]

I got:
[code]

For me the fix was to copy:

[code]
clause from PostgreSQL driver into MySQL.

[2015-06-30 15:37] josevalim commented on #724
v0.13.1 is out. :)

[2015-06-30 16:24] #569 closed

[2015-06-30 16:27] gjaldon commented on #652
I'm on this!

[2015-06-30 16:28] jazzyb commented on #724
Thanks for your help, José!

[2015-06-30 16:30] sumerman opened #729 "Configuration change is necessary between creation of test DB and actual tests run"
To run tests I have to put `pool: Ecto.Adapters.SQL.Sandbox` into my test configuration, but then `MIX_ENV=test mix ecto.create` fails with:
[code]

So I have to:
1. remove the "pool" line
2. run `MIX_ENV=test mix ecto.create`
3. put the line back
4. run `mix test`

I'm not sure if It's ecto's issue or just my setup, but I didn't have this problem with Ecto version referenced as a dependency by Ph

[2015-06-30 16:31] MSch opened #730 "Don't nest transactions for callbacks"
The documentation for callbacks says

To me that would imply that callbacks - just like they do in ActiveRecord - only create a transaction if there isn't one yet. But right now they always create one, which leads to a huge number of unnecessary subtransactions.

I'd like to change the default to mirror what ActiveRecord does or make it configurable.

[2015-06-30 16:36] sumerman commented on #729
Fixed in 0.13.1

[2015-06-30 16:36] #729 closed

[2015-06-30 18:58] antipax opened #731 "Repo.update! should not execute an UPDATE when the only changed field is the updated_at timestamp"
If you call `Repo.update!` with a changeset for a schema with timestamps, the DB is sent an UPDATE even if the only changed field is the `updated_at` timestamp. After a discussion of the issue with @josevalim in #elixir-lang, the conclusion was that the default behavior should probably be to not produce an UPDATE.

[2015-06-30 19:28] josevalim opened #732 "Require new pool tests"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite3
* [x] Mongo

Just do this: https://github.com/elixir-lang/ecto/commit/16f27f64c5ca2480568fad10e40c26522ffbf793#diff-2c5b8dbebddda6206ddb2951ce5b1bc8R9

[2015-07-01 01:26] jazzyb commented on #732
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/9e9bf3d4bd4efa402db3d1157504a81f02008d74

[2015-07-01 13:06] mobileoverlord commented on #732
MSSQL: livehelpnow/tds_ecto@9b19c28e6683591480f70d98ecb220076706897f

[2015-07-01 16:45] alco opened #734 "Ecto should provide the time it spends on processing data returned from the DB"
Let's say we have a function `F` that executes some Ecto queries and does other things. We're collecting metrics to see how much time is spent executing `F` and how much of that time is spent executing each individual type of query against the DB.

So far `LogEntry` returns only part of the total time Ecto spends executing a query. While investigating a single query I have found out that in the fo

[2015-07-01 18:10] josevalim commented on #734
This is tricky. Is there a way we can do this cleanly?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-01 19:07] michalmuskala commented on #732
Mongo: https://github.com/michalmuskala/mongodb_ecto/commit/7f44dbb8cbfd4b00fc99bee7958153c37dec9f23

Also I had to change how I handle pools after changes in Mongo.Adapters.SQL, I noticed one thing that worries me. In `start_link` we are using pool that can be provided in options, but then in `query` always the default one is used. Wouldn't this cause issues?
`start_link`: https://github.com/elix

[2015-07-01 19:37] gjaldon commented on #652
@josevalim @ericmj what to do for upsert in Postgres? Been searching for a reliable solution for upsert prior to PG 9.5(which has UPSERT support). Haven't found one yet.

Should I just implement for the new UPSERT sytnax? It will fail for PG's pre-9.5. Is there a way to check for PG version within ecto or should we just document that upsert with Postgres adapter will only work for 9.5?

[2015-07-01 19:42] gjaldon opened #735 "Implement upsert for PG once Postgres 9.5 is released"
For reference:
- https://github.com/elixir-lang/ecto/issues/652
- www.craigkerstiens.com/2015/05/08/upsert-lands-in-postgres-9.5/

[2015-07-01 19:44] gjaldon commented on #652
@josevalim @ericmj thinking to just raise when using PG adapter, for now. Created another issue to keep track of upsert for PG when 9.5 is released. Let me know if I should approach it differently.

[2015-07-01 19:47] ericmj commented on #652
Implement the new syntax and document that it will only work on 9.5.

[2015-07-01 19:49] #735 closed

[2015-07-01 19:49] gjaldon commented on #652
Ok will do that instead. :)

[2015-07-01 20:33] josevalim commented on #732
Michal, btw, you don't need to use the Ecto.Adapters.SQL.Sandbox pool. Just
keep size as 1.

It won't cause issues because the idea is that if you are using custom
pools, you will override __pool__ too.

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

On Wed, Jul 1, 2015 at 9:07 PM, Michał Muskała <notifications@github.com>
wrote:

[2015-07-02 10:05] alco commented on #734
OK, let's think about what would the goals be for an application trying to measure the amount of time it spends performing DB-related tasks. We'd be interested in answering the following questions:

  1. For any given application-level task, how much time of that task is taken up by doing DB operations (any kind of operations: querying, inserting, updating, deleting)?

  2. What part of the total

[2015-07-02 15:57] ericmj opened #737 "Allow assoc/2 to build queries from different models"
Today, if you want to build a query from multiple associations you have to do something like this:

[code]

If `assoc/2` allowed you to give multiple models we could do this instead:

[code]

[2015-07-02 16:36] michalmuskala commented on #732
I reverted the change with the sandbox pool https://github.com/michalmuskala/mongodb_ecto/commit/ac58a6589e39a86a6466e91e26cb8319d497f964

[2015-07-02 17:21] sylane opened #738 "validate_length function returns `{"should be at most %{count} characters", 65536}` on errors"
Is it the expected behavior ?

If so how to I format `"should be at most 65536 characters"` out of it without knowing the placeholder ?

[2015-07-02 19:01] josevalim commented on #738
The placeholder is always %{count} so you can replace it. Please look for
similar previous discussions on the tracker.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-02 19:41] reset opened #739 "Source is not respected in Preloading"
I have an application which leverages Postgres schemas to "shard" data. There are X number of replicas contained within schemas named something like "account_1", "account_2", etc.

In Ecto 10 the ability to query on source was added by specifying `{"account_1.accounts", MyApp.Account}` in a query instead of just `MyApp.Account`. The source is annotated in any records found and it works very nicely

[2015-07-03 05:08] #738 closed

[2015-07-04 09:53] josevalim commented on #732
@michalmuskala I also see that you are defining a new pool just because of those tests, I will try to change it so it is not required.

[2015-07-04 10:49] #727 closed

[2015-07-04 10:50] josevalim commented on #722
Yes, and once we do this we should add tests for those features in the integration suite.

[2015-07-04 14:43] #731 closed

[2015-07-05 14:56] mspanc opened #747 "(EXIT) no process while trying to migrate"
At some point ecto started to refuse migrations. Other operations (tried ecto.create/ecto.drop) work fine.

I am unable to trigger what change in my code has caused this behaviour, but the stack trace does not help a lot.

PostgreSQL is running, postgrex is in the application list.

Ecto 0.12.1.

[code]

[2015-07-05 16:40] josevalim commented on #747
Can you please try master and let us know if the problem is fixed?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-06 07:48] #730 closed

[2015-07-06 08:35] josevalim commented on #732
@michalmuskala i have pushed a commit to master so you no longer need to define a pool only for those tests, they all use test repo now!

[2015-07-06 08:35] #732 closed

[2015-07-06 08:55] josevalim commented on #734
I wouldn't like to call log twice. For example, for things like insert/update/delete, that would include time in callback which I don't think we should?

For `all/2`, maybe we instead use `query/5` which returns the log entry and augment it with the processing information? I would simply include the processing time in the query time (since postgrex does processing too which is already included in

[2015-07-06 09:07] michalmuskala commented on #732
I updated the tests: https://github.com/michalmuskala/mongodb_ecto/commit/f6da6ffd72e5fe50a904d0ecee0a8749fef21060

[2015-07-06 11:13] josevalim commented on #653
I am closing this because we are certainly not going to tackle this before 1.0. :)

[2015-07-06 11:13] #653 closed

[2015-07-06 17:56] JonathanTron commented on #599
Ok, to continue the discussion about providing an `after_connect` hook on `Ecto.Repo`, which would get passed the connection `pid`.

I have something working with the new internal changes:

1. Add the repo to the options given to `pool_mod.start_link/2` in `Ecto.Adapters.SQL`
2. Add a call to `repo.after_connect/1` in `Ecto.Adapters.Postgres.Connection.connect/1` and `Ecto.Adapters.MySQL.Connectio

[2015-07-06 19:01] jclem commented on #179
This thread was a little hard to follow, but it seems this is in Postgrex, now. Is it possible to do bulk inserts in Ecto, yet?

[2015-07-06 20:37] foxnewsnetwork opened #749 "has_many association scope query"
So in Rails, we had
[code]
Which exposed a way to add scopes onto has_many (or even has_one) associations. This was particularly useful when constructing complex relationships with models that you were paranoid about deleting.

Can we please implement this feature into Ecto also? Folks like me who got hooked on ActiveRecord years ago need this feature and we need it *badly*. We need it with the so

[2015-07-06 20:57] josevalim commented on #179
No, it is not possible. Unless someone tackles this from beginning to finish, we have no plans to include it in 1.0.

[2015-07-06 21:04] josevalim commented on #599
Awesome! I will leave it up to you and @MSch to iron out the details. The only downside I can think of this approach is that queries will need to be done via Postgrex API directly and not `Ecto.Adapters.SQL`, but is likely fine.

[2015-07-06 21:18] josevalim opened #750 "p.field == value (without interpolation) does not cast rhs"

[2015-07-07 02:09] houshuang opened #751 "Group by which doesn't aggregate"
I don't know if this is relevant at all, but it just struck me that I have come across this a number of times, and maybe it would be relevant. So for example I have a table called design groups, with a key called sig_id. I want to list design groups grouped by SIGs, so intuitively I feel like I want to "group by" sig_id... However, that only works if I use an aggregation function like count. Inste

[2015-07-07 06:00] miwee opened #752 "Adding mix ecto.new task"
The idea is quickstart for a new ecto app. Essentially you give the app name and --database option for selecting database backend (default being PostgreSQL), and it will generate the sample app (as given in examples/sample folder). It need not generate the models, but placeholders for them, with comments.

[2015-07-07 07:16] josevalim commented on #752
We already have something that generates a repo or a migration, which allows you to rum them anytime. I don't believe we need much more than that, really. :)

[2015-07-07 07:16] #752 closed

[2015-07-07 07:17] josevalim commented on #751
Yes, our group by ties in to the database. If you want to group by as you mentioned, then Enum.group_by is the proper alternative. I don't think we should provide such patterns in Ecto yet.

[2015-07-07 07:17] #751 closed

[2015-07-07 07:35] alco commented on #734
Are you really proposing to throw away `Ecto.Query` calls from our codebase and write SQL queries as strings instead? :)

[2015-07-07 08:39] josevalim commented on #734
Not at all. I am proposing we should change the internal implementation of `all/2` so it calls the internal `query/5`, returning us the log entry, allowing us to add the time taken for processing. Or, even better, allow functions to be passed to query/5, invoking it inside :timer.tc, allowing us to measure everything at once.

[2015-07-07 09:08] alco commented on #734
That could turn out more complicated though. Ecto can also call repo functions like here https://github.com/elixir-lang/ecto/blob/d9fc592e13b218cfd94551dd2b944299ccc54a00/lib/ecto/repo/preloader.ex#L96. It will need to thread the returned processing info back to the original repo call. Is that what you're thinking?

Also, if we do it like that, will `Repo.log/1` be deprecated?

[2015-07-07 17:39] michalmuskala opened #756 "PostgreSQL test failure"
I noticed that sometimes when I run PostgreSQL's tests (when running `MIX_ENV=pg mix test`) I get following failure:
[code]

As I said it's only sometimes and not always, so it seems there's some race condition somewhere. I tried to investigate but I was unable to find anything that might be causing this issue.

[2015-07-07 18:14] josevalim commented on #756
Fix coming soon.

[2015-07-07 18:14] #756 closed

[2015-07-07 18:36] #750 closed

[2015-07-07 18:38] josevalim commented on #747
Ping. Is there any way to reproduce this? Is it fixed in master?

[2015-07-07 19:18] mspanc commented on #747
I won't be able to check this soon.
7 lip 2015 8:38 PM "José Valim" <notifications@github.com> napisał(a):

[2015-07-08 11:08] #599 closed

[2015-07-08 11:09] josevalim commented on #667
@MSch i am closing this now that we have after_connect. Please check what are the missing pieces for you to implement this and let us know.

[2015-07-08 11:09] #667 closed

[2015-07-08 11:44] josevalim commented on #749
Yes, we already have an oopen issue for it, i will tackle it soon.

[2015-07-08 11:44] #749 closed

[2015-07-08 16:38] foxnewsnetwork commented on #749
thanks for the update! (sorry I didn't see the issue)

[2015-07-08 19:27] josevalim opened #759 "Make date/time/datetime use Ecto.*"

[2015-07-08 20:59] peck opened #761 "Add Ecto.Adapters.SQL.to_sql(repo, query) For Accessing SQL String From Query"

[2015-07-09 14:25] alanpeabody opened #763 "Has many through 2 relations not joining correctly."
When joining a multiple tables via has_many through ran into a situation where the tables are not joining correctly. The tables are referenced before they are defined in the SQL.

Example:

[code]

Given data is populated and tables are correctly setup.

[code]
Ecto.Query:
[code]
SQL:
[code]

Error:
[code]

[2015-07-09 14:29] ericmj commented on #763
You missed including the actual `:applications` association on `User`.

[2015-07-09 14:32] alanpeabody commented on #763
Whoops, updated.

[2015-07-09 17:18] josevalim opened #764 "Handle decimal in query expressions"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] Postgres
* [x] MSSQL
* [x] SQLite

It is just a matter of adding this clause: https://github.com/elixir-lang/ecto/commit/f96e6028c6e25fc508b4ed39a67ef1a6b9248ce5#diff-975ad8a7b1f8e27ac59595bcdbdd0a07R355

[2015-07-09 17:30] mobileoverlord commented on #764
MSSQL: livehelpnow/tds_ecto@8d1c9f8959e61281600ddd5d76bb836765d680e9

[2015-07-09 18:10] jeregrine opened #765 "Multiple order_by's and one empty causes invalid SQL to be generated"
[code]

Returns
[code]

Can see the error in the order_by
[code]

This is definitely a bug in my code that generates the empty [] but its also a little surprising so I figured I should post it.

[2015-07-09 18:13] jeregrine commented on #765
PLEASE NOTE the code as shown may be slightly wrong, as I cleaned it up from the existing code base with lots more going on.

[2015-07-09 18:27] jeregrine commented on #765
@mitchellhenke provided another more clear example https://gist.github.com/mitchellhenke/49f806677dc78062486f

[2015-07-09 21:21] jazzyb commented on #764
Couple of questions:

Firstly, I'm trying to write a unit test for the Decimal case, but this code:

[code]

gives me this error:

[code]

What is an example query expression I could use to test the Decimal change?

Secondly, I'm getting the following error when I try to run integration tests with the newest commit in master:

[code]

Code is [here](https://github.com/jazzyb/sqlite_ecto/tree/test-

[2015-07-09 21:28] josevalim commented on #764
You don't need to right one as we already have tests in the `integration_test/cases/types.exs`. Something like:

    from p in Post, where: p.some_decimal == 1.0

will convert 1.0 to Decimal.

Maybe an issue based on how things are being loaded? I have improved the error message but the issue is that it can't find the config for Ecto.Integration.TestRepo.

[2015-07-09 21:52] jazzyb commented on #764
Thanks for the help, José!

I had `Application.put_env(:sqlite_ecto, ...` instead of `Application.put_env(:ecto, ...` for both `TestRepo` and `PoolRepo`.  I don't know how I got away with that one for so long.

SQLite: https://github.com/jazzyb/sqlite_ecto/commit/a2a48d84ce955bea40c45f6c5117912538bbc31a

[2015-07-09 22:14] #764 closed

[2015-07-10 13:13] josevalim opened #766 "Raise ecto query errors in MySQL and Postgres"
@michalmuskala is doing this in his mongo adapter and we should do the same, otherwise users are stuck with errors like these that do not emit the query:

https://github.com/drewolson/scrivener/blob/master/lib/scrivener.ex#L153

@michalmuskala can you please give us a hand in here and do this change for pg/mysql too?

[2015-07-10 14:08] michalmuskala commented on #766
Sure, I'll take a look at this once the embedding is finished.

[2015-07-10 18:44] josevalim commented on #734
This will be solved with #768.

[2015-07-10 18:44] #734 closed

[2015-07-11 03:40] zepplock opened #771 "Ecto, Postgres performance"
I have benchmarked ecto/phoenix performance and got very weird results:
https://github.com/zepplock/phoenix-showdown/blob/master/README.md

The whole project is json api, just 1 resource.
Benchmarks are based on https://github.com/mroth/phoenix-showdown

The first table is just Phoenix serializing a static hash (original test).
The results are good, ~10x against Rails.

The second table is Phoenix

[2015-07-11 07:21] josevalim commented on #771
That code is running very old Ecto and Phoenix versions. Try upgrading to Phoenix v0.13.1 before (there is a [pull request here](https://github.com/omnibs/phoenix-showdown/commit/acc040cb690bd59a15dd0bd61de1ea64fc3d3c08)) and remember to configure your pool size. You want at least 20 connections for running in production/benchmark environment.

[2015-07-11 07:22] josevalim commented on #771
Also, which command are you using to benchmark them? Be sure you are running both Phoenix and Rails in prod environment. We are typically more than 10x faster than Rails.

[2015-07-11 11:10] #765 closed

[2015-07-11 13:09] jeregrine commented on #765
Thanks @josevalim 💗💖💕💜

[2015-07-11 13:17] mitchellhenke commented on #765
❤️

[2015-07-11 19:53] #763 closed

[2015-07-12 05:28] zepplock commented on #771
Hello Jose, thanks for the tips.
I have generated a new Phoenix app using ``mix phoenix.new benchmarker --no-brunch`` and got much better numbers. Default configuration, just logger set to error level. About 4x vs Rails.
Results are here: https://github.com/zepplock/phoenix-showdown/blob/master/README.md

[2015-07-12 07:26] josevalim commented on #771
Glad to hear @zepplock! That's better, but we can definitely do more. If you don't mind, can you run some other benchmarks? You will need Ecto master for this, so in your `mix.exs` file:

    {:ecto, github: "elixir-lang/ecto"}

And please try those:

1. Try changing the pool size in production. The default now should be 20. Try moving it down to 10 and up to 30. How does it affect the results? To

[2015-07-12 07:33] josevalim opened #772 "Should we run tests for CoDel broker too?"
@fishcakez Today we run tests only for timeout broker, should we include both brokers in tests? If so, do we need to run both integration and unit tests with both kinds of brokers?

[2015-07-12 13:16] fishcakez commented on #772
We should definitely run the unit tests to check it works because we want to be sure the broker's configuration is valid and that custom brokers are supported. I'm not sure we get much value from running the integration tests too.

[2015-07-12 14:18] josevalim opened #773 "Decode result sets outside of pool"
Hello @elixir-lang/ecto-adapters and @liveforeverx.

* [x] Postgres
* [x] MySQL
* [ ] MSSQL
* [ ] SQLite3
* [ ] MongoDB

The pull request #768 introduces two big changes to adapters in Ecto:

1. Now we expect result sets to return a list of lists instead of lists of tuples

2. We now support decoding queries outside of the connection and outside of the pool, this means we will hold the connection

[2015-07-12 14:47] #772 closed

[2015-07-12 15:42] josevalim commented on #652
Closing in favor of #746.

[2015-07-12 15:42] #652 closed

[2015-07-12 15:56] josevalim commented on #747
Please let us know when you have more info to reproduce this and we will gladly reopen!

[2015-07-12 15:56] #747 closed

[2015-07-12 17:13] josevalim commented on #749
Please see discussion upcoming #659.

[2015-07-12 17:18] josevalim commented on #659
So this is tougher than I have originally thought. I have thought about first tackling this as:

    has_many :public_comments, from(c in Comment, where: c.public == true, order_by: ...)

However, this has an issue in that `from(c in Comment)` will try to load the comment, so that is not a viable option. One alternative I have in mind is to allow the following:

    has_many :public_comments, c in

[2015-07-12 17:31] tony612 commented on #759
I'd like to try this, but I'm not sure what are the date/time/datetime you mentioned. Is there any more clue?

[2015-07-12 18:45] josevalim commented on #759
Thanks @tony612! The plan is to make :date the same as Ecto.Date and so on. In order to do that, I believe it is mostly a matter of changing Ecto.Type functions (cast/load/dump) for `:date` and friends to call their counterparts in `Ecto.Date` and so on respectively.

[2015-07-12 18:46] josevalim commented on #737
@gjaldon would you like to give this one a try? :)

[2015-07-12 18:47] josevalim commented on #722
@hubertlepicki this is also in the adapter area you are a bit familiar with. Would you like to give this a try? :)

[2015-07-12 18:48] josevalim commented on #659
@gjaldon I would like to tackle this one because it is very complex and there are still some moving parts I have not solved yet.

[2015-07-12 18:54] hubertlepicki commented on #722
sure happy to have a look. You know, @josevalim, one day I'll actually need to use this library

[2015-07-12 19:38] gjaldon commented on #659
@josevalim sure, please go ahead. :)

Passing the queryable to has_many would have been the ideal since that way we could possibly pass functions that return a query like `has_many :public_comments, ^Comment.scope`. No idea how if it's possible though given the issue of the Comment model being loaded at compile-time.

If not possible, then the next option sounds great too!

Btw, would also be grea

[2015-07-12 19:56] josevalim commented on #659
We can't have preloads because if you do `assoc(p, :public_comments)` in a query there is no way we can get preloads from that.

[2015-07-12 20:00] gjaldon commented on #737
@josevalim sure would be glad to give this a try! :)

Need a bit of clarification though, @ericmj . Do you mean:

[code]

And then have `assoc/2` work like?

[code]

[2015-07-12 20:06] josevalim commented on #737
I think he meant the `Ecto.Model.assoc/2`. He wants this to work:

    Ecto.Model.assoc([post, user], :comments)

However, I am not sure how this would be possible without supporting UNIONS? Even more now that we want to support where and what not in associations?

@ericmj?

[2015-07-13 03:12] tony612 commented on #759
@josevalim I'll try to implement this these days and I'll ping you if I have any question :)

[2015-07-13 07:18] josevalim opened #777 "Table renaming in migrations"
Hello @elixir-lang/ecto-adapters,

* [x] Postgres
* [x] MySQL
* [x] MSSQL
* [x] SQLite3
* [x] MongoDB

See #775.

[2015-07-13 08:56] hubertlepicki commented on #722
This is not yet done (so not a PR yet) but the implementation for postgres will be along those lines: https://github.com/amberbit/ecto/commit/c0d059319e1187757af5a39e6734edac0f8f6a5f

I need to work further on MySQL and test if it actually works agains real database backend, not just concatinating and comparing strings ;)

[2015-07-13 08:59] josevalim commented on #722
Awesome! Integration tests can be added here: https://github.com/elixir-lang/ecto/blob/master/integration_test/sql/migration.exs

[2015-07-13 09:36] ericmj commented on #737
Will the new types of association queries be used in `Ecto.Model.assoc/2`? I'm not sure how that would make sense, if we can build the association from `post` and `user` it doesn't matter if the association has a `where`, the association already exists.

`assoc([post, user], :comments)` should just create the query:

[code]

[2015-07-13 12:09] josevalim commented on #737
that's an `and`, it would never match, we need to do an OR:

    from c in Comment, where: (c.user_id == ^user.id) or (c.post_id == ^post.id)

Which means we could solve the problem I mentioned by keeping each condition inside the where:

    from c in Comment, where: (c.user_id == ^user.id AND assoc conditions) or (c.post_id == ^post.id AND assoc conditions)

The issue is with ordering. If they s

[2015-07-13 12:10] michalmuskala commented on #777
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/067a383e90f8d90da26dc8a07842269bb7f93dee

[2015-07-13 12:11] ericmj commented on #737
It can match, it will get the comments posted by the given user in the given post.

[2015-07-13 12:26] josevalim commented on #737
Now I see which query you want to be done. I strongly disagree because multiple entries in assoc becomes an OR:

    assoc([post1, post2], :comments)

Will be:

    where: c.id == post1.id or c.id == post2.id

I see no reason why different models should suddenly become an AND. We could find a way to support what you want, but it certainly isn't via `assoc/2`. I am closing this, someone feel free t

[2015-07-13 12:26] #737 closed

[2015-07-13 16:35] zepplock commented on #771
Results (2nd table): https://github.com/zepplock/phoenix-showdown/blob/master/README.md

Ran with:
``wrk -t4 -c100 -d30S --timeout 2000 "http://127.0.0.1:4000/stories"``
``MIX_ENV=prod elixir -pa _build/prod/consolidated -S mix phoenix.server``

Code change: https://github.com/zepplock/phoenix-showdown/commit/a4894e67bf362b0242b082223a57e766cdd265e8

Old dependencies:
[code]

New dependencies:
[co

[2015-07-13 16:47] josevalim commented on #771
Thank you! Is Ecto master the one shown as `Phoenix13(Ecto)`? Does it mean we are a bit slower than last benchmarks?

[2015-07-13 17:21] zepplock commented on #771
Yes, ``Phoenix13(Ecto)`` is the one from git HEAD.

Jose, I think the results are within margin of error. It is done on my MacBookPro and I have Chrome and other things running ;)

I would say that that there's no clear performance degradation here. Maybe just a few percent.

[2015-07-13 17:35] zepplock commented on #771
@josevalim I also updated Ecto with various pool sized. No surprises there.
Results are here, last table: https://github.com/zepplock/phoenix-showdown/blob/master/README.md

p.s. is there an elixir/phoenix IRC or Gitter where you usually hang out?

[2015-07-13 19:39] foxnewsnetwork commented on #659
Sorry if I'm noob and this is a bad idea, but what about just making it easier for users to create their own `has_many` derivative in the schema section? For example, my current solution for this is the following:

In my model `web/models/dock.ex` is to straight-up use the `Schema.association` macro

[code]
and in `web/scopes/has_many_on_site.ex` I just sort of "inherit" Ecto's has_many associatio

[2015-07-13 20:24] josevalim commented on #771
@zepplock we are on #elixir-lang on irc.freenode.net!

[2015-07-13 20:58] josevalim commented on #659
@foxnewsnetwork this is a very good suggestion. The trouble in support those things though is not the `assoc_query` but the `joins_query` which needs to be expanded and analyzer by Ecto's query planner as in this example:

    join: p in assoc(p, :comments)

That's the root of the issue. For example, if :comments above has a limit, how would that limit be applied when used as a join? we literally

[2015-07-13 21:37] jazzyb commented on #773
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/ddc7495ea828bb913d004a36476be216a1833088

[2015-07-13 21:38] jazzyb commented on #777
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/a38cf99260d109a4f4a97b5d916d10ab3c90c54d

[2015-07-13 21:38] josevalim commented on #773
Folks from other adapters, please hold on those changes. I am running some benchmarks and it seems that the cost of decoding in the client does not really pay off as the connection spends more time copying the data to send to the client. I am investigating to be sure.

[2015-07-13 21:53] josevalim commented on #773
It is official, let's rollback those changes. I get more than 10% slow down doing things on the client, things get worse the bigger the dataset.

[2015-07-13 21:53] josevalim commented on #773
Sorry @jazzyb, I see you comitted just now :(

[2015-07-13 21:57] jazzyb commented on #773
No problem.  Even more activity/contributions for my profile ;)

[2015-07-13 22:16] #773 closed

[2015-07-13 22:33] josevalim commented on #771
I was able to verify that it indeed got slower, we will go back to previous times once new adapter versions are released, thank you!

[2015-07-13 22:33] #771 closed

[2015-07-13 23:21] gjaldon commented on #739
@josevalim I'd like to work on this, if available :)

[2015-07-13 23:44] zepplock commented on #771
I also added Play/Scala performance numbers. It's a bit faster than Phoenix/Elixir but was using more CPU at the same client workload

[2015-07-14 06:41] josevalim commented on #739
Excellent. This change can be done in a couple steps:

1. Let's change how `from` is stored in queries to instead of being a tuple with two elements `{"source", Model}` to become `{"search_path", "source", Model}`. For now, let's just make `search_path` be nil everywhere.

2. Next, let's change Ecto.Queryable and Ecto.Query.Builder.from to accept a tuple with three elements as queryable/argument

[2015-07-14 08:04] josevalim commented on #771
@zepplock those are awesome! this means we can likely push more data to the database? I will try to find out why we are not being able to. When we add query caching, it should help us get closer too.

[2015-07-14 08:45] josevalim commented on #659
I have been thinking more about this issue. One of the things I really liked on Rails associations is that conditions given to the association was also used when building it. For example, if I declared:

    has_many :public_comments, Comment, conditions: [public: true]

When I did:

    build(post, :public_comments)

The returned post would have `public: true`:

    %Comment{public: true}

I woul

[2015-07-14 09:22] josevalim opened #779 "Support intervals in query API"
We need to support [intervals](http://www.postgresql.org/docs/9.1/static/datatype-datetime.html) in the query API.

The tricky part in supporting intervals is to find a common subset of features that would work in all databases. In particular, for the main databases, we need to answer:

1. Are interval values? For example, could we have an interval type that would be interpolated in queries:

[2015-07-14 10:01] michalmuskala commented on #659
If we're talking about rails - the ability to pass procs to association instead of a clunky hash with strange attributes was a great improvement. The old behaviour was very limited in scope and usage, the new one is much better (I know this as I was migrating two apps from rails 3 to rails 4 when this change was made - it simplified things a lot).
My main problem with a keyword is that you can't u

[2015-07-14 10:21] mesosteros opened #781 "ecto.migrate says database does not exist"
I'm working with Windows 8.1 64 bits and Phoenix Framework.
However following the guide (http://www.phoenixframework.org/docs/ecto-models) for Ecto Models hands me this error when I get to ```mix ecto.migrate```.
Steps to recreate:
1. Create new project (```mix phoenix.new ectoTest```).
2. Compile and run (```mix phoenix.server```)
3. Stop the execution after localhost:4000 is served with Ctrl+C.

[2015-07-14 10:40] josevalim commented on #781
Yes, you need to run mix ecto.create if you haven't run it previously.

[2015-07-14 10:41] mesosteros commented on #781
Yes but I did. And it still hands me down this error.

[2015-07-14 10:43] josevalim commented on #781
@mesosteros ok, I will investigate. Btw the guide says right after you need to create the database. :)

[2015-07-14 11:11] josevalim commented on #781
Oh wow, I have found the bug. Database names are case insensitive, so if we invoke `CREATE DATABASE FoO`, it is the same as `CREATE DATABASE foo` unless you use quotes. Because your app name had an uppercase char in it, you got the error the database was not found. We have fixed by ensuring we quote the DB name when creating the DB.

[2015-07-14 11:11] #781 closed

[2015-07-14 11:12] #766 closed

[2015-07-14 11:20] #761 closed

[2015-07-14 11:20] josevalim commented on #761
In master!

[2015-07-14 11:24] mesosteros commented on #781
It's always the simple things. :+1: Managed to get through that step now.

[2015-07-14 11:29] josevalim commented on #659
Good points. Maybe we should allow an on_build option that sets a parameter on build?

    has_many :public_comments, c in Comment, where: c.public == true, order_by: ..., on_build: [public: true]

Thoughts?

[2015-07-14 11:31] gjaldon commented on #659
I like the function approach for setting a 'default scope' for the association since we could do more powerful queries. It would be a challenge though to build an association with default values from conditions like Rails does.

How 'bout we have a `:defaults` option for setting default values for the built association and use the fun for preloading the association? Something like:

[code]

Was ab

[2015-07-14 11:36] josevalim commented on #659
I can't support anonymous functions because of the reasons I mentioned above. If you do a limit, how does that even behave when we do a join in that association? So I would rather whitelist the supported operations.

@gjaldon I like `:defaults` more than `:on_build`, let's go with it.

[2015-07-14 11:56] gjaldon commented on #659
Ah, I see. Ok sounds good to me! :)

[2015-07-14 12:49] jeregrine commented on #659
:+1: on defaults.

Could a solution exist where association queries exist but certain actions
don't apply like limit? And we just document or even log a warning when
used as a preload on a join?

On Tue, Jul 14, 2015 at 6:57 AM, Gabriel Jaldon <notifications@github.com>
wrote:

[2015-07-14 12:53] drewolson commented on #659
I personally feel like I'd steer clear of using a feature like this and rather just use functions on my models. The asymmetry of the API (a difference syntax for association conditions and queries) is worrying to me.

I do think `:defaults` is the best compromise, but again, I'd probably just use functions to accomplish the same (either fetching the association with a scope on a separate query or

[2015-07-14 12:57] josevalim commented on #659
@drewolson the last proposal would still have a symmetric API:

    has_many :public_comments, c in Comment, where: c.public == true, order_by: ..., defaults: [public: true]

Would you still steer away from this?

[2015-07-14 13:02] jeregrine commented on #659
I am with Drew, I don't super use build at all. Just set the post_id
directly :P

I like the scoped queries but currently in elixir I just use functions and
its working out okay

Comment.for_post(post) => from(c in Comments, where: c.post_id == ^post.id)

On Tue, Jul 14, 2015 at 7:57 AM, José Valim <notifications@github.com>
wrote:

[2015-07-14 13:03] jeregrine commented on #659
or I just use preload all over. :P

On Tue, Jul 14, 2015 at 8:02 AM, Jason S <jason@rokkincat.com> wrote:

[2015-07-14 13:04] drewolson commented on #659
@josevalim yeah, I understand that it's symmetric now in the proposal, but it feels like we kind of tacked it on to the "standard" query syntax for the purposes of symmetry. I'd probably still just use functions. That said, if I'm alone on this I'd happily see it as a feature in Ecto. I don't think it takes anything away from the current API, I'm just generally wary of increasing the surface area

[2015-07-14 13:07] josevalim commented on #659
Ok, let's close this. We can add a guideline that associations are meant to work on data, with the help of the upcoming support for associations in changeset and it doesn't make sense to pollute your structs with complex associations if you are mostly worried about querying. Given the complexity of all the discussions in here, it does sound like the most sensible decision to make.

[2015-07-14 13:07] #659 closed

[2015-07-14 13:15] jeregrine opened #784 "Allow Repo.preload to take a query"
[code]

[2015-07-14 14:09] josevalim commented on #779
I have answers for PG and MySQL.

1. Only postgres supports interval as values.

2. The interval value can be interpolated (for example `INTERVAL ? DAY` in MySQL) but the day bit cannot.

3. year, month, week, day, hour, minute, second, microsecond (milisecond not supported by mysql)

[2015-07-14 14:36] josevalim commented on #779
The interpolated value can be int, float or decimal.

[2015-07-14 14:37] josevalim commented on #779
I would also like to discuss operations that calculate the interval on a given date or utc.

[2015-07-14 14:46] houshuang opened #785 "Doesn't realize that select fragment and group by fragment are identical"
I have the following query:
[code]

It compiles OK, but when executing it, I get the following:

[code]

I think the problem is that it doesn't realize that r0.response->>$1 is equivalent to r0.response->>$3. If I replace the $1, $2, $3 with the value "4", the query executes without problem in Postgres.

I realize I could replace this entire thing with a pure SQL query, and initially I had that, b

[2015-07-14 15:37] chrismccord commented on #779
Could we support `:millisecond` in the mysql adapter by translating to microsecond?

[2015-07-14 16:09] josevalim commented on #779
Yeah, we could. Amended.

[2015-07-14 16:17] josevalim commented on #785
@houshuang question: can you somehow write this using as? In the select:

    fragment("?->>? as my_name", field(t, ^column), ^qid)

And using `my_name` in group_by? Or the opposite?

[2015-07-14 16:45] josevalim opened #786 "Support array operations in update"
Now that we released the new update syntax, we can start supporting more operations. Here is the PostgreSQL list:

http://www.postgresql.org/docs/9.1/static/functions-array.html

@michalmuskala where is the list for MongoDB? I think we can at least support concat or push?

[2015-07-14 17:04] michalmuskala commented on #786
Here's a list: http://docs.mongodb.org/manual/reference/operator/update/

We could support `mul` for numeric fields (since Mongo 2.6), for arrays we could support append, prepend (>= 2.6) and concat. Please not that in Mongo those can only be used with constant values (no columns, fields, etc - but we're already dealing with that problem).

[2015-07-14 17:30] zepplock commented on #771
@josevalim I spent very little time on it and I'm not even sure I'm using Play/Scala right.
There are other considerations, for example, Rails 4 started using prepared statements but I'm not sure if all frameworks in the my tests use them. Also connection pool sizes, logging, etc are all factors.

If it is worth doing, I think we should come up with a few workloads, for example: a) pure JSON API s

[2015-07-14 17:38] josevalim commented on #771
I think this is a good idea. Another option is to test scripts that perform a certain amount of operations and measure it instead of going through HTTP.

[2015-07-14 17:43] josevalim commented on #786
Sweet, I think we can support $push and $pull.

[2015-07-14 19:25] #722 closed

[2015-07-14 20:12] foxnewsnetwork commented on #659
Yes, so much this! From a lowly plebeian end-user point of view, it isn't that Ecto is missing features or that the `has_many` doesn't support scopes and defaults. It's more that there is no Ecto homepage with a reasonably comprehensive guide to the canonical use patterns of Ecto's existing features. The Simple example and the existing guide attached to the Phoenix framework are a great start, but

[2015-07-14 20:23] josevalim commented on #659
That's very insightful @foxnewsnetwork. I am not sure how guidelines would work for Ecto but let's indeed try to get something running, maybe start a github repo with some patterns so we start sketching what makes sense.

[2015-07-14 21:16] gjaldon commented on #659
Sounds good! Would be glad to contribute there too.

Btw, @josevalim how to preload comments for user and order them at the same time(just one visit to the DB)? Doesn't seem possible at the moment. It would be helpful for us to be able to customize how associations are queried. Will this be made possible with associations in changeset?

[2015-07-14 21:23] wojtekmach commented on #671
Based on conversation on https://github.com/elixir-lang/ecto/pull/787 here's a quick'n'dirty example of how constraint errors could be translated into changeset errors: https://github.com/wojtekmach/ecto/commit/365a924724a9786bb487df08ab06d87b9b8ce64a.

[2015-07-14 21:29] josevalim commented on #659
@gjaldon I think this will support it: https://github.com/elixir-lang/ecto/issues/784

[2015-07-14 21:29] josevalim commented on #786
In master.

[2015-07-14 21:29] #786 closed

[2015-07-14 21:57] michalmuskala commented on #671
That looks great, but I think we would need to handle errors somehow at the adapter level - we can't handle all adapters at the repo level.

[2015-07-14 21:59] wojtekmach commented on #671
@michalmuskala yup, totally agreed. That was just a proof-of-concept.

[2015-07-15 01:46] gjaldon commented on #659
@josevalim but doesn't `Repo.preload/2` expect a fetched model so would take 2 trips to the db?
[code]

[2015-07-15 02:26] adamkittelson opened #790 "json array support?"
I just noticed that the :map type had been added, stored in a jsonb column in Postgres which is awesome, I'm using a number of jsonb columns in my app with a custom Ecto type. I'm able to replace most of these with the new :map type, but I do have a few columns where I'm storing an array of maps in a jsonb column instead of a single map which doesn't work with the new :map type.

I was just wonder

[2015-07-15 03:17] houshuang commented on #785
Brilliant, that worked, thanks so much. I actually tried something similar,
with `fragment("?->>? as my_name", field(t, ^column), ^qid)`, group_by:
f.my_name`, which didn't work because Ecto didn't know about f.my_name, but
using group_by: fragment("my_name") worked great.

Thanks again

On Wed, Jul 15, 2015 at 12:17 AM, José Valim <notifications@github.com>
wrote:

--
http://reganmian.net/blog --

[2015-07-15 07:12] josevalim commented on #785
Excellent. We may make it easier in the future but not right now (because I have no ideas about how to fix it in ecto without supporting aliases in ecto itself).

[2015-07-15 07:12] #785 closed

[2015-07-15 07:17] josevalim commented on #790
Hey @adamkittelson! We are working on embeds many and the plan is to support two containers:

1. array containers: it would use `{:array, :map}`. Do you see by any chance any problem with this approach?

2. map containers: it would use a map as parameter with keys being auto generated binary ids (like Ecto.UUID)

[2015-07-15 07:22] josevalim commented on #659
@gjaldon it is actually better to make two trips in the majority of case. The issue with assoc(...) in queries is that if you have posts and comments, the amount of data returned from the database will be posts_size x comments_size because it uses a join. So we end-up sending more data and spending more time processing this data in Ecto.

With two queries, the result set is posts_size + comments_s

[2015-07-15 11:25] #779 closed

[2015-07-15 11:27] josevalim opened #793 "Support datetime_add and date_add"
For @elixir-lang/ecto-adapters,

* [x] PG
* [x] MySQL
* [x] SQLite3
* [x] MSSQL

We have added datetime_add and date_add with intervals to Ecto. Here is the commit: https://github.com/elixir-lang/ecto/commit/df37f43a55006ff1e780b87d717901894613dec6

Your adapter should require the new test file and implement the two functions in case date/time interval operations are supported. Otherwise, it shoul

[2015-07-15 15:56] adamkittelson commented on #790
Thanks @josevalim!

The only potential issue I see with `{:array, :map}` is potential confusion with how differently that's represented in postgres with `{:array, :integer}` / `{:array, :string}`, but that's probably not a big deal and nothing documentation can't solve.

There are other things that are valid json that can't be represented with just `:map` and `{:array, :map}` though that I could s

[2015-07-15 16:16] josevalim commented on #790
Ah, definitely. If you want a storage where you can put anything you want then you don't definitely don't want maps but at least you can leverage the fact Postgres will ship with a decoder, so you just really need a custom type.

[2015-07-15 21:09] #784 closed

[2015-07-15 21:26] #790 closed

[2015-07-16 00:19] adamkittelson commented on #790
Thanks for answering my questions Jose, sounds good.

[2015-07-16 00:31] gjaldon commented on #659
Sorry if I'm being persistent here, just want to know what's the best way to go about this. In the context of a Phoenix show action, I load a User who has many comments. I want to be able to get just the active comments. I was initially thinking to do something like:
[code]
Problem is I can't set how the comments are preloaded. In this case, I could use the queryable support in `Repo.preload/2`:
[

[2015-07-16 08:18] josevalim commented on #659
The first case is also doing two trips to the database too. Again, it is actually better to make two trips in the majority of cases, see my answer above. If you really care about doing one trip:

    query = from u in User,
      join: c in assoc(c, :comments),
      where: c.active,
      preload: [comments: c]
    Repo.get(query, 1)

[2015-07-16 09:58] josevalim opened #795 "Dry run should cast changesets as dry run too"
This function should call all embeds recursively passing `:empty` param:

https://github.com/elixir-lang/ecto/blob/master/lib/ecto/changeset.ex#L207-L220

/cc @michalmuskala

[2015-07-16 13:31] mobileoverlord commented on #777
MSSQL: livehelpnow/tds_ecto@09896764d79de32eb47cbd13af087ccf88701e6a

[2015-07-16 14:52] gjaldon commented on #659
I see. Thanks for the explanations and the patience. :) Just wondered how best to do preloading for the case I mentioned. It looks like `Repo.preload/2` is the way to go.

[2015-07-16 15:44] #777 closed

[2015-07-16 17:45] #759 closed

[2015-07-16 17:46] josevalim commented on #739
@gjaldon ping!

[2015-07-16 17:50] gjaldon commented on #739
@josevalim sorry for the delay! I'm on this now :)

[2015-07-16 22:18] #739 closed

[2015-07-16 22:19] josevalim commented on #739
@reset we have a new way to tackle this issue in master.

The idea is that you can now set a prefix that applies to the whole query. There is no official function for setting it but it is just a matter of:

    %{query | prefix: "my_custom_prefix"}

Once you do so, the query source (from), the joins, all models and preloads will be tagged with such prefix, affecting all operations.

[2015-07-16 22:26] josevalim opened #798 "Support query prefixes"
For @elixir-lang/ecto-adapters,

* [x] PG
* [x] MySQL
* [x] Mongo
* [x] MSSQL
* [x] SQLite3

Query prefixes allow developers to change the schema or the database a query will run on. Here is the relevant commit: https://github.com/elixir-lang/ecto/commit/5ab34242d393f634074315c9982c73f5a1973bac

The prefix can be found in the query itself and should be considered for all operations (all, update_al

[2015-07-16 22:58] reset commented on #739
@josevalim got it. So I should assign the key/value on the query struct instead of setting it in this way:

[code]

[2015-07-17 00:58] jazzyb commented on #793
@josevalim I noticed that the MySQL changes allow microsecond precision in intervals and that the MySQL adapter excludes `:uses_usec` tests.  Is that a mistake?  Should the `:uses_usec` exclusion be removed from `integration_test/mysql/test_helper.exs`, or should two different tags be used for the tests in `integration_test/cases/interval.exs` and `integration_test/cases/repo.exs`?

[2015-07-17 01:22] jasonwebster commented on #494
For people who land on this from searches:

I regret most of what I posted above. This is simply much better served at the adapter level (especially for Postgres, considering there are two JSON types). Postgrex now just handles this by default https://github.com/ericmj/postgrex/blob/934f42812fa51aefa1904e8e70c212ff0e02e93c/lib/postgrex/extensions/json.ex and if you're not on that version, you can

[2015-07-17 01:51] jazzyb commented on #798
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/980038b1967a2555d728002773a24bbe388e6533

[2015-07-17 06:33] josevalim commented on #739
@reset yes! the goal is that you write the queries normally and set the prefix later on:

    query = from(a in __MODULE__, where: a.id == ^id)
    %{query | prefix: "shard_1"}

Btw, where are you keeping the current shard? Process dictionary?

[2015-07-17 06:41] josevalim commented on #494
@jasonwebster if anyone lands on this. Ecto since v0.13.0 supports the :map type. It means JSON serialization out of the box as long as you also add Poison to your mix.exs file!

[2015-07-17 11:30] josevalim opened #800 "Ask the adapter about load/dump"
This will allow us to:

* Remove id_types
* Remove the `load(:map, binary)` hack
* Streamline how embedding load/dump happens

[2015-07-17 19:15] reset commented on #739
@josevalim perfect, I understand clearly.

The shard is determined by hashing/modding a particular value. You just run a function to determine which shard something is on by passing it a value. Example:

[code]

And this function looks like this:

[code]

[2015-07-17 22:37] #800 closed

[2015-07-17 23:10] josevalim opened #803 "Ensure embeds_many is never nil in the DB nor in the model after insert/update/delete"
This seems to be possible to happen in a couple different places, so we need tests for it.

[2015-07-18 08:12] ashneyderman opened #804 "Migration with reference can not be rolled back"
Here is my migration

[code]

Here is the result of ecto.migrate

[code]

And here is the error rolling it back

[code]

[2015-07-18 20:35] #795 closed

[2015-07-19 07:46] josevalim opened #809 "Use new load/dump for custom behaviour"
For @elixir-lang/ecto-adapters,

* [x] PG
* [x] MySQL
* [x] Mongo
* [x] MSSQL
* [x] SQLite3

We have dropped the `id_types/0` callback in favor of `load/2` and `dump/2` callbacks allowing adapters to handle any custom type cleanly, without pushing the concern to Ecto. Here is an example from MySQL:

https://github.com/elixir-lang/ecto/commit/66ee4a28c401857b04884bc5dc9c60b67a44b637#diff-3288d85199

[2015-07-19 08:35] #803 closed

[2015-07-19 08:36] josevalim commented on #804
We need to reverse the commands on rollback. Anyone interested in tackling this one?

[2015-07-19 09:38] josevalim opened #810 "Ensure a changeset where action == update and changes == %{} is not stored as change for embeds"
We need to ensure this happens for embeds_one and it also happens for embeds_many in the case **all** entries in the list match the criteria above.

AFAIK we do this for `embeds_one` but there are no tests. We need to ensure and test both cases.

[2015-07-19 12:27] jazzyb commented on #809
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/e9914d70e61cd7ef62c4fb599d64299d690c5650

[2015-07-20 06:34] michalmuskala commented on #810
I'm not sure what do you mean by "not storing" them? Skip sending them to the database? Skip adding them to the changes if one uses something like `put_change`? Or something else entirely?

[2015-07-20 07:20] gjaldon commented on #804
@josevalim I'd be happy to take this on! Haven't looked into this in detail yet but will make time for it later in my day.

[2015-07-20 08:49] josevalim commented on #804
Please do!

[2015-07-20 08:52] josevalim commented on #810
Skip adding them. If the embeds one is valid, action update and no changes or all in the embeds_many are valid, action update and no changes, there is no reason to store them in the parent as changes.

[2015-07-20 09:31] bcardarella opened #814 "Create test db from development schema"
Copied from https://github.com/phoenixframework/phoenix/issues/1035

I am migrating a node.js application over to Phoenix. the database already exists. My development migrations are to normalize the schema with many table/column renames. I currently cannot test the application without creating the test db manually from the development db as a template. This is fine for my development machine, but

[2015-07-20 09:35] bcardarella commented on #814
re: db versions producing conflicting schema files:

Couldn't we output the db version and use this as a constraint on the schema? If the db version is a mismatch for what the schema expects, run migrations as normal? I realize the concept behind an ORM is to allow one to use different dbs but I've already found in reality this to be non-trivial. Especially with the pace that Postgres has had over

[2015-07-20 09:39] josevalim commented on #814
@bcardarella storing the DB name and version in the schema file is a great idea. Then we can compare and ask the users what to do before continuing (they can either do it anyway, choose to migrate or abort).

Agreed. I am not worried about this use case at all for schemas. Once you have a schema then you already choose a DB for your application and I really don't think you should be switching. To

[2015-07-20 12:28] michalmuskala commented on #798
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/7323e46d4f6cc8cb2dec7394783dccf9d75c60ae

[2015-07-20 12:29] michalmuskala commented on #809
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/7323e46d4f6cc8cb2dec7394783dccf9d75c60ae

[2015-07-20 13:51] #810 closed

[2015-07-20 13:51] josevalim commented on #814
@bcardarella btw, are you planning to tackle this? Do you have any idea how hard it is to write the dumping code for PostgreSQL and MySQL?

[2015-07-20 14:46] bcardarella commented on #814
@josevalim I already started to look into it. Both Postgres & MySql support dumping the db schema without data:

* postgres: `pg_dump -d dbname -s  > schema.sql`
* mysql: `mysqldump -u root -p --no-data dbname > schema.sql`

We could use this to start with. I would suggest just supporting the dump of raw sql rather than exploring a elixir/dsl schema export similar to ActiveRecord.

We could captur

[2015-07-20 15:28] mobileoverlord commented on #798
MSSQL: livehelpnow/tds_ecto@20abb725d3571562626b0a51cd504ebff6438364

[2015-07-20 16:09] #798 closed

[2015-07-20 16:13] josevalim commented on #814
@bcardarella that sounds great. I agree we are not going to have a schema export DSL.

Exporting the data as an elixir data structure is interesting. I was originally thinking about dumping it as schema.sql and leaving the DB + VERSION as a comment. What are your thoughts on each format? The upside of being .sql is that you could run it directly, although it is less structured.

[2015-07-20 16:14] bcardarella commented on #814
@josevalim :+1: on the comment idea, feels cleaner

I can take a shot at this later in the week

[2015-07-20 23:48] reset commented on #739
@josevalim I bumped our applications to use Ecto 0.14.1 and all of these changes are working well. Thank you so much for the continued support!

[2015-07-21 07:21] josevalim commented on #739
Glad to hear! I will remove the old code from Ecto now.

[2015-07-21 11:52] jazzyb commented on #793
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/03623a39a1abf3ad2f16099acf3794a0fe0f7057

[2015-07-21 13:07] mobileoverlord commented on #809
MSSQL: livehelpnow/tds_ecto@8ad844c61585c9f76dac9aed0dcb44c67fd2758d

[2015-07-21 13:11] #809 closed

[2015-07-21 13:11] josevalim commented on #809
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-07-21 15:58] herenowcoder opened #819 "Association examples"
Hi...

coming back after a couple of versions, I need to say I really miss the fine & clear examples from the readme, esp. on associations & preloading.

I believe associations usage is, say, 1st advanced/ non-trivial topic one is confronted when starting to use Ecto. Now only for newcomers; after a few months of break in hacking my code which uses Ecto (and it works on production already) I need

[2015-07-21 16:24] josevalim commented on #819
Everything that was in the readme is now in the Ecto module, which is the
first page of the docs linked in the readme. If you think they could be
improved, please send PRs.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-21 17:42] #819 closed

[2015-07-22 10:05] herenowcoder commented on #819
No. I did my homework. It is not there. I wouldn't be raising anything if these docs - including very well written examples which you already had! -  were reasonably findable from the main readme.

[2015-07-22 10:09] josevalim commented on #819
Can you find in the old tags which example do you have in mind? It would be really silly to throw good docs away!

[2015-07-22 14:02] josevalim opened #822 "Provide Ecto.Query.API to document query functions"

[2015-07-22 14:19] josevalim opened #823 "Add Ecto.Schema.embedded_schema"

[2015-07-22 14:52] mobileoverlord commented on #793
Had a little restructuring on my connection. Now the intervals are working.
MSSQL:  livehelpnow/tds_ecto@ 9033bc2931cf4ef8388a5deaa7db217ce9657094

[2015-07-22 15:27] herenowcoder commented on #819
The commit is 28c08e067351d.

But - my apologies. The docs are certainly there. I continuously mistook Overview page for an Ecto-module page. What I was looking for resides in http://hexdocs.pm/ecto/Ecto.html as you said.

[2015-07-22 15:36] gjaldon commented on #823
@josevalim I'd like to take this on. What is `Ecto.Schema.embedded_schema` supposed to return?

[2015-07-22 16:09] josevalim opened #824 "Ecto.Embedded.cast should also skip if there are no changes"
We should take the opportunity to unify change and cast codes.

[2015-07-22 16:10] josevalim opened #825 "Ecto.Embedded.change/cast should respect existing action option"

[2015-07-22 16:18] josevalim opened #826 "Ensure virtual fields are not stored in embeds"

[2015-07-22 16:20] josevalim opened #827 "Allow maps on embeds_many on cast"

[2015-07-22 18:41] josevalim commented on #823
In master. This is easier to implement than to explain. :)

[2015-07-22 18:41] #823 closed

[2015-07-22 18:43] josevalim commented on #819
Oops, that page should be the home page. I will fix it.

[2015-07-22 18:45] josevalim commented on #819
Fixed in the repo, it will be fixed in the docs with the next release.

[2015-07-22 18:46] josevalim commented on #793
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-07-22 18:46] #793 closed

[2015-07-22 18:54] #827 closed

[2015-07-22 18:57] herenowcoder commented on #819
That's very nice!
Thanks for fixing. :)

[2015-07-22 20:37] #826 closed

[2015-07-23 00:33] gjaldon commented on #823
I completely understand :)

[2015-07-23 08:52] josevalim commented on #825
We need to test two new things once we add this:

* action: :update on INSERT should raise
* action: :delete on INSERT should silently discard the changeset WITHOUT running callbacks (since it was never inserted, it can't actually be deleted)

[2015-07-23 09:53] #824 closed

[2015-07-23 09:53] #825 closed

[2015-07-23 16:49] josevalim opened #830 "Ensure update/delete actions in embeds have an id"
When can do it while we apply the callbacks because that's when ids are generated and therefore managed.

[2015-07-23 17:49] #830 closed

[2015-07-23 19:15] werbitzky opened #832 "Deprecation of Repo.insert/2, update, delete in favor of Exception throwing versions"
Shouldn't those methods exist in parallel to each other?

Quote from http://elixir-lang.org/getting-started/try-catch-and-rescue.html

In my particular case: I would like to use the optimistic lock on a model and in case of an unsuccessful update due to a version conflict, I would like to get the record from the database again, apply the changes and try to update again.

With only an error throwin

[2015-07-23 19:23] josevalim commented on #832
We have added the insert/delete/update back. It is very unlikely though that they will handle StaleModelError as such errors can be raised in other situations besides the lock ones (like ID being removed). So you will need to use the try/catch until we come up with a better solution (if there is any).

[2015-07-23 19:23] #832 closed

[2015-07-23 19:34] werbitzky commented on #832
Ah, yes! Sorry didn't see that one.

https://github.com/elixir-lang/ecto/commit/96a50fb1e6c08154cc4c3ba1f43fcb7731bc78f7

[2015-07-23 21:40] #804 closed

[2015-07-23 21:51] josevalim commented on #814
Just a heads up we are planning on releasing Ecto 1.0 in no more than a month. :)

[2015-07-23 22:12] bcardarella commented on #814
Thanks for the heads up. I'm going to take a look at this tonight hopefully. I do want to complete the rename_column PR I have out there too.

[2015-07-23 22:30] TrevorS opened #833 "Problems using date/time intervals."
Using latest Elixir, Phoenix, and Ecto (also does not work on version 0.14.2, 0.14.1, or 0.14.0).

Trying to create a function for my model that returns all records inserted in the last `x` minutes:

[code]

and getting this compilation error back:
[code]

`Ecto.DateTime.utc` works when not using `datetime_add`:
[code]

Specifying a `%Ecto.DateTime{}` works when not using `datetime_add`:
[code]

U

[2015-07-23 22:41] TrevorS commented on #833
Have now tested with every version since `datetime_add` was introduced.  Works for select, does not work for where.

[2015-07-23 22:57] bbhoss commented on #793
The documented code seems not to work on postgres
[code]
Gives me an argument error
[code]

[2015-07-23 22:59] bbhoss commented on #793
Looks like this was reported in #833

[2015-07-24 07:41] #833 closed

[2015-07-24 12:38] #822 closed

[2015-07-24 17:48] josevalim opened #836 "Support create_if_not_exists and drop_if_exists"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] PostgreSQL
* [x] MSSQL
* [x] SQLite
* [x] MongoDB

Here is the relevant commit: https://github.com/elixir-lang/ecto/commit/b567992d6836aa53a2ffc5ef203ae2c390c9b439. Just duplicate the changes and unit tests added to MySQL or PostgreSQL. Notice that `ddl_exists` is gone and can be removed.

[2015-07-24 18:38] TrevorS opened #837 "Error using datetime_add and field/2."
Elixir: **1.0.5**
Ecto: **HEAD**

Using a combination of `datetime_add` and `field` to create a query:

[code]

[2015-07-24 18:47] josevalim opened #838 "Support rename columns"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] PostgreSQL
* [x] MSSQL
* [x] SQLite
* [x] MongoDB

Here is the relevant commit: https://github.com/elixir-lang/ecto/commit/1fc57c3b61b38985d78ae459170f25d1628dd95f. Just duplicate the changes and unit tests added to PostgreSQL.

[2015-07-24 18:51] josevalim commented on #837
I cannot reproduce this. Can you show the ecto entry in your mix.lock? I am thinking maybe you aren't on latest. Maybe do `mix deps.update ecto`, followed by `mix deps.clean ecto` and try again?

[2015-07-24 19:04] TrevorS commented on #837
`mix.lock` after doing `mix deps.clean ecto` and `mix deps.get ecto`:
[code]

Here is the context of that function:
[code]

Same compilation error:
[code]

[2015-07-24 19:19] josevalim commented on #837
Fixed in master, thank you!

[2015-07-24 19:19] #837 closed

[2015-07-24 19:22] TrevorS commented on #837
Thanks!

[2015-07-25 01:34] jazzyb commented on #836
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/44a4f27006ed77286c1b0858df7b888d5aebb598

[2015-07-25 01:35] jazzyb commented on #838
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/ee82c27c363519f607cc4ba01726f1448518251a

[2015-07-26 13:47] michalmuskala commented on #836
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/3145129243992ebefa239bb0bb43ccc0b14a541d

[2015-07-26 13:47] michalmuskala commented on #838
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/3145129243992ebefa239bb0bb43ccc0b14a541d

[2015-07-26 18:56] chinh7 opened #840 "Problem with encoding Ecto model after upgrading to 0.14"
My Phoenix app had been running fine until recently when I upgraded Ecto to v0.14
I noticed Ecto metadata source was changed from string to tuple, resulting in a json encoding problem
Any advice to fix this?

[code]
[code]

[2015-07-26 20:43] josevalim commented on #840
This is actually a good error to have. You were encoding private metadata information to the client. Please check how to customize your encoders in Poison or provide a default function for such that removes fields like `__struct__` and `__meta__` as this is not an Ecto bug.

[2015-07-26 20:43] #840 closed

[2015-07-27 16:58] josevalim commented on #356
This has been merged into master. @drewolson and @reset please ping me later, I will need your help to test this and possibly measure improvements.

[2015-07-27 16:58] #356 closed

[2015-07-27 17:15] jonhkr opened #841 "validate_number does not work with decimal"
I don't know if it was supposed to work but since Ecto implements the decimal type it should.

It fails with negative decimals, eg:
[code]

[2015-07-27 17:56] reset commented on #356
@josevalim I pinged you on twitter DM. Follow up there and we can get whatever you need!

[2015-07-28 13:41] #841 closed

[2015-07-28 14:26] gjaldon commented on #841
@jonhkr this should be fixed in master :)

[2015-07-28 15:55] jonhkr commented on #841
Thank you @gjaldon. I'll check it out :smile:

[2015-07-30 10:08] josevalim opened #846 "Should we also ensure maps are never nil?"
We do something similar to arrays... should we do the same for maps? /cc @michalmuskala

[2015-07-30 10:08] josevalim commented on #846
Actually, we should not. Closing. :)

[2015-07-30 10:08] #846 closed

[2015-07-31 11:12] ericmj opened #847 "Allow of escaping of ? in fragment"
Today you can't have ? in a fragment string without it being converted to $N.

[2015-07-31 21:44] stavro opened #848 "Unsupported nullable array columns in Ecto?"
Ecto version 0.14.3
Postgrex version 0.9.1

My schema has a column of type `{:array, :integer}` which, at the database level, supports a `NULL` value.

At the database level there **is** a difference between a `NULL` value and an empty array.  However, it appears as though Ecto does not support `nil` values for (at least) integer array columns.

To set up:

[code]

Upon loading the previously crea

[2015-08-01 08:14] josevalim commented on #848
We have added this behaviour quite recently. I think, however, it was misguided. I will revert it and fix this in Ecto.

[2015-08-01 08:22] #848 closed

[2015-08-02 08:10] chinh7 opened #850 "Date comparison"
I was playing around with IEx when I found out Ecto.DateTime comparison is inconsistent with that of Erlang {date, time} tuple. How does Ecto.DateTime comparison work?
[code]

[2015-08-02 08:32] b0oh commented on #850
`Ecto.Datetime` is an elixir struct which implemented using erlang map, when you do `Ecto.DateTime.from_erl({{2015, 7, 28}, {18, 42, 39}})` it creates a map `%{year: 2015, month: 7, day: 28, hour: 18, min: 42, sec: 39, usec: 0}` and `Ecto.DateTime.from_erl({{2015, 8, 2}, {0, 0, 0}})` creates `%{year: 2015, month: 8, day: 2, hour: 0, min: 0, sec: 0, usec: 0} `, if you try to compare it you will see

[2015-08-02 10:40] josevalim commented on #850
I will improve the docs, but Ecto.Date and Ecto.DateTime and friends are not comparable.

[2015-08-02 10:40] #850 closed

[2015-08-02 10:44] chinh7 commented on #850
Thanks that makes sense. For now I'll convert those to timestamps before comparing

[2015-08-02 11:33] jonhkr commented on #850
@josevalim Is there any way to override the comparison operators for an specific struct?

[2015-08-02 11:48] josevalim commented on #850
No. You should provide your own comparison functions.

[2015-08-02 11:48] josevalim commented on #850
If someone want to provide a `compare` function to Ecto.Date, Ecto.Time and Ecto.DateTime, it would be a welcome addition. It should require `:eq`, `:lt` or `:gt`.

[2015-08-03 17:01] mobileoverlord commented on #836
MSSQL: livehelpnow/tds_ecto@99e92dba120d945e5ddbc562a7caaf3e91d86754

[2015-08-03 17:02] mobileoverlord commented on #838
MSSQL: livehelpnow/tds_ecto@3b530308e29e94a8bce1b11ad061ddde9472fcb2

[2015-08-03 18:31] #836 closed

[2015-08-03 18:31] #838 closed

[2015-08-03 20:36] liveforeverx opened #853 "Ecto configuration table prefix"
Most database frameworks supports possibility to set global prefix([rails](http://stackoverflow.com/questions/2674191/rails-specify-a-table-prefix-for-mysql) supports ).

Example of using with ecto can be:

[code]

[code]

This will use "test_users" as table name. Best case, the same is applied to schema_migrations too (test_schema_migrations), that it possible to share the same database between d

[2015-08-03 20:55] josevalim commented on #853
I would rather not support it. It is implicit and global behaviour, which I think we should avoid. Also, let's start pushing feature discussions to the mailing list. :)

[2015-08-03 20:55] #853 closed

[2015-08-03 21:01] liveforeverx commented on #853
Ok, next time will start on mailing list, sorry :) Understand.

[2015-08-03 22:18] stevegraham opened #854 "Mix ecto.create uses psql"
Is it necessary for Ecto to use `psql` for database creation? It causes a problem for me because I am using Docker (in all environments) and I don't have Postgres in my application container. It is making running automated tests difficult.

DAE think it would make more sense to use Ecto itself for database creation? I'm interested in contributing a patch for this, but first want to see if it would

[2015-08-04 09:07] josevalim commented on #854
AFAIK it is non trivial to implement this by directly connecting to the database. However, if you can come up with something that works, why not?

[2015-08-04 13:21] whatyouhide commented on #854
@stevegraham I quickly discussed this a long time ago with @ericmj on IRC and the solution he proposed was to install just `psql` on the Elixir container (instead of the whole Postgres).

[2015-08-04 18:31] stevegraham commented on #854
@josevalim is it a PG reason or Ecto reason that makes it non-trivial?

[2015-08-04 18:41] josevalim commented on #854
Try it out and let us know. :) I particularly don't remember, it has been a while and the issues may not even be here anymore.

[2015-08-05 07:05] yoavlt opened #855 "Failed when creating where query using `datetime_add`"
I wanted to create a query like the below.

[code]

It causes an error.
    :erlang.apply(0, :type, [])
    lib/ecto/type.ex:230: Ecto.Type.match?/2
    lib/ecto/query/builder.ex:259: Ecto.Query.Builder.assert_type!/3
    lib/ecto/query/builder.ex:90: Ecto.Query.Builder.escape/5
    lib/ecto/query/builder.ex:142: Ecto.Query.Builder.escape/5
    lib/ecto/query/builder/filter.ex:16: Ecto.Query.Build

[2015-08-05 07:08] josevalim commented on #855
It is a bug that has been fixed in more recent Ecto versions. please update Ecto.

[2015-08-05 07:08] #855 closed

[2015-08-05 10:26] josevalim commented on #854
Closing this. If you can make progress, a PR is welcome.

[2015-08-05 13:31] stevegraham commented on #854
👍

[2015-08-05 20:41] josevalim commented on #814
Hey, just a heads up, we are on schedule to have Ecto 1.0.0 in about 2 weeks. :)

[2015-08-06 09:17] Ruchika1001 opened #858 "'mix ecto.rollback' does not work with 'modify' in 'alter table'"
PostgreSQL: 9.4.3
Ecto:ec 0.14.3

I am executing command "mix ecto.rollback" on an already up migration
<img width="378" alt="screen shot 2015-08-06 at 2 24 56 pm" src="https://cloud.githubusercontent.com/assets/7416427/9108075/7254acc0-3c49-11e5-92fa-5cfb48a88c9c.png">

It gives error like:
<img width="760" alt="screen shot 2015-08-06 at 2 43 28 pm" src="https://cloud.githubusercontent.com/assets

[2015-08-06 09:23] josevalim commented on #858
You need to define up/down in this migration because once you change the type, we don't know how to revert to the previous type.

[2015-08-06 09:23] #858 closed

[2015-08-06 17:50] josevalim commented on #357
In master.

[2015-08-06 17:50] #357 closed

[2015-08-08 04:08] estevaoam commented on #840
@chinh7 if you or someone else still having this issue, I posted a quick coderwall post with the solution for it: https://coderwall.com/p/fhsehq/fix-encoding-issue-with-ecto-and-poison

[2015-08-08 09:32] felipesere opened #861 "Add a connectivity check"
When booting my application, it takes my DB significantly longer to come up than my Phoenix app.
I have modified the Phoenix app to run migrations when starting, so I need the DB to be there or wait.

I'd like to see a function `MyApp.Repo.available?` that will return a boolean. Underneath it could do something like `SELECT 1` or similar. This could also be made configurable.

I'd work on this mys

[2015-08-08 09:42] josevalim commented on #861
@felipesere please take those discussions to the ecto mailing list. If there is a plan or a concrete solution, we can start discussing if it should be added to Ecto or not. At first, something seems iffy about your setup, so let's continue it there.

[2015-08-08 09:42] #861 closed

[2015-08-09 21:25] josevalim opened #863 "Support names in references"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] PostgreSQL
* [x] MSSQL
* [x] SQLite
* [x] MongoDB

Here is the relevant commit: https://github.com/elixir-lang/ecto/commit/34bc420c09588172d430c5bb39867f956362b6eb. Just duplicate the changes and unit tests added to PostgreSQL/MySQL.

Here is the test: https://github.com/elixir-lang/ecto/commit/34bc420c09588172d430c5bb39867f956362b6eb#diff-56abcdb

[2015-08-10 01:32] thousandsofthem opened #864 "Fragments in default field values"
Is there a way to define default field value (especially primary key but point valid for every column)
as a fragment (i.e. without further escaping), e.g.

[code]

or

[code]

(Code above don't work obviously)

P.S. one more example:
[code]

[2015-08-10 03:41] ACPK commented on #840
@chinh7 Were you able to get it working?

@estevaoam  - The coderwall.com link leads to 404.

[2015-08-10 07:03] josevalim commented on #864
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-08-10 07:03] #864 closed

[2015-08-10 07:38] michalmuskala commented on #863
With Mongo there's no references at all, so there's nothing to do.

[2015-08-10 07:41] josevalim commented on #863
@michalmuskala so if I try to create a child model that links to a parent model that does not exist... it would just work?

[2015-08-10 07:43] thousandsofthem commented on #864
As far as i understand that's the issue/enhancement. There are no way of doing so (according to my understanding of source code - because of strict type validation)
And this ability would be really useful for many people

[2015-08-10 07:51] michalmuskala commented on #863
Yes. The links in Mongo are at application level - there are no facilities for that in the database.

[2015-08-10 07:54] josevalim commented on #864
@thousandsofthem it is possible. Also, if it was a feature, we should first discuss them in the mailing list, with everyone. Please open up a discussion in the mailing list.

[2015-08-10 07:56] thousandsofthem commented on #864
Ok, thanks

[2015-08-10 10:45] josevalim opened #865 "Support constraints"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] PostgreSQL
* [x] MSSQL
* [x] SQLite
* [x] MongoDB

Ecto master has added support to convert database constraints into changeset errors. SQL adapters just need to convert errors into constraints information. If your database provides structured errors, you can just copy Postgres:

https://github.com/elixir-lang/ecto/blob/master/lib/ecto/adapters/po

[2015-08-10 10:45] josevalim commented on #671
In master!

[2015-08-10 10:45] #671 closed

[2015-08-10 14:48] josevalim opened #867 "Check when the ETS table is not available"
We were used to check the pool process but now the ETS table for query cache will be the first to fail.

[2015-08-10 16:39] elbow-jason commented on #865
Oh cool! Much better than simply crashing the process.

[2015-08-10 23:10] jazzyb commented on #865
@josevalim I have a few questions about the constraint integration tests:

*  When I get a unique constraint error, SQLite returns a message like `"UNIQUE constraint failed: posts.uuid"`.  However, [this assertion in the integration tests](https://github.com/elixir-lang/ecto/blob/master/integration_test/cases/repo.exs#L205) is failing because it is apparently looking for a return value of `[unique

[2015-08-10 23:11] jazzyb commented on #863
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/3ea9113fb80b33011548f588729c5b01a5381daa

[2015-08-11 05:50] josevalim commented on #865
@jazzyb those are very good questions. If you are having them now, it means we need to straight some things out in the API. Let's start:

Both PG and MySQL return the index name in the error. That's because the same column can have multiple indexes.

The error message says: "If you would like to convert this constraint into an error, please call unique_constraint". So unless you have mapped that c

[2015-08-11 06:00] michalmuskala commented on #865
I can have unique constraints without any problems. As for the foreign key ones - I'm ignoring the whole body of `create` calls in migrations - so I’m already ignoring the constraints.

[2015-08-11 12:29] jazzyb commented on #865
Based on my testing I would vote for returning a blank in SQLite:

[code]

This allows the original errors to be raised.

[2015-08-11 12:44] josevalim commented on #865
@jazzyb that sounds like a plan. Thanks @jazzyb.

[2015-08-11 13:20] jazzyb commented on #865
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/37a4b6a4996b99fe7b50ff92e02928f2926e2759

[2015-08-11 16:45] mobileoverlord commented on #863
MSSQL: livehelpnow/tds_ecto@f60939cf655465d23b7ca2bf7caa26b9f1498e72

[2015-08-11 17:06] #863 closed

[2015-08-12 08:45] josevalim opened #869 "Support context in metadata"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] PostgreSQL
* [x] MSSQL
* [x] SQLite
* [x] MongoDB

We have added a context field to the metadata and passing it to adapters. The changes are minimal for SQL adapters: instead of receiving a tuple, insert/update/delete now receive a map:

https://github.com/elixir-lang/ecto/commit/65c4b7922e6721c74605c17606ddf693b7db1bef#diff-390cecbd5d47004a498f0c

[2015-08-12 08:56] #867 closed

[2015-08-12 11:53] jazzyb commented on #869
SQLite:  None of the changes look applicable.  Latest integration tests pass.

[2015-08-12 12:19] josevalim opened #870 "Ensure null, defaults and references are used on alter table"
For @elixir-lang/ecto-adapters,

* [x] MySQL
* [x] PostgreSQL
* [x] MSSQL
* [x] SQLite
* [x] MongoDB

There were some bugs when generating modify clauses in migrations for PostgreSQL and MySQL so you may have inherited those too. To improve this, I have added integration tests and I have added some unit tests too. All has been done in this commit: https://github.com/elixir-lang/ecto/commit/f8f8b87

[2015-08-12 15:10] michalmuskala commented on #870
MongoDB does not support null constraints, defaults, or references

[2015-08-12 16:03] sumerman opened #871 "Recent version of Ecto refers to renamed `Utils` module by the old name"
With `0.15` in my `mix.exs` I got an error:

[code]

[2015-08-12 16:22] sumerman commented on #871
Full deps cleanup and then full recompilation have solved the problem. Looks like Elixir protocol related issue.

[2015-08-12 16:22] #871 closed

[2015-08-12 16:56] josevalim commented on #871
That was supposed to work without issues, you shouldn't explicitly need to fully recompile. Unless you had a path/git dependency and changed to Hex (which is currently an Elixir bug). Is that the case?

[2015-08-12 16:57] sumerman commented on #871
@josevalim nope, it's not the case. I've just bumped versions.

[2015-08-12 16:58] josevalim commented on #871
Can you tell me your previous Ecto version, the new one as well as your current Elixir version?

[2015-08-12 20:06] josevalim opened #873 "Make type required at least in migrations"
See: http://stackoverflow.com/questions/31966119/phoenix-ecto-error-when-loading-assoc

The reasoning is that those errors are harder to handle properly. A type mismatch in Ecto is usually more informative.

Thoughts?

[2015-08-13 10:44] josevalim commented on #871
Ping.

[2015-08-13 10:50] josevalim opened #874 "Support count with distinct (and possibly other aggregators too)"
First we need to check how well supported in SQL databases this is.

[2015-08-13 12:05] sumerman commented on #871
@josevalim sorry, for my unresponsiveness. Here is the excerpt from the `mix.lock` diff.
[code]

[2015-08-13 14:28] sumerman opened #875 "get_field for nested changesets should filter out deleted entries for has_many relations"
When I use `Changeset.get_change` I expect it to return what it returns now, but for the `Changeset.get_field` the expectation is to return the value as if it comes from the model.

[2015-08-13 16:23] josevalim commented on #875
Agreed. @michalmuskala can you please take a look?

[2015-08-13 16:36] michalmuskala commented on #875
Yes, I'll look into this.

[2015-08-13 17:28] michalmuskala commented on #875
Should it return changesets or models? I believe it should be applied models

[2015-08-13 17:29] sumerman commented on #875
@michalmuskala that would be the least surprising thing

[2015-08-13 20:05] sumerman commented on #875
@michalmuskala thanks

[2015-08-14 01:19] jazzyb commented on #870
SQLite: https://github.com/jazzyb/sqlite_ecto/commit/4361e211c4e30eea768d53d35bcd253dde9183dc

[2015-08-14 03:07] #875 closed

[2015-08-14 08:51] michalmuskala commented on #869
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/1e872687cd1cc0b80759ed5ef4f4637bb856fcda

[2015-08-14 08:54] michalmuskala commented on #865
MongoDB: https://github.com/michalmuskala/mongodb_ecto/commit/d9e721b2b1ea7ef2e4f7d6c383f8c79019e359d3 and https://github.com/michalmuskala/mongodb_ecto/commit/51dec3796587fc0190548c2718c8df5bc0720ec0

[2015-08-14 10:55] filipabramowicz opened #877 "No validation of options specified in validate_number()"
There is no validation of options specified in validate_number(changeset, field, opts).

According to the documentation, only the following options are allowed:

[code]

However when incorrect options are used, such code fails silently (it doesn't validate and it doesn't fail at compilation) - there is no indication that something is wrong:

[code]

Is it for some reason or could it be improved?

[2015-08-14 11:00] josevalim commented on #877
I could definitely be improved.

[2015-08-14 11:36] filipabramowicz commented on #877
Do you plan to implement it or do you need some help?

[2015-08-14 11:59] josevalim commented on #877
Please try a pull request if you would like to. I won't have time to tackle this one soon.

[2015-08-14 14:51] sumerman opened #878 "Changeset generated with params set to :empty never picks up params added by subsequent changes"
As described in phoenixframework/phoenix_ecto#24 for some reason I have to do `Model.changeset(Model.changeset(model), params)` in order to properly initialize my changeset. But to my further surprise this is not enough, and values from `params` are not visible from a form generated out of this changeset.

It happens because `Model.changeset(model)` will set params to `nil` and then, next merging

[2015-08-14 17:00] sumerman opened #879 "after_load is called before association is loaded"
So, it makes this callback useless for cases like precomputing a number of nested model of has_many

[2015-08-14 17:50] josevalim commented on #879
This won't be fixed. This is exactly the kind of computations we ask to not do on after_load as after_load is called for every single record. Maybe have a explicit step that performs this after you fetch the models and keep after_load simple.