[2018-01-17 12:09] josevalim commented on #2378
You are correct, without `:returning`, we don't expect the adapter to return anything. We could figure out a way to make it work but I would like to understand why you are returning nil and if that's indeed the preferred approach in your case.

[2018-01-17 15:10] alhambra1 commented on #2378
Hi Jose,

Thank you for your response. Having the adapter return `{:ok, [id: nil]}` in Ecto 2.1 resulted in the behaviour described in Ecto's documentation where the final returned struct's `id` field is `nil` (lines 765-770 in file, "https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo.ex"):

[code]

Could you please clarify what you mean by expecting the adapter not to "return anything?

[2018-01-17 15:14] josevalim commented on #2378
Do you have the IDs generated in the adapter/client? If so, that would explain it.

The `on_conflict: :nothing` documentation is not saying the ID is being set to nil but rather that we are not getting an ID from the database. But if the ID is generated in the client, then we will have whatever was generated.

So one option to proceed here is indeed return `[]` and we update the docs to clarify wh

[2018-01-17 15:15] alhambra1 commented on #2378
We are inserting the id in the changeset. The adapter does nothing. In this case there is no way to know if there was a conflict or not.

[2018-01-17 15:27] alhambra1 commented on #2378
Ah, I think I see what you mean -- Ecto docs: ""`id` will be nil if the field is autogenerated by the database and no insert happened." But in our case, or the case when there is no autogeneration, and we insert an `id` in the changeset, then the expected behaviour is to get it back (even though we can't readily know from the result if there was a conflict).

That behaviour seems fine to me now th

[2018-01-17 15:33] josevalim commented on #2378
Perfect! I will keep this open until I fix the docs. :)

[2018-01-17 15:40] alli5723 opened #2379 "Can't group_by substring of column"
### Unable to query with group_by substring

### Environment

* Elixir version (elixir -v):
* Database and version (PostgreSQL 9.4):
* Ecto version (mix deps):
* Database adapter and version (mix deps):
* Operating system: MacOS High Seria

### Current behavior
It seems impossible to query the database for example
* query = from m in Message,
     where: [account_id: ^id],
     group_by: m.network

[2018-01-17 15:48] josevalim commented on #2379
You should pass it as a single list:

[code]

[2018-01-17 15:48] #2379 closed

[2018-01-17 15:57] alli5723 commented on #2379
I still get an error with the single list, seems ecto doesn't know how to deal with the function "substring".

![screen shot 2018-01-17 at 5 54 51 pm](https://user-images.githubusercontent.com/3235411/35052178-9dfb5a7c-fbaf-11e7-9125-0bdfc2bd4d22.png)

[2018-01-17 16:02] josevalim commented on #2379
Yes, in those cases you can use fragment:

    fragment("substring(?, ?, ?)", m.recipient, 1, 6)

[2018-01-17 16:07] josevalim commented on #2379
To learn more about fragments and the supported functions, please see: hexdocs.pm/ecto/2.2.6/Ecto.Query.API.html#fragment/1

[2018-01-17 16:16] alli5723 commented on #2379
Thank you,
The fragment works as intended.

[2018-01-18 08:23] wojtekmach opened #2380 "Ecto.Query.API.map broken on single nil column with join"
### Environment

* Elixir version: Elixir 1.7.0-dev (4175ddebd) (compiled with OTP 20)
* Database and version: psql (PostgreSQL) 9.6.5
* Ecto version (mix deps): master
* Database adapter and version (mix deps): postgrex 0.14.0-dev
* Operating system: macOS Sierra

### Current behavior

[code]

### Expected behavior

[code]

here's a test case!

[code]

[code]

[2018-01-18 08:24] #2377 closed

[2018-01-18 08:27] josevalim commented on #2378
This has been fixed in master. :)

[2018-01-18 08:27] #2378 closed

[2018-01-18 17:17] grantovich opened #2382 "Upsert has unexpected effects on `timestamps`"
### Environment

* Elixir version: **1.5.2**
* Database and version: **PostgreSQL 9.6**
* Ecto version: **2.2.6**
* Database adapter and version: **postgrex 0.13.3**
* Operating system: **Alpine Linux 3.6**

### Current behavior

When using `Ecto.Repo.insert` with the `on_conflict` option to perform an "upsert", there are some surprising effects on timestamp columns defined with `Ecto.Schema.times

[2018-01-18 21:04] wfgilman opened #2383 "DBConnection.ConnectionError when running Ecto.Query from within Ecto.Multi"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.5.4
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): 0.13.3
* Operating system: Mac Sierra

### Current behavior

I have a complex database transaction which creates an object supertype with two subtypes. Creating these records and respecting the database co

[2018-01-18 21:12] josevalim commented on #2383
The issue is that insert_plan is failing and that triggers the transaction to rollback. Any operation that you try to do after that, will fail, because the transaction is rolling back. In other words, consider that the transaction is in an invalid state.

There is nothing we can do here, you need to move the lookup for {:ok, plans} out of Multi in that case. Maybe return `{:ok, :lookup_plans}` and

[2018-01-18 21:19] wfgilman commented on #2383
So the multi transaction will begin rolling back automatically if a child transaction fails? I thought I could pattern match on the result of the multi for `insert_plan` and take an alternative action within the `create` multi.

[2018-01-18 21:26] josevalim commented on #2383
It doesn't start rolling back just yet but once it fails the database will refuse further operations until it is rolled back.

[2018-01-18 21:28] wfgilman commented on #2383
Okay thanks for clarifying! 👍

[2018-01-18 21:28] #2383 closed

[2018-01-18 21:44] josevalim commented on #2382
Thanks for the report.

We will improve the documentation since I would expect an operation called `:replace_all` to indeed replace all fields. Otherwise we are just preparing ourselves to an inevitable report of how `:replace_all` does not really replace all fields. :)

[2018-01-18 22:32] grantovich commented on #2382
Thank you for the quick response, @josevalim, and for maintaining Ecto 😃

Here's the unintuitive aspect to me: I would certainly expect `replace_all` to replace all fields _that I specified_ in the struct/changeset, but I'm not specifying a value for `inserted_at` (supplying either a struct where the field is `nil`, or a changeset that does not include it). The documentation seems to have the same

[2018-01-18 22:49] josevalim commented on #2382
You are correct the documentation there is wrong. It is supposed to mean it is replaced by all values *sent* to the database and that includes client generated timestamps.

[2018-01-19 07:46] jimekevin opened #2384 "Compiling ecto fails: (UndefinedFunctionError) function Ecto.Adapter.json_library/0 is undefined or private"
### Environment

* Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Elixir 1.5.3
* Dependencies:
  connection 1.0.4
  db_connection 1.1.3
  decimal 1.4.1
  ecto 2.2.8
  poolboy 1.5.1
  postgrex 0.13.3
* Operating system: Mac OSX 64-Bit, 10.13.1

### Current behavior

I download elixir with brew and tried to create a new proje

[2018-01-19 07:58] josevalim commented on #2384
There is something wrong happening in your project. The warnings say that Ecto files are coming from here:

    /Users/jimetsu/Projekte/anonymizer/_build/dev/lib/dep_from_git/ebin/Elixir.Ecto.Query.API.beam

But I don't think there is an application called `dep_from_git` and, even if there was one, it should not contain Ecto files.

So I am guessing what happened is that you at some point defined

[2018-01-19 07:58] #2384 closed

[2018-01-19 19:49] grantovich commented on #2382
Thanks, that makes sense. To clarify your view on this, do you think this is 100% a "working as designed" scenario (and just needs doc improvements), or is there a case to be made that e.g. the logic added by the `timestamps` macro should better handle upserts? Or would that be inadvisable, or even impossible due to the way upserts work?

[2018-01-19 20:41] josevalim commented on #2382
Working as designed in the sense replace_all should replace all entries. We
could fix it but I don’t think we should.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-19 21:37] grantovich commented on #2382
Oh, I'd agree on the `replace_all` point. I was wondering if there's a way to change how `timestamps` works, so it doesn't send any value for `inserted_at` when an update occurs (`replace_all` would still replace all values _sent to the database_, as you say).

For comparison, although ActiveRecord doesn't have a native upsert function, there is a third-party gem [`active_record_upsert`](https://g

[2018-01-19 22:34] josevalim commented on #2382
@grantovich the values that you send on update are completely controlled by the `:on_conflict` option. If you don't want `:inserted_at` to be part of it, then you should not include it.

[2018-01-22 11:00] josevalim opened #2388 "Support named joins"
## The problem

A commonly asked feature about Ecto is to support named joins. The idea is that, if you need to compose a query by parts, you may want to refer to previous joins. The only way to do so in Ecto today is via positional bindings:

      query = Post

      # Filter by the join
      query = from p in query,
                join: c in Comment, where: c.post_id == p.id

      # Extend t

[2018-01-22 11:26] ericmj commented on #2388
Can you expand this? When would `:on` have to be repeated?

[2018-01-22 11:33] ericmj commented on #2388
I think this looks good, my only concern is that repeated joins with the same binding are merged into one. This can cause issues when you actually want to join back on yourself, for example fetching your friends of friends. Is it possible that the join merging is trying to solve a problem that doesn't exist?

[2018-01-22 11:51] josevalim commented on #2388
In cases like this:

    # Create a query
    query = from p in Post,
            left_join: c in Comment, as: :comments, on: c.post_id == p.id,
            where: c.something

    # Extend the query
    query = from p in query,
            left_join: c in Comment, as: :comments, on: c.post_id == p.id,
            select: {p.title, c.body}

They are only merged into one if they have exactly the sa

[2018-01-22 12:27] michalmuskala commented on #2388
I like the idea.

My question is, how do you refer back to the join in subsequent expressions like `where` or `from`? Do you some form of the `from [comment: c]` syntax? Or is that just for deduplicating the joins and you just write them out each time?

[2018-01-22 12:37] josevalim commented on #2388
@michalmuskala you always refer back by adding the same join and using the same `:as` tag. That's why it is idempotent, you always need to declare the join, but, if it already exists, we won't add it again.

[2018-01-22 12:41] ericmj commented on #2388
I didn’t realize that you have to declare the joins again to use them, I
think that can be potentionally confusing and allows less flexibility. Why
not make the :as key a global binding or do what Michal suggested.

On Mon, 22 Jan 2018 at 13:37, José Valim <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2018-01-22 13:09] josevalim commented on #2388
The proposal literally explains why. :) If you make the `:as` key global, you become order dependent and you can accidentally override other joins - which was one of the concerns that you raised.

Think again about the use cases for this feature. You want to implement a search functionality and there are many search criteria. Think you are searching for posts and you also want to select posts wher

[2018-01-22 13:13] josevalim commented on #2388
In fact, if we allow `:as` to be used without reintroducing the join for this particular search functionality, we can even have subtle bugs, where our tests pass because the search criteria come in a certain order, but fail in production when the criteria follow another ordering.

[2018-01-22 15:04] #2388 closed

[2018-01-22 15:06] josevalim opened #2389 "Support named joins"
## Tasks

  * [x] Allow multiple options to be given to join/5
  * [x] Support the `:as` construct in queries
  * [x] Include `:as` on inspected queries
  * [x] Update the documentation
  * [x] Add support for `:as` in `from` too

## The problem

A commonly asked feature about Ecto is to support named joins. The idea is that, if you need to compose a query by parts, you may want to refer to previo

[2018-01-22 15:29] OvermindDL1 commented on #2389
First some glee.  Oh My Word This Would Simplify *SOOO* Much Of My Code And Shorten My Compile Time Whoooo!!!

Now that that is out of the way.  ^.^

I'm not sure why the `:as` needs to be in the join query, instead of this:

[code]

Why not do this:

[code]

This way the syntax more matches the query and it seems more obvious as well since the 'name' of the thing can be inferred as it's unique 'k

[2018-01-22 15:33] josevalim commented on #2389
@OvermindDL1 I thought about it but my reservation is that `join` expects a single binding and not a list of bindings. With your proposal we would mix the consumption of bindings with their definition.

[2018-01-22 16:28] OvermindDL1 commented on #2389
True a list implies more, but it matches the later query.  What about instead a 2-tuple?

[code]

That way it still matches the key/binding pair later.

[2018-01-22 16:34] josevalim commented on #2389
That works!

Another reason to use :as though is that we can use it in the generated SQL
too. It may be handy in some situations.

If we tie it to the binding, it is a bit awkward to also make it part of
the query, because those seemingly have no relation.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-24 03:34] JamesFerguson opened #2392 "Allow passing table hints to the db via Ecto"
### Environment

* Elixir version (elixir -v): 1.5.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MySQL 5.6.38
* Ecto version (mix deps): 2.1.6
* Database adapter and version (mix deps): mariaex 0.8.1
* Operating system: OSX 10.11.6

### Current behavior

Previously discussed on SO here: https://stackoverflow.com/questions/48394148/how-to-give-an-index-hint-to-mysql-through-ecto

Pl

[2018-01-24 09:05] quatermain opened #2393 "Warnings with Elixir 1.5.2 and version 2.2.8"
Hello,

I got couple of warnings:
[code]

### Environment

* Elixir 1.5.2 Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Ecto 2.2.8
* postgrex 0.13.3
* OS X

[2018-01-24 09:10] josevalim commented on #2393
This is happening because you set compile_time_purge_level. The logger call is removed and then the variables are unused. We should probably fix this in Elixir.

[2018-01-24 09:16] josevalim commented on #2393
Fixed here: https://github.com/elixir-lang/elixir/commit/edb52b7ca5ff88e2a376119247092b4370aca918

[2018-01-24 09:16] #2393 closed

[2018-01-25 06:14] bruno-delfino1995 commented on #974
@expelledboy

If you are using `cast_assoc` with the required option, you'd have to preload the association before casting the struct into a changeset

[2018-01-25 12:16] jsangilve opened #2394 "Error while working with DEFERRED foreign key constraint (Postgres)"
### Environment

* Elixir version (elixir -v):  1.5-1.6
* Database and version (PostgreSQL 9.4-9.6):
* Ecto version (mix deps): >= 2.1.x
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: Debian 8-9

### Current behavior

I'm using Ecto (2.2.8) to work with an existent `PostgreSQL` database (wasn't generated through Ecto's migrations). I defined two schemas to represent

[2018-01-25 12:27] michalmuskala commented on #2394
I'm not sure there's a way we can support deferred constraints in a consistent way. I can't imagine a way to make it work in transactions or when working with associations.

I'm not sure, if postgres gives us some information in the constraint error if the constraint is deferred or not, if so we could raise a more helpful error.

[2018-01-25 16:02] josevalim commented on #2394
I agree with @michalmuskala. Even if we fix this case, since we are the ones opening the transaction, it is going to fail under many other scenarios, such as explicit transactions and associations. So I would rather say (and document) that the constraint mechanism doesn't work with deferred constraints.

[2018-01-25 16:46] jsangilve commented on #2394
Thanks for your reply. As far as I know, Postgres doesn't seem to show a different error on deferred foreign key violation.

Is it currently possible with ecto/postgrex to execute a Postgres' [SET CONSTRAINTS](https://www.postgresql.org/docs/9.1/static/sql-set-constraints.html) before running a transaction? If that's possible, there would be way to make `Repo.insert`/`Repo.update` consistent even

[2018-01-25 17:49] josevalim commented on #2394
@jsangilve it is possible but I would recommend you to do it in your own app, as we don't want to issue such command on all transactions on the off case it is needed.

    Repo.transaction(fn ->
      Repo.query!("SET CONSTRAINTS IMMEDIATELY", [])
      # rest of your code
    end)

You can also wrap that in a function in your repository:

    def transaction_immediately(fun, opts) do
      Repo.t

[2018-01-25 20:17] zachdaniel opened #2395 "New Feature: Adding default `where` clauses to schema"
The start of the discussion is in the google group here: https://groups.google.com/forum/#!topic/elixir-ecto/dLsumjvNJ2I

The proposal for the interface:

[code]

Updates would need to be made to joins, from, and other places to ensure that these where clauses are always added.

I think the way forward there is to first modify everything to use `__schema__(:query)`, and then set it up such that th

[2018-01-25 20:23] zachdaniel commented on #2395
Some alternative syntax perhaps:

[code]

[2018-01-25 20:40] michalmuskala commented on #2395
To be honest, I'm not so sure about this. I still have nightmares about `default_scope` from rails.

Querying itself is just one part of the story - what about creating structs and especially associations? Should they be created in a way that satisfies the query?

[2018-01-25 20:48] zachdaniel commented on #2395
I wouldn't want it to affect any stateful operations on the schema, but I do know what you mean. Perhaps this is a slippery slope.

[2018-01-25 20:49] zachdaniel commented on #2395
Perhaps we could just name it slightly differently? Something like:
[code]
to make it clear that it only alters queries made against the resource?

[2018-01-25 21:29] michalmuskala commented on #2395
I'm sorry, if I sounded too harsh.

The feature itself does seem valuable, and I often wanted something similar myself. What I'm worried about is exactly the interaction between this feature and all the other features - especially so, since that touches on something that might potentially affect almost everything else in ecto.

Maybe having some conventions around this first could be useful? Somet

[2018-01-25 21:33] josevalim commented on #2395
@michalmuskala one option is to have a read-only schema - i.e. a view. Coincidentally, that's how I have been telling folks to implement this feature so far: create a database view where it shows only non-deleted stuff.

[2018-01-25 21:38] zachdaniel commented on #2395
We actually had a very extensive system set up for views, but it became very difficult to manage operationally (we have quite a bit of different API resources scoped in this way) and so we switched to having them all provide a `query/0` function and using it everywhere. The views worked *okay* because you can actually insert into views as of recent versions of Ecto. But it became a pretty huge pai

[2018-01-25 21:39] grantovich commented on #2382
I understand that, from a technical standpoint, everything is within my control here and Ecto provides the tools to accomplish the desired behavior. It makes sense why each individual piece works the way it does. My perspective is that the "user experience" produced when these pieces interact is nevertheless likely to cause confusion and data loss for users not intimately familiar with the impleme

[2018-01-25 21:40] zachdaniel commented on #2395
There are also some limitations when it comes to using a table vs a view. With a table, postgres knows about primary keys and allows you to only group by the primary key, even when you want additional rows that come with the record.

e.g
[code]

That above query would work with a table, but it would not work with a view, even if the definition for that view was just `SELECT * FROM posts`

[2018-01-26 10:49] ericmj commented on #2395
The general Ecto philosophy has been to prefer explicit over implicit and avoid surprises. Because of this I think it's better to solve this with a function on the schema module:

[code]

[2018-01-26 10:52] michalmuskala commented on #2395
I guess one problem with this is associations and preloads, which by default only load with the base schema. Maybe a way to specify constraints there would be more useful? Something like:

[code]

[2018-01-26 15:50] jsangilve commented on #2394
Thanks @josevalim.

If you agree, I can open a PR to add a comment about the unsupported deferred constraints to the [foreign_key_constraint section](https://hexdocs.pm/ecto/Ecto.Changeset.html#foreign_key_constraint/3)

[2018-01-26 15:54] michalmuskala commented on #2394
Yeah, and information about it in the docs would definitely be welcome.

[2018-01-26 16:09] zachdaniel commented on #2395
In our case (not that I necessarily have a problem with this) we would by default include that `query_with: &AssociatedModule.query/1` on every relationship in our system. It could lead to some pretty strange bug hunting if you add something to the `query` function but only certain associations honor it.

I still think that it might be the best way though.

Keep in mind also that the ability to ch

[2018-01-26 16:32] OvermindDL1 commented on #2395
Honestly I'm -1 about this whole feature.  It's not hard to build a query helper function and use that for all queries with the schema (it's what I do, and it becomes *SO* much easier to make once we get named joins!  ^.^).

[2018-01-26 16:49] zachdaniel commented on #2395
@OvermindDL1 While I partly agree with what you're saying, we also face a problem of scale. We have 70k lines of code, and like 150 schemas, all of which express this `.query()` function. Remembering to call `.query()` every time you use `from` or `join` is easy (thats how we've set it up), sure, but bring that out to the dozens of times a day new queries are written, and then we have really diffi

[2018-01-26 17:08] OvermindDL1 commented on #2395
I've made it a point to not use unwrapped from/join/etc... just for such reasons (nor do I use the assoc helpers as most of the time they just don't help yeah...).  Most of my queries are of the form of (actual copy/paste):

[code]

I have customized functions that sanitize input, accept arguments, etc...  Very much like functions in SQL in that they are limited in what they accept but can build a

[2018-01-26 17:23] zachdaniel commented on #2395
It sounds like our access patterns are pretty different. All of our resources are standardized and behave the same, and ecto's `assoc` helper maps very well to our conceptual model of them. The only thing that our resources expose about them that matters is their `where` clauses and I'd rather stay as "close to the metal" so to speak, as possible and just build standard ecto queries.

I'd also lik

[2018-01-26 18:30] OvermindDL1 commented on #2395
Entirely true, it was a bit of side consequence of what I have to work with...  ^.^;

For the problem though I'm just saying that standard wrapping functions is the way to go in a functional language.  Adding magical callbacks that get called magically and unexpectedly starts reeking of ruby's weird injections all over the place though (and how would you override it, would you have to use a schema

[2018-01-26 18:35] zachdaniel commented on #2395
Yeah, I know what you mean about the danger of magic, but for us really comes down to wanting to automate a global rule in our system. If we can't get it in a fashion like this, I'll probably write a custom `from` macro that expands `assoc` inline and alters the source of all of the schemas or something. I think its a pretty easy decision to not use a feature like this if it doesn't fit your desig

[2018-01-26 18:37] OvermindDL1 commented on #2395
Quite true, but the same cannot be said of libraries that you may have to use or projects that you may inherit, *those* are what I'm worried about.  :sweat_smile:

[2018-01-26 18:38] michalmuskala commented on #2395
What we're looking after here is something similar to database views, but in the application layer instead of the database layer. I don't thing you'll say database views are a "magic" feature. Why not use database views directly? As it was mentioned before in this thread, database views have some limitations: grouping is harder and versioning is painful.

[2018-01-26 18:46] zachdaniel commented on #2395
@michalmuskala I like that way of framing the problem. That perfectly sums up how we arrived at wanting this feature as well.

[2018-01-26 18:46] OvermindDL1 commented on #2395
@michalmuskala Isn't that precisely what a custom query function is?  :-)

For the example given prior:

[code]

Such functions are indeed views into the schema.  :-)

[2018-01-26 18:52] michalmuskala commented on #2395
Not really, the problem is that we can't, as of right now, set up associations to those custom query functions or use it in other places where we use schema names directly.

[2018-01-26 18:58] zachdaniel commented on #2395
@OvermindDL1 its about simplifying the access pattern. If we can use `assoc` helper, and bake in these queries as configuration, then the access becomes very simple, and impossible to forget when building queries.

[2018-01-26 20:04] OvermindDL1 commented on #2395
That still brings up the question, what then when you need to see the 'deleted' ones, say for an admin log or so?  How do you cancel that magic call, or do you have to make a whole copy of the schema without that call?

[2018-01-26 20:08] zachdaniel commented on #2395
@OvermindDL1 Hard to say. I personally think that, like views, it would be an anti pattern to bypass their conditions. You would only use this if it would make no sense at all to access resources on that schema without those conditions.

[2018-01-26 20:11] OvermindDL1 commented on #2395
In that case I would probably use a `MATERIALIZED VIEW` in the database then, you get a full caching  table with your view (just tell it to update when writing the backing tables) so you get full access on it again (though this is also a bit prohibitive if it is a *ton* of data).

Or just use a function to access the schema instead of using it by name directly, this is a functional language after

[2018-01-26 20:12] zachdaniel commented on #2395
For us, for example, we have multiple schemas over the same table. We use them to represent slices and/or differing views over an API. For instance, we expose administrative endpoints that would access an `/admin_posts` whereas our users access `/posts`. By altering the base query of the schema under the endpoint, we're very protected from nonsensical data getting to that endpoint, like deleted po

[2018-01-26 20:13] zachdaniel commented on #2395
@OvermindDL1 if I said "everytime you call `foo`, make sure you wrap it in a call to `bar` because it doesn't make sense without it, would you not ask me to redifine `foo` to include the call to `bar`? Being functional doesn't make this an invalid use case.

As for materialized views, just a regular view suffices, but has the drawbacks we discussed earlier.

[2018-01-26 20:18] OvermindDL1 commented on #2395
Ooo, I'd use different schema's there (along with different functions) if there is that much different between those (especially in what is returned).

Actually I'd shuffle the `foo` away into a hidden namespace (I put hidden things in a `:_detail_` namespace) and just expose the bar that returns the properly wrapped `foo` already.  Or add an enforcement (credo is useful for this) that makes it so

[2018-01-26 20:23] zachdaniel commented on #2395
We do use different schemas. But when accessing them in queries, I call `ThatSchema.query()` every time.

All I mean is that just because a language is functional doesn't mean that its against the rules to invert the relationship. If the language is function, then its just functions on both ends. So if we have `from` call some designated function on schema's passed in, or the caller call that func

[2018-01-26 21:25] zachdaniel commented on #2395
I wonder if perhaps there is a way around the debate here, if we were to put the onus/configuration of this sort of thing into the `Ecto.Queryable` protocol? For my use cases, if I could tap into that, I could return a query if the module in question is one of my modules. That way we aren't really setting a standard so much as creating an escape valve for those who want it.

[2018-01-26 21:35] OvermindDL1 commented on #2395
Or an extension to the join syntax?

[2018-01-26 21:39] zachdaniel commented on #2395
@OvermindDL1 I think a critical aspect of this feature for me is being able to configure it in a central place, and for the calling syntax to be plain ecto.

[2018-01-27 19:34] khamilowicz commented on #2395
Is there really any reason for defining "from" table in schema? Can't we have something like:

[2018-01-27 19:36] khamilowicz commented on #2395
Is there really a reason why we have "from" clause defined together with schema? Why not make schema and embedded_schema the same, i.e.:

[2018-01-28 19:54] zachdaniel commented on #2395
I'm going to get started on some implementation ideas here. An interesting thing is that we could actually support joins + selects in these queries, because of subquerying. We would want to make sure that they only used `select_merge` or map update syntax for selecting, and that the query's `from` is always the schema this is defined for. Then they could define fields w/ `virtual: true` and select

[2018-01-28 20:42] michalmuskala commented on #2395
So today, the `Ecto.Queryable` protocol, whenever it needs to convert a module to a query, calls the `mod.__schema__(:query)` callback (which is implicitly generated by ecto).

If you wanted to hack it and abuse the internals, you could do something like:

[code]

This should "just work" everywhere and requires no changes to ecto, but I wouldn't recommend it as a production grade solution.

Probab

[2018-01-28 20:51] zachdaniel commented on #2395
@michalmuskala There are actually a lot of places where queries are manually constructed, and `__schema__(:query)` is not called. I know this because what you put up there was pretty much exactly my first attempt at implementing this in our system. I also don't mind if I have to hack it to make it work, as we actually have a higher level DSL that defines an entire API endpoint, which we then use t

[2018-01-28 21:01] michalmuskala commented on #2395
A PR that fixes all the places that don't use `__schema__(:query)` will definitely be accepted. I would have expected it to be used everywhere. Do you remember off the hand some particular examples?

[2018-01-28 21:08] zachdaniel commented on #2395
Sure! The most apparent one is when calling `from` you can say `from row in MyModule` and it manually constructs the struct, as opposed to calling the underlying `__schema__(:query)`

https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/query/builder/from.ex#L58

[2018-01-28 21:51] #2394 closed

[2018-01-28 21:56] #2382 closed

[2018-01-28 22:11] zachdaniel commented on #2395
@jos I knew that probably wasn't going to end up being the way to go, but I figured I'd try to highlight the parts that currently don't use `__schema__(:query)`. I'm wondering, what exactly is `__schema__(:query)` for?

[2018-01-28 22:17] josevalim commented on #2395
@zachdaniel it is still invoked when you call Ecto.Queryable directly. It is just the query compiler bypasses it in some cases for performance.

[2018-01-28 22:41] zachdaniel commented on #2395
@josevalim Got it. Hopefully we get a few more ideas on ways to integrate/achieve something like this! At this point, as inadvisable as it might be, I'm considering writing my own `from` macro that just sanitizes the expressions that we use when building queries, and then calls back down into Ecto's `from` macro. Its not too hard to find and scrub a few target expressions (like `assoc` and the sch

[2018-01-28 22:44] josevalim commented on #2395
@zachdaniel maybe this is the best way to go:

[code]

But again this is not much different from having a function that you call.

[2018-01-28 22:52] zachdaniel commented on #2395
@josevalim so I had originally wanted to introduce the modifications of the underlying query when the query is built, in order to make them transparent, e.g showing up w/ an IO.inspect, and allowing introspection of those changes after constructing a query. However, it seems like the feature could be implemented when planning the query instead. I worry that it would be weird though. It lets people

[2018-01-29 04:33] zachdaniel commented on #2395
It would be a hassle to get `assoc` working doing something like this, but this is at least a functional proof of concept of wrapping Ecto's from macro to get the behavior that I'm looking for. https://gist.github.com/zachdaniel/6a05803f22ee0270fe4338c3e76a87a5

Not necessarily saying its a good idea, just looking for ways to meet my requirements :D

[2018-01-29 05:19] zachdaniel commented on #2395
Just wanted to see how hacky it would have to be on my end, so what I came up w/ is combining the above w/ this change in the schema modules:
[code]

To be clear though, I don't really *want* to do things in a hacky way like the above, but I wanted to see what my worst case implementation scenario would look like.

[2018-01-29 18:31] isaacsanders commented on #2369
@josevalim We have this problem, too. What would need to happen to implement the expected behavior, and would it be accepted if contributed?

[2018-01-29 18:51] josevalim commented on #2369
Ecto 3.0 will likely make this possible, since we will allow `:join` to accept multiple keywords. Reopening so we can further talk about it.

[2018-01-29 19:00] josevalim commented on #2369
@isaacsanders if there is someone willing to work on it, please let us know. We are looking for developers willing to continuously work on Ecto and this can be a great starting point! I think we can start with some simple steps:

1. Change the `from`  field in Ecto.Query to store a new FromExpr struct that will have the fields file, line, source and prefix. The prefix field will still exist in Ect

[2018-01-29 19:34] isaacsanders commented on #2369
@josevalim Something I have never quite understood is: Why do FromExpr & JoinExpr need the prefix field? Can it not read the value from the Ecto schema that it is from-ing & joining from?

[2018-01-29 19:39] josevalim commented on #2369
@isaacsanders because we want to get the data as digested as possible to the adapters and not have them be querying the schema. Otherwise we would be coupling the adapters directly to the schema.

[2018-01-29 19:39] OvermindDL1 commented on #2369
@isaacsanders Plus what if you are using schema-less queries?

[2018-01-29 19:47] isaacsanders commented on #2369
@josevalim The prefix isn't a top-level part of the FromExpr or the JoinExpr, though. The level of abstraction that they belong to is the one where the table name or view name belongs to, IMO.

@OvermindDL1 I think a syntax/argument structure could be developed for that.

[2018-01-29 19:58] josevalim commented on #2369
Then we are simply talking about keeping it alongside the `:source` field in FromExpr/JoinExpr or having them as a separate field. We would probably have gone with the former if we had prefixes since the beginning but they were added in Ecto 2.0 and changing how sources were specified would cause a good amount of rework in adapters.

[2018-01-30 23:52] fireproofsocks opened #2398 "DOCUMENTATION IMPROVEMENT: custom database table- and column-names"
This is my first pull request, so please let me know if it's not the proper flow.  I wanted to include a couple more clarifications/examples in the Ecto docs for using it with existing databases.

Specifically: it would be helpful to demonstrate how to reference an existing primary key that is not named "id", and demonstrate how to alias column names.

How to set this up is not easily distilled fr

[2018-01-30 23:56] josevalim commented on #2398
A PR will be appreciated, definitely. :)

[2018-01-31 04:53] fireproofsocks commented on #2398
PR is here: https://github.com/elixir-ecto/ecto/pull/2399

Please let me know if the suggestions are acceptable or let me know if they would be more appropriate somewhere else.  Also, I wasn't sure of the branching strategy.  Thanks!

[2018-01-31 09:28] #2398 closed

[2018-01-31 18:53] john-griffin commented on #2389
This feature would be incredible. We hit the limits of `...` when trying to generate queries with nested joins and this would solve it.

[2018-02-01 10:42] LostKobrakai opened #2402 "Error when trying to insert schema with nested inline embeds"
### Environment

* Elixir version (elixir -v): 1.6
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 10.1
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): postgrex 0.13.3
* Operating system: OSX

### Current behavior

I've a embedded schema with some nested inline embeds

[code]

Now if I try to insert the schema, which makes use of that pervious embedded schem

[2018-02-01 10:56] LostKobrakai commented on #2402
🤦‍♂️ missing `[…]` around the `%Connect.Scheduling.Schema.TimingSetup.Day.TimeSlot{}`

[2018-02-01 10:56] #2402 closed

[2018-02-01 16:11] zachdaniel commented on #2395
Hey all! Any thoughts on the feasibility of this? Or even some tips on a direction I could maybe take it that has chances of getting approved?

[2018-02-01 16:16] josevalim commented on #2395
Hi @zachdaniel, I don't have anything new to share. I don't have a conclusion either. We have discussed this in the past too and we always reached a point we couldn't quite agree on the best to move forward (or even if there is one).

[2018-02-01 16:24] zachdaniel commented on #2395
Maybe we could come up with a solution if we thought a long the lines of providing an escape valve. For instance, a way to provide a hook/module to ecto's query planner, to define custom behavior if necessary. Something that wouldn't be recommended, but would be the place people get pointed to when they need to do weird query things. So like "we can't help you if you hook in there, we can't guaran

[2018-02-01 21:10] hfiguera opened #2403 ""Internal consistency check failed" during compilation using Erlang/OTP 18.3.4.7"
### Environment

* Elixir version (elixir -v):

Erlang/OTP 18 [erts-7.3.1.4] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.4.5

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

(PostgreSQL) 9.5.10

* Ecto version (mix deps):

ecto 2.2.8

* Database adapter and version (mix deps):

postgrex 0.13.2

* Operating system:

macOS High Sierra 10.

[2018-02-01 21:36] michalmuskala commented on #2403
"Internal consistency check failed" errors are bugs in the Erlang compiler. I'll try looking into working around it. The immediate solution would be to update Erlang/OTP.

[2018-02-01 22:09] Ox90 commented on #1923
Hi, @fishcakez how we can get this patch in 2.1?

[2018-02-02 00:16] josevalim commented on #1923
You can use the 2.1 branch. It is unlikely we will do a new 2.1 release.

[2018-02-02 14:07] Ox90 commented on #1923
Hi, well at this point dont know if its about ecto or the adapter...
I attach a demo proyect, i apretiate any hint.

running on

Erlang/OTP 20 [erts-9.0] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10]

Elixir 1.5.2

MSSQL

CREATE TABLE tests (id int NOT NULL, [name] varchar(60) NOT NULL)
INSERT INTO tests VALUES (1, '"príeba áctúalizar"')

then

mix phx.new try_c --no-html --no-brunch --databas

[2018-02-02 22:51] alexgaribay commented on #2380
I found the code where the issue is occurring but I'm not sure of the solution.
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/queryable.ex#L276-L298

[2018-02-03 10:21] darkbaby123 opened #2404 "Add common DSLs to .formatter.exs"
Hello guys, we recently upgraded our app (with Phoenix & Ecto) to Elixir 1.6. And we currently add many DSL functions to `.formatter.exs`. Below are some for Ecto:

[code]

 I think they're very common for most of the users. If they're in the Ecto's `.formatter.exs` then developers can simply `import_deps: [:ecto]`. If you agree I'd like to make a PR for it.

[2018-02-03 11:04] josevalim commented on #2404
That's the plan! Although we think we could handle migrations in a slightly different way. We are not quite sure yet.

[2018-02-03 11:07] josevalim commented on #2404
We can start with the schema one though. Could you please send a PR? Thank you!

[2018-02-04 05:18] darkbaby123 commented on #2404
The schema DSLs are added. But I found that adding things to both `locals_with_parens` and `export` is duplicated. I can extract a variable in `.formatter.exs` like below:

[code]

It works for `mix format`, but I'm not sure if it's a preferred way?

[2018-02-04 05:42] darkbaby123 commented on #2404
After checking the source of `mix format`, I found that the `.formatter.exs` is evaluated with `Code.eval_file/2`. Since we only use evaluation result but not bindings, it's safe to use variables in `.formatter.exs`. The PR is also updated.

[2018-02-04 11:43] josevalim commented on #2404
Yup, it is totally safe. Closing this in favor of the PR. :)

[2018-02-04 11:43] #2404 closed

[2018-02-07 17:37] matthewlehner opened #2407 "create_if_not_exists with index doesn't work with concurrently"
### Environment

* Elixir version (elixir -v): 1.6.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 10.1
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): Postgrex 0.13.4
* Operating system: MacOS High Sierra

### Current behavior
I'm trying to add indexes conditionally to a very large table and have created the following migration:

[code]

Running

[2018-02-07 18:00] josevalim commented on #2407
@matthewlehner could you please investigate? According to the test we were supposed to detect it just fine: https://github.com/elixir-ecto/ecto/blob/v2.2.8/lib/ecto/migrator.ex#L114-L123

So we are missing something somewhere.

[2018-02-07 18:02] josevalim commented on #2407
In case you can't further pin it down, a minimal app that reproduces the issue would help us a lot, as most of the time fixing bugs is actually spent on reproducing them. :)

[2018-02-08 13:27] ericmj opened #2408 "Mixing fragments and dynamics"
This query is currently not possible: `fragment("function(?)", ^dynamic([x], true))`.

Being able to compose dynamics and fragments is especially useful when calling functions that are not exposed in `Ecto.Query.API`, which is not possible today.

[2018-02-08 13:34] michalmuskala commented on #2408
I think we support dynamics only at the top-level of a `where` or a `having` part of the query. Would this feature mean allowing using dynamics anywhere in the query?

[2018-02-08 13:39] ericmj commented on #2408
I'm not sure how feasible that is, but it wouldn't be a bad thing to support. You can work around it today by first interpolating inside another dynamic which you then interpolate at the top-level. But there is no workaround for fragment interpolation currently afaik.

[2018-02-08 13:42] josevalim commented on #2408
The problem with supporting dynamic everywhere is that `order`, `group_by` and `select` use different composition rules.

But I forgot about the top-level restriction. It exists because otherwise it makes composing expensive, we may not be able to lift this restriction. :( I will have to investigate.

[2018-02-08 23:00] nigelramsay opened #2409 "INSERT INTO "schema_migrations" line in structure.sql file targets incorrect schema"
### Environment

* Elixir version (elixir -v): Elixir 1.6.0 (compiled with OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.1
* Ecto version (mix deps): 2.1.6
* Database adapter and version (mix deps): postgrex 0.13.4
* Operating system: macOS 10.13.2

### Current behavior

We make extensive use of Postgresql schemas for grouping data sets from different sources. F

[2018-02-08 23:04] nigelramsay commented on #2409
I would be happy to submit a PR that updates [Ecto.Adapters.Postgres.append_versions/3](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres.ex#L202) to prefix the INSERT statement with `SET search_path = public, pg_catalog;`

Also would be happy to implement a different solution if required.

[2018-02-08 23:06] michalmuskala commented on #2409
I can see two solutions:
* always prepending the `SET search_path` part,
* always writing to `public.<table>` instead of just just `<table>`

I'm not really sure which one would be better.

[2018-02-08 23:58] nigelramsay commented on #2409
Both options do seem viable. I had tried adding the following to `config.exs`:

[2018-02-09 08:06] josevalim commented on #2369
Any news?

[2018-02-09 08:08] #2403 closed

[2018-02-09 08:13] josevalim commented on #2409
Please send a PR to `append_versions/3` but let's change [this line](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres.ex#L179) and [this line](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres.ex#L204) to always include the public prefix.

[2018-02-09 13:15] isaacsanders commented on #2369
I will take a look at it this weekend

[2018-02-09 19:07] matthewlehner commented on #2407
Here you go!
https://github.com/matthewlehner/concurrent_indexes

From my precursory trace through the logic, it looks like it does hit `Ecto.Migrator.run_maybe_in_transaction/3` and runs `fun.()` under the `true` condition, not `module.__migration__[:disable_ddl_transaction]`.

Beyond that, I got lost… Also, maybe don't rely on what I've said above, I'm not familiar enough with how macros result

[2018-02-09 19:30] fertapric commented on #2409
Could be an option to scan the output of `pg_dump` to extract `SET search_path` directives, aggregate all the schemas and prepend `SET search_path = <schemas>;` before the `INSERT INTO schema_migrations`?

[2018-02-09 19:40] josevalim commented on #2409
@fertapric I would go with the simplest solution until somebody has a different case.

[2018-02-09 19:44] nigelramsay commented on #2409
I'll go ahead and make the changes that @josevalim indicated, and send through the PR early next week.

[2018-02-09 20:14] matthewlehner commented on #2407
Just dug in a bit more, and I think it's this?

https://github.com/elixir-ecto/ecto/blob/7d6dfe7dc43ae39ab5ccc3a42fd49682b7ccf418/lib/ecto/adapters/postgres/connection.ex#L645-L649

[2018-02-10 10:13] josevalim commented on #2407
Good catch. This stack overflow post has more information about it: https://dba.stackexchange.com/questions/35616/create-index-if-it-does-not-exist

The proper statement that works with CONCURRENTLY is only available on Postgres 9.5 which is quite recent, so I don't feel like we should impose it onto users.

My suggestion is for you to run this particular command at the SQL level:

    execute "CR

[2018-02-10 10:13] #2407 closed

[2018-02-10 16:58] isaacsanders commented on #2369
@josevalim Should I store the schema? or should that be as a pair with the source?

[2018-02-10 17:30] josevalim commented on #2369
The Postgres Schema, which we call prefix, should be stored as a separate
field in JoinExpr as changing the source would require large changes in the
codebase and in adapters.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-10 17:44] isaacsanders commented on #2369
The Ecto schema.

[2018-02-10 17:50] josevalim commented on #2369
The Ecto Schema is already stored in the source as a tuple. We don’t want
to change it for the same reason: it will break our code and adapters too.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-10 18:14] isaacsanders commented on #2369
I was just checking.

[2018-02-10 18:20] josevalim commented on #2369
No problem!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-10 22:49] isaacsanders commented on #2369
How should I preserve the functionality to prefix whole queries?

As I see it, the assumed use case for the schema prefix (multi-tenant type applications) & the one that is used in the original issue (grouping of data) are in conflict with each other. Any guidance on how to approach this conflict?

[2018-02-10 23:18] josevalim commented on #2369
Yes, if a join doesn’t have a prefix nor one was set in its schema, it will
fallback to the query one.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-11 00:22] isaacsanders commented on #2369
So I shouldn't remove the query prefix?

[2018-02-11 08:13] #2409 closed

[2018-02-11 08:42] josevalim commented on #2369
No, we shouldn't. That would be backwards incompatible too.

[2018-02-13 09:00] manukall opened #2418 "Make Ecto.Migration.remove/1 reversible"
As proposed [on the mailing list](https://groups.google.com/forum/#!topic/elixir-ecto/a5mL9nvnITw), it would be great if Ecto.Migration.remove/1 could be reversible.

We could add optional arguments `type` and `opts`, giving it the same signature as Ecto.Migration.remove/3 and inflect the down-command when those are present.

[2018-02-13 10:49] m13m commented on #2418
@josevalim I want to take this any heads up will be great

[2018-02-13 10:55] josevalim commented on #2418
Just go ahead. :) Let us know if you have questions!

[2018-02-13 16:10] m13m commented on #2418
I started working on this but don't understand how "Ecto would know how to reverse the migration"?

[2018-02-13 17:07] cesardgt opened #2419 "Ecto.Adapters.SQL.query with MySQL"
### Environment

* Elixir version (elixir -v): Elixir 1.6.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MySQL 5.6.35
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): mariaex 0.8.4
* Operating system: Ubuntu 16.04

### Current behavior
Code:
[code]
Result
[code]
### Expected behavior

[2018-02-13 17:10] josevalim commented on #2419
You can't pass a parameter on the table name. This is a MySQL restriction, not an Ecto one. :)

[2018-02-13 17:10] #2419 closed

[2018-02-13 19:17] bobishh commented on #2418
Hey, tried to fix an issue [here](https://github.com/elixir-ecto/ecto/pull/2420), @m13m sorry for stealing this )
Point me what needs to be fixed, I don't know if I did everything right :-)

[2018-02-13 21:01] #2418 closed

[2018-02-14 12:48] manukall commented on #2418
thanks to all of you!

[2018-02-15 09:22] mbuhot commented on #2389
Can the name be dynamic / interpolated?

[code]

[2018-02-15 10:01] ggcampinho opened #2421 "Exception when casting integer to datetime"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2018-02-15 10:34] michalmuskala commented on #2421
Yes. There should be a fall-back clause that returns `:error` for all the invalid inputs. PR welcome!

[2018-02-15 11:02] szlend commented on #2389
This is a great step towards making join queries more composable, and fixes one of my biggest gripes with Ecto!

However, the proposed solution still doesn't fix the issue completely. I still can't write a single function that can accept a joined or non-joined query. Also, it still makes dealing with multiple joins of the same table difficult because the alias has to be hardcoded in the function (

[2018-02-15 11:12] josevalim commented on #2389
You can declare the same join twice as long as it has the same name and it
will be added only once, this allows operations to be idempotent.

We can support dynamic aliases too but our policy regarding those is to
always start with the strict one and added the interpolation when necessary.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-15 11:45] #2421 closed

[2018-02-15 15:18] OvermindDL1 commented on #2389
will be added only once, this allows operations to be idempotent.

Hmm, how will that handle conflicting `on: ...` options?  'and' them together or first-only or last-only or so?

I'm not big on dynamic aliases personally, though having a function to detect what names already exist on the query so we could branch would be very nice.  :-)

[2018-02-15 15:25] michalmuskala commented on #2389
I think the current plan is to raise when the `on` clauses are conflicting.

[2018-02-15 15:58] slapers opened #2424 "Repo.stream using join-preload produces duplicates"
### Environment

* Elixir version (elixir -v): 1.6.1 (compiled with OTP 20)
* Database and version: postgresql 10.2
* Ecto version (mix deps): ecto 2.2.8
* Database adapter and version (mix deps): postgrex 0.13.5
* Operating system: mac osx high sierra 10.13.3

### Current behavior

When streaming data using the code below, we get duplicate and incomplete records back.
Query below works correctly

[2018-02-15 16:23] michalmuskala commented on #2424
As discussed on slack:

This happens because we assume one chunk of the stream has all the possible duplicate rows, but actually they may span across multiple chunks.

The simplest solution is to just refuse to do join-preloads on `Repo.stream`. If we choose this, we should warn on 2.2 and raise on 3.0.

Another solution which is more complex would be to buffer preloads across chunks. Unfortunatel

[2018-02-15 16:39] josevalim commented on #2424
@michalmuskala I agree, we can't do any preload on streams.

[2018-02-16 03:07] ppraisethesun opened #2427 "Repo.insert should represent actually inserted data."
### Environment

* Elixir version (elixir -v): 1.7.0-dev (0d0af06)
* Database and version: PostgreSQL 9.5.11
* Ecto version (mix deps): "~> 2.1"
* Database adapter and version (mix deps): {:postgrex, ">= 0.0.0"}
* Operating system: Ubuntu 16.04

Schema definition:
[code]

### Current behavior
[code]

[code]

[code]

### Expected behavior
Repo.insert should represent actually inserted data.
Results

[2018-02-16 07:51] josevalim commented on #2427
This will happen on every field that has loss of information when serializing or when persisting to the database. For example, if you have a timestamp with a higher precision than the one in the database, then they will be different.

You can set the field to `read_after_writes: true` if you want to read the data from the database back after you perform write and make sure they are consistent.

[2018-02-16 07:51] #2427 closed

[2018-02-16 07:57] josevalim commented on #2395
@zachdaniel I am back to thinking that the best solution here is still to use database views. You can get all of the guarantees, including checks on insert/update.

Creating a view is very straight-forward. The only annoying part is that a view is not automatically updated when you add columns to the underlying table, so we need a mechanism to make it easier to update. That can be as simple as put

[2018-02-16 14:17] sorentwo commented on #2395
@josevalim We use views _extensively_ to share logic between a legacy Rails app and the newer Elixir app, and to handle complex queries that aren't possible or easy with Ecto. All migrations are done on the Rails side (because the app is older and the schema_migrations table is incompatible), but that means we've been able to use [scenic](https://github.com/thoughtbot/scenic) to handle view migrat

[2018-02-16 14:46] zachdaniel commented on #2395
The problem with `GROUP BY` makes views a deal breaker for us.

[2018-02-16 15:10] josevalim commented on #2395
@zachdaniel which problem? That you can't define a view with group_by? That shouldn't apply to this issue though, this issue is exclusively about supporting `where`.

[2018-02-16 15:14] MeterSoft opened #2429 "It is possible to create in migration tinyint?"
`geolocation_status` tinyint(4) DEFAULT '0'
`is_update` tinyint(1) DEFAULT '0'

[2018-02-16 15:16] josevalim commented on #2429
Yes, pass `:tinyint` as the type. Or `:tinyint, size: 4`.

[2018-02-16 15:16] #2429 closed

[2018-02-16 15:32] zachdaniel commented on #2395
I mentioned it in a comment above:

There are also some limitations when it comes to using a table vs a view. With a table, postgres knows about primary keys and allows you to only group by the primary key, even when you want additional rows that come with the record.

e.g
[code]
That above query would work with a table, but it would not work with a view, even if the definition for that view was j

[2018-02-16 15:33] OvermindDL1 commented on #2395
I would not use something so implicit anyway, explicit is always better and that doesn't look very ANSI SQL'y...

[2018-02-16 15:37] zachdaniel commented on #2395
But the point is that your queries become resilient to the addition of new columns. If you have a query that is selecting all of the columns of one table, and additionally grouped up data on related rows(a pattern we use all the time), then with a view you have to use `GROUP BY every, fieldz, ever` which has actual performance impacts, and requires you to change every query when you add a column.

[2018-02-16 15:39] OvermindDL1 commented on #2395
Which in my cases would only be in one location.  I use a set of builder modules for building queries (I *so* cannot wait for named joins whooo!).

[2018-02-16 15:41] zachdaniel commented on #2395
Well in our case it would be in considerably more places than one location :)

[2018-02-16 15:43] OvermindDL1 commented on #2395
Sounds like a redesign is really in order...  ^.^;

_/me cannot stand to scatter things around all over the place, prefers centralization and module/function APIs_

[2018-02-16 15:49] zachdaniel commented on #2395
This issue *is* that redesign.  A central set of query logic would have given us no benefit before. Now that we have a requirement for something like this, I would rather have it implemented as an ORM feature than build an interface on top of the existing query language. We have over 70k LoC and it's easy to say that a redesign is necessary without context.

[2018-02-16 17:25] zachdaniel commented on #2395
Additionally, @OvermindDL1 by my reading of the ANSI SQL standard for group by + the postgres documentation, it conforms to the standard just fine.

[2018-02-20 10:53] hauleth commented on #2389
It would be handy to have also additional `join`-like function that would work similarly to `select_merge`, it would check if given named join is present and adds one only if it isn't already present, otherwise it will add it. This would help with composing queries.

[2018-02-20 11:16] josevalim commented on #2389
@hauleth that's exactly what we are discussing above. :) If the as option is given more than once, it is idempotent as long as you have the same `:on`.

[2018-02-20 12:39] hauleth commented on #2389
Oh, yeah, I was mislead by @michalmuskala comment, sorry for the fuss.

[2018-02-20 15:17] OvermindDL1 commented on #2389
Will there be some official way to introspect what join 'names' have already been added to the query, or will we need to manually introspect the internals of the query to figure it out?  Basically a function like `[:some_name, :another_name] = get_join_names(some_query)` (and maybe also a helper like `is_joined?(some_query, :some_name)` or so)?  Although perhaps returning a set (map with true valu

[2018-02-20 16:11] josevalim commented on #2389
@hauleth no problem.

Let's get the feature in its basic form in, then we can discuss all possible additions and their use cases.

[2018-02-20 21:41] InAbsentia commented on #1964
Has anyone done more work on this? I need the functionality for a multi-tenant app I'm currently building and I'm happy to take it on, but would prefer not to duplicate others' work. 🙂

[2018-02-20 22:10] josevalim commented on #1964
I don't believe we have had any progress since then. :)

[2018-02-20 23:03] InAbsentia commented on #1964
Ok, thanks. I'll send a PR once I get started.

[2018-02-21 12:07] AndrewDryga opened #2436 "BadMapError in select_merge/2"
### Environment

* Elixir version (elixir -v): Elixir 1.7.0-dev (252974e) (compiled with OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): 0.13.5
* Operating system: macOS

### Current behavior

After updating from 2.2.7 we observe a regression bug for a query that uses `select_merge/2`:

[

[2018-02-21 12:10] AndrewDryga commented on #2436
[Here](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/queryable.ex#L254) from is `nil`.
It's called from [here](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/queryable.ex#L239).

[2018-02-21 12:31] josevalim commented on #2436
@AndrewDryga can you reproduce it with a test in our suite?

[2018-02-21 12:56] AndrewDryga commented on #2436
@josevalim it's done. I'm not sure the best way to handle it, trough.

[2018-02-21 13:08] AndrewDryga commented on #2436
Upd: I've solved it by adding `process/5` clause. See the PR.

[2018-02-21 13:11] #2436 closed

[2018-02-22 06:25] #2380 closed

[2018-02-22 07:29] qcam commented on #2277
I can work on this if it has not been taken :).

[2018-02-22 07:36] josevalim commented on #2277
Yes please! Now that we support dynamic in Ecto.Query, I am thinking we can
allow any dynamic to be set as a filter.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-22 19:01] qcam commented on #2277
@josevalim can you please elaborate on that? What do you think would be the desired fix for this?

[2018-02-22 19:39] josevalim commented on #2277
@qcam apologies for the quick answer.

We can separate this issue in two. One is to fix this particular scenario and write a test for it. Another one is to convert the changeset.filters entry to keep a list of fragments returned by `Ecto.Query.dynamic`. This way, we can handle the nil logic directly in Ecto.Changeset and not elsewhere. But let's go with baby steps. So a simple fix for this bug is

[2018-02-22 22:59] Farijo opened #2441 "Ecto.LogEntryTest "converts entry to iodata" fails"
### Environment

* Elixir version (elixir -v): Elixir 1.5.0 Erlang/OTP 19
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):
* Ecto version (mix deps): 3.0.0-dev
* Database adapter and version (mix deps):
* Operating system: Windows

### Current behavior

The test "converts entry to iodata" in Ecto.LogEntryTest fails whenever a time of the entry is set to a value other than 0. For exemple

[2018-02-23 00:58] maxim opened #2442 "Handling put_assoc with on_conflict: nothing"
**Note**: this issue is not like #1912 even though it deals with the same functions.

### Environment

* Elixir version (elixir -v): 1.6.0
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MySQL 5.6
* Ecto version (mix deps): 2.2.7
* Database adapter and version (mix deps): mariaex 0.8.3
* Operating system: MacOS Sierra / Ubuntu 16.04

### Current behavior

When you do

[code]

and you d

[2018-02-23 10:41] josevalim commented on #2442
Thanks for the report!

Unfortunately there isn't much we can do because the database does not give us much information about what happened. We know the ID is null, if it is was supposed to be generated in the database, but this is not a consistent behaviour and we don't know the reason why either.

I will make sure to document this behaviour, thank you!

[2018-02-23 10:41] #2442 closed

[2018-02-23 10:41] josevalim commented on #2442
You can use Ecto.Multi in this case.

[2018-02-23 12:01] josevalim commented on #2441
Can you please send a pull request? Passing the values as you specified instead of getting a multiplying factor will indeed be better.

[2018-02-23 19:34] wojtekmach commented on #1757
@josevalim is there anything left to do here or it can be closed?

[2018-02-23 19:35] wojtekmach commented on #2380
Thank you @uesteibar!

[2018-02-23 19:38] josevalim commented on #1757
We are missing documentation for the newly supported operators in Ecto.Query.API. @costaraphael could you please send a PR for that too? Thank you! :heart:

[2018-02-23 19:39] #2441 closed

[2018-02-23 19:52] costaraphael commented on #1757
Whoops, I forgot about that :sweat_smile:

The docs should go to `Ecto.Query.API`, right?

Also, should I document for the new `type` usage (`type(p.views + ^arg + ^other_arg, :decimal)`) on the `type/2` docs?

[2018-02-23 19:55] josevalim commented on #1757
Yes and yes!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-02-24 17:27] EduardoBorsa commented on #1319
I will to describe how I manage to solve this problem and related ones that I had:
First of, I am using Hound 1.0.3 and PhantomJS.

1) If you are in Ubuntu, don't use apt-get PhantomJS, get it from the website.

2) If yout are using Ubuntu 17 you will need to install some libraries by hand. (Just get the error, google for it and go to go)

3) On test/test_helper.exs put:
"{:ok, _} = Application.en

[2018-02-24 23:09] josevalim commented on #2277
We have merged a fix but we should look into making the filters mechanism more generic now that we support dynamic in Ecto, for this reason, we will keep this open.

[2018-02-25 08:56] josevalim opened #2448 "Provide public query planning API"
Today adapters need to rely on the Planner API, which is private. We need to provide at least two public functions: `plan_query_with_cache` and `plan_query_without_cache`. The question is just which module would be the best to add those functions. Maybe directly in Ecto.Adapter?

/cc @michalmuskala

[2018-02-25 13:18] qcam commented on #2277
I can take dynamic filters as well :).

[2018-02-25 19:13] josevalim commented on #2277
@qcam beautiful! The idea here is to store multiple dynamic fragments in the changeset.filters and then we pass it to the query layer instead of passing keyword lists.

This complicates the update a bit, because now you need to build a query from the dynamic parts during update and then prepare it using the Ecto.Query.Planner API.

[2018-02-26 09:26] josevalim commented on #1964
I have a question for folks using dynamic repositories: how do you handle things like creating new database instances and migrating them?

[2018-02-26 14:59] InAbsentia commented on #1964
That’s a good question. 🤔 I hadn’t even considered it because, in my case, another system will be creating and managing the customer databases; my system just needs to read from them.

[2018-02-26 15:09] mylanconnolly commented on #1964
How I implement this (maybe not the best way) is this:

I keep a "reference" database that has the same migrations and such applied as the rest of the tenant databases. This may also include some dummy records to make sure the new database is ready to go on creation.

Then, when I need to create a new one I connect with a user that has enough permissions to create databases and create a new databa

[2018-02-27 13:46] derekkraan opened #2450 ":on_conflict with where in queryable + mysql gives SQL syntax error"
### Environment

* Elixir version (elixir -v):
Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.6.0 (compiled with OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): mysql 5.6
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): mariaex 0.8.3
* Operating system: ARCH Linux (but running i

[2018-02-27 14:56] josevalim commented on #2450
Great catch! I agree that the MySQL adapter should raise, as this construct is available in Postgres but not on MySQL.

[2018-02-27 15:43] derekkraan commented on #2450
Ok great! Looking at the code it doesn't seem too difficult, I'll take a crack at it.

[2018-02-27 21:58] zoldar commented on #2389
I was experimenting with adding support for idempotent named joins but hit some issues along the way. Most chief among them is how to reliably determine whether two join expressions are equal. The query expressions in `on` seem to be non-trivial to compare when the expressions inside contain positional references to bindings. Comparison, at least regarding my current knowledge of Ecto internals an

[2018-02-27 22:14] josevalim commented on #2389
@zoldar if you have the exact same join, with the exact same `on` and `as`, then odds are that you want them to be the same anyway.

Regarding the check, the bindings have to be the same, otherwise they are separate joins, no? I would try implement this by traversing the `on_expr` (i.e. %JoinExpr{}.on.expr) at compile time and by setting the metadata node in the AST to an empty list, effectively r

[2018-02-27 22:26] zoldar commented on #2389
@josevalim

Ok, so, given a following basic example:

[code]

I'm getting following `on` expressions:

[code]

which later become:

[code]

dropping metadata from AST alone seems to no be enough. However, it probably could indeed be possible to traverse the expression and "unify" all occurrences of positional arguments referring to the joined association. I'll look into that in the coming days.

[2018-02-27 22:32] josevalim commented on #2389
@zoldar You are right. We could use the escaped on but that complicates the code too. I think it is probably best to give up on implementing this feature implicitly. Maybe we would need to find a way to override those `as` more explicitly or, as @OvermindDL1 said, find a way to check if an `as` already exists or not. I will remove this item from the todo list. Just documentation and supporting `:a

[2018-02-27 22:47] OvermindDL1 commented on #2389
_/me is **very** of the thought that a name should only exist once, if it is attempted to be used again then it should raise an exception saying as much while showing the existing and the attempted join informations..._

Honestly all I'd want is just named joins (if the name is attempted to be used again then hard error), and a function or documented field on the query to get the list of used name

[2018-02-28 09:16] #2450 closed

[2018-02-28 18:21] damien-roche commented on #1932
Also just dealt with this, but have created a `insert_batch` in my `Repo` module which allows me to pass in a list of structs:

[code]

Might be a bit of ceremony, but at least I can now do `Repo.insert_batch([%Model{}, %Model{}])`. Note: this won't play nice with associations or virtual attributes on the struct. For that I have a `convert_to_map` in the model which deletes those virtual attribute

[2018-03-01 11:58] MeterSoft opened #2453 "build_assoc"
i have some trouble with create association
When i create association like
`Ecto.build_assoc(domain, :locations, %{"country" => "USA"})`
country is blank but when i do
`Ecto.build_assoc(domain, :locations, %{"country": "USA"})`
it is ok. In origin code in controller it looks like this
`Ecto.build_assoc(domain, :locations, domain_location_params)`

[2018-03-01 12:56] zoldar commented on #2453
@MeterSoft If you want to build assoc using external input, [`Ecto.Changeset.put_assoc`](https://hexdocs.pm/ecto/Ecto.Changeset.html#put_assoc/4) and [`Ecto.Changeset.cast_assoc`](https://hexdocs.pm/ecto/Ecto.Changeset.html#cast_assoc/3) are better suited for that task. `Ecto.build_assoc` expects attributes map as the third argument - it happens so that `%{"country": "USA"}` equals %{:"country" =>

[2018-03-01 13:12] ericmj commented on #2453
@zoldar explained it very well. In the future please use Elixir Forum or Stack Overflow for questions.

[2018-03-01 13:12] #2453 closed

[2018-03-01 13:19] MeterSoft commented on #2453
@zoldar my question is why this syntax is not work
`%{"country" => "USA"}`

Also can you please provide example how put_assoc will work in my case.

[2018-03-01 13:22] josevalim commented on #2453
@MeterSoft, as explained, please use Elixir Forum or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-03-01 19:32] CJPoll commented on #1964
In our case, we're trying to write a generic Kafka Topic --> PG dumper, which simply creates a table with the same name as the kafka topic (optionally appending/prepending a namespace) and does bulk inserts into the table.

The idea is that another team is managing the database with their application (they currently all use Ecto, but it doesn't necessarily have to be), and our data processing syst

[2018-03-02 12:42] hauleth opened #2454 "Existence query in `Repo`"
In #234 there were proposal for adding `Repo.exists?/1` function that will check if given query will result with any data.

I think that now it is good idea to reopen that question as Ecto stabilised a little, we have adapters for some NoSQLs and there is Ecto 3.0 around the corner. However mine "SQL" solution is a little bit different from the original

[code]

[2018-03-02 13:49] zoldar commented on #2389
@josevalim Just wanted to make sure, for avoidance of any doubt:

is that about supporting `:as` in bindings list, as in:

[code]

(which is already supported - `Ecto.Query.Builder.From.build/2` runs bindings through `Builder.escape_binding/3`; it's just a matter of adding tests and documenting that)?

or is it about aliasing the source of the query, like:

[code]

?

The second form would probabl

[2018-03-02 14:00] josevalim commented on #2454
Can you provide examples of where `exists?/1` would be useful? In my mind, most cases I think about using `exists?` I would still need the data later... or even worse, I would check if something associated exists, leading to N+1 queries.

[2018-03-02 14:41] mememori commented on #2454
Here on Xerpa, we have a couple of places where we need to check if something exists (but do not work with the data); right now we are using `Repo.aggregate(query, :count, :id)` and `if id == 0`

For example, we wanted to disallow closing/archiving the treatment of the employees work period if there was an older work period open to be treated and closed. For this, we didn't wanted to retrieve any

[2018-03-02 14:49] hauleth commented on #2454
@josevalim in my case it is that I need to run slightly different query depending on given user position (geoquery). And I cannot select data and detect by it as there is also pagination. So only solution is to always run check if there is something in given area and then build proper request basing on wether there is something to query at all.

[2018-03-02 23:58] josevalim commented on #2389
@zoldar the second one!

Note that today we keep `from` in the AST as a simple tuple but I think we need to introduce a `FromExpr` so we can also store `:as` inside of it.

Given this in itself is a big task, I would recommend to first send a PR that introduces `FromExpr` and start to consistently use it. It will require changes to the builder, planner and the adapters.

[2018-03-02 23:59] josevalim commented on #2389
@zoldar another use case is for naming `from` is because when composing queries you may not want to know if `:comments` is a from or join. :)

[2018-03-03 09:33] haljin opened #2455 "Some binaries fail required validation"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `postgres (PostgreSQL) 10.2`
* Ecto version (mix deps): `ecto 2.2.8 (Hex package) (mix)`
* Database adapter and version (mix deps): `postgrex 0.13.5 (Hex package) (mix)`
* Operating system: `OS X High Sierra`

### Current behavior

I have the following schema defined:
[code]

With the

[2018-03-03 12:42] josevalim commented on #2455
It is a bug in `validate_required`. We use `String.trim_leading` although that should be used for strings. When you use it in a binary, it is trying to parse the bytes and the byte 12 is an empty character in strings.

My suggestion is to change `missing?` in Ecto.Changeset to read the type from the changeset and avoid the `String.trim` check for binaries. The question is if we also consider an em

[2018-03-03 12:43] josevalim commented on #2455
Related to this, we may also want to allow counting bytes in `validate_length`.

[2018-03-04 02:52] yordis commented on #1549
@josevalim I am having trouble following the thread and understanding why it was closed without adding the features into Ecto (also I failed to find `Ecto.PGSet`)

I am currently need to do some union in two queries so I would love to have this.

[2018-03-04 07:45] michalmuskala commented on #1549
We only keep open things that we plan to work on and it's not one of those features (you need to pick your battles). We're open to accepting PRs and providing guidance in case you'd like to work on this.

[2018-03-04 16:48] yordis commented on #1549
@michalmuskala would you mine to keep the issue open? Here is why.

When you search in issues it will show you by the default the open issues only if you keep this one open, people could find it and maybe contribute to the thread (still I want to tackle this when I find sometime)

[2018-03-04 16:51] josevalim commented on #1549
We only keep issues that the core team wants to actively work on. If we keep all issues that someone may want implemented, this becomes unmanageable and it will hurt our ability to maintain the codebase.

It is not only about focusing on features that we want to implement but also about putting most of the focus on *bugs*.

[2018-03-05 01:27] archSeer commented on #2395
I've been bitten quite a few times by the `default_scope` in rails, and although I know the intention here isn't to fully replicate it; but if we provide it people will end up misusing it as such.

If materialized views aren't sufficient, what about doing it the simple way and wrapping the `Repo` module or using a macro? That way you could even pattern-match the query if needed, apply your filters

[2018-03-05 12:13] #1757 closed

[2018-03-05 22:14] inoas commented on #1207
@roberthopman thank you :) that's the thing missing

on Mac OS to get up and running fast (with say Phoenix) simply run:
[code]

then type:
[code]

Then CTRL & D
then `mix ecto.create`

[2018-03-06 09:22] josevalim commented on #2454
@mememori would the implementation above also work at Xerpa?

[2018-03-06 09:26] josevalim commented on #1964
Thanks @mylanconnolly!

@CJPoll in your case, the databases are known upfront, and not dynamically, right?

[2018-03-06 16:14] aaronrenner commented on #2321
It would be really great if we could use embeds with schemaless changesets. Ecto is awesome for casting JSON data into structs, but it gets difficult when the JSON contains several levels of nesting.

[2018-03-06 21:12] hlhr commented on #2455
I checked the code and think I can fix the bug as you suggested.

Maybe it makes sense to create a second issue for changing the behaviour for validate_length to separate these changes? I'm not sure if these should get mixed up.

[2018-03-06 21:28] josevalim commented on #2455
Yup. A separate issue sounds good. Especially because we may use a
different solution there.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-03-06 23:55] hlhr commented on #2455
Regarding validate_length:
I checked the code and tested it. <<12, 12, 12>> has the length of 3 is gets validated successfully with that length.
I also checked validate_length for and there is no String.trim_leading but maybe it should trim to get the same behaviour as validate_length.
So I'm not sure if there is a problem, maybe you can create the issue and specify the problem in detail.

[2018-03-07 00:59] InAbsentia commented on #1964
@josevalim Thanks, but in my case, each client has a separate database. The clients are enterprise corporations, so they're not keen on having their data commingling with others' data 😉

[2018-03-07 15:19] OvermindDL1 commented on #1549
Just as a data point, what I see most projects do for feature requests that they will accept PR's on but not do themselves is leave it open and use a 'HelpWanted' tag, which is easy for the core team to add as an ignored tag.

[2018-03-07 15:26] lbighetti commented on #1088
Just dropping by 3 years later to say this answer saved my day. Thanks !

[2018-03-07 16:27] michalmuskala commented on #1088
The most recent version has probably a nicer way to deal with this - leveraging the `source:` option to [`field/3`](https://hexdocs.pm/ecto/Ecto.Schema.html#field/3).

You can declare `field :foo, :string, source: :FOO_BAR`. This allows using `:foo` in code and the database will receive `FOO_BAR`.

[2018-03-07 19:08] hauleth commented on #1549
@OvermindDL1 @josevalim @michalmuskala alternatively additional repo with RFC-like process for Ecto.

[2018-03-08 19:02] seddy commented on #2409
I'm adding this comment here, I'm more than happy to raise a more detailed issue and/or PR, I just figured it would make sense to check with people who had worked on this recently on a similar issue before doing so; just let me know what's the best approach :smiley:

### Problem

We've hit a similar problem recently, thanks to a change in the way that Postgres handles a default `search_path` in bo

[2018-03-08 19:42] josevalim commented on #2409
@seddy Thank you for the report!

Unfortunately I don't quite understand why #2415 is not enough. Would you mind expanding on that a bit?

[2018-03-08 20:20] seddy commented on #2409
Thanks for the quick response @josevalim! Apologies that my description isn't too clear, I'll try and clarify it. I suppose ultimately what I'm suggesting is an enhancement to #2415.

Currently, `Ecto.Adapters.Postgres.structure_dump` does two things:

1. Use `pg_dump` to unload the current schema to a file
2. Constructs an `INSERT INTO` statement to insert all the `versions` which is then appende

[2018-03-08 20:26] josevalim commented on #2409
@seddy it makes sense now, thank you.

However, it seems there isn't any gain in moving to pg_dump, since master works correctly. Sure, if we used pg_dump since the beginning it would always work, but that's also true if we had included `public.` since the beginning. :)

[2018-03-09 10:47] seddy commented on #2409
Heh, true @josevalim ;)!

I'd still be keen to change this to use `pg_dump` instead of having to manually build up an `INSERT INTO` statement. It seems like the right tool for the job, and the issues raised here are just examples of where it can go wrong; I think it's entirely possible that similar problems could happen again in the future.

If you don't think it's worth it then that's fine, I won

[2018-03-09 11:52] shahryarjb opened #2458 "ERROR 42601 (syntax_error): syntax error at or near "(""
### Environment

* Elixir version: 1.5.3
* Database and version (PostgreSQL):10.1
* Ecto version (mix deps): 2.1
* Database adapter and version (mix deps):
* Operating system: macOs high sierra

### Current behavior

my code is  :

[code]

my error :

[code]

[2018-03-09 14:08] josevalim commented on #2458
The size option is not allowed on integer for Postgres. You can see the generated sql by passing the `--log-sql` flag. We also opened up an issue to improve the error report if possible on Postgres, thank you.

[2018-03-09 14:08] #2458 closed

[2018-03-09 14:15] josevalim commented on #2409
@seddy I will release a new version of the stable release with this backported. :)

[2018-03-09 14:23] m13m commented on #2458
To Force migrations to run outside a transaction `  @disable_ddl_transaction true`

https://hexdocs.pm/ecto/Ecto.Migration.html#module-transactions

[2018-03-09 15:19] shahryarjb commented on #2458
thank you @josevalim  , This error is very difficult for understanding.

[2018-03-09 16:03] mindreader commented on #2361
The elixir mailing list appears to be a google group, so just join it on the web and post.  It doesn't seem super active, but if that is what the developers use, then it is well worth starting a discussion there.

If it is a hard problem due to its current architecture, I understand.  I would absolutely be willing to put in some free time if I knew there would be a desire for it.

But in the schem

[2018-03-09 17:04] josevalim commented on #2361
This is implemented in master, see #2389.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-03-09 17:18] mindreader commented on #2361
Awesome.  I very much look forward to trying it out.  It looks like you are going in the direction I was hoping for.

[2018-03-09 23:43] icorderi opened #2459 "On conflict fixes and improvements missing from releases"
@josevalim why are this fixes not being cherry picked into *2.x* ?

https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/schema.ex#L492-L520

Some of that work was fixed in master 7 months ago.

cc: @pedrofranceschi

[2018-03-09 23:57] josevalim commented on #2459
Because those features require changing adapters and we are not going to do that in a 2.2.x release.

[2018-03-09 23:57] #2459 closed

[2018-03-10 00:06] icorderi commented on #2459
Well, then lets get a _2.3_ out of the door then, because `:replace_all` is overwriting the PK and we are not the only ones needing a conflict resolution that doesn't blow up foreign keys.

This was brought up again back in nov 2017 https://github.com/elixir-ecto/ecto/issues/2329

[2018-03-10 00:07] josevalim commented on #2459
You can cherry pick that commit to a fork and use a fork. We have no plans
for a 2.3 release.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-03-10 00:11] icorderi commented on #2459
So what about the 242 extra commits in master? are they just gonna be gathering dust indefinitely?

[2018-03-10 08:00] josevalim commented on #2459
Master is tracking 3.0. See the CHANGELOG.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-03-12 16:00] jeremyjh commented on #1284
To workaround this lack of named bindings in Phoenix Datatables, I actually [use a macro](https://github.com/smartmetals/phoenix_datatables/blob/master/lib/phoenix_datatables/query/macros.ex#L24) to create 25 different functions (actually 50, we have 25 for order_by, 25 for where) that accept an ordinal to which position they will bind an update to a `Dynamic`. That ordinal we accept as either a l

[2018-03-12 16:08] josevalim commented on #1284
Named bindings is already in master... :)

[2018-03-12 17:10] isaacsanders commented on #2395
Have you implemented this as a plugin, @zachdaniel?

Creating a mixin module (mixed-in after Ecto.Schema) overriding the function definition of `__MODULE__.__schema__(:query)` might solve this problem for you.

[2018-03-12 17:34] benwilson512 opened #2460 "Update All with Fragments and Dynamic Columns"
In order to do an `update_all` with fragments the update bit needs to be in the ecto query via `update:`. However, `update` does not presently permit dynamic columns.

## Motivating Example
I have a set of tables from which I am trying to excise identification information. There are a set of columns one each table that I want to overwrite, in this case the user name would simply become `"User #{us

[2018-03-12 22:16] doughsay opened #2461 "Removing defaults of string columns in migrations using postgres appears to set the default to "NULL""
### Environment

* Elixir version (elixir -v): 1.6.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): psql (9.6.8)
* Ecto version (mix deps): 2.2.9
* Database adapter and version (mix deps): postgrex 0.13.5
* Operating system: macOS 10.13.3

### Current behavior

Please see this simple example app's migration: https://github.com/doughsay/ecto_default_test/blob/master/priv/repo/migration

[2018-03-13 13:44] michalmuskala commented on #2461
It seems this default is not string "NULL", but actually null value. I'm not sure why it's printed that way in the table description, though.

Trying out this locally, the default value for the `string_test` column is `NULL`:

[code]

It's true that the postgres documentation recommends using `DROP DEFAULT` for removing default, but just in the next paragraph says it is effectively equivalent to d

[2018-03-13 13:44] #2461 closed

[2018-03-13 13:51] michalmuskala commented on #2460
We should probably allow using `^col` there. I don't think `field` is a good idea, because we can update just the main table anyway - `field` would allow setting update for a joined table, which doesn't make much sense.

[2018-03-13 14:02] benwilson512 commented on #2460
Yup agreed, `^col` feels right to me here as well.

[2018-03-13 17:25] doughsay commented on #2461
@michalmuskala thanks for looking into it!  I'm sorry I didn't check that myself, but you can see how confusing that is.  Glad it's not a bug and I can continue to use this pattern without problems.

[2018-03-13 18:20] carlodicelico opened #2462 "Migrations table and Ecto docs out of sync?"
### Environment

* Elixir version (elixir -v): Elixir 1.6.3 (compiled with OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps): ecto 2.2.9 (Hex package) (mix)
* Database adapter and version (mix deps): phoenix_ecto 3.3.0 (Hex package) (mix) / postgrex 0.13.5 (Hex package) (mix)
* Operating system: macOS High Sierra 10.13.3

### Current behav

[2018-03-13 18:29] josevalim commented on #2462
You are looking at the code for master. Please check the code in the branch with the version you are using. :)

[2018-03-13 18:51] carlodicelico commented on #2462
Whoops! Updated.

[2018-03-13 19:33] josevalim commented on #2462
Thanks for the updates! I think this is a documentation issue, because those options do not configure the migration table, it configures the defaults inside your own migrations. :)

[2018-03-13 19:37] carlodicelico commented on #2462
OH! Yes, that makes a _lot_ more sense...doh!  😂 Thank you, José!

[2018-03-13 19:37] #2462 closed

[2018-03-14 06:25] quolpr opened #2463 "Show Postgres notices when running migrations"
### Environment

#### Elixir version

Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.6.3 (compiled with OTP 19

#### Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

postgres (PostgreSQL) 10.1

#### Ecto version (mix deps):

ecto 2.1.6

#### Database adapter and version (mix deps):

postgrex 0.13.5 (Hex package) (m

[2018-03-14 07:09] josevalim commented on #2463
Thanks. I have moved this issue here: https://github.com/elixir-ecto/postgrex/issues/346

[2018-03-15 12:10] Overbryd commented on #1284
I am currently on Ecto master, to see if named bindings solve my problem at hand.

My where clauses are built using `dynamic/2` but for the following to work, I had to rewrite them to use a binding syntax like `dynamic([..., t], t.column == ^value)`.

Now is this a by-product that just-works™ or intended behaviour/syntax?

In consequence `dynamic/2` can only be used on the first binding (e.g. `[t]

[2018-03-15 13:18] josevalim commented on #1284
... is supported since 2.2. Do you mean named bindings do not work with
dynamic?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-03-15 14:06] zachdaniel commented on #2395
@isaacsanders I tried originally, but the problem is that not enough ecto internals use `__schema__(:query)`. That is bypassed often.

[2018-03-17 07:26] philippneugebauer opened #2465 "Test Environment Setup Documentation"
I wanted to extend my existing Elixir application with Ecto. While the setup of the normal application was straight-forward through the documentation, I struggled a lot to set up the test environment. Finally, I was able to set it up to work following this post:
https://elixirforum.com/t/how-to-set-up-the-testing-environment-for-a-library-that-uses-ecto/4770/3

I was searching quite a time to find

[2018-03-17 07:44] josevalim commented on #2465
Thanks @philippneugebauer! Could you please send a pull request with this documentation?

I would add a new file [here](https://github.com/elixir-ecto/ecto/tree/master/guides) saying "Adding Ecto to a project.md" that covers regular and the test environment setup.

Let me know if you have any questions!

[2018-03-17 08:27] philippneugebauer commented on #2465
@josevalim what happens then to the at least partially redundant information in getting started?
Should it be added to the Readme as well?

[2018-03-17 08:35] josevalim commented on #2465
@philippneugebauer oh, I see. Let's add them a "Testing with Ecto" section and make sure to link to it from the Getting Started. :)

[2018-03-17 12:13] #2465 closed

[2018-03-17 14:21] atomkirk opened #2467 "argument error `Inspect.Ecto.Query.expr_to_string/4`"
### Environment

* Elixir version (elixir -v): 1.6.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Mysql 5.7.18
* Ecto version (mix deps): 2.1.6
* Database adapter and version (mix deps): mariaex 0.8.3
* Operating system: Mac OS Sierra

### Current behavior

Here's my query:

[code]
If `select` is this:

[code]
It works. But if I try to reference `total` from the left join, like this

[2018-03-17 20:43] josevalim commented on #2467
It is definitely a bug, since it was not supposed to fail like that, but you need to provide us a smaller sample or an application that allows us to reproduce it. The code that you have still have a lot of dependencies on user fields and things like `^ZB.ChartClassifications.sales()`. If you can replace those by values and provide a failing query it would help a lot.

Also note that you are not on

[2018-03-17 20:43] #2455 closed

[2018-03-18 20:32] hauleth commented on #2454
[Blog post](https://blog.jooq.org/2016/09/14/avoid-using-count-in-sql-when-you-could-use-exists/) about even more optimised query using `EXISTS` instead of `LIMIT` or `COUNT`, with cons of using `COUNT` approach.

[2018-03-18 20:42] hauleth commented on #2363
@fishcakez I think it would be nice if `Repo.checkout` callback would take one argument that would be checkouted module. This would be helpful when used with tools like [`ecto_facade`](https://github.com/azranel/ecto_facade) for handling read replicas.

[2018-03-20 04:46] AndrewDryga commented on #2363
@fishcakez Would it be beneficial to give the way to checkout connection and reuse it within the process? Eg. GenServer stages can checkout a connection for each worker and reuse it avoiding doing that on each new event.

Interface can be something like that:
[code]

[2018-03-20 08:57] nikolailv opened #2468 "Ecto.Changeset.unsafe_validate_unique makes invalid query with composite primary key"
### Environment

* Elixir version (elixir -v): 1.5.2
* Database and version: 10.2.13-MariaDB
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): mariaex,0.8.0

### Current behavior

Given that content_table has composite primary key (id, application_id) I am trying to perform uniqueness validation of :name field using unsafe_validate_unique.
Resulting SQL query for validati

[2018-03-20 09:57] michalmuskala commented on #2468
Thanks for the report. The logic to change is in here: https://github.com/elixir-ecto/ecto/blob/849f4443e1693790338fac6b15e6a0d589b8184d/lib/ecto/changeset.ex#L1556-L1558

The fix should be backported to 2.2.x after marging.

[2018-03-20 10:55] nikolailv commented on #2468
These changes in query builder logic should now produce correct SQL, as follows:
[code]

[code]

[2018-03-20 11:13] josevalim commented on #2468
Awesome! Can you please send a PR with tests? Thank you.

[2018-03-20 11:38] hauleth commented on #2404
It seem that `.formatter.exs` has `export` section, but it seem that this file isn't present in release which mean that `import_deps: [:ecto]` does nothing.

[2018-03-20 14:01] josevalim commented on #2404
Pushed to v2.2. It iwll be fixed in the next release.

[2018-03-20 19:12] #2468 closed

[2018-03-21 16:10] GildedHonour opened #2470 "an alternative to the callbacks"
Since the callbacks such as "after_create" have been eliminated, what's the alternative to them?

[2018-03-21 16:15] AndrewDryga commented on #2470
@GildedHonour Can you provide a use case so we can discuss it on an example?

Generally, instead of having a callback you just need a function that would do an insert and then whatever you want to do after data is inserted, this is much more explicit and, from my experience, it works really well.

[2018-03-21 16:32] josevalim commented on #2470
Please use the ElixirForum or StackOverflow for questions, we reserve the issues tracker for issues only.

[2018-03-21 16:32] #2470 closed

[2018-03-21 16:36] GildedHonour commented on #2470
bingo. that's a callback.

[2018-03-22 01:51] zachdaniel commented on #2395
What could potentially get *us* most of the way there (I know a widely used open source library needs to consider more than one use case), would be the ability to modify the query for associations. What that would mean for us, is that we can get the usage of `assoc` back. Currently we manually write out all the association joins fully, because we need to make sure that the joined table honors our

[2018-03-22 08:40] josevalim commented on #2395
@zachdaniel we would be happy with supporting this. The only limitation is that the given `query` can only have `where` clauses and the same source as the one given to the association. Aything else should fail. Would you be interested in tackling this with our guidance?

[2018-03-22 08:41] josevalim commented on #2389
@zoldar ping! Let me know if you have any questions or if you need any help. :)

[2018-03-22 08:57] zoldar commented on #2389
@josevalim Hey. I'll probably be pushing a PR with my attempt at from expression refactor some time this week(end), along with questions.

[2018-03-22 09:33] michalmuskala commented on #2395
It's not clear to me, though, if the `MyApp.Tag.query()` function would be called at runtime or compile-time. As it is right now, I would expect it to be called at compile-time looking at this code.

[2018-03-22 10:26] josevalim commented on #2395
@michalmuskala it would be compile-time, yes.

[2018-03-22 10:29] michalmuskala commented on #2395
In that case, couldn't we do:

[code]

We could extract the struct name from the query.

[2018-03-22 10:35] josevalim commented on #2395
@michalmuskala oh, actually yes. The way we have structured associations internally is already meant to support things like that. :)

[2018-03-22 14:20] zachdaniel commented on #2395
@josevalim the limitation of only allowing where clauses is fine (especially in the short term). I do think that adapaters that support subqueries shouldn't really have an issue supporting joins to associations that have a select statement, but I can advocate for that at a later time :D

[2018-03-22 14:26] zachdaniel commented on #2395
Oh, and yes I'm very interested in taking this on!

[2018-03-22 19:24] atomkirk commented on #2467
I'll close for now since I think it would be a significant of work to make an app that duplicates it and it sounds like you haven't seen it before, so its probably rare

[2018-03-22 19:24] #2467 closed

[2018-03-22 19:27] atomkirk opened #2473 "Decimal type always changes"
* Elixir version (elixir -v): 1.6.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Mysql 5.7.18
* Ecto version (mix deps): 2.2.9
* Database adapter and version (mix deps): mariaex 0.8.3
* Operating system: Mac OS Sierra

### Current behavior

When I inspect changesets for schemas with `:decimal` type, `:amount` is always in `changes` when its value did not change.

[code]

### Expecte

[2018-03-22 21:00] josevalim commented on #2473
I think this is because we are doing structural comparison. @michalmuskala should we add `compare` to Ecto.Type?

[2018-03-22 21:54] michalmuskala commented on #2473
I'm pretty sure the reason for this is that decimals can't be compared with `==`, yet that's what we're doing to decide if a field changed or not.

I'm not really sure what could be a solution here that wouldn't require doing a lot of type-specific stuff (and then, how to make it generic...).

[2018-03-22 22:02] atomkirk commented on #2473
Yeah, you're suppose to use `Decimal.equal?` or `Decimal.cmp`

I got the impression that `:decimal` was officially supported as a type by ecto so thats why I submitted the issue here. I hope its appropriate

[2018-03-22 22:05] michalmuskala commented on #2473
Oh yeah, the issue is definitely appropriate. This shouldn't be happening.

[2018-03-23 07:47] josevalim commented on #2473
@michalmuskala what about my suggestion of adding `change/2` to Ecto.Type? :)

[2018-03-23 11:09] michalmuskala commented on #2473
Yup, I did miss it.

Adding a callback would be an option. It should probably be an optional callback, though, which means we'd have a lot of `function_exported?` guards.

[2018-03-24 16:00] wojtekmach commented on #2473
I tried reproducing it and for a simple use case it looks good, perhaps it's only broken in more complex. @atomkirk are you using associations or something?

[code]

Having `Ecto.Type.compare` is probably the right thing to do anyway but would be good to reproduce it first.

[2018-03-24 16:55] atomkirk commented on #2473
Maybe try passing it in as an integer param, like from a client, and having ecto cast it to decimal

[2018-03-24 17:08] wojtekmach commented on #2473
that's not it:

[code]

[2018-03-24 17:38] atomkirk commented on #2473
Oh, because, when its pulled from the database, it has decimal places:

[code]

Example:

[code]

[2018-03-24 17:53] josevalim commented on #2473
@atomkirk but for decimal Decimal. new(9) and Decimal.new(9.000) are definitely not equivalent.

In any case, I still think there is a bug here just waiting to happen because depending on the amount of operations you do on decimal, two numbers that are printed the same, such as 599 in the originally reported issue, may not be represented exactly the same in decimal.

[2018-03-24 17:56] atomkirk commented on #2473
@josevalim yes but the point I was trying to make was that if the user passes 9 for a float, `9 == 9.0` works. So it should work that way with decimal. Also as you can see in the bottom example, it comes from the database as `40.98000000` and I pass exactly `40.98000000` to the changeset and it still thinks its not equal.

[2018-03-24 17:59] atomkirk commented on #2473
Oh you mean that because the of how decimal type is special, 9 == 9.0 should not be considered equal? Ok, maybe… 🤔 but in the case of the user sending info, at least in our case, we'd like them to be :)

Regardless, the `40.98000000` bottom example shows that ecto doesn't consider them equal even when the decimal places are exactly the same.

[2018-03-24 18:01] josevalim commented on #2473
@atomkirk We are talking about different types. You cannot use integer and floats to dictate how a decimal behaves. Different types give different guarantees. For decimal, 48.90 may not the same as 48.90000 because they give different guarantees regarding the precision.

48.90 implies a precision of +-0.005 while 48.90000 implies precision of +-0.0000005.

What happens when you pass 40.98000000 as

[2018-03-24 20:45] wojtekmach commented on #2473
worth mentioning that:

[code]

[2018-03-24 20:53] josevalim commented on #2473
@wojtekmach oh, so Decimal doesn't consider the precision? Interesting.

[2018-03-24 20:59] atomkirk commented on #2473
Well, I suspect you are right that precision matters and needs to be remembered, but IMO when comparing, 9 should be considered equal to 9.00

Can you think of a logical reason those shouldn’t be considered equal?

[2018-03-24 21:45] wojtekmach commented on #2473
fwiw `Time.compare(~T[00:00:00], ~T[00:00:00.000]) => :eq` :) I remember the subject of precision was brought up when adding calendar types so I'll make sure to read up on that but imho it'd be practical to use `Decimal.cmp` for comparisons.

[2018-03-24 21:49] josevalim commented on #2473
@wojtekmach that's from where my confusion came from. I thought we used precision everywhere but we agreed to use precision nowhere.

Yeah, in any case, we need to use Decimal.compare/2. :)

[2018-03-24 21:49] josevalim commented on #2473
@wojtekmach thanks for correcting my misconceptions!

[2018-03-24 23:06] wojtekmach commented on #2473
the problem with `compare/2` optional callback returning `:lt/:gt` is it doesn't necessarily make sense for some values like e.g. URIs, ranges etc, so a `equal?/2` might be more appropriate. That being said for things like URIs we wouldn't implement the callback because it's safe to rely on structural comparison. I can't think of an example where structural comparison is unsafe **and** `:lt/:gt` d

[2018-03-24 23:55] blatyo opened #2474 "The update case of upsert does not pass all values with replace_all"
### Environment

* Elixir version (elixir -v):
Erlang/OTP 20 [erts-9.3] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.6.3 (compiled with OTP 19)

* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6.1
* Ecto version (mix deps): ecto 2.2.9
* Database adapter and version (mix deps): postgrex 0.13.5
* Operating system: OSX

### Cu

[2018-03-25 02:07] michalmuskala commented on #2473
That's a good point, that for many types it might make sense to have a custom equality implementation, but not necessarily a comparison. Even though we can always compare according to erlang term order, this is supposed to be a semantic comparison.

[2018-03-25 02:15] michalmuskala commented on #2474
I think you're right. The problem seems to be that we only consider the `changes` field of the changeset in here: https://github.com/elixir-ecto/ecto/blob/c7bf196d9f4833761ae01c05d7b87bbcc2a29cc5/lib/ecto/repo/schema.ex#L202-L204

[2018-03-25 07:47] josevalim commented on #2473
On the other hand, having `compare` could allow us to generalize things like validate_number.

[2018-03-26 06:56] josevalim commented on #2395
We are closing this as we cannot agree on supporting it. There are also alternatives, such as using views, and #2472 brings this feature to associations, which simplifies things.

[2018-03-26 06:56] #2395 closed

[2018-03-26 18:20] wojtekmach opened #2477 "Ecto.Query inspect missing `on:` with assoc"
### Environment

* Elixir version (elixir -v): 1.7.0-dev
* Database and version: 9.6
* Ecto version (mix deps): master, 2.1.6
* Database adapter and version (mix deps): master
* Operating system: macOS X Sierra

### Current behavior

for query:

[code]

we get inspect without `on:`

[code]

note the generated SQL has it:

[code]

### Expected behavior

[code]

[2018-03-26 19:06] wojtekmach commented on #2477
Closing in favor of #2478

[2018-03-26 19:06] #2477 closed

[2018-03-27 11:22] IcyEagle opened #2479 "Swap embedded schemas dynamically"
I wonder if is it possible to set embedded schema dynamically?

Example:
[code]

[2018-03-27 11:32] IcyEagle commented on #2479
Related issue #1750

[2018-03-27 11:54] IcyEagle commented on #2479
Well, I've found solution [here](https://hexdocs.pm/ecto/Ecto.Changeset.html#module-schemaless-changesets) actually :)

Take a look at this [PR](https://github.com/elixir-ecto/ecto/commit/efbfe10c799b41ac71c982eac021f331c4d724d0) for details.

[2018-03-27 11:54] #2479 closed

[2018-03-27 15:31] zachdaniel opened #2480 "Queries in associations must be known at compile time"
So I went about using this more in depth in my own codebase, and I'm realizing that there is probably a flaw in the initial implementation (sorry D:). Lets say we have two separate files: post.ex, and comment.ex

[code]

For obvious reasons, this can't work. Does anyone have any ideas for this one?

[2018-03-27 15:35] zachdaniel commented on #2480
This *also* doesn't work if the functions are in separate files I think, becuase `from` calls `.__schema__()`, so these would still have a transitive compile time dependency on eachother in that case.

[2018-03-27 16:08] josevalim commented on #2480
I was aware of the first part of the flaw but I forgot it would also hit for regular queries. I am not sure of the proper fix right now.

[2018-03-27 17:29] zachdaniel commented on #2480
@josevalim we could make the destination query a runtime concern as opposed to a compile time concern? `has_many, :posts, Post, queryable: &Post.active/0` That honestly seems pretty heavy handed, and I feel like there are tools already in use in ecto to resolve the unresolvable things at runtime. We just need to find a way to make a query used in the association do the same thing.

[2018-03-27 17:31] zachdaniel commented on #2480
I think this might also make self association w/ a query impossible.

[2018-03-27 17:36] josevalim commented on #2480
Your option is one way to go but we would need to use an atom and/or MFArgs tuple:

    has_many :posts, Post, queryable: :active
    has_many :posts, Post, queryable: {Post, :active, []}

Another option is to allow the user to pass the `where` clauses directly:

    has_many :posts, Post, where: [active: true]

This would allow us to automatically set active to true when using build_assoc but it

[2018-03-27 17:39] zachdaniel commented on #2480
I wonder if we could do something here:
[code]
leaving the actual query itself quoted until a later time?

[2018-03-27 17:40] zachdaniel commented on #2480
ah, but the destination wouldn't be in there, because it could be anything, like a function call.

[2018-03-27 17:41] zachdaniel commented on #2480
I'm also not 100% sure exactly where this breaks :/

[2018-03-27 17:59] zachdaniel commented on #2480
I think I'm partial to `has_many :posts, Post, queryable: {Post, :active, []}`. I think the compile time dependencies getting added makes this a feature that too many people would *start* using, and then the first time they complete a circle somewhere they'd be having a bad time. With that in mind, I think we should remove the original version of this, and then implement an alternative.

[2018-03-28 00:27] zachdaniel commented on #2480
We could do it in a way similar to `field_mapper` where we do some kind of dispatch? Like `assoc_mapper: ` where they can define a function in their schema that does the work? so they can set that, and then do ```
def query_for_association(:comments) do
  Comment.active()
end
[code]

[2018-03-28 01:53] zachdaniel commented on #2480
@josevalim I think I found a way to make this compile time dependency unnecessary. If we had a pattern for sources that was `{prefix, "table", Schema}` then we would never need to call `__schema__(:prefix)`  in `from`. Or if we had a global option to disable that entirely, or something along those lines. Either one of those would enable a workaround for this, which is specifying all of the potenti

[2018-03-28 06:31] zachdaniel commented on #2480
Thinking about our use case, I think the only win is for it to be determined at runtime, like this: `has_many :posts, Post, queryable: {Post, :active, []}`

[2018-03-28 23:55] kobatako opened #2481 "Please :time field support "hh:mm" format"
Hi.

I use :time field in ecto schema, but catch invalid error :time field.
Attempting to enter a value of format "hh: mm" will result in invalid.

[code]

Is it possible to add functions so that "hh: mm" format can be supported?

[2018-03-29 05:57] damonvjanis opened #2482 "Support for non-empty arrays as defaults in migrations"
I was recently trying to create an {:array, :string} field in a migration and populate it by default with some values. I ran into an issue where the only supported default value for an array field is an empty array, and so I had to resort to using a fragment in the migration, after it was suggested on [stack overflow](https://stackoverflow.com/questions/48951076/cant-create-default-for-string-arra

[2018-03-29 06:51] josevalim commented on #2481
We can support it. Meanwhile, note that Ecto allows you to create custom types with custom casting rules. See the documentation for `Ecto.Type` for more information.

[2018-03-29 10:38] kobatako commented on #2481
Thank you for your reply.
I knew that I could customize with Ecto.Type, but I'm glad that I can handle it with modules.
May I give this pull request by myself?

[2018-03-29 10:44] josevalim commented on #2481
Yes please! :)

[2018-03-29 11:01] kobatako commented on #2481
OK!!

[2018-03-29 14:50] kipcole9 opened #2485 "select: type(sum(l.amount),ModuleName) raises exception"
### Environment

* Elixir master and 1.6.4
* Mac OSX High Sierra

### Current behavior

[code]

Where `amount` is a [custom ecto type](https://github.com/kipcole9/money/blob/master/lib/money/ecto/money_ecto_composite_type.ex) that supports a [Postgres composite type](https://github.com/kipcole9/money/blob/master/lib/mix/tasks/money_postgres_migration.ex#L53-L57). There are no known issues with thi

[2018-03-29 16:06] zachdaniel commented on #2485
I wonder if `select: type(sum(l.amount), ^Money.Ecto.Composite.Type)` would also work?

[2018-03-29 17:02] josevalim commented on #2485
@kipcole9 beautiful. Could you please send a PR with tests? We have some custom types already in ecto test suite you could use. Thanks!

[2018-03-29 23:26] kipcole9 commented on #2485
Closing since this is working as expected on master.

[2018-03-29 23:26] #2485 closed

[2018-03-30 06:41] #2481 closed

[2018-03-30 18:45] rustamtolipov opened #2488 "CROSS JOIN doesn't work with PostgreSQL"
### Environment

* Elixir version (elixir -v): `Elixir 1.6.0`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `PostgreSQL 9.5`
* Ecto version (mix deps): `2.2.8`
* Database adapter and version (mix deps): `postgrex 0.13.3`
* Operating system: `Ubuntu 16.04`

### Current behavior
[code]

### Expected behavior
CROSS JOIN should not include ON clause [https://www.postgresql.org/docs/curre

[2018-03-30 19:20] #2488 closed

[2018-04-02 16:41] hickscorp commented on #425
I know this is a bit outdated, but I was wondering whether or not there was progress on this?

We have an app that uses Ecto and OTP, and we would really like to be able to spec our GenServer related inputs as `User.id` type etc. How would one do that right now?

[2018-04-02 18:11] zachdaniel commented on #2480
@josevalim Have you had any thoughts on this?

[2018-04-02 18:47] michalmuskala commented on #425
The current solution would be to write the type by hand. We don't have any plans to add automatic type generation to ecto schemas.

[2018-04-04 05:53] zachdaniel commented on #2165
@mbuhot I just tested this on master with my own schemas. Would you mind checking and see if perhaps this issue has been resolved?

[2018-04-04 06:12] josevalim commented on #2165
@zachdaniel very good point. Ecto 3.0 got rid of the tuple date types, so this issue is by definition fixed. :D

[2018-04-04 06:12] #2165 closed

[2018-04-04 06:29] josevalim commented on #2480
I haven't reached a decision yet. I think the most natural is to pass a `where` to the association, even though it leads to duplication. It is also worth noting the query would work as `from p in "posts", ...` but I have no idea how to enforce that.

[2018-04-04 06:49] josevalim commented on #2480
Actually, I think I know of a way to make this work as is. I will try it later. :)

[2018-04-04 06:50] zachdaniel commented on #2480
That would be awesome :)

[2018-04-04 07:14] josevalim commented on #2480
Actually, we can support:

    has_many :posts, from(p in Post, ....)

I don’t think we can support Post.active all the way because there is no
way that can’t be a cyclic dependency.

So we have two options:

1. Keep the current API but the user will be able to invoke the other
module only on half of the cases

2. Pass the “where: ...” option to associations.

 Preferences?
--

*José Valimwww.plat

[2018-04-04 07:50] josevalim commented on #2480
The :where option could support expressions by using the dynamic macro.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-04 08:08] michalmuskala commented on #2165
It's fixed for date structs, just because the load callback for date structs is a no-op. It's not fixed for custom data types that implement some logic in a load callback.

[2018-04-04 08:50] josevalim commented on #2165
Correct. But I am not sure we should fix it because struct/map updates
never cast.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-04 09:27] josevalim commented on #2480
After a bit more thought and trying a couple things around, I think `where` is the best way to go. Because even though I could fix `from`, at the moment we support custom expressions, there will always be some sort of expression that could go wrong.

What do you think? Would you give it a try?

[2018-04-04 14:46] mrbegood opened #2491 "cast_assoc problem with many_to_many relation"
### Environment

* Elixir 1.6.4 (compiled with OTP 19)
* Postgres 10.3
* ecto 2.2.9
* postgrex 0.13.5
* MacOS

### Current behavior
I have many_to_many association between `MyApp.Category` and `MyApp.CategoryKeyword` through `categories_keywords` table

[code]

[code]

database state
[code]

when i'm try yo update keywords with cast_assoc
[code]
I got validation error
[code]
### Expected behavior

[2018-04-04 15:05] zachdaniel commented on #2480
@josevalim I think we could work with that, yes :D. I think step one would just be reverting the original implementation, and then we can go from there.

[2018-04-04 16:33] josevalim commented on #2480
@zachdaniel it is up to you. :) If you want to revert, you can just send a PR that reverts it. :)

[2018-04-04 16:34] josevalim commented on #2480
Although I think the docs and tests will mostly still hold. But your call, really.

[2018-04-04 16:38] josevalim commented on #2491
It seems to be correct. If you look at your CategoryKeyword when you load it from the database, there already exists a categorykeyword with keyword test3. So when you try to create another one with the same keyword3, it is complaining that test3 is already in the database.

[2018-04-04 16:56] lobo-tuerto opened #2492 "ConstraintError message issue"
### Environment

* Elixir version (elixir -v): **1.6.4**
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): **psql (PostgreSQL) 10.3**
* Ecto version (mix deps): **ecto 2.2.9 (Hex package) (mix)**
* Database adapter and version (mix deps): **postgrex 0.13.5 (Hex package) (mix)**
* Operating system: **Manjaro Linux 17.1.7**

### Current behavior

When you have a unique index but don't have

[2018-04-04 16:59] josevalim commented on #2492
Good call! I think the issue here is that error is ambiguous. We meant to say a "changeset error" and not an exception. Here are some more options:

I think I prefer the second. Thoughts?

[2018-04-04 17:00] michalmuskala commented on #2492
The second proposal seems better to be as well :+1:

[2018-04-04 17:01] zachdaniel commented on #2492
I think that the most important distinction is that it will no longer raise after you do this.

`convert this constraint violation into a changeset error` doesn't necessarily imply to the inexperienced what is going to change when they do that.

[2018-04-04 17:04] zachdaniel commented on #2165
Do we do the casting appropriately in `select_merge` if you are setting a source field?

[2018-04-04 17:04] mkreyman commented on #2169
A "new" project seems to use configuration for an "old" project and ignores its own config/dev.exs. I have the following in my ~/.bash_profile for an "old" phoenix project:
[code]
...and here's config/dev.exs for it:
[code]

Here's the "new" project's config/dev.exs:
[code]

Now, when I drop, create and run migrations in the "new" project's directory, those actions are getting executed on the "old

[2018-04-04 17:07] josevalim commented on #2492
@zachdaniel :+1: I will go with something like that. Commit incoming. :)

[2018-04-04 17:07] #2492 closed

[2018-04-04 17:12] lobo-tuerto commented on #2492
I think this is the fastest reply I have ever had on GitHub, kudos to you all! :D

[2018-04-04 17:19] mkreyman opened #2493 "Ecto drop/create/migrate should prioritize its own configuration over any existing default env variables for Postgres database."
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (postgres -V): `postgres (PostgreSQL) 10.3`
* Ecto version (mix deps): `phoenix_ecto 3.3.0`
* Database adapter and version (mix deps): `postgrex 0.13.5`
* Phoenix version (mix deps): `phoenix 1.3.2`
* Operating system: `macOS Sierra, 10.12.6`

### Current behavior

A "new" project seems to use configuration for an "old" p

[2018-04-04 17:52] mkreyman commented on #2493
@josevalim, I suspect that this issue is related to https://github.com/elixir-ecto/ecto/issues/2169 somehow. And what throws the ecto config off is the existence of those specific env variables in computer memory: `DB_USER`, `DB_PASSWORD`, `DB_NAME`, `DB_HOST` and `DATABASE_URL`.

To reproduce the issue, please export those env variables from your shell, verify they exist with `echo $DB_NAME`, etc

[2018-04-04 17:57] josevalim commented on #2493
@mkreyman I cannot reproduce it. Here is what I did:

[code]

And it creates the database just fine, which means it is not picking the DB_USER environment variable.

I have also searched ecto and all of its dependencies and I could not find DB_USER listed anywhere.

[2018-04-04 18:33] mkreyman commented on #2493
I did the following steps and was able to reproduce again:

[code]

[2018-04-04 18:39] josevalim commented on #2493
@mkreyman ah, that's because of the DATABASE_URL and Phoenix. If you look at the repository generated by your Phoenix application inside lib/my_app/repo.ex, you will see it is reading DATABASE_URL and using it to override your config. If you remove that code or change the environment variable you should be good to go.

[2018-04-04 18:39] #2493 closed

[2018-04-04 18:40] mkreyman commented on #2493
Got it. Thanks!

[2018-04-04 18:46] mkreyman commented on #2493
@josevalim Frankly, I still find it confusing that phoenix would have two places to retrieve db configuration from, and that `lib/my_app/repo.ex` would override `config/*.exs` instead of referencing it.

[2018-04-04 21:36] wojtekmach commented on #1348
@josevalim @michalmuskala wdyt about similar extension:

[code]

? (it's an equivalent of: `select: [p.id, p.name, p.age]`)

Apart from use cases similar to `select: struct/map`, one concrete example where this is useful is it would simplify this implementation: https://github.com/hexpm/hexpm/blob/45341b/lib/hexpm/repo.ex#L65:L71

(sorry for being lazy and not proposing this to the list :))

[2018-04-04 22:09] josevalim commented on #1348
@wojtekmach it doesn't feel to be frequent enough to warrant a new addition to the Ecto API. :)

[2018-04-05 07:32] #2491 closed

[2018-04-06 14:25] mindseyeblind opened #2495 "[Docs] The Associations many_to_many guide causes a runtime error due to non-preloaded associations"
The Persistence section is the culprit - line 2 of the 3rd code block:
[code]
spawns the error
[code]
Also, clicking the [link](https://hexdocs.pm/ecto/associations.html#persistence) next to the Persistence heading takes you to the Persistence section under one-to-one. Maybe customize the headings so that they're unique?

### Environment

* Elixir version: 1.6.4
* Database and version: PostgreSQL

[2018-04-06 14:57] josevalim commented on #2495
Sounds good! @mindseyeblind, could you please send a PR?

[2018-04-06 15:04] mindseyeblind commented on #2495
I will, sometime over the weekend. Gonna rename the section headings too, to a format like "Persisting Many-to-Many Associations" so that they are all unique

[2018-04-06 15:46] Eiji7 opened #2496 "Ecto.Query.API.type/2 does not compiles in order_by macro"
### Environment

[code]
Funtoo Linux current x86-64bit on intel64-ivybridge

### My situation

I already have created my own query builder (from parameters send to API).

Everything is working, but we found issue that our API does not sort well fields in embedded schema.
I found that it's because we do not store some types in json column (which is normal in this format) and sorting its values caus

[2018-04-06 16:12] josevalim commented on #2496
The reason why `type/2` works with fragments in select is because we are using type to customize the output value. In the order by case, there is no output value, so type/2 doesn't make much sense there.

We could make it work, just so you can use the type expressions consistently in order_by and select. However, type/2 also performs type casting, so you need to have in mind that `type(fragment("(

[2018-04-06 16:26] Eiji7 commented on #2496
@josevalim

It's exactly what I need. I want to cast json value to real value at database level (as in my schema) to properly sort it using `order_by` macro. Currently I'm using `__schema__(:type, :field_name)` to find a type of field and convert it to database cast type which I wanted to pass as `type/2` argument.

I tried to use `fragment("(?->>?)::?", …)` but it also not worked and then I found

[2018-04-06 16:33] josevalim commented on #2496
@Eiji7 makes sense. A pr would be welcome then! It should be a matter of porting the type validation logic that exists in query/select.ex to query/builder.ex, so it becomes general, and writing a test for both test/ecto/adapters/mysql_test and test/ecto/adapters/postgrex_test

[2018-04-07 11:42] josevalim commented on #2327
Actually this is supported already since 2.2: https://github.com/elixir-ecto/ecto/commit/2df88c12f4f8a9578ee09143b70419e0e28899e6

[2018-04-07 11:43] josevalim commented on #2389
@zoldar with your PR, we can now support `:as` in from. After we do it and add documentation, this should be fully complete. I am excited!

[2018-04-07 11:44] ericmj commented on #2327
The features are not equivalent since constraints and indexes are different.

[2018-04-07 11:45] josevalim commented on #2392
We have changed how `Ecto.Query.join/5` accepts options, which means that we can add a `:use_index` key to `JoinExpr` and it should be an atom or a list of atoms. It will only work for MySQL, other databases should raise.

[2018-04-07 11:46] josevalim commented on #2408
I did some work on this and unfortunately it is not possible. Since dynamic has its own bindings, if we allow it anywhere in a query expression, it means we always need to do a deep merge for handling the binding and that can get really complex.

[2018-04-07 11:46] #2408 closed

[2018-04-07 11:49] josevalim commented on #2454
@hauleth my concern is how would we make it work. We don't support queries without a `from` and we don't support `exists` expressions. :(

[2018-04-07 11:51] josevalim commented on #2495
@mindseyeblind perfect.

[2018-04-07 11:52] josevalim commented on #2327
Oh. I guess then we at least now how to support it, we introduce `{:index, string}`.

[2018-04-07 11:53] #2496 closed

[2018-04-07 12:05] zoldar commented on #2389
I have the `as` in from support ready to push for review. I'll do that
later today.

sob., 7.04.2018, 13:43 użytkownik José Valim <notifications@github.com>
napisał:

[2018-04-07 12:25] hauleth commented on #2454
@josevalim I have tested performance in PosgreSQL using different syntaxes.

Script:

[code]

Results:

[code]

So it seems that for now `LIMIT 1` version is Good Enough™ and in future it could be fixed when we gain support for `EXISTS` and/or `FROM`-less queries.

[2018-04-07 12:42] josevalim commented on #2454
Thank you @hauleth!

To clarify, my concern is that the query one is more generic. For example, we decided to add `last` to Ecto.Query rather than Ecto.Repo because it composes better with other things, such as subqueries and associations. So I think having some sort of `exists` in Ecto.Query would be nice but it is unclear how to support it.

[2018-04-07 20:07] zachdaniel opened #2500 "using `type/2` with `coalesce/2` is not a valid query expression"
### Environment

* Elixir version (elixir -v): 1.6.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps):
* Database adapter and version (mix deps): master
* Operating system: MacOS

### Current behavior

[code]

[code]

### Expected behavior

I'll look into it an open a PR w/ a fix shortly if possible, just posting the issue in case anyone knows of

[2018-04-07 20:11] zachdaniel commented on #2500
It looks like `type` is factored out of the query using `prewalk`?

[2018-04-07 21:13] josevalim commented on #2500
@zachdaniel we support type only on a handful of expressions. Is there any reason why we want to support it on coalesce? I would rather not support it.

[2018-04-07 21:16] josevalim commented on #2500
Closing in favor of the PR.

[2018-04-07 21:16] #2500 closed

[2018-04-08 07:27] josevalim commented on #2389
@zoldar :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2018-04-08 07:27] #2389 closed

[2018-04-08 15:37] zachdaniel commented on #2389
@zoldar I think that is definitely an important piece to have, since we don't want them relying on an internal of the query. I could write this utility myself, but one thing I know I'll need for my API query builder is also "give me an unused alias".

[2018-04-08 15:38] josevalim commented on #2389
Sounds good to me! Although I would wait until we have a concrete use case
and move forward. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-08 15:38] michalmuskala commented on #2389
@zoldar that's exactly what happens when you add the join with same source and on and same alias multiple times - it will be added just once. I'm not sure I see what would be an advantage of checking it manually.

[2018-04-08 15:41] zoldar commented on #2389
@michalmuskala Hmm, as far as the implementation for named bindings goes, it will explicitly crash, unless I misunderstood? ( https://github.com/elixir-ecto/ecto/blob/ce87525ab0d88746a231bb2a06019b585c8be00a/test/ecto/query_test.exs#L244 ).

[2018-04-08 15:57] michalmuskala commented on #2389
It will raise if you try to join two different things using the same alias. If you join the same thing twice with the same alias, the join will be deduplicated for you - that's the major feature of named joins.

[2018-04-08 16:01] josevalim commented on #2389
When we developed the feature we agreed that we wouldn’t allow the same
binding twice even for the same source because it is not really practical.
In most cases to reconstruct the binding you need previous associations or
on clauses.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-08 16:03] josevalim commented on #2389
I would say for now the best we can do is to have people try this out and
give feedback on what they are trying to build. Then we will figure which
new APIs to add and what to make more flexible.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-08 16:27] zachdaniel commented on #2389
@zoldar so in my API, you can provide filters on joined values, and you can also include related entities. The current implementation has to do some *very* hacky things to accomplish this, so lets not dive into that too much. But what I'd need is something equivalent of "give me an alias that is not in use in this query already", so that I can tie it to a specific reference to an association in ou

[2018-04-08 17:33] zoldar commented on #2389
@josevalim is right - it's best to wait until people start trying that out in practice. I actually had a real life use case on my mind but I'll hold off with proposing anything until/if I actually try to use that feature on an actual living code.

Sorry for stirring the pond in a closed issue on Sunday 🙈

[2018-04-08 18:00] zachdaniel commented on #2389
@zoldar as soon as I feel like I have the tools to replace my existing code w/ named bindings (there are a few things I need, and this is one of them) then I will be trying it out in practice.

[2018-04-08 18:01] zachdaniel commented on #2389
But we can totally discuss this in a different format later this week :D I'll just see if I can try the refactor that I have in mind w/ ecto master and see what things I run into, and then report back.

[2018-04-08 18:55] josevalim commented on #2389
The names fully work At compile time, so we can’t return a dynamic name to
use (yet). If we approach the problem as “we need dynamic names”, then the
only solution we will find is “dynamic names”. But if we ask “how to best
compose this query”, we may find more answers.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-08 19:40] zachdaniel commented on #2389
@josevalim that is very true :D My use case is that I'm accepting a (very graphql-ish) query from user input, something like

[code]
We already support a significant set of filters and boolean combinators like that, but its done w/ quite a bit of metaprogramming that I'd like to make unnecessary. I am already tying specific association joins that I require to binding indices externally to the quer

[2018-04-08 21:09] josevalim commented on #2389
@zachdaniel in this case I would try to pre-process the data and move the any_of inside each association.

The other idea is to have something like `has_named_binding?` that @zoldar mentioned and make sure the bindings is introduced at some point. So you would have functions like:

[code]

[2018-04-09 00:05] zachdaniel commented on #2389
We have something like 60 resources most of which have upwards of 10 relationships (and some many more) so having to have a handwritten (or even compile time generated) list of functions that can join + name that association isn't really feasible. I'll write something up that explains our use case more in depth later, since we're looking to open source it in the next 6 months to a year as time all

[2018-04-09 13:39] mindreader commented on #2389
I guess I'm a bit confused on how this was intended to be used.  I'm not very experienced with ecto, so I'm not sure how it used to be done and what has changed to make this type of query possible.  I tried to piece together some code the way the library looks like it should accept, but I'm beginning to think that I was expecting there to be more to this than there is at this moment.  What would t

[2018-04-09 14:37] josevalim commented on #2389
Folks, this issue is closed and the basic feature is in. If you feel you need more functionality, please provide a complete proposal. You can use this topic as an example. Please provide a snippet with how the code looks today, the problems the old code has, and then describe the solution, with advantages, disadvantages and the updated code samples. Thank you.

[2018-04-09 16:32] hauleth commented on #2389
@josevalim if I understand @OvermindDL1 correctly (and if so, I completely agree) is that we want to **reduce** functionality proposed there, not **add** to it. The part we are afraid of is:

So if I understand correctly if I now do this:

[code]

it will silently pass. However I (and I think @OvermindDL1 also) think that this is dangerous behaviour and it should fail the same as when used like:

[2018-04-09 16:34] josevalim commented on #2389
The behavior you mention was discarded along the way and it has not been
implemented. :)

[2018-04-09 16:35] josevalim commented on #2389
Btw the goal was never to ignore it implicitly, only when named. But it was
not implemented either way.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-10 14:04] MeterSoft opened #2504 "rebuild assoc if validation failed"
i have Post and Image model. Post has many images. Also have nested form with dinamic images. If validation fails it return changeset without assoc loaded. How i can return user entered data to post and display errors to user?

[code]

on my form i try this
[code]

[2018-04-10 14:32] josevalim commented on #2504
Please use the [ElixirForum](http://www.elixirforum.com) or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2018-04-10 14:32] #2504 closed

[2018-04-10 17:42] acidhorse opened #2505 "Select TOP 1 on Repo.one()"
### Precheck

I would like to stop full table scans on mssql and I would suggest that Repo.one() should do by default.

### Environment

* Elixir version 1.6.1
* Mssql 2008 - 2012  and Azure
* Ecto version: ~> 2.2.8
* Database adapter and version (mix deps): mmsql_ecto: ~> 1.1.0)
* Operating system: Windows 10 / Azure deployments

### Current behavior

Repo.one(query) does a select 'SELECT O0."id"

[2018-04-10 17:50] josevalim commented on #2505
By definition `one` does not add a limit to queries because some queries are meant to return a single result by definition (for example, filtering on a unique index column). In case you get more than one result, it should fail (i.e. you forgot the index), and if we always add the limit we will never know about those. You can add TOP 1 / LIMIT 1 by using the query API.

[2018-04-10 17:50] #2505 closed

[2018-04-11 14:03] mauricew commented on #2505
Actually was thinking of this and saw a middle ground that should be seriously considered: Entity Framework's equivalent being the LINQ `Single` implicitly does a `SELECT TOP 2` to check if there is more than one row returned.

[2018-04-11 14:17] acidhorse commented on #2505
I agree with Jose on this, I was being lazy, but he was too polite to mention that.

[2018-04-11 14:30] mauricew commented on #2505
I would not mind doing the implementation myself either, but there could be an argument to doing this since it's a potential background optimization that a user doesn't need to think about. Of course it's at the cost of adding a small quirk to the functionality of `Repo.one` directly changing a query, which thinking of the philosophy of this framework may not be the most desired thing to do.

[2018-04-11 14:38] AndrewDryga commented on #2505
@mauricew it will optimize only in cases where we raise exceptions (more than one), there is no reason to optimize it.

[2018-04-11 20:46] zachdaniel commented on #2505
@AndrewDryga I don't necessarily think that just because we raise an exception there means that optimization is pointless. If someone passes in the wrong query to `Repo.one` and it has a huge result set, then we could save them fro lots of network traffic, and time waiting for a bad query to run.

[2018-04-11 20:47] zachdaniel commented on #2505
I don't feel super strongly about it, just saying that if someone is willing to add it, and it just makes something faster w/o sacrificing anything, then I don't see why not.

[2018-04-12 00:31] soteras commented on #2474
I'll start to work in it this week.

[2018-04-12 16:34] soteras commented on #2474
@michalmuskala the problem here is "cast" it won't returns nil changes. We could add new option to force nil changes.

[2018-04-12 17:57] blatyo commented on #2474
I believe it's more subtle than that. If the value passed in params matches the default for the schema, then Ecto won't return those changes.

https://github.com/elixir-ecto/ecto/blob/c7bf196d9f4833761ae01c05d7b87bbcc2a29cc5/lib/ecto/changeset.ex#L515-L517

[2018-04-12 18:01] josevalim commented on #2474
Yeah, we need to lift the values from the struct.

[2018-04-12 18:36] michalmuskala commented on #2474
Yes, we shouldn't change how cast works - that would be a huge change. We should use in upsert similar logic that we use in insert to lift all the values off the changeset.

[2018-04-13 20:31] meatherly commented on #2479
[code]
@IcyEagle were able to get around this error when trying to insert your dynamic embedded into the db?

[2018-04-14 07:52] josevalim commented on #2495
Ping. :)

[2018-04-14 08:10] josevalim opened #2507 "Add error function to Multi"
For example, `Multi.error(multi, :subscription, "subscription failed")`. This is a shortcut to return a failed multi to an API that expected a multi.

If an error is present, we shouldn't even start the transaction (which is similar to how the changeset functions work).

/cc @ericmj @michalmuskala

[2018-04-14 08:15] josevalim opened #2508 "Allow functions to be given to insert/update/delete/insert_or_update in Ecto.Multi"
The function should receive the changes so far and return a struct/changeset. They should be equivalent to calling `run/3`.

We also need to change the module docs for Ecto.Multi to make it clear that we only pre-validate functions that explicitly receive a changeset when the changeset is built.

[2018-04-14 13:48] darkbaby123 opened #2509 "Ecto.Query.API.type/2 translate integer as bigint in PostgreSQL"
### Environment

* Elixir version (elixir -v): 1.6.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.3
* Ecto version (mix deps): 2.2.9
* Database adapter and version (mix deps): 0.13.5
* Operating system: Ubuntu

### Current behavior

I have a table with `integer[]` type in PostgreSQL. In migration I define the column as `add :some_field, {:array, :integer}`. When buildi

[2018-04-14 14:16] josevalim commented on #2509
type/2 may perform casting on interpolated inputs and therefore it must
concern itself with Ecto types. The solution here is indeed to use a
fragment.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-14 15:25] mindseyeblind commented on #2495
This is actually fixed in the v3 docs as of @radar's PR referencing issue #2417. I'm still going to make a PR for the section header thing, a couple other fixes, and an addition to the many-to-many guide.

[2018-04-14 16:43] #2495 closed

[2018-04-14 16:43] #2509 closed

[2018-04-15 00:51] hlhr commented on #2507
I would give it a try.

[2018-04-15 06:25] josevalim commented on #2507
Thanks @hlhr! Someone pointed out that this function is already part of the API, so it is just a matter of guaranteeing it fails early and updating the docs. :)

[2018-04-15 13:46] hlhr commented on #2507
@josevalim Yes I already saw that. Just to make sure, what do you mean with "just a matter of guaranteein"? Do you mean change the ordering of the calls or put the `:error` as the first call?

[2018-04-15 21:01] #2507 closed

[2018-04-16 03:12] darkbaby123 commented on #2509
Yes `type/2` should perform casting on interpolated inputs. But the issue is that it also generate `::bigint[]` in SQL (when we use `{:array, :integer}`). I don't think it's an expected behaviour because of 2 reasons.

1. Ecto type `:integer` translates to PostgreSQL type `bigint` is wrong and confusing. Especially in the migration `:integer` means PostgreSQL type `integer`.
2. User can not specif

[2018-04-17 23:38] asummers opened #2516 "mix.exs Postgrex Dependency"
[The mix file](https://github.com/elixir-ecto/ecto/blob/master/mix.exs#L48) references a `0.14.0-dev`, but I cannot find this on Hex in the list of versions [here](https://hex.pm/packages/postgrex) or in the branches on GitHub for Postgrex [here](https://github.com/elixir-ecto/postgrex/branches/all) or releases [here](https://github.com/elixir-ecto/postgrex/releases). My `mix.lock` file seems to p

[2018-04-17 23:57] fishcakez commented on #2516
Hi @asummers this isnt a bug, master is pointing to master on git while Ecto 3 work is underway. We don't want to release breaking changes in drivers only to revert them if Ecto 3 requires it. You should stick with hex releases or v2.2 branch if you insist on following git.

[2018-04-17 23:57] #2516 closed

[2018-04-18 18:08] supernintendo opened #2519 "Application fails to compile due to deadlock with associations"
### Description

When updating my Ecto version from `2.1.2` to `2.2.10` my application fails to compile due to a deadlock between modules. All of the modules that are responsible for the failure appear to be compiling before the modules they depend on (i.e. associations) have finished compiling.

### Environment

* Elixir 1.4.4
* PostgreSQL 9.5
* Ecto 2.2.10
* `phoenix_ecto` 3.2.1
* Hex 0.17.6
* D

[2018-04-18 18:24] zachdaniel commented on #2480
@josevalim I think you are right, that most things will hold. It would significantly help my use-case if it where possible to provide a mfa to the `where` option. I'm imagining instead of
[code]
We will see
[code]
And if I can already tell that if I'm going to be taking that option and adding it to the query, that it would be trival to also accept
[code]

[2018-04-18 18:45] josevalim commented on #2519
@supernintendo can you please provide an application that reproduces the error? Cyclic associations are actually fine (and I have them working in a app) so there is something else happening here causing the issue.

[2018-04-18 18:53] josevalim commented on #2480
@zachdaniel I think we can support `has_many :posts, Post, where: Post.special()` where `Post.special` returns a keyword list or a dynamic query. It has the benefit of working at compile-time.

[2018-04-18 18:56] supernintendo commented on #2519
@josevalim Sure. The project where I'm running into this is closed source, but I'll dig a bit deeper and see if I can provide some source code that reproduces this.

[2018-04-18 19:19] zachdaniel commented on #2480
The issue for us is that it would take a significant amount of work to move that logic into separate modules, i.e not the modules that are also the destination of the relationship. But since many of our relationships need to express this between each other, if it *has* to work at compile time then we will have to do a lot of legwork to move things around. Using the keyword/dynamic makes it possibl

[2018-04-18 19:38] zachdaniel commented on #2480
:+1:

[2018-04-18 20:29] zachdaniel commented on #2480
I'm also getting errors when trying to use dynamic, due to it trying to quote the anonymous function inside of the DynamicExpr. ```
** (ArgumentError) cannot escape #Function<1.4162596/1 in Ecto.AssociationTest.AuthorPermalink.active/0>. The supported values are: lists, tuples, maps, atoms, numbers, bitstrings, PIDs and remote functions in the format &Mod.fun/arity
[code]

[2018-04-18 20:45] josevalim commented on #2480
`join_throuogh_where` looks good to me unless you have better suggestions. :)

And good catch regarding `dynamic`. We may need t convert it to a MFA tuple first. Would you give it a try? Otherwise I can take a look at it later, just let me know.

[2018-04-18 21:52] zachdaniel commented on #2480
@josevalim so if I see a function call like `Post.active()` I should just destructure that into an MFA? Or is it something more specific than that, like taking the return value of that function, and determining if it returns a `dynamic` and then somehow converting that to an MFA?

[2018-04-18 22:27] zachdaniel commented on #2480
Oh, duh. That can be converted to the obvious MFA of `{Ecto.Query, :dynamic, [expr]}`. Nevermind me :)

[2018-04-18 22:46] zachdaniel commented on #2480
I think I've got it. Gotta run to dinner will PR tonight.

[2018-04-19 06:35] josevalim commented on #2480
No, we will just invoke it normally.

[2018-04-19 16:20] dantswain opened #2521 "Migrations being applied to the wrong repo with multiple repos"
### Precheck

Wasn't able to find this reported anywhere else.

### Environment

* Elixir version (elixir -v):  1.5.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PostgreSQL 9.5
* Ecto version (mix deps): 2.2.9
* Database adapter and version (mix deps): postgrex 0.13.5
* Operating system: mac OS 10.13.4

### Current behavior

I have an app with two repos:  `MyApp.Repo` for the appl

[2018-04-19 16:36] josevalim commented on #2521
We use last part of your repository name for figure out the path. The module names do not matter. You can configure it by setting the priv key in your repository configuration. [More info in the `ecto.migrate` command docs](https://hexdocs.pm/ecto/Mix.Tasks.Ecto.Migrate.html).

[2018-04-19 16:36] #2521 closed

[2018-04-19 16:44] josevalim commented on #2521
In any case, thanks for opening up the issue @dantswain! I have also pushed improved docs to master!

[2018-04-19 16:50] dantswain commented on #2521
Thanks, @josevalim!  Knowing how ecto finds/selects migrations is a big help.

I think there may still be a bug here.  When I create a migration with the `-r` option, it does not put the migration in a repo-specific subdirectory - it just puts it in `/priv/repo/migrations`.

Also, I just tried adding the `:priv` key to the repo config, and it generates the migration in the directory named there an

[2018-04-19 16:52] josevalim commented on #2521
In your case they share the same directory, that's why it always ends up there.

Yeah, I agree the previous docs were lacking examples. This is how they look like now: https://github.com/elixir-ecto/ecto/blob/5c2cde986cd038d698b2cedcf2ca76536e0d86b1/lib/mix/tasks/ecto.migrate.ex#L10

Does it make it clear?

[2018-04-19 16:58] dantswain commented on #2521
For sure this could just be me, but I read this to say migrations will be at `priv/YOUR_REPO/migrations` _by default_ - i.e., without declaring an override, `MyApp.Repo1` would look in `priv/repo1` and `MyApp.Repo2` would look in `priv/repo2`.  It's not super prescriptive, so I am definitely making some assumptions.

I also read "can be configured to be any subdirectory of priv by specifying the :

[2018-04-19 17:07] josevalim commented on #2521
@dantswain the new documentation link I pointed to above does not use that phrasing anymore. In any case, PRs to further improve this are definitely welcome!

[2018-04-19 17:10] dantswain commented on #2521
Oh cool, when you first posted that snippet I don't think github had become "eventually consistent" so I was seeing the old language still.  The new language is much better :+1:.  I may take a look at `gen.migration` as well to see if anything there might have helped me stay on track.  Thanks again!

[2018-04-19 21:04] #2480 closed

[2018-04-21 09:15] zoldar commented on #2519
We have stumbled into the same problem when trying to bump ecto from 2.1.6 to 2.2.x in our project. We managed to nail it down to `after_compile_validation` calls for associations, like this one https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/association.ex#L458. When we commented out condition clauses for `Code.ensure_compiled?(queryable)` check for either kind of association, the deadlo

[2018-04-24 21:58] aiwilliams opened #2524 "Preload with function sorts results that were provided in preferred order"
### Environment

* Elixir version (elixir -v): 1.4.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.4
* Ecto version (mix deps): 2.2.10
* Database adapter and version (mix deps): postgrex 0.13.5
* Operating system: MacOS 10.13.4

### Current behavior

I'm using `Ecto.Query.preload/2` with a function. The function receives the ids of the target record and performs a query

[2018-04-24 22:17] #2524 closed

[2018-04-24 22:18] josevalim commented on #2524
I could relax this constraint a bit so it works in your case but it still requires id sorting.

[2018-04-25 17:27] Adzz opened #2525 "Ecto.apply_changes not taking account of database default"
### Environment

* Elixir version (elixir -v): 1.6.3
* Database and version: Postgres 10.3
* Ecto version: 2.2.9
* Database adapter and version: 0.13.5
* Operating system: unix

### Current behavior

I have an ecto schema backed by a table that has a non_null column with a default. I want to add a validation that will check that column is in an enum of values:

[code]

[code]

The problem is when

[2018-04-25 17:46] OvermindDL1 commented on #2525
So say a default on a field is something like `"someDatabaseFunction()"`, what would you expect the default to be?  Defaults are database-side, not Elixir side, as only the database can truly know.  If a database can do the validation of something then it probably should do the validation.  :-)

[2018-04-25 17:59] michalmuskala commented on #2525
Since the only way to access the database is through `Repo`, when it's not used we don't touch database (this is one of the basic guarantees of Ecto). This means there isn't even a way to make it work even if we wanted to.

Probably the only way to read the database defaults (if you really need to do this) would be to insert the value in a transaction just to immediately rollback.

[2018-04-25 17:59] #2525 closed

[2018-04-26 06:48] IcyEagle commented on #2479
@meatherly I suddenly switched to another task and this feature was postponed so I didn't try. By the way there is another problem here. How to cast `:map` to the specific embedded schema when your model is fetched? Probably it's possible to setup kind of callback or maybe create new type for that but currently it's [not supported](https://groups.google.com/forum/#!topic/elixir-ecto/Okf87dNhNFk).

[2018-04-26 12:52] denqxotl opened #2526 "Default value in Schema"
So I have `my_perfect_random` function that returns value of string
[code]
the error is
```undefined my_perfect_random/0```

The function is written in the same module. I've tried to use `MyModule.my_perfect_random`, but got the same error

Pls help me to fix it

[2018-04-26 13:04] michalmuskala commented on #2526
Please use the elixir forum or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you.

---

Defaults in schema can only be static variables similar to structs. You can use changesets to provide dynamic defaults.

[2018-04-26 13:04] #2526 closed

[2018-04-26 13:15] denqxotl commented on #2526
@michalmuskala ok, sorry for it

[2018-04-26 18:15] jkslyby commented on #2519
@supernintendo - I just encountered the exact same issue.

Would you happen to have module attributes that reference one of your other modules on lines 92 or 95 of `web/services/home_assessments/export.ex` (or anywhere else for that matter)?

If you remove/relocate those references, it should work&trade;.

[2018-04-26 19:12] josevalim commented on #2519
If you have a way to reproduce the issue I would love to take a look at it and see if we can improve the error message or similar.

[2018-04-26 19:47] jkslyby commented on #2519
@josevalim - I will try to recreate it on a new project sometime soon. For now, here's the gist of what's happening:

[code]

If I reference `MyApp.ModelB` inside of `MyApp.ModelA` in a module attribute, this causes the deadlock situation. That being said, it's probably not good to do that anyway.

[2018-04-29 15:50] supernintendo commented on #2519
@jkslyby That seems to be what is causing the problem in my case. It appears that Ecto queries containing references to other modules can no longer be assigned to module attributes. Refactoring those queries allowed my application to compile. Thanks!

[2018-04-30 10:38] josevalim commented on #2519
@supernintendo thank you! It makes sense indeed. Queries are not guaranteed to be compile-time safe and it is actually important that we recompile modules when their query sources chance. Moving it to a function is the way to go.

[2018-04-30 10:38] #2519 closed

[2018-05-01 19:37] drozdzynski opened #2530 "Proposal of replacement with defimpl for Ecto.Association.NotLoaded"
Hello all,

after reading stackoverflow and github issues with
[code]
I came to conclusion to remove `defimpl ..., for: Ecto.Association.NotLoaded` in the [module](https://github.com/elixir-ecto/ecto/blob/ed861cbbfae1907463304597ee44d0951f9d0946/lib/ecto/json.ex), to add developer an ability to handle it in own way, or replace it with something like that:
[code]

[2018-05-02 04:58] drozdzynski commented on #2530
@michalmuskala thanks for the quick answer, but what do you think about removing this defimpl from ecto to give a developer an ability to handle it in own way.

But if it must stay like it is I have a question from the other side, how you would handle `Ecto.Association.NotLoaded` with Jason library when you want to load association only in certain endpoints?

[2018-05-02 10:00] michalmuskala commented on #2530
In general, I would encourage having an intermediate layer between schemas and final JSON responses (like phoenix views). It's very likely you're going to want to not only differ responses by whether you preload or not, but also what fields you include etc.

[2018-05-03 13:25] dkotrada opened #2532 "Buggy documentation for associations"
### Precheck
https://hexdocs.pm/ecto/associations.html

Going through previous chapter was easy. But associations chapter is very user unfriendly and not straight forward. I encountered many stoppers and it took me some time to figure out wat is wrong.

How to fix this chapter?

### Environment

Latest Versions as of 03 May 2018

### Current behavior

Unfriendly for beginners

### Expected behavio

[2018-05-03 13:58] josevalim commented on #2532
Thanks @dkotrada!

You are in a very fortunate position where you are learning about this and you can provide us with specific feedback. Therefore, could you please let us know exactly what is wrong and what needs to be improved?

It could be something as simple as a copy of the current markdown documentation full of annotations such as:

[code]

And we will act on those. You can find the current

[2018-05-03 14:34] dkotrada commented on #2532
Those links (content) are not the same.
https://hexdocs.pm/ecto/associations.html
https://github.com/elixir-ecto/ecto/blob/master/guides/Associations.md

[2018-05-03 14:54] josevalim commented on #2532
@dkotrada they are not! We have had some improvements in master but they have not been published yet (it will happen on a new release).

[2018-05-04 12:39] geofflane opened #2534 "Ecto preload function fails for many_to_many and has_many through"
Ecto 2.2.10

From a discussion at: [https://elixirforum.com/t/ecto-preload-function-discarding-data/14031/5](https://elixirforum.com/t/ecto-preload-function-discarding-data/14031/5)

As far as I can tell:

**has_many through** passes a list of child ids to the preload function and will exclude anything returned that doesn’t have an id that matches one of those ids. (Only allows a use case where yo

[2018-05-05 14:48] LostKobrakai commented on #2473
Does Ecto.Type really need to be concerned with a `:lt/:eq/:gt` differenciation? To me this feels more like a `Ecto.Type.Orderable` behavior, while the core issue of this thread here is detecting change.

Take for example a type for MapSet. There's no inherent order to one set vs. another, but there's `MapSet.equals?/1` for relyable checking of equality.

[2018-05-06 11:32] Eiji7 opened #2536 "Schema allows to define embed as field which causes weird error when using Repo.update"
### Environment

[code]
Funtoo Linux current x86-64bit on intel64-ivybridge

I have tested it only on latest release and `master` branch. For second one my dependencies are:

[code]

### Current behavior

`Repo.update` raises with `ArgumentError`
[code]

Where `field_name` is embedded (many) by another embedded field which is embedded (also many) by updated model.

The changeset is valid and there

[2018-05-06 11:40] michalmuskala commented on #2536
I think we'll need some sample code to reproduce. It seems to me a bit strange to have a changeset in that place - it seems as if the changeset was nested in a schema struct.

The `update!` vs `update` is about raising about the domain of the function, which is updating the data itself. Both of them are going to raise given bad arguments or when a connection to the database is not available.

[2018-05-06 11:47] Eiji7 commented on #2536
@michalmuskala In short after call `MyApp.Model.changeset` I have `changeset` with `changes` with key which holds list of changesets - every changeset similarly has `changes` and in some key has list of changesets, so it's a bit complicated.

I will create an example app which reproduces problem soon.

[2018-05-06 15:49] Eiji7 commented on #2536
ok, I have created simple `ecto` project:
[code]
This project also shows that this bug affects also old code (comparing to `master`) i.e.:
[code]
ping @michalmuskala

[2018-05-06 16:07] michalmuskala commented on #2536
Thanks, I'll take a look.

[2018-05-08 07:00] josevalim commented on #2508
Something like this:

[code]

[2018-05-08 15:05] sashman opened #2537 "Fragment generates parentheses for jsonb_each in join clause"
Hello, I've posted a question on SO here: https://stackoverflow.com/questions/50177729/ecto-fragment-without-parentheses

I'm not 100% if this is intended behaviour or not?

### Environment

* Elixir version (elixir -v): `Elixir 1.6.3 (compiled with OTP 19)`
* Database and version (in docker):

[code]
* Ecto version (mix deps):
[code]
* Database adapter and version (mix deps):
[code]
* Operating s

[2018-05-11 11:21] danish-nadeem opened #2540 "Ecto.Changeset.traverse_errors showing fields in nested format"
Hello,

I am getting the errors in a nested format see Current behaviour, whereas it should show it without nested format see Expected behaviour, I am using cast_assoc to cast the values to other changesets.

### Changeset

[code]

### Current behavior
[code]
### Expected behavior
[code]

[2018-05-11 15:02] #2540 closed, assigned to nobody

[2018-05-11 19:34] aubreywahl commented on #2532
@josevalim  I've been learning Phoenix/Ecto/Elixir recently. I feel that associations guide could help nudge the user toward best practices a little more.

Perhaps this is too contrived, but I've been wondering what the best practice is for inserting a record that has more than one required parent table association.

I don't think this is quite covered by the one-to-many or many-to-many sections,

[2018-05-11 19:35] josevalim commented on #2532
Ping @dkotrada!

[2018-05-11 19:36] josevalim commented on #2532
@aubreywahl In your case, they wouldn't go through the changeset because the changeset is about external changes. I would do this instead:

[code]

And because you are using structs, if you eventually rename the `Page` fields, the compiler will let you know.

[2018-05-11 19:44] aubreywahl commented on #2532
@josevalim I find that interesting and insightful. Thanks! Perhaps this concept could be reinforced more in the guides for those of us a who are thick-skulled 😛

[2018-05-12 10:49] #2244 closed

[2018-05-12 10:50] #2537 closed

[2018-05-12 11:28] #2482 closed

[2018-05-13 05:08] Eiji7 commented on #2536
@michalmuskala: Hey, it's a week after this bug was reported and it's important for our app to have it solved asap. Of course I know that you have also other things to do, so I don't blame you. I would only ask if you have any progress (for example not pushed to git tree) and if I can try fix this issue in case you did not yet started to work on it yet.

[2018-05-13 07:12] josevalim commented on #2536
Hi @Eiji7! If the feature is important for your app, then the best is for your team to look into it and provide a bug fix. I imagine there are other bug fixes and features in the issues tracker that is important for other teams too and if we were to prioritize them as such, we would probably do it in a FIFO way, which means we wouldn't be able to get to this anytime soon. Thanks!

[2018-05-13 07:34] Virviil opened #2543 "Ecto TRUNCATE for test env does not work properly"
### Environment

* Elixir version (elixir -v): **Elixir 1.6.3 (compiled with OTP 19)**
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): **PostgreSQL 10.3 on x86_64-apple-darwin17.3.0, compiled by Apple LLVM version 9.0.0 (clang-900.0.39.2), 64-bit**
* Ecto version (mix deps): Ecto 2.1 ref: **a4cdac62d2c411b98814f68dac04a8b5174e9f22**
* Database adapter and version (mix deps): **:postgre

[2018-05-13 07:44] josevalim commented on #2543
Hi @Virviil! Ecto does not provide any truncation feature, so this is probably coming from elsewhere. Please find the source and report them accordingly. Thank you.

[2018-05-13 07:44] #2543 closed

[2018-05-13 09:12] wojtekmach commented on #2536
@Eiji7 I found the issue:

1. trader embeds_many contacts ([link](https://gitlab.com/ex-open-source/invoicex/blob/b484a20eb36a7829b0be7c4f351c5cb9f57b427d/lib/invoicex/ecommerce/trader.ex#L18))
2. contact copies fields from other schema ([link](https://gitlab.com/ex-open-source/invoicex/blob/master/lib/invoicex/ecommerce/contact.ex#L19))
3. the code that copies fields ([link](https://gitlab.com/ex

[2018-05-13 09:34] Virviil commented on #2543
Yep, directly! It's not `ecto`. I've finally found the problem place. Thank you

[2018-05-13 16:12] Eiji7 commented on #2536
@wojtekmach: Wow, thank you so much! I did not even expected that issue is on my side. You saved me a lot of time. I will update this issue then to make sure other will not have similar problems in future.

[2018-05-13 21:20] LostKobrakai opened #2545 "Ecto.Changeset.prepare_changes not being triggered for embeds"
### Environment

* Elixir version (elixir -v): 1.6.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 10
* Ecto version (mix deps): 2.2.10
* Database adapter and version (mix deps):
* Operating system: Mac OS X

### Current behavior

https://github.com/LostKobrakai/ecto/commit/70b5ba66e8ca2ca67060535cbe486378056df7df

### Expected behavior

I'd expect that all `Ecto.Changeset.prepare_ch

[2018-05-14 13:03] x-ji commented on #790
@josevalim is the second approach you mentioned, i.e.

eventually implemented? It seems that I still can't use `:map` type if I want to directly store a JSON array without a key attached to it.

[2018-05-15 00:30] techgaun opened #2546 "malformed join in query expression when __MODULE__ is used in join expression"
### Environment

* Elixir version (elixir -v): 1.6.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): postgres10.4
* Ecto version (mix deps): 2.2.10
* Database adapter and version (mix deps): postgrex and 0.13.5
* Operating system: Ubuntu

### Current behavior

When we use `__MODULE__` as part of query expression

Example:

[code]

Error:

[code]

### Expected behavior

Ecto query build

[2018-05-15 16:11] lukaszsamson opened #2547 "Crash when validating NaN number"
### Environment
* Ecto version (mix deps): 2.10

### Current behavior
When validating
[code]
ecto crashes with
[code]
### Expected behavior
'validate_required' should check if the number is not NaN (just like it checks if string is not empty)
'validate_number' should not try to compare with NaN (or use Decimal.compare/2 instead of Decimal.cmp/2 and ignore NaN results)

[2018-05-15 16:18] josevalim commented on #2547
I don't think we should accept NaN. i.e. casting should fail.

I know some users may actually want NaN, but then they can leverage a custom type, especially once we add compare to the type API.

[2018-05-15 16:18] josevalim commented on #2547
Btw, thanks for the report! :)

[2018-05-16 10:00] lukaszsamson commented on #2547
I'm not sure if casting should fail. Some databases do support NaN values (e.g. Postgres, Oracle).
I worked around this issue with simple substitution - in my use case I can treat NaN as a missing value.
[code]

[2018-05-16 10:01] josevalim commented on #2547
It should fail out of the box because I would say most users don't actually expect NaN in there. If you want NaN, then you can opt into it with a custom type.

[2018-05-16 13:38] dersar00 opened #2549 "Сould not save data to database"
Hello!
I'm new in elixir and I have a problem with saving data to db through code, if I try to do it through `iex` like [here](https://hexdocs.pm/ecto/getting-started.html#inserting-data), everything saved well but if I tried to do it through code I got error:
![image](https://user-images.githubusercontent.com/17855733/40119639-7db61678-591d-11e8-93ad-d6ac5ce600c1.png)
Error after running code on

[2018-05-16 13:48] josevalim commented on #2549
That's because the Friends.save() at the end of the file is trying to execute some code when your application is being compiled, before it is fully compiled and before its services are started. We need to improve the error message here but genereally speaking you should use `iex` to try out code. So you can remove the `Friends.save` from the bottom of the file and do `iex -S mix` and then type `Fr

[2018-05-16 14:01] dersar00 commented on #2549
@josevalim and what you can say now?
![image](https://user-images.githubusercontent.com/17855733/40121653-57f9c6fa-5922-11e8-81bc-44ecc17eec02.png)

[2018-05-16 14:37] josevalim commented on #2549
Remove this line https://github.com/dersar00/friends/blob/master/mix.exs#L17, as you are using Elixir v1.6, to make sure everything is started. If it doesn't work, then you should rather ask in the mongodb_ecto folks or elixirforum.

[2018-05-16 16:15] zachdaniel commented on #2547
As long as the way NaN is handled is documented somewhere, along w/ the advice to use a custom type, I agree.

[2018-05-16 20:44] richeterre opened #2550 "Unable to apply sort order when preloading nested association"
### Environment

* Elixir version: 1.6.4
* Database and version: PostgreSQL 10.3
* Ecto version: 2.2.8

### Current behavior

Say we have a `Post` which has the following association: `has_many(:liking_users, through: [:likes, :user])`. Two users with usernames `"A"` and `"B"` have liked it.

Now we want to preload those users, ordered by their usernames in descending order.

[code]

When accessin

[2018-05-16 21:08] josevalim commented on #2550
This is a bug related to #2534. Basically Ecto orders the associations so the preloading step is faster. We should probably remove the ordering and use map to build the preloads.

[2018-05-17 10:39] ktec opened #2551 "Testing with Ecto.md page not found on hexdocs"
### Current behaviour

The [Hexdocs Getting Started Guide](https://hexdocs.pm/ecto/getting-started.html#test-environment-setup) has the following:

[code]

The link "here" is broken. It redirects to https://hexdocs.pm/ecto/Testing%2520with%2520Ecto.md

This link works when viewing the [Getting Started guide on github](https://github.com/elixir-ecto/ecto/blob/v2.2.10/guides/Getting%20Started.md)

#

[2018-05-17 10:49] #2551 closed

[2018-05-17 22:03] zoldar commented on #2549
FWIW, the code from `postgres_branch` (after removing  `Friends.module()` call at the end of `lib/friends.ex`) works for me:

[code]

[2018-05-17 22:27] JEG2 opened #2553 "Ecto.Query.API.map broken on single nil column with join when merging select clauses"
### Environment

* Elixir version (elixir -v):  1.6.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PostgreSQL 9.6.1
* Ecto version (mix deps):  2.2.10
* Database adapter and version (mix deps):  0.13.5
* Operating system:  macOS High Sierra 10.13.4

### Current behavior

I'm pretty sure this is another edge case of the now fixed #2380.  I'm dynamically building queries in an applic

[2018-05-18 05:36] josevalim commented on #2553
Ecto doesn't work if you don't retrieve all of the columns involved in the association. I am not sure though if that is the root of the failure or if you removed the remaining columns when building the minimum example. So could you please expand?

Also note that #2380 is only in master and it has not been released yet. Did you give master a try?

[2018-05-18 14:19] JEG2 commented on #2553
I don't think I fully understood this comment.  It definitely sounds like something I did wrong though.  Feel to close this issue.

Ah, good tip.  I didn't catch that.

Switching to master takes me from one failing test to 10.  :(

[2018-05-18 15:18] JEG2 commented on #2553
Five of my failures are this.  They are easily fixed.  No worries there.

The other five failures are related to `select_merge`.  I don't see a relevant entry in the CHANGELOG.  Here's a sample failure:

[code]

[2018-05-20 00:15] JEG2 commented on #2553
I made an example with a README to walk you through seeing it in action:

https://github.com/JEG2/ecto_change

Let me know if you have any questions.

[2018-05-20 09:26] josevalim commented on #2553
@JEG2 thank you so much, I have fixed it in master.

I forgot to ask: did master also address your original issue... or not really?

[2018-05-20 23:43] JEG2 commented on #2553
This specific issue does seem fixed with current `master`, yes.  It looks like I have one more minor problem, but I believe it's different.  I'll try to reduce it to a minimal example and submit a new issue for it.

[2018-05-20 23:43] #2553 closed

[2018-05-21 13:12] jasisz commented on #562
@laurocaetano I think this should be included in documentation... I was struggling with it for an hour and was about to file an issue when I've finally found this old issue cloes without any action ;/

[2018-05-21 14:28] ericmj commented on #562
@jasisz Unfortunately we can't fix this on the ecto side without including an SQL parser which is out of scope for this project. A pull request improving the documentation would be appreciated.

[2018-05-21 15:49] OvermindDL1 commented on #562
@jasisz This is just a MySQL'ism ( https://stackoverflow.com/questions/45934923/unknown-column-1-in-field-list among other).  When calling a raw SQL query each database tends to have slightly different formats.  The `$1` and so forth convention is a PostgreSQL/Oracle/Others convention https://www.postgresql.org/docs/9.5/static/xfunc-sql.html (although I think it supports `?` as well, I prefer spec

[2018-05-21 17:22] josevalim opened #2556 "Find a way to put metadata in the literal pool"
/cc @michalmuskala

[2018-05-21 17:22] michalmuskala opened #2557 "Optimise memory use of metadata structs"
The metadata structs are never shared, because they are always mutated when data is loaded from database. This means that when loading a lot of data, lots of memory will be used by the metadata structs.

A way to remedy this would be precompute some data so it goes into the literal pool and make sure we actually don't update the struct if the update wouldn't change anything.

Places to look at:
*

[2018-05-21 17:22] #2556 closed, assigned to nobody

[2018-05-21 17:50] josevalim opened #2558 "Split ecto into ecto and ecto_sql"
Ecto 2.0 pushed many improvements to decouple the schema <-> changeset relationship, allowing Ecto work generally as a data validation library. This has pushed some users to ask us to split Ecto apart, allowing developers to bring a small part of Ecto when they didn't need a database.

Most of the discussion around splitting Ecto apart was always about extracting schemas and changesets out of Ecto

[2018-05-21 20:47] #2549 closed

[2018-05-21 22:34] #2536 closed

[2018-05-22 07:41] #2508 closed

[2018-05-23 06:14] maxim opened #2561 "Problem setting default value in a migration for :binary type"
### Environment

* Elixir version (elixir -v): 1.6.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.3
* Ecto version (mix deps): 2.2.10
* Database adapter and version (mix deps): postgrex 0.13.5
* Operating system: MacOS High Sierra 10.13.4

### Current behavior

Hi folks, thanks for amazing work. Not 100% sure if this is Ecto adapter or Postgrex issue.

Looks like migra

[2018-05-23 16:50] michalmuskala commented on #2463
What do we need to do in this issue besides what was already done in postgrex?

[2018-05-23 16:51] michalmuskala commented on #2424
To summarize - whoever wants to tackle this issue should implement a warning if query passed to `Repo.stream` contains a preload and do a PR against the 2.2 branch and one where we raise in such case against the master branch (tracking Ecto 3.0).

[2018-05-23 16:55] michalmuskala commented on #2277
Do we still plan on tackling this one?

[2018-05-23 16:56] josevalim commented on #2277
Yes!!!!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-05-23 16:56] josevalim commented on #2463
We need to take them out of the struct and print them.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-05-23 16:58] michalmuskala commented on #2369
With the new way query expressions are composed, this one should be easier to implement.

[2018-05-23 16:59] michalmuskala commented on #2448
I'm not exactly sure, I understand what those functions would do. @josevalim, could you expand a bit?

[2018-05-23 17:04] josevalim commented on #2448
We need it for #2558. Today all adapters end-up accessing a private query
API to test queries and we should fix that, especially if we are moving
Ecto.SQL out.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-05-23 17:09] michalmuskala commented on #2448
Should the query cache be part of ecto itself or rather ecto_sql? For example, the cache is completely useless for mongodb, but I think some other NoSQL database like cassandra or orientdb could use it, since they also have a textual query format.

[2018-05-23 20:59] maxim commented on #2561
I deleted my second edit at the bottom where I thought it was fixed on master. This is not fixed on master.

[2018-05-23 21:37] qcam commented on #2277
@josevalim Sorry I had some personal affairs last 2 months so didn't have much progress on this issue. Would it still be ok for me to continue?

[2018-05-23 22:56] josevalim commented on #2277
Yes, please.

[2018-05-23 23:40] maxim commented on #2561
PR above for master, but thinking to backport to 2.2. Does this seem right, should I go ahead?

[2018-05-24 20:03] qcam commented on #2277
@josevalim @michalmuskala I think I'm able to build up dynamic parts for `changeset.filters` and pass it through the SQL adapter. I have a WIP commit at https://github.com/qcam/ecto/commit/bf4b7eb9f452fed3a55ed3b3feea92a857c5b59c.

Anyway I'm stuck on the second part of José's earlier comment. Could you please point me what/where would be the ideal way/place to transform these dynamics to raw SQL?

[2018-05-26 00:13] ek1506 opened #2566 "Ecto.LogEntry ignores the color configuration from Elixir's Logger"
### Environment
Elixir version: 1.6.4
Database and version: PostgreSQL 10.3
Ecto version: 2.2.10
OS: Windows 7 (Emacs using M-x shell)

### Current behavior
I configured Elixir's logger to use red color for debug messages, but Ecto.LogEntry ignores this and uses the default cyan color.

Example:
![Example:](https://i.imgur.com/z9Vdd0N.png)

Config.exs:
![My config.exs](https://i.imgur.com/bhDIceD.

[2018-05-26 07:17] josevalim commented on #2566
Yes, Ecto.LogEntry has its own color schema on top. You can remove it by providing your own log callback in the repository configuration.

[2018-05-26 07:17] #2566 closed

[2018-05-26 17:27] josevalim commented on #2277
@qcam the next step is to pass this information to the planner, that will prepare and normalize the query before we send it down to adapters.

[2018-05-27 19:52] #2561 closed

[2018-05-28 15:37] fishcakez commented on #2363
DBConnection master doesn't support this when mixed with a transaction.

[2018-05-28 15:52] josevalim commented on #2363
@fishcakez define mixed with a transaction? Does it mean inside a transaction or outside a transaction and then a transaction is started later?

[2018-05-28 15:55] fishcakez commented on #2363
@josevalim if the transaction is started inside the checkout with `begin` then the connection is force return on `commit`

[2018-05-28 17:35] michalmuskala opened #2570 "Switch to using = ANY(SELECT unnest(?)) instead of = ANY(?) for IN operator"
The problem of `in (?, ?, ...)` is that it requires different SQL for different number of elements and in effect prevents caching queries. Because of that we switched to `= ANY(?)`, but that prevents using indices for the comparison.

@talentdeficit suggested using `= ANY(SELECT unnest(?))` instead, which supports using indices. The downside is that this relies on support of `unnest` function. To

[2018-05-28 17:53] josevalim commented on #2570
Can we please do actual tests on this? Let's run some explain commands, benchmark on large data and what not. Otherwise, I don't think we should move forward.

[2018-05-28 20:22] michalmuskala opened #2571 "Ditch compile-time config"
Today the only two compile-time values are adapter and loggers.

We need the adapter because it might do some code generation. This can be solved, by recommending that the adapter is passed directly to `use Ecto.Repo` call instead of passing it through config. This is already possible today, but should be promoted as a default.

The other compile-time value is `loggers` - we read it at compile-tim

[2018-05-29 09:38] michalmuskala commented on #2571
We could always make `log` an overridable callback in repo. This would mean changing the mechanism completely, though.

[2018-05-29 09:46] josevalim commented on #2571
@michalmuskala i am working on making the dynamic repo which basically means all the data should come from ets. I guess we can just store the list of loggers in ets?

[2018-05-29 09:50] michalmuskala commented on #2571
I think it would be fine to have logging statically defined in the module in the dynamic repo. But reading from ets should be fine too.
I wonder if we could combine the reads - we'd probably be reading multiple things from ets on each repo call.

[2018-05-29 14:53] josevalim commented on #1964
This is pretty much done. In Ecto master we have decoupled the process name from the repository module. You can spawn multiple repositories with different names. The only thing missing is the API that allows the repository name to be given as argument - but that's the cherry of the top - the internals are clean.

[2018-05-29 14:54] josevalim commented on #1964
I want to emphasize though that in master all repositories must still be named (with an atom). The different is that the process name does not have to be the same as the module name.

[2018-05-29 14:54] josevalim commented on #2571
Loggers are now runtime based in master.

[2018-05-29 14:54] josevalim commented on #2571
It is still the same API, except we traverse them at runtime.

[2018-05-29 16:20] schnittchen commented on #2280
For the record and completeness,

```order_by(query, [asc: fragment("? NULLS FIRST", column)]```

seems to be the way this can be solved right now.

[2018-05-29 17:01] rmoorman commented on #1964
@josevalim the thing I am wondering about regarding dynamic repo's and naming them with atoms is, that you would have to dynamically generate atoms based on strings (inside a database) to support the setup @mylanconnolly described (which is a use case I would like to explore as well, connecting to a changing set of databases on demand) but please correct me if I am wrong.

[2018-05-29 20:56] #2448 closed

[2018-05-29 21:37] josevalim commented on #1964
We were able to remove the `:name` requirement. :)

I believe we have tackled everything required to make this work. The last step is to define an official API for pid-based repos but we would like to see more testing and get more feedback for doing so.

For those who want to give it a try, you can look at the callbacks defined by `lib/ecto/repo.ex` and define your own dynamic repo. The idea is th

[2018-05-29 21:37] #1964 closed

[2018-05-29 21:40] josevalim commented on #2558
I believe most of the prep work for this to happen has been done. Adapters no longer depend on private Mix APIs, so it is a matter of moving the code out. :+1: I will start with it soon. I just plan to clean  up the issues tracker a bit more to avoid having to sync two repos constantly.

[2018-05-29 21:42] josevalim commented on #2532
@dkotrada ping. :)

[2018-05-30 11:40] josevalim commented on #2369
Closing in favor of #2572.

[2018-05-30 11:40] #2369 closed

[2018-06-02 10:52] josevalim commented on #2280
Given that NULLS FIRST and NULLS LAST work with fragments, that's the approach I would recommend. Two simple macros can solve this problem and be nicely composable too:

[code]

and then:

    order_by(query, asc: nulls_first(column))

That's simpler then adding a bunch of new order_by types. Thanks @schnittchen and @hauleth!

[2018-06-02 11:04] josevalim commented on #2454
I would like to move ahead with this but I am not sure how to best expose the exists interface. Adding a function to the adapter seems like the best choice for now: `Ecto.Repo.exists?` will add LIMIT 1 and SELECT 1 to the query and return a boolean.

/cc @jeregrine

[2018-06-02 11:41] josevalim commented on #2392
I have changed the title of the issue to be about **table hints**. Both SQLServer and MySQL supports this and they support a variety of commands. For example, [in MySQL](https://dev.mysql.com/doc/refman/5.7/en/index-hints.html):

    SELECT * FROM t1 USE INDEX FOR JOIN (i1) FORCE INDEX FOR JOIN (i2);

Or [in SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/queries/hints-transact-sql-table?vi

[2018-06-02 11:46] josevalim commented on #2532
I will go ahead and close this. Improvements to the guides are always welcome and the association guides already has improvements in master!

[2018-06-02 11:46] #2532 closed

[2018-06-02 12:39] #2460 closed

[2018-06-02 12:40] josevalim commented on #2550
@zoldar iirc you had a PR almost ready for this issue, is this correct? We are planning to tackle this as part of 3.0 effort, so please let us know if you need any help. :)

[2018-06-02 12:53] josevalim commented on #2424
Done in 6655a9ac7690dfc5e796a1519f4f0f7c97fcba35.

[2018-06-02 12:57] josevalim commented on #2277
I have removed the "Bug" tag, as the bug has been fixed, and we are now working on improving the feature.

[2018-06-02 13:20] #2546 closed

[2018-06-02 13:31] zoldar commented on #2550
@josevalim When I've started writing tests, I've realized that my approach doesn't work for recursively traversed preloads. I've tried to push it further in the recent weeks but without much success (can't focus on anything involved on a computer outside work recently - dunno, maybe first symptoms of burnout :| ). Anyway, if anyone would like to tackle that, here's what I initially came up with (t

[2018-06-02 13:50] #2571 closed

[2018-06-02 14:53] josevalim commented on #2463
I have changed the adapter contract to support this in the future.

[2018-06-02 16:59] michalmuskala commented on #2280
@josevalim have you checked it works? This will produce `col NULLS FIRST ASC` and the expected syntax is `col ASC NULLS FIRST`

[2018-06-02 17:06] michalmuskala commented on #2392
That looks good to me 👍

[2018-06-02 17:06] zachdaniel commented on #2392
Same here.

[2018-06-02 17:10] michalmuskala commented on #2424
I thought about it a bit more and it seems regular preloads work just fine, it's just that we issue one query for preload per batch. The problem is with join-preloads because we can't deduplicate the results reliably.

[2018-06-02 17:36] josevalim commented on #2550
@zoldar no worries at all! Sometimes the best thing to do to solve a problem is to step away. :) You may even find a solution a month later, when completely away from it. I will take a look at your tests, they will be very helpful!

[2018-06-02 17:37] josevalim commented on #2280
I went by @schnittchen's comment but I think you are right, we need to support it in Ecto.

[2018-06-02 17:38] josevalim commented on #2424
@michalmuskala yes, I thought about the regular preloads but I think then you can either `chunk` and `Repo.preload` or rewrite using joins, depending on the problem.

[2018-06-02 19:55] josevalim commented on #2550
Also worth noting that in master we have already relaxed those constraints a bit by sorting only for the relationship key first. This makes it good enough in most cases: #2524.

[2018-06-03 00:58] leveloid opened #2573 "Preload query result doesn't match raw SQL result"
### Environment

* Elixir version (elixir -v): 1.6.5
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.3
* Ecto version (mix deps): 2.2

### Current behavior

I'm seeing something off, but not sure it's a bug:

This preload query:
[code]
generates this sql:
[code]
and returns a single record with a "chats" field containing an array of associated chats.

Running that same SQ

[2018-06-03 09:44] josevalim commented on #2573
Yes, that's exactly what preload does, we get all comments and put them inside the posts, so you return `number_of_posts` instead of `number_of_posts * number_of_comments`. If you remove the preload you will get the same result as the query. I have improved the docs, thank you!

[2018-06-03 09:44] #2573 closed

[2018-06-03 11:36] josevalim commented on #2550
@zoldar so the reason your test is not passing it is because it is a `:through` association. In this case, I don't believe there is anything we can do, because we first need to find all comments and then we get all users, and there is no direct ordering relationship between post and authors, as we are passing through comments.

With all that said, I think #2524 is enough to address this and it wil

[2018-06-03 11:36] #2550 closed

[2018-06-03 12:15] #2392 closed

[2018-06-05 13:06] namxam opened #2576 "Custom Type: load/1 not called for null values"
### Environment

* Elixir version (elixir -v): Elixir 1.6.4 (compiled with OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 10.2
* Ecto version (mix deps): 2.2.8
* Database adapter and version (mix deps): postgrex, 0.13.4
* Operating system: MacOS

### Current behavior

I have defined a schema with a custom type like this:
[code]

The database column allows null value

[2018-06-05 13:41] josevalim commented on #2576
@namxam Yes, `nil` are always bypassed and never given to the type, since most types do not care about `nil` and this seems to be a corner case.

Unfortunately I am afraid we can't do this change, as it would basically break all of the existing types, as they will suddenly start receiving nils.

[2018-06-05 15:42] namxam commented on #2576
Too bad. Although it is a bit counterintuitive. I guess I have to find another way to get it working for me. To help others, I created a small PR with a note in load/1 documentation. Just in case you want it.

[2018-06-05 20:08] #2576 closed

[2018-06-05 22:26] wojtekmach opened #2579 "Remove compile-time dependency on many_to_many association"
### Environment

* Ecto version (mix deps): master

### Current behavior

[code]

![xref_graph](https://user-images.githubusercontent.com/76071/41005977-e8a06846-691f-11e8-80d2-982c3fd3de2a.png)

### Expected behavior

No compile-time dependency.

---

I haven't looked closely at the code yet, but as seen above other associations don't have this problem. Happy to explore this if it seems feasible.

[2018-06-05 23:01] josevalim commented on #2579
Please do take a look. :)
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-06-06 09:57] #2579 closed

[2018-06-07 01:57] DuriDuri commented on #1748
@silviurosu any luck with this?

[2018-06-07 05:36] Ivor commented on #1748
I've since discovered this post http://www.ubazu.com/using-postgres-jsonb-columns-in-ecto and the section there about searching by object has become my default way of querying JSONB. I have yet to find a case where it doesn't work and it is a lot more readable.

[2018-06-08 15:10] wojtekmach commented on #425
I took a stab at this and an [incomplete implementation](https://gist.github.com/wojtekmach/21082d88c9470b84630011a204b07045) was pretty easy but there's more to be done.

Here's what I got so far:

[code]

[code]

instead of having another callback on `Ecto.Type`, is it possible to leverage a convention that custom type defines `@type t()`? I couldn't leverage `Code.Typespec.fetch_specs` because

[2018-06-08 16:40] wojtekmach commented on #425
I've updated the gist with associations and embeds support, I think this is pretty close. Let me know if you'd re-consider having this in core! cc @josevalim @ericmj @michalmuskala

The approach that uses Code.Typespec to check if there's `@type t()` is unreliable, it doesn't work when compiling modules for the first time, so may need to improve that or go back to function callback.

[2018-06-08 18:10] josevalim commented on #425
The proper way to check if a type is defined is by using `Kernel.TypeSpec.defines_types?` but it is not public API, which I think is going to be a blocker for us to adopt this. :(

[2018-06-08 18:21] michalmuskala commented on #425
I think it might be actually fine to make it to always use `type_module.t()` for custom types. The worst that might do is make dialyzer complain about the type not being defined and treat it as `any`, which I think is fine in that case.

[2018-06-08 19:59] wojtekmach commented on #425
@michalmuskala yeah, I also thought about this but haven't mentioned it because it's a bit dirty to create not quite correct code :) but it's super pragmatic so I think that would be a good option. It's a niche use case but I've heard folks are generating docs for their echo schemas, so this way ex_doc could autolink to custom type module too which would be quite nice. (Even if remote type doesn't

[2018-06-08 20:42] josevalim commented on #425
@wojtekmach there are two APIs here: kernel.typespec and code.typespec, our plan is to make the latter public, because it works on compiled beams and is fairly standard. the first one though is what you need here and it is a bit more about the internals, so we are not quite sure what to do there.

[2018-06-08 21:34] wojtekmach commented on #425
@josevalim yup thanks! If we find a way to move forward, this should be helpful: https://github.com/elixir-ecto/ecto/compare/master...wojtekmach:wm-schema-typespecs. It follows Michał's suggestion.

I'm not sure if this is really needed, but we may want to allow overwriting the generated `@type t()` on the schema, which requires even more internals. There's a failing test about that on the branch.

[2018-06-11 14:30] lukaszsamson commented on #2547
@josevalim @wojtekmach the patch does not fix the original issue.
[code]
now crashes with
[code]
IMO we should handle it like we handle decimal parse errors, i.e. set changeset error `{"is invalid", [type: :decimal, validation: :cast]}`

[2018-06-11 14:50] wojtekmach commented on #2547
I think you're right, `cast(%{my_field: "NaN"}, ~w(my_field)a)` probably shouldn't crash on user input like that. FWIW I was going for an approach that will raise an error with a message that will tell users what to do next but yeah. I'll send a patch this week.

[2018-06-11 21:42] mojidabckuu opened #2586 "Customize NotFound"
### Current behavior

Ecto handles 404 for me and even if I try to get the data it assigns only message, but there is not way to understand which model is missing and make a custom message basing on this.

So in my `ErrorView` or catching mechanism I could get only
[code]

### Expected behavior
Ecto.NoResultsMessage and others contain module name/schema.
[code]

[2018-06-11 22:01] josevalim commented on #2586
Hi! If you feel like you need to customize for certain schemas, then the best is to use `one()` and pattern match on the result. We don't have a schema per se, since we are working with queries, and it may have multiple schemas or be query dependent.

[2018-06-11 22:01] #2586 closed

[2018-06-11 22:45] #2454 closed

[2018-06-11 23:19] thecodeboss opened #2587 "Custom types + "IN" queries fail"
### Environment

* Elixir version (elixir -v): Elixir 1.6.5 (OTP 20)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): N/A
* Ecto version (mix deps): 2.2.8 (a4463c09)
* Database adapter and version (mix deps): N/A
* Operating system: MacOS

### Current behavior

I have a custom `Ecto.Type` defined that is basically an enum:

[code]
and a schema defined something like this:
[code]

I can

[2018-06-11 23:23] thecodeboss commented on #2587
Actually scratch that. I wrote up this detailed explanation, but then found a typo in my list. The casting does, in fact, work for lists.

[2018-06-11 23:23] #2587 closed

[2018-06-12 13:32] beerlington commented on #2280
@josevalim can the new order_by directions (i.e. desc_nulls_last) be used with sorted distinct queries too?

I don't see anything in https://github.com/elixir-ecto/ecto/commit/0c216e00abbbe71dd9711df7b21b8ffe4ab1cc31 that explicitly addresses it, but I'm wondering about something like this for example:

[code]
I'm trying to do this now with fragments, but Ecto isn't removing the "NULLS LAST" part

[2018-06-12 13:35] josevalim commented on #2280
Definitely @beerlington! Could you please send a pull request? Please let me know if you have any questions!

[2018-06-12 13:36] wojtekmach commented on #2547
Fixed in #2585

[2018-06-12 13:39] josevalim commented on #2280
Actually, I did some tests and it seems this just works™! So I pushed two unit tests. We are good to go!

[2018-06-12 13:39] #2280 closed

[2018-06-12 13:40] #2547 closed

[2018-06-12 13:58] beerlington commented on #2280
@josevalim thank you for confirming! Is there any sort of workaround for the 2.2 branch or should I just fork my own branch and port over what I need from that commit?

[2018-06-12 14:20] beerlington commented on #2280
@josevalim that commit cherry picks almost perfectly into 2.2 so I'm just going to use a fork (assuming you don't want to back port that). Thanks!

[2018-06-12 14:30] josevalim commented on #2280
A branch is the way to go for now since we are not releasing new features in the v2 branch.

[2018-06-13 11:57] maxsalven opened #2588 "JSONB fragment"
### Environment

* Elixir version (elixir -v): 1.6.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 9.6.1
* Ecto version (mix deps): 2.1.6
* Database adapter and version (mix deps): 0.13.4
* Operating system: MacOS 10.12.4

### Current behavior

`workout.details` is a JSONB field with a shape like `{"movements": [{"id": 2}]}`

Interpolating by a fragment in a JSONB query fail

[2018-06-13 12:17] michalmuskala commented on #2588
You can't put value placeholders inside of strings in fragments. All the database will see is string with `?` (or `$n`) inside of it - it won't know it has to interpolate into that string.

A solution is to build the whole json value on the elixir side:
[code]