[2016-08-14 20:20] josevalim commented on #1610
@rranelli hrm, this is though because we don't want Ecto.DateTime (or any other type defined in a library) to be become MyApp.Ecto.DateTime but I understand why one would expect such to happen.

[2016-08-15 02:51] lukerollans commented on #1628
That makes sense, thanks for the reply 👍

[2016-08-16 10:01] edevil commented on #179
FTR, this is what I'm doing now:
[code]

Of course, it's still doing multiple inserts. It would be nice to have a straightforward way of taking a bunch of changesets that only touch one table and bulk-inserting them. Maybe validating the changesets and converting them to a list of changes that can be passed to insert_all?

[2016-08-16 19:21] aaronjensen opened #1630 "Dialyzer warnings with OTP 19"
Brand new phoenix app created with mix phoenix.new on OTP 19 has these warnings.

Here's a repro app: https://github.com/aaronjensen/dialyzer_repro

Irrelevant warnings are omitted. Originally reported at phoenixframework/phoenix#1872

[code]

[2016-08-17 14:02] michalmuskala opened #1632 "Add total_time to the LogEntry struct"
We should have an additional measurement in the query struct that includes as much of what ecto is doing as it's possible - translation of query struct into SQL, encoding of params, queuing, decoding, etc. The timer should start as soon as a `Repo` function is called and be stopped when it returns (ideally, in practice it can't be that, but we should be able to get close).

\cc @fishcakez

[2016-08-17 14:04] deadtrickster commented on #1632
Is it possible to also add LogEntry field for module that initiated query? I think it can be set when query macros expand.

[2016-08-17 20:44] phillipp commented on #521
I can't find anything about it in the docs, where is the usage documented?

[2016-08-18 00:37] bill-mybiz opened #1633 "ecto 2.0.4: cannot insert multiple commands into a prepared statement"
### Environment

* Elixir version (elixir -v): 1.3.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):  PostgreSQL 9.5.3 on x86_64-pc-linux-gnu, compiled by gcc (Debian 4.9.2-10) 4.9.2, 64-bit
* Ecto version (mix deps):
  * ecto 2.0.4 (Hex package) (mix)
    locked at 2.0.4 (ecto) 03fd3b9a
    ok

* Database adapter and version (mix deps):
  * postgrex 0.11.2 (Hex package) (mix)
    lock

[2016-08-19 01:24] luccasmaso commented on #932
If you came here from docker getting this error, remember to `docker-compose restart` your service (=

[2016-08-19 15:49] isaacsanders commented on #1466
Lack of generic support of datetimes/timestamps with time zones is a critical issue with Ecto. Adding such support would go a long way to lessen the list of issues we have with this library on my team.

[2016-08-19 15:54] lau commented on #1466
@isaacsanders have you seen [Calecto](https://github.com/lau/calecto)? It supports all the native Elixir 1.3 calendar types including `DateTime`s with timezones. You could use that until such features become built into Ecto.

[2016-08-19 16:01] isaacsanders commented on #1466
That would work for me, except that `Ecto.Adapters.SQL.query` transforms my timestamps with time zones into Ecto/erlang DateTime tuples without a timezone.

[2016-08-19 16:02] isaacsanders commented on #1466
There also doesn't appear to be a way around the transformation/corruption of my data by ecto.

[2016-08-19 16:22] lau commented on #1466
@isaacsanders which database do you use? I don't know any databases that natively support real time zones e.g. "America/New_York". For instance Postgres supports "naive datetimes" or UTC datetimes, but does not have a built in type for a datetime with a specific timezone. What Calecto does is use a composite type, which includes a sub-field with a timezone and a sub-field that is a datetime withou

[2016-08-19 16:25] isaacsanders commented on #1466
Postgres: https://www.postgresql.org/docs/current/static/datatype-datetime.html#DATATYPE-TIMEZONES

[2016-08-19 16:27] isaacsanders commented on #1466
There is also a type that exists in a "blessed" extension called timestamptz.

[2016-08-19 16:33] lau commented on #1466
@isaacsanders Yes, postgres does not save the timezone information in the database with those types. It can do some timezone conversion in queries, but the timezone information is not saved.

[2016-08-19 18:21] josevalim commented on #1466
If you have someone on your team willing to work on this issue or on
your list of issues, please let us know. We will be happy to give a hand or
provide guidance when required.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-08-19 22:16] josevalim commented on #1633
@bill-mybiz so the problem seems to be related to the comment. if you drop the comment, you should be good to go!

[2016-08-19 22:22] josevalim commented on #1633
@bill-mybiz I am currently revert the comments feature until we figure out how to make it work with prepared statements. So I would recommend you to drop `:comment` for now and rock on Ecto 2.0.4. :)

[2016-08-19 22:22] #1633 closed

[2016-08-19 22:28] #1630 closed

[2016-08-19 22:30] josevalim commented on #1215
I am closing this as it is up to adapters to migrate to Ecto 2.0. If I can be of any help to adapters, please ping me. :)

[2016-08-19 22:30] #1215 closed

[2016-08-19 22:32] josevalim commented on #1570
This is currently documented in the sandbox.

[2016-08-19 22:42] eniolopes commented on #1633
@josevalim can I help with this? This seems to be related to https://www.postgresql.org/docs/9.2/static/sql-prepare.html, I don't remember seeing it on our source code, `execute_ddl` uses prepared statements? A possible solution would be to have a query run subsequently for adding the comments to the table.

[2016-08-19 22:43] josevalim commented on #1633
@eniolopes i was just pinging you in the other issue. :) I am not sure what is the best way to solve this... maybe wrapping in being/end would help? for example, we do it for some of the migrations. Adding an integration test (basically adding comments to one of the migrations in integration_test) would help us catch those as well. :)

[2016-08-19 22:48] ericmj commented on #521
This is the module to use to run migrations manually https://hexdocs.pm/ecto/Ecto.Migrator.html.

[2016-08-19 22:55] chrismccord opened #1638 "Support `@primary_key false` in embedded schemas"
As discussed with @michalmuskala, we should remove the primary key requirement on embedded schemas. I think having it as the default can remain and would allow this to be a forwards compatible change. The issue with the current behavior is for drivers like postgres, having an auto generated primary key on the embedded schema is mostly like pointless data for the majority of users, so it would be n

[2016-08-19 22:59] josevalim commented on #1638
I am fine with removing the requirement but keep it in mind we needs IDs if you want to track changes using put_assoc/put_embed in changesets. Otherwise it is hard for us to know how the data in the DB maps to the one sent by the user.

[2016-08-19 23:04] eniolopes commented on #1633
@josevalim Sounds good, will take a look at that, this weekend will be working on this an the other issues, expect PRs :)

[2016-08-19 23:35] bill-mybiz commented on #1633
@josevalim Awesome! Removing the comment got the migration up and going. Thanks for the quick diagnosticatin'!

[2016-08-20 02:01] fishcakez commented on #1570
Only deadlocking is mentioned.

[2016-08-22 20:42] fishcakez commented on #1608
This is still happening and appears to only occur when mysql tests take approximate twice the normal time. Likely in that scenario the pool queue time is very slow and so overload protection would naturally kick in. Are we just getting unlucky with travis containers or should we investiagte mariaex? Shall we disable overload protection for mysql tests? All tests? Always?

[2016-08-22 21:22] karlseguin commented on #1284
Running into the same issue. Your last comment isn't clear to me. It seems like a more appropriate example of composition would be:

[code]

which won't work. Knowing nothing about how Ecto works, my "solution" would involve allowing binding names to be meaningful and thus emulating SQL alias. Then you could pass the alias to the composition and somehow use it there.

[2016-08-23 00:07] josevalim commented on #1608
@fishcakez should we include timeout values? If we increase timeout values and they continue happening, then I think we should investigate.

[2016-08-23 16:20] yolk opened #1640 "Suboptimal SQL generated by Ecto.assoc"
### Environment

* Elixir version (elixir -v): 1.3.2
* Database and version: PostgreSQL 9.5
* Ecto version (mix deps): master/HEAD
* Database adapter and version: postgrex 0.11.2
* Operating system: Debian 8 & OS X 10.11

### Current behavior

I noticed a performance regression between:

    Ecto.assoc(parent, :children) |> order_by(asc: :name) |> Repo.all

and

    Child |> where(parent_id: ^1) |

[2016-08-23 16:26] josevalim commented on #1640
Can you send a PR? I agree it makes sense to optimize in this case. The
reason we use ANY is because we can cache and prepare the query.

On Tuesday, August 23, 2016, Sebastian Munz <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-23 16:55] yolk commented on #1640
Wow! Always amazed about your quick replies!

Can do. But what code change would you prefer? The described methods added to `Ecto.Association.Has` and `Ecto.Association.BelongsTo`?

[2016-08-23 16:56] josevalim commented on #1640
Yes!

[2016-08-23 17:02] #1640 closed

[2016-08-24 03:02] wm opened #1645 "Update documentation to include port"
I spent a long time debugging a simple environment issue on my end. Basically postgres was running on a non-standard port (15432). I might have figured out why my db connections were failing sooner if it was not for the fact that `mix ecto.create` worked.

Because `create` works I did not think that my db config was at fault.

I am opening the issue here to suggest adding `host: "localhost",` and

[2016-08-24 11:46] angelikatyborska opened #1646 "Using timestamps(updated_at: false) in a migration does not stop Ecto from adding this column to the table"
### Environment

* Elixir version: 1.3.2
* Database and version: PostgreSQL 9.5.3
* Ecto version (mix deps): 2.0.4
* Database adapter and version (mix deps): Postgrex 0.11.2
* Operating system: OS X 10.11.6

### Current behavior

Having defined this migration:

[code]

When I run `mix ecto.create &&  mix ecto.migrate`, a table with both `created_at` and `updated_at` columns gets created:

[code]

[2016-08-24 12:28] ok-madan opened #1647 "Ecto is not supporting local languages while inserting into Mysql"
### Precheck

I am trying to insert one indian language string into mysql database using Repo.insert, but in database that value of that column showing like ???????????????

while creating database in mysql i am using ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci; for unicode support, and inside elixir model i am using column type as string( field :displayname, :string )

I am not sur

[2016-08-24 13:57] michalmuskala commented on #1646
The migration `timestamps` macro does not support disabling fields in this way, it's not documented that it does: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/migration.ex#L626-L637

That said, I believe we should follow the rule of least surprise and have feature parity between migrations and schemas. In order to do that we need two things:
* allow passing `false` to disable a timesta

[2016-08-24 15:30] ericmj commented on #1647
This seems like an issue with mysql or the elixir driver mariaex. Ecto just passes the utf8 strings along to the driver.

[2016-08-24 15:57] josevalim commented on #1647
@ok-madan yes, please file an issue on https://github.com/xerions/mariaex. Please include the mariaex version (it can be found in `mix deps`) and some sample commands in your report.

[2016-08-24 15:57] #1647 closed

[2016-08-24 16:07] ok-madan commented on #1647
@ericmj , @josevalim  Thanks for quick response and clarified my issue, i will create issue at mariaex repo.

[2016-08-25 03:27] josevalim commented on #1645
@wm agreed! Can you please send a PR to the getting started guide and the README? Thank you!

[2016-08-25 07:26] bgeihsgt opened #1648 "Fields that default to empty string have unexpected behavior"
### Environment

* Elixir version (elixir -v): 1.3.2
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5
* Ecto version (mix deps): 2.04
* Database adapter and version (mix deps):
* Operating system: OS X

### Current behavior

The commit for `empty_values` (https://github.com/elixir-ecto/ecto/commit/af26b32854dce236cffc7e36ad0b9acad89969b7) has caused some unexpected behavi

[2016-08-25 15:30] josevalim opened #1649 "Do not require associations to be wrapped in changesets"
See comments here: http://blog.roundingpegs.com/an-example-of-many-to-many-associations-in-ecto-and-phoenix/

[2016-08-25 15:53] josevalim commented on #1648
Good catch, this is a bug. We will fix it and release a new version. :)

[2016-08-25 16:43] bgeihsgt commented on #1648
Thanks José!

On Thu, Aug 25, 2016 at 8:53 AM, José Valim <notifications@github.com>
wrote:

[2016-08-25 17:03] facto commented on #1648
@josevalim just making sure... was that commit supposed to close #1649 instead? This doesn't seem related at first glance.

[2016-08-25 17:27] michalmuskala commented on #1648
Yeah, this looks like an error, I'm going to open this back.

[2016-08-25 17:27] michalmuskala commented on #1649
Closed by https://github.com/elixir-ecto/ecto/commit/16d99ed8a98d16c0a4d542cb2d0261d32d8d5ae7

[2016-08-25 17:27] #1649 closed

[2016-08-25 17:34] josevalim commented on #1648
Yup, my bad!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-08-25 17:35] rranelli commented on #1648
I've had to fix some validations when updating to ecto 2.0 because of this issue. Not a big deal, but I was surprised by the new behaviour.

[2016-08-25 17:49] miskolc opened #1651 "`validate_required` validations seem to be run only once per changeset pipeline"
### Environment

* Elixir version 1.3.2
* PostgreSQL 9.4
* Ecto version 2.0.3
* Database adapter and version (mix deps):
postgrex 0.11.2
phoenix_ecto 3.0.1
* Operating system:
Ubuntu

### Current behavior
I'm creating a `slug` based on the record's `name` field
[code]

The `put_slug` method assumes that if it was reached the validation of the name column succeded therefore I can use the `name` to

[2016-08-25 17:56] jakegavin opened #1652 "empty_values docs clarification"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
    * This might be considered a support request - sorry if that's how it reads. I talked to some guys on IRC who suggested opening an issue after we couldn't figure out the best way to set `empty_values`

### Environment

* Elixir version (elixir -v): 1.3.2
* Database and ve

[2016-08-25 18:24] michalmuskala commented on #1651
`validate_required` will add an error to the changeset on errors - it won't stop the pipeline. You can check in your `put_slug` function if the changeset is valid at this point, or handle the empty case like you showed.

[2016-08-25 18:24] #1651 closed

[2016-08-25 23:27] josevalim commented on #1652
Yes, we plan to provide an official API but it first requires us to deprecate the existing cast/4 API. It is coming soon, so please hang on tight. :)

[2016-08-25 23:27] #1652 closed

[2016-08-26 17:06] #1646 closed

[2016-08-26 17:46] wm commented on #1645
ok, done: https://github.com/elixir-ecto/ecto/pull/1656

[2016-08-26 17:46] #1645 closed

[2016-08-27 03:45] andys commented on #1375
This would also be really useful for creating an Elasticsearch adapter

[2016-08-27 12:45] madshargreave opened #1658 "disconnected: ** (DBConnection.ConnectionError) client #PID<0.368.0> timed out because it checked out the connection for longer than 15000ms"
Environment

Elixir: 1.2.1
PostgreSQL 9.4
Ecto: 2.0.0-rc.6
OS: OSX

I have some long running queries that aggregate data into a separate table for certain specific analytics

However I am getting hit by

`disconnected: ** (DBConnection.ConnectionError) client #PID<0.368.0> timed out because it checked out the connection for longer than 15000ms`

Is there a way to lift this restriction?

[2016-08-27 13:42] josevalim commented on #1658
Yes, increase the timeout value. It can be done in your repo configuration
or when calling the repository. There are two configurations: :timeout and
:pool_timeout.

On Saturday, August 27, 2016, Mads Hargreave <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-27 14:02] #1658 closed

[2016-08-27 14:55] madshargreave commented on #1658
Is it also possible when executing raw SQL through the `Ecto.Adapters.SQL.query` function?

[2016-08-27 15:19] josevalim commented on #1658
@madshargreave yes, in the fourth argument. :)

[2016-08-28 22:52] #1648 closed

[2016-08-28 22:52] josevalim commented on #1648
@bgeihsgt can you please try master out and let me know if it works as expected? Thank you!

[2016-08-29 21:56] stavro opened #1660 "Inconsistency with casting `nil` values"
### Environment

* Elixir version (elixir -v): 1.3.0
* Ecto version (mix deps): 2.0.4
* Operating system: OS X

### Current behavior

I typically treat `nil` as I would any other non-nil value: An intentional value rather than something to be discarded.  This behavior I found rather surprising:

[code]

### Expected behavior

I would expect casting a `nil` value to a changeset to override any chan

[2016-08-29 23:08] jbhatab commented on #389
@josevalim Will it ever be possible to go the route @briksoftware mentioned of defining multiple columns that the belongs to works for? The code I'm looking at right now to replicate rails 'public_activity' gem, https://github.com/chaps-io/public_activity, is looking pretty rugged no matter which way I spin this.

Any advice on something like this because I don't see a clean path with the current

[2016-08-29 23:56] josevalim commented on #1660
Perfect bug report. Thank you. We should fix and do a new release soon!

On Monday, August 29, 2016, Sean Stavropoulos <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-30 00:04] josevalim commented on #389
We support multiple sources in Ecto:

    belongs_to :manager, {"post_managers", PostManager}

I believe the docs were updates with this example. If not, a PR is welcome!

On Monday, August 29, 2016, Blaine Hatab <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-08-30 03:53] #1660 closed

[2016-08-30 16:13] bgeihsgt commented on #1648
Worked like a charm, thanks @josevalim!

[2016-08-30 19:22] kacperix opened #1661 "validate_number for decimal raises: no function clause matching in Decimal.compare/2"
### Environment

* Elixir version: 1.3.2
* Database and version: PostgreSQL 9.5.4
* Ecto version: 2.0.4
* Database adapter and version (mix dips): postgrex 0.11.2
* Operating system: OS X (10.11.6)

### Current behavior

One of the form fields is amount where user can put decimal value, e.g. 2.5.
In model changset defines `validate_number` function with `greater_than` option set to `0`.
Whatever v

[2016-08-30 22:09] shhavel commented on #1661
@kacperix I think for decimal field validation should look like:

[code]

Thanks

[2016-08-31 14:41] michalmuskala commented on #1661
Closed via https://github.com/elixir-ecto/ecto/pull/1663

[2016-08-31 14:41] #1661 closed

[2016-08-31 18:11] isaacsanders opened #1664 "BUG: Overwriting Prefixes"
### Environment

* Elixir version (elixir -v): Elixir 1.3.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5
* Ecto version (mix deps): 2.0.4
* Database adapter and version (mix deps): postgrex 0.11.2
* Operating system: Mac OS X El Capitan

### Current behavior

When using `%{ query | prefix: "prefix" }`, the prefix given in this form is used for all other parts of the q

[2016-08-31 22:29] josevalim commented on #1664
Today the prefixes are per query. So when you change the prefix, it changes the whole query. So it is not quite a bug but rather a feature that has not been implemented yet as you cannot apply prefixes to joins. The `{"prefix", "table_name"}` is not supported, there is `{"source", MySchema}` which is used by something else.

We currently have no plans to support prefixes per joins but, if someone

[2016-08-31 22:29] #1664 closed

[2016-09-01 03:23] jfrolich commented on #1621
Any progress yet? Anywhere I can help out?

[2016-09-02 17:40] isaacsanders commented on #1664
Is there a related feature "issue" that one could follow?

[2016-09-02 17:44] josevalim commented on #1664
There is no related issue because it is not something we plan to tackle. So
unless someone is interested in picking it up, we won't open an issue.

We are currently overloaded with feature requests but few contributions, so
I plan to close other feature requests that nobody is working on (and we
don't plan to) relatively soon.

On Friday, September 2, 2016, Isaac Sanders <notifications@github.com>

[2016-09-02 22:19] michalmuskala commented on #1107
@josevalim I was looking into this, and I'm not sure what you meant by a field "not being used". Could you clarify that?

I still thing it would be totally ok, to raise if you give a field that does not exist in the schema to `validate_change/3`.

[2016-09-02 23:29] michalmuskala commented on #1579
Closed by https://github.com/elixir-ecto/ecto/commit/0ea701ca6df04026a84c8a4f9a91b42bd2b97196

[2016-09-02 23:29] #1579 closed

[2016-09-03 21:06] eniolopes commented on #1633
@josevalim I'm looking into getting this to work with prepared statements, and as far as I understood, every query is being prepared and so if there is more than one statement per query, which is the case for adding comments, it will fail.

Question is, do we need to use prepared statements for migration queries? It might not make sense to use them for migrations, if this is the case we just need

[2016-09-03 21:10] fishcakez commented on #1633
@eniolopes postgrex only supports prepared queries

[2016-09-03 21:27] eniolopes commented on #1633
@fishcakez thanks for clarifying that.

If we want to support this, we will need to override [this](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/sql.ex#L128-L132) on the postgres adapter to support execution of multiple queries.

Basically allow `execute_ddl/1` to return a list of queries to be executed.

[2016-09-05 11:59] josevalim commented on #1633
@eniolopes we can certainly do the execute_ddl change. :) As a matter of fact, it is how it worked before, but we removed it because none of the adapters used it. See this commit: d4a9f50812153c2ecbc67e6dcf996440343a9969

[2016-09-05 12:01] josevalim commented on #1633
@eniolopes so I am guessing we can revert the commit above. Revert the revert commit (where we reverted the comment feature), change it to use lists, and add an integration test. Wdyt?

[2016-09-05 12:03] fishcakez commented on #1633
@fire does the suggested fix help with your snappydata issue (sorry I forget the details)?

[2016-09-05 12:16] josevalim commented on #1107
But that's not the issue here right? The field exists in the schema... but it was not cast as a change. And that's OK... specially if you have validations being shared by two different cast/2 calls. The best we can do is log, I would't raise.

[2016-09-05 13:54] michalmuskala commented on #1107
The initial issue I reported is validation used on a field that was never casted - it doesn't matter if it exists in the schema. So the problematic thing is:

[code]

The validation function will never run, thus it's safe to raise - the call is either useless and can be removed, or erroneous and should be corrected.

[2016-09-05 13:56] josevalim commented on #1107
I disagree. The current code allows two changeset functions to share a validation path even if they don't share all of validations. Maybe we want to do this change anyway, I am just pointing out there is a scenario where the current code is valid and that's why we should start with at least a warning.

[2016-09-05 18:52] teamon opened #1669 "Can't overwrite ORDER when using distinct"
### Environment

* Elixir version (elixir -v): Elixir 1.3.2
* Database and version: PostgreSQL 9.5.4
* Ecto version (mix deps): 2.0.3 and 042aa92c62883572917477b2acaad3297590775c (master)
* Database adapter and version (mix deps): postgrex 0.11.2
* Operating system: Mac OS X 10.11.5

### Current behavior
When using `distinct` and `order_by` fields listed in DISTINCT part
correctly show up in ORDER

[2016-09-05 18:57] michalmuskala commented on #1107
I see your point. So maybe we should limit ourselves to situations when the field is not in changes and not in the schema?

[2016-09-05 19:04] smoku commented on #1669
Adding order_by on default when using distinct is a very bad idea. There is no possible way to change the order to descending. Maybe add it ONLY when there is no other order by. I also see no point in adding it automatically since postgresql will provide a proper message for this error. Better be explicit and avoid any magic, especially when you can't overwrite it.

Pull request that changed it:
h

[2016-09-05 19:13] josevalim commented on #1669
Yes, I agree. We can change this for 2.1.

[2016-09-05 19:20] josevalim commented on #1669
Alternatively we should support :asc and :desc inside distinct, since the fields given to distinct need to be the first in order_by anyway.

[2016-09-05 19:25] teamon commented on #1669
If you want to make it even smarter, I'd suggest something like this:

[code]

Not sure though if the last one isn't too much magic.

[2016-09-05 19:34] josevalim commented on #1669
The problem is that the order in order by matters (although not in distinct). So our options is to make it behave exactly as in order_by, keeping distinct with higher priority, or force users to do it manually.

[2016-09-05 19:50] teamon commented on #1284
My two cents (this has been causing me lots of trouble recently)

Have you considered some variation of the following syntax:

[code]
? That way we could always explicitly say what table we are interested in.

[2016-09-05 19:53] michalmuskala commented on #1284
The problem with such solution is - what if we join twice on the same table. It's a completely reasonable thing to do. The table name is completely ambiguous in that case. Another issue is that we loose backwards compatibility.

[2016-09-05 19:58] teamon commented on #1284
Regarding compatibility - afaik you can't use a map as binding right now, so all previous code should just work fine
Regarding multiple joins - right.. :/

[2016-09-05 20:00] fire commented on #1633
Will take a look later today.

[2016-09-05 21:37] smoku commented on #1284
@iwarshak thanks for creating this issue. Right now we are in the process of migrating Ruby/Rails application to Elixir/Phoenix (with Ecto of course). We are also having a similar problem and it's very serious in our use case. In every resource we have a querable named visible_by that is responsible for access control and we use it everywhere we are getting data from Repo to avoid any data leakage

[2016-09-05 22:55] #1610 closed

[2016-09-05 23:34] #1627 closed

[2016-09-06 01:57] eniolopes commented on #1633
@josevalim sounds good, will do it!

[2016-09-06 08:54] smoku commented on #1669
@josevalim the fields given to distinct don't need to be in order by. It's the opposite, fields used in order by need to be in distinct.

This is a correct query, there is no need to order by ID:
`
SELECT DISTINCT ON (p.id, p.created_at) p.* FROM "posts" AS p ORDER BY p.created_at
`

btw. thanks for your great work on Elixir and the whole ecosystem, we are migrating whole company from Ruby/Rails a

[2016-09-06 09:09] michalmuskala commented on #1669
Fields used in DISTINCT ON do need to be in ORDER BY, it's specified in the [postgres docs](https://www.postgresql.org/docs/9.5/static/sql-select.html#SQL-DISTINCT):

[2016-09-07 10:00] Gazler opened #1673 "Ecto.Changeset.traverse_errors fails without types key"
### Environment

* Ecto version (mix deps): 2.0.2

### Current behavior

When manually generating a changeset with an error, the errors can't be traversed.

[code]

This can be fixed by setting the types on the changeset:

[code]

An example use case is converting an error such as `{:error, :not_found}` to a format that is expected by the view.

cc @michalmuskala

[2016-09-07 10:54] josevalim commented on #1673
Dear @gazler, you are not supposed to create a changeset by hand. :) You need to call `Ecto.Changeset.change({data, types})` or `Ecto.Changeset.change(struct)` before.

[2016-09-07 11:00] Gazler commented on #1673
@josevalim This is true, I can do:

[code]

I forgot to mention that @michalmuskala and I discussed making the error better. Perhaps we should also update the Changeset moduledoc to advise against manually creating a changeset.

If possible, the error should also advise against creating a changeset by hand.

[2016-09-07 12:16] josevalim opened #1675 "Support :prefix option through the Repo API"
As it is already supported in Repo.preload.

[2016-09-07 12:42] #1375 closed

[2016-09-07 12:42] #1621 closed

[2016-09-07 17:26] josevalim commented on #1284
I think using the names is a sensible idea although we will need to raise if you attempt to use duplicates.

[2016-09-07 17:43] michalmuskala commented on #1284
I was thinking about this as well, and I see how we could use the names. Instead of table names, I would rather use the names given in bindings, e.g. `x` when you do `join: x in Foo`. Storing those in a map instead of a list would allow us to easily pattern match the bindings. If we additionally record the names in a list we would be able to convert list-style bindings into map style ones.

The on

[2016-09-07 17:48] josevalim commented on #1284
@michalmuskala we can raise only if the named binding is used. :)

[2016-09-07 17:48] #1387 closed

[2016-09-07 17:49] josevalim commented on #1457
Yes, @ericmj has said it correctly. We can't make it work with tuples as we don't know how to encode them.

[2016-09-07 17:49] #1457 closed

[2016-09-07 17:51] teamon commented on #1284
@michalmuskala I'm not sure if I got it correctly but:

[code]

this would not match (`x` vs `c`) right? With that in mind I think table names work better.

[2016-09-07 17:53] josevalim commented on #1485
@mspanc i am closing this for now since we have solved your problem and I am hoping the addition of `or` to the query will allow us to handle the majority of the cases. If someone still needs this feature, please let us know.

[2016-09-07 17:53] #1485 closed

[2016-09-07 17:58] josevalim commented on #1632
This is actually quite tricky to do because it would require changing the adapter to receive the total time, since we want to consider what is happening at the repo level. It is also more work for us to do and the current instrumentation already tackles the hot paths.

[2016-09-07 17:58] #1632 closed

[2016-09-07 19:48] parkerl commented on #1284
I am missing something...with this solution instead of remembering how many bindings there are between composing functions, I have to remember the name I gave the binding between functions? Could someone translate the original example above into what this new syntax might look like? Sorry, I'm a bit slow.

IMHO, this is a fairly common use case. A solution that did not allow for this would seem a

[2016-09-07 19:53] josevalim commented on #1284
[code]

You would give different names to your bindings.

[2016-09-07 20:10] overallduka opened #1676 "Share database with Rails - cannot load `"string"` as type :integer"
Hello guys, im doing an phoenix app that should use and rails database, all my problem can be described and solved here:
http://blog.isnorcreative.com/2015/08/29/rails-and-phoenix-ecto-sharing-a-datadatabase.html

Well i know that has an solution above, but does not have an simple solution without needed rename tables ? the exactly error im seeing right now is:
[code]

There is anything that i can

[2016-09-07 20:36] michalmuskala commented on #1676
It looks like you're trying to run ecto migrations on a rails database. The migrations protocols are not compatible, you need to choose one side for doing migrations.

[2016-09-07 20:36] #1676 closed

[2016-09-07 21:36] geofflane opened #1677 "Support subquery with aggregate in select clause"
Subquery's don't seem to support aggregates in the select clauses. This kind of query allows you to do an inner join across a subquery to find the minimum in some group.

e.g.:
[code]

Causes an error:
```** (Ecto.QueryError) subquery can only select sources (t) or fields (t.field), got: `min(&1.sequence())` in query:```

I would expect a subquery to allow you to return aggregates to use in join c

[2016-09-08 00:10] stavro opened #1678 "Cannot bind variables within `on` clause of query joins"
### Environment

* Elixir version:  1.3.0
* Database and version: Postgres 9.5
* Ecto version: 2.0.5
* Database adapter and version:  Postgrex v0.12
* Operating system: OS X

### Current behavior

Variables cannot be bound in the `on` clause of an Ecto.Query join:

[code]

Error:

[code]

### Expected behavior

A successful query (:happy panda:), or a better error message (:sad panda:).

I know we

[2016-09-08 07:25] josevalim commented on #1416
Duplicate of #1616 (the error and the solution are the same).

[2016-09-08 07:25] #1416 closed

[2016-09-08 07:25] josevalim commented on #1677
Duplicate of #1616 (the error and the solution are the same).

[2016-09-08 07:25] #1677 closed

[2016-09-08 10:04] #1616 closed

[2016-09-08 11:47] josevalim commented on #1479
Unfortunately implementing this is way trickier than expected if we want to allow the bindings in the parent query to be accessed from the subquery. For now, the best solution for this will be to use fragments still.

[2016-09-08 13:41] josevalim commented on #1618
@Troush ping.

[2016-09-08 13:42] #1272 closed

[2016-09-08 15:00] #1570 closed

[2016-09-08 15:30] #1678 closed

[2016-09-08 17:07] fishcakez commented on #1608
Seems like suddenly queue time goes almost immediate to slow. Can see client drop probability rise near slow (above target) queue (search for `drop`) https://api.travis-ci.org/jobs/158505351/log.txt?deansi=true. A persistent queue time of 645ms (as in the log) should result in drops but only once allowance has been used up. Needs further investigation to see if allowance has been used up or if the

[2016-09-08 17:07] #1673 closed

[2016-09-08 17:23] josevalim commented on #1618
Given that supporting this will add a lot of code complexity for little gain, I have improved the error message to make clear that `^` must be added to the outermost preload. Thank you!

[2016-09-08 17:23] #1618 closed

[2016-09-08 17:59] stavro commented on #1678
You're amazing.

❤️

[2016-09-08 19:47] potz commented on #1355
I experienced I the same problem recently, and it turned out I had  `MIX_ENV` set to `prod` in the environment. So `MIX_ENV=test mix test` solved this issue for me in this particular instance.

[2016-09-09 13:00] #1638 closed

[2016-09-09 13:03] chrismccord commented on #1638
😻 😻 😻

[2016-09-09 15:29] #1669 closed

[2016-09-09 15:49] AndrewDryga opened #1679 "Support {:system, ENV_NAME, default} tuples"
I think this will remove duplication in config.exs/prod.exs by letting set environment variables and safely fallback to defaults on development environment.

[2016-09-09 15:57] josevalim commented on #1679
@AndrewDryga we have no plans in adding more features related to this part of the codebase. The tuple is already a hack related to releases and we plan to work towards removing it rather than adding more. :)

[2016-09-09 15:57] #1679 closed

[2016-09-09 18:21] #1675 closed

[2016-09-09 18:29] josevalim opened #1680 "Add on_replace: :update tests to embedded_test and embedded_no_pk_test"
/cc @eniolopes

[2016-09-09 19:32] AndrewDryga commented on #1679
What is your current plans on fixing this? Maybe I would know about new best practice :)

[2016-09-09 20:23] eniolopes commented on #1680
:+1:

[2016-09-09 21:13] josevalim commented on #1679
No solid plans for now besides eventually including releases in Elixir. Maybe @bitwalker has something in mind in distillery right now.

[2016-09-09 21:29] bitwalker commented on #1679
Other than the `{:system, "VAR"}` tuple, you can use `REPLACE_OS_VARS=true` in conjunction with `some_setting: "$VAR_NAME"` in your `prod.exs` when running releases built with distillery, and `$VAR_NAME` will be replaced with the value of that variable in the environment.  The behaviour of `REPLACE_OS_VARS=true` could be automated when the presence of `System.get_env/1` calls are found in `config.

[2016-09-10 04:53] denispeplin opened #1681 "Incosistency between Getting Started guide and ecto.gen.repo generator"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2016-09-10 10:02] josevalim commented on #1681
supervisor is correct. Thank you, fixed in master!

[2016-09-10 10:02] #1681 closed

[2016-09-10 10:56] AndrewDryga commented on #1679
Actually I already use `REPLACE_OS_VARS`. It's me, that guy that asks many questions about environment variables in distillery repo :).

[2016-09-10 10:58] AndrewDryga commented on #1679
I just think that it's ugly to mix different declarations in a single config file, we have `{:system, ..}` tuples and `"${ENV_NAME}"` strings that gets replaced only for ECTO.

[2016-09-11 09:05] Troush commented on #1618
@josevalim Sorry, totally forget about me taking this issue. My bad :(

[2016-09-12 08:35] josevalim commented on #1590
@michalmuskala I am worried about adding a `Ecto.Schema.load/3` because that will be added to the user schema. Maybe we should define `__load__/2` in every schema instead?

[2016-09-12 09:00] #1539 closed

[2016-09-12 20:23] alex88 commented on #1592
Having the same issue, but from a query without a schema, is there a way to specify a resulting schema for a query?

[2016-09-13 00:28] stavro opened #1684 "Casting empty strings is broken"
### Environment

* Elixir version: 1.3.0
* Ecto version: **latest@master** (currently ref: `5222d528879c2671daa7230f275bed3818a51278`)
* Operating system: OS X

### Current behavior

An empty string and `nil` are not equivalent, however Ecto currently silently transforms empty strings into `nil`.

[code]

### Expected behavior

There should be no changes in `changeset_1`, and the result should be

[2016-09-13 06:55] josevalim commented on #1684
@stavro Ecto 2.0 introduced something called :empty_values where some values are automatically cast to their default value. For example, if you set `field :name, :string, default: ""`, the value should then always be cast to an empty string when an empty value is found.

[2016-09-13 06:55] #1684 closed

[2016-09-13 07:20] KeeperB5 opened #1685 "Support databases written in Erlang"
It would be nice if Ecto had support for databases written in Erlang.

- [CouchDB](http://couchdb.apache.org/) (CouchDB is not dead, 2.0 will be released any day now.)
- [CouchBase](http://www.couchbase.com/)
- [Mnesia](http://erlang.org/doc/man/mnesia.html)
- [Riak](http://basho.com/products/)

All of these promote reliability and scalability. Exactly what all other Erlang-based solutions, includ

[2016-09-13 07:40] josevalim commented on #1685
Yes please! Anyone is free to implement adapters to any database they want to. :)

[2016-09-13 07:40] #1685 closed

[2016-09-13 08:29] dmorneau opened #1686 "Join Schema Example does not compile"
### Environment

Elixir 1.3.2, ecto 2.0.5

### Current behavior

The "Join Schema" example in the doc here does not compile under ecto 2.0.5: https://hexdocs.pm/ecto/Ecto.Schema.html

There's two problems:
* `undefined function cast/3`
* `many_to_many :organizations associations require the :join_through option to be given and it must be an atom (representing a schema) or a string (representing a

[2016-09-13 09:29] josevalim commented on #1686
Thank you. I have fixed it locally and I will push soon.

On Tuesday, September 13, 2016, Dominic Morneau <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-13 09:34] dmorneau commented on #1686
Thank you!

[2016-09-13 12:51] alesasnouski commented on #1526
@atsheehan , thank you for your tests, they were awesome :+1: BTW, could you please review my PR? I had all green tests on my local dev env, but trunk now is broken and postgres version is 9.4 (upsert requires 9.5 or higher).

[2016-09-13 13:35] olafura commented on #1592
Hi @alex88 I'll have to find time to try to replicate or look better into it, specially making the error message better. But I would follow what ericmj advised if you aren't selecting specific fields.

[2016-09-13 15:00] alex88 commented on #1592
@olafura in my case, the query is something like

[code]

The s2 table returns the whole fields of a schema (e.g. User), but there is no way to tell ecto that the resulting s2 is a User, so I have to:

[code]

which is bad for performance and useless if there would be a way to declare the resulting schema

[2016-09-13 17:21] #1686 closed

[2016-09-13 18:33] josevalim commented on #1592
See #1590 which will allow you to load the data later on. We could also support `struct(u, [:foo, :bar, :baz], MyModule)` but I'd prefer to get started with #1590 for now.

[2016-09-13 18:33] josevalim commented on #1590
We probably need `load(schema, map)` as well.

[2016-09-13 19:20] alex88 commented on #1592
@josevalim or even `struct(u, MyModule)` if there are all the columns since the module contains the column names

[2016-09-14 00:15] aaronjensen opened #1688 "More dialyzer warnings on OTP 19"
Same repro updated for ecto 2.0.5:

https://github.com/aaronjensen/dialyzer_repro

[code]

Also a bonus when when you try to call `changeset/2`:

[code]

[2016-09-14 00:39] aaronjensen commented on #1688
The bonus one can be fixed by changing `Schema.t` to `struct`. I'm not sure how to fix the others just yet.

[2016-09-14 07:33] ericmj commented on #1590
`Ecto.load(schema, map | keyword)` seems better. It solves the import problem and is a parallel to `Kernel.struct/2`.

[2016-09-14 08:12] josevalim commented on #1590
@ericmj Sounds good to me!

[2016-09-14 08:21] josevalim commented on #1688
@aaronjensen thank you! I think both should be fixed by the Schema change, is it correct?

[2016-09-14 09:05] josevalim commented on #1680
@eniolopes just to confirm, will you send a PR or should we add those ones? :)

[2016-09-14 09:08] josevalim commented on #1284
I have pushed a series of commits that add last binding match with `...`. So now you can write a query like this:

[code]

In the example above, you know that post is the first binding and that the author is the last one, so you can use `...` to ignore what is in the middle (which may be nothing or many). I have updated the docs and everything else.

I would like to try this approach for now and,

[2016-09-14 10:32] #1284 closed

[2016-09-14 11:49] teamon commented on #1284
@josevalim Thanks! We will definitely try it out in our codebase :)

[2016-09-14 13:20] aaronjensen commented on #1688
@josevalim unfortunately no. I'm not sure why.

[2016-09-14 14:08] aaronjensen commented on #1688
Scratch that, it was a plt issue. `mix dialyzer.plt` did not pick up the change to `Changeset.t` for some reason. I had to blow away my plt and start from scratch.

I think this is fixed!

[2016-09-14 14:08] #1688 closed

[2016-09-14 16:10] eniolopes commented on #1680
I can add it if you guys can wait until the weekend 

On Wed, Sep 14, 2016 at 02:05 "José Valim"

<
mailto:

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/eniolopes
just to confirm, will you send a PR or should we add those ones? :)

—

You are receiving this because you were mentioned.

Reply to this email directly,
https://github.com/elixir-ecto/ecto/issues

[2016-09-14 16:12] josevalim commented on #1680
Yup, we can definitely wait!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-09-14 19:02] josevalim commented on #1466
This is in master. We have introduced four types: date, time, naive_datetime and utc_datetime. They map respectively to Date, Time, NaiveDateTime and DateTime with time_zone set to "Etc/UTC".

For the DateTime one, although we don't currently store the timezone as "Etc/UTC" in the database, we **enforce** the timezone to be UTC when writing the data to the database. The user then is only responsib

[2016-09-15 07:00] shinta-h opened #1694 "Ecto.Adapters.MySQL shouldn't use UNIX socket when hostname is localhost"
Currently, Ecto.Adapters.MySQL use UNIX socket when hostname is localhost
because it execute mysql command internally.
https://dev.mysql.com/doc/refman/5.7/en/connecting.html
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/mysql.ex

So, it require both UNIX socket and TCP socket for Mariaex ( not yet support UNIX socket https://github.com/xerions/mariaex/issues/66 ) when hostname

[2016-09-15 07:25] #1694 closed

[2016-09-15 13:23] satb opened #1696 "DBConnection Exception"
I am inserting a few records within a transaction. One of the records violates an exclusion constraint within postgres. Since I am using Repo.insert, I wasn't expecting an exception being thrown. However, an exception is thrown. Details below. Glad to share any more information.
[code]

[2016-09-15 13:29] shhavel commented on #1696
@satb I think the error circumstances is not clear. Can you please follow [the issue template](https://github.com/elixir-ecto/ecto/blob/master/ISSUE_TEMPLATE.md)?

[2016-09-15 13:50] fishcakez commented on #1696
`Repo.insert` can still raise for several reasons. In this situation there is a failed transaction, likely because of the failed constraint, and another query or transaction has been attempted. The postgres adapter can raise for this and other reasons: https://github.com/elixir-ecto/postgrex/blob/6289ee92479ed38190a121c984b9e478422dbd27/lib/postgrex.ex#L82-L84. Using a non-bang (!) function will o

[2016-09-15 13:57] fishcakez commented on #1696
As a quick note. DBConnection (and so Ecto SQL) transactions can be nested. If a nested transaction would be rolled back the parent transaction is marked as failed and all further attempts of using that transaction will raise. Once the top level transaction finishes, the whole transaction will be rolled back.

[2016-09-15 14:17] josevalim commented on #1696
Closing until we get more info.

[2016-09-15 14:17] #1696 closed

[2016-09-15 17:32] satb commented on #1696
This is the only stack trace that we see which I've already posted above. I am not doing any additional queries after the transaction is rolled back.

The code that is causing this looks like this:

inserts = Repo.transaction fn ->
  Enum.map(changesets, &Repo.insert/1)
end

I am doing some testing and intentionally violating the db constraint to see the behavior. If raising the exception is the e

[2016-09-15 17:56] fishcakez commented on #1696
@satb I thought the exact exception (`ArgumentError` about formatting(?) the `DBConnection.ConnectionError`) you posted in the initial comment was coming from `Ecto`, that did not have it's stacktrace attached. My comment was about the exception you just posted, sorry for the mixup there.

When inserting the changeset a nested transaction is used. This nested transaction is rolled back if the inse

[2016-09-15 18:04] fishcakez commented on #1696
The stacktrace shows that an insert is happening after the transaction is rolled back. A transaction is opened, `Enum.map` anonymous fun is called, a nested transaction is attempted to be started but the transaction is rolling back.

[2016-09-15 18:18] satb commented on #1696
Ah! Thanks. That makes sense now. So Enum.map(changesets, &Repo.insert/1) inside a transaction could probably fail with this exception unless we also check within the function for Enum.map whether each insert succeeded. If one of those inserts fails, we wouldn't want to continue on with the other inserts (or, alternatively, wait for the exception itself to handle everything)

[2016-09-15 18:35] josevalim commented on #1696
@satb check out `Ecto.Multi`. It is *exactly* what you need!

[2016-09-15 19:45] #1526 closed

[2016-09-16 15:54] KronicDeth opened #1697 "Ecto.Adapters.SQL.Sandbox.Connection.connect violates DBConnection.connection/2 callback spec"
### Environment

* Elixir version (elixir -v): 1.3.2
* Erlang version: 18.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): N/A
* Ecto version (mix deps): 6beeda443b8204d8c38113866a8e656d9fa546ed
* Database adapter and version (mix deps): N/A
* Operating system: OSX

### Current behavior

I have a branch where I'm trying to get Ecto to pass `mix dialyze` on my path to get Erlang 19 wor

[2016-09-16 16:46] fishcakez commented on #1697
There isn't a caller, the function is never called.

[2016-09-16 17:14] KronicDeth commented on #1697
@fishcakez if it's never called, why does it have a body and a pattern?  Or do you mean I won't be able to find the caller in the Ecto source + deps and I'd need to find the caller in tests using the Sandbox?

[2016-09-16 17:47] fishcakez commented on #1697
@KronicDeth the code used to be called but isn't anymore. Likely a few other callbacks are no longer used too. I think only `handle_*` callbacks (except `handle_info`) would be called but this is an implementation detail of the `DBConnection.Ownership` pool. I think we can just change `connect/1` to raise like the `Sandbox.Pool` functions.

[2016-09-16 19:31] overallduka opened #1698 "embeds_one with multiple schemas"
I have one column named `especifications` of type `:map`, but i want store different attributes like:
[code]
The model Offer just accept one struct as param:
[code]
I searched but wont find any solutions without put all attributes in just one `schema`, has some way to setup this without put one more column or add all attributes in same schema ? I post here because maybe could turn on a feature.

[2016-09-16 20:10] josevalim commented on #1698
I believe you can implement it today as a custom type. You lose some of the
embeds conveniences but you gain flexibility (which is what you want).

On Friday, September 16, 2016, Marcelo Oliveira <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-16 20:40] overallduka commented on #1698
Right, in this case so i preferred not use `embeds_one` but create the schemas separated without the association, so i just convert when i needed, because is a few cases. The return of json object itself should be enough for most of cases.
Thanks much by now =).

[2016-09-16 20:40] #1698 closed

[2016-09-17 16:06] fishcakez commented on #1697
Fixed in https://github.com/elixir-ecto/ecto/commit/2d41c5b5c0597def6cee0ade6eb39f922d5663fe

[2016-09-17 16:06] #1697 closed

[2016-09-17 19:32] fire opened #1699 "create table posts_customs is using the wrong FK reference"
### Environment

* Elixir version (elixir -v): Elixir 1.3.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): SnappyData 1.6-snapshot
* Ecto version (mix deps): Problem exists in master.
* Database adapter and version (mix deps): custom build
* Operating system: centos 7

### Current behavior

Errors on statement because database doesn't support FK on non PK columns.

[code]

### Expecte

[2016-09-17 19:46] josevalim commented on #1699
Thank you, however I am thinking I am missing something. A foreign doesn't
need to point to the primary key, it can point to any column. Which
database are you using? I am afraid we are using UUID on purpose but I
would need to double check.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-17 19:58] fire commented on #1699
I've been trying to write an adapter for [SnappyData](https://github.com/SnappyDataInc/snappydata) for the last few months.

This database has a limitation that its Foreign Keys must match the Primary Key in the other table as it's   is scalable across multiple machines. I believe other databases allow you to match the FK on the candidate key.

In this case I think the test has a logic error. post

[2016-09-17 20:03] josevalim commented on #1699
@fire ok, thank you! I will apply your changes tomorrow, I just need to investigate if we need to port some test over because of the change. :)

[2016-09-17 22:53] waj opened #1700 "Traverse associations"
As proposed in the group (https://groups.google.com/forum/#!msg/elixir-ecto/0sIgnmxJFbM/uml-hEAvBQAJ) the idea is to support multiple "jumps" to traverse associations.

That means, if `Foo` `has_many :bars`, and `Bar` `has_many :bazs`, then I could traverse from an instance of `Foo` to all the `Baz` related with all the `Bar` related with the given `foo`.

The proposal is to extend what `assoc` cu

[2016-09-18 08:25] #1699 closed

[2016-09-18 09:10] #1700 closed

[2016-09-19 21:02] building39 opened #1703 "ecto 2 and gettext 0.10"
Elixir 1.4.0 with OTP 19
Ecto 2.0.5

Looks like there's an issue with gettext >= 0.10.0. When I run my tests, a couple of them fail:

warning: function test_coverage/1 is unused
  mix.exs:30

....

  1) test does not create resource and renders errors when data is invalid (Leadspoc.LeadControllerTest)
     test/controllers/lead_controller_test.exs:44
     ** (FunctionClauseError) no function claus

[2016-09-19 22:32] josevalim commented on #1703
Can you please paste the code in your web/views/changeset_view and in your errors_helpers? I believe they are out of date. In particular, if you look at the first line in the stackrace:

    Gettext.dngettext(Leadspoc.Gettext, "errors", "can't be blank", "can't be blank", nil, %{})

You can see the `nil` argument and we expect a number to be given there. It should be something like this: https://g

[2016-09-20 08:32] josevalim opened #1705 "Introduce Ecto.Repo.cast or Ecto.Repo.cast_query"
The goal of this function is to explicit cast its parameters before running a query. This would help solve #1704 and it is a feature asked by @chrismccord. The issue however is that it would only work with queries and therefore wouldn't work for functions such as `get/3` or `get_by/3`.

[2016-09-20 18:55] building39 commented on #1703
Yep. My bad. I should have regenerated the application. Closing.

[2016-09-20 18:55] #1703 closed

[2016-09-21 10:20] phpapi opened #1707 "Does this issue occur for all users?"
Just created the project, and follow the guide to run:
[code]
then run:
[code]
go on:

[code]

I was checked my database configure, nothing wrong, that's postgresql.

[2016-09-21 11:37] shhavel commented on #1707
@phpapi Can you please specify which versions of `PostgreSQL`, `phoenix`, `ecto` are used?
Please see [issue template](https://github.com/elixir-ecto/ecto/blob/master/ISSUE_TEMPLATE.md).
Also there is a strange migration time-stamp - **20150409** (but you said that project just created).
Thanks

[2016-09-21 11:54] josevalim commented on #1707
Please properly fill in all the issue template information when opening an issue. Also please include the contents of the generated migration file. Thank you.

[2016-09-21 11:54] #1707 closed

[2016-09-21 12:54] jwarlander commented on #493
Would be awesome to see this feature in Ecto!

We have an API at work that may be a potential candidate for an Elixir migration at some point, but as it sometimes needs to return results on the order of hundreds of thousands up to millions of rows, streaming is a prerequisite for any alternative approach we might pick.

While one could of course just use Postgrex, the composability of Ecto queries

[2016-09-21 19:19] chrismccord commented on #1705
@josevalim but it would allow this, right?:

[code]

[2016-09-21 19:26] josevalim commented on #1705
@chrismccord no because we have no idea how parameters are used in that example. I guess we may allow it but it definitely looks suspicious.

[2016-09-21 19:32] chrismccord commented on #1705
Can you show a couple example of how these new functions would be used?

[2016-09-21 19:34] josevalim commented on #1705
[code]

so it expects a query with parameters.

[2016-09-21 19:43] chrismccord commented on #1705
Ah I see. It makes sense that we couldn't know how to cast params outside the context of a query. It would be nice to come up with a more succinct api for get/get_by, but It sounds like this is as good as it can get, so 👍 from me.

[2016-09-22 02:21] thiagoinformal commented on #1658
Hey, I'm having problem with Elix syntax, is that right?

Ecto.Migrator.run(PB.Repo, "priv/repo/migrations", :up, all: true, log: :debug, **timeout: 60000**)

I'm having timout in that migration. =/

[2016-09-22 02:57] phpapi opened #1708 "mix ecto.migrate error"
I'll try again today, many times and never done.
what's the path of the generated migration file?

- psql (8.4.20)
- Ecto 2.0
- phoenix Release 1.2.1

[code]

[code]
[code]
[code]

[2016-09-22 05:49] josevalim commented on #1708
The migration file is: priv/repo/migrations/20160922024056_create_user.exs

Also please include your database (it seems to be Postgres) and its
version!

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-22 06:02] phpapi commented on #1708
[code]

[2016-09-22 06:35] phpapi commented on #1708
that's the information i know,then how to  include my database,  Just started using this.

[2016-09-22 06:42] josevalim commented on #1708
@phpapi I don't see anything wrong with what you have done so far. My only guess would be to update your database version. You are using PostgreSQL 8.4, which was released 7 years ago. It may be that we are generating outdated SQL when running on old PostgreSQL versions.

[2016-09-22 06:44] davidkuhta commented on #703
From CHANGELOG:

And for others who may have searched github issues before the docs...
[Ecto.Changeset.check_constraint/3](https://hexdocs.pm/ecto/Ecto.Changeset.html#check_constraint/3)
[Ecto.Migration.constraint/3](https://hexdocs.pm/ecto/Ecto.Migration.html#constraint/3)

[2016-09-22 06:46] josevalim commented on #1658
I don't think the timeout option is supported in the migrator, we default everything to infinity in there. Can you please show which error message are you getting alongside the stacktrace?

[2016-09-22 07:30] phpapi commented on #1708
All right, I've just Upgrade Postgresql 8.4 to 9.4 in Centos, That's fine. txs!
[code]

[2016-09-22 08:46] josevalim commented on #1708
Hooray!

[2016-09-22 08:46] #1708 closed

[2016-09-22 09:58] jfrolich opened #1709 "Chaining: Repo.preload should accept nil"
### Current behavior
Chaining `Repo.get` to `Repo.preload` allows us to easily preload fields from our Repo.get, for instance
[code]
However when we `get` an unexisting user it blows up:
[code]

### Expected behavior
Of course it makes sense that it blows up, the input for preload is `nil`. However, this requires an extra case statement when we use `Repo.get` with preloads. This in turn makes our

[2016-09-22 10:16] jfrolich commented on #1709
#1710

[2016-09-22 13:22] thiagoqd commented on #1658
@josevalim I see

That's the error message:
`
00:38:52.558 [error] Postgrex.Protocol (#PID<0.254.0>) disconnected: ** (DBConnection.ConnectionError) client #PID<0.70.0> timed out because it checked out the connection for longer than 15000ms

00:38:52.620 [debug] == Running PB.Repo.Migrations.AddCreatedbyProject.change/0 forward

00:38:52.621 [debug] alter table projects
** (DBConnection.Connection

[2016-09-22 13:40] thiagoqd commented on #1658
and the system is based on Ecto 2.0.5, its was set to infinity in wich version? 2.1?

[2016-09-22 14:47] josevalim commented on #1658
Oh, so this is another error. You have two options:

1. Use Mix.Task.run "ecto.migrate" or whatever Phoenix generates as it will make sure to not use the sandbox pool

2. Increase the `:ownership_timeout` in your repository configuration rather than the timeout as this value is coming from the sandbox pool

[2016-09-22 15:00] josevalim commented on #1709
Closing in favor of the PR then. :)

[2016-09-22 15:00] #1709 closed

[2016-09-22 15:38] thiagoqd commented on #1658
@josevalim

I've tryed alter the repository configuration in the following files whith the ownership_timeout, but i get the same error (timed out because it checked out the connection for longer than 15000ms).

I've done it right? I'm new at the Elixir syntaxe:

dev.exs
[code]

test.exs
[code]

prod.exs
[code]

and finally config.exs
[code]

[2016-09-22 16:55] thiagoqd commented on #1658
guest, I solve this.

Adding the 'timeout' and 'pool_timeout' in those files get it done .
[code]

There was a commit [] that was taking 18ms, rather than 15ms. I'm testing everything now.
Thanks @josevalim

[2016-09-24 15:24] pma opened #1712 "Allow embedded_schema with :id, autogenerated: false primary_key"
Currently it's possible to set `@primary_key {:id, :id, autogenerate: false}` before `embedded_schema` to have non-autogenerated integer keys in nested structs.

However, when saving the struct, we get an error raised due to not having the embedded_schema primary key be a binary_id with autogenerate: true (https://github.com/elixir-ecto/ecto/blob/fb397116e25733d27b64e75df9ccef1e603121e0/lib/ecto/e

[2016-09-25 09:36] michalmuskala commented on #1705
I never was a fan of `get_by`, especially now that we have the simplified form of `where` with a keyword. This means we could replace `Repo.get_by(Post, fields)` by `Post |> where(^fields) |> Repo.cast`

[2016-09-25 09:45] josevalim commented on #1705
Right, so maybe that's the course of action for those wanting to rely on cast? Because both get and get_by are still very convenient to express many queries. It is much more readable than the alternative you posted, no?

[2016-09-25 22:45] jclem commented on #1712
I'm not sure if it makes a difference, but my original case in the discussion was actually around autogenerated primary keys using a custom field type, e.g.

[code]

[2016-09-25 22:48] jclem opened #1713 "Allow embedded schemas to use custom field types for primary key"
From [this discussion thread](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/elixir-ecto/3YqQ2KHkiW4/x5KxbD9BBwAJ): Currently, Ecto complains when using a custom field type as a primary key for an embedded schema:

[code]

When doing this, Ecto complains [here](https://github.com/elixir-ecto/ecto/blob/fb397116e25733d27b64e75df9ccef1e603121e0/lib/ecto/embedded.ex#L133). cc

[2016-09-26 06:35] josevalim commented on #1713
Yup, same as #1712, so that one is enough for now. Thank you! :D

[2016-09-26 06:35] #1713 closed

[2016-09-26 07:28] #1712 closed

[2016-09-26 07:30] josevalim commented on #1712
@pma @jclem but your cases should be fixed and tested in master, please let me know how it goes! :heart:

[2016-09-27 16:29] josevalim commented on #1680
@eniolopes ping :)

[2016-09-28 00:57] eniolopes commented on #1680
@josevalim started working it today, do we want the replacement to happen for all embedded association or only for `embeds_one`?

[2016-09-28 08:27] josevalim commented on #1680
I believe only embeds_one because we can't update on embeds_many cases.

[2016-09-28 12:12] #1680 closed

[2016-09-28 17:03] benjamingb opened #1716 "the query do not change "where" "or_where""
[code]
The first time works well
[code]

The second time when switching to the option "OR", remains in "AND"
[code]
if first out "OR" always remains in OR

[2016-09-28 17:15] josevalim commented on #1716
It has been fixed in master and a new 2.1.0-rc.1 has been released! 🎉

[2016-09-28 17:15] #1716 closed

[2016-09-28 20:33] eniolopes commented on #1530
I can take this one if nobody is going to do it.

Just to clarify things. We are going to define `transaction/2`, `in_transaction?/0` and `rollback/1` and by default they are going to raise? They would be injected when `use Ecto.Adapter` is called?

[2016-09-28 23:08] szlend opened #1717 "Repo.insert_all on_conflict does not work without an ecto schema"
### Environment

* Elixir version: 1.3.3
* Database and version: PostgreSQL 9.5
* Ecto version: 2.1.0-rc.1
* Database adapter and version: 0.12.0

### Current behavior

[code]
[code]
### Expected behavior

It should work without a schema or say otherwise in the documentation.

[2016-09-29 08:57] #1717 closed

[2016-09-29 09:40] josevalim commented on #1530
@eniolopes right now the plan is to merge the Ecto.Adapter.Transaction definitions into Ecto.Adapter. Do you agree @michalmuskala?

[2016-09-29 11:25] michalmuskala commented on #1530
Yes. If the additional behaviour is not optional I see no point in keeping it separate.

[2016-09-29 12:42] josevalim commented on #1530
@eniolopes so if you would like to, a PR is appreciated :D

[2016-09-29 15:43] michalmuskala opened #1720 "Unused alias warning for aliased associations"
When an association module is aliased and used for the association, but nothing else, an "unused alias" warning is generated. This is a regression introduced in https://github.com/elixir-ecto/ecto/commit/d7a54eeef70230fcfe5a3c6cf1de59e99943d241

[code]

Produces:
[code]

[2016-09-29 16:03] #1720 closed

[2016-09-29 18:06] fishcakez commented on #1608
Fixed in https://github.com/elixir-ecto/ecto/commit/00f132830cff970df576b9c91875c3fc3bcd50cf.

[2016-09-29 18:06] #1608 closed

[2016-09-29 19:06] josevalim commented on #1608
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart: :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart: :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart: :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart: :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-10-03 13:17] #1107 closed

[2016-10-05 07:41] aptinio opened #1729 "Embeds with the same primary key can be inserted"
### Environment

* Elixir 1.3.3
* PostgreSQL 9.5.4
* Ecto 2.1.0-rc.1
* postgrex 0.12.1
* Arch Linux

### Current behavior

I have the ff. `Parent` schema:

[code]

I want to ensure that children's names are unique for a given parent. I'm trying to do this by making the children's `name` field the primary key:

[code]

However, when I try to add children with the same name, both children are added

[2016-10-05 12:02] michalmuskala commented on #1729
That's the effect of allowing other primary keys than uuid. Given we have all the embeds each time, I think we can validate this. On the other hand, we usually don't emulate things that databases don't support, so I'm torn on this.

[2016-10-05 13:00] aptinio commented on #1729
Should I just validate the children names in `Parent.changeset/2`?

[2016-10-05 13:02] josevalim commented on #1729
For now yes. Although I do think we should provide some sort of validation, even if the database does not, as for embeds it is unlikely folks will be changing it directly in the database (maybe for PostgreSQL JSONB).

[2016-10-05 13:08] shhavel commented on #1729
@aptinio
Yes, you can validate children names in `Parent.changeset/2`.
This is a temporary solution, until the bug is fixed:

[code]
And the test (`test/models/parent_test.exs`):

[code]

[2016-10-05 13:36] aptinio commented on #1729
Okay @josevalim. We'll validate in `Parent.changes/2` for now. Thanks! If you can point me in the right direction, I'm willing to help out in implementing some sort of validation for this.

[2016-10-05 13:37] aptinio commented on #1729
Thanks @shhavel!

[2016-10-06 00:27] coryodaniel commented on #1538
I see that this was merged, but I'm having the same issue. My case is a little different as I am doing integration tests w/ Phoenix.

[code]

[code]

[2016-10-06 00:46] coryodaniel commented on #1538
A side note, may be of help. If I set my tests to async: false, everything works as expected. async: true raises this error. I found that `async: true` DOES work though if its not an umbrella app, and is instead just a vanilla phoenix app

[2016-10-06 01:01] coryodaniel commented on #1538
Here is an example of the 'acme_bank' umbrella app failing if a request going over HTTP to the test server is async:

https://github.com/coryodaniel/acme_bank/tree/sbox_bug_async_integration_test

You can flip async between false and true and see the issue.

https://github.com/coryodaniel/acme_bank/blob/sbox_bug_async_integration_test/apps/bank_web/test/controllers/account_controller_test.exs#L2-L

[2016-10-06 17:31] josevalim commented on #1538
I cannot reproduce the error. Adding :async true and running `mix test` works fine.

[2016-10-06 20:40] coryodaniel commented on #1538
From the app or the umbrella app? Is there any other system information that may be helpful?

[2016-10-06 21:20] josevalim commented on #1538
I tried both and nothing. :(

[2016-10-07 14:42] coryodaniel commented on #1538
Is there anything else version-wise you think could cause it? Would a dump of deps.tree help?

[2016-10-07 14:47] josevalim commented on #1538
The repository has a lock file, so we are getting the same dependencies. The only difference is that I am running on Elixir master and you are on 1.3.2. You may try 1.3.3 or master and see if the problem is solved.

[2016-10-07 21:18] eniolopes commented on #1705
What is the value returned by `cast` used for? According #1704 seems like the use case is to check if the params provided to the query are "castable". If this is the case, I'd rather call the function something like `Repo.can_cast_query?` or maybe move it to the query module? `Query.can_cast?` or `Query.castable?`.

I'd love to work on this when things are sorted out.

[2016-10-08 00:15] Crashtown opened #1734 "Rows is dropped when preload is declared explicitly on source."
### Environment

* Elixir version: 1.3.2
* Database and version: Postgres 9.5.0
* Ecto version (mix deps): 2.1.0-rc.1 and 2.0.5
* Database adapter and version (mix deps): postgrex 0.12.0
* Operating system: macOS 10.12

### Current behavior

When I perform queries A -(join)-> B -(left join)-> C I expect that database will return rows in format of (A,B,C) some of (A,B) will be the same, but (C) wil

[2016-10-08 01:00] chrismccord commented on #1705
The goal, for me in a web context, is to be able to write something like this:

[code]

My app would the have a layer that knows how to translate common domain types to responses, so `{:error, :not_found}` will 404, and `{:error, :badcast, fields}` will 400, with a relevant error message. This is why I am 👎 on `can_cast?` because I may want access to what failed to cast.

[2016-10-08 01:14] eniolopes commented on #1705
makes sense, then `cast_query` seems like the best name option here.

[2016-10-08 14:00] noma4i commented on #1705
Purpose of Ecto is to help other then to add hassle but with variety of functions.

Cast implementation in my opinion  should not add another helper we already have. My point is to incorporate casting in Ecto to skip tons of boilerplate. Common use is to pass for example not valid input and have errors as pattern matchable response, not an error raised.

I see such feature as a part of Ecto to ret

[2016-10-08 15:57] michalmuskala commented on #1705
That would be ideal - the problem is that such implementation of `Repo.one/1` is not backwards compatible and will introduce a lot of issues with migration. A less invasive approach is required. One such approach is adding the `cast/1` or `cast_query/1` function - you're free to define some more complex, boilerplate removing functions in your repo that would use it. Repo is just a module - you are

[2016-10-10 17:40] shhavel commented on #1734
Here is one more example of two similar queries from provided data:

[code]

Which produce the following SQL (correspondingly)

[code]

SQL conditions are identical.

But results return different amount of records.

[code]

When preload works in the same query with original query it ads additional JOIN (if it doesn't already exist).
Then it assumes that this JOIN produces additional results when S

[2016-10-10 18:28] Crashtown commented on #1734
Thank you for guidance, @shhavel. You are right, this is typo :) I've spent some time analyzing sources responsible for output formatting but not understood how to solve this problem. At first sight bug sit in the `Ecto.Repo.Assoc`, it just not treats well left joined stuff, looks like accumulator structure is not deep enough to correctly merge data from rows. But before I'll try to fix it I need

[2016-10-10 20:18] bvjebin opened #1740 "Adding triggers to Ecto migration throws exception"
I am try to add a simple trigger to validate null constraint in two columns

The following is the ecto migration snippet I am trying.
[code]

On running the migration, it successfully creates the trigger in the database but throws exception which is causing the migration to fail registering itself in the schema_migrations table.

Following is the trace:
[code]

What am I doing wrong?

### Environm

[2016-10-10 20:20] ericmj commented on #1740
Looks like you should open this issue on mariaex.

[2016-10-10 20:27] bvjebin commented on #1740
Thanks @ericmj. I will link this issue there. https://github.com/xerions/mariaex/issues/141

[2016-10-10 20:31] #1740 closed

[2016-10-11 17:30] simonh1000 commented on #1150
how did you solve this?

[2016-10-12 14:48] realdoug commented on #493
I needed this feature so I wrote the following method within my Phoenix project.  Would love to submit a pull request & it would be great if someone could confirm that I'm on the right track here & point me to the right place in the Ecto codebase to insert something like this.

Thanks!
`
	def stream(statement, rows, callback, timeout) do
		{db_pool,_} = Repo.__pool__
		:poolboy.transaction db_pool

[2016-10-12 15:03] fishcakez commented on #493
Hi @realdoug. I would recommend sending a proposal to the Ecto mailing list before working on a PR because we would need to consider a path to supporting this for multiple adapters.

To support this nicely in Ecto.Adapters.SQL, and this is not to say we will, I think we would want to extend DBConnection to support streams. Currently Postgrex hacks around DBConnection to make it work. Then Mariaex

[2016-10-12 15:17] realdoug commented on #493
Ok, will do, thanks.

[2016-10-13 05:53] mtwilliams opened #1744 "Specifying an unsupported logging level causes a runtime crash"
### Brief

If you specify an unsupported logging level (i.e. not `debug`, `info`, `warn`, or `error`) by setting `log_level` for `My.Repo` (that uses `Ecto.Repo`) you get runtime crashes whenever Ecto attempts to log. Instead, I would have expected a compile-time error thereby allowing me to catch my configuration mistake early.
### Environment
- Elixir is `1.3.4` on Erlang/OTP `19`.
- Ecto is `1.

[2016-10-13 12:11] thorsten-de opened #1746 "assoc doesn't respect @schema_prefix on through-associations"
While **preloading** "through-associations" on a prefixed schema works fine, requesting them with **assoc** doesn't respect the @schema_prefix.

### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MariaDB
* Ecto version (mix deps): 2.0.5
* Database adapter and version (mix deps): mariaex 0.7.8
* Operating system: arch linux

### Current

[2016-10-13 12:26] josevalim commented on #1746
That's a known limitation. Schema prefixes are not propagated through queries. So if you have a join or an assoc that is on a different prefix, they will still always run on the query prefix itself. I will improve the docs to make sure this limitation is clear, thank you.

[2016-10-13 13:20] thorsten-de commented on #1746
Thx for your immediate reply.

In the stated example, all schemas have the _same_ prefix. So I don't understand why the query prefix is not used at all.

[2016-10-13 13:29] josevalim commented on #1746
Good point. Can you try this for now:

    Repo.all Ecto.assoc(Ecto.put_meta(h, prefix: "br_dev"), :rooms)

I am wondering if it is respecting the record prefix or if it is just a bug. Also, can you please check if the bug exists or not on master?

Thank you!

[2016-10-13 13:31] josevalim commented on #1746
Actually, nevermind. I have checked and it won't work on master. This is definitely a bug.

[2016-10-13 14:02] thorsten-de commented on #1746
I'll use preloading anyway, but I was a bit surprised to see preloding working fine but assoc not.

Taking a closer look at the queries, they are quite different. `assoc` builds inner joins, just as I do when writing the query manually - I really like that. Preloading doesn't use a join, but issues individual querys to build all the data while walking "through" the association, I guess.

So perhap

[2016-10-14 14:00] rafaeljesus opened #1748 "Token "$" is invalid."
### Environment

* Elixir version 1.3.2:
* Database and version (PostgreSQL 9.5.3):
* Ecto version (2.0.5):
* Phoenix Ecto version (3.0.1):
* Database adapter and version (postgrex, 0.12.1):
* Operating system: Mac OS

### Current behavior

I have a model (`candidate`) with a jsonb field (`experiences`)

candidate_migration.ex
[code]

candidate.ex
[code]

When I run the test of `filter_candidates_

[2016-10-14 18:01] josevalim commented on #1748
@rafaeljesus the problem is that Elixir will escape any value interpolated in a fragment to for security reasons. What you need to do is to interpolate the whole value:

    json = "[{\"position\": #{job.position}}]"
    fragment("?@>?", c.experiences, ^json))

The above or similar should work although you should probably use something like Poison to generate the json.

[2016-10-14 18:01] #1748 closed

[2016-10-14 20:08] rafaeljesus commented on #1748
Thx for your quick reply @josevalim

I tried your suggestion the error is gone but the query does not returns anything:
[code]

Is generation the following output

[code]

But is not returning any records 😕

I know this works for example:
[code]

Any thoughts?

[2016-10-14 20:14] josevalim commented on #1748
@rafaeljesus can you run a query directly against the database and paste a working query here?

[2016-10-17 11:04] rafaeljesus commented on #1748
@josevalim running a normal sql:

[code]

[2016-10-17 11:50] josevalim commented on #1748
@rafaeljesus so ecto is sending parameterized queries where `$1` is interpolated. The values you see printed are Elixir values, hence the difference. One other option is for you to try doing the query directly with Postgrex and see if you can get better results. Here is an example: https://github.com/elixir-ecto/postgrex#example

[2016-10-17 11:51] josevalim commented on #1748
In Postgrex, you can try both:

[code]

and

[code]

[2016-10-17 12:32] rafaeljesus commented on #1748
@josevalim thx, I tried your suggestion but I am having the following:

[code]

Throws:
[code]

I searched on postgrex issues and saw you [implemented](https://github.com/elixir-ecto/postgrex/pull/61/files) a json/jsonb extension, and I also tried:

[code]

But it is throws:
[code]

[2016-10-17 12:36] josevalim commented on #1748
It needs to be Postgrex.Extension.JSON.

On Monday, October 17, 2016, Rafael Jesus <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-10-17 13:27] rafaeljesus commented on #1748
I did that, updated postgrex to `0.12.1` but it still:

[code]

error:
[code]

Also tried `Postgrex.Extensions.JSON` but:
[code]

[2016-10-17 13:32] rafaeljesus commented on #1748
Also tried with only `extensions: [{Postgrex.Extension.JSON}])`

[code]

[2016-10-17 14:06] ericmj commented on #1748
It should be: `extensions: [{Postgrex.Extensions.JSON, Poison}]`

[2016-10-17 14:14] rafaeljesus commented on #1748
@ericmj thx for comming up
[code]

Throws:
[code]

[2016-10-17 14:23] josevalim commented on #1748
It should be:

    extensions: [{Postgrex.Extensions.JSON, library: Poison}]

[2016-10-17 17:07] rafaeljesus commented on #1748
@josevalim @ericmj It did worked, but it is only returning data if I manually insert it on database and run the query in `iex -S mix`,

It is not returning data running test, maybe something with database sandbox I don't know,

But hey thats fine, I still think `fragment("?@>?", c.experiences, ^position)` should to the job as in production we may face complex queries,

Thanks for debugging time!

[2016-10-17 18:42] hickscorp commented on #323
@optikfluffel I like very much to use the `Repo.aggregate/2` function. In your case:

[code]

[2016-10-18 16:11] ntilwalli opened #1750 "Possible for Ecto.Changeset to support a validated :map based on sibling flag?"
I'd like to embed a schema dynamically in a table based on the value of an adjacent column.  So if the flag (`flag_key`) has value "x", I'd like to validate associated with the embed (`dynamic_key`) with the `Module.X.changeset` function and if it has value "y", validate it with `Module.Y.changeset` function.  I've constructed my own `cast_dynamic` which assumes the value of the column as `:map` a

[2016-10-18 16:29] josevalim commented on #1750
@ntilwalli so we don't plan to support such in Ecto itself. The idea though is that you can emulate as you did above using a :map field or custom types. If you have further questions, please use the mailing list or elixir forum or stack overflow.

[2016-10-18 16:29] #1750 closed

[2016-10-18 20:43] #1746 closed

[2016-10-18 20:55] josevalim commented on #1734
Yes, @shhavel is correct. One way to look at it is that `[preload: [posts: p]]` is doing a group by. So it is going to group all users with that shared post. If you have different entries because of `p`, you will only see the first one.

Thank you @shhavel !

[2016-10-18 20:55] #1734 closed

[2016-10-18 21:12] Crashtown commented on #1734
@josevalim, I understand that distinguish which records should be combined is can be difficult, but right now data is just lost after combinations, maybe correct strategy there would be not guess and return raw data? It was very confusing when I faced with this problem. Both queries semantically the same (for me) and return same output from database, but results is different. If it goes this way b

[2016-10-18 21:14] josevalim commented on #1734
@Crashtown documenting the behaviour would be welcome. :)

My point though is that they are *not* semantically equivalent. Sure, they emit the same SQL, but the point of preload is exactly to merge the data together. If you don't want the data to be merged, then don't use preload but instead `select: {u, p, p1}`.

[2016-10-18 21:41] Crashtown commented on #1734
@josevalim okay, thank you very much for explanation, I'll work on improving docs for `preload` function, hope it will prevent another folks struggles :)

[2016-10-19 12:49] thiagoarrais commented on #1744
I'll try to tackle this one. Anyone else interested?

[2016-10-19 12:49] josevalim commented on #1744
Please go ahead. :)

On Wednesday, October 19, 2016, Thiago Arrais <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-10-19 19:06] AndrewDryga opened #1751 "Additional options for all Ecto.Changeset validation errors"
Hi guys,

[We](https://github.com/Nebo15/) love to provide our users very descriptive validation errors on Front-End of our projects, so our error structure [is complex](http://docs.apimanifest.apiary.io/#introduction/interacting-with-api/errors):
[code]

And `Ecto.Changeset` doesn't provide sufficient data for such response structure, and setting `[message:..]` option for each changeset in each p

[2016-10-19 19:13] josevalim commented on #1751
@AndrewDryga the messages in Ecto already are stored in the format `{"message", []}`. So if you are calling add_error manually on your own validations, they already support passing [options](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/changeset.ex#L1191), which are passed to [traverse_errors](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/changeset.ex#L2073). So it seems wha

[2016-10-19 19:19] AndrewDryga commented on #1751
Nope, message itself is looks not descriptive enough in **native** validators (we almost don't write our own).

But I noticed `changeset.validations` list, I will take a look into it and come back later :).

[2016-10-19 19:21] josevalim commented on #1751
Oh, if you want to provide information about all validations and not only the errors, then the validations list will keep information about all validations and which parameters you have passed to them.

[2016-10-19 19:24] AndrewDryga commented on #1751
I need this information only for failed validations, I'm not sure yet is it possible to match errors and validations. Because errors return text (and it's a little bit strange to me, because look like they they intersect for different validators).

[2016-10-19 19:26] josevalim commented on #1751
@AndrewDryga your example seems to say otherwise? There are at least two validations (rules) being shown there: that the type is a string and that it has a minimum of 2 chars?

[2016-10-19 20:00] AndrewDryga commented on #1751
That oversimplified example, I'm trying to make sure all possible validations can be turned in struct like that one. I guest I can we can create our own implementation or `traverse_errors` and collect all necessary information from `changeset.required` and  `changeset.validations`. Ill try and report  with code samples if it's not feasible.

[2016-10-19 20:31] AndrewDryga commented on #1751
Ok, it looks like I have a solution, but it's ugly:
1. Collect all possible messages (eg. `has invalid format`, `can't be blank`) and match them to atoms (eg. `:format`)
2. For each error in changeset get `changeset.validations`, find rules by this atom (eg.: `{:format, ~r/@/}]`).
3. Construct error message.

But It would be so much easier if It would be possible to get same structure as `changese

[2016-10-19 20:36] josevalim commented on #1751
@AndrewDryga the only suggestion I have in mind is to store a key in the error messages that say which validation triggered it, for example, `type: :format`.

[2016-10-19 20:41] AndrewDryga commented on #1751
@josevalim maybe I can create a PR where all validators is adding their name to opts?
[code]
(change in 2nd line: `opts ++ [rule: :required]`)

So everybody would have a way to construct error responses by constant keys, instead of matching/replacing text?

[2016-10-19 20:46] josevalim commented on #1751
@AndrewDryga sounds good to me. It should look like this though:

    message = message([validation: :required] ++ opts, "can't be blank")

We should prepend, as it is faster, and use `:validation`. We will also need to change the traverse_errors example to not attempt to interpolate the `:validation` key. We should [delete it before traversing](https://github.com/elixir-ecto/ecto/blob/master/lib/

[2016-10-19 20:48] AndrewDryga commented on #1751
Ok, Ill work on it. Thanks :)

[2016-10-19 20:55] AndrewDryga commented on #1751
@josevalim BTW, why you want to delete it before interpolation?

I guest it won't conflict with existing implementations, because `String.replace` won't throw any errors if you will try to replace variable that does not exist in pattern, and we can be pretty sure that nobody uses `"%{validation}"` in their `traverse_errors/1` because there was no such key for interpolation.

[2016-10-19 20:58] josevalim commented on #1751
Oh, it is just an atom, so it is fine. No need to delete it. Sorry about that.

[2016-10-20 13:21] StephanMeijer opened #1754 "Bug? Date comparison seems to fail"
[code]

`11 <= 10` is false
`12 <= 11` is true

[code]

`2015 <= 2016` is true

Comparison of date seems to be bugged.

Versions:

[code]

[code]

Dependencies:
- `ecto 2.0.2`
- `phoenix_ecto 3.0.1`

[2016-10-20 13:46] sevenseacat commented on #1754
What are the return values of the casts?

[2016-10-20 13:52] StephanMeijer commented on #1754
[code]

`Ecto.Date.compare/2` seems to behave properly.

[2016-10-20 13:54] shhavel commented on #1754
`Ecto.Date.cast!/1` returns Ecto.Date struct.
Structs can also be compared with `<=`.
 which return the same results for provided examples.

[code]

There is no feature to compare `Ecto.Date` with `<=`  same as `Ecto.Date.compare/2`.
So I think this is not a bug.

[2016-10-20 13:56] josevalim commented on #1754
@shhavel correct, <= and > and friends perfect structural comparison, not semantical one. So the `compare/2` function is the way to go.

[2016-10-20 13:56] #1754 closed

[2016-10-20 23:08] thiagoarrais commented on #1744
Bear with me here, I'm both an Elixir as an Ecto n00b... :-)

I'm having trouble reproducing the bug. How can I force the problematic `log` function to be called?

Here's what I'm trying (based on https://hexdocs.pm/ecto/getting-started.html): https://github.com/thiagoarrais/ecto-1744-friends

I've created a database and a table as per the ecto getting started guide, but I'm not getting any error

[2016-10-21 01:43] mtwilliams commented on #1744
[These tests may be of help.](https://github.com/elixir-ecto/ecto/blob/b13776d97659ac67ead12c5861aae6bfbfb27df1/integration_test/cases/repo.exs#L990)

I also noticed you're testing against `2.x.y`.

[2016-10-21 06:49] josevalim commented on #1744
If the error is already fixed in `2.x` then we can close this issue. This is a nice to have, so we catch mistakes early, so we won't be backporting to 1.x.

[2016-10-21 10:14] #1751 closed

[2016-10-21 13:17] thiagoarrais commented on #1744
I've managed to reproduce the error with 1.x. The exact error is not reproducible in 2.x. Would there be any interest in yielding a compile error on invalid log levels?

If so, what do you think should be the "Ecto way"? I mean: should it just replace the user's unsupported log level with a sensible default one or should it force the user choose a valid option?

[2016-10-21 13:58] josevalim commented on #1744
@thiagoarrais raising at compile time would be the best, yes.

[2016-10-21 17:47] isaacsanders opened #1757 "Support mathematical infix operators"
I was wondering if there was any interest with adding common mathematical infix operators (+, -, *, and /) to the Query API.

I am interested in knowing if this is desired and would be accepted as a contribution.

[2016-10-21 21:03] thiagoarrais commented on #1744
My bad. This actually reproduces in 2.x. You need to use `loggers: [{Ecto.LogEntry, :log, [:notice]}]` instead of `log_level: :notice`.

[2016-10-22 09:39] josevalim commented on #1757
Yes, the best solution is to include an "abstract" type called `:number` and make sure Ecto's type system accepts `:integer`, `:float` and `:decimal` as numbers.

[2016-10-22 11:39] AndrewDryga commented on #1685
@josevalim should we PR Mnesia adapter to Ecto or publish as separate ecto_mnesia package?

[2016-10-22 11:58] josevalim commented on #1685
@AndrewDryga as a separate package for now but I would love to review it.

[2016-10-22 15:31] AndrewDryga commented on #1685
@josevalim some really dirty (we will clean it up) stuff is happening here: https://github.com/Nebo15/ecto_mnesia

[2016-10-23 09:35] #1590 closed

[2016-10-23 09:35] #1729 closed

[2016-10-23 22:22] isaacsanders commented on #1757
Where would I find sufficient test cases?

Where would one need to add the typechecking?

[2016-10-23 22:30] josevalim commented on #1757
The type checking happens in Ecto.Query.Builder (compile time) and Ecto.Query.Planner (runtime). I am not sure what you mean by test cases. I believe they would need to be written by whoever is working on the feature.

[2016-10-23 23:00] hickscorp opened #1759 "prepare_changes not getting proper data as per the docs."
I'm using erlang 19, Elixir 1.3.3 and Ecto 2.1rc (But I had the same problem with 2.0.x).

Consider this snippet, from a model named `Answer`

[code]

Let's focus on the `prepare_changes` part. It is pretty much the same thing as what you can find in [the documentation](https://hexdocs.pm/ecto/2.1.0-rc.2/Ecto.Changeset.html#prepare_changes/2).

I am calling the function like so:

[code]

The probl

[2016-10-24 07:02] josevalim commented on #1759
The changeset is useful for validating parameters. Things that are set as part of the application logic should not be passed to cast, because they are application input and not user input. If you change your answer to: `%Answer{question_id: q.id}`, it should work. Even better would be to use `Ecto.build_assoc(q, :answer)`.

[2016-10-24 07:02] #1759 closed

[2016-10-24 12:04] isaacsanders commented on #1757
@josevalim @michalmuskala said that there used to be infix in the codebase. I thought there might be test cases that already existed (in the git history) for the lower level modules, like Ecto.Query.Builder and Ecto.Query.Planner.

[2016-10-24 12:05] josevalim commented on #1757
@isaacsanders I don't think they would be relevant at this point. They existed way before 1.0 and the builder and planner were quite different from today.

[2016-10-24 12:18] isaacsanders commented on #1757
makes sense.

[2016-10-24 12:41] hickscorp commented on #1759
@josevalim It works indeed. Maybe the docs should be more specific about the use case of the example? Ecto having so many concepts, having them all in mind when starting / reading the examples isn't always easy.

Thanks for your help, this wasn't an `issue` / `bug` afterall.

[2016-10-24 12:45] josevalim commented on #1759
@hickscorp we would love if you could send a pull request to improve the docs and make this example in particular clearer!

[2016-10-25 01:04] bgeihsgt opened #1761 "cast_assoc has unexpected behavior when updating unrelated fields"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2016-10-25 07:23] denispeplin opened #1762 "Option read_after_writes is not supported by belongs_to"
### Environment

* Elixir version (elixir -v): 1.3.2
* Database and version: PostgreSQL 9.4
* Ecto version (mix deps): 2.0.5
* Database adapter and version (mix deps): postgrex 0.12.1
* Operating system: Ubuntu 13.10

### Current behavior

[code]

[code]
### Expected behavior

I found in [documentation[(https://hexdocs.pm/ecto/Ecto.Schema.html#belongs_to/3), that `read_after_writes` should be supp

[2016-10-25 09:36] josevalim commented on #1762
That's by design because we would only reload the field and not its association. If you really want to, you can define the field explicitly, `field :foo_id, :integer, read_after_writes: true` and then pass `define_field: false` to the belongs to.

[2016-10-25 09:36] #1762 closed

[2016-10-25 09:39] josevalim commented on #1761
Yup, it is a bug, thank you.

[2016-10-25 09:53] shhavel commented on #1761
I will take a look at this if no objections, please.

[2016-10-25 09:54] josevalim commented on #1761
@shhavel please 💟!

[2016-10-25 10:31] denispeplin commented on #1762
Thank you, I tried to define separate field before, but I didn't get that I should use `define_field: false`, so this didn't work. Now it works!

But I still think that documentation is incorrect, because it says that "**All** other options are forwarded ... therefore **accept the same options** as field/3", and it is definitely is not true.

[2016-10-25 11:30] michalmuskala commented on #1762
A PR updating the docs to inform about this limitation and the solution of using a separate field is definitely welcome!

[2016-10-25 18:22] josevalim commented on #1759
The changeset is useful for validating parameters. Things that are set as
part of the application logic should not be passed to cast, because they
are application input and not user input. If you change your answer to:
%Answer{question_id: q.id}, it should work. Even better would be to use
Ecto.build_assoc(q, :answer).

On Monday, October 24, 2016, MARTIN Pierre <notifications@github.com> wrote:

[2016-10-26 04:00] Sam-esien commented on #1207
I am having the same problem please.

[code]

what do I do. new to elixir and phoenix, new to web programming.

[2016-10-26 05:06] sevenseacat commented on #1207
It's not the same problem - it's a different error. Is your database server running?

[2016-10-26 05:43] Sam-esien commented on #1207
Tried running that and it only produced another string of errors.

[code]

[2016-10-26 05:46] Sam-esien commented on #1207
The book I'm reading says:

I did and saw the following inside the file:
[code]

don't know what to make of it or how to fix the error via it

[2016-10-26 05:50] Sam-esien commented on #1207
don't understand what they mean by

[2016-10-26 05:50] sevenseacat commented on #1207
Okay, but that doesn't answer the question. You're trying to connect to Postgres - is Postgres installed and running on your machine?

[2016-10-26 05:54] Sam-esien commented on #1207
yes it is

[2016-10-26 06:05] Sam-esien commented on #1207
Problem solved. Took your advice and just downloaded another version of postgres and installed. then ran the mix ecto.create again:

[code]

[2016-10-26 06:06] Sam-esien commented on #1207
Thanks once again @sevenseacat  your question was the answer.

[2016-10-26 10:03] josevalim commented on #1207
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-10-26 20:34] AndrewDryga opened #1763 "`cast_embed` uses schema types, not a changeset types"
Hello,

There are method [`Ecto.Relation.do_cast/4`](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/changeset/relation.ex#L92) that uses `__schema__` metadata, but I think it would be a good idea to extract type data from `changeset.types`.

Thus we will make it possible to hack type system and, if developer want, replace type in `changeset/2` functions. It it suitable when there are man

[2016-10-26 20:44] josevalim commented on #1763
Yes, we should always use the types information if one is available. A PR is welcome.

[2016-10-26 21:26] AndrewDryga commented on #1763
Ok, I'll look into it in few days :).

*For people that found this issue in Google*: There are easy way how to deal with this issue, you simply need to call `Ecto.Changeset.apply_changes/1` before saving data to database, and all castings will be done with extraction of this data from `changeset.types`.

[2016-10-29 22:43] walkr opened #1768 "Crashing Ecto/Postgrex"
I'm working on an Elixir application and I've managed to create a scenario that causes Ecto to crash.

It seems like this causes Ecto to crash with three different types of errors.

I've created a similarish app to reproduce the scenario. See [`ecto-crash`](https://github.com/walkr/ecto-crash)

To reproduce please run the following commands:

[code]

**NOTE**: Run `make crash` repeatedly and you w

[2016-10-30 16:13] fishcakez commented on #1768
Hi @walkr. For Error 1 and Error 2 it looks like the socket is closed (`tcp recv: einval` probably occurs due to a race condition when the socket is closed at approximately the same time that a `:gen_tcp` function is called, if the call is made earlier or later it is `:closed`). Assuming there isn't an issue with TCP there should be another log because a transaction/standalone query checkout from

[2016-10-30 17:54] josevalim commented on #1768
@walkr the bug is probably here:

https://github.com/walkr/ecto-crash/blob/master/lib/ecto_crash/server.ex#L40

That should be `{:noreply, state}`. Otherwise it is causing your worker to crash, which then causes the supervision tree to eventually restart or shutdown completely, which brings the postgrex connections down.

[2016-10-30 17:54] #1768 closed

[2016-10-30 18:16] ericmj commented on #1768
@josevalim When I am running the code that error never shows up in the logs.

[2016-10-30 19:55] walkr commented on #1768
Yes, that is indeed causing the error. I can't believe I've missed that. Thank you @josevalim!

However, crashing (2) below should not crash (1). Shouldn't their failures be handled independently, since I've specified the `:one_for_one` restart strategy?

**Supervision tree**

[code]

**Code in question**

[code]

And thank you for your reply as well @fishcakez

[2016-10-30 20:17] walkr commented on #1768
UPDATE: I've looked into it. It looks like the children do get restarted independently. It's only when running tests that the application shutdown is triggered. My mistake!

Thank you guys!

[2016-10-30 21:03] #1761 closed

[2016-10-31 13:19] fishcakez commented on #1768
@walkr I was too lazy to notice there was linked code :blush:. You are correct that children get restarted independently but once `max_restarts` occur in `max_seconds` the supervisor reaches its max restart intensity and shuts down. The supervisor is the top supervisor in the application so the application stops.

@ericmj the timeout value isn't checked by `:gen_server` and a `receive` will be att

[2016-11-01 08:59] LostKobrakai commented on #1698
I've a similar issue. I want to associatiate a list of different schemas with my projects. Something like `[%Image{}, %Vimeo{}, %Image{}, %Issuu{}, %Image{}]`. I cannot figure out how I would do that with ecto.

[2016-11-01 09:05] josevalim commented on #1698
@LostKobrakai you can store it in a map field and just keep it as a key-value with a type field, such as `type: "vimeo"`. If you really want to convert it to `%Vimeo{}` and so on, you can use implement a custom type that checks for the type field on load and convert to the proper struct, and dumps the structs back with the type field when necessary.

[2016-11-01 11:31] LostKobrakai commented on #1698
I got the first part, but creating a custom type seems not to be as straight forward when being used as part of embed_many. It doesn't seem to use load/1, but rather errors because the type does not implement __struct__ on it's own.

Would such a custom type need to handle the whole list, or could it only handle each item and it's conversion?

[2016-11-01 11:51] josevalim commented on #1698
You cannot use it as an embed at all. Rather a regular field of type
{:array, CustomType}.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-11-01 11:59] mikker opened #1771 "`cast_embed` / `cast_assoc` sorts list elements wrong when given a map"
As discussed with @ericmj on IRC this is probably, maybe a bug.

Given the following schema:

[code]

With these params

[code]

Correctly turns the categories into a list but it sorts them wrong. The indexes are strings and (of course) sorted like that. So it ends up like `1, 10, 11, 2, 3, ...` and so on.

In my app I manually convert the indexes to ints before casting but maybe ecto should do th

[2016-11-01 13:59] #1771 closed

[2016-11-01 21:04] taylordowns2000 opened #1773 "Possible bug related to Exq"
Hi there! For quick context: I work on an integration platform for international development (health, education, livelihoods, etc.) organizations with @stuartc and we use both Ecto and [Exq](https://github.com/akira/exq).  (I'm [cross-posting this](https://github.com/akira/exq/issues/220) on the Exq repo as well.)

Messages are sent to our platform and then routed to specific `jobs`—what we call m

[2016-11-01 21:04] jbhatab opened #1774 "Updating association_id with preloads before hand causes original data to be spit out"
### Environment

* Elixir version (elixir -v): 1.3.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5.2
* Ecto version (mix deps): 2.0.5
* Database adapter and version (mix deps): postgrex 0.12.1
* Operating system: Mac el captain

### Current behavior
I'm doing an update on my model and I'm changing an association based on its id column.

[code]

When you have the preloa

[2016-11-01 21:11] josevalim commented on #1773
If you believe this is a bug in Ecto, please use the issue template and provide the proper information. If you don't think this is a bug and you would like guidance, then the mailing list is a better forum for discussion.

However, I don't believe it is something suspicious happening with Ecto but rather that the database entry indeed does not exist. In particular, make sure that you are not queue

[2016-11-01 21:11] #1773 closed

[2016-11-01 21:13] josevalim commented on #1774
That's working as expected. If you change the owner_id manually, it won't reflect in your associations (because that would require doing queries to load the data). So you need to explicitly preload the data again (or in this case possibly not preload it at all since you are changing the id directly).

[2016-11-01 21:13] #1774 closed

[2016-11-01 21:13] ericmj commented on #1774
We can't query for the association in an update query. Do a `Repo.preload(..., force: true)` to fetch the other associated record.

[2016-11-01 21:17] jbhatab commented on #1774
@josevalim Thanks for the response. So when I call a second Repo.preload after the update happens, is it supposed to still not load the new association? Or is that what @ericmj is referring to and once you load an association to override it then you have to do a force?

[2016-11-01 21:18] josevalim commented on #1774
What @ericmj said. :)

[2016-11-01 21:20] jbhatab commented on #1774
@ericmj sorry for newbiness, but what do you mean exactly by "We can't query for the association in an update query."

Isn't that what I'm doing when I call Repo.preload before the update call?

[2016-11-01 21:21] ericmj commented on #1774
@jbhatab No, you are preloading before the update when you still have the old associated id.

[2016-11-01 21:26] jbhatab commented on #1774
LAST QUESTION, I SWEAR.

@ericmj So whenever you preload you have to do a force to override original preloads? I felt like doing another preload after should fix it, right?

[2016-11-01 21:30] ericmj commented on #1774
If you preload again you need to add `force: true`, otherwise ecto will not make a new query. Ecto has this behaviour to save you from duplicate queries.

[2016-11-01 21:38] jbhatab commented on #1774
thanks for all the info

[2016-11-01 22:03] taylordowns2000 commented on #1773
Thank you, José. I'm sorry to have missed the issue template and thank you for the mailing list suggestion. Will also explore your pointer re: jobs inside a transaction!

[2016-11-01 22:29] AndrewDryga commented on #1479
I guess we can support it by allowing interpolation of Ecto.Query in `fragment/1`? Right now it throws exception, but as I understand it's should not be possible when developer is building another query.

[code]

[2016-11-01 22:33] AndrewDryga commented on #1479
Example:
[code]

[2016-11-02 14:19] rbishop opened #1776 "Tasks ran with MySQL adapter relies on mysql client binary"
### Environment

* Elixir version (elixir -v): 1.3.3
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): MySQL 5.7
* Ecto version (mix deps): 2.0
* Database adapter and version (mix deps): Mariaex
* Operating system: Heroku Cedar-14 (applies to any OS though)

### Current behavior

When running tasks such as `ecto.create` and `ecto.migrate` an exception occurs. Following the stacktrace lea

[2016-11-02 14:56] josevalim commented on #1776
Yes, if someone wants to send a pull request, it is welcome. That's what we do for Postgres: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres.ex#L189-L223

[2016-11-02 14:57] rbishop commented on #1776
I'll take a stab at it. I just wanted to confirm this wasn't the preferred behavior first.

[2016-11-02 16:15] Dania02525 commented on #840
I like having poison handle this by default, as it prevents having to specify an implementation with derive in each model (as model fields change, etc).  Also, would be nice for poison to handle associations not loaded- heres what I'm using:
[code]

[2016-11-02 16:33] michalmuskala commented on #840
The problem with that implementation is that it's plain wrong in many situations. We cannot use something like that as a default.

[2016-11-02 16:58] josevalim commented on #840
Can you please expand?

[2016-11-02 18:40] michalmuskala commented on #840
I meant the `Ecto.Association.NotLoaded` implementation of the poison protocol that returns the empty collections. The collection is not empty when it's not loaded - we don't know if it's empty or not. Returning an empty value for a not loaded association is not correct.

[2016-11-03 13:30] taylordowns2000 commented on #1773
José, just for the record, this was truly a boneheaded move on my part but maybe worth noting for others...

I run a "staging" server and a "production" server. Of course, I want staging to run with precisely the same config as production, save a few specific environment variables. You can probably see where this is going...

I forgot to set `namespace: System.get_env("EXQ_NAMESPACE")` in the conf

[2016-11-03 23:42] johnkelly opened #1780 "Dialyzer Errors for insert_or_update"
### Environment

* Elixir 1.3.4
* Ecto version (mix deps): 2.0.5
* Dialyxir 0.4.0

### Current behavior
`mix dialyzer`
[code]

The error is because of this callback typespec:
https://github.com/elixir-ecto/ecto/pull/1779/files

The linked pull request above fixes the error, but I noticed that:
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/schema.ex#L317-L321
Explicitly, states that

[2016-11-04 08:31] harfangk commented on #1686
@josevalim
I was having the same problem and was about to send a PR, but I see that there was already an issue so I comment here instead.

In your commit you fixed the `many_to_many :organizations, join_through: UserOrganization` part.
But you forgot to fix the same mistake in `many_to_many :users, join_through: UserOrganization` part just a few lines below that.

[2016-11-04 09:29] josevalim commented on #1686
@harfangk oh, good catch! can you please send a pull request?

[2016-11-04 09:35] #1780 closed

[2016-11-04 12:19] harfangk commented on #1686
@josevalim
Hey, nvm. It's already fixed with PR #1706 ! It's all well and good.

[2016-11-04 19:31] rranelli commented on #1773
The work stealing is also something that happens when you're doing deployments.
The work scheduled by a previous version might be scheduled in a node in a newer version and vice-versa.

I've had my share of problems like this more than once. The simplest solution I'd recommend to avoid this issue is stop exq's application in all your nodes *before* rolling out the new code.

[2016-11-08 09:43] josevalim opened #1787 "Use utc_date_time and naive_date_time"
/cc @lexmag.

[2016-11-08 09:45] #1787 closed

[2016-11-08 21:20] kenabe commented on #1462
In a Phoenix app, this error happens if you try to run ecto queries in a test module with `use ExUnit.Case` instead of the appropriate `use <YourApp>.ModelCase`

[2016-11-09 08:46] sstine commented on #1776
asdasd
asdasd
asdasd

[2016-11-09 19:36] madshargreave commented on #1010
@geofflane Were you able to perform a join on the result of the function, if so, mind sharing how you managed to do it? I keep getting syntax errors related to parentheses

[2016-11-09 19:40] geofflane commented on #1010
@madshargreave Something like:

[code]

[2016-11-09 19:42] madshargreave commented on #1010
Perfect, thanks!

[2016-11-09 22:01] josevalim opened #1789 "Add a ping repository operation"
We need a way to check if the database is alive and that won't crash if the database isn't. It probably requires adapter support. @fishcakez thoughts?

[2016-11-10 01:56] jjahraus commented on #1207
**stack overflow:**
[ecto-postgres-install-error-password-authentication-failed](http://stackoverflow.com/questions/35785892/ecto-postgres-install-error-password-authentication-failed)

links this issue #1207 causing much confusion

**The solution to:**
[code]
**is:**
[code]
**reference:**
[solve-mix-ecto-create-postgresql-password-issue-with-phoenix](https://juwondaniel.wordpress.com/2016/09/23/s

[2016-11-10 04:43] adamboas opened #1790 "Changeset.Relation raises runtime error rather than InvalidChangesetError"
### Environment

* Elixir version: 1.3.2:
* Database and version: PostgreSQL 9.5.4
* Ecto version (mix deps):2.0.2
* Database adapter and version (mix deps): postgrex 0.11.2
* Operating system: OS X Sierra

### Current behavior

If you provide invalid joins in your Changeset for a many_to_many relation it raises a RuntimeError

### Expected behavior

I would expect it to raise an Ecto.InvalidChang

[2016-11-10 05:55] josevalim commented on #1790
Can you please include the full error, stacktrace and an example of the
changeset fields being set?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-11-10 08:51] Frost commented on #1207
@jjahraus That's a great post describing solutions to some issues.

However, your solution to have the `config/dev.exs` username key match a valid postgres means that everyone who works on a project will have to have a postgres user with a specific username set up, since `config/dev.exs` tends to be checked into source control.

The reason I created this issue from the start is that I am lazy and

[2016-11-10 11:30] adamboas commented on #1790
The stacktrace is below. Unfortunately it doesn't dump the Changeset as it is just a RuntimeError.

The Question schema looks like this:
[code]

I took a look at the Changeset.Relation#on_replace where the below error message originates and it appears that this is intended behaviour.  I might be missing something but it seems like failing to save because of an invalid changeset should consistently

[2016-11-10 11:35] josevalim commented on #1790
Thank you! If you check the `:on_replace` option mentioned in the error message, there is an optio to mark as invalid. I believe that's what you want:

      many_to_many :factors, WaffleEventImporter.Factor, join_through: "factors_questions", on_replace: :mark_as_invalid

[2016-11-10 12:17] denispeplin commented on #1648
What is the way to actually change a value from nil to ""?
I have a real use case: answer to a question can be empty, and I won't ask it again. But I can't update a field via changeset:
[code]

[2016-11-10 13:00] josevalim commented on #1648
@denispeplin we don't provide an official API for it yet because we are deprecating the existing arguments. However, you can achieve it by doing this:

[code]

We will provide a better API in future versions.

[2016-11-10 21:53] adamboas commented on #1790
Ah yes, that is the behaviour I was after. Thanks so much @josevalim .

[2016-11-10 21:53] #1790 closed

[2016-11-11 13:39] ardhitama commented on #1279
Experienced similar error with Elixir 1.3.4 and Ecto 2.0.5.
Tried with `pool_size: 20` and no `pool_size`
I'm using `MIX_ENV=prod`.

This issue is the closest one after searching.
[code]

[2016-11-11 14:56] madshargreave opened #1791 "Interpolated value in join not accessable as parameters in stored procedure"
### Environment

Elixir 1.3.2
Postgres 9.5
Ecto. 2.0.5
Postgrex
OSX

### Current behavior

I have the following snippet of a query
[code]

When executed, it will cast the following error

[code]

Then, by inspecting the generated query, it appears the the `user_id` argument that is interpolated in the `groups` join, is not carried over into the parameters to the SQL function as can be seen below:

[2016-11-11 15:03] josevalim commented on #1791
What is the type of the user_id columns for the Group schema and in the database in the "groups" table?

[2016-11-11 15:04] madshargreave commented on #1791
String

[2016-11-11 15:25] josevalim commented on #1791
Can you please include the schema for Group? It seems the `user_id` value is an integer, can you confirm that? That wouldn't match your reply of it being aa UUID.

In any case, such mismatches was supposed to be caught by the query planner.

[2016-11-11 15:32] madshargreave commented on #1791
Group schema:

[code]

[2016-11-11 15:47] josevalim commented on #1791
Alright, so this doesn't make sense. This was supposed to error before reaching Postgrex. Do you have an easy way to reproduce this so we can further investigate it? Alternatively you can quickly try Ecto 2.1 and see if it has been fixed.

[2016-11-11 16:27] madshargreave commented on #1791
It appears to have been solved in Ecto 2.1. Is this safe for production-usage at this stage?

[2016-11-11 17:05] josevalim commented on #1789
We are closing this because the ping implementation on the connection is not a considerably improvement compared to running something like a "SELECT 1".

[2016-11-11 17:05] #1789 closed

[2016-11-11 17:06] josevalim commented on #1791
Awesome.

Yes, it is. The only reason it has not been released yet is because we are waiting on Postgrex to become 1.0. It should be out this or next month.

[2016-11-11 17:06] #1791 closed

[2016-11-12 21:29] renanvalentin commented on #840
Here is not working 😢 , I'm using `Poison ~> 1.5.2` and I've tried to use the `@derive` on my model, but it keeps throwing the same error:

[code]

And here's my route:

[code]

```     ** (Poison.EncodeError) unable to encode value: {:sale_time, "is invalid"}```

Any idea ?

Thanks guys!!

[2016-11-13 14:29] abitdodgy commented on #659
I think it's a shame that we can't get `defaults: [public: true]`. This is a handy feature.

In my case, which I don't think is unusual, I have a `Membership` schema that links `Account` and `User`. The `Membership` schema has a role column, `staff` or `admin`. An Account will always define its associations based on that column. So...

[code]

There's no need here for a generic `has_many :users`.

[2016-11-13 15:09] zachdaniel opened #1797 "Provide support for schemas scoped by a query"
One of the best things about Ecto is the separation of concerns that it offers with regards to your application's data, and that data's representation in the application layer.  One thing that we've noticed that has drastically cleaned up design throughout our application is creating new, first class objects to represent different 'kinds' of entities.  A simple example would be having a `users` ta

[2016-11-13 15:14] zachdaniel commented on #1797
Although I'm fairly new to elixir+ecto, its possible I may end up taking a stab at this.

[2016-11-14 00:29] maxsalven opened #1798 "Confusing behavior when manually updating an existing record"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir version (

[2016-11-14 05:20] jjahraus commented on #1207
@Frost good points thanks for the info!  Ill keep this in mind next time I setup a system, for now I am happy I can contiune working through Programming Phoenix book.

[2016-11-14 08:25] michalmuskala commented on #1798
Only the `changes` part of changeset is sent to the database on update. You're only changing the `b` field, so that's the only one that is updated. Ecto has no way of knowing what changed without doing two queries or sending all the fields on each update - both behaviours being extremely wasteful in resources.

I've enhanced the `Repo.update/2` documentation to mention this explicitly.

[2016-11-14 08:25] #1798 closed

[2016-11-14 19:37] josevalim opened #1799 "Use iodata when building SQL queries"
Let's do it by parts so we don't have one big PR. :)

I believe the adapter should still return a binary (because of query caching) but the building can be done with iodata and then we can call IO.iodata_to_binary once at the end.

[2016-11-15 10:27] michalmuskala commented on #1799
It's funny that you mention it, since I was working on it some time ago, but didn't finish. I have regular query generation for postgres (excluding ddl).

Through my measurements I didn't notice any significant speed difference, though I assume the GC pressure would be much lower since it would be producing less garbage. It might be that I messed up with the measurements.

[2016-11-15 17:55] josevalim commented on #1797
I don't believe we would be able to support this, except for every specific cases which would definitely be more limited than PG views.

There are different ways you could solve this problem in Ecto. For example, you could define the schemas as:

    schema "unset_users" do
      ...
    end

And now, if you try to do `Repo.all(User)`, it will fail. This gives you data protection. You can now expo

[2016-11-15 18:24] gridbox opened #1803 "Setting `log: false` for repo in config.exs breaks mix tasks `ecto.create` and `ecto.drop`"
I currently have `log: false` for my repo in config.exs to prevent DB logging as outlined in the Ecto.Repo hex documentation.  However, when this is set to false, I am unable to execute mix tasks `ecto.create` and `ecto.drop`

### Environment

* Elixir version (elixir -v): Elixir 1.3.2
* Database and version: PostgreSQL 9.5.3
* Ecto version (mix deps): 2.0.5
* Database adapter and version (mix dep

[2016-11-15 18:34] #1803 closed

[2016-11-15 18:46] zachdaniel commented on #1797
I can definitely see the value in allowing views to be created from Ecto queries, but that still doesn't really solve the problem of always having to store the full up/down of an entire view in every migration that alters it.  A simple example:

[code]

This sort of thing can get tedious and annoying quickly, especially when the number of views/iterations on views rises.  It might be nice to have

[2016-11-15 18:58] josevalim commented on #1797
Yeah, unless Postgres supports something like that, I am not sure we can support it with sane semantics or without doing tons of work. I think supporting queries will at least make things a bit more digestable.

[2016-11-15 20:14] KronicDeth commented on #1780
Note for others: a temporary work-around, if you don't want to run Ecto 2.1 or pull in #1779 on your own fork, is to add the following in any `Repo` modules where you `use Ecto.Repo`:

[code]

[2016-11-15 22:28] zachdaniel commented on #1797
It would be possible to get something a little bit in between if we added a few features to composable queries.  For instance, if you could select in pieces, deselect, tag certain filters, and use those tags to remove them later, then a series of migrations of a view could be represented as ongoing alterations of a query.

like
[code]

Obviously a lot of contrived examples, and I'm pretty sure it

[2016-11-15 22:30] zachdaniel commented on #1797
In fact, I don't know if it is a good idea to generate views w/ the ecto query builder.  Lets say you have a one year old migration that runs a query over your `MyApp.User` model, you run into huge issues as soon as you want to remove or rename that model, in that your history is no longer consistent.  We made this same mistake at my last company.  Its good practice to never reference application

[2016-11-15 22:37] josevalim commented on #1797
The problem is that we would need to store those views and queries in the database, because we don't quite now which query is currently in the database (and we don't load all previous migrations as well so we can't know from migrations).

Oh, if you are using Ecto queries to build views, you must not access your app code. Just write the ecto query without calling pieces of your app.

[2016-11-16 01:56] josevalim commented on #1797
Ok, so I would like to propose a possible solution to your problem that relies on composable queries. The idea is to have a single schema but build the filters using query composition:

[code]

The idea is to build a schema that you cannot really query until choose a type. Once the type is chosen, you set the proper schema. This approach will work on most cases since Ecto allows you to pass querie

[2016-11-16 02:59] mgwidmann commented on #981
Ran across this issue recently, changing the default doesn't actually fix the issue. As @michalmuskala points out, an array with default of `nil` which is unchanged (during an insert operation for example) will not have the `validate_length(:array, min: 1)` rule applied to it. Because `validate_change` only looks at the field *if it has been changed*, fields which are unchanged are not validated.

[2016-11-16 04:09] michalmuskala commented on #981
It works correctly now. If you want a field to be required than the function you want to run is, well, `validate_required/2`. All other validations validate a particular value - until it's in changes, there's no value to validate, so it doesn't make sense to run the validation - `validate_length` is no exception here.

[2016-11-16 19:19] josevalim opened #1805 "Support views in migrations"
The idea is to introduce functions called `view/1` and `view/2` such that:

    create view(:my_view, from(u in "users", where: u.type == :student))
    drop view(:my_view)

`create` requires a query to be given to the view, `drop` does not.

We will also introduce a `create_or_replace/1` function, similar to `create/1`, but mean to be used with views.

[2016-11-16 19:20] josevalim commented on #1797
Ok, besides the changes above, I have also created another issue for views: #1805. We can close this one now (discussion can continue in the separate issues). :)

[2016-11-16 19:20] #1797 closed

[2016-11-16 19:55] OvermindDL1 commented on #1805
Definitely want that, I have a few view's in my system right now but I setup and tear them down via SQL.

[2016-11-17 11:23] kelvinst opened #1807 "Postgres syntax error when renaming table with prefix"
First: I don't know if is this an ecto or a postgrex problem, I opened here, maybe you guys can tell me, and I would be happy to move this issue to the right repo, if needed.

### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.5.4
* Ecto version (mix deps): 2.0.5
* Database adapter and version (mix deps): postgrex 0.12.1
*

[2016-11-17 11:29] kelvinst commented on #1807
FIY, I "workaround" it with `execute "ALTER TABLE #{prefix}.prospects RENAME TO companies"`, but this is far away from the ideal. 😬

[2016-11-17 11:37] kelvinst commented on #1807
One more thing: just found out the code https://github.com/elixir-ecto/ecto/blob/v2.0.5/lib/ecto/migration.ex#L597 which puts the prefix in the second parameter too.

My question now is: how to implement it so the rename command still working for the other adapters?

[2016-11-17 12:02] michalmuskala commented on #1807
I believe it should be enough to modify this function to skip emitting prefix for the second table, if the prefix is the same:
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres/connection.ex#L665

[2016-11-17 12:48] kelvinst commented on #1807
Ow yeah! Than you so much. Opening PR ;)

[2016-11-17 13:31] #1807 closed

[2016-11-17 16:17] aaronjensen commented on #1479
We just hit this as well. It'd be great if we could at least build queries to use in fragments rather than having to use strings.

[2016-11-18 23:43] danielberkompas commented on #1466
I'm having an issue with `datetime_add/3`. Here are the relevant portions of my schema:

[code]

My query:

[code]

The error I get:

[code]

Does `datetime_add/3` need to be updated? I don't understand why this cast error is happening.

[2016-11-19 08:34] josevalim commented on #1466
It is a bug on Ecto 2.1. We are still supposed to be backwards compatible, so the example above should not error.

[2016-11-19 08:59] michalmuskala commented on #1466
@josevalim what would be the appropriate fix here? Allow `Ecto.DateTime` when casting the `naive_datetime` type? Should we allow the ecto types when casting the new types in general?

[2016-11-19 09:06] josevalim commented on #1466
@michalmuskala I am thinking we should support it specially in the naive_datetime function.

[2016-11-19 12:08] kostonstyle opened #1810 "Field is already in the schema"
Hi
I  created following schema:

[code]
So when I want to migrate it, it tells me

In my opinion, it shouldn't be an error, because the `code` belongs to `LanguageCode` schema.

Thanks

[2016-11-19 12:13] josevalim commented on #1810
I believe you are misunderstanding Ecto belongs_to. For a belongs_to, the foreign_key is the one defined in the current schema. Maybe you wanted to write it as:

    belongs_to :language, LanguageCode, references: :code

?

[2016-11-19 12:13] #1810 closed

[2016-11-19 12:14] #1466 closed

[2016-11-19 13:26] kostonstyle commented on #1810
Ah ok. What is the difference between foreign_key and references. I read the doc and could not configure it out. May can you please explain me?

Thanks jose for helping.

[2016-11-19 13:48] michalmuskala commented on #1810
Please use the elixir forum or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you.

The `references` field is one that exists in the referenced table. The `foreign_key` is the field containing the reference in the referencing table.

[2016-11-19 14:07] josevalim commented on #1810
@kostonstyle  the foreign_key is the field that points to the referenced one. for example, for posts has many comments, the comment has a foreign key of comment_id that references the posts primary key called id.

[2016-11-19 14:10] josevalim commented on #1810
Another way to look at it is "the foreign key points to the referenced column, this means the referenced columns **must exist** before the foreign key is created".

[2016-11-19 17:06] AndrewDryga opened #1813 "Update passes stale struct when changeset doesn't have changes"
Example code (loan_id is not a primary key):
[code]

Output:
[code]

I guess it happens because Ecto ignores updates on changesets that doesn't have changes, but I want to raise question is this is a valid behavior, because it is expected that `update` will raise `Ecto.NoPrimaryKeyValueError` when key is not present.

If this is a expected behavior we may modify docs to clarify this issue.

[2016-11-19 17:20] josevalim commented on #1813
@AndrewDryga we should defintiely move the primary key check up so we raise even if there are no changes.

[2016-11-19 18:01] AndrewDryga commented on #1813
@josevalim Done 👍

[2016-11-19 18:09] #1813 closed

[2016-11-22 09:46] madshargreave opened #1817 "timeout when query is executed inside GenServer callback"
Environment

Elixir: 1.3.0
PostgreSQL 9.5
Ecto: 2.1
OS: OSX

Current behavior

If it execute the following Ecto query which is called when invoking a callback in a GenServer.

If this callback is invoked from a channel, Postgrex times out after 15s.
If it is invoked from anywhere else, including an IEX session, with the exact same arguments, it finishes in a few milliseconds without problems.

[co

[2016-11-22 09:53] josevalim commented on #1817
No ideas. Can you provide a sample application that reproduces the error?

[2016-11-22 09:55] madshargreave commented on #1817
I've tried, but unfortunately the error only appears in production

[2016-11-22 09:57] josevalim commented on #1817
What is the exact error you get with stacktrace?

[2016-11-22 09:57] josevalim commented on #1817
When you invoke inside IEx, are you also invoking it in production? Can it be that in production that query *is* taking more than 15 seconds because of the database?

[2016-11-22 10:11] madshargreave commented on #1817
That was more initial thought, but running from IEX in production works fine

[code]

[2016-11-22 10:20] lukerollans commented on #1817
@madshargreave that looks like an error to me!

[2016-11-22 10:25] lukerollans commented on #1805
Will be keeping an eye on this. The frontend to one of our biggest apps relies fairly heavily on views, would be very nice to manage them natively

[2016-11-22 10:27] josevalim commented on #1817
@madshargreave that error means the query has been running for long. Try increasing the timeout for those queries by passing `Repo.all(query, timeout: 30_000)` (or even larger) and see if it changes anything.

@fishcakez does the above mean the DB closed the connection on us or does it simply mean we closed it on error?

[2016-11-22 10:57] joshuataylor commented on #1805
What about materialized views?

[2016-11-22 10:57] madshargreave commented on #1817
I tried with 60000s and it still times out.

I've also tried running the exact same query as generated by Ecto manually in the production postgres terminal, and it also returns in a few milliseconds

[2016-11-22 11:09] josevalim commented on #1805
@joshuataylor we can support a `:materialized` option in `view/3` or a `materialized_view/2` function as well. I will need to study the behaviour in different databases before deciding which one works best.

[2016-11-22 11:10] josevalim commented on #1817
Sorry, I am stumped.

[2016-11-22 11:31] fishcakez commented on #1817
Is the query in the GenServer run inside a transaction? Timeout only
applies to the transaction as a whole. The timeout option is ignored for
queries inside a transaction.

On Tuesday, 22 November 2016, José Valim <notifications@github.com> wrote:

[2016-11-22 11:32] fishcakez commented on #1817
Ah the stacktrace says its not.

On Tuesday, 22 November 2016, James Fish <james@fishcakez.com> wrote:

[2016-11-22 15:03] philipgiuliani opened #1819 "or_where seems to be very strange in master"
### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): Postgres 9.5
* Ecto version (mix deps): 3afe68832a17fe056bac2da75e43f2ff26b6d88b
* Database adapter and version (mix deps): postgrex 1.0-rc1
* Operating system: OSX / Linux

### Current behavior

[code]

### Expected behavior

As you can see in the current behavior, the conditions are m

[2016-11-22 15:17] josevalim commented on #1819
It is explained in the commit itself. For convenience:

[code]

:)

[2016-11-22 15:17] #1819 closed

[2016-11-22 15:18] josevalim commented on #1817
@madshargreave if you find out how to reproduce this error, we would appreciate it, otherwise I am afraid there isn't much for us to do. Try, for example, using the same configuration options for prod and dev (except by the database credentials).

[2016-11-22 19:22] madshargreave commented on #1817
No problem, I'll see if I can produce something and report back

[2016-11-22 19:34] AndrewDryga commented on #1817
We have same on production, It happens when we deal with big workloads that overloads connection pool, so timeouts start to happen. Thats because you can spawn GenServers that make queries much faster than DB/Repo pool can handle it.

You may want to [increase `pool_timeout`](https://hexdocs.pm/ecto/Ecto.Repo.html#module-shared-options) (up to `:infinity`). But you should be careful with it, becau

[2016-11-22 19:43] madshargreave commented on #1817
This makes sense, but I still don't think it's the exact same issue.

For example, I am not hitting the `pool_timeout` limit, but rather, it's the query that is timing out, and it also wouldn't explain why I can invoke the GenServer from IEX without problems

[2016-11-22 20:53] AndrewDryga opened #1820 "Delegate storage behavior to other module (not adapter)"
While creating new Ecto adapter I noticed that to support migrations Ecto requires a single adapter to implement three behaviors, but It makes adapter code really large and messy.

Maybe we can add helper method `adapter.__storage__` and `adapter.__structure__` that will be able to delegate all required methods to other modules?

[2016-11-22 21:26] fishcakez commented on #1817
In many situation you may benefit from decreasing the pool_timeout if you are getting timeouts because it keeps the queue shorter and it may not change the number of processes that crash significantly. Increasing the timeout is equivalent to increasing the maximum size of the queue, a longer queue takes longer to empty. This means periods of frequent timeouts can last longer and magnifies the affe

[2016-11-22 21:58] josevalim commented on #1820
Make your adapter have only small functions that delegate to something else doing the work. :)

[2016-11-22 21:58] #1820 closed

[2016-11-23 11:06] hauleth opened #1821 "Ecto migration do not set default value for `binary_id` in PostgreSQL schema"
### Environment

* Elixir version (elixir -v):
[code]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.):

        psql (PostgreSQL) 9.6.1

* Ecto version (mix deps):
[code]

* Database adapter and version (mix deps):
[code]
* Operating system:
[code]

### Current behavior

Currently when I set `binary_id` as a primary key in my table PostgreSQL Ecto doesn't set any default value for `id`

[2016-11-23 12:26] josevalim commented on #1821
Yes, that's by choice. You can either add the default manually or rely on Ecto to generate one for you.

[2016-11-23 12:26] #1821 closed

[2016-11-23 13:08] josevalim commented on #1763
Ping? :)

[2016-11-23 13:10] AndrewDryga commented on #1763
Pong :).

Right now I'm working on adapter, will try to allocate some time on this issue on next week (but I did not forgot about it).

[2016-11-24 09:51] ehtb opened #1824 "association removed when casting"
This very much looks like a problem on my end, but since I have exhausted all my options and gathered all infos, the issue remains. I have also asked it on [Stackoverflow](http://stackoverflow.com/questions/40781811/how-to-build-an-association-using-ecto-and-guardian).

### Environment

* Elixir version (elixir -v): Elixir 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.5.5
* E

[2016-11-24 10:12] josevalim commented on #1824
The `user_id` field is not in the changeset, because you have not explicitly given it as a change, but it is still inside `changeset.data.user_id`. If you insert the changeset, I believe everything should still work as we will lift the other fields from `changeset.data`, including the `user_id`. Can you please confirm that?

[2016-11-24 10:19] ehtb commented on #1824
Thanks, you're right. I was only checking the changeset, without considering the changeset.data properties.

[2016-11-24 10:19] #1824 closed

[2016-11-24 20:57] Linuus commented on #1744
@thiagoarrais Are you still working on this? If not, I'd be happy to take a stab at it :)

[2016-11-24 21:01] thiagoarrais commented on #1744
Go ahead. It would be nice to see someone that knows this stuff doing it.
'cause I have no idea what I'm doing here.

:-D

On Thu, 24 Nov 2016 17:57 Linus Pettersson, <notifications@github.com>
wrote:

[2016-11-24 21:09] Linuus commented on #1744
@josevalim Is it ok if I take this issue? You can assign it to me if you'd like :)

[2016-11-25 15:09] eniolopes commented on #1805
can i work on this one?

[2016-11-25 15:19] josevalim commented on #1805
Yes, please!

[2016-11-25 17:20] AndrewDryga commented on #1763
@josevalim I need your help.

I've investigated code structure and it looks like that are places that don't have access to changeset, eg: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/changeset/relation.ex#L299.

I may add changeset as 6-th optional argument and use `changeset.types` when they are present, but It will add side effects to `Ecto.Relaction.cast` behaviour, since schema str

[2016-11-25 18:41] josevalim commented on #1763
Sure. Let's postpone it and wait until 2.1 is out.

[2016-11-25 19:16] Linuus commented on #1744
I tried to get this working today but I'm not sure how we can do this in a good way though. You can pass custom loggers now and we don't know what log levels they support, right?

So, what we can do is special case the `Ecto.LogEntry` logger in this macro code:
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo.ex#L93-L100

This code works, but it's a bit ugly. I don't like to duplicate

[2016-11-25 22:40] josevalim commented on #1744
@Linuus we should check only for Ecto.LogEntry so I would write it like this or similar:

[code]

[2016-11-26 01:39] michalmuskala commented on #1744
Wouldn't it be better to do this check at runtime in the `Ecto.LogEntry.log/1` guard?

[2016-11-26 07:43] Linuus commented on #1744
@michalmuskala We could do that but the whole point of the issue was to catch this at compile time to avoid runtime issues.

[2016-11-26 10:00] mtwilliams commented on #1744
As far as I can tell, logging levels can only be one of the prescribed. Unless that is an ambiguity in their specification. If so, the relevant documentation and typesecs need to be adjusted.

[2016-11-27 20:05] Linuus commented on #1744
@mtwilliams Yes, for `Ecto.LogEntry` there are a set list of log levels. But what if I have a custom logger, can that have other log levels or do they all have to conform to the same list of log levels?

[2016-11-27 20:06] josevalim commented on #1744
We should check only for LogEntry because for other loggers I believe it is not even required for the first argument to be a log level.

[2016-11-28 07:13] #1744 closed

[2016-11-28 10:21] Moussenger opened #1826 "[elixir-ecto] Do preload with join instead run several queries (and whithout duplicates)"
Using this issue: https://github.com/elixir-ecto/ecto/issues/1478

It would be good an option to force preload to run join instead two queries and merge the results like it's doing now.

Maybe include a merge option on query:

`from users in User,
  left_join: subscriptions in assoc(users, :subscriptions),
  preload: [subscriptions: subscriptions],
  merge: [subscriptions]`

So, we can choose if w

[2016-11-28 10:29] josevalim commented on #1826
Unless I misunderstood your request, that's exactly how it works today.

1. This performs one query:

    from users in User, left_join: subscriptions in assoc(users, :subscriptions), preload: [subscriptions: subscriptions]

2. This performs two queries:

    from users in User, preload: [:subscriptions]

[2016-11-28 10:32] orestis commented on #548
Just as a data point, in Postgres the Text column has identical performance than the varchar: from https://www.postgresql.org/docs/current/static/datatype-character.html

I would argue that the default should be Text - however this seems like a case where the adapter should make the decision?

[2016-11-28 13:21] Moussenger commented on #1826
Oh! Excuse me. I have a little problem with some tests. That works fine!

[2016-11-28 13:21] #1826 closed

[2016-11-29 22:11] josevalim opened #1828 "Provide Repo.init callback for dynamic configuration"

[2016-11-30 08:13] josevalim commented on #1828
I think we should make it `init/2` and also pass the environment as argument. WDYT @fishcakez @michalmuskala?

[2016-11-30 08:23] michalmuskala commented on #1828
I don't think it's a good idea. We should still use mix config for the configuration and managing the environment. It's just that we make it explicit how it gets there.

[2016-11-30 08:38] josevalim commented on #1828
@michalmuskala so how we are going to configure the URL dynamically only for production? Can you provide an actual code sample?

[2016-11-30 12:08] michalmuskala commented on #1828
One way would be doing something like this:

[code]
So whenever the `DATABASE_URL` is set, we use it instead of the config values.

The advantage is that it's explicit on what's happening and since it's happening at runtime it's very easy to change and modify.

Another, maybe better, way could be:

[code]

This has exactly the same behaviour as we have right now, but it's all happening in the user

[2016-11-30 12:48] josevalim commented on #1828
I see, thanks. I think we should pass the config in anyway, no reason to ask the user to read it almost always. If they don't want it, they can simply not use it.

[2016-11-30 13:02] michalmuskala commented on #1828
So I would prefer to have something like this, instead:
[code]
in the supervisor and later you receive the config as argument in the init.

[2016-11-30 13:26] josevalim commented on #1828
@michalmuskala what would we be possibly gaining with it?

[2016-11-30 13:35] michalmuskala commented on #1828
It's explicit, if user wants to do something else, it's clear where to change it, and we no longer need the `otp_app` hack.

[2016-11-30 13:39] josevalim commented on #1828
@michalmuskala I am not sure I buy it. The user no longer needs to pass otp_app on `use` but the same otp_app is now hardcoded in the same module. Just a couple lines below.

Explicit is general a good reason but we need to have something to gain for it. Otherwise why have abstractions? Furthremore, I don't expect everyone will have to define a `init` function and it would be unnecessary to force

[2016-11-30 13:41] josevalim commented on #1828
Plus there is theoretically no need to use `init` if we could simply support those options to be given on start:

    supervisor(Repo, [url: System.get_env("DATABASE_URL")])

[2016-11-30 13:58] michalmuskala commented on #1828
Most of the time the `Repo` module is generated, so it doesn't really matter if we have a bit more code there.

The huge advantage of `init` is that it's a regular function invoked at runtime, where config evaluation happens effectively in different stages depending on how you deploy or package your application. Also, defining the `init/1` in repo makes it very similar to how supervisor works - yo

[2016-11-30 14:01] josevalim commented on #1828
That should not be used as an excuse to generate code that does not need to be generated.

That pushes the complexity all up to the user of the API. Now they need to know where we need to configure key `:a` and key `:b` and the answer is going to be tied to an implementation detail, which may even change between releases.

Why? Why are we worried about always reading it?

[2016-11-30 14:38] josevalim commented on #1828
After attempting to write a patch for this I realized there is a bigger problem: configuration specfied on `def init` won't be available on `ecto.create` or `ecto.drop` because we cannot start the repository for running those operations (specially `ecto.create` since the database does not yet exist). Or we need to have a `type` flag being passed to `init/2` or we need to find another solution.

[2016-11-30 16:56] #1828 closed

[2016-11-30 18:05] josevalim commented on #1817
Since it has been a week, is there any extra information to reproduce this issue?

[2016-12-03 20:00] madshargreave commented on #1817
Still haven't been able to solve it unfortunately

[2016-12-04 19:57] kostonstyle opened #1829 "It should show error message"
Hi all

When I create the new table:

[code]

As you can see, I've forgot to set `primary_key: false`, what happened after migrate statement is, that the `id` column will be created. In my opinion, the compiler should complain.

It is a bug?

Thanks

[2016-12-04 22:10] josevalim commented on #1829
I believe it is OK as is, what you are doing is that you have a composite primary key with three entries, including the ID.

[2016-12-04 22:10] #1829 closed

[2016-12-05 06:32] kostonstyle commented on #1829
Ok, thanks jose.

[2016-12-05 17:33] vasspilka opened #1831 "Embeded schema docs"
Some info on Ecto documentation about embeds are outdated, specifically the docs tell us to use `put_change` but it raises the following error
[code]
I suppose its from the major changes to Ecto 2.x
Should I look into it and make a PR with updated docs? Is it already being worked on or needs more time?

[2016-12-05 17:55] josevalim commented on #1831
Can you please point to where in the docs the advice is given? Thank you!

On Mon, Dec 5, 2016 at 18:33 Vasilis Spilka <notifications@github.com>
wrote:

[2016-12-05 18:29] josevalim commented on #1817
Ok, I will close this. Please drop a comment or reopen if you have information for us to reproduce it.

[2016-12-05 18:29] #1817 closed

[2016-12-05 18:53] fishcakez commented on #1776
@rbishop this would be helpful for me when working on Ecto. If you could find some time to pick this up I would be very grateful.

[2016-12-05 19:01] vasspilka commented on #1831
In [embed_one](https://hexdocs.pm/ecto/Ecto.Schema.html#embeds_one/3) there is this code example
[code]

and same in `embeds_many`.

[2016-12-05 19:02] josevalim commented on #1831
Yes, great catch. A PR would be very appreciated. :)

[2016-12-05 19:03] vasspilka commented on #1831
ok :)

[2016-12-05 19:19] hauleth commented on #1805
I was just thinking about introducing it by myself. What would be useful with this one is:

* triggers
* functions

As it would allow us to create additional things that would be useful with views.

[2016-12-05 20:22] michalmuskala commented on #1805
We should carefully consider if we're able in any way to provide something more usable than `execute(SQL)`.
I'm not sure I can imagine providing something more than
[code]

and I'm not sure I see advantage over

[code]

[2016-12-05 20:32] rbishop commented on #1776
@fishcakez We just stopped using MySQL since Postgres is HIPAA certified on AWS RDS now, but I'll try and take care of this anyway. I will try my best in the coming weeks!

[2016-12-05 20:36] hauleth commented on #1805
@michalmuskala there is one: autocreate `down` method for rollbacks. However there is only a little (if any) advantage of doing that. Maybe except allowing to reference function types using `Ecto.Type.type/0` which would be handy.

[2016-12-05 20:39] hauleth opened #1832 "Allow enabling extenstions using migrations"
It would be nice to have `Ecto.Migration.extension` method which would allow us to run:

[code]

Or similar code. Similar to #1805

[2016-12-05 20:57] michalmuskala commented on #1832
Extensions are very postgresql specific. I would personally rather see them in a separate package, something like `PostgresEcto` that could also include other postgresql specific extensions - macros wrapping fragments for some common functions, etc.

[2016-12-05 20:58] hauleth commented on #1832
I can try to produce something like that.

[2016-12-05 21:07] josevalim commented on #1832
Unfortunately it is not possible to implement something like the above in a third party project. In any case, I don't mind having Postgres specific behaviour in Ecto most times, specially this one which is a very minor feature.

[2016-12-05 21:09] hauleth commented on #1832
@josevalim I can accept that challenge.

[2016-12-05 21:10] michalmuskala commented on #1832
Maybe we should look into ways of making it possible for extensions to provide such behaviour?

[2016-12-05 21:16] josevalim commented on #1832
@michalmuskala I would love to and tried a couple times in the past. The best solution I had in mind is to define one protocol per adapter and I am not confident it is the best way to go.

[2016-12-06 10:56] vasspilka commented on #1831
Hmm looked into it, and I'll make a small PR that will change `put_change` to `put_embeded`, however the documentation problem is a bitsy bigger, let me explain below.

Embeds are given an `id` field that contains values similar to this `"df73de5d-c218-44b5-9f3b-4b9425cfb87f"`, these id values have to be included in the attributes if you want to update an embedded structure, all this I did not fin

[2016-12-06 13:53] josevalim commented on #1831
All of your comments and conclusions are correct. :) So multiple PRs to improve this are welcome!

It is likely some of those aspects are documented elsewhere, maybe in the changeset module or in has_one/has_many, but including more examples won't hurt.

[2016-12-06 15:18] vasspilka commented on #1831
made first PR, leaving this open to remind me to check out more of the docs and update something if I deem it useful.

[2016-12-06 15:19] #1831 closed

[2016-12-07 17:37] michalmuskala opened #1837 "Support associations inside embeds"
When embeds were introduced it was never considered that an association could be inside an embed. Because of this, it silently fails.

There are couple places where changes are needed:
* casting - as attempted by https://github.com/elixir-ecto/ecto/pull/1833
* persisting - amending the `surface_changes` function in https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/schema.ex#L491-L528
*

[2016-12-07 20:08] vintikzzz commented on #1220
@vegabook maybe a little bit late, but... https://github.com/vintikzzz/cassandra_ecto

[2016-12-08 05:08] i-m-v-j opened #1838 "timeout value increase in ecto."
hello, iam writing some complex queries and some times it takes more that 5 seconds to run. now the problem is, 8some times i time out from request.

i am using Ecto.Adapters.SQL.query() method to run queries. i want to know , i should i increase timeout values. without it , it is just timing out and can't do any processing.

[2016-12-08 09:20] josevalim commented on #1838
You can either `Ecto.Adapters.SQL.query(Repo, query, params, timeout: 30_000)` or by setting the `timeout: 30_000` in your Repo configuration in your `config/*` files.

[2016-12-08 12:15] michalmuskala opened #1839 "Adapter.transaction is required and optional at the same time"
We recently removed the `Ecto.Adapter.Transaction` behaviour and merged the functions with the main `Ecto.Adapter`. This makes it required for all adapters to implement the transactions in some way (most probably raising if not supported). Relevant commit: https://github.com/elixir-ecto/ecto/commit/e4e8fe8d16b596d0f72764e2b84d91b35706c943.

At the same time, in the `Ecto.Repo.Schema` module, we pr

[2016-12-08 12:28] michalmuskala commented on #1839
The initial issue that was solved by the problematic change: https://github.com/elixir-ecto/ecto/issues/1530

[2016-12-08 14:50] josevalim commented on #1839
Reverted in master.

[2016-12-08 14:50] #1839 closed

[2016-12-08 15:42] michalmuskala commented on #1530
The commit that solved this was reverted. I'm working on a different solution.

[2016-12-08 15:48] jfayad commented on #1837
I would also add that embeds should also work inside an embed.

I think this type of recursion shouldn't be limited by Ecto because each design is not right or wrong it always depends on how it will be used *at max show a warning if the recursion is really going deep*

[2016-12-08 15:56] michalmuskala commented on #1837
Embeds inside embeds should work correctly. This is a use case that is extensively tested.

[2016-12-08 19:02] #1838 closed

[2016-12-09 15:30] #1530 closed

[2016-12-09 16:29] ThijsWouters opened #1844 "Ecto.Changeset.no_assoc_constraint/3 doesn't generate errors with PostgreSQL"
### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.1.19
* Ecto version (mix deps): 2.0.6
* Database adapter and version (mix deps): postgrex 0.12.1
* Operating system: Ubuntu Linux

### Setup
[code]

### Current behavior

Raises a `Ecto.ConstraintError`

### Expected behavior

Sets an error in the changeset.

[2016-12-09 16:30] josevalim commented on #1844
Thank you for the report. Can you please show me your migration code as well?

[2016-12-09 16:34] josevalim commented on #1844
Actually, nevermind, I totally know where the issue is. :) It is related to your PG version.

Can you please try running Ecto's PG test suite? Something like this: `MIX_ENV=pg mix test`. You may see failures related to constraints, if so, they are due to the parsing code here: https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/postgres/connection.ex#L30-L54

[2016-12-09 17:57] josevalim commented on #1844
@ThijsWouters I started a branch that runs 9.2 tests on CI and I was able to reproduce the failures: https://github.com/elixir-ecto/ecto/pull/1845

I am working on a fix. :)

[2016-12-09 18:04] ThijsWouters commented on #1844
Great, thanks!

[2016-12-09 18:09] #1844 closed

[2016-12-09 18:25] ThijsWouters commented on #1844
I tried it and it works now. Thank you!!

[2016-12-09 19:14] vegabook commented on #1220
oooh - not late at all. Many thanks! Will check it out.

On Wed, Dec 7, 2016 at 8:08 PM, Pavel Tatarskiy <notifications@github.com>
wrote:

[2016-12-10 20:40] rodolfospalenza commented on #722
Hello, this problem is fixed? Ecto return this error when I try modify table with references.

[code]

- ecto 2.0.6
- postgres (PostgreSQL) 9.6.1

[code]

Thanks.

[2016-12-11 01:31] Alamoz commented on #840
I just experienced this problem adding a new model to an existing Phoenix app (upgraded to Phoenix 1.2.0, Elixir 1.3.) The solution shown by @estevaoam solved the problem, with an app warning of:  "warning: redefining module Poison.Encoder.Any (current version loaded from _build/dev/lib/poison/ebin/Elixir.Poison.Encoder.Any.beam)  lib/myapp/encoder.ex:1"

I find it strange that my original model d

[2016-12-11 03:49] Alamoz commented on #840
OK, the solution shown by @estevaoam worked for me only in local development mode, but then caused an error preventing a release from building. The way to solve this problem is answered by @josevalim on Stack Overflow:

http://stackoverflow.com/questions/32549712/encoding-a-ecto-model-to-json-in-elixir/32553676#32553676

Using Phoenix as an API seems to be a popular use case. @chrismccord - Perhap

[2016-12-11 08:37] michalmuskala commented on #840
A great example of how to deal with json in phoenix are the generated json endpoints with `phoenix.gen.json` task. As far as I understand the generators are considered mainly as a learning resource, and part of guides.

[2016-12-11 08:59] Alamoz opened #1848 "Character encoding problem after upgrade to Phoenix 1.2.1, Elixir 1.3.3"
* Elixir 1.3.3
* Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:2:2] [async-threads:10] [kernel-poll:false]
* PostgreSQL 9.5.5
* ecto 2.0.6 (Hex package) (mix)
  locked at 2.0.6 (ecto) 9dcbf819
* postgrex 0.12.1 (Hex package) (mix)
  locked at 0.12.1 (postgrex) 2f8b46cb
* Operating system: Ubuntu Server 16.04 with latest updates

Had to upgrade to Phoenix 1.2.1 to get a new controller working, an

[2016-12-11 10:31] josevalim commented on #1848
Do you get any error at all besides that initial message? When you say your server fails to respond, what does it mean? Do you get a status code or nothing at all?

[2016-12-11 13:11] Alamoz commented on #1848
"Fail to respond" means no json was returned. The Phoenix app didn't crash. Using Nginx reverse proxy which is unaffected. The erlang log file in Phoenix app directory myapp/log just gives the warning I posted above:

"warning: the VM is running with native name encoding of latin1 which may cause Elixir to malfunction as it expects utf8. Please ensure your locale is set to UTF-8 (which can be veri

[2016-12-11 13:14] josevalim commented on #1848
Ok, thank you. At the moment it is unclear what could be happening so more information is appreciated. Btw, next time it happens, please let us know which status code is being returned. If it happens to be 400, it is probably an issue with cookies (and erasing them should solve the problem).

[2016-12-11 13:16] Alamoz commented on #1848
I will also upload the offending app again and see if an error code is returned, but I didn't see any error code.

[2016-12-12 16:32] jeregrine opened #1849 "Allowing for multiple selects in a query"
Problem

When building queries that compose you can append `where` clauses and `limits`, but you can only have one `select` clause defined per query. This causes duplication when building queries that need to append additional values that are not defined in the original schema.

This is problem we've experienced when building API's that require complex query results.  Below is a simplified example

[2016-12-13 08:45] maxsalven opened #1850 "on_conflict: :nothing with cast_assoc"
### Environment

* Elixir version (elixir -v): 1.3.1
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): 9.6.1
* Ecto version (mix dips): 2.1.0-rc.4
* Database adapter and version (mix dips): postgrex 1.0.0-rc.1
* Operating system: OS X 10.11.6

### Possible Feature
Any plans to bring `on_conflict: :nothing` to `cast_assoc`?

A very contrived example:
if a `user` `belongs_to` a `category`,

[2016-12-13 08:47] josevalim commented on #1850
We will add this to Ecto 2.2. I want to support `:on_conflict` not only on cast_assoc but also on the regular `cast` and `change` functions.

[2016-12-14 00:08] Alamoz commented on #1848
OK, just tried again with a new Phoenix 1.2.1 app and still the same problem. The http code returned is "502 Bad Gateway." The warning message in erlang.log.1 when the app starts is still the same as I posted above.

There was a recent update to the Ubuntu 'locales' package, perhaps that is somehow involved. When I run my app with the old Phoenix template created around a year ago, this problem do

[2016-12-14 04:52] nobrick opened #1853 "Support referencing excluded table in Repo.insert_all/3 on_conflict update"
### Environment
* Database and version: PostgreSQL 9.5
* Ecto version: 2.1.0-rc.5
* Database adapter and version: postgrex 0.12.1

### Description

In PostgreSQL `INSERT ON CONFLICT DO UPDATE` clause, we can use the special `EXCLUDED` table to reference values originally proposed for insertion according to the [docs](https://www.postgresql.org/docs/9.5/static/sql-insert.html#SQL-ON-CONFLICT):

[co

[2016-12-14 07:58] michalmuskala commented on #1853
This is in some ways related to https://github.com/elixir-ecto/ecto/pull/1846

[2016-12-14 08:25] josevalim commented on #1853
@nobrick you can today by using query and fragments:

    query = from p in Post, update: [set: [title: fragment("EXCLUDED.title")]
    Repo.insert_all Post, entries, on_conflict: query

A bit verbose but should do the job for now. :) Plus #1846 will handle the most common cases.

Thank you!

[2016-12-14 08:25] #1853 closed

[2016-12-14 08:40] josevalim commented on #1848
And setting a proper locale does not fix the issue in anyway? If the error is in the generated app, then I would consider checking the encoding of Phoenix generated files. Although I believe by default everything is ASCII (unless you added something in another language).

Also, we should probably move this to Phoenix instead of Ecto, although I don't think it would make a difference without a way

[2016-12-14 08:45] michalmuskala commented on #1848
I wouldn't focus on the locale thing, it's just a warning.

The more troubling thing is the lack of the usual "listening on port xxx" message that is printed when endpoint starts. Are you sure you have `server: true` set in the endpoint configuration?

[2016-12-14 20:48] mariusbutuc opened #1855 "Repo.update! doesn't set field according to changeset"
### Precheck

  - [x] Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
  - [x] For proposing a new feature, please start a discussion on [elixir-ecto](https://groups.google.com/forum/#!forum/elixir-ecto).
  - [x] For bugs, do a quick search and make sure the bug has not yet been reported.
  - [x] Finally, be nice and have fun!

### Environ

[2016-12-14 20:53] wojtekmach commented on #1855
@mariusbutuc I noticed that you don't have `user_id` on the Plan struct when doing the 1st inspect - there's a `client_id` there though. Perhaps you're missing `user_id` on your schema definition?

[2016-12-14 21:04] mariusbutuc commented on #1855
@wojtekmach you're totally right!

The purpose of this migration is to extract a Client concept out of User, as later there can be different types of Users, with different roles.

So this does change the Plan schema from
[code]

to

[code]

Is there an easy way to do such a rollback, that includes making the original connections in the data? Or, for rollback, we can't change the schema? Is making

[2016-12-14 21:10] michalmuskala commented on #1855
First thoughts - don't use schemas in migrations. You're going to have a really bad time when you change your schemas - suddenly every migration is broken! Use the schemaless features of ecto.

Another issue I see is that we should verify that a field passed on `change` is actually in the schema.

I will expand later.

[2016-12-14 21:15] josevalim commented on #1855
Let's open up an issue for it.

[2016-12-14 21:17] michalmuskala opened #1856 "Validate fields passed to Ecto.Changeset.change/2"
Branching from https://github.com/elixir-ecto/ecto/issues/1855#issuecomment-267157584

We should check against the `types` field and raise on any fields that are not in types.

[2016-12-14 21:21] mariusbutuc commented on #1855
Sounds good; closing in favour of #1856 and looking forward to continuing the conversation there.
____
As for

upon a quick search I found @josevalim's post on [Ecto’s `insert_all` and schemaless queries](http://blog.plataformatec.com.br/2016/05/ectos-insert_all-and-schemaless-queries/).

Keeping beginners in mind, is this a good place to learn more about it? Are there other good resources to get

[2016-12-14 21:21] #1855 closed

[2016-12-14 21:26] josevalim commented on #1855
@mariusbutuc the Ecto book that article comes can be a good follow up resource from the docs: http://pages.plataformatec.com.br/ebook-whats-new-in-ecto-2-0

@michalmuskala should we include the book in the README / Ecto docs?

[2016-12-14 23:40] michalmuskala commented on #1855
I don't see anything wrong with including the book as a resource in the docs.

[2016-12-15 09:18] josevalim opened #1857 "Support action: :ignore for embeds/assocs changesets"

[2016-12-15 09:18] josevalim commented on #1848
I am closing because we need more info to reproduce and it does not sound like an Ecto issue. However, feel free to continue posting information and we will be glad to help.

[2016-12-15 09:18] #1848 closed

[2016-12-15 21:14] Alamoz commented on #1848
Setting the proper locale does not fix the issue.

[2016-12-16 09:19] kexoth commented on #1150
@simonh1000 I encountered when migrating my app on Postgres.
My reason for this was that I haven't included `postgrex` both as a dependency & as an application in `mix.exs`.

[2016-12-16 12:57] TBK145 opened #1858 "json types not compiling"
* Elixir version (elixir -v): 1.4.0-rc.1
* Database and version: PostgreSQL 9.4
* Ecto version (mix deps): 2.1.0-rc.5
* Database adapter and version (mix deps): 0.13.0-rc.0
* Operating system: Ubuntu 16.04

Poison version 2.2.0

### Current behavior

With the change to the new postgrex/ecto combination we had to change the way our types are defined (I found this not very well documented tbh, eg: w

[2016-12-16 13:22] wojtekmach commented on #1858
I think the type on the **schema** should be `:map` (or `{:map, :string} etc` if you want fine-grained type checking), not `:json`.

[2016-12-16 13:34] TBK145 commented on #1858
But in [this](https://github.com/elixir-ecto/ecto/blob/7de8c4ac15fa9e8678f08a2e2d57e17b6cac63ad/lib/ecto/migration.ex#L591-L594) example it says `:json`.

[2016-12-16 13:37] wojtekmach commented on #1858
that's a migration, not your schema definition. You want to store your data as `:json`/`:jsonb` in the DB, and represent it as e.g `:map` in Ecto

[2016-12-16 14:00] josevalim commented on #1858
@TBK145 the migration example could use map as well, I will improve it.

Regarding the new Postgrex types, I have recently added how to upgrade to the CHANGELOG and to the docs.

[2016-12-16 14:00] #1858 closed

[2016-12-16 14:10] TBK145 commented on #1858
So I changed it to `:map`, but right now it still gives an error:
[code]

[2016-12-16 14:28] josevalim commented on #1858
Are you using any of the new custom types in the query above?

[2016-12-16 14:30] josevalim commented on #1858
Also, can you please paste your migration?

[2016-12-16 14:31] TBK145 commented on #1858
Only a map which has to be converted to JSON by Poison.
[code]

[2016-12-16 14:32] josevalim commented on #1858
I am not sure if this is the cause of your issue, I would have to investigate, but prefer to use `add :data, :map` in your migration (or `add :data, :jsonb`) as jsonb would be more efficient.

[2016-12-16 14:51] TBK145 commented on #1858
Turns out the name field in the database still had type prefixrange (a custom type like you suggested). When I migrated and the field was changed to a string it worked fine. So now I will have to debug that extension for the protocol error. Thanks anyway for helping!

[2016-12-16 16:13] OvermindDL1 commented on #722
@rodolfospalenza Might be better to ask on the mailing list or forums, however I'm thinking that your `:user_id` column already has a foreign reference on it and you are trying to change the `:on_delete` functionality?  If so this might sound worth opening a new PR for.  Should show the prior migration for the same table though too.

[2016-12-17 17:18] AndrewDryga opened #1861 "Repo.insert may return schema without {:ok, _} tuple"
I will describe full path to make it clear why this can happen (at least it happens with Mnesia adapter, but somehow I can't reproduce this issue inside adapters tests):

1. Whenever you use `Repo.insert/2` it will call [following code](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo.ex#L189) that delegates work to [`Repo.Schema.insert/4`](https://github.com/elixir-ecto/ecto/blob/mas

[2016-12-17 17:30] josevalim commented on #1861
Could it be an issue with your transaction implementation? The transaction implementation should return the result of the block wrapper in `{:ok, value_from_block}`.

[2016-12-17 17:30] michalmuskala commented on #1861
That looks completely correct. The contract of the `Ecto.Adapter.transaction/3` callback is to wrap the return value (in case of a successful transaction) in an `{:ok, _}` tuple, so the [final block](https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/schema.ex#L675-L680) should always return correct value.

I suspect that the adapter you're using does not adhere to the interface and doe

[2016-12-17 17:33] AndrewDryga commented on #1861
Yes, it could be issues in my transaction. Ill check and be back shortly.

Maybe it's a good idea to rename `schema` in `wrap_in_transaction/6` to `query_results` or something less ambiguous? Just pick a name and i'll PR it.

[2016-12-17 17:36] josevalim commented on #1861
In that case it is a `struct` and it will always be. So I believe it is correctly named?

[2016-12-17 17:53] #1861 closed

[2016-12-17 17:53] AndrewDryga commented on #1861
You are right, miss read it as `schema`.

[2016-12-17 18:27] rodolfospalenza commented on #722
Hello @OvermindDL1,

Thank for your answer. I will try IRC elixir channel.
The migration to create videos table is this.

[code]

[2016-12-17 18:51] rodolfospalenza commented on #722
To fix this problem I used execute to remove fkey.

[code]

And works! (:

[2016-12-17 19:43] josevalim commented on #1850
@maxsalven if you would like to move ahead with this, we are ready. :) The idea is that we will introduce an `opts` field in the changeset and be able to store options such as `:on_conflict` in there. We can start with supporting options on `cast` and `change` and then support it on `cast_assoc` and `cast_embed` as we see fit.

[2016-12-19 12:59] strokovnjaka opened #1866 "Float in embedded schema incorrectly written to db"
When an embedded schema contains a field of type float it is in some cases incorrectly written to db. Embedded schema is an `embeds_one :options, Test.Options, on_replace: :delete`, of type `jsonb` in postgres db, and it contains
[code]
1. In case changeset contains value of e.g. 1,  `changes: %{float_two: 1.0}`, then `Repo.update` results in a correct state, e.g.
[code]
Reading the embedded schem

[2016-12-19 13:23] michalmuskala commented on #1866
What version of Poison (or other json serializer, if you changed the default) are you using?

[2016-12-19 14:06] strokovnjaka commented on #1866
@michalmuskala poison is version 2.2.0, updated above

[2016-12-19 15:30] ericmj commented on #1866
I don't think this is a Poison bug. Poison encodes integers as `1` and floats as `1.0`, which is valid according to the json spec.

The question is why ecto doesn't cast the value `3000` to `3000.0`. It would be interesting to see how you build the changeset, there is a chance no casting is happening.

[2016-12-19 15:57] strokovnjaka commented on #1866
Changeset is built as below. It seems that if inspecting changeset shows the changed value in E notation (e.g. 3.0e3) the value is written as integer.
If I put "1" or "10" or "3000.1" in params below, the thing works correctly, while "100" shows 1.0e2 in changeset and an integer appears in db.

[code]

[2016-12-19 21:16] jakkra opened #1867 "Repo.insert_all("table_name", changeset) does not work when running release. It hangs."
* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.6
* Ecto version (mix deps):  2.1.0
* Database adapter and version (mix deps):
* Operating system: Windows 10

It works well when running mix phoenix.server both in dev and prod.
However when I make a release using {:exrm, "~> 1.0"} it doesn't work.

`
      Repo.insert_all("table_name_whic

[2016-12-19 21:31] josevalim commented on #1867
Can you let us know what is the `chunk`? Can you perform other queries? Also, can you reproduce it locally? Without a way to reproduce this it may be quite hard to fix it.

[2016-12-19 22:18] jakkra commented on #1867
@josevalim I can perform other queries. chunk is an array with maximum allowed number of changesets (`Float.floor(65_535 / 4) |> round`). The changesets are nothing special, just 4 rows with integer data. I can reproduce it locally when I make a release build and start this from the terminal.

I'll see if I can make an example project where I can reproduce it for you.

Do you know if there are any

[2016-12-19 22:36] josevalim commented on #1867
@jakkra I have no idea. And it is so weird this manifests only with releases but not in `MIX_ENV=prod mix phoenix.server`. Paging @fishcakez in case he has any idea about what is happening.

[2016-12-19 22:53] josevalim commented on #1867
@jakkra btw, you are using a release candidate for Ecto, you probably want to migrate to Ecto 2.0 or to the latest Ecto 2.1. Maybe this bug has been fixed already. :)

[2016-12-20 05:47] delitescere opened #1868 "utc_datetime having no affect on PostgreSQL DDL"
### Precheck

* Related to issue #535 which introduced the concept of explicitly storing timestamps with a time zone (in particular, for explicitly storing the UTC TZ).

### Environment

* Elixir version (elixir -v): Elixir 1.3.4, Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): P

[2016-12-20 05:57] delitescere commented on #1868
Looks like it's a change needed to `lib/ecto/adapters/postgres/connection.ex`:

[code]

rather than

[code]

[2016-12-20 06:58] michalmuskala commented on #1868
The `timestamp with timezone` type does not do what you think it does, in particular it doesn't store the timezone in the database.

Citing from https://www.postgresql.org/docs/9.6/static/datatype-datetime.html

Especially the last part of converting the stored value to the server's local timezone is rarely the desired behaviour. That's why Ecto does not use this type - you can always select it ex

[2016-12-20 07:30] delitescere commented on #1868
The storage as "always in UTC" is precisely what we want, as it is explicitly part of the type.

See #535 for the rationale for distinguishing it.

[2016-12-20 07:44] strokovnjaka commented on #1866
The problem seems to be related to both poison and postgres. The query produced is
[code]
Postgres then writes `3000` to db, same as if in psql
[code]
Putting in `'3000.0'` produces
[code]

[2016-12-20 09:01] josevalim commented on #1868
@delitescere the current behaviour is correct. The `:utc_datetime` means Ecto will guarantee dates put in are in UTC and consider the dates coming out are in UTC as well. So we are aligning with the database expectation except we guarantee it at the Ecto level. We may introduce a database backed one in the future.

[2016-12-20 09:01] #1868 closed

[2016-12-20 12:03] jakkra commented on #1867
@josevalim Tested with latest `ecto 3.2.1` and latest `phoenix_ecto 3.2.1` still same problem.

[2016-12-20 12:59] josevalim commented on #1867
@jakkra thank you. So I think we really need a way to reproduce this so we can further investigate and pinpoint the bug.

[2016-12-20 13:04] jakkra commented on #1867
@josevalim I managed to reproduce it easily. I created a repo for you here https://github.com/jakkra/ecto_insert_all_issue_reproduce.

It works quick in both dev and prod, but when you run the release it's insanely slow.

[2016-12-20 14:11] strokovnjaka commented on #1866
As per [postgres docs](https://www.postgresql.org/docs/current/static/datatype-json.html) it seems to me I've been barking up the wrong tree.

The problem is not writing the numeric type but reading it. I think ecto should always take into account the underlying type of embedded field: translating it to postgres jsonb types and back is not unambiguous.

So loading a `jsonb` field of type `numeric`

[2016-12-20 15:44] strokovnjaka commented on #1866
I found the problem was with loading the thing from a map. It works ok when loading from db.

[2016-12-20 15:44] #1866 closed

[2016-12-20 17:20] fishcakez commented on #1867
Thank you for the report and especially the example project @jakkra, I will look at this tomorrow.

[2016-12-20 17:21] jakkra commented on #1867
@fishcakez Awesome thank you!

[2016-12-21 14:13] josevalim commented on #1867
@jakkra I have tried it locally and both versions take 2s. I am afraid this may be something related to Windows.

Can you please try the following in the release console: `Protocol.consolidated?(String.Chars)`?

[2016-12-21 15:36] jakkra commented on #1867
@josevalim Running `Protocol.consolidated?(String.Chars)` gives me `false`.

[2016-12-21 16:00] josevalim commented on #1867
That's the culprit. When releases are built, protocols are consolidated and they replace the default protocol definition. For some reason that's not happening on Windows with Exrm. But it seems to be happening successfully with Window and just Mix.

I would try to either: 1. open up an issue on exrm and see if they have a solution or 2. try the distillery project [which obsoletes exrm](https://git

[2016-12-21 16:02] jakkra commented on #1867
@josevalim Okey great, thanks alot! Now I know the problem! I will try Distillery first and see if that helps :)

[2016-12-21 16:03] #1867 closed

[2016-12-22 08:01] KernelMadness opened #1870 "Ecto 2.1 broken migrations with :datetime"
After upgrading to Ecto 2.1 old migrations with :datetime are broken.
As i can see in https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/type.ex#L80 :datetime is not deprecated, but wiped out from types

### Environment

- Elixir 1.3.4
- (PostgreSQL) 9.5.5
- ecto 2.1.0
- postgrex 0.13.0
- Ubuntu 16.04

### Current behavior

[code]

### Expected behavior

Migrations should run with deprecatio

[2016-12-22 09:04] #1870 closed

[2016-12-22 15:45] narrowtux commented on #1763
I can't see the examples you posted but if I understand this correctly, you want to be able to dynamically decide the type of an association?

I am half-way of hacking this into my project, using `cast_embed`'s `:with` option which basically lets me pass a custom changeset function. This alone is wonderful for validating an opts field which depends on a different type field with multiple `embedded

[2016-12-22 15:48] narrowtux commented on #1763
As a workaround, I will use a schema that has all the possible fields from the other schemata so it can load the options correctly, it's not ideal though.

[2016-12-22 18:23] vintikzzz opened #1871 "Composite custom types"
Hi!

I am currently developing adapter for Apache Cassandra and got stuck with schema definition and querying with Cassandra special types:

1. Sets
2. Maps
3. Tuples

Their must be an option to define own custom composite types.

There are two variants that I came up with:
1. To define custom composite types:
[code]
2. To process this types via dumpers some how. This variant looks nicer:
[code]

[2016-12-22 18:42] lacrosse opened #1872 "Provide fragment's type information with Ecto.Query.API.type"
### Precheck

This was suspected to work [at least once](https://groups.google.com/d/msg/phoenix-talk/WcqJRDYBf5k/0pKQ90YjFwAJ) before.

### Environment

* Elixir version: 1.3.4
* Database and version: PostgreSQL 9.6.1
* Ecto version: 2.1.1
* Database adapter and version: postgrex 0.12.1

### Current behavior

This example shows how `type` behaves with `fragment` as its `interpolated_value`:

[cod

[2016-12-22 18:58] josevalim commented on #1872
It did not work back then but we may try to make it work now.

[2016-12-22 20:24] ellisae commented on #1748
recently had the same issue:
`fragment("?@>?", c.experiences, ^position)`
returns nothing

but this should work:
`fragment("?->>? = ?", c.experiences, "position", ^position)`

[2016-12-24 12:04] behrendtio opened #1873 "Multiple nested cast_assoc don't work as expected"
### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PG 9.6.1
* Ecto version (mix deps): 2.0.6
* Database adapter and version (mix deps): postgrex 0.12.1
* Operating system: MacOS 10.12.2

### Current behavior

Given the following simplified schemas:

[code]

[code]

[code]

the following code:

[code]

Will correctly insert the entries f

[2016-12-24 13:14] josevalim commented on #1873
You need to keep them unidirectional. If you have duplicate entries, in this case in the "threes" table which is happening 1. via join table and 2. via the explicit amount, then Elixir will consider those separate entries and it will introduce two distinct values.

A simpler way to say it: Elixir has no idea those "threes" are the same value and will attempt to introduce them twice. One solution i

[2016-12-24 13:14] #1873 closed

[2016-12-24 13:29] behrendtio commented on #1873
Ah I see. Unexpected from a users point of view, coming from `accepts_nested_attributes_for`, but understandable.

For people coming here from Google, the whole functionality using changesets would be:

[code]

when the Three model has the following `changeset` function:

[code]

[2016-12-24 17:39] hisea commented on #1220
@vintikzzz Glad to see more ppl are using Elixir/Ecto and Cassandra.

Have you saw https://github.com/cafebazaar/ecto-cassandra? Wondering what are your thoughts on what difference there are between the packages if any.

I think we have a very small community for Elixir/Cassandra users, may make faster progresses if we all joint forces.

[2016-12-24 18:38] vintikzzz commented on #1220
@hisea both projects were made just in the same time and have quite close functionality. When I've started `cassandra_ecto` there were no alternatives at all. Main difference between projects that `ecto-cassandra` stays on top of elixir library [elixir-cassandra](https://github.com/cafebazaar/elixir-cassandra) and `cassandra_ecto` stays on top of erlang library [cqerl](https://github.com/matehat/c

[2016-12-24 21:28] hisea commented on #1220
Thanks @vintikzzz I will try it out.

[2016-12-25 12:30] narrowtux commented on #1871
Nice idea, I'll try to implement custom types for map keys right now. However, I noticed that your proposed syntax for defining the type of the key wouldn't work with `{:map, {:string, :string}`, because you can already nest types in the 2nd item of the type tuple. So I propose writing it like `{:map, :string, :string}` so it can be pattern matched properly.

[2016-12-25 13:19] vintikzzz commented on #1871
@narrowtux can you provide example with pattern matching collision that you have noticed?
There was an issue [1784](https://github.com/elixir-ecto/ecto/pull/1784) that adds similar functionality for types in migration and there was no problem with pattern matching. So I thought that it would be great if complex type definition for migration and schema will stay the same.

[2016-12-25 13:34] narrowtux commented on #1871
This is only a problem with the `:map` type. It already supports nested types for values.

In the unit tests `test/type_test.exs`, I found

[code]

on line 67. Using a `{:map, {key_type, value_type}}` syntax would mean that you'd have to change this already existing syntax.

I already implemented `{:map, key_type, value_type}` which was easily done with pattern matching.

[2016-12-25 13:44] vintikzzz commented on #1871
Oh, now I see. I have updated issue description according to it.

[2016-12-25 13:47] narrowtux commented on #1871
Also I'm unsure what to use for the underlying tuple type (which type goes into `load/2` and which type is returned by `dump/2`).

Other databases don't support the tuple type AFAIK, so it would be simpler to use a list and have the cassandra adapter handle the extra step. Would that work?

Same thing for the set.

[2016-12-25 14:26] vintikzzz commented on #1871
CQL (cassandra's QL) has unique syntax to work with each type. So for example if I will use ecto `array` type for underlying cassandra `tuple` type I need to make additional roundtrip to db to guess underlying type. That will hit performance badly.

Also inserting/updating/selecting elixir tuple values without conversion to array back and forth looks more natural.

[2016-12-25 14:34] narrowtux commented on #1871
They all need to be converted to array anyway because you can't use enum or tail recursion on a tuple.

[2016-12-25 15:42] vintikzzz commented on #1871
Sounds really complex. Maybe we are talking about different things. Right now I have implemented ecto custom type to pass tuples as is. It looks like:
[code]
As you can notice it simply pass value "as is" without any conversion. I don't like this solution because I can't validate types of tuple elements. I just have no additional data for that.
Let's return to my very first variant
[code]
It will

[2016-12-26 12:14] narrowtux commented on #1871
I have strict typed casts working for tuples actually, they allow nesting as well, just like the map and array type.

The only thing I'm wondering about is how the tuple should be sent to the adapter.

Maybe one of the pros could chime in @josevalim @michalmuskala

[2016-12-26 12:19] narrowtux commented on #1871
If the tuple type should only work with Cassandra, yes, we could simply return a tuple all the time, but I'd like it to work with Postgres and MySQL too

[2016-12-26 12:43] vintikzzz commented on #1871
@narrowtux if you really planning to suport tuple for PostgreSQL and MySQL, it is possible to convert tuple to underlying array of strings, but it is important to define types for each tuple element to make correct conversion. So syntax might be the same as I have proposed for cassandra:
[code]

[2016-12-26 13:27] michalmuskala commented on #1871
One of the principles of ecto is not to emulate things that are not supported by the database themselves. Given that neither PostgreSQL nor MySQL support tuple types natively, I don't see a possibility of having support for them in ecto for those databases.

[2016-12-26 14:29] ericmj commented on #1871
PostgreSQL has composite types [1] that are essentially tuples and that's how postgrex decodes them.

[1] https://www.postgresql.org/docs/9.6/static/rowtypes.html

[2016-12-26 14:40] vintikzzz commented on #1871
I think implementation of tuple type for PostgreSQL and MySQL is quite out of scope of the current issue. I only need the way to work with tuples for Apache Cassandra that supports it natively.

[2016-12-26 14:43] narrowtux commented on #1871
https://github.com/elixir-ecto/ecto/issues/1871#issuecomment-269208170

I did exactly that.

[2016-12-26 14:45] narrowtux commented on #1871
Ok so I'll just have it return a tuple for now.

[2016-12-27 04:27] almassapargali opened #1874 "update_change behavior on required field"
Hello

### Environment

* Elixir version (elixir -v): 1.3.4
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): PostgreSQL 9.4.5
* Ecto version (mix deps): 2.1.0-rc.1
* Database adapter and version (mix deps): postgrex 0.12.1
* Operating system: macOS

Currently, docs for `update_change` stats:

[code]

1. We are not passing required through `cast` functions anymore.
2. Even with `validate

[2016-12-27 06:17] brandonparsons opened #1875 "Ecto Crashing (Connection Error) - Create & Migrate Tenant Schema"
### Environment

* Elixir version (elixir -v): `1.3.2`
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): `PostgreSQL 9.4.1`
* Ecto version (mix deps): `2.1.1`
* Database adapter and version (mix deps): `postgrex 0.13.0`
* Operating system: `Mac`

### Issue

I am trying to use Postgres schemas and Ecto's query prefix functionality to run a multi-tenant database setup.

When an "Operator"

[2016-12-27 06:35] brandonparsons commented on #1875
Note that I have already tried adjusting the timeouts (that I know of) in the Ecto config:

- `pool_timeout: 60_000`
- `timeout: 60_000`

[2016-12-27 06:58] brandonparsons commented on #1875
P.P.S. This appears to work if I do **not** do this inside an `Ecto.Multi`.

i.e. Maybe it has something to do with me trying to run the mix task inside a transaction?

[2016-12-27 09:52] josevalim commented on #1874
I think we should change `validate_required` and `validate_change` to remove the field from `changes` if it does not pass validation. It may solve many of the problems with checking for `valid?: true` in changeset. @michalmuskala, @wojtekmach, what do you think?

[2016-12-27 09:58] josevalim commented on #1875
That may be it. Try starting the transaction manually or a hand rolled pg session and see what happens. ALso, it is very likely you don't want to call `Mix.Task.run "ecto.migrate"`. First of all, it will run only once as Mix protects against multiple invocations. You probably want to build something on top of Ecto.Migrate instead. :)

[2016-12-27 10:25] fishcakez commented on #1875
It looks like there is a bug in Postgrex or DBConnection because commit should not be executed if the connection has disconnected in such a repeatable way. It would be interesting to see if we could reproduce this in a simpler example.

Is there a log message saying `Postgrex.Protocol` disconnected? If so could you show it? The log output from the failure should not occur so you might have made an

[2016-12-27 12:08] wojtekmach commented on #1874
+1 for removing field from `changes` when it doesn't pass validation. The incorrect (blank) field value will be still in `params` so it won't break e.g. forms. The only other change I can think of is to update wording for https://github.com/elixir-ecto/ecto/blob/v2.1.1/lib/ecto/changeset.ex#L199: to be something along the lines of:

[code]

[2016-12-27 12:16] michalmuskala commented on #1874
I'm :-1: for removing from `changes` on validation failures. This would make it impossible to catch multiple validation errors on a single field - it's not inconceivable that could happen.

`validate_required` is a different case, I think it might make sense to remove `nil` values from changes there, provided the value in `data` is `nil` too.

[2016-12-27 14:33] brandonparsons commented on #1875
@fishcakez The log that I pasted in above was everything I got back in my console. Is there a different way I can try to grab this?

[2016-12-27 14:39] brandonparsons commented on #1875
@josevalim I got the following working using `Ecto.Migrator`:

[code]

I'm happy to try other things if you want to do something else with this error.

Two related questions for you or @fishcakez if you don't mind.....

1. Is there a way to get `Ecto.Migrator` to run against the default path so I don't have to use `Path.join(Mix.Ecto.build_repo_priv(Repo), "migrations")`? I thought I read somewher

[2016-12-27 14:54] josevalim commented on #1875
@fishcakez oh, because they were using  the ecto.migrate task, it restarts the application, which was causing all connections to shutdown most likely?

[2016-12-27 14:55] josevalim commented on #1875
1. `Mix.Ecto` is private API so don't call anything in it. You can build the path in the same way the function you were calling does.

2. You will have to escape it (which you were not doing) and interpolate it directly. Postgres does not allow schemas to be passed as parameters.

[2016-12-27 14:55] #1875 closed

[2016-12-27 14:57] josevalim commented on #1874
Good call. Restricting it to validate_required sounds good then.

[2016-12-27 15:00] fishcakez commented on #1875
@brandonparsons exactly as jose says. You may want to look at docs for `Application.app_dir/2`.

@josevalim I thought we only restarted apps that weren't already started? Similarly we didn't stop the repo if it was already started. However if it works how you say then it would make perfect sense.

Why is the banner split from the stacktrace in the output?

[2016-12-27 18:34] venkatd opened #1876 "Incorrect return value on select when database column has a NULL value"
### Environment
* Elixir version 1.4.0-rc.1
* Database PostgreSQL 9.5.2.0
* Ecto version 2.1
* Database adapter postgrex 0.13.0
* Operating system: OSX El Capitan 10.11.6

### Current behavior
I have a helper method for getting the value of a specific column.
[code]

If I call `get_prop(MyRepo, User, :timezone)`, `repo.all` will return `[nil]`. The incorrect behavior happens when the value is actu

[2016-12-27 19:05] michalmuskala commented on #1876
I tracked down the issue to this code https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/sql.ex#L576-L586

It collapses the `nil` values returned by the database, but it's not entirely clear to me what's the purpose of that.

\cc @josevalim

[2016-12-27 19:53] brandonparsons commented on #1875
Is there a function in `Ecto` that will SQL sanitize strings? I couldn't find one by poking around or googling. :)

[2016-12-27 19:56] josevalim commented on #1876
@michalmuskala if you are using joins, multiple columns being nil collapses to a nil record. We should maybe have different ASTs for the join case.

[2016-12-28 11:15] fishcakez commented on #1875
@brandonparsons there isn't.

[2016-12-28 14:17] brandonparsons commented on #1875
@fishcakez Thanks for confirming. Still finding my way around Ecto.

I did figure out that I could create a regular Postgres dynamic SQL function that takes a name as an argument and creates the schema. That way I can take advantage of Postgres' native string escaping (`%I`/`%l`).

Threw this in a migration then calling the function from my code.

[2016-12-28 14:18] xcwen opened #1878 "have any function like real_msyql_real_escape_string in php?!"
have any function like  real_msyql_real_escape_string  in php?!
[code]

[2016-12-28 14:59] michalmuskala commented on #1878
Please use the elixir forum or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you.

---

Since ecto strongly discourages interpolating into the SQL itself, and instead promotes usage of prepared statements and arguments, escaping is not needed most of the time.

[2016-12-28 14:59] #1878 closed

[2016-12-28 15:03] xcwen commented on #1878
thanks :>

[2016-12-28 23:50] bradleybeddoes opened #1879 "Default primary keys to BIGINT"
### Current behavior

Ecto defaults new tables to have a primary key of `integer`.

[code]

### Proposed behaviour

Change Ecto to default to `BigInt` for all `id` fields.

A change which is similar in nature to this request has recently been accepted into Rails master per https://github.com/rails/rails/pull/26266

Alternatively allow opts provided to `table/2` (https://hexdocs.pm/ecto/Ecto.Migrat

[2016-12-29 00:14] josevalim commented on #1879
We should change them all to `:bigserial` (today we use `:serial`) and make sure we also translate `:bigserial` in the MySQL adapter to `BIGINT UNSIGNED`.

[2016-12-29 00:22] michalmuskala commented on #1879
It seems we're already using `BIGINT UNSIGNED` for primary keys in MySQL https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/adapters/mysql/connection.ex#L689

I'm :+1: for this change.

[2016-12-29 01:42] bradleybeddoes commented on #1879
I'm happy to have a poke around at the changes necessary and propose a PR if that would be of help. It'll give me a good excuse to look inside Ecto more than I have to date.

[2016-12-29 02:24] josevalim commented on #1879
That would definitely be welcome!

[2016-12-30 17:36] hauleth opened #1881 "Allow `put_assoc` with query instead of list of models"
It would be great if `Ecto.Changeset.put_assoc` would allow using query as an third parameter. Proposed syntax:

[code]

[2016-12-30 18:05] josevalim commented on #1881
Can you please provide more information? For example, when would the query be executed? What are the benefits of such approach? Etc.

[2016-12-30 19:43] danielberkompas opened #1882 "Dialyzer warning on Repo.transaction with Ecto.Multi"
### Environment

* Elixir version (elixir -v): 1.4.0-rc.1 (16a14c1)
* Database and version (PostgreSQL 9.4, MongoDB 3.2, etc.): (PostgreSQL) 9.6.1
* Ecto version (mix deps): 2.1.1 (fa8bdb14)
* Database adapter and version (mix deps): postgrex 0.13.0 (e101ab47)
* Operating system: macOS Sierra (10.12.2)

### Current behavior

This code produces a dialyzer warning:

[code]

Warning:

[code]

### Exp

[2016-12-30 20:36] josevalim commented on #1882
@michalmuskala we should probably not make it opaque?

[2016-12-30 20:42] michalmuskala commented on #1882
I like having it opaque since it actually is opaque for public uses - we give no guarantees about the internal structure.

I'll play a bit with it to see if we can get away with it somehow.

[2016-12-30 21:27] hauleth commented on #1881
My use case is that I have user-like model that has many `has_one` relations where some of them has their own relations and I want to update whole tree at once. Example:

[code]

Where `C`s are managed independently from `B` (i.e. tags). And I want to update `A` and `B` by connecting `C`s by `id`. Example JSON request:

[code]

So I would like to not fetch all `C`s if possible, as:

1. I would not

[2016-12-31 10:14] josevalim commented on #1881
If you want to directly update "cs", then you can issue a `delete_all`+`insert_all` to directly remove and introduce entries to the join table. I believe though `insert_all` will fail if any UUID does not exist so you may need to convert it into multiple inserts.

The other option is to use `delete_all`+`INSERT INTO SELECT`. The latter which is not support through an Ecto API at the moment but you